Repository immich-app/immich, pull requests merged in 2023-12, with the labels that each got.

#5495 fix(mobile): use zoomedpagetransition for galleryvieweroute
  mobile/lib/modules/asset_viewer/views/gallery_viewer.dart
  mobile/lib/modules/search/services/person.service.g.dart
  mobile/lib/modules/settings/providers/app_settings.provider.g.dart
  mobile/lib/routing/custom_transition_builders.dart
  mobile/lib/routing/router.dart
  mobile/lib/routing/router.gr.dart
  mobile/lib/shared/providers/api.provider.g.dart
  mobile/lib/utils/immich_app_theme.dart
Labels: 📱mobile

#5521 chore(renovate): ignore openapi pubspec
  renovate.json
Labels: dependencies

#5522 fix(mobile): allow editing asset dates in the future
  mobile/lib/shared/ui/date_time_picker.dart
Labels: 📱mobile

#5510 refactor(mobile): album sort
  mobile/assets/i18n/en-US.json
  mobile/lib/modules/album/providers/album_sort_by_options.provider.dart
  mobile/lib/modules/album/providers/album_sort_by_options.provider.g.dart
  mobile/lib/modules/album/ui/add_to_album_sliverlist.dart
  mobile/lib/modules/album/ui/album_thumbnail_card.dart
  mobile/lib/modules/album/views/library_page.dart
  mobile/lib/modules/album/views/sharing_page.dart
  mobile/lib/modules/settings/services/app_settings.service.dart
  mobile/lib/shared/models/store.dart
  mobile/test/album.stub.dart
  mobile/test/album_sort_by_options_provider_test.dart
  mobile/test/asset.stub.dart
  mobile/test/user.stub.dart
Labels: 📱mobile

#5531 fix(mobile): do not show loading overlay on grid refresh
  mobile/lib/shared/ui/asset_grid/multiselect_grid.dart
Labels: 📱mobile

#5584 fix(mobile): mobile album sort not persisting
  .gitignore
  mobile/lib/modules/album/providers/album_sort_by_options.provider.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
  mobile/test/album_sort_by_options_provider_test.dart
  mobile/test/fixtures/album.stub.dart
  mobile/test/fixtures/asset.stub.dart
  mobile/test/fixtures/user.stub.dart
  mobile/test/mocks/app_settings_provider.mock.dart
  mobile/test/sync_service_test.dart
  mobile/test/test_utils.dart
Labels: 📱mobile

#5587 fix(mobile): memory lane not displayed in mobile app
  mobile/lib/modules/home/views/home_page.dart
Labels: 📱mobile

#5566 fix: use avatarColor as the text background when no avatar available
  mobile/lib/shared/ui/user_circle_avatar.dart
Labels: 📱mobile

#5607 fix(mobile): live / motion photo download
  mobile/lib/modules/asset_viewer/services/image_viewer.service.dart
  mobile/lib/modules/backup/background_service/background.service.dart
  mobile/lib/modules/backup/providers/backup.provider.dart
  mobile/lib/modules/backup/providers/manual_upload.provider.dart
  mobile/lib/modules/backup/services/backup.service.dart
  mobile/lib/shared/ui/user_circle_avatar.dart
Labels: 📱mobile

#5602 fix: handle livePhotos using originFileWithSubType
  mobile/lib/modules/backup/services/backup.service.dart
Labels: 📱mobile

#5666 chore(mobile): move mocktail to dev dep
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: 📱mobile

#5693 feat(web): increase map max zoom
  mobile/lib/modules/map/providers/map_state.provider.dart
  web/src/lib/components/shared-components/map/map.svelte
Labels: 🖥️web

#5697 docs: clean-up old references
  docs/docs/features/command-line-interface.md
  docs/docs/install/docker-compose.mdx
  docs/docs/install/kubernetes.md
  docs/docs/install/script.md
  docs/package-lock.json
  docs/package.json
  server/src/domain/domain.config.ts
Labels: documentation

#5696 feat: lazy loading on album/sharing/search
  web/src/lib/components/album-page/album-card.svelte
  web/src/routes/(user)/albums/+page.svelte
  web/src/routes/(user)/search/+page.svelte
  web/src/routes/(user)/sharing/+page.svelte
Labels: 🖥️web

#5698 fix(web): user management responsive design
  web/src/lib/components/admin-page/settings/ffmpeg/ffmpeg-settings.svelte
  web/src/lib/components/admin-page/settings/job-settings/job-settings.svelte
  web/src/lib/components/admin-page/settings/library-settings/library-settings.svelte
  web/src/lib/components/admin-page/settings/machine-learning-settings/machine-learning-settings.svelte
  web/src/lib/components/admin-page/settings/map-settings/map-settings.svelte
  web/src/lib/components/admin-page/settings/new-version-check-settings/new-version-check-settings.svelte
  web/src/lib/components/admin-page/settings/oauth/oauth-settings.svelte
  web/src/lib/components/admin-page/settings/password-login/password-login-settings.svelte
  web/src/lib/components/admin-page/settings/setting-buttons-row.svelte
  web/src/lib/components/admin-page/settings/storage-template/storage-template-settings.svelte
  web/src/lib/components/admin-page/settings/theme/theme-settings.svelte
  web/src/lib/components/admin-page/settings/thumbnail/thumbnail-settings.svelte
  web/src/lib/components/admin-page/settings/trash-settings/trash-settings.svelte
  web/src/lib/components/asset-viewer/activity-viewer.svelte
  web/src/lib/components/asset-viewer/asset-viewer.svelte
  web/src/lib/components/asset-viewer/detail-panel.svelte
  web/src/lib/components/asset-viewer/intersection-observer.svelte
  web/src/lib/components/forms/edit-album-form.svelte
  web/src/lib/components/forms/edit-user-form.svelte
  web/src/lib/components/forms/login-form.svelte
  web/src/lib/components/photos-page/actions/create-shared-link.svelte
  web/src/lib/components/photos-page/actions/delete-assets.svelte
  web/src/lib/components/shared-components/album-selection-modal.svelte
  web/src/lib/components/shared-components/base-modal.svelte
  web/src/lib/components/shared-components/create-share-link-modal/create-shared-link-modal.svelte
  web/src/lib/components/shared-components/gallery-viewer/asset-selection-viewer.svelte
  web/src/lib/components/shared-components/navigation-bar/account-info-panel.svelte
  web/src/lib/components/shared-components/navigation-bar/avatar-selector.svelte
  web/src/lib/components/shared-components/navigation-bar/navigation-bar.svelte
  web/src/lib/components/shared-components/profile-image-cropper.svelte
  web/src/lib/components/shared-components/show-shortcuts.svelte
  web/src/lib/components/shared-components/side-bar/side-bar-button.svelte
  web/src/lib/components/user-settings-page/device-card.svelte
  web/src/lib/utils/dipatch.ts
  web/src/routes/(user)/albums/+page.svelte
  web/src/routes/admin/user-management/+page.svelte
Labels: 🖥️web

#5689 fix(ml): more graceful shutdown
  machine-learning/app/config.py
  machine-learning/app/conftest.py
  machine-learning/app/main.py
  machine-learning/start.sh
Labels: 🧠machine-learning

#5684 feat(ci): Automatic categories in generated release notes
  .github/release.yml
  .github/workflows/pr-require-label.yml
  renovate.json
Labels: github_actions

#5701 fix: Catchall category for release notes
  .github/release.yml
Labels: github_actions

#5706 fix(web): log out
  web/src/lib/components/shared-components/navigation-bar/navigation-bar.svelte
  web/src/lib/stores/user.store.ts
  web/src/lib/stores/websocket.ts
Labels: 🖥️web

#5700 feat: add types to dispatcher
  web/src/lib/components/admin-page/delete-confirm-dialoge.svelte
  web/src/lib/components/admin-page/restore-dialoge.svelte
  web/src/lib/components/admin-page/settings/logging-settings/logging-settings.svelte
  web/src/lib/components/album-page/thumbnail-selection.svelte
  web/src/lib/components/asset-viewer/activity-status.svelte
  web/src/lib/components/asset-viewer/album-list-item.svelte
  web/src/lib/components/asset-viewer/asset-viewer-nav-bar.svelte
  web/src/lib/components/asset-viewer/asset-viewer.svelte
  web/src/lib/components/asset-viewer/detail-panel.svelte
  web/src/lib/components/faces-page/assign-face-side-panel.svelte
  web/src/lib/components/faces-page/face-thumbnail.svelte
  web/src/lib/components/faces-page/merge-face-selector.svelte
  web/src/lib/components/faces-page/person-side-panel.svelte
  web/src/lib/components/faces-page/show-hide.svelte
  web/src/lib/components/faces-page/unmerge-face-selector.svelte
  web/src/lib/components/forms/api-key-form.svelte
  web/src/lib/components/forms/api-key-secret.svelte
  web/src/lib/components/forms/change-password-form.svelte
  web/src/lib/components/forms/create-user-form.svelte
  web/src/lib/components/forms/library-exclusion-pattern-form.svelte
  web/src/lib/components/forms/library-import-path-form.svelte
  web/src/lib/components/forms/library-import-paths-form.svelte
  web/src/lib/components/forms/library-rename-form.svelte
  web/src/lib/components/forms/library-scan-settings-form.svelte
  web/src/lib/components/memory-page/memory-viewer.svelte
  web/src/lib/components/photos-page/actions/add-to-album.svelte
  web/src/lib/components/photos-page/asset-select-control-bar.svelte
  web/src/lib/components/share-page/individual-shared-viewer.svelte
  web/src/lib/components/shared-components/album-selection-modal.svelte
  web/src/lib/components/shared-components/control-app-bar.svelte
  web/src/lib/components/sharedlinks-page/shared-link-card.svelte
  web/src/lib/components/user-settings-page/library-list.svelte
  web/src/lib/components/user-settings-page/user-api-key-list.svelte
  web/src/routes/(user)/albums/[albumId]/+page.svelte
  web/src/routes/(user)/partners/[userId]/+page.svelte
  web/src/routes/(user)/people/+page.svelte
  web/src/routes/(user)/people/[personId]/+page.svelte
  web/src/routes/(user)/search/+page.svelte
  web/src/routes/(user)/sharing/sharedlinks/+page.svelte
  web/src/routes/admin/user-management/+page.svelte
  web/src/routes/auth/login/+page.svelte
Labels: 🖥️web

#5708 fix(server): disable classification by default
  server/src/domain/job/job.service.spec.ts
  server/src/domain/server-info/server-info.service.spec.ts
  server/src/domain/smart-info/smart-info.service.spec.ts
  server/src/domain/system-config/system-config.core.ts
  server/src/domain/system-config/system-config.service.spec.ts
Labels: 🗄️server, 🧠machine-learning

#5710 feat(server,ml): add new models
  server/src/domain/smart-info/smart-info.constant.ts
Labels: 🗄️server, 🧠machine-learning

#5716 chore: Update docs url config
  docs/docusaurus.config.js
Labels: deployment

#5721 fix(web): map thumbnail stretch
  web/src/lib/components/shared-components/map/map.svelte
Labels: 🖥️web

#5663 docs: update milestone page
  docs/src/pages/milestones.tsx
Labels: documentation

#5594 docs: add a walk-through guide for External Libraries
  docs/docs/guides/external-library.md
  docs/docs/guides/img/account-settings.png
  docs/docs/guides/img/add-path-button.png
  docs/docs/guides/img/add-path-field.png
  docs/docs/guides/img/administration-link.png
  docs/docs/guides/img/create-external-library-button.png
  docs/docs/guides/img/edit-import-paths.png
  docs/docs/guides/img/external-path.png
  docs/docs/guides/img/job-status.png
  docs/docs/guides/img/jobs-tab.png
  docs/docs/guides/img/libraries-dropdown.png
  docs/docs/guides/img/path-save.png
  docs/docs/guides/img/pencil.png
  docs/docs/guides/img/scan-new-library-files.png
  docs/docs/guides/img/user-avatar.png
  docs/docs/guides/img/users-tab.png
Labels: documentation

#5732 fix(docs): Add title for External Library guide
  docs/docs/guides/external-library.md
Labels: documentation

#5734 docs: fix redirects for cloudflare
  docs/static/_redirects
  docs/vercel.json
Labels: documentation

#5736 feat(server,ml): Adding the new models to the whitelist
  machine-learning/app/models/constants.py
  server/src/domain/smart-info/smart-info.constant.ts
Labels: 🗄️server, 🧠machine-learning

#5746 fix(web): fix searching cities
  web/src/routes/(user)/explore/+page.svelte
Labels: 🖥️web

#5738 fix(web): cannot save exclusion pattern
  web/src/lib/components/user-settings-page/library-list.svelte
Labels: 🖥️web

#5730 fix(web): never ungroup map markers. ever.
  web/src/lib/components/shared-components/map/map.svelte
Labels: 🖥️web

#5745 chore(web): update job dashboard
  cli/src/api/open-api/api.ts
  docs/docs/FAQ.md
  mobile/openapi/doc/AllJobStatusResponseDto.md
  mobile/openapi/doc/SystemConfigJobDto.md
  mobile/openapi/lib/model/all_job_status_response_dto.dart
  mobile/openapi/lib/model/job_name.dart
  mobile/openapi/lib/model/system_config_job_dto.dart
  mobile/openapi/test/all_job_status_response_dto_test.dart
  mobile/openapi/test/system_config_job_dto_test.dart
  server/immich-openapi-specs.json
  server/src/domain/job/job.constants.ts
  server/src/domain/job/job.dto.ts
  server/src/domain/job/job.service.spec.ts
  server/src/domain/job/job.service.ts
  server/src/domain/smart-info/smart-info.service.ts
  server/src/domain/system-config/dto/system-config-job.dto.ts
  server/src/domain/system-config/system-config.core.ts
  server/src/domain/system-config/system-config.service.spec.ts
  web/src/api/api.ts
  web/src/api/open-api/api.ts
  web/src/lib/components/admin-page/jobs/jobs-panel.svelte
  web/src/lib/components/admin-page/settings/job-settings/job-settings.svelte
Labels: 🖥️web

#5753 fix(web): use env for web folder path
  docs/docs/install/environment-variables.md
  docs/src/pages/milestones.tsx
  server/src/domain/domain.constant.ts
  server/src/immich/app.service.ts
  web/src/app.html
  web/static/favicon.ico
Labels: 🗄️server

#5756 fix(web): disable version check settings when config file is set
  web/src/lib/components/admin-page/settings/new-version-check-settings/new-version-check-settings.svelte
  web/src/routes/admin/system-settings/+page.svelte
Labels: 🖥️web

#5761 chore(web): improve map pin
  web/src/lib/assets/location-pin.svg
  web/src/lib/components/asset-viewer/detail-panel.svelte
  web/src/lib/components/shared-components/map/map.svelte
Labels: 🖥️web

#5769 fix(server): clip concurrency not being persisted after queue renaming
  server/src/infra/entities/system-config.entity.ts
Labels: 🗄️server

#5762 fix(web): settings switch state when disabled, simplify classes
  web/src/lib/components/admin-page/settings/setting-switch.svelte
Labels: 🖥️web

#5771 fix(docs): remove spurious hyphen in docker compose cmd
  docs/docs/install/docker-compose.mdx
Labels: documentation

#5770 fix(ml): disable core dumps
  machine-learning/Dockerfile
Labels: 🧠machine-learning

#5733 fix(docs): remove inline dev inquiries
  docs/docs/guides/external-library.md
Labels: documentation

#5767 fix(server): stricter dim size check for pgvecto.rs migration
  server/src/infra/migrations/1700713871511-UsePgVectors.ts
Labels: 🗄️server

#5774 fix(server): fix inconsistent explore queries
  server/src/infra/repositories/asset.repository.ts
  server/src/infra/sql/asset.repository.sql
Labels: 🗄️server

#5748 doc: documentation of the Immich Flutter Architectural Pattern
  mobile/README.md
Labels: documentation

#5798 docs: update default config content
  docs/docs/install/config-file.md
Labels: documentation

#5775 chore(server): Check activity permissions in bulk
  server/src/domain/access/access.core.ts
  server/src/domain/activity/activity.spec.ts
  server/src/domain/person/person.service.spec.ts
  server/src/domain/repositories/access.repository.ts
  server/src/infra/repositories/access.repository.ts
  server/test/repositories/access.repository.mock.ts
Labels: 🗄️server

#5797 fix(web): cannot open map cluster
  web/src/lib/components/shared-components/map/map.svelte
Labels: 🖥️web

#5800 fix(server): fix metadata search not working
  server/src/infra/repositories/asset.repository.ts
  server/src/infra/sql/asset.repository.sql
  server/test/e2e/search.e2e-spec.ts
  server/test/fixtures/search.stub.ts
Labels: 🗄️server

#5806 fix(server): add more conditions to smart search
  server/src/infra/repositories/smart-info.repository.ts
  server/src/infra/sql/smart.info.repository.sql
Labels: 🗄️server

#5777 chore(docs): add caddy reverse proxy config example
  docs/docs/administration/reverse-proxy.md
Labels: documentation

#5827 chore(mobile): handle delete file error
  mobile/lib/modules/backup/services/backup.service.dart
Labels: 📱mobile

#5829 fix(server): file sending and cache control
  server/src/domain/asset/asset.service.spec.ts
  server/src/domain/asset/asset.service.ts
  server/src/domain/domain.util.ts
  server/src/domain/person/person.service.spec.ts
  server/src/domain/person/person.service.ts
  server/src/domain/user/user.service.spec.ts
  server/src/domain/user/user.service.ts
  server/src/immich/api-v1/asset/asset.controller.ts
  server/src/immich/api-v1/asset/asset.service.ts
  server/src/immich/app.module.ts
  server/src/immich/app.utils.ts
  server/src/immich/controllers/asset.controller.ts
  server/src/immich/controllers/person.controller.ts
  server/src/immich/controllers/user.controller.ts
  server/src/immich/interceptors/error.interceptor.ts
  server/src/immich/interceptors/file-serve.interceptor.ts
  server/src/immich/interceptors/index.ts
Labels: 🗄️server

#5825 chore(web): display places on a single row
  web/src/routes/(user)/explore/+page.svelte
Labels: 🖥️web

#5815 chore(server): startup check for pgvecto.rs
  server/src/immich/main.ts
  server/src/infra/database.config.ts
  server/src/infra/migrations/1700713871511-UsePgVectors.ts
  server/src/microservices/main.ts
  server/test/test-utils.ts
Labels: 🗄️server

#5831 fix: use safe area for gallery_viewer bottom sheet
  mobile/lib/modules/asset_viewer/views/gallery_viewer.dart
Labels: 📱mobile

#5834 fix(web): access /search throw error
  web/src/routes/(user)/search/+page.svelte
  web/src/routes/(user)/search/+page.ts
Labels: 🖥️web

#5812 feat(docs): Add a linear quick-start guide
  docs/docs/overview/help.md
  docs/docs/overview/img/upload-button.png
  docs/docs/overview/logo.md
  docs/docs/overview/quick-start.mdx
  docs/docs/overview/support-the-project.md
Labels: documentation

#5846 fix(web): shared link background color on dark mode
  web/src/routes/(user)/sharing/sharedlinks/+page.svelte
Labels: 🖥️web

#5841 fix(cli): don't open too many files
  cli/package-lock.json
  cli/package.json
  cli/src/cores/models/asset.ts
Labels: cli

#5862 feat(web): bigger dialog box of location change
  web/src/lib/components/shared-components/change-location.svelte
  web/src/lib/components/shared-components/confirm-dialogue.svelte
Labels: 🖥️web

#5803 fix(server, web): Prevent the user from setting a future date of birth
  server/src/domain/person/person.service.spec.ts
  server/src/domain/person/person.service.ts
  server/src/infra/entities/person.entity.ts
  server/src/infra/migrations/1702938928766-NullifyFutureBirthDatesAndAddCheckConstraint.ts
  web/src/lib/components/asset-viewer/detail-panel.svelte
  web/src/lib/components/faces-page/set-birth-date-modal.svelte
Labels: 🗄️server

#5867 Localizely: Translations update
  mobile/assets/i18n/ca.json
  mobile/assets/i18n/cs-CZ.json
  mobile/assets/i18n/da-DK.json
  mobile/assets/i18n/de-DE.json
  mobile/assets/i18n/en-US.json
  mobile/assets/i18n/es-ES.json
  mobile/assets/i18n/es-MX.json
  mobile/assets/i18n/es-PE.json
  mobile/assets/i18n/fi-FI.json
  mobile/assets/i18n/fr-FR.json
  mobile/assets/i18n/hi-IN.json
  mobile/assets/i18n/hu-HU.json
  mobile/assets/i18n/it-IT.json
  mobile/assets/i18n/ja-JP.json
  mobile/assets/i18n/ko-KR.json
  mobile/assets/i18n/lv-LV.json
  mobile/assets/i18n/mn.json
  mobile/assets/i18n/nb-NO.json
  mobile/assets/i18n/nl-NL.json
  mobile/assets/i18n/pl-PL.json
  mobile/assets/i18n/ru-RU.json
  mobile/assets/i18n/sk-SK.json
  mobile/assets/i18n/sr-Cyrl.json
  mobile/assets/i18n/sr-Latn.json
  mobile/assets/i18n/sv-FI.json
  mobile/assets/i18n/sv-SE.json
  mobile/assets/i18n/th-TH.json
  mobile/assets/i18n/uk-UA.json
  mobile/assets/i18n/vi-VN.json
  mobile/assets/i18n/zh-CN.json
  mobile/assets/i18n/zh-Hans.json
Labels: 📱mobile

#5847 fix(web): open image in new tab with memories on firefox
  web/src/lib/components/memory-page/memory-viewer.svelte
Labels: 🖥️web

#5845 fix(server): remove shared link with removed asset
  server/src/infra/entities/shared-link.entity.ts
  server/src/infra/migrations/1702942303661-FixRemovedAssetsSharedLink.ts
Labels: 🗄️server

#5837 feat(cli): Allow uploading a single file
  cli/src/commands/upload.ts
  cli/src/cores/dto/upload-options-dto.ts
  cli/src/index.ts
  cli/src/services/crawl.service.spec.ts
  cli/src/services/crawl.service.ts
Labels: cli

#5875 fix(web): multiple small issues on the web app
  web/src/lib/components/asset-viewer/asset-viewer-nav-bar.svelte
  web/src/lib/components/asset-viewer/asset-viewer.svelte
Labels: 🖥️web

#5889 chore(web): redirect share page redirect to base path #5519
  web/src/lib/components/share-page/individual-shared-viewer.svelte
  web/src/routes/(user)/share/[key]/+page.svelte
Labels: 🖥️web

#5892 fix(mobile): Fix pt-PT locale. Add missing pt-PT localizely entry
  localizely.yml
  mobile/lib/constants/locales.dart
Labels: 📱mobile

#5838 feat(cli): Add existing assets to album and allow album name
  cli/src/commands/upload.ts
  cli/src/cores/dto/upload-options-dto.ts
  cli/src/index.ts
  cli/test/e2e/upload.e2e-spec.ts
Labels: cli

#5894 fix(mobile): use proper id for gallery_viewer hero attribute
  mobile/lib/modules/asset_viewer/views/gallery_viewer.dart
Labels: 📱mobile

#5906 chore(dev): move envs to image
  docker/docker-compose.dev.yml
  docker/hwaccel.yml
  server/Dockerfile
Labels: deployment

#5909 fix(web): location pin
  web/src/lib/components/shared-components/map/map.svelte
Labels: 🖥️web

#5832 fix(server): run migrations after database checks
  server/src/domain/database/database.service.spec.ts
  server/src/domain/database/database.service.ts
  server/src/domain/database/index.ts
  server/src/domain/domain.constant.spec.ts
  server/src/domain/domain.constant.ts
  server/src/domain/domain.module.ts
  server/src/domain/index.ts
  server/src/domain/repositories/database.repository.ts
  server/src/domain/repositories/index.ts
  server/src/domain/server-info/server-info.dto.ts
  server/src/domain/server-info/server-info.service.ts
  server/src/immich/app.service.ts
  server/src/immich/main.ts
  server/src/infra/database.config.ts
  server/src/infra/infra.module.ts
  server/src/infra/logger.ts
  server/src/infra/migrations/1700713871511-UsePgVectors.ts
  server/src/infra/repositories/database.repository.ts
  server/src/infra/repositories/index.ts
  server/src/infra/repositories/smart-info.repository.ts
  server/src/infra/sql/smart.info.repository.sql
  server/src/microservices/app.service.ts
  server/src/microservices/main.ts
  server/test/repositories/database.repository.mock.ts
  server/test/repositories/index.ts
  server/test/test-utils.ts
Labels: 🗄️server

#5904 renovate: Constrain python version
  machine-learning/pyproject.toml
  renovate.json
Labels: dependencies

#5912 fix(server): access system config before database migration complete
  docker/docker-compose.dev.yml
  server/src/domain/domain.module.ts
Labels: 🗄️server

#5937 renovate: use in-range-only strategy for python
  machine-learning/poetry.lock
  machine-learning/pyproject.toml
  renovate.json
Labels: dependencies

#5939 docs: fix README_ja_JP.md
  README_ja_JP.md
Labels: documentation

#5946 fix(web): cannot open detail panel in public shared link
  web/src/lib/components/asset-viewer/detail-panel.svelte
  web/src/lib/stores/websocket.ts
Labels: 🖥️web

#5951 fix(server): library scanning
  server/src/immich/app.service.ts
Labels: 🗄️server

#5952 chore(web): Use percentage sign for uploads
  web/src/lib/components/shared-components/upload-asset-preview.svelte
Labels: 🖥️web

#5902 Localizely: Translations update
  mobile/assets/i18n/ca.json
  mobile/assets/i18n/cs-CZ.json
  mobile/assets/i18n/da-DK.json
  mobile/assets/i18n/de-DE.json
  mobile/assets/i18n/en-US.json
  mobile/assets/i18n/es-ES.json
  mobile/assets/i18n/es-MX.json
  mobile/assets/i18n/es-PE.json
  mobile/assets/i18n/fi-FI.json
  mobile/assets/i18n/fr-FR.json
  mobile/assets/i18n/hi-IN.json
  mobile/assets/i18n/hu-HU.json
  mobile/assets/i18n/it-IT.json
  mobile/assets/i18n/ja-JP.json
  mobile/assets/i18n/ko-KR.json
  mobile/assets/i18n/lv-LV.json
  mobile/assets/i18n/mn.json
  mobile/assets/i18n/nb-NO.json
  mobile/assets/i18n/nl-NL.json
  mobile/assets/i18n/pl-PL.json
  mobile/assets/i18n/pt-PT.json
  mobile/assets/i18n/ru-RU.json
  mobile/assets/i18n/sk-SK.json
  mobile/assets/i18n/sr-Cyrl.json
  mobile/assets/i18n/sr-Latn.json
  mobile/assets/i18n/sv-FI.json
  mobile/assets/i18n/sv-SE.json
  mobile/assets/i18n/th-TH.json
  mobile/assets/i18n/uk-UA.json
  mobile/assets/i18n/vi-VN.json
  mobile/assets/i18n/zh-CN.json
  mobile/assets/i18n/zh-Hans.json
  mobile/lib/modules/map/ui/map_page_bottom_sheet.dart
  mobile/lib/modules/map/ui/map_settings_dialog.dart
  mobile/lib/modules/shared_link/ui/shared_link_item.dart
  mobile/lib/modules/shared_link/views/shared_link_edit_page.dart
Labels: 📱mobile

#5960 Localizely: Translations update
  mobile/assets/i18n/ca.json
  mobile/assets/i18n/cs-CZ.json
  mobile/assets/i18n/da-DK.json
  mobile/assets/i18n/de-DE.json
  mobile/assets/i18n/en-US.json
  mobile/assets/i18n/es-ES.json
  mobile/assets/i18n/es-MX.json
  mobile/assets/i18n/es-PE.json
  mobile/assets/i18n/fi-FI.json
  mobile/assets/i18n/fr-FR.json
  mobile/assets/i18n/hi-IN.json
  mobile/assets/i18n/hu-HU.json
  mobile/assets/i18n/it-IT.json
  mobile/assets/i18n/ja-JP.json
  mobile/assets/i18n/ko-KR.json
  mobile/assets/i18n/lv-LV.json
  mobile/assets/i18n/mn.json
  mobile/assets/i18n/nb-NO.json
  mobile/assets/i18n/nl-NL.json
  mobile/assets/i18n/pl-PL.json
  mobile/assets/i18n/pt-PT.json
  mobile/assets/i18n/ru-RU.json
  mobile/assets/i18n/sk-SK.json
  mobile/assets/i18n/sr-Cyrl.json
  mobile/assets/i18n/sr-Latn.json
  mobile/assets/i18n/sv-FI.json
  mobile/assets/i18n/sv-SE.json
  mobile/assets/i18n/th-TH.json
  mobile/assets/i18n/uk-UA.json
  mobile/assets/i18n/vi-VN.json
  mobile/assets/i18n/zh-CN.json
  mobile/assets/i18n/zh-Hans.json
Labels: 📱mobile

#5961 feat(web): display age in months when age is 0
  web/src/lib/components/asset-viewer/detail-panel.svelte
Labels: 🖥️web

#5986 fix(documentation): entities path in migrations (#5985)
  docs/docs/developer/database-migrations.md
Labels: documentation

#4438 fix(server): strip metadata from thumbnails
  server/src/infra/repositories/media.repository.ts
  server/test/api/asset-api.ts
  server/test/e2e/metadata.e2e-spec.ts
  server/test/test-utils.ts
Labels: bug, security

#5971 feat(mobile): load server result assets from local DB
  mobile/lib/modules/map/services/map.service.dart
  mobile/lib/modules/memories/services/memory.service.dart
  mobile/lib/modules/search/providers/all_video_assets.provider.dart
  mobile/lib/modules/search/services/person.service.dart
  mobile/lib/shared/models/asset.dart
Labels: 📱mobile

#5973 fix(web): "undefined" in error message when error at uploading
  web/src/lib/utils/file-uploader.ts
Labels: 🖥️web

#5953 chore(server): refactor locks
  server/src/domain/metadata/metadata.service.spec.ts
  server/src/domain/metadata/metadata.service.ts
  server/src/domain/repositories/database.repository.ts
  server/src/domain/smart-info/smart-info.service.spec.ts
  server/src/domain/smart-info/smart-info.service.ts
  server/src/infra/database-locks.ts
  server/src/infra/index.ts
  server/src/infra/repositories/database.repository.ts
  server/src/infra/repositories/metadata.repository.ts
  server/src/infra/repositories/smart-info.repository.ts
  server/test/repositories/database.repository.mock.ts
Labels: 🗄️server

#6030 fix(mobile): Fix "Live Images" and "Recently added" page
  mobile/lib/modules/search/providers/all_motion_photos.provider.dart
  mobile/lib/modules/search/providers/recently_added.provider.dart
Labels: 📱mobile

#6027 feat(server): delete unnecessary encoded videos
  server/src/domain/media/media.service.spec.ts
  server/src/domain/media/media.service.ts
  server/test/fixtures/asset.stub.ts
Labels: 🗄️server

#6015 fix(server): Reduce number of bound parameters in Access queries
  server/src/infra/repositories/access.repository.ts
Labels: 🗄️server

#5917 feat: storage template file move hardening
  .github/workflows/test.yml
  cli/src/api/open-api/api.ts
  docker/docker-compose.dev.yml
  mobile/openapi/doc/SystemConfigJobDto.md
  mobile/openapi/doc/SystemConfigStorageTemplateDto.md
  mobile/openapi/lib/model/system_config_job_dto.dart
  mobile/openapi/lib/model/system_config_storage_template_dto.dart
  mobile/openapi/test/system_config_job_dto_test.dart
  mobile/openapi/test/system_config_storage_template_dto_test.dart
  server/immich-openapi-specs.json
  server/package-lock.json
  server/package.json
  server/src/domain/job/job.service.spec.ts
  server/src/domain/job/job.service.ts
  server/src/domain/media/media.service.spec.ts
  server/src/domain/media/media.service.ts
  server/src/domain/metadata/metadata.service.spec.ts
  server/src/domain/metadata/metadata.service.ts
  server/src/domain/person/person.service.spec.ts
  server/src/domain/person/person.service.ts
  server/src/domain/repositories/storage.repository.ts
  server/src/domain/storage-template/storage-template.service.spec.ts
  server/src/domain/storage-template/storage-template.service.ts
  server/src/domain/storage/storage.core.ts
  server/src/domain/system-config/dto/system-config-job.dto.ts
  server/src/domain/system-config/dto/system-config-storage-template.dto.ts
  server/src/domain/system-config/system-config.core.ts
  server/src/domain/system-config/system-config.service.spec.ts
  server/src/infra/database.config.ts
  server/src/infra/entities/system-config.entity.ts
  server/src/infra/migrations/1703288449127-DefaultStorageTemplateOnForExistingInstallations.ts
  server/src/infra/repositories/filesystem.provider.ts
  server/test/repositories/storage.repository.mock.ts
  web/src/api/open-api/api.ts
  web/src/lib/components/admin-page/settings/job-settings/job-settings.svelte
  web/src/lib/components/admin-page/settings/storage-template/storage-template-settings.svelte
Labels: bug, 🗄️server, to-be-reviewed

#6054 feat: storage template locking + fix for database locks
  server/src/domain/repositories/database.repository.ts
  server/src/domain/storage-template/storage-template.service.spec.ts
  server/src/domain/storage-template/storage-template.service.ts
  server/src/infra/repositories/database.repository.ts
Labels: 🗄️server
