Repository immich-app/immich, pull requests merged in 2023-07, with the labels that each got.

#2841 Add more detail to reverse proxy docs
  docs/docs/administration/reverse-proxy.md
Labels: waiting-for-reply

#3086 feat(web): select a range of assets
  web/src/lib/components/assets/thumbnail/thumbnail.svelte
  web/src/lib/components/photos-page/asset-date-group.svelte
  web/src/lib/components/photos-page/asset-grid.svelte
  web/src/lib/stores/asset-interaction.store.ts
  web/src/lib/stores/assets.store.ts
Labels: feel-free-to-merge-👍

#3275 fix(mobile) - Allow sign out if server is down, or device is offline
  mobile/lib/modules/home/ui/profile_drawer/profile_drawer.dart
  mobile/lib/modules/login/providers/authentication.provider.dart
  mobile/lib/modules/login/ui/change_password_form.dart
Labels: 📱mobile

#3244 fix(mobile): fix forgetting backup albums (#3108)
  mobile/lib/modules/backup/providers/backup.provider.dart
Labels: 📱mobile

#3111 feat(web): new shortcuts
  web/src/lib/components/asset-viewer/asset-viewer.svelte
  web/src/lib/components/photos-page/asset-grid.svelte
  web/src/lib/utils/asset-utils.ts
Labels: 🖥️web

#3262 feat(server,web): hide faces
  cli/src/api/open-api/api.ts
  mobile/lib/modules/search/services/person.service.dart
  mobile/openapi/.openapi-generator/FILES
  mobile/openapi/README.md
  mobile/openapi/doc/PeopleResponseDto.md
  mobile/openapi/doc/PersonApi.md
  mobile/openapi/doc/PersonResponseDto.md
  mobile/openapi/doc/PersonUpdateDto.md
  mobile/openapi/lib/api.dart
  mobile/openapi/lib/api/person_api.dart
  mobile/openapi/lib/api_client.dart
  mobile/openapi/lib/model/people_response_dto.dart
  mobile/openapi/lib/model/person_response_dto.dart
  mobile/openapi/lib/model/person_update_dto.dart
  mobile/openapi/test/people_response_dto_test.dart
  mobile/openapi/test/person_api_test.dart
  mobile/openapi/test/person_response_dto_test.dart
  mobile/openapi/test/person_update_dto_test.dart
  server/immich-openapi-specs.json
  server/src/domain/asset/response-dto/asset-response.dto.ts
  server/src/domain/person/person.dto.ts
  server/src/domain/person/person.service.spec.ts
  server/src/domain/person/person.service.ts
  server/src/immich/controllers/person.controller.ts
  server/src/infra/entities/person.entity.ts
  server/src/infra/migrations/1689281196844-AddHiddenFaces.ts
  server/src/infra/repositories/typesense.repository.ts
  server/test/fixtures.ts
  web/src/api/open-api/api.ts
  web/src/lib/components/assets/thumbnail/image-thumbnail.svelte
  web/src/lib/components/faces-page/merge-face-selector.svelte
  web/src/lib/components/faces-page/people-card.svelte
  web/src/lib/components/faces-page/show-hide.svelte
  web/src/lib/components/layouts/user-page-layout.svelte
  web/src/routes/(user)/explore/+page.server.ts
  web/src/routes/(user)/explore/+page.svelte
  web/src/routes/(user)/people/+page.server.ts
  web/src/routes/(user)/people/+page.svelte
Labels: 🖥️web, 🗄️server

#3175 feat(server): Google Pixel motion photos
  server/src/microservices/processors/metadata-extraction.processor.ts
Labels: 🗄️server

#3279 feat(mobile) - Add better offline support
  mobile/lib/modules/login/providers/authentication.provider.dart
  mobile/lib/routing/auth_guard.dart
  mobile/lib/shared/models/user.dart
  mobile/lib/shared/services/api.service.dart
  mobile/lib/shared/views/splash_screen.dart
Labels: 📱mobile
