Repository immich-app/immich, pull requests merged in 2023-09, with the labels that each got.

#3957 fix(mobile): map markers not loading with int coordinates
  mobile/android/app/build.gradle
  mobile/android/app/src/main/AndroidManifest.xml
  mobile/lib/modules/map/ui/asset_marker_icon.dart
  mobile/lib/modules/map/ui/map_page_app_bar.dart
  mobile/lib/modules/map/ui/map_page_bottom_sheet.dart
  mobile/lib/modules/map/views/map_page.dart
  mobile/openapi/lib/model/map_marker_response_dto.dart
  mobile/pubspec.yaml
  server/openapi-generator/templates/mobile/serialization/native/native_class.mustache
  server/openapi-generator/templates/mobile/serialization/native/native_class.mustache.patch
Labels: 📱mobile

#3959 fix(mobile): curated places taking more size on large screens
  mobile/lib/modules/search/views/search_page.dart
Labels: 📱mobile

#3967 fix(mobile): change password page not navigation properly after password change
  mobile/assets/i18n/en-US.json
  mobile/lib/modules/login/providers/authentication.provider.dart
  mobile/lib/modules/login/ui/change_password_form.dart
Labels: 📱mobile

#3940 chore(mobile): build split APKs
  .github/workflows/build-mobile.yml
Labels: 📱mobile

#4006 feat(server,web): server config
  cli/src/api/open-api/api.ts
  mobile/openapi/.openapi-generator/FILES
  mobile/openapi/README.md
  mobile/openapi/doc/ServerConfigDto.md
  mobile/openapi/doc/ServerFeaturesDto.md
  mobile/openapi/doc/ServerInfoApi.md
  mobile/openapi/doc/SystemConfigDto.md
  mobile/openapi/doc/SystemConfigMapDto.md
  mobile/openapi/lib/api.dart
  mobile/openapi/lib/api/server_info_api.dart
  mobile/openapi/lib/api_client.dart
  mobile/openapi/lib/model/server_config_dto.dart
  mobile/openapi/lib/model/server_features_dto.dart
  mobile/openapi/lib/model/system_config_dto.dart
  mobile/openapi/lib/model/system_config_map_dto.dart
  mobile/openapi/test/server_config_dto_test.dart
  mobile/openapi/test/server_features_dto_test.dart
  mobile/openapi/test/server_info_api_test.dart
  mobile/openapi/test/system_config_dto_test.dart
  mobile/openapi/test/system_config_map_dto_test.dart
  server/immich-openapi-specs.json
  server/src/domain/server-info/server-info.dto.ts
  server/src/domain/server-info/server-info.service.spec.ts
  server/src/domain/server-info/server-info.service.ts
  server/src/domain/system-config/dto/system-config-map.dto.ts
  server/src/domain/system-config/dto/system-config.dto.ts
  server/src/domain/system-config/system-config.core.ts
  server/src/domain/system-config/system-config.service.spec.ts
  server/src/immich/controllers/server-info.controller.ts
  server/src/infra/entities/system-config.entity.ts
  server/test/e2e/server-info.e2e-spec.ts
  web/src/api/open-api/api.ts
  web/src/lib/components/admin-page/jobs/jobs-panel.svelte
  web/src/lib/components/admin-page/settings/map-settings/map-settings.svelte
  web/src/lib/components/asset-viewer/detail-panel.svelte
  web/src/lib/components/forms/login-form.svelte
  web/src/lib/components/shared-components/leaflet/tile-layer.svelte
  web/src/lib/components/shared-components/navigation-bar/navigation-bar.svelte
  web/src/lib/components/shared-components/side-bar/side-bar.svelte
  web/src/lib/components/user-settings-page/oauth-settings.svelte
  web/src/lib/components/user-settings-page/user-settings-list.svelte
  web/src/lib/constants.ts
  web/src/lib/stores/feature-flags.store.ts
  web/src/lib/stores/server-config.store.ts
  web/src/routes/(user)/map/+page.svelte
  web/src/routes/+layout.svelte
  web/src/routes/admin/system-settings/+page.svelte
  web/src/routes/auth/login/+page.svelte
Labels: feel-free-to-merge-👍

#3945 feat(mobile): efficient asset sync
  mobile/lib/modules/partner/views/partner_detail_page.dart
  mobile/lib/routing/router.gr.dart
  mobile/lib/routing/tab_navigation_observer.dart
  mobile/lib/shared/models/asset.dart
  mobile/lib/shared/models/etag.dart
  mobile/lib/shared/models/etag.g.dart
  mobile/lib/shared/providers/app_state.provider.dart
  mobile/lib/shared/providers/asset.provider.dart
  mobile/lib/shared/providers/tab.provider.dart
  mobile/lib/shared/services/api.service.dart
  mobile/lib/shared/services/asset.service.dart
  mobile/lib/shared/services/sync.service.dart
  mobile/lib/shared/views/tab_controller_page.dart
  mobile/lib/utils/openapi_extensions.dart
  mobile/test/sync_service_test.dart
Labels: 📱mobile, feel-free-to-merge-👍

#4053 fix(web): disable shortcut when writting text
  web/src/lib/components/asset-viewer/asset-viewer.svelte
  web/src/lib/components/photos-page/actions/add-to-album.svelte
  web/src/lib/components/photos-page/asset-grid.svelte
  web/src/lib/stores/shortcut.store.ts
  web/src/routes/(user)/albums/[albumId]/+page.svelte
Labels: 🖥️web

#4060 fix(mobile): images rendered twice due to rebuild
  mobile/lib/modules/asset_viewer/ui/exif_bottom_sheet.dart
  mobile/lib/modules/asset_viewer/views/gallery_viewer.dart
  mobile/lib/modules/home/ui/asset_grid/thumbnail_image.dart
Labels: 📱mobile

#3958 feat(mobile): upload image assets before videos
  mobile/lib/modules/backup/background_service/background.service.dart
  mobile/lib/modules/backup/services/backup.service.dart
Labels: 📱mobile

#3905 fix (mobile): Fix slow album thumbnail generation for album picker
  mobile/lib/modules/backup/providers/backup.provider.dart
Labels: 📱mobile

#4098 feat(web): hide face from detail page
  web/src/routes/(user)/people/[personId]/+page.svelte
Labels: 🖥️web

#4095 feat(mobile): image caching & viewer improvements
  mobile/lib/main.dart
  mobile/lib/modules/asset_viewer/views/gallery_viewer.dart
  mobile/lib/shared/cache/custom_image_cache.dart
  mobile/lib/shared/cache/original_image_provider.dart
  mobile/lib/shared/cache/widgets_binding.dart
  mobile/lib/shared/models/asset.dart
  mobile/lib/shared/ui/immich_image.dart
  mobile/lib/shared/ui/photo_view/photo_view.dart
  mobile/lib/shared/ui/photo_view/photo_view_gallery.dart
  mobile/lib/shared/ui/photo_view/src/photo_view_wrappers.dart
Labels: 📱mobile

#4227 chore(web): use axios isCancel function
  web/src/lib/utils/handle-error.ts
Labels: feel-free-to-merge-👍

#4045 feat(mobile): use map settings from server-config
  mobile/lib/modules/home/views/home_page.dart
  mobile/lib/modules/map/ui/map_thumbnail.dart
  mobile/lib/modules/map/views/map_page.dart
  mobile/lib/modules/search/ui/curated_places_row.dart
  mobile/lib/modules/search/views/search_page.dart
  mobile/lib/shared/models/server_info_state.model.dart
  mobile/lib/shared/providers/server_info.provider.dart
  mobile/lib/shared/services/server_info.service.dart
Labels: 📱mobile

#4103 fix(mobile): speed up RenderList creation for timeline
  mobile/lib/modules/archive/providers/archive_asset_provider.dart
  mobile/lib/modules/favorite/providers/favorite_provider.dart
  mobile/lib/modules/home/ui/asset_grid/asset_grid_data_structure.dart
  mobile/lib/shared/models/asset.dart
  mobile/lib/shared/models/asset.g.dart
  mobile/lib/shared/providers/asset.provider.dart
  mobile/lib/shared/services/sync.service.dart
Labels: 📱mobile

#4265 fix(mobile): reduce server version api calls
  mobile/lib/modules/album/views/sharing_page.dart
  mobile/lib/routing/tab_navigation_observer.dart
Labels: 📱mobile
