Repository immich-app/immich, pull requests merged in 2023-11, with the labels that each got.

#4815 mobile: allow upload if local asset in selection
  mobile/lib/modules/home/ui/control_bottom_app_bar.dart
  mobile/lib/modules/home/views/home_page.dart
Labels: 📱mobile

#4816 fix(mobile): immich app bar tap radius
  mobile/lib/shared/ui/app_bar_dialog/app_bar_dialog.dart
  mobile/lib/shared/ui/app_bar_dialog/app_bar_server_info.dart
  mobile/lib/shared/ui/immich_app_bar.dart
Labels: 📱mobile

#4833 feat(mobile): shared album activities
  mobile/assets/i18n/en-US.json
  mobile/lib/modules/activities/models/activity.model.dart
  mobile/lib/modules/activities/providers/activity.provider.dart
  mobile/lib/modules/activities/services/activity.service.dart
  mobile/lib/modules/activities/views/activities_page.dart
  mobile/lib/modules/album/ui/album_viewer_appbar.dart
  mobile/lib/modules/album/views/album_viewer_page.dart
  mobile/lib/modules/asset_viewer/ui/top_control_app_bar.dart
  mobile/lib/modules/asset_viewer/views/gallery_viewer.dart
  mobile/lib/modules/home/ui/asset_grid/immich_asset_grid.dart
  mobile/lib/modules/home/ui/asset_grid/immich_asset_grid_view.dart
  mobile/lib/modules/home/ui/asset_grid/thumbnail_image.dart
  mobile/lib/modules/search/views/search_page.dart
  mobile/lib/routing/router.dart
  mobile/lib/routing/router.gr.dart
  mobile/lib/shared/services/api.service.dart
  mobile/lib/shared/ui/user_circle_avatar.dart
  mobile/lib/utils/datetime_extensions.dart
  server/src/domain/activity/activity.service.ts
  server/src/infra/repositories/activity.repository.ts
Labels: 📱mobile

#4894 fix(mobile): do not show trashed assets in album viewer page
  mobile/lib/modules/trash/providers/trashed_asset.provider.dart
  mobile/lib/shared/models/album.dart
Labels: 📱mobile

#4890 feat(mobile): shared album activity disable handling
  mobile/assets/i18n/en-US.json
  mobile/ios/Podfile.lock
  mobile/lib/modules/activities/views/activities_page.dart
  mobile/lib/modules/album/providers/shared_album.provider.dart
  mobile/lib/modules/album/services/album.service.dart
  mobile/lib/modules/album/ui/album_viewer_appbar.dart
  mobile/lib/modules/album/views/album_options_part.dart
  mobile/lib/modules/album/views/album_viewer_page.dart
  mobile/lib/routing/router.gr.dart
  mobile/lib/shared/models/album.dart
  mobile/lib/shared/models/album.g.dart
Labels: 📱mobile

#4920 fix(mobile): add label for expire after in shared link edit page
  mobile/assets/i18n/en-US.json
  mobile/lib/modules/shared_link/views/shared_link_edit_page.dart
Labels: 📱mobile

#5099 fix(mobile): update local deleted assets in sync
  mobile/lib/shared/services/sync.service.dart
Labels: 📱mobile

#5104 feat(mobile): remove announcement overlay and show in app bar dialog
  mobile/assets/i18n/en-US.json
  mobile/lib/main.dart
  mobile/lib/shared/models/server_info/server_info.model.dart
  mobile/lib/shared/models/store.dart
  mobile/lib/shared/providers/app_state.provider.dart
  mobile/lib/shared/providers/release_info.provider.dart
  mobile/lib/shared/providers/server_info.provider.dart
  mobile/lib/shared/providers/websocket.provider.dart
  mobile/lib/shared/ui/app_bar_dialog/app_bar_server_info.dart
  mobile/lib/shared/ui/immich_app_bar.dart
  mobile/lib/shared/views/version_announcement_overlay.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: 📱mobile

#5138 fix(mobile): use proper context for popping out from share
  mobile/lib/modules/album/ui/album_viewer_appbar.dart
  mobile/lib/modules/asset_viewer/providers/image_viewer_page_state.provider.dart
  mobile/lib/utils/selection_handlers.dart
Labels: 📱mobile

#5136 mobile: add initial DCM analysis_options
  docs/docs/developer/setup.md
  mobile/analysis_options.yaml
Labels: 📱mobile

#4836 refactor(mobile): riverpod codegen + riverpod lint
  .gitattributes
  .github/workflows/static_analysis.yml
  mobile/analysis_options.yaml
  mobile/assets/i18n/en-US.json
  mobile/integration_test/test_utils/general_helper.dart
  mobile/lib/extensions/asyncvalue_extensions.dart
  mobile/lib/main.dart
  mobile/lib/modules/search/providers/people.provider.dart
  mobile/lib/modules/search/providers/people.provider.g.dart
  mobile/lib/modules/search/services/person.service.dart
  mobile/lib/modules/search/services/person.service.g.dart
  mobile/lib/modules/search/ui/person_name_edit_form.dart
  mobile/lib/modules/search/views/all_people_page.dart
  mobile/lib/modules/search/views/person_result_page.dart
  mobile/lib/modules/search/views/search_page.dart
  mobile/lib/modules/settings/providers/app_settings.provider.dart
  mobile/lib/modules/settings/providers/app_settings.provider.g.dart
  mobile/lib/shared/providers/api.provider.dart
  mobile/lib/shared/providers/api.provider.g.dart
  mobile/lib/shared/ui/scaffold_error_body.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: 📱mobile

#4434 feat(cli): refactor and add album support
  .github/workflows/test.yml
  cli/README.md
  cli/package-lock.json
  cli/package.json
  cli/src/__mocks__/axios.ts
  cli/src/cli/base-command.ts
  cli/src/commands/server-info.ts
  cli/src/commands/upload.ts
  cli/src/cores/constants.ts
  cli/src/cores/dto/crawl-options-dto.ts
  cli/src/cores/dto/upload-options-dto.ts
  cli/src/cores/index.ts
  cli/src/cores/models/asset.ts
  cli/src/cores/models/crawled-asset.ts
  cli/src/cores/models/index.ts
  cli/src/index.ts
  cli/src/services/crawl.service.spec.ts
  cli/src/services/crawl.service.ts
  cli/src/services/index.ts
  cli/src/services/session.service.ts
  cli/src/services/upload.service.spec.ts
  cli/src/services/upload.service.ts
  cli/tsconfig.json
  docs/docs/FAQ.md
  docs/docs/developer/architecture.md
  docs/docs/features/bulk-upload.md
  docs/docs/features/command-line-interface.md
  docs/docs/features/mobile-app.mdx
  docs/src/pages/milestones.tsx
  server/src/domain/album/album.service.ts
  server/src/immich/controllers/album.controller.ts
Labels: cli

#5197 feat(format): bmp format
  server/src/domain/domain.constant.spec.ts
  server/src/domain/domain.constant.ts
Labels: format

#5105 fix(mobile): update password change description text to use user name
  mobile/assets/i18n/ca.json
  mobile/assets/i18n/cs-CZ.json
  mobile/assets/i18n/da-DK.json
  mobile/assets/i18n/de-DE.json
  mobile/assets/i18n/en-US.json
  mobile/assets/i18n/es-ES.json
  mobile/assets/i18n/es-MX.json
  mobile/assets/i18n/es-PE.json
  mobile/assets/i18n/fi-FI.json
  mobile/assets/i18n/fr-CA.json
  mobile/assets/i18n/fr-FR.json
  mobile/assets/i18n/hi-IN.json
  mobile/assets/i18n/it-IT.json
  mobile/assets/i18n/ko-KR.json
  mobile/assets/i18n/lv-LV.json
  mobile/assets/i18n/mn.json
  mobile/assets/i18n/nb-NO.json
  mobile/assets/i18n/nl-NL.json
  mobile/assets/i18n/pl-PL.json
  mobile/assets/i18n/ru-RU.json
  mobile/assets/i18n/sk-SK.json
  mobile/assets/i18n/sr-Cyrl.json
  mobile/assets/i18n/sv-FI.json
  mobile/assets/i18n/sv-SE.json
  mobile/assets/i18n/th-TH.json
  mobile/assets/i18n/uk-UA.json
  mobile/assets/i18n/vi-VN.json
  mobile/assets/i18n/zh-CN.json
  mobile/assets/i18n/zh-Hans.json
Labels: 📱mobile

#5275 refactor: mobile - send livephoto as a separate request
  mobile/lib/modules/backup/services/backup.service.dart
Labels: 📱mobile

#5322 style(mobile): asset selection animation
  mobile/lib/extensions/build_context_extensions.dart
  mobile/lib/modules/album/ui/add_to_album_bottom_sheet.dart
  mobile/lib/modules/album/ui/album_viewer_appbar.dart
  mobile/lib/modules/album/views/album_options_part.dart
  mobile/lib/modules/asset_viewer/views/gallery_viewer.dart
  mobile/lib/modules/home/ui/asset_grid/thumbnail_image.dart
  mobile/lib/modules/login/ui/login_form.dart
  mobile/lib/modules/memories/ui/memory_lane.dart
  mobile/lib/modules/partner/views/partner_page.dart
  mobile/lib/modules/settings/views/settings_page.dart
Labels: 📱mobile

#5327 refactor(mobile): log asyncvalue errors
  mobile/lib/extensions/asyncvalue_extensions.dart
  mobile/lib/modules/activities/views/activities_page.dart
  mobile/lib/modules/album/views/album_options_part.dart
  mobile/lib/modules/album/views/album_viewer_page.dart
  mobile/lib/modules/album/views/asset_selection_page.dart
  mobile/lib/modules/album/views/select_additional_user_for_sharing_page.dart
  mobile/lib/modules/album/views/select_user_for_sharing_page.dart
  mobile/lib/modules/archive/views/archive_page.dart
  mobile/lib/modules/asset_viewer/ui/advanced_bottom_sheet.dart
  mobile/lib/modules/backup/views/backup_controller_page.dart
  mobile/lib/modules/favorite/views/favorites_page.dart
  mobile/lib/modules/home/ui/asset_grid/immich_asset_grid.dart
  mobile/lib/modules/partner/views/partner_detail_page.dart
  mobile/lib/modules/search/views/all_motion_videos_page.dart
  mobile/lib/modules/search/views/all_people_page.dart
  mobile/lib/modules/search/views/all_videos_page.dart
  mobile/lib/modules/search/views/curated_location_page.dart
  mobile/lib/modules/search/views/person_result_page.dart
  mobile/lib/modules/search/views/recently_added_page.dart
  mobile/lib/modules/search/views/search_page.dart
  mobile/lib/modules/shared_link/ui/shared_link_item.dart
  mobile/lib/modules/shared_link/views/shared_link_edit_page.dart
  mobile/lib/modules/shared_link/views/shared_link_page.dart
  mobile/lib/modules/trash/views/trash_page.dart
  mobile/lib/shared/ui/scaffold_error_body.dart
  mobile/lib/shared/views/app_log_detail_page.dart
Labels: 📱mobile

#5320 refactor(mobile): immich loading overlay
  mobile/analysis_options.yaml
  mobile/integration_test/test_utils/general_helper.dart
  mobile/lib/constants/immich_colors.dart
  mobile/lib/main.dart
  mobile/lib/modules/album/ui/album_viewer_appbar.dart
  mobile/lib/modules/album/views/album_options_part.dart
  mobile/lib/modules/album/views/album_viewer_page.dart
  mobile/lib/modules/home/views/home_page.dart
  mobile/lib/modules/trash/views/trash_page.dart
  mobile/lib/shared/ui/immich_loading_indicator.dart
  mobile/lib/shared/views/immich_loading_overlay.dart
  mobile/lib/utils/immich_app_theme.dart
Labels: 📱mobile
