Repository immich-app/immich, pull requests merged in 2023-10, with the labels that each got.

#4380 Fix/mobile remove upload soft limit
  mobile/assets/i18n/en-US.json
  mobile/lib/modules/home/views/home_page.dart
Labels: 📱mobile

#4378 feat(web): ws - on_config_update
  web/src/lib/components/admin-page/settings/map-settings/map-settings.svelte
  web/src/lib/components/admin-page/settings/trash-settings/trash-settings.svelte
  web/src/lib/stores/websocket.ts
Labels: 🖥️web

#4401 save album sort direction/ sortDesc param
  web/src/lib/stores/preferences.store.ts
  web/src/routes/(user)/albums/+page.svelte
Labels: hacktoberfest, hacktoberfest-accepted

#4402 feat(web) add hover background to image toolbar icons
  web/src/lib/components/elements/buttons/circle-icon-button.svelte
Labels: hacktoberfest-accepted

#4418 fix(server): improve library scan queuing performance
  server/src/domain/job/job.constants.ts
  server/src/domain/job/job.interface.ts
  server/src/domain/library/library.service.spec.ts
  server/src/domain/library/library.service.ts
  server/src/domain/repositories/job.repository.ts
  server/src/domain/system-config/system-config.core.ts
  server/src/domain/system-config/system-config.service.spec.ts
  server/src/infra/repositories/filesystem.provider.spec.ts
  server/src/microservices/app.service.ts
  server/test/e2e/library.e2e-spec.ts
Labels: feel-free-to-merge-👍

#4443 style(mobile): video indicator
  mobile/lib/modules/home/ui/asset_grid/thumbnail_image.dart
Labels: 📱mobile

#4441 fix(mobile): asset state change not updated in gallery app bar
  mobile/lib/modules/asset_viewer/ui/top_control_app_bar.dart
  mobile/lib/modules/asset_viewer/views/gallery_viewer.dart
  mobile/lib/shared/providers/asset.provider.dart
Labels: 📱mobile

#4450 fix(server): include trashed asset during face re-index and cleanup
  server/src/infra/repositories/person.repository.ts
Labels: 🗄️server

#3804 Offer the same album sorting options on mobile as on web
  mobile/assets/i18n/en-US.json
  mobile/lib/modules/album/views/library_page.dart
  mobile/lib/shared/models/album.dart
  mobile/lib/shared/models/album.g.dart
  mobile/lib/shared/services/sync.service.dart
Labels: 📱mobile

#4461 refactor(web): admin layout
  web/src/lib/components/admin-page/jobs/jobs-panel.svelte
  web/src/lib/components/layouts/user-page-layout.svelte
  web/src/lib/components/shared-components/side-bar/admin-side-bar.svelte
  web/src/routes/admin/+layout.svelte
  web/src/routes/admin/+layout.ts
  web/src/routes/admin/jobs-status/+page.server.ts
  web/src/routes/admin/jobs-status/+page.svelte
  web/src/routes/admin/server-status/+page.server.ts
  web/src/routes/admin/server-status/+page.svelte
  web/src/routes/admin/system-settings/+page.server.ts
  web/src/routes/admin/system-settings/+page.svelte
  web/src/routes/admin/user-management/+page.svelte
Labels: feel-free-to-merge-👍

#4484 feat(web): show trash days info in trash page
  mobile/assets/i18n/en-US.json
  web/src/routes/(user)/trash/+page.svelte
Labels: 🖥️web

#4516 fix(server): album add/remove asset performance
  server/src/domain/album/album.service.spec.ts
  server/src/domain/album/album.service.ts
  server/src/domain/repositories/album.repository.ts
  server/src/infra/repositories/album.repository.ts
  server/test/repositories/album.repository.mock.ts
Labels: performance, 🗄️server

#4543 fix(mobile): validate response code for downloaded file
  mobile/assets/i18n/en-US.json
  mobile/lib/modules/asset_viewer/providers/image_viewer_page_state.provider.dart
  mobile/lib/modules/asset_viewer/services/image_viewer.service.dart
  mobile/lib/shared/services/share.service.dart
  mobile/lib/utils/selection_handlers.dart
Labels: 📱mobile

#4198 feat: manual stack assets
  cli/src/api/open-api/api.ts
  mobile/assets/i18n/en-US.json
  mobile/lib/modules/album/views/album_viewer_page.dart
  mobile/lib/modules/album/views/asset_selection_page.dart
  mobile/lib/modules/album/views/create_album_page.dart
  mobile/lib/modules/asset_viewer/providers/asset_stack.provider.dart
  mobile/lib/modules/asset_viewer/providers/render_list.provider.dart
  mobile/lib/modules/asset_viewer/services/asset_stack.service.dart
  mobile/lib/modules/asset_viewer/views/gallery_viewer.dart
  mobile/lib/modules/home/models/selection_state.dart
  mobile/lib/modules/home/ui/asset_grid/immich_asset_grid.dart
  mobile/lib/modules/home/ui/asset_grid/immich_asset_grid_view.dart
  mobile/lib/modules/home/ui/asset_grid/thumbnail_image.dart
  mobile/lib/modules/home/ui/control_bottom_app_bar.dart
  mobile/lib/modules/home/views/home_page.dart
  mobile/lib/modules/trash/views/trash_page.dart
  mobile/lib/routing/router.dart
  mobile/lib/routing/router.gr.dart
  mobile/lib/shared/models/asset.dart
  mobile/lib/shared/models/asset.g.dart
  mobile/lib/shared/providers/asset.provider.dart
  mobile/lib/shared/providers/websocket.provider.dart
  mobile/openapi/.openapi-generator/FILES
  mobile/openapi/README.md
  mobile/openapi/doc/AssetApi.md
  mobile/openapi/doc/AssetBulkUpdateDto.md
  mobile/openapi/doc/AssetResponseDto.md
  mobile/openapi/doc/UpdateStackParentDto.md
  mobile/openapi/lib/api.dart
  mobile/openapi/lib/api/asset_api.dart
  mobile/openapi/lib/api_client.dart
  mobile/openapi/lib/model/asset_bulk_update_dto.dart
  mobile/openapi/lib/model/asset_response_dto.dart
  mobile/openapi/lib/model/update_stack_parent_dto.dart
  mobile/openapi/test/asset_api_test.dart
  mobile/openapi/test/asset_bulk_update_dto_test.dart
  mobile/openapi/test/asset_response_dto_test.dart
  mobile/openapi/test/update_stack_parent_dto_test.dart
  mobile/test/asset_grid_data_structure_test.dart
  mobile/test/sync_service_test.dart
  server/immich-openapi-specs.json
  server/src/domain/asset/asset.service.spec.ts
  server/src/domain/asset/asset.service.ts
  server/src/domain/asset/dto/asset-stack.dto.ts
  server/src/domain/asset/dto/asset.dto.ts
  server/src/domain/asset/dto/index.ts
  server/src/domain/asset/response-dto/asset-response.dto.ts
  server/src/domain/repositories/communication.repository.ts
  server/src/domain/shared-link/shared-link-response.dto.ts
  server/src/immich/api-v1/asset/asset-repository.ts
  server/src/immich/api-v1/asset/asset.service.ts
  server/src/immich/controllers/asset.controller.ts
  server/src/infra/entities/asset.entity.ts
  server/src/infra/migrations/1695354433573-AddStackParentIdToAssets.ts
  server/src/infra/repositories/asset.repository.ts
  server/test/e2e/asset.e2e-spec.ts
  server/test/fixtures/asset.stub.ts
  server/test/fixtures/shared-link.stub.ts
  web/src/api/open-api/api.ts
Labels: 📱mobile, 🗄️server

#4490 feat(mobile): shared-links
  cli/src/api/open-api/api.ts
  mobile/assets/i18n/en-US.json
  mobile/lib/modules/album/ui/album_viewer_appbar.dart
  mobile/lib/modules/album/views/sharing_page.dart
  mobile/lib/modules/home/ui/control_bottom_app_bar.dart
  mobile/lib/modules/home/views/home_page.dart
  mobile/lib/modules/shared_link/models/shared_link.dart
  mobile/lib/modules/shared_link/providers/shared_link.provider.dart
  mobile/lib/modules/shared_link/services/shared_link.service.dart
  mobile/lib/modules/shared_link/ui/shared_link_item.dart
  mobile/lib/modules/shared_link/views/shared_link_edit_page.dart
  mobile/lib/modules/shared_link/views/shared_link_page.dart
  mobile/lib/routing/router.dart
  mobile/lib/routing/router.gr.dart
  mobile/lib/shared/services/api.service.dart
  mobile/lib/utils/immich_app_theme.dart
  mobile/lib/utils/url_helper.dart
  mobile/openapi/doc/SharedLinkEditDto.md
  mobile/openapi/lib/model/shared_link_edit_dto.dart
  mobile/openapi/test/shared_link_edit_dto_test.dart
  server/immich-openapi-specs.json
  server/src/domain/shared-link/shared-link.dto.ts
  server/src/domain/shared-link/shared-link.service.ts
  web/src/api/open-api/api.ts
Labels: 📱mobile

#4598 refactor(mobile): stack only through merging from timeline
  mobile/lib/modules/asset_viewer/providers/asset_stack.provider.dart
  mobile/lib/modules/home/models/selection_state.dart
  mobile/lib/modules/home/ui/control_bottom_app_bar.dart
  mobile/lib/modules/home/views/home_page.dart
  mobile/lib/shared/providers/asset.provider.dart
Labels: 📱mobile

#4591 refactor(mobile): server info to use data classes instead of dtos
  mobile/lib/modules/asset_viewer/providers/asset_stack.provider.dart
  mobile/lib/modules/asset_viewer/services/asset_stack.service.dart
  mobile/lib/modules/backup/models/backup_state.model.dart
  mobile/lib/modules/backup/providers/backup.provider.dart
  mobile/lib/modules/home/ui/home_page_app_bar.dart
  mobile/lib/modules/home/ui/profile_drawer/server_info_box.dart
  mobile/lib/modules/map/providers/map_state.provider.dart
  mobile/lib/modules/map/services/map.service.dart
  mobile/lib/shared/models/server_info/server_config.model.dart
  mobile/lib/shared/models/server_info/server_disk_info.model.dart
  mobile/lib/shared/models/server_info/server_features.model.dart
  mobile/lib/shared/models/server_info/server_info.model.dart
  mobile/lib/shared/models/server_info/server_version.model.dart
  mobile/lib/shared/providers/server_info.provider.dart
  mobile/lib/shared/services/server_info.service.dart
Labels: 📱mobile

#4600 fix(mobile): unique hero tag for assets from api response
  mobile/lib/main.dart
  mobile/lib/modules/asset_viewer/views/gallery_viewer.dart
  mobile/lib/modules/home/ui/asset_grid/thumbnail_image.dart
Labels: 📱mobile

#4566 fix: suggest people
  cli/src/api/open-api/api.ts
  mobile/openapi/.openapi-generator/FILES
  mobile/openapi/README.md
  mobile/openapi/doc/PersonApi.md
  mobile/openapi/doc/PersonStatisticsResponseDto.md
  mobile/openapi/doc/SearchApi.md
  mobile/openapi/lib/api.dart
  mobile/openapi/lib/api/person_api.dart
  mobile/openapi/lib/api/search_api.dart
  mobile/openapi/lib/api_client.dart
  mobile/openapi/lib/model/person_statistics_response_dto.dart
  mobile/openapi/test/person_api_test.dart
  mobile/openapi/test/person_statistics_response_dto_test.dart
  mobile/openapi/test/search_api_test.dart
  server/immich-openapi-specs.json
  server/src/domain/person/person.dto.ts
  server/src/domain/person/person.service.spec.ts
  server/src/domain/person/person.service.ts
  server/src/domain/repositories/person.repository.ts
  server/src/domain/search/dto/search.dto.ts
  server/src/domain/search/search.service.ts
  server/src/immich/controllers/person.controller.ts
  server/src/infra/repositories/person.repository.ts
  server/test/repositories/person.repository.mock.ts
  web/src/api/open-api/api.ts
  web/src/lib/components/faces-page/edit-name-input.svelte
  web/src/routes/(user)/people/+page.svelte
  web/src/routes/(user)/people/[personId]/+page.server.ts
  web/src/routes/(user)/people/[personId]/+page.svelte
Labels: feel-free-to-merge-👍

#4398 chore(compose): Remove unnecessary env values from proxy container
  docker/docker-compose.yml
Labels: hacktoberfest, hacktoberfest-accepted

#4568 fix(mobile): asset deletion state management
  mobile/lib/modules/trash/providers/trashed_asset.provider.dart
  mobile/lib/shared/providers/asset.provider.dart
  mobile/lib/shared/services/sync.service.dart
Labels: 📱mobile

#4650 feat(web): manual stacking asset
  cli/src/api/open-api/api.ts
  mobile/openapi/doc/AssetApi.md
  mobile/openapi/lib/api/asset_api.dart
  mobile/openapi/test/asset_api_test.dart
  server/immich-openapi-specs.json
  server/src/domain/asset/asset.service.ts
  server/src/domain/asset/dto/time-bucket.dto.ts
  server/src/domain/repositories/asset.repository.ts
  server/src/infra/repositories/asset.repository.ts
  web/src/api/open-api/api.ts
  web/src/lib/components/asset-viewer/asset-viewer-nav-bar.svelte
  web/src/lib/components/asset-viewer/asset-viewer.svelte
  web/src/lib/components/asset-viewer/detail-panel.svelte
  web/src/lib/components/asset-viewer/photo-viewer.svelte
  web/src/lib/components/assets/thumbnail/thumbnail.svelte
  web/src/lib/components/photos-page/actions/stack-action.svelte
  web/src/lib/components/photos-page/asset-date-group.svelte
  web/src/lib/components/photos-page/asset-grid.svelte
  web/src/lib/components/photos-page/asset-select-control-bar.svelte
  web/src/lib/stores/assets.store.ts
  web/src/lib/stores/stacked-asset.store.ts
  web/src/routes/(user)/photos/+page.svelte
Labels: 🖥️web

#4679 fix(mobile): handle shared assets actions in viewer
  mobile/lib/modules/album/views/album_viewer_page.dart
  mobile/lib/modules/asset_viewer/ui/top_control_app_bar.dart
  mobile/lib/modules/asset_viewer/views/gallery_viewer.dart
  mobile/lib/modules/home/ui/asset_grid/immich_asset_grid.dart
  mobile/lib/modules/home/ui/asset_grid/immich_asset_grid_view.dart
  mobile/lib/modules/home/ui/asset_grid/thumbnail_image.dart
  mobile/lib/routing/router.gr.dart
Labels: 📱mobile

#4697 fix(mobile): first char miss in new description
  mobile/lib/modules/asset_viewer/ui/description_input.dart
Labels: 📱mobile

#4699 fix(mobile): cache key for assets from dto
  mobile/lib/modules/asset_viewer/views/gallery_viewer.dart
  mobile/lib/modules/home/ui/asset_grid/thumbnail_image.dart
  mobile/lib/utils/image_url_builder.dart
Labels: 📱mobile

#4645 feat(server): hardware video acceleration for Rockchip SOCs via RKMPP
  docker/hwaccel-rkmpp.yml
  mobile/openapi/lib/model/transcode_hw_accel.dart
  server/immich-openapi-specs.json
  server/src/domain/media/media.service.spec.ts
  server/src/domain/media/media.service.ts
  server/src/domain/media/media.util.ts
  server/src/domain/repositories/media.repository.ts
  server/src/infra/entities/system-config.entity.ts
  server/src/infra/repositories/media.repository.ts
  web/src/api/open-api/api.ts
  web/src/lib/components/admin-page/settings/ffmpeg/ffmpeg-settings.svelte
Labels: 🗄️server

#4589 fix(mobile): handle non-standard exposure time string
  mobile/lib/shared/models/exif_info.dart
Labels: 📱mobile
