Repository immich-app/immich, pull requests merged in 2023-08, with the labels that each got.

#3171 feat(server): transcoding hardware acceleration
  .github/workflows/prepare-release.yml
  cli/src/api/open-api/api.ts
  docker/docker-compose.dev.yml
  docker/docker-compose.prod.yml
  docker/docker-compose.yml
  docker/hwaccel.yml
  docs/docs/features/hardware-transcoding.md
  docs/docs/install/docker-compose.md
  mobile/openapi/.openapi-generator/FILES
  mobile/openapi/README.md
  mobile/openapi/doc/AssetStatsResponseDto.md
  mobile/openapi/doc/SystemConfigFFmpegDto.md
  mobile/openapi/doc/TranscodeHWAccel.md
  mobile/openapi/lib/api.dart
  mobile/openapi/lib/api_client.dart
  mobile/openapi/lib/api_helper.dart
  mobile/openapi/lib/model/asset_stats_response_dto.dart
  mobile/openapi/lib/model/system_config_f_fmpeg_dto.dart
  mobile/openapi/lib/model/transcode_hw_accel.dart
  mobile/openapi/test/asset_stats_response_dto_test.dart
  mobile/openapi/test/system_config_f_fmpeg_dto_test.dart
  mobile/openapi/test/transcode_hw_accel_test.dart
  server/Dockerfile
  server/bin/build-imagemagick.sh
  server/bin/build-libvips.sh
  server/bin/install-ffmpeg.sh
  server/build-lock.json
  server/immich-openapi-specs.json
  server/src/domain/media/media.repository.ts
  server/src/domain/media/media.service.spec.ts
  server/src/domain/media/media.service.ts
  server/src/domain/media/media.util.ts
  server/src/domain/storage/storage.repository.ts
  server/src/domain/system-config/dto/system-config-ffmpeg.dto.ts
  server/src/domain/system-config/system-config.core.ts
  server/src/domain/system-config/system-config.service.spec.ts
  server/src/infra/entities/system-config.entity.ts
  server/src/infra/repositories/filesystem.provider.ts
  server/src/infra/repositories/media.repository.ts
  server/start.sh
  server/test/fixtures/media.stub.ts
  server/test/repositories/storage.repository.mock.ts
  web/src/api/open-api/api.ts
  web/src/lib/components/admin-page/settings/ffmpeg/ffmpeg-settings.svelte
Labels: 🗄️server

#3554 refactor: time buckets (2)
  web/src/lib/components/album-page/album-viewer.svelte
  web/src/lib/components/asset-viewer/asset-viewer.svelte
  web/src/lib/components/memory-page/memory-viewer.svelte
  web/src/lib/components/photos-page/asset-grid.svelte
  web/src/lib/components/share-page/individual-shared-viewer.svelte
  web/src/lib/components/shared-components/gallery-viewer/gallery-viewer.svelte
  web/src/lib/constants.ts
  web/src/lib/stores/archived-asset.store.ts
  web/src/lib/stores/assets.store.ts
  web/src/routes/(user)/archive/+page.svelte
  web/src/routes/(user)/favorites/+page.svelte
  web/src/routes/(user)/map/+page.svelte
  web/src/routes/(user)/people/[personId]/+page.svelte
  web/src/routes/(user)/photos/+page.svelte
  web/src/routes/(user)/search/+page.svelte
  web/src/routes/(user)/share/[key]/photos/[assetId]/+page.svelte
Labels: feel-free-to-merge-👍

#3872 feat(mobile): upload image assets before videos
  mobile/lib/modules/backup/services/backup.service.dart
Labels: 📱mobile
