Repository immich-app/immich, pull requests merged in 2024-08, with the labels that each got.

#11508 fix(web): websocket over ipv6
  e2e/src/utils.ts
  e2e/src/web/specs/websocket.e2e-spec.ts
  web/src/lib/stores/websocket.ts
Labels: 🖥️web

#11506 fix(web): correctly format future timeline dates
  web/src/lib/utils/timeline-util.spec.ts
  web/src/lib/utils/timeline-util.ts
Labels: 🖥️web

#10866 feat(server): search unknown place
  e2e/src/api/specs/search.e2e-spec.ts
  mobile/openapi/lib/api/search_api.dart
  mobile/openapi/lib/model/metadata_search_dto.dart
  mobile/openapi/lib/model/smart_search_dto.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/controllers/search.controller.ts
  server/src/dtos/search.dto.ts
  server/src/interfaces/metadata.interface.ts
  server/src/interfaces/search.interface.ts
  server/src/queries/metadata.repository.sql
  server/src/repositories/metadata.repository.ts
  server/src/services/search.service.spec.ts
  server/src/services/search.service.ts
  server/src/utils/database.ts
  server/src/validation.ts
  web/src/lib/components/shared-components/combobox.svelte
  web/src/lib/components/shared-components/search-bar/search-camera-section.svelte
  web/src/lib/components/shared-components/search-bar/search-filter-box.svelte
  web/src/lib/components/shared-components/search-bar/search-location-section.svelte
  web/src/routes/(user)/search/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, 🗄️server

#11458 chore(web): update translations
  web/src/lib/i18n/bg.json
  web/src/lib/i18n/ca.json
  web/src/lib/i18n/he.json
  web/src/lib/i18n/hu.json
  web/src/lib/i18n/ko.json
  web/src/lib/i18n/nl.json
  web/src/lib/i18n/pl.json
  web/src/lib/i18n/ro.json
  web/src/lib/i18n/ru.json
  web/src/lib/i18n/sk.json
  web/src/lib/i18n/tr.json
  web/src/lib/i18n/vi.json
  web/src/lib/i18n/zh_Hant.json
  web/src/lib/i18n/zh_SIMPLIFIED.json
Labels: 🖥️web

#11523 fix(web): prevent change-location suggestion race-condition
  web/src/lib/components/shared-components/change-location.svelte
Labels: 🖥️web

#11532 chore(web): fix weblate and other cleanup
  web/src/lib/i18n/vi.json
  web/src/routes/link/+page.ts
Labels: 🖥️web

#11575 refactor(server): add config events for clip
  server/src/interfaces/search.interface.ts
  server/src/repositories/search.repository.ts
  server/src/services/smart-info.service.spec.ts
  server/src/services/smart-info.service.ts
  server/test/repositories/search.repository.mock.ts
Labels: 🗄️server

#11576 Add Immich Distribution to Community Projects page
  docs/src/components/community-projects.tsx
Labels: documentation

#11503 fix(mobile): Naming fix for the edited file
  mobile/lib/pages/editing/edit.page.dart
Labels: 📱mobile

#11588 chore: dockerfile casing
  cli/Dockerfile
  machine-learning/Dockerfile
  server/Dockerfile
Labels: maintenance

#11589 chore: dockerfile casing
  machine-learning/export/Dockerfile
Labels: maintenance

#11591 fix(mobile): autofill
  mobile/lib/widgets/forms/login/login_form.dart
Labels: 📱mobile

#11600 chore(web): remove unused event type definitions
  web/src/app.d.ts
Labels: 🖥️web

#11559 refactor(server): startup checks for vector extension
  server/src/interfaces/database.interface.ts
  server/src/repositories/database.repository.ts
  server/src/services/database.service.spec.ts
  server/src/services/database.service.ts
  server/test/repositories/database.repository.mock.ts
Labels: 🗄️server

#11599 fix(web): slideshow on iphone
  web/src/app.d.ts
  web/src/lib/components/asset-viewer/asset-viewer.svelte
Labels: 🖥️web

#11610 fix(server): video duration extraction
  server/src/services/metadata.service.spec.ts
  server/src/services/metadata.service.ts
Labels: 🗄️server

#11114 feat(web): Add stacking option to deduplication utilities
  web/src/lib/components/utilities-page/duplicates/duplicate-asset.svelte
  web/src/lib/components/utilities-page/duplicates/duplicates-compare-control.svelte
  web/src/lib/i18n/en.json
  web/src/lib/utils/asset-utils.ts
  web/src/routes/(user)/utilities/duplicates/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 📱mobile, 🖥️web, 🗄️server

#11619 chore(mobile): minor styling fix
  mobile/lib/pages/common/create_album.page.dart
  mobile/lib/widgets/album/album_action_filled_button.dart
  mobile/lib/widgets/album/album_title_text_field.dart
  mobile/lib/widgets/common/app_bar_dialog/app_bar_dialog.dart
Labels: 📱mobile

#11621 feat(mobile): enable wakelock on backup page
  mobile/lib/pages/backup/backup_controller.page.dart
Labels: 📱mobile

#11624 chore(server): support pgvecto.rs 0.3.0
  server/src/constants.ts
Labels: 🗄️server

#11630 chore: more cursed knowledge
  docs/src/pages/cursed-knowledge.tsx
Labels: documentation

#11631 chore: more cursed knowledge
  docs/docusaurus.config.js
  docs/src/pages/cursed-knowledge.tsx
Labels: documentation

#11636 fix(server): handle numeric 'Image Description' and 'Description' values
  server/src/interfaces/metadata.interface.ts
  server/src/services/metadata.service.spec.ts
  server/src/services/metadata.service.ts
Labels: 🗄️server

#11638 docs: how to decrease Redis logs
  docs/docs/FAQ.mdx
Labels: documentation

#11603 fix(server): avoid transcoding thumbnail streams
  server/src/repositories/media.repository.ts
Labels: 🗄️server

#11643 feat: change web asset detail map to zoom level 12.5
  web/src/lib/components/asset-viewer/detail-panel.svelte
  web/src/lib/components/shared-components/change-location.svelte
Labels: 🖥️web

#11647 feat(web): improve group-tab accessibility
  web/src/lib/components/album-page/albums-controls.svelte
  web/src/lib/components/elements/group-tab.svelte
  web/src/lib/i18n/en.json
  web/src/routes/(user)/albums/+page.svelte
Labels: 🖥️web, accessibility

#11652 fix(web): keep album description in sync
  web/src/routes/(user)/albums/[albumId=id]/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web

#11651 fix(server): use luxon for maxdate validator
  server/src/dtos/person.dto.ts
  server/src/validation.spec.ts
  server/src/validation.ts
Labels: 🗄️server

#11656 refactor(web): supporter badge
  web/src/app.css
  web/src/lib/components/shared-components/side-bar/purchase-info.svelte
  web/src/lib/components/shared-components/side-bar/supporter-badge.svelte
  web/src/routes/(user)/buy/+page.svelte
Labels: 🖥️web

#11657 chore(web): remove font-size of 17px
  web/src/app.css
Labels: 🖥️web

#11655 fix(docs): update documentation
  docs/docs/developer/testing.md
Labels: documentation

#11665 chore: add warning to media location env var
  docs/docs/install/environment-variables.md
Labels: documentation

#11662 chore(mobile): refactor detail panel
  mobile/assets/i18n/en-US.json
  mobile/devtools_options.yaml
  mobile/lib/entities/exif_info.entity.dart
  mobile/lib/pages/common/gallery_viewer.page.dart
  mobile/lib/pages/sharing/shared_link/shared_link_edit.page.dart
  mobile/lib/services/asset.service.dart
  mobile/lib/services/asset_description.service.dart
  mobile/lib/utils/immich_app_theme.dart
  mobile/lib/utils/selection_handlers.dart
  mobile/lib/widgets/asset_viewer/description_input.dart
  mobile/lib/widgets/asset_viewer/detail_panel/asset_date_time.dart
  mobile/lib/widgets/asset_viewer/detail_panel/asset_details.dart
  mobile/lib/widgets/asset_viewer/detail_panel/asset_location.dart
  mobile/lib/widgets/asset_viewer/detail_panel/camera_info.dart
  mobile/lib/widgets/asset_viewer/detail_panel/detail_panel.dart
  mobile/lib/widgets/asset_viewer/detail_panel/exif_map.dart
  mobile/lib/widgets/asset_viewer/detail_panel/file_info.dart
  mobile/lib/widgets/asset_viewer/detail_panel/people_info.dart
  mobile/lib/widgets/asset_viewer/exif_sheet/exif_bottom_sheet.dart
  mobile/lib/widgets/asset_viewer/exif_sheet/exif_detail.dart
  mobile/lib/widgets/asset_viewer/exif_sheet/exif_location.dart
  mobile/lib/widgets/asset_viewer/exif_sheet/exif_people.dart
  mobile/lib/widgets/common/date_time_picker.dart
  mobile/lib/widgets/common/immich_app_bar.dart
  mobile/lib/widgets/search/search_filter/common/dropdown.dart
Labels: 📱mobile

#11671 fix(mobile): incorrect remove action from the album assets detail view
  mobile/lib/widgets/asset_viewer/bottom_gallery_bar.dart
Labels: 📱mobile

#11623 feat(mobile): darken screen on backup page
  mobile/lib/pages/backup/backup_controller.page.dart
Labels: 📱mobile

#11678 docs: Update docs + example.env for DB_PASSWORD
  docker/example.env
  docs/docs/install/docker-compose.mdx
Labels: documentation

#11697 fix(web): asset viewer dynamic size
  web/src/lib/components/asset-viewer/asset-viewer.svelte
Labels: 🖥️web

#11695 refactor(web): simplify some stores
  web/src/lib/stores/asset-interaction.store.ts
  web/src/lib/stores/asset-viewing.store.ts
  web/src/lib/stores/download.ts
  web/src/lib/stores/purchase.store.ts
  web/src/lib/stores/upload.ts
Labels: 🖥️web

#11696 chore(web): remove unused file
  web/src/lib/components/album-page/thumbnail-selection.svelte
Labels: 🖥️web

#11701 chore(deps): update pydantic to v2
  machine-learning/app/config.py
  machine-learning/app/main.py
  machine-learning/app/schemas.py
  machine-learning/poetry.lock
  machine-learning/pyproject.toml
Labels: 🧠machine-learning

#11704 fix(web): use fallback image if shared asset isn't resized
  web/src/lib/components/album-page/__tests__/album-card.spec.ts
  web/src/lib/components/album-page/__tests__/album-cover.spec.ts
  web/src/lib/components/sharedlinks-page/covers/__tests__/share-cover.spec.ts
  web/src/lib/components/sharedlinks-page/covers/share-cover.svelte
  web/src/test-data/index.ts
Labels: 🖥️web

#11714 fix(web): hide import json button when using config file
  web/src/routes/admin/system-settings/+page.svelte
Labels: 🖥️web

#11726 chore: better release notes
  .github/release.yml
  renovate.json
Labels: maintenance

#11720 feat(web): improve shared link management on mobile
  web/src/lib/components/album-page/__tests__/album-cover.spec.ts
  web/src/lib/components/album-page/album-cover.svelte
  web/src/lib/components/shared-components/context-menu/button-context-menu.svelte
  web/src/lib/components/sharedlinks-page/actions/shared-link-copy.svelte
  web/src/lib/components/sharedlinks-page/actions/shared-link-delete.svelte
  web/src/lib/components/sharedlinks-page/actions/shared-link-edit.svelte
  web/src/lib/components/sharedlinks-page/covers/__tests__/asset-cover.spec.ts
  web/src/lib/components/sharedlinks-page/covers/__tests__/no-cover.spec.ts
  web/src/lib/components/sharedlinks-page/covers/__tests__/share-cover.spec.ts
  web/src/lib/components/sharedlinks-page/covers/asset-cover.svelte
  web/src/lib/components/sharedlinks-page/covers/no-cover.svelte
  web/src/lib/components/sharedlinks-page/covers/share-cover.svelte
  web/src/lib/components/sharedlinks-page/shared-link-card.svelte
  web/src/lib/i18n/en.json
  web/src/routes/(user)/sharing/sharedlinks/+page.svelte
Labels: 🖥️web

#11748 refactor(web): add tailwind plugin for repeating grid cols
  web/eslint.config.mjs
  web/src/lib/components/album-page/album-card-group.svelte
  web/src/lib/components/shared-components/search-bar/search-camera-section.svelte
  web/src/lib/components/shared-components/search-bar/search-date-section.svelte
  web/src/lib/components/shared-components/search-bar/search-location-section.svelte
  web/src/lib/components/shared-components/search-bar/search-people-section.svelte
  web/src/routes/(user)/explore/+page.svelte
  web/tailwind.config.js
Labels: 🖥️web

#11685 fix(server): follow symlinks when zipping assets
  server/src/interfaces/storage.interface.ts
  server/src/repositories/storage.repository.ts
  server/src/services/download.service.spec.ts
  server/src/services/download.service.ts
  server/test/repositories/storage.repository.mock.ts
Labels: 🗄️server

#11350 docs: update custom map style guide
  docs/docs/guides/custom-map-styles.md
Labels: documentation, 🖥️web

#11359 feat(web): add privacy step in the onboarding
  e2e/src/web/specs/auth.e2e-spec.ts
  web/src/lib/components/admin-page/settings/admin-settings.svelte
  web/src/lib/components/admin-page/settings/map-settings/map-settings.svelte
  web/src/lib/components/admin-page/settings/new-version-check-settings/new-version-check-settings.svelte
  web/src/lib/components/admin-page/settings/storage-template/storage-template-settings.svelte
  web/src/lib/components/onboarding-page/onboarding-card.svelte
  web/src/lib/components/onboarding-page/onboarding-hello.svelte
  web/src/lib/components/onboarding-page/onboarding-privacy.svelte
  web/src/lib/components/onboarding-page/onboarding-storage-template.svelte
  web/src/lib/components/onboarding-page/onboarding-theme.svelte
  web/src/lib/i18n/en.json
  web/src/routes/auth/onboarding/+page.svelte
Labels: 🖥️web

#11753 chore(mobile): properly patch openapi with custom response dto
  mobile/lib/utils/openapi_patching.dart
  mobile/openapi/lib/api.dart
  mobile/openapi/lib/api_client.dart
  mobile/openapi/lib/model/rating_response.dart
  mobile/openapi/pubspec.yaml
  open-api/bin/generate-open-api.sh
  open-api/immich-openapi-specs.json
  open-api/patch/api.dart.patch
  open-api/patch/pubspec_immich_mobile.yaml.patch
  open-api/templates/mobile/api_client.mustache
  open-api/templates/mobile/api_client.mustache.patch
  server/src/dtos/user-preferences.dto.ts
Labels: 📱mobile, 🗄️server

#11756 chore: separate enhancement group in release notes
  .github/release.yml
Labels: maintenance

#11533 chore(web): update translations
  web/src/lib/i18n/ar.json
  web/src/lib/i18n/bg.json
  web/src/lib/i18n/cs.json
  web/src/lib/i18n/da.json
  web/src/lib/i18n/de.json
  web/src/lib/i18n/el.json
  web/src/lib/i18n/en.json
  web/src/lib/i18n/es.json
  web/src/lib/i18n/fa.json
  web/src/lib/i18n/fi.json
  web/src/lib/i18n/fr.json
  web/src/lib/i18n/he.json
  web/src/lib/i18n/hi.json
  web/src/lib/i18n/hu.json
  web/src/lib/i18n/it.json
  web/src/lib/i18n/ko.json
  web/src/lib/i18n/lt.json
  web/src/lib/i18n/nb_NO.json
  web/src/lib/i18n/nl.json
  web/src/lib/i18n/pl.json
  web/src/lib/i18n/pt.json
  web/src/lib/i18n/pt_BR.json
  web/src/lib/i18n/ro.json
  web/src/lib/i18n/ru.json
  web/src/lib/i18n/sl.json
  web/src/lib/i18n/sr_Cyrl.json
  web/src/lib/i18n/sr_Latn.json
  web/src/lib/i18n/sv.json
  web/src/lib/i18n/te.json
  web/src/lib/i18n/tr.json
  web/src/lib/i18n/uk.json
  web/src/lib/i18n/vi.json
  web/src/lib/i18n/zh_Hant.json
  web/src/lib/i18n/zh_SIMPLIFIED.json
Labels: 🖥️web

#11761 fix(mobile): trash translations
  mobile/assets/i18n/en-US.json
  mobile/lib/pages/library/trash.page.dart
  mobile/lib/widgets/asset_grid/multiselect_grid.dart
  mobile/lib/widgets/asset_viewer/gallery_app_bar.dart
Labels: 📱mobile

#11770 fix(web): fallback aperture info when there is no locale set
  web/src/lib/components/asset-viewer/detail-panel.svelte
Labels: 🖥️web, bugfix

#11074 feat(web): image editor - panel and cropping
  web/src/lib/components/asset-viewer/asset-viewer-nav-bar.svelte
  web/src/lib/components/asset-viewer/asset-viewer.svelte
  web/src/lib/components/asset-viewer/editor/crop-tool/crop-area.svelte
  web/src/lib/components/asset-viewer/editor/crop-tool/crop-preset.svelte
  web/src/lib/components/asset-viewer/editor/crop-tool/crop-settings.ts
  web/src/lib/components/asset-viewer/editor/crop-tool/crop-store.ts
  web/src/lib/components/asset-viewer/editor/crop-tool/crop-tool.svelte
  web/src/lib/components/asset-viewer/editor/crop-tool/drawing.ts
  web/src/lib/components/asset-viewer/editor/crop-tool/image-loading.ts
  web/src/lib/components/asset-viewer/editor/crop-tool/mouse-handlers.ts
  web/src/lib/components/asset-viewer/editor/editor-panel.svelte
  web/src/lib/i18n/en.json
  web/src/lib/i18n/ru.json
  web/src/lib/stores/asset-editor.store.ts
Labels: feature, 🖥️web

#11773 fix(ml): pydantic dep causes starting up issue
  machine-learning/app/config.py
  machine-learning/app/main.py
  machine-learning/app/schemas.py
  machine-learning/poetry.lock
  machine-learning/pyproject.toml
Labels: 🧠machine-learning, bugfix

#11779 refactor: asset e2e performance
  e2e/src/api/specs/asset.e2e-spec.ts
Labels: maintenance

#11786 fix(mobile): load original
  mobile/lib/pages/common/gallery_viewer.page.dart
  mobile/lib/providers/image/immich_local_image_provider.dart
  mobile/lib/providers/image/immich_remote_image_provider.dart
  mobile/lib/utils/image_url_builder.dart
Labels: 📱mobile

#11787 chore(docs): Encode db dump in UTF-8 for windows
  docs/docs/administration/backup-and-restore.md
Labels: documentation

#11797 fix(web): focus trap inside portal
  web/src/lib/actions/__test__/focus-trap.spec.ts
  web/src/lib/actions/focus-trap.ts
Labels: 🖥️web, bugfix

#11811 refactor: auth service
  e2e/src/api/specs/api-key.e2e-spec.ts
  open-api/immich-openapi-specs.json
  server/src/controllers/api-key.controller.ts
  server/src/dtos/auth.dto.ts
  server/src/middleware/auth.guard.ts
  server/src/repositories/event.repository.ts
  server/src/services/auth.service.spec.ts
  server/src/services/auth.service.ts
Labels: 🗄️server, maintenance

#11719 chore(mobile): update target SDK version
  mobile/android/app/build.gradle
  mobile/android/app/src/main/AndroidManifest.xml
  mobile/android/app/src/main/kotlin/com/example/mobile/BackgroundServicePlugin.kt
  mobile/android/app/src/main/kotlin/com/example/mobile/BackupWorker.kt
  mobile/android/app/src/main/kotlin/com/example/mobile/ContentObserverWorker.kt
Labels: 📱mobile

#11831 feat(mobile): enable Impeller rendering engine on Android
  mobile/android/app/src/main/AndroidManifest.xml
Labels: feature, 📱mobile

#11633 chore(mobile): Flutter 3.24
  mobile/.fvmrc
  mobile/.vscode/settings.json
  mobile/android/build.gradle
  mobile/ios/Podfile.lock
  mobile/ios/Runner/AppDelegate.swift
  mobile/lib/main.dart
  mobile/lib/pages/common/gallery_viewer.page.dart
  mobile/lib/pages/common/headers_settings.page.dart
  mobile/lib/pages/common/tab_controller.page.dart
  mobile/lib/pages/common/video_viewer.page.dart
  mobile/lib/widgets/asset_grid/draggable_scrollbar_custom.dart
  mobile/lib/widgets/asset_grid/immich_asset_grid_view.dart
  mobile/lib/widgets/common/immich_app_bar.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: 📱mobile

#11774 feat(server): do not automatically download android motion videos
  e2e/docker-compose.yml
  e2e/src/api/specs/user.e2e-spec.ts
  mobile/openapi/lib/model/download_response.dart
  mobile/openapi/lib/model/download_update.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/dtos/user-preferences.dto.ts
  server/src/entities/user-metadata.entity.ts
  server/src/services/download.service.spec.ts
  server/src/services/download.service.ts
  web/src/lib/components/user-settings-page/download-settings.svelte
  web/src/lib/i18n/en.json
  web/src/lib/utils/asset-utils.ts
Labels: feature, 🖥️web, 🗄️server

#11780 refactor: server emit events
  server/src/app.module.ts
  server/src/decorators.ts
  server/src/interfaces/event.interface.ts
  server/src/middleware/auth.guard.ts
  server/src/repositories/event.repository.ts
  server/src/services/album.service.spec.ts
  server/src/services/album.service.ts
  server/src/services/database.service.spec.ts
  server/src/services/database.service.ts
  server/src/services/library.service.spec.ts
  server/src/services/library.service.ts
  server/src/services/metadata.service.spec.ts
  server/src/services/metadata.service.ts
  server/src/services/microservices.service.ts
  server/src/services/notification.service.spec.ts
  server/src/services/notification.service.ts
  server/src/services/server.service.ts
  server/src/services/smart-info.service.spec.ts
  server/src/services/smart-info.service.ts
  server/src/services/storage-template.service.spec.ts
  server/src/services/storage-template.service.ts
  server/src/services/storage.service.spec.ts
  server/src/services/storage.service.ts
  server/src/services/system-config.service.ts
  server/src/services/user-admin.service.ts
  server/src/services/version.service.ts
  server/src/utils/events.ts
Labels: tech-debt, 🗄️server

#11823 fix(docs): read-only affects XMP writing
  docs/docs/features/libraries.md
  docs/docs/guides/external-library.md
Labels: documentation

#11849 chore(mobile): only enable wakelock when backup is running
  mobile/lib/pages/backup/backup_controller.page.dart
Labels: 📱mobile

#11838 fix(mobile): download translation
  mobile/assets/i18n/en-US.json
  mobile/lib/widgets/asset_viewer/bottom_gallery_bar.dart
Labels: 📱mobile

#11824 feat(server): granular permissions for api keys
  e2e/src/api/specs/api-key.e2e-spec.ts
  e2e/src/cli/specs/login.e2e-spec.ts
  e2e/src/responses.ts
  e2e/src/utils.ts
  mobile/lib/services/backup.service.dart
  mobile/openapi/README.md
  mobile/openapi/lib/api.dart
  mobile/openapi/lib/api_client.dart
  mobile/openapi/lib/api_helper.dart
  mobile/openapi/lib/model/api_key_create_dto.dart
  mobile/openapi/lib/model/api_key_response_dto.dart
  mobile/openapi/lib/model/permission.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/controllers/activity.controller.ts
  server/src/controllers/album.controller.ts
  server/src/controllers/api-key.controller.ts
  server/src/controllers/face.controller.ts
  server/src/controllers/library.controller.ts
  server/src/controllers/memory.controller.ts
  server/src/controllers/partner.controller.ts
  server/src/controllers/person.controller.ts
  server/src/controllers/shared-link.controller.ts
  server/src/controllers/system-config.controller.ts
  server/src/controllers/system-metadata.controller.ts
  server/src/controllers/tag.controller.ts
  server/src/controllers/user-admin.controller.ts
  server/src/cores/access.core.ts
  server/src/dtos/api-key.dto.ts
  server/src/entities/api-key.entity.ts
  server/src/enum.ts
  server/src/middleware/auth.guard.ts
  server/src/migrations/1723719333525-AddApiKeyPermissions.ts
  server/src/queries/api.key.repository.sql
  server/src/repositories/api-key.repository.ts
  server/src/services/api-key.service.spec.ts
  server/src/services/api-key.service.ts
  server/src/services/auth.service.ts
  server/src/services/memory.service.ts
  server/src/services/person.service.ts
  server/src/utils/access.ts
  web/src/lib/components/forms/api-key-form.svelte
  web/src/lib/components/user-settings-page/user-api-key-list.svelte
Labels: feature, 🗄️server, breaking-change

#11851 docs: update mobile screenshot
  docs/docs/partials/img/sign-in-phone.jpeg
Labels: documentation

#11859 fix(docs): spelling
  docs/docs/features/shared-albums.md
  docs/docs/install/requirements.md
  docs/docs/install/unraid.md
Labels: documentation

#11863 fix(mobile): show correct notification icon for android
  mobile/lib/services/local_notification.service.dart
Labels: 📱mobile, bugfix

#11866 feat(web): pasting coordinates
  web/src/lib/components/shared-components/coordinates-input.svelte
  web/src/lib/components/shared-components/number-range-input.svelte
Labels: enhancement, 🖥️web

#11884 fix(web): show camera make in search options after searching
  web/src/lib/components/shared-components/search-bar/search-camera-section.svelte
Labels: 🖥️web, bugfix

#11883 fix(web): correctly populate the camera model search dropdown
  web/src/lib/components/shared-components/search-bar/search-camera-section.svelte
Labels: 🖥️web, bugfix

#11879 feat(web): drag and drop or paste directories for upload
  web/src/lib/components/shared-components/drag-and-drop-upload-overlay.svelte
Labels: 🖥️web

#11881 fix(ml): tokenization for webli models
  machine-learning/app/models/clip/textual.py
  machine-learning/app/models/transforms.py
  machine-learning/app/test_main.py
Labels: 🧠machine-learning

#11892 feat(mobile): memories lane with the new CarouselView
  mobile/lib/widgets/memories/memory_lane.dart
Labels: 📱mobile

#11907 feat(web): Left hand navigation with A/D
  web/src/lib/components/asset-viewer/actions/next-asset-action.svelte
  web/src/lib/components/asset-viewer/actions/previous-asset-action.svelte
Labels: 🖥️web

#11908 refactor(server): track thumbnail jobs in job status table
  server/src/entities/asset-job-status.entity.ts
  server/src/migrations/1724080823160-AddThumbnailJobStatus.ts
  server/src/repositories/asset.repository.ts
  server/src/services/media.service.ts
Labels: 🗄️server, maintenance

#11909 chore: validate every PR has a changelog related label
  .github/release.yml
  .github/workflows/pr-label-validation.yml
Labels: changelog:skip

#11911 fix(server): create shared album from the mobile app does not trigger send email invite
  server/src/services/album.service.spec.ts
  server/src/services/album.service.ts
Labels: 🗄️server, changelog:bugfix

#11861 refactor(server): move files to separate table
  server/src/cores/storage.core.ts
  server/src/dtos/asset-response.dto.ts
  server/src/entities/asset-files.entity.ts
  server/src/entities/asset.entity.ts
  server/src/entities/index.ts
  server/src/enum.ts
  server/src/interfaces/asset.interface.ts
  server/src/migrations/1724101822106-AddAssetFilesTable.ts
  server/src/queries/asset.repository.sql
  server/src/queries/person.repository.sql
  server/src/queries/search.repository.sql
  server/src/queries/shared.link.repository.sql
  server/src/repositories/asset.repository.ts
  server/src/services/asset-media.service.spec.ts
  server/src/services/asset-media.service.ts
  server/src/services/asset.service.spec.ts
  server/src/services/asset.service.ts
  server/src/services/audit.service.ts
  server/src/services/duplicate.service.ts
  server/src/services/media.service.spec.ts
  server/src/services/media.service.ts
  server/src/services/notification.service.spec.ts
  server/src/services/notification.service.ts
  server/src/services/person.service.spec.ts
  server/src/services/person.service.ts
  server/src/services/smart-info.service.spec.ts
  server/src/services/smart-info.service.ts
  server/src/utils/asset.util.ts
  server/src/utils/database.ts
  server/test/fixtures/asset.stub.ts
  server/test/fixtures/shared-link.stub.ts
  server/test/repositories/asset.repository.mock.ts
Labels: tech-debt, 🗄️server, changelog:skip

#11931 fix: update renovate labels
  renovate.json
Labels: changelog:skip

#11932 fix: random e2e test
  e2e/src/api/specs/asset.e2e-spec.ts
Labels: changelog:skip

#11925 fix(server): coverage reports
  server/vitest.config.mjs
Labels: changelog:skip

#11923 refactor(server): controller cleanup
  mobile/lib/services/api.service.dart
  mobile/openapi/README.md
  mobile/openapi/lib/api.dart
  mobile/openapi/lib/api/deprecated_api.dart
  mobile/openapi/lib/api/server_api.dart
  mobile/openapi/lib/api/server_info_api.dart
  mobile/openapi/lib/model/permission.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/controllers/activity.controller.ts
  server/src/controllers/asset-media.controller.ts
  server/src/controllers/asset.controller.ts
  server/src/controllers/library.controller.ts
  server/src/controllers/notification.controller.ts
  server/src/controllers/oauth.controller.ts
  server/src/controllers/partner.controller.ts
  server/src/controllers/server-info.controller.ts
  server/src/controllers/server.controller.ts
  server/src/controllers/session.controller.ts
  server/src/controllers/stack.controller.ts
  server/src/controllers/timeline.controller.ts
  server/src/controllers/trash.controller.ts
  server/src/enum.ts
  server/src/services/trash.service.ts
  server/src/utils/access.ts
Labels: 📱mobile, 🗄️server, changelog:skip

#11922 fix(web): upload on file paste
  web/src/lib/components/shared-components/drag-and-drop-upload-overlay.svelte
Labels: 🖥️web, changelog:skip

#11952 fix(server): do not match live photos across libraries
  server/src/interfaces/asset.interface.ts
  server/src/repositories/asset.repository.ts
  server/src/services/metadata.service.spec.ts
  server/src/services/metadata.service.ts
Labels: 🗄️server, changelog:bugfix

#11958 docs: clarify external domain setting
  docs/docs/administration/system-settings.md
Labels: documentation, changelog:documentation

#11880 feat: folder view
  mobile/openapi/README.md
  mobile/openapi/lib/api.dart
  mobile/openapi/lib/api/view_api.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/controllers/index.ts
  server/src/controllers/view.controller.ts
  server/src/interfaces/asset.interface.ts
  server/src/queries/asset.repository.sql
  server/src/repositories/asset.repository.ts
  server/src/services/index.ts
  server/src/services/view.service.spec.ts
  server/src/services/view.service.ts
  server/test/repositories/asset.repository.mock.ts
  web/package-lock.json
  web/src/lib/components/folder-tree/folder-tree.svelte
  web/src/lib/components/layouts/user-page-layout.svelte
  web/src/lib/components/shared-components/gallery-viewer/gallery-viewer.svelte
  web/src/lib/components/shared-components/navigation-bar/navigation-bar.svelte
  web/src/lib/components/shared-components/side-bar/folder-browser-sidebar.svelte
  web/src/lib/components/shared-components/side-bar/folder-side-bar.svelte
  web/src/lib/components/shared-components/side-bar/side-bar.svelte
  web/src/lib/constants.ts
  web/src/lib/i18n/en.json
  web/src/lib/stores/folders.store.ts
  web/src/lib/utils/folder-utils.ts
  web/src/routes/(user)/folders/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/folders/[[photos=photos]]/[[assetId=id]]/+page.ts
Labels: 🖥️web, 🗄️server, changelog:feature

#10646 feat(web): Scroll to asset in gridview; increase gridview perf; reduce memory; scrollbar ticks in fixed position
  e2e/src/web/specs/shared-link.e2e-spec.ts
  web/src/lib/actions/autogrow.ts
  web/src/lib/actions/intersection-observer.ts
  web/src/lib/actions/resize-observer.ts
  web/src/lib/actions/thumbhash.ts
  web/src/lib/components/album-page/album-viewer.svelte
  web/src/lib/components/asset-viewer/asset-viewer.svelte
  web/src/lib/components/asset-viewer/detail-panel.svelte
  web/src/lib/components/asset-viewer/intersection-observer.svelte
  web/src/lib/components/asset-viewer/photo-viewer.svelte
  web/src/lib/components/assets/thumbnail/__test__/image-thumbnail.spec.ts
  web/src/lib/components/assets/thumbnail/image-thumbnail.svelte
  web/src/lib/components/assets/thumbnail/thumbnail.svelte
  web/src/lib/components/assets/thumbnail/video-thumbnail.svelte
  web/src/lib/components/faces-page/assign-face-side-panel.svelte
  web/src/lib/components/faces-page/person-side-panel.svelte
  web/src/lib/components/memory-page/memory-viewer.svelte
  web/src/lib/components/photos-page/asset-date-group.svelte
  web/src/lib/components/photos-page/asset-grid.svelte
  web/src/lib/components/photos-page/measure-date-group.svelte
  web/src/lib/components/photos-page/memory-lane.svelte
  web/src/lib/components/photos-page/skeleton.svelte
  web/src/lib/components/shared-components/gallery-viewer/gallery-viewer.svelte
  web/src/lib/components/shared-components/scrollbar/scrollbar.svelte
  web/src/lib/components/shared-components/scrubber/scrubber.svelte
  web/src/lib/components/utilities-page/duplicates/duplicates-compare-control.svelte
  web/src/lib/stores/asset-viewing.store.ts
  web/src/lib/stores/asset.store.spec.ts
  web/src/lib/stores/assets.store.ts
  web/src/lib/utils/asset-store-task-manager.ts
  web/src/lib/utils/asset-utils.ts
  web/src/lib/utils/idle-callback-support.ts
  web/src/lib/utils/keyed-priority-queue.ts
  web/src/lib/utils/navigation.ts
  web/src/lib/utils/priority-queue.ts
  web/src/lib/utils/timeline-util.ts
  web/src/lib/utils/tunables.ts
  web/src/routes/(user)/+layout.svelte
  web/src/routes/(user)/albums/[albumId=id]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/archive/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/favorites/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/map/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/partners/[userId]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/people/[personId]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/photos/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/search/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/share/[key]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/trash/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/static/dark_skeleton.png
  web/static/light_skeleton.png
Labels: 🖥️web, changelog:feature

#11933 chore: ignore sql queries when building docker
  .dockerignore
Labels: changelog:skip

#11913 feat(web): Left hand navigation for memories
  web/src/lib/components/memory-page/memory-viewer.svelte
Labels: 🖥️web, changelog:enhancement

#11967 refactor(web): folder view
  web/src/lib/components/folder-tree/folder-tree.svelte
  web/src/lib/components/layouts/user-page-layout.svelte
  web/src/lib/components/shared-components/side-bar/folder-browser-sidebar.svelte
  web/src/lib/components/shared-components/side-bar/folder-side-bar.svelte
  web/src/lib/components/shared-components/tree/tree-item-thumbnails.svelte
  web/src/lib/components/shared-components/tree/tree-items.svelte
  web/src/lib/components/shared-components/tree/tree.svelte
  web/src/lib/constants.ts
  web/src/lib/utils/tree-utils.ts
  web/src/routes/(user)/folders/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/folders/[[photos=photos]]/[[assetId=id]]/+page.ts
Labels: 🖥️web, changelog:skip

#11983 fix: remove `asset.resized`
  e2e/src/api/specs/asset.e2e-spec.ts
  mobile/openapi/lib/model/asset_response_dto.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/dtos/asset-response.dto.ts
  server/src/queries/asset.repository.sql
  server/src/repositories/asset.repository.ts
  server/test/fixtures/shared-link.stub.ts
  web/src/lib/components/asset-viewer/asset-viewer.svelte
  web/src/lib/components/asset-viewer/photo-viewer.svelte
  web/src/lib/components/assets/broken-asset.svelte
  web/src/lib/components/assets/thumbnail/image-thumbnail.svelte
  web/src/lib/components/assets/thumbnail/thumbnail.svelte
  web/src/lib/components/sharedlinks-page/covers/__tests__/share-cover.spec.ts
  web/src/lib/components/sharedlinks-page/covers/asset-cover.svelte
  web/src/lib/components/sharedlinks-page/covers/share-cover.svelte
  web/src/lib/components/sharedlinks-page/shared-link-card.svelte
  web/src/test-data/factories/asset-factory.ts
Labels: 🖥️web, 🗄️server, changelog:skip

#11966 fix(web): rating stars accessibility
  web/src/lib/actions/focus-outside.ts
  web/src/lib/components/asset-viewer/detail-panel-star-rating.svelte
  web/src/lib/components/shared-components/__test__/star-rating.spec.ts
  web/src/lib/components/shared-components/combobox.svelte
  web/src/lib/components/shared-components/search-bar/search-bar.svelte
  web/src/lib/components/shared-components/star-rating.svelte
  web/src/lib/i18n/en.json
Labels: 🖥️web, accessibility, changelog:bugfix

#12007 feat(web): my immich shortcut
  web/src/routes/+layout.svelte
Labels: 🖥️web, changelog:enhancement

#11741 fix(mobile): Fix for incorrectly naming edited files and structure change
  mobile/lib/pages/editing/crop.page.dart
  mobile/lib/pages/editing/edit.page.dart
  mobile/lib/routing/router.gr.dart
  mobile/lib/widgets/asset_viewer/bottom_gallery_bar.dart
Labels: 📱mobile, changelog:bugfix

#11988 fix(web): show a clearer confirmation message when deleting an unnamed album
  web/src/lib/components/album-page/albums-list.svelte
  web/src/lib/i18n/en.json
  web/src/lib/utils/album-utils.ts
  web/src/routes/(user)/albums/[albumId=id]/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:enhancement

#11951 fix: align camera model drop down behavior with other drop downs on web and mobile
  mobile/lib/widgets/search/search_filter/camera_picker.dart
  mobile/lib/widgets/search/search_filter/common/dropdown.dart
  web/src/lib/components/shared-components/search-bar/search-camera-section.svelte
Labels: 📱mobile, 🖥️web, changelog:bugfix

#11910 chore(mobile): patch download > includeEmbeddedVideos user preferences
  mobile/lib/providers/authentication.provider.dart
  mobile/lib/utils/openapi_patching.dart
Labels: 📱mobile, changelog:skip

#12027 fix: docs link to breaking changes
  docs/docs/install/docker-compose.mdx
Labels: documentation, changelog:skip

#12038 fix(web): sort folders
  web/src/lib/utils/tree-utils.ts
Labels: 🖥️web, changelog:skip

#12039 fix(web): announce current theme to screen reader users
  web/src/lib/components/shared-components/theme-button.svelte
  web/src/lib/i18n/en.json
Labels: 🖥️web, accessibility, changelog:bugfix

#12048 feat(format): nrw format
  server/src/utils/mime-types.spec.ts
  server/src/utils/mime-types.ts
Labels: 🗄️server, changelog:enhancement

#12054 fix: do not code format repro steps in issue template
  .github/ISSUE_TEMPLATE/bug_report.yaml
Labels: changelog:skip

#12055 docs: add Immich Kiosk and Immich Power Tools to Community Projects
  docs/src/components/community-projects.tsx
Labels: documentation, changelog:documentation

#12042 feat(web): restore scroll position on navigating back to search page
  web/src/routes/(user)/search/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:enhancement

#12058 fix(web): show supporter badge for account less than 14 days
  web/src/lib/components/shared-components/side-bar/purchase-info.svelte
Labels: 🖥️web, changelog:bugfix

#11965 feat(mobile): preserve mobile album info on upload
  mobile/assets/i18n/en-US.json
  mobile/lib/entities/store.entity.dart
  mobile/lib/models/backup/backup_candidate.model.dart
  mobile/lib/models/backup/backup_state.model.dart
  mobile/lib/models/backup/success_upload_asset.model.dart
  mobile/lib/pages/backup/backup_album_selection.page.dart
  mobile/lib/providers/album/album.provider.dart
  mobile/lib/providers/backup/backup.provider.dart
  mobile/lib/providers/backup/manual_upload.provider.dart
  mobile/lib/services/album.service.dart
  mobile/lib/services/app_settings.service.dart
  mobile/lib/services/asset.service.dart
  mobile/lib/services/background.service.dart
  mobile/lib/services/backup.service.dart
  mobile/lib/widgets/backup/album_info_card.dart
  mobile/lib/widgets/backup/album_info_list_tile.dart
  mobile/lib/widgets/settings/backup_settings/backup_settings.dart
  mobile/lib/widgets/settings/settings_button_list_tile.dart
  mobile/lib/widgets/settings/settings_switch_list_tile.dart
Labels: 📱mobile, 🗄️server, changelog:feature

#12060 fix(web): shared link expiration date accessibility
  web/src/lib/components/shared-components/create-share-link-modal/create-shared-link-modal.svelte
  web/src/lib/components/shared-components/dropdown-button.svelte
  web/src/lib/components/shared-components/settings/setting-select.svelte
Labels: 🖥️web, accessibility, changelog:bugfix

#12000 feat(server): Storage template support album condition
  server/src/services/storage-template.service.spec.ts
  server/src/services/storage-template.service.ts
Labels: 🗄️server, changelog:enhancement

#12074 docs: mTLS/self signed FAQ entry
  docs/docs/FAQ.mdx
  docs/src/components/community-projects.tsx
Labels: documentation, changelog:documentation

#12018 fix(mobile): Changes in the UI for the image editor pages
  mobile/assets/i18n/en-US.json
  mobile/assets/i18n/es-US.json
  mobile/lib/pages/editing/crop.page.dart
  mobile/lib/pages/editing/edit.page.dart
  mobile/lib/utils/hooks/crop_controller_hook.dart
Labels: 📱mobile, changelog:enhancement

#12079 docs: external library deletion/edits
  docs/docs/FAQ.mdx
Labels: documentation, changelog:documentation

#12082 chore(web): ignore shortcut toggle when entering email and password
  web/src/lib/actions/shortcut.ts
Labels: 🖥️web, changelog:enhancement

#12084 refactor(server): event names
  server/src/app.module.ts
  server/src/interfaces/event.interface.ts
  server/src/services/album.service.spec.ts
  server/src/services/album.service.ts
  server/src/services/database.service.ts
  server/src/services/library.service.ts
  server/src/services/metadata.service.ts
  server/src/services/microservices.service.ts
  server/src/services/notification.service.ts
  server/src/services/server.service.ts
  server/src/services/smart-info.service.ts
  server/src/services/storage-template.service.ts
  server/src/services/storage.service.ts
  server/src/services/system-config.service.ts
  server/src/services/user-admin.service.ts
  server/src/services/version.service.ts
Labels: 🗄️server, changelog:skip

#12071 feat(web): announce notifications to screen readers
  e2e/src/web/specs/photo-viewer.e2e-spec.ts
  web/src/lib/components/shared-components/context-menu/context-menu.svelte
  web/src/lib/components/shared-components/loading-spinner.svelte
  web/src/lib/components/shared-components/notification/__tests__/notification-card.spec.ts
  web/src/lib/components/shared-components/notification/__tests__/notification-list.spec.ts
  web/src/lib/components/shared-components/notification/notification-card.svelte
  web/src/lib/components/shared-components/notification/notification-list.svelte
Labels: 🖥️web, accessibility, changelog:enhancement

#12075 ci: use push-o-matic app for release process
  .github/workflows/prepare-release.yml
Labels: changelog:skip

#12087 chore(web): ensure goto is awaited for login page
  web/src/routes/auth/login/+page.svelte
  web/src/routes/auth/onboarding/+page.svelte
Labels: 🖥️web, changelog:enhancement

#12086 docs: sql query for duplicate files
  docs/docs/guides/database-queries.md
Labels: documentation, changelog:documentation

#12088 chore(web): resolve timeline flashing temporarily
  web/src/lib/stores/assets.store.ts
Labels: 🖥️web, changelog:skip

#12090 chore(web): subtler spinner FOUC animation
  web/src/app.html
Labels: 🖥️web, changelog:skip

#11874 fix(cli): Update build instructions for CLI
  cli/README.md
Labels: changelog:skip

#10832 fix(mobile): use a valid OAuth callback URL
  docs/docs/administration/oauth.md
  mobile/android/app/src/main/AndroidManifest.xml
  mobile/lib/pages/login/login.page.dart
  mobile/lib/services/oauth.service.dart
  mobile/lib/widgets/forms/login/login_form.dart
  server/src/constants.ts
  server/src/services/auth.service.spec.ts
  server/src/services/auth.service.ts
  web/src/lib/components/admin-page/settings/auth/auth-settings.svelte
  web/src/lib/i18n/en.json
Labels: documentation, 📱mobile, 🖥️web, 🗄️server, changelog:breaking-change

#11758 chore(web): update translations
  web/src/lib/i18n/ar.json
  web/src/lib/i18n/bg.json
  web/src/lib/i18n/cs.json
  web/src/lib/i18n/da.json
  web/src/lib/i18n/de.json
  web/src/lib/i18n/en.json
  web/src/lib/i18n/es.json
  web/src/lib/i18n/et.json
  web/src/lib/i18n/fa.json
  web/src/lib/i18n/fi.json
  web/src/lib/i18n/fr.json
  web/src/lib/i18n/he.json
  web/src/lib/i18n/hr.json
  web/src/lib/i18n/hu.json
  web/src/lib/i18n/id.json
  web/src/lib/i18n/it.json
  web/src/lib/i18n/ko.json
  web/src/lib/i18n/lt.json
  web/src/lib/i18n/mn.json
  web/src/lib/i18n/nb_NO.json
  web/src/lib/i18n/nl.json
  web/src/lib/i18n/pl.json
  web/src/lib/i18n/pt.json
  web/src/lib/i18n/pt_BR.json
  web/src/lib/i18n/ru.json
  web/src/lib/i18n/sl.json
  web/src/lib/i18n/sr_Cyrl.json
  web/src/lib/i18n/sr_Latn.json
  web/src/lib/i18n/sv.json
  web/src/lib/i18n/ta.json
  web/src/lib/i18n/th.json
  web/src/lib/i18n/tr.json
  web/src/lib/i18n/uk.json
  web/src/lib/i18n/vi.json
  web/src/lib/i18n/zh_Hant.json
  web/src/lib/i18n/zh_SIMPLIFIED.json
Labels: 🖥️web, changelog:skip

#11516 docs: Documentation updates
  docs/docs/FAQ.mdx
  docs/docs/administration/img/admin-jobs.png
  docs/docs/administration/img/admin-jobs.webp
  docs/docs/administration/jobs-workers.md
  docs/docs/administration/system-settings.md
  docs/docs/features/shared-albums.md
  docs/docs/guides/remote-access.md
  docs/docs/guides/remote-machine-learning.md
  docs/src/components/community-projects.tsx
Labels: documentation, changelog:documentation

#7934 fix(server): don't crash when refreshing large libraries
  e2e/src/api/specs/library.e2e-spec.ts
  server/package-lock.json
  server/package.json
  server/src/dtos/library.dto.ts
  server/src/interfaces/asset.interface.ts
  server/src/interfaces/job.interface.ts
  server/src/interfaces/library.interface.ts
  server/src/interfaces/storage.interface.ts
  server/src/queries/library.repository.sql
  server/src/repositories/asset.repository.ts
  server/src/repositories/job.repository.ts
  server/src/repositories/library.repository.ts
  server/src/repositories/storage.repository.ts
  server/src/services/library.service.spec.ts
  server/src/services/library.service.ts
  server/src/services/microservices.service.ts
  server/test/repositories/library.repository.mock.ts
  web/src/routes/admin/library-management/+page.svelte
Labels: 🖥️web, 🗄️server, external-library, changelog:enhancement

#12102 fix(server): ensure new exclusion patterns work
  e2e/src/api/specs/library.e2e-spec.ts
  server/package-lock.json
  server/package.json
  server/src/interfaces/job.interface.ts
  server/src/services/library.service.spec.ts
  server/src/services/library.service.ts
Labels: 🗄️server, external-library, changelog:bugfix

#12106 chore(web): enforce valid translation keys using typescript
  web/src/app.d.ts
  web/src/lib/components/i18n/__test__/format-message.spec.ts
  web/src/lib/components/i18n/__test__/format-tag-b.svelte
  web/src/lib/components/i18n/format-bold-message.svelte
  web/src/lib/components/i18n/format-message.svelte
  web/src/lib/i18n.spec.ts
  web/src/routes/+page.ts
Labels: 🖥️web, changelog:skip

#12065 feat(ml): support dynamic scaling
  docs/docs/install/environment-variables.md
  machine-learning/start.sh
Labels: documentation, 🧠machine-learning, changelog:enhancement

#11888 feat(web): navigate assets with gestures (next/prev)
  web/package-lock.json
  web/package.json
  web/src/lib/components/asset-viewer/asset-viewer.svelte
  web/src/lib/components/asset-viewer/photo-viewer.svelte
  web/src/lib/components/asset-viewer/video-native-viewer.svelte
  web/src/lib/components/asset-viewer/video-wrapper-viewer.svelte
Labels: 🖥️web, changelog:enhancement

#12103 fix(mobile): allow create empty non-shared albums, add proper button colors
  mobile/lib/pages/common/create_album.page.dart
Labels: 📱mobile, changelog:enhancement

#12111 fix(server): skip smtp validation if unchanged
  server/src/services/notification.service.spec.ts
  server/src/services/notification.service.ts
  server/src/services/system-config.service.ts
  server/src/utils/object.ts
Labels: 🗄️server, changelog:bugfix

#12100 fix(mobile): long waiting time for login request when server is unreachable
  mobile/lib/providers/authentication.provider.dart
Labels: 📱mobile, changelog:bugfix

#12117 feat(web): jump to timeline
  web/src/lib/components/asset-viewer/asset-viewer-nav-bar.svelte
  web/src/lib/components/memory-page/memory-viewer.svelte
  web/src/lib/i18n/en.json
Labels: 🖥️web, changelog:feature

#12125 fix: user specific fields in asset search
  server/src/services/search.service.ts
Labels: 🗄️server, changelog:bugfix

#12107 chore(server): log path when generating external thumbnail
  server/src/services/media.service.ts
Labels: 🗄️server, external-library, changelog:enhancement

#12126 docs: update roadmap
  docs/src/pages/roadmap.tsx
Labels: documentation, changelog:documentation

#12127 fix(web): Device list shows Ubuntu as unknown OS
  web/src/lib/components/user-settings-page/device-card.svelte
Labels: 🖥️web, changelog:bugfix

#12124 fix: README_zh_CN.md link
  readme_i18n/README_zh_CN.md
Labels: changelog:documentation

#12130 chore(mobile): disable Impeller on Android
  mobile/android/app/src/main/AndroidManifest.xml
Labels: changelog:skip

#12132 chore(e2e): change e2e ports to some not used by immich-dev
  e2e/docker-compose.yml
  e2e/playwright.config.ts
  e2e/src/api/specs/oauth.e2e-spec.ts
  e2e/src/cli/specs/login.e2e-spec.ts
  e2e/src/cli/specs/server-info.e2e-spec.ts
  e2e/src/setup/auth-server.ts
  e2e/src/utils.ts
  e2e/src/web/specs/websocket.e2e-spec.ts
  e2e/vitest.config.ts
Labels: changelog:skip

#12139 fix(web): reset asset grid after changing album order
  web/src/routes/(user)/albums/[albumId=id]/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:bugfix

#12143 chore(server): deprecate resized property
  mobile/openapi/lib/model/asset_response_dto.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/dtos/asset-response.dto.ts
Labels: 🗄️server, changelog:skip

#12097 chore(web): update translations
  web/src/lib/i18n/ar.json
  web/src/lib/i18n/bg.json
  web/src/lib/i18n/cs.json
  web/src/lib/i18n/de.json
  web/src/lib/i18n/es.json
  web/src/lib/i18n/et.json
  web/src/lib/i18n/fr.json
  web/src/lib/i18n/id.json
  web/src/lib/i18n/ja.json
  web/src/lib/i18n/lt.json
  web/src/lib/i18n/nl.json
  web/src/lib/i18n/pt_BR.json
  web/src/lib/i18n/ro.json
  web/src/lib/i18n/ru.json
  web/src/lib/i18n/sr_Cyrl.json
  web/src/lib/i18n/sr_Latn.json
  web/src/lib/i18n/vi.json
  web/src/lib/i18n/zh_Hant.json
  web/src/lib/i18n/zh_SIMPLIFIED.json
Labels: 🖥️web, changelog:skip

#12144 chore(mobile): translations update
  mobile/assets/i18n/ar-JO.json
  mobile/assets/i18n/cs-CZ.json
  mobile/assets/i18n/da-DK.json
  mobile/assets/i18n/de-DE.json
  mobile/assets/i18n/el-GR.json
  mobile/assets/i18n/en-US.json
  mobile/assets/i18n/es-ES.json
  mobile/assets/i18n/es-MX.json
  mobile/assets/i18n/es-PE.json
  mobile/assets/i18n/es-US.json
  mobile/assets/i18n/fi-FI.json
  mobile/assets/i18n/fr-CA.json
  mobile/assets/i18n/fr-FR.json
  mobile/assets/i18n/he-IL.json
  mobile/assets/i18n/hi-IN.json
  mobile/assets/i18n/hu-HU.json
  mobile/assets/i18n/it-IT.json
  mobile/assets/i18n/ja-JP.json
  mobile/assets/i18n/ko-KR.json
  mobile/assets/i18n/lt-LT.json
  mobile/assets/i18n/lv-LV.json
  mobile/assets/i18n/mn.json
  mobile/assets/i18n/nb-NO.json
  mobile/assets/i18n/nl-NL.json
  mobile/assets/i18n/pl-PL.json
  mobile/assets/i18n/pt-PT.json
  mobile/assets/i18n/ro-RO.json
  mobile/assets/i18n/ru-RU.json
  mobile/assets/i18n/sk-SK.json
  mobile/assets/i18n/sl-SI.json
  mobile/assets/i18n/sr-Cyrl.json
  mobile/assets/i18n/sr-Latn.json
  mobile/assets/i18n/sv-FI.json
  mobile/assets/i18n/sv-SE.json
  mobile/assets/i18n/th-TH.json
  mobile/assets/i18n/uk-UA.json
  mobile/assets/i18n/vi-VN.json
  mobile/assets/i18n/zh-CN.json
  mobile/assets/i18n/zh-Hans.json
  mobile/assets/i18n/zh-TW.json
Labels: changelog:skip

#12142 chore(web): tag creation hint
  web/src/lib/components/forms/tag-asset-form.svelte
  web/src/lib/i18n/en.json
Labels: 🖥️web, changelog:skip
