Repository immich-app/immich, pull requests merged in 2024-04, with the labels that each got.

#8427 docs: Postgres standalone fix
  docs/docs/administration/postgres-standalone.md
Labels: documentation

#8324 fix(mobile): update album date range on add/remove
  mobile/lib/modules/album/services/album.service.dart
Labels: 📱mobile

#8392 feat(mobile): search enhancement
  mobile/ios/Podfile.lock
  mobile/lib/modules/home/ui/asset_grid/immich_asset_grid.dart
  mobile/lib/modules/search/models/curated_content.dart
  mobile/lib/modules/search/models/search_filter.dart
  mobile/lib/modules/search/providers/paginated_search.provider.dart
  mobile/lib/modules/search/providers/paginated_search.provider.g.dart
  mobile/lib/modules/search/providers/people.provider.dart
  mobile/lib/modules/search/providers/people.provider.g.dart
  mobile/lib/modules/search/providers/search_filter.provider.dart
  mobile/lib/modules/search/providers/search_filter.provider.g.dart
  mobile/lib/modules/search/providers/search_result_page.provider.dart
  mobile/lib/modules/search/services/person.service.dart
  mobile/lib/modules/search/services/search.service.dart
  mobile/lib/modules/search/ui/explore_grid.dart
  mobile/lib/modules/search/ui/immich_search_bar.dart
  mobile/lib/modules/search/ui/search_filter/camera_picker.dart
  mobile/lib/modules/search/ui/search_filter/display_option_picker.dart
  mobile/lib/modules/search/ui/search_filter/filter_bottom_sheet_scaffold.dart
  mobile/lib/modules/search/ui/search_filter/location_picker.dart
  mobile/lib/modules/search/ui/search_filter/media_type_picker.dart
  mobile/lib/modules/search/ui/search_filter/people_picker.dart
  mobile/lib/modules/search/ui/search_filter/search_filter_chip.dart
  mobile/lib/modules/search/ui/search_filter/search_filter_utils.dart
  mobile/lib/modules/search/ui/search_suggestion_list.dart
  mobile/lib/modules/search/views/all_people_page.dart
  mobile/lib/modules/search/views/search_input_page.dart
  mobile/lib/modules/search/views/search_page.dart
  mobile/lib/modules/search/views/search_result_page.dart
  mobile/lib/routing/router.dart
  mobile/lib/routing/router.gr.dart
  mobile/lib/routing/tab_navigation_observer.dart
  mobile/lib/shared/ui/asset_grid/multiselect_grid.dart
  mobile/lib/shared/views/tab_controller_page.dart
  mobile/lib/utils/immich_app_theme.dart
  mobile/pubspec.lock
Labels: 📱mobile

#8432 fix(server): sorting memory date
  server/src/services/asset.service.spec.ts
  server/src/services/asset.service.ts
Labels: 🗄️server

#8442 fix(web): asset description resize
  web/src/lib/components/asset-viewer/detail-panel.svelte
Labels: 🖥️web

#8458 fix(web): weird Overpass font height
  web/src/app.css
Labels: 🖥️web

#8332 fix(mobile): sync all album properties
  mobile/lib/shared/models/album.dart
  mobile/lib/shared/services/sync.service.dart
  mobile/lib/utils/datetime_comparison.dart
Labels: 📱mobile

#8330 feat: persistent memories
  e2e/src/api/specs/memory.e2e-spec.ts
  mobile/openapi/.openapi-generator/FILES
  mobile/openapi/README.md
  mobile/openapi/doc/MemoryApi.md
  mobile/openapi/doc/MemoryCreateDto.md
  mobile/openapi/doc/MemoryResponseDto.md
  mobile/openapi/doc/MemoryType.md
  mobile/openapi/doc/MemoryUpdateDto.md
  mobile/openapi/lib/api.dart
  mobile/openapi/lib/api/memory_api.dart
  mobile/openapi/lib/api_client.dart
  mobile/openapi/lib/api_helper.dart
  mobile/openapi/lib/model/memory_create_dto.dart
  mobile/openapi/lib/model/memory_response_dto.dart
  mobile/openapi/lib/model/memory_type.dart
  mobile/openapi/lib/model/memory_update_dto.dart
  mobile/openapi/test/memory_api_test.dart
  mobile/openapi/test/memory_create_dto_test.dart
  mobile/openapi/test/memory_response_dto_test.dart
  mobile/openapi/test/memory_type_test.dart
  mobile/openapi/test/memory_update_dto_test.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/controllers/index.ts
  server/src/controllers/memory.controller.ts
  server/src/cores/access.core.ts
  server/src/dtos/memory.dto.ts
  server/src/entities/index.ts
  server/src/entities/memory.entity.ts
  server/src/interfaces/access.interface.ts
  server/src/interfaces/memory.interface.ts
  server/src/migrations/1711637874206-AddMemoryTable.ts
  server/src/queries/access.repository.sql
  server/src/queries/memory.repository.sql
  server/src/repositories/access.repository.ts
  server/src/repositories/index.ts
  server/src/repositories/memory.repository.ts
  server/src/services/index.ts
  server/src/services/memory.service.spec.ts
  server/src/services/memory.service.ts
  server/test/fixtures/memory.stub.ts
  server/test/repositories/access.repository.mock.ts
  server/test/repositories/memory.repository.mock.ts
Labels: 🗄️server

#8394 feat(docs): Supported Formats
  docs/docs/features/supported-formats.md
Labels: documentation

#8418 docs: update FAQ for Docker
  docs/docs/FAQ.mdx
Labels: documentation

#8465 docs: update DB_URL_FILE
  docs/docs/install/environment-variables.md
Labels: documentation

#5983 feat(web): add keyboard shortcut to stack selected photos
  web/src/lib/components/photos-page/actions/stack-action.svelte
  web/src/lib/components/photos-page/asset-grid.svelte
  web/src/lib/components/shared-components/show-shortcuts.svelte
  web/src/lib/utils/asset-utils.ts
Labels: 🖥️web

#8388 feat(web,a11y): standardize base modal
  web/src/lib/components/album-page/share-info-modal.svelte
  web/src/lib/components/album-page/user-selection-modal.svelte
  web/src/lib/components/asset-viewer/asset-viewer.svelte
  web/src/lib/components/photos-page/actions/create-shared-link.svelte
  web/src/lib/components/shared-components/album-selection-modal.svelte
  web/src/lib/components/shared-components/base-modal.svelte
  web/src/lib/components/shared-components/create-share-link-modal/create-shared-link-modal.svelte
  web/src/lib/components/shared-components/profile-image-cropper.svelte
  web/src/lib/components/user-settings-page/partner-selection-modal.svelte
  web/src/routes/(user)/photos/+page.svelte
Labels: 🖥️web, accessibility

#8468 docs: add some details for getting started as a developer
  docs/docs/developer/setup.md
  server/README.md
  web/README.md
Labels: documentation

#8469 chore(web): fine tuning styling for base modal
  web/src/lib/components/shared-components/base-modal.svelte
  web/src/lib/components/shared-components/create-share-link-modal/create-shared-link-modal.svelte
Labels: 🖥️web

#8470 chore: update openapi
  mobile/openapi/.openapi-generator/FILES
  mobile/openapi/README.md
  mobile/openapi/doc/MemoryCreateDto.md
  mobile/openapi/doc/MemoryResponseDto.md
  mobile/openapi/doc/OnThisDayDto.md
  mobile/openapi/lib/api.dart
  mobile/openapi/lib/api_client.dart
  mobile/openapi/lib/model/memory_create_dto.dart
  mobile/openapi/lib/model/memory_response_dto.dart
  mobile/openapi/lib/model/on_this_day_dto.dart
  mobile/openapi/test/memory_create_dto_test.dart
  mobile/openapi/test/memory_response_dto_test.dart
  mobile/openapi/test/on_this_day_dto_test.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
Labels: 🗄️server

#8288 fix(web): show download button correctly based on shared link permission
  e2e/src/api/specs/search.e2e-spec.ts
  web/src/lib/components/asset-viewer/asset-viewer-nav-bar.svelte
  web/src/lib/components/asset-viewer/asset-viewer.svelte
  web/src/lib/utils.ts
  web/src/routes/(user)/share/[key]/+page.svelte
  web/src/routes/(user)/share/[key]/+page.ts
Labels: 🖥️web

#8490 docs: Update environment variable services
  docs/docs/install/environment-variables.md
Labels: documentation

#8486 fix(web): prevent fetching asset info twice
  web/src/lib/components/asset-viewer/asset-viewer.svelte
  web/src/lib/components/photos-page/asset-date-group.svelte
  web/src/lib/components/photos-page/asset-grid.svelte
  web/src/lib/stores/asset-viewing.store.ts
  web/src/lib/stores/asset.store.spec.ts
  web/src/lib/stores/assets.store.ts
  web/src/lib/utils/slideshow-history.ts
  web/src/routes/(user)/albums/[albumId]/+page.svelte
Labels: 🖥️web

#8522 Add notes for facial recogniton models source
  machine-learning/README.md
Labels: documentation

#8517 Localizely: Translations update
  mobile/assets/i18n/ca.json
  mobile/assets/i18n/cs-CZ.json
  mobile/assets/i18n/da-DK.json
  mobile/assets/i18n/de-DE.json
  mobile/assets/i18n/en-US.json
  mobile/assets/i18n/es-ES.json
  mobile/assets/i18n/es-MX.json
  mobile/assets/i18n/es-PE.json
  mobile/assets/i18n/fi-FI.json
  mobile/assets/i18n/fr-FR.json
  mobile/assets/i18n/hi-IN.json
  mobile/assets/i18n/hu-HU.json
  mobile/assets/i18n/it-IT.json
  mobile/assets/i18n/ja-JP.json
  mobile/assets/i18n/ko-KR.json
  mobile/assets/i18n/lv-LV.json
  mobile/assets/i18n/mn.json
  mobile/assets/i18n/nb-NO.json
  mobile/assets/i18n/nl-NL.json
  mobile/assets/i18n/pl-PL.json
  mobile/assets/i18n/pt-PT.json
  mobile/assets/i18n/ru-RU.json
  mobile/assets/i18n/sk-SK.json
  mobile/assets/i18n/sr-Cyrl.json
  mobile/assets/i18n/sr-Latn.json
  mobile/assets/i18n/sv-FI.json
  mobile/assets/i18n/sv-SE.json
  mobile/assets/i18n/th-TH.json
  mobile/assets/i18n/uk-UA.json
  mobile/assets/i18n/vi-VN.json
  mobile/assets/i18n/zh-CN.json
  mobile/assets/i18n/zh-Hans.json
Labels: 📱mobile

#8527 chore(mobile): add log to get file name for corrupted asset
  mobile/ios/Podfile.lock
  mobile/lib/shared/services/hash.service.dart
Labels: 📱mobile

#8535 Make language gender neutral
  docs/docs/administration/server-stats.md
Labels: documentation

#8537 feat(mobile): add missing translations
  mobile/assets/i18n/en-US.json
  mobile/lib/modules/album/ui/album_viewer_appbar.dart
  mobile/lib/modules/backup/views/backup_options_page.dart
  mobile/lib/modules/login/ui/change_password_form.dart
  mobile/lib/modules/partner/ui/partner_list.dart
  mobile/lib/modules/search/ui/search_filter/camera_picker.dart
  mobile/lib/modules/search/ui/search_filter/display_option_picker.dart
  mobile/lib/modules/search/ui/search_filter/filter_bottom_sheet_scaffold.dart
  mobile/lib/modules/search/ui/search_filter/location_picker.dart
  mobile/lib/modules/search/ui/search_filter/media_type_picker.dart
  mobile/lib/modules/search/views/search_page.dart
  mobile/lib/modules/shared_link/views/shared_link_edit_page.dart
Labels: 📱mobile

#8524 feat(docs): Add information about breaking changes
  docs/docs/install/docker-compose.mdx
Labels: documentation

#8549 docs: pre-existing postgres
  docs/docs/administration/postgres-standalone.md
Labels: documentation

#8499 feat(web): enhance ux/ui of the album list page
  web/src/lib/components/album-page/__tests__/album-card.spec.ts
  web/src/lib/components/album-page/album-card-group.svelte
  web/src/lib/components/album-page/album-card.svelte
  web/src/lib/components/album-page/album-cover.svelte
  web/src/lib/components/album-page/album-description.svelte
  web/src/lib/components/album-page/album-viewer.svelte
  web/src/lib/components/album-page/albums-controls.svelte
  web/src/lib/components/album-page/albums-list.svelte
  web/src/lib/components/album-page/albums-table-header.svelte
  web/src/lib/components/album-page/albums-table-row.svelte
  web/src/lib/components/album-page/albums-table.svelte
  web/src/lib/components/asset-viewer/asset-viewer.svelte
  web/src/lib/components/asset-viewer/detail-panel.svelte
  web/src/lib/components/elements/dropdown.svelte
  web/src/lib/components/forms/edit-album-form.svelte
  web/src/lib/components/shared-components/context-menu/context-menu.svelte
  web/src/lib/components/shared-components/context-menu/right-click-context-menu.svelte
  web/src/lib/components/shared-components/create-share-link-modal/create-shared-link-modal.svelte
  web/src/lib/components/sharedlinks-page/shared-link-card.svelte
  web/src/lib/stores/preferences.store.ts
  web/src/lib/utils/album-utils.ts
  web/src/lib/utils/asset-utils.ts
  web/src/lib/utils/date-time.ts
  web/src/routes/(user)/albums/+page.svelte
  web/src/routes/(user)/albums/[albumId]/+page.svelte
  web/src/routes/(user)/search/+page.svelte
  web/src/routes/(user)/sharing/+page.svelte
Labels: 🖥️web

#8559 fix(web): bypass the onStackAssets shortcut when only one is selected
  web/src/lib/components/photos-page/asset-grid.svelte
Labels: 🖥️web

#8553 feat(mobile): include partner's photos on map
  mobile/assets/i18n/en-US.json
  mobile/lib/modules/map/models/map_state.model.dart
  mobile/lib/modules/map/providers/map_marker.provider.dart
  mobile/lib/modules/map/providers/map_state.provider.dart
  mobile/lib/modules/map/services/map.service.dart
  mobile/lib/modules/map/widgets/map_settings_sheet.dart
  mobile/lib/modules/settings/services/app_settings.service.dart
  mobile/lib/shared/models/store.dart
Labels: 📱mobile

#8546 docs: pg_dumpall refinements
  docs/docs/FAQ.mdx
  docs/docs/administration/backup-and-restore.md
  docs/docs/guides/template-backup-script.md
Labels: documentation

#8479 feat(web,a11y): slider accessibility improvements
  web/src/lib/components/admin-page/settings/ffmpeg/ffmpeg-settings.svelte
  web/src/lib/components/admin-page/settings/image/image-settings.svelte
  web/src/lib/components/admin-page/settings/library-settings/library-settings.svelte
  web/src/lib/components/admin-page/settings/logging-settings/logging-settings.svelte
  web/src/lib/components/admin-page/settings/machine-learning-settings/machine-learning-settings.svelte
  web/src/lib/components/admin-page/settings/map-settings/map-settings.svelte
  web/src/lib/components/admin-page/settings/new-version-check-settings/new-version-check-settings.svelte
  web/src/lib/components/admin-page/settings/oauth/oauth-settings.svelte
  web/src/lib/components/admin-page/settings/password-login/password-login-settings.svelte
  web/src/lib/components/admin-page/settings/storage-template/storage-template-settings.svelte
  web/src/lib/components/admin-page/settings/trash-settings/trash-settings.svelte
  web/src/lib/components/album-page/album-options.svelte
  web/src/lib/components/elements/slider.svelte
  web/src/lib/components/forms/create-user-form.svelte
  web/src/lib/components/map-page/map-settings-modal.svelte
  web/src/lib/components/shared-components/create-share-link-modal/create-shared-link-modal.svelte
  web/src/lib/components/shared-components/settings/setting-switch.svelte
  web/src/lib/components/slideshow-settings.svelte
  web/src/lib/components/user-settings-page/app-settings.svelte
  web/src/lib/components/user-settings-page/memories-settings.svelte
  web/src/lib/components/user-settings-page/partner-settings.svelte
Labels: 🖥️web, accessibility

#8540 feat(docs): update Unraid installation guide
  docs/docs/install/unraid.md
Labels: documentation

#8572 fix(web): concurrency link on jobs page
  web/src/routes/admin/jobs-status/+page.svelte
Labels: 🖥️web

#8568 Fix typos: immcih -> immich
  docs/docs/FAQ.mdx
  mobile/assets/i18n/ja-JP.json
Labels: documentation

#8576 fix(web): some settings not disabled when using config file
  web/src/lib/components/admin-page/settings/ffmpeg/ffmpeg-settings.svelte
  web/src/lib/components/admin-page/settings/image/image-settings.svelte
Labels: 🖥️web

#8579 fix(server): image config not being updated
  server/src/entities/system-config.entity.ts
Labels: 🗄️server

#8580 chore(server): better typing for system config key
  server/src/entities/system-config.entity.ts
  server/src/services/job.service.spec.ts
Labels: 🗄️server

#8574 feat(mobile): in app language selector
  localizely.yml
  mobile/assets/i18n/en-US.json
  mobile/ios/Runner/Info.plist
  mobile/lib/constants/locales.dart
  mobile/lib/main.dart
  mobile/lib/modules/backup/background_service/localization.dart
  mobile/lib/modules/settings/views/settings_page.dart
Labels: 📱mobile

#8577 fix(web): reset to default button always being shown
  web/src/lib/components/admin-page/settings/ffmpeg/ffmpeg-settings.svelte
  web/src/lib/components/admin-page/settings/image/image-settings.svelte
  web/src/lib/components/admin-page/settings/new-version-check-settings/new-version-check-settings.svelte
  web/src/lib/components/admin-page/settings/server/server-settings.svelte
  web/src/lib/components/admin-page/settings/storage-template/storage-template-settings.svelte
  web/src/lib/components/admin-page/settings/trash-settings/trash-settings.svelte
  web/src/lib/components/admin-page/settings/user-settings/user-settings.svelte
Labels: 🖥️web

#8587 fix(server): x264/x265 params not being set correctly
  server/src/services/media.service.spec.ts
  server/src/utils/media.ts
Labels: 🗄️server

#8582 fix(server): hevc tag being set when copying a non-hevc stream
  server/src/services/media.service.spec.ts
  server/src/utils/media.ts
  server/test/fixtures/media.stub.ts
Labels: 🗄️server

#8581 feat(server,web): configure image format
  server/src/services/media.service.spec.ts
  server/src/services/media.service.ts
  web/src/lib/components/admin-page/settings/image/image-settings.svelte
Labels: 🖥️web, 🗄️server

#8619 fix: `npm i` on Windows …
  server/Dockerfile
  server/package-lock.json
  server/package.json
Labels: deployment, 🗄️server

#8561 feat(cli): Implement logic for --skip-hash
  cli/src/commands/asset.ts
  e2e/src/cli/specs/upload.e2e-spec.ts
Labels: cli

#8475 feat(web): paste photo from clipboard
  web/src/lib/components/shared-components/drag-and-drop-upload-overlay.svelte
  web/src/routes/(user)/+layout.svelte
  web/src/routes/+layout.svelte
Labels: 🖥️web

#8593 fix(server): delete thumbnail for readonly asset
  server/src/services/asset.service.spec.ts
  server/src/services/asset.service.ts
Labels: 🗄️server, external-library

#8630 feat(web): add search bar shortcuts
  web/src/lib/components/shared-components/search-bar/search-bar.svelte
  web/src/lib/components/shared-components/show-shortcuts.svelte
Labels: 🖥️web

#8618 feat(gh-templates): Require non-duplicate confirmation on FR
  .github/DISCUSSION_TEMPLATE/feature-request.yaml
Labels: maintenance

#8632 fix(gh-templates): Add required label attribute
  .github/DISCUSSION_TEMPLATE/feature-request.yaml
Labels: deployment

#8308 feat(docs):New information for sharing partners
  docs/docs/features/img/partner-sharing-1.png
  docs/docs/features/img/partner-sharing-2.png
  docs/docs/features/img/partner-sharing-3.png
  docs/docs/features/img/partner-sharing-4.png
  docs/docs/features/img/partner-sharing-5.png
  docs/docs/features/img/partner-sharing-6.png
  docs/docs/features/img/partner-sharing-7.png
  docs/docs/features/partner-sharing.md
Labels: documentation

#8476 Fix: Rename docker name in unraid setup docs
  docs/docs/install/unraid.md
Labels: documentation

#8443 mount postgres folder to local directory by default
  docker/docker-compose.yml
  docker/example.env
Labels: deployment, breaking-change

#8634 chore(web): specify that HDR videos will always be transcoded
  web/src/lib/components/admin-page/settings/ffmpeg/ffmpeg-settings.svelte
Labels: 🖥️web

#8566 feat(web,a11y): standardize the FullScreenModal UI
  web/src/lib/components/admin-page/delete-confirm-dialogue.svelte
  web/src/lib/components/admin-page/jobs/jobs-panel.svelte
  web/src/lib/components/admin-page/restore-dialogue.svelte
  web/src/lib/components/admin-page/settings/confirm-disable-login.svelte
  web/src/lib/components/album-page/album-options.svelte
  web/src/lib/components/album-page/albums-list.svelte
  web/src/lib/components/album-page/share-info-modal.svelte
  web/src/lib/components/faces-page/merge-face-selector.svelte
  web/src/lib/components/faces-page/merge-suggestion-modal.svelte
  web/src/lib/components/faces-page/set-birth-date-modal.svelte
  web/src/lib/components/forms/api-key-form.svelte
  web/src/lib/components/forms/api-key-secret.svelte
  web/src/lib/components/forms/create-user-form.svelte
  web/src/lib/components/forms/edit-album-form.svelte
  web/src/lib/components/forms/edit-user-form.svelte
  web/src/lib/components/forms/library-exclusion-pattern-form.svelte
  web/src/lib/components/forms/library-import-path-form.svelte
  web/src/lib/components/forms/library-import-paths-form.svelte
  web/src/lib/components/forms/library-scan-settings-form.svelte
  web/src/lib/components/forms/library-user-picker-form.svelte
  web/src/lib/components/map-page/map-settings-modal.svelte
  web/src/lib/components/photos-page/actions/remove-from-album.svelte
  web/src/lib/components/photos-page/actions/remove-from-shared-link.svelte
  web/src/lib/components/photos-page/delete-asset-dialog.svelte
  web/src/lib/components/shared-components/base-modal.svelte
  web/src/lib/components/shared-components/change-date.svelte
  web/src/lib/components/shared-components/change-location.svelte
  web/src/lib/components/shared-components/confirm-dialogue.svelte
  web/src/lib/components/shared-components/full-screen-modal.svelte
  web/src/lib/components/shared-components/modal-header.svelte
  web/src/lib/components/shared-components/navigation-bar/avatar-selector.svelte
  web/src/lib/components/shared-components/show-shortcuts.svelte
  web/src/lib/components/shared-components/version-announcement-box.svelte
  web/src/lib/components/slideshow-settings.svelte
  web/src/lib/components/user-settings-page/device-list.svelte
  web/src/lib/components/user-settings-page/partner-settings.svelte
  web/src/lib/components/user-settings-page/user-api-key-list.svelte
  web/src/routes/(user)/albums/[albumId]/+page.svelte
  web/src/routes/(user)/people/+page.svelte
  web/src/routes/(user)/sharing/sharedlinks/+page.svelte
  web/src/routes/(user)/trash/+page.svelte
  web/src/routes/admin/library-management/+page.svelte
  web/src/routes/admin/user-management/+page.svelte
Labels: 🖥️web, accessibility

#8638 chore(web): fixed typo expect instead of except
  web/src/lib/components/admin-page/settings/ffmpeg/ffmpeg-settings.svelte
Labels: 🖥️web

#8639 chore(server): remove unused method
  server/src/services/system-config.service.spec.ts
  server/src/services/system-config.service.ts
Labels: 🗄️server

#8640 chore: add to codeowners
  CODEOWNERS
Labels: maintenance

#8422 feat: Improve error handling for Install Script
  docs/docs/guides/remote-machine-learning.md
  docs/docs/install/requirements.md
  docs/docs/install/script.md
  install.sh
Labels: deployment

#8650 Revert "fix(deps): update typescript-projects (#8647)"
  cli/package-lock.json
  docs/package-lock.json
  e2e/package-lock.json
  open-api/typescript-sdk/package-lock.json
  server/package-lock.json
  server/package.json
  web/package-lock.json
  web/package.json
Labels: dependencies

#8641 docs: community projects
  docs/docs/administration/repair-page.md
  docs/docs/community-projects.mdx
  docs/docs/guides/api-album-sync.md
  docs/docs/guides/remove-offline-files.md
  docs/src/components/community-projects.tsx
  docs/static/_redirects
Labels: documentation

#8665 docs: Pin to Postgres v14 in postgres-backup-local
  docs/docs/administration/backup-and-restore.md
Labels: documentation

#8666 docs: add Immich Folder Album Creator
  docs/src/components/community-projects.tsx
Labels: documentation

#8662 feat(web): loop video thumbnails
  web/src/lib/components/assets/thumbnail/video-thumbnail.svelte
Labels: 🖥️web

#8620 Allow moving in photo spheres using one touch input instead of two.
  web/src/lib/components/asset-viewer/photo-sphere-viewer-adapter.svelte
Labels: 🖥️web

#8684 adding podman quadlets documentation community project
  docs/src/components/community-projects.tsx
Labels: documentation, community

#8686 fix(server): require asset permission when creating an album with them
  e2e/src/api/specs/album.e2e-spec.ts
  server/src/services/album.service.spec.ts
  server/src/services/album.service.ts
Labels: 🗄️server, security

#8491 Add AV1 transcoding support
  mobile/openapi/lib/model/video_codec.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/entities/system-config.entity.ts
  server/src/services/media.service.spec.ts
  server/src/services/media.service.ts
  server/src/utils/.media.ts.kate-swp
  server/src/utils/media.ts
  web/src/lib/components/admin-page/settings/ffmpeg/ffmpeg-settings.svelte
Labels: 🗄️server

#8692 docs: fix earthdistance restore
  docs/docs/administration/backup-and-restore.md
Labels: documentation

#8701 chore: add code owner
  CODEOWNERS
Labels: maintenance

#8698 docs: fix typo
  docs/docs/developer/setup.md
Labels: documentation

#8700 docs(ml): update hardware acceleration doc
  docker/hwaccel.ml.yml
  docs/docs/features/ml-hardware-acceleration.md
Labels: documentation

#8696 chore(web): move BaseModal to callback pattern
  web/src/lib/components/album-page/albums-list.svelte
  web/src/lib/components/album-page/share-info-modal.svelte
  web/src/lib/components/album-page/user-selection-modal.svelte
  web/src/lib/components/asset-viewer/asset-viewer.svelte
  web/src/lib/components/photos-page/actions/add-to-album.svelte
  web/src/lib/components/photos-page/actions/create-shared-link.svelte
  web/src/lib/components/shared-components/album-selection-modal.svelte
  web/src/lib/components/shared-components/base-modal.svelte
  web/src/lib/components/shared-components/create-share-link-modal/create-shared-link-modal.svelte
  web/src/lib/components/shared-components/full-screen-modal.svelte
  web/src/lib/components/shared-components/modal-header.svelte
  web/src/lib/components/shared-components/profile-image-cropper.svelte
  web/src/lib/components/user-settings-page/partner-selection-modal.svelte
  web/src/lib/components/user-settings-page/partner-settings.svelte
  web/src/routes/(user)/albums/[albumId]/+page.svelte
  web/src/routes/(user)/sharing/sharedlinks/+page.svelte
Labels: 🖥️web

#8719 fix(server): prevent cross-library motion photo linking, made getByChecksum library specific
  server/src/interfaces/asset.interface.ts
  server/src/queries/asset.repository.sql
  server/src/repositories/asset.repository.ts
  server/src/services/metadata.service.ts
Labels: 🗄️server

#8724 fix(server): link motion photo with existing video asset
  server/src/services/metadata.service.spec.ts
  server/src/services/metadata.service.ts
Labels: 🗄️server

#8726 chore(mobile): move language setting to another file
  mobile/lib/modules/settings/ui/language_settings.dart
  mobile/lib/modules/settings/views/settings_page.dart
Labels: 📱mobile

#8727 docs: clarify details of connecting to backend for development
  docs/docs/developer/setup.md
Labels: documentation

#8729 fix(mobile): show error details in the log when available
  mobile/lib/shared/services/immich_logger.service.dart
Labels: 📱mobile

#8736 Add lightroom plugin to community projects
  docs/src/components/community-projects.tsx
Labels: documentation

#8737 docs: document type of checksum stored in DB
  docs/docs/guides/database-queries.md
Labels: documentation

#8740 docs: DB queries cleanups
  docs/docs/administration/postgres-standalone.md
  docs/docs/guides/database-queries.md
Labels: documentation

#8739 fix(mobile): random logout
  mobile/lib/shared/views/splash_screen.dart
Labels: 📱mobile

#8693 refactor: library e2e
  e2e/package-lock.json
  e2e/package.json
  e2e/src/api/specs/asset.e2e-spec.ts
  e2e/src/api/specs/library.e2e-spec.ts
  e2e/src/utils.ts
  e2e/vitest.config.ts
  server/e2e/jobs/specs/library.e2e-spec.ts
Labels: tech-debt

#8759 docs: Add community project
  docs/src/components/community-projects.tsx
Labels: documentation

#8757 fix(web): ui tweaks
  web/src/lib/components/asset-viewer/asset-viewer.svelte
  web/src/lib/components/asset-viewer/video-viewer.svelte
  web/src/routes/(user)/albums/[albumId]/+page.svelte
  web/src/routes/admin/user-management/+page.svelte
Labels: 🖥️web

#8730 fix(web): focus escaping from modals
  web/src/lib/components/forms/library-exclusion-pattern-form.svelte
  web/src/lib/components/shared-components/focus-trap.svelte
Labels: 🖥️web

#8786 docs: note that uploads are disabled on demo app
  docs/docs/developer/setup.md
Labels: documentation

#8721 fix(server): external library motion photo video asset handling
  server/src/interfaces/asset.interface.ts
  server/src/queries/asset.repository.sql
  server/src/repositories/asset.repository.ts
  server/src/services/asset.service.ts
  server/src/services/library.service.spec.ts
  server/src/services/library.service.ts
  server/test/fixtures/asset.stub.ts
  server/test/repositories/asset.repository.mock.ts
Labels: 🗄️server

#8723 feat(mobile): haptic feedback setting
  mobile/assets/i18n/en-US.json
  mobile/lib/modules/asset_viewer/views/gallery_viewer.dart
  mobile/lib/modules/backup/ui/album_info_card.dart
  mobile/lib/modules/backup/ui/album_info_list_tile.dart
  mobile/lib/modules/home/ui/asset_grid/group_divider_title.dart
  mobile/lib/modules/home/ui/asset_grid/immich_asset_grid_view.dart
  mobile/lib/modules/home/ui/asset_grid/thumbnail_image.dart
  mobile/lib/modules/login/providers/authentication.provider.dart
  mobile/lib/modules/memories/ui/memory_lane.dart
  mobile/lib/modules/memories/views/memory_page.dart
  mobile/lib/modules/settings/services/app_settings.service.dart
  mobile/lib/modules/settings/ui/preference_settings/haptic_setting.dart
  mobile/lib/modules/settings/ui/preference_settings/preference_setting.dart
  mobile/lib/shared/models/store.dart
  mobile/lib/shared/providers/haptic_feedback.provider.dart
  mobile/lib/shared/views/tab_controller_page.dart
Labels: 📱mobile

#8637 fix(web): fix scrollbar not allowing the user to go fully top or bottom
  web/src/lib/components/shared-components/scrollbar/scrollbar.svelte
Labels: 🖥️web

#8800 (server) Allow setting the host address for the server & microservices
  docs/docs/install/environment-variables.md
  server/src/main.ts
Labels: 🗄️server

#8818 fix(web): album description height
  web/src/lib/components/album-page/album-description.svelte
Labels: 🖥️web

#8823 feat(server): correlation id via injected logger
  server/package-lock.json
  server/package.json
  server/src/app.module.ts
  server/src/config.ts
  server/src/interfaces/logger.interface.ts
  server/src/main.ts
  server/src/middleware/auth.guard.ts
  server/src/middleware/error.interceptor.ts
  server/src/repositories/index.ts
  server/src/repositories/logger.repository.ts
  server/src/services/auth.service.spec.ts
  server/src/services/auth.service.ts
  server/src/services/system-config.service.spec.ts
  server/src/services/system-config.service.ts
  server/src/utils/logger.ts
  server/test/repositories/logger.repository.mock.ts
Labels: 🗄️server

#8835 chore: cleanup library watching
  .github/workflows/test.yml
  Makefile
  docs/docs/developer/testing.md
  e2e/src/api/specs/library.e2e-spec.ts
  e2e/src/utils.ts
  server/e2e/client/asset-api.ts
  server/e2e/client/auth-api.ts
  server/e2e/client/index.ts
  server/e2e/client/library-api.ts
  server/e2e/docker-compose.server-e2e.yml
  server/e2e/jobs/config/library-watcher-e2e-config.json
  server/e2e/jobs/immich-e2e-config.json
  server/e2e/jobs/jest-e2e.json
  server/e2e/jobs/setup.ts
  server/e2e/jobs/specs/library-watcher.e2e-spec.ts
  server/package-lock.json
  server/package.json
  server/src/interfaces/storage.interface.ts
  server/src/repositories/storage.repository.ts
  server/src/services/library.service.spec.ts
  server/src/services/library.service.ts
  server/test/repositories/storage.repository.mock.ts
  server/test/utils.ts
Labels: 🗄️server

#8826 chore(mobile): update TODO comment
  mobile/pubspec.yaml
Labels: 📱mobile

#8787 feat(web,a11y): consolidate BaseModal into FullScreenModal
  web/src/lib/components/album-page/albums-list.svelte
  web/src/lib/components/album-page/share-info-modal.svelte
  web/src/lib/components/album-page/user-selection-modal.svelte
  web/src/lib/components/asset-viewer/album-list-item.svelte
  web/src/lib/components/elements/buttons/button.svelte
  web/src/lib/components/faces-page/merge-suggestion-modal.svelte
  web/src/lib/components/faces-page/set-birth-date-modal.svelte
  web/src/lib/components/forms/api-key-form.svelte
  web/src/lib/components/forms/api-key-secret.svelte
  web/src/lib/components/forms/create-user-form.svelte
  web/src/lib/components/forms/edit-album-form.svelte
  web/src/lib/components/forms/edit-user-form.svelte
  web/src/lib/components/forms/library-exclusion-pattern-form.svelte
  web/src/lib/components/forms/library-import-path-form.svelte
  web/src/lib/components/forms/library-user-picker-form.svelte
  web/src/lib/components/map-page/map-settings-modal.svelte
  web/src/lib/components/shared-components/album-selection-modal.svelte
  web/src/lib/components/shared-components/base-modal.svelte
  web/src/lib/components/shared-components/change-date.svelte
  web/src/lib/components/shared-components/change-location.svelte
  web/src/lib/components/shared-components/confirm-dialogue.svelte
  web/src/lib/components/shared-components/create-share-link-modal/create-shared-link-modal.svelte
  web/src/lib/components/shared-components/full-screen-modal.svelte
  web/src/lib/components/shared-components/profile-image-cropper.svelte
  web/src/lib/components/shared-components/version-announcement-box.svelte
  web/src/lib/components/slideshow-settings.svelte
  web/src/lib/components/user-settings-page/partner-selection-modal.svelte
  web/src/routes/(user)/people/+page.svelte
  web/src/routes/admin/user-management/+page.svelte
Labels: 🖥️web, accessibility

#8814 Docs: minor changes
  docs/README.md
  docs/docs/FAQ.mdx
  docs/docs/developer/pr-checklist.md
  docs/docs/features/img/library-custom-scan-interval.png
  docs/docs/features/libraries.md
  docs/docs/features/ml-hardware-acceleration.md
  docs/docs/guides/database-gui.md
  docs/docs/guides/database-queries.md
  docs/docs/guides/external-library.md
  docs/docs/guides/remote-machine-learning.md
  docs/docs/install/docker-compose.mdx
  docs/docs/partials/_user-create.md
  docs/docusaurus.config.js
  docs/src/pages/milestones.tsx
  machine-learning/README.md
Labels: documentation

#8755 feat(server): efficient full app sync
  mobile/openapi/.openapi-generator/FILES
  mobile/openapi/README.md
  mobile/openapi/doc/AssetDeltaSyncResponseDto.md
  mobile/openapi/doc/SyncApi.md
  mobile/openapi/lib/api.dart
  mobile/openapi/lib/api/sync_api.dart
  mobile/openapi/lib/api_client.dart
  mobile/openapi/lib/model/asset_delta_sync_response_dto.dart
  mobile/openapi/test/asset_delta_sync_response_dto_test.dart
  mobile/openapi/test/sync_api_test.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/controllers/index.ts
  server/src/controllers/sync.controller.ts
  server/src/dtos/sync.dto.ts
  server/src/interfaces/asset.interface.ts
  server/src/interfaces/audit.interface.ts
  server/src/queries/asset.repository.sql
  server/src/repositories/asset.repository.ts
  server/src/repositories/audit.repository.ts
  server/src/services/audit.service.spec.ts
  server/src/services/audit.service.ts
  server/src/services/index.ts
  server/src/services/sync.service.spec.ts
  server/src/services/sync.service.ts
  server/test/repositories/asset.repository.mock.ts
Labels: 🗄️server

#8806 chore(mobile): full width language change dropdown
  mobile/lib/modules/settings/ui/language_settings.dart
Labels: 📱mobile

#8844 docs: update community Guide/Projects, small PG query updates
  docs/docs/guides/database-queries.md
  docs/src/components/community-guides.tsx
  docs/src/components/community-projects.tsx
Labels: documentation

#8851 add community project PSImmich
  docs/src/components/community-projects.tsx
Labels: documentation

#8856 chore(server): delete swap file
  server/src/utils/.media.ts.kate-swp
Labels: 🗄️server

#8855 Migrate ImmichLogger over to injected ILoggerRepository
  server/src/commands/reset-admin-password.command.ts
  server/src/controllers/shared-link.controller.ts
  server/src/controllers/system-config.controller.ts
  server/src/cores/storage.core.ts
  server/src/cores/system-config.core.ts
  server/src/main.ts
  server/src/middleware/file-upload.interceptor.ts
  server/src/repositories/access.repository.ts
  server/src/repositories/audit.repository.ts
  server/src/repositories/database.repository.ts
  server/src/repositories/event.repository.ts
  server/src/repositories/job.repository.ts
  server/src/repositories/logger.repository.ts
  server/src/repositories/media.repository.ts
  server/src/repositories/metadata.repository.ts
  server/src/repositories/metric.repository.ts
  server/src/repositories/partner.repository.ts
  server/src/repositories/person.repository.ts
  server/src/repositories/search.repository.ts
  server/src/repositories/storage.repository.spec.ts
  server/src/repositories/storage.repository.ts
  server/src/repositories/system-config.repository.ts
  server/src/repositories/system-metadata.repository.ts
  server/src/services/api.service.ts
  server/src/services/asset-v1.service.spec.ts
  server/src/services/asset-v1.service.ts
  server/src/services/asset.service.spec.ts
  server/src/services/asset.service.ts
  server/src/services/audit.service.spec.ts
  server/src/services/audit.service.ts
  server/src/services/auth.service.ts
  server/src/services/database.service.spec.ts
  server/src/services/database.service.ts
  server/src/services/job.service.spec.ts
  server/src/services/job.service.ts
  server/src/services/library.service.spec.ts
  server/src/services/library.service.ts
  server/src/services/media.service.spec.ts
  server/src/services/media.service.ts
  server/src/services/metadata.service.spec.ts
  server/src/services/metadata.service.ts
  server/src/services/person.service.spec.ts
  server/src/services/person.service.ts
  server/src/services/search.service.spec.ts
  server/src/services/search.service.ts
  server/src/services/server-info.service.spec.ts
  server/src/services/server-info.service.ts
  server/src/services/smart-info.service.spec.ts
  server/src/services/smart-info.service.ts
  server/src/services/storage-template.service.spec.ts
  server/src/services/storage-template.service.ts
  server/src/services/storage.service.spec.ts
  server/src/services/storage.service.ts
  server/src/services/system-config.service.spec.ts
  server/src/services/system-config.service.ts
  server/src/services/user.service.spec.ts
  server/src/services/user.service.ts
  server/src/utils/misc.ts
  server/src/utils/sql.ts
Labels: 🗄️server

#8858 fix(server): correlationId
  server/src/config.ts
Labels: 🗄️server

#8854 docs: bunch of small changes
  docs/docs/FAQ.mdx
  docs/docs/administration/postgres-standalone.md
  docs/docs/administration/system-settings.md
  docs/docs/features/libraries.md
  docs/docs/features/supported-formats.md
  docs/docs/install/docker-compose.mdx
  docs/docs/install/environment-variables.md
  docs/docs/install/kubernetes.md
Labels: documentation

#8859 feat(server): logging interceptor
  server/src/app.module.ts
  server/src/middleware/logging.interceptor.ts
Labels: 🗄️server

#8722 fix(server): storage usage calculation for motion photos
  server/src/queries/user.repository.sql
  server/src/repositories/user.repository.ts
  server/src/services/asset.service.ts
  server/src/services/metadata.service.spec.ts
  server/src/services/metadata.service.ts
Labels: 🗄️server

#8860 docs: fix vectors grant... again
  docs/docs/administration/postgres-standalone.md
Labels: documentation, deployment

#8857 fix(web,a11y): remove autofocus from input fields
  web/src/lib/components/elements/search-bar.svelte
  web/src/lib/components/faces-page/edit-name-input.svelte
  web/src/lib/components/shared-components/search-bar/search-people-section.svelte
Labels: 🖥️web, accessibility

#8419 feat(web): un-stack from the photos page ; fix stack count
  web/src/lib/components/asset-viewer/asset-viewer.svelte
  web/src/lib/components/photos-page/actions/stack-action.svelte
  web/src/lib/components/photos-page/asset-grid.svelte
  web/src/lib/utils/actions.ts
  web/src/lib/utils/asset-utils.ts
  web/src/routes/(user)/photos/+page.svelte
Labels: 🖥️web

#8862 refactor(server): immich-admin list-users
  e2e/src/immich-admin/specs/immich-admin.e2e-spec.ts
  e2e/src/utils.ts
  e2e/vitest.config.ts
  server/src/commands/list-users.command.ts
  server/src/services/user.service.ts
Labels: 🗄️server

#8794 Update oauth.md
  docs/docs/administration/oauth.md
Labels: documentation

#8892 fix(server): include archived images in face detection
  server/src/services/person.service.ts
Labels: 🗄️server

#8906 fix:(mobile): Updates old IMMICH text from the mobile settings modal
  mobile/fonts/SnowburstOne.ttf
  mobile/lib/shared/ui/app_bar_dialog/app_bar_dialog.dart
  mobile/pubspec.yaml
Labels: 📱mobile

#8911 docs: link to storage label docs from storage template docs
  docs/docs/partials/_storage-template.md
Labels: documentation

#8910 feat(web): add page up and page down shortcuts
  web/src/lib/components/photos-page/asset-grid.svelte
Labels: 🖥️web

#7352 fix(web): notification number of people when editing faces
  web/src/lib/components/faces-page/assign-face-side-panel.svelte
  web/src/lib/components/faces-page/person-side-panel.svelte
Labels: 🖥️web

#8909 feat(web): add an option to fill the screen with the slideshow view
  web/src/lib/components/asset-viewer/photo-viewer.svelte
  web/src/lib/components/slideshow-settings.svelte
  web/src/lib/stores/slideshow.store.ts
Labels: 🖥️web

#8920 refactor(server): cookies
  e2e/src/api/specs/auth.e2e-spec.ts
  server/src/constants.ts
  server/src/controllers/auth.controller.ts
  server/src/controllers/oauth.controller.ts
  server/src/controllers/shared-link.controller.ts
  server/src/dtos/auth.dto.ts
  server/src/middleware/auth.guard.ts
  server/src/services/auth.service.spec.ts
  server/src/services/auth.service.ts
  server/src/utils/misc.ts
  server/src/utils/response.ts
  server/test/fixtures/auth.stub.ts
Labels: 🗄️server

#8773 feat(server): use embedded preview from raw images
  docs/docs/install/config-file.md
  mobile/openapi/doc/SystemConfigImageDto.md
  mobile/openapi/lib/model/system_config_image_dto.dart
  mobile/openapi/test/system_config_image_dto_test.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/cores/storage.core.ts
  server/src/cores/system-config.core.ts
  server/src/dtos/system-config.dto.ts
  server/src/entities/system-config.entity.ts
  server/src/interfaces/media.interface.ts
  server/src/repositories/media.repository.ts
  server/src/services/media.service.spec.ts
  server/src/services/media.service.ts
  server/src/services/system-config.service.spec.ts
  server/src/utils/mime-types.spec.ts
  server/src/utils/mime-types.ts
  server/test/fixtures/asset.stub.ts
  server/test/repositories/media.repository.mock.ts
  web/src/lib/components/admin-page/settings/image/image-settings.svelte
Labels: 🗄️server

#8925 refactor(server): move file file report endpoints to their own controller
  mobile/openapi/.openapi-generator/FILES
  mobile/openapi/README.md
  mobile/openapi/doc/AuditApi.md
  mobile/openapi/doc/FileReportApi.md
  mobile/openapi/lib/api.dart
  mobile/openapi/lib/api/audit_api.dart
  mobile/openapi/lib/api/file_report_api.dart
  mobile/openapi/test/audit_api_test.dart
  mobile/openapi/test/file_report_api_test.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/controllers/audit.controller.ts
  server/src/controllers/file-report.controller.ts
  server/src/controllers/index.ts
Labels: 🗄️server

#8923 refactor: system metadata
  e2e/src/api/specs/server-info.e2e-spec.ts
  e2e/src/api/specs/system-metadata.e2e-spec.ts
  e2e/src/utils.ts
  mobile/openapi/.openapi-generator/FILES
  mobile/openapi/README.md
  mobile/openapi/doc/AdminOnboardingUpdateDto.md
  mobile/openapi/doc/ReverseGeocodingStateResponseDto.md
  mobile/openapi/doc/ServerInfoApi.md
  mobile/openapi/doc/SystemMetadataApi.md
  mobile/openapi/lib/api.dart
  mobile/openapi/lib/api/server_info_api.dart
  mobile/openapi/lib/api/system_metadata_api.dart
  mobile/openapi/lib/api_client.dart
  mobile/openapi/lib/model/admin_onboarding_update_dto.dart
  mobile/openapi/lib/model/reverse_geocoding_state_response_dto.dart
  mobile/openapi/test/admin_onboarding_update_dto_test.dart
  mobile/openapi/test/reverse_geocoding_state_response_dto_test.dart
  mobile/openapi/test/server_info_api_test.dart
  mobile/openapi/test/system_metadata_api_test.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/controllers/index.ts
  server/src/controllers/server-info.controller.ts
  server/src/controllers/system-metadata.controller.ts
  server/src/dtos/system-metadata.dto.ts
  server/src/repositories/metadata.repository.ts
  server/src/services/index.ts
  server/src/services/server-info.service.spec.ts
  server/src/services/server-info.service.ts
  server/src/services/system-metadata.service.spec.ts
  server/src/services/system-metadata.service.ts
  web/src/routes/auth/onboarding/+page.svelte
Labels: 🗄️server

#8935 fix(web): restore button in asset viewer
  web/src/lib/components/asset-viewer/asset-viewer-nav-bar.svelte
  web/src/lib/components/asset-viewer/asset-viewer.svelte
  web/src/lib/components/photos-page/asset-grid.svelte
  web/src/lib/constants.ts
Labels: 🖥️web

#8594 feat(android) Check server is reachable before starting background backup
  mobile/android/app/build.gradle
  mobile/android/app/src/main/kotlin/com/example/mobile/BackgroundServicePlugin.kt
  mobile/android/app/src/main/kotlin/com/example/mobile/BackupWorker.kt
  mobile/android/build.gradle
  mobile/lib/modules/backup/background_service/background.service.dart
Labels: 📱mobile

#8950 fix(web): keep focus when searching people
  web/src/routes/(user)/people/+page.svelte
Labels: 🖥️web

#8942 feat(server): enable AV1 encoding for QSV
  server/src/utils/media.ts
Labels: 🗄️server

#8954 Revert "fix(mobile): random logout (#8739)"
  mobile/lib/shared/views/splash_screen.dart
Labels: 📱mobile

#8958 Revert "feat(android) Check server is reachable before starting background backup (#8594)"
  mobile/android/app/build.gradle
  mobile/android/app/src/main/kotlin/com/example/mobile/BackgroundServicePlugin.kt
  mobile/android/app/src/main/kotlin/com/example/mobile/BackupWorker.kt
  mobile/android/build.gradle
  mobile/lib/modules/backup/background_service/background.service.dart
Labels: 📱mobile

#8959 feat(server): enable AV1 encoding for NVENC
  server/src/utils/media.ts
Labels: 🗄️server

#8974 fix(server): session refresh
  server/src/services/auth.service.spec.ts
  server/src/services/auth.service.ts
Labels: 🗄️server

#8960 chore(mobile): override appbundle on PlayStore before getting released
  mobile/android/fastlane/Fastfile
  mobile/android/fastlane/report.xml
  mobile/pubspec.yaml
Labels: 📱mobile

#8977 refactor(server): session interface types
  server/src/interfaces/session.interface.ts
  server/src/repositories/session.repository.ts
  server/test/repositories/session.repository.mock.ts
Labels: tech-debt

#8924 feat(web): new look option for slideshow
  web/src/lib/components/asset-viewer/photo-viewer.svelte
  web/src/lib/components/slideshow-settings.svelte
  web/src/lib/stores/slideshow.store.ts
Labels: 🖥️web

#8409 dep(mobile): upgrade gradle
  .github/workflows/build-mobile.yml
  .github/workflows/test.yml
  mobile/android/app/build.gradle
  mobile/android/app/src/main/kotlin/com/example/mobile/BackupWorker.kt
  mobile/android/build.gradle
  mobile/android/gradle/wrapper/gradle-wrapper.properties
  mobile/android/settings.gradle
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: 📱mobile

#8991 feat: mobile label for renovate pull requests
  renovate.json
Labels: dependencies

#8993 feat(mobile): add i18n in multiselect-grid and update translation (en and fr)
  mobile/assets/i18n/en-US.json
  mobile/assets/i18n/fr-FR.json
  mobile/lib/shared/ui/asset_grid/multiselect_grid.dart
Labels: 📱mobile

#8978 fix(web): trash page now auto refreshes
  web/src/routes/(user)/trash/+page.svelte
Labels: 🖥️web

#8762 feat(web): support 360 video (equirectangular)
  web/package-lock.json
  web/package.json
  web/src/lib/components/asset-viewer/asset-viewer.svelte
  web/src/lib/components/asset-viewer/panorama-viewer.svelte
  web/src/lib/components/asset-viewer/photo-sphere-viewer-adapter.svelte
  web/src/lib/components/asset-viewer/video-native-viewer.svelte
  web/src/lib/components/asset-viewer/video-wrapper-viewer.svelte
Labels: 🖥️web

#9022 chore(server): enable swagger to take class validator rules into account
  mobile/openapi/lib/model/create_user_dto.dart
  mobile/openapi/lib/model/download_info_dto.dart
  mobile/openapi/lib/model/job_settings_dto.dart
  mobile/openapi/lib/model/metadata_search_dto.dart
  mobile/openapi/lib/model/on_this_day_dto.dart
  mobile/openapi/lib/model/recognition_config.dart
  mobile/openapi/lib/model/smart_search_dto.dart
  mobile/openapi/lib/model/system_config_f_fmpeg_dto.dart
  mobile/openapi/lib/model/system_config_image_dto.dart
  mobile/openapi/lib/model/system_config_o_auth_dto.dart
  mobile/openapi/lib/model/system_config_trash_dto.dart
  mobile/openapi/lib/model/system_config_user_dto.dart
  mobile/openapi/lib/model/update_user_dto.dart
  open-api/immich-openapi-specs.json
  server/nest-cli.json
Labels: 🗄️server

#9021 docs: default to sed pg_catalog for Linux, document restore/reset for PG bind mount
  docs/docs/FAQ.mdx
  docs/docs/administration/backup-and-restore.md
Labels: documentation

#9035 fix: Make DB_DATA_LOCATION more prominent in .env file
  docker/example.env
Labels: deployment

#9025 refactor(server, web, mobile): Change wording of memory titles
  server/src/services/asset.service.spec.ts
  server/src/services/asset.service.ts
  web/src/lib/utils.ts
Labels: 🖥️web

#8989 feat(android) Check server is reachable before starting background backup
  mobile/android/app/src/main/kotlin/com/example/mobile/BackgroundServicePlugin.kt
  mobile/android/app/src/main/kotlin/com/example/mobile/BackupWorker.kt
  mobile/ios/Runner/BackgroundSync/BackgroundServicePlugin.swift
  mobile/lib/modules/backup/background_service/background.service.dart
Labels: 📱mobile

#8955 fix(web): search people
  web/src/routes/(user)/people/+page.svelte
Labels: 🖥️web

#8901 fix(web): handle non-http client side page error
  web/src/hooks.client.ts
Labels: 🖥️web

#9053 feat(web): display age with months if age is less than 2
  web/src/lib/components/asset-viewer/detail-panel.svelte
Labels: 🖥️web

#9046 feat(mobile) Add zh-TW.json for Traditional Chinese Language Support
  localizely.yml
  mobile/assets/i18n/zh-TW.json
  mobile/lib/constants/locales.dart
Labels: 📱mobile

#8953 feat(web): upload json config
  web/src/lib/components/admin-page/settings/admin-settings.svelte
  web/src/routes/admin/system-settings/+page.svelte
Labels: 🖥️web

#7323 feat(mobile): Added "jump to date" functionality to the memory view
  mobile/lib/modules/asset_viewer/providers/scroll_to_date_notifier.provider.dart
  mobile/lib/modules/home/ui/asset_grid/immich_asset_grid_view.dart
  mobile/lib/modules/memories/ui/memory_bottom_info.dart
Labels: 📱mobile

#9069 feat(server): env variable to skip migrations on startup
  docs/docs/administration/backup-and-restore.md
  docs/docs/administration/postgres-standalone.md
  docs/docs/install/environment-variables.md
  server/src/config.ts
  server/src/services/database.service.spec.ts
  server/src/services/database.service.ts
Labels: 🗄️server

#9072 docs(ml): clarify cuda and openvino requirements
  docs/docs/features/ml-hardware-acceleration.md
Labels: documentation
