Repository immich-app/immich, pull requests merged in 2024-07, with the labels that each got.

#10704 chore(doc): small punctuation fix backup-and-restore.md
  docs/docs/administration/backup-and-restore.md
Labels: documentation

#10697 fix(web): Sort timezones in assets settings by offset
  web/src/lib/components/shared-components/change-date.svelte
Labels: 🖥️web

#10605 chore(web): update translations
  web/src/lib/i18n/ar.json
  web/src/lib/i18n/bg.json
  web/src/lib/i18n/ca.json
  web/src/lib/i18n/cs.json
  web/src/lib/i18n/de.json
  web/src/lib/i18n/en.json
  web/src/lib/i18n/es.json
  web/src/lib/i18n/fa.json
  web/src/lib/i18n/fi.json
  web/src/lib/i18n/fr.json
  web/src/lib/i18n/he.json
  web/src/lib/i18n/id.json
  web/src/lib/i18n/it.json
  web/src/lib/i18n/ko.json
  web/src/lib/i18n/lv.json
  web/src/lib/i18n/nb_NO.json
  web/src/lib/i18n/nl.json
  web/src/lib/i18n/pt_BR.json
  web/src/lib/i18n/ro.json
  web/src/lib/i18n/ru.json
  web/src/lib/i18n/sr_Latn.json
  web/src/lib/i18n/sv.json
  web/src/lib/i18n/ta.json
  web/src/lib/i18n/th.json
  web/src/lib/i18n/uk.json
  web/src/lib/i18n/vi.json
  web/src/lib/i18n/zh_Hant.json
  web/src/lib/i18n/zh_SIMPLIFIED.json
Labels: 🖥️web

#10667 fix(web): remove black bezels + better integrate ActivityStatus
  web/src/lib/components/asset-viewer/activity-status.svelte
  web/src/lib/components/asset-viewer/asset-viewer.svelte
  web/src/lib/components/asset-viewer/video-native-viewer.svelte
  web/src/routes/(user)/albums/[albumId=id]/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web

#10696 feat(web): html tags inside plural and select messages
  web/src/lib/components/i18n/__test__/format-message.spec.ts
  web/src/lib/components/i18n/format-message.svelte
  web/src/lib/components/photos-page/delete-asset-dialog.svelte
  web/src/lib/i18n/en.json
Labels: 🖥️web

#10717 fix(web): suppress album upload notification
  web/src/lib/utils/asset-utils.ts
  web/src/lib/utils/file-uploader.ts
Labels: 🖥️web

#10682 feat(server): user and server license endpoints
  e2e/docker-compose.yml
  e2e/src/api/specs/server-info.e2e-spec.ts
  e2e/src/api/specs/server.e2e-spec.ts
  e2e/src/api/specs/user.e2e-spec.ts
  e2e/src/responses.ts
  mobile/openapi/README.md
  mobile/openapi/lib/api.dart
  mobile/openapi/lib/api/server_api.dart
  mobile/openapi/lib/api/users_api.dart
  mobile/openapi/lib/api_client.dart
  mobile/openapi/lib/model/license_key_dto.dart
  mobile/openapi/lib/model/license_response_dto.dart
  mobile/openapi/lib/model/server_about_response_dto.dart
  mobile/openapi/lib/model/user_admin_response_dto.dart
  mobile/openapi/lib/model/user_license.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/config.ts
  server/src/controllers/server.controller.ts
  server/src/controllers/user.controller.ts
  server/src/dtos/license.dto.ts
  server/src/dtos/server.dto.ts
  server/src/dtos/user.dto.ts
  server/src/entities/system-metadata.entity.ts
  server/src/entities/user-metadata.entity.ts
  server/src/interfaces/crypto.interface.ts
  server/src/interfaces/system-metadata.interface.ts
  server/src/interfaces/user.interface.ts
  server/src/repositories/crypto.repository.ts
  server/src/repositories/system-metadata.repository.ts
  server/src/repositories/user.repository.ts
  server/src/services/server.service.spec.ts
  server/src/services/server.service.ts
  server/src/services/user.service.spec.ts
  server/src/services/user.service.ts
  server/test/fixtures/auth.stub.ts
  server/test/repositories/crypto.repository.mock.ts
  server/test/repositories/system-metadata.repository.mock.ts
  server/test/repositories/user.repository.mock.ts
  web/src/test-data/factories/user-factory.ts
Labels: 🗄️server

#10734 fix(web): activity status padding regression
  web/src/lib/components/asset-viewer/activity-status.svelte
Labels: 🖥️web

#10737 docs: blog post July 2024 update
  docs/blog/2024/update-july-2024.mdx
Labels: documentation

#10742 chore(web): update translations
  web/src/lib/i18n/de.json
  web/src/lib/i18n/es.json
  web/src/lib/i18n/id.json
  web/src/lib/i18n/it.json
  web/src/lib/i18n/ko.json
  web/src/lib/i18n/pl.json
  web/src/lib/i18n/ro.json
  web/src/lib/i18n/sv.json
  web/src/lib/i18n/ta.json
  web/src/lib/i18n/th.json
  web/src/lib/i18n/tr.json
  web/src/lib/i18n/uk.json
  web/src/lib/i18n/zh_SIMPLIFIED.json
Labels: 🖥️web

#10736 feat(web): add keyboard shortcuts to duplicates utility
  web/src/lib/components/utilities-page/duplicates/duplicates-compare-control.svelte
Labels: 🖥️web

#10773 fix(mobile): map crashes on Android
  mobile/ios/Podfile.lock
  mobile/lib/extensions/maplibrecontroller_extensions.dart
  mobile/lib/pages/search/map/map.page.dart
  mobile/lib/pages/search/map/map_location_picker.page.dart
  mobile/lib/providers/search/search_page_state.provider.dart
  mobile/lib/widgets/map/map_thumbnail.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: 📱mobile

#10774 feat(mobile): Revert render assets on device by default (#10470)
  mobile/lib/services/album.service.dart
  mobile/lib/services/hash.service.dart
  mobile/lib/services/sync.service.dart
Labels: 📱mobile

#10776 fix(server): do not allow merging a person into themselves
  e2e/src/api/specs/person.e2e-spec.ts
  server/src/services/person.service.ts
Labels: 🗄️server

#10753 chore(web): update translations
  web/src/lib/i18n/ar.json
  web/src/lib/i18n/ca.json
  web/src/lib/i18n/da.json
  web/src/lib/i18n/es.json
  web/src/lib/i18n/fa.json
  web/src/lib/i18n/fi.json
  web/src/lib/i18n/it.json
  web/src/lib/i18n/ja.json
  web/src/lib/i18n/ko.json
  web/src/lib/i18n/nl.json
  web/src/lib/i18n/pl.json
  web/src/lib/i18n/pt.json
  web/src/lib/i18n/sl.json
  web/src/lib/i18n/ta.json
  web/src/lib/i18n/th.json
  web/src/lib/i18n/vi.json
Labels: 🖥️web

#10793 fix(web): slow people page load
  web/src/lib/components/faces-page/people-card.svelte
Labels: 🖥️web

#10794 fix(mobile): incorrect translation string
  mobile/lib/pages/common/headers_settings.page.dart
Labels: 📱mobile

#10811 fix(server): healthcheck
  server/Dockerfile
  server/bin/immich-healthcheck
Labels: 🗄️server

#10801 fix(server): Postgres -> Redis websocket
  server/package-lock.json
  server/package.json
  server/src/config.ts
  server/src/middleware/websocket.adapter.ts
Labels: 🗄️server

#10820 chore(web): remove unnused property
  web/src/lib/components/admin-page/jobs/jobs-panel.svelte
  web/src/lib/components/album-page/albums-list.svelte
  web/src/lib/components/faces-page/merge-face-selector.svelte
  web/src/lib/components/forms/edit-user-form.svelte
  web/src/lib/components/photos-page/actions/remove-from-album.svelte
  web/src/lib/components/photos-page/actions/remove-from-shared-link.svelte
  web/src/lib/components/shared-components/dialog/dialog.ts
  web/src/lib/components/user-settings-page/device-list.svelte
  web/src/lib/components/user-settings-page/partner-settings.svelte
  web/src/lib/components/user-settings-page/user-api-key-list.svelte
  web/src/routes/(user)/albums/[albumId=id]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/sharing/sharedlinks/+page.svelte
  web/src/routes/(user)/trash/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/admin/library-management/+page.svelte
Labels: 🖥️web

#10822 fix(web): delete library
  web/src/routes/admin/library-management/+page.svelte
Labels: 🖥️web

#10795 chore(web): update translations
  web/src/lib/i18n/ar.json
  web/src/lib/i18n/bg.json
  web/src/lib/i18n/cs.json
  web/src/lib/i18n/da.json
  web/src/lib/i18n/de.json
  web/src/lib/i18n/es.json
  web/src/lib/i18n/fa.json
  web/src/lib/i18n/fr.json
  web/src/lib/i18n/he.json
  web/src/lib/i18n/hi.json
  web/src/lib/i18n/it.json
  web/src/lib/i18n/ja.json
  web/src/lib/i18n/ko.json
  web/src/lib/i18n/lt.json
  web/src/lib/i18n/lv.json
  web/src/lib/i18n/nl.json
  web/src/lib/i18n/pl.json
  web/src/lib/i18n/ru.json
  web/src/lib/i18n/sr_Latn.json
  web/src/lib/i18n/sv.json
  web/src/lib/i18n/tr.json
  web/src/lib/i18n/zh_Hant.json
  web/src/lib/i18n/zh_SIMPLIFIED.json
Labels: 🖥️web

#10827 fix(server): face search migration sometimes failing
  server/src/migrations/1718486162779-AddFaceSearchRelation.ts
Labels: 🗄️server

#10754 refactor(server): notification events
  server/src/interfaces/event.interface.ts
  server/src/services/album.service.spec.ts
  server/src/services/album.service.ts
  server/src/services/library.service.ts
  server/src/services/notification.service.ts
  server/src/services/smart-info.service.ts
  server/src/services/storage-template.service.ts
  server/src/services/system-config.service.ts
  server/src/services/user-admin.service.spec.ts
  server/src/services/user-admin.service.ts
Labels: 🗄️server

#10863 chore: remove unused snowburst one font
  docs/src/css/custom.css
  docs/tailwind.config.js
  web/src/app.css
  web/src/lib/assets/fonts/SnowburstOne-Regular.ttf
  web/tailwind.config.cjs
Labels: documentation, 🖥️web

#10851 fix(web): user profile translation
  web/src/lib/i18n/en.json
Labels: 🖥️web

#10849 feat(web): use browser language by default
  web/src/lib/components/user-settings-page/app-settings.svelte
  web/src/lib/i18n.spec.ts
  web/src/lib/stores/preferences.store.ts
  web/src/lib/utils/i18n.ts
Labels: 🖥️web

#10842 fix(mobile): exposure time display
  mobile/lib/widgets/asset_viewer/exif_sheet/exif_bottom_sheet.dart
  mobile/lib/widgets/asset_viewer/exif_sheet/exif_detail.dart
Labels: 📱mobile

#10880 fix(web): duplicate thumbnail cover full width
  web/src/lib/components/utilities-page/duplicates/duplicate-asset.svelte
Labels: 🖥️web

#10878 chore(web): remove unused s function
  web/src/lib/utils.ts
Labels: 🖥️web

#10884 refactor(web): use derived instead of get(t)
  web/src/lib/components/faces-page/assign-face-side-panel.svelte
  web/src/lib/components/faces-page/person-side-panel.svelte
  web/src/lib/components/memory-page/memory-viewer.svelte
  web/src/lib/components/photos-page/memory-lane.svelte
  web/src/lib/utils.ts
  web/src/lib/utils/person.ts
Labels: 🖥️web

#10877 fix(web): download archive for public user
  e2e/src/web/specs/shared-link.e2e-spec.ts
  web/src/lib/utils/asset-utils.ts
Labels: 🖥️web

#10828 refactor(server): rename asset stack to stack
  server/src/entities/asset.entity.ts
  server/src/entities/index.ts
  server/src/entities/stack.entity.ts
  server/src/interfaces/asset-stack.interface.ts
  server/src/interfaces/stack.interface.ts
  server/src/repositories/index.ts
  server/src/repositories/stack.repository.ts
  server/src/services/asset.service.spec.ts
  server/src/services/asset.service.ts
  server/src/services/user.service.spec.ts
  server/src/services/user.service.ts
  server/test/fixtures/asset.stub.ts
  server/test/repositories/stack.repository.mock.ts
Labels: 🗄️server

#10872 chore(mobile): separate build flavors
  mobile/ios/Runner.xcodeproj/project.pbxproj
  mobile/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  mobile/ios/Runner/Info.plist
  mobile/lib/main.dart
Labels: 📱mobile

#10870 fix(mobile): search picker overflow
  mobile/lib/pages/search/search_input.page.dart
  mobile/lib/widgets/search/search_filter/filter_bottom_sheet_scaffold.dart
Labels: 📱mobile

#10831 chore(web): update translations
  web/src/lib/i18n/ar.json
  web/src/lib/i18n/bg.json
  web/src/lib/i18n/cs.json
  web/src/lib/i18n/de.json
  web/src/lib/i18n/fa.json
  web/src/lib/i18n/he.json
  web/src/lib/i18n/ko.json
  web/src/lib/i18n/lt.json
  web/src/lib/i18n/nl.json
  web/src/lib/i18n/pl.json
  web/src/lib/i18n/pt.json
  web/src/lib/i18n/sr_Latn.json
  web/src/lib/i18n/sv.json
  web/src/lib/i18n/ta.json
  web/src/lib/i18n/tr.json
  web/src/lib/i18n/zh_Hant.json
Labels: 🖥️web

#10890 chore: add az language
  web/src/lib/constants.ts
  web/src/lib/i18n/az.json
Labels: 🖥️web, translations

#10889 refactor(server): bulk interface
  server/src/interfaces/album.interface.ts
  server/src/interfaces/memory.interface.ts
  server/src/queries/album.repository.sql
  server/src/repositories/album.repository.ts
  server/src/repositories/memory.repository.ts
Labels: 🗄️server

#10891 refactor(server): remove has asset
  server/src/interfaces/album.interface.ts
  server/src/queries/album.repository.sql
  server/src/repositories/album.repository.ts
  server/src/services/album.service.spec.ts
  server/src/services/album.service.ts
  server/test/repositories/album.repository.mock.ts
Labels: 🗄️server

#10903 fix(server): do not try to upgrade to an older version
  server/src/services/database.service.spec.ts
  server/src/services/database.service.ts
Labels: 🗄️server

#10907 docs: cursed knowledge
  docs/src/pages/cursed-knowledge.tsx
Labels: documentation

#10904 refactor(server): use .toSorted
  server/src/repositories/storage.repository.spec.ts
  server/src/services/asset-media.service.spec.ts
  server/src/utils/mime-types.spec.ts
  server/tsconfig.json
Labels: 🗄️server, maintenance

#10939 fix(server): reset-admin-password command
  e2e/src/immich-admin/specs/immich-admin.e2e-spec.ts
  e2e/src/utils.ts
  server/src/dtos/user.dto.ts
Labels: 🗄️server

#10935 fix(web): external library disk usage unit
  web/src/routes/admin/library-management/+page.svelte
Labels: 🖥️web

#10922 chore(web): translate alt text
  web/src/lib/components/asset-viewer/photo-viewer.svelte
  web/src/lib/components/assets/thumbnail/thumbnail.svelte
  web/src/lib/components/photos-page/memory-lane.svelte
  web/src/lib/components/utilities-page/duplicates/duplicate-asset.svelte
  web/src/lib/i18n/en.json
  web/src/lib/utils/thumbnail-util.spec.ts
  web/src/lib/utils/thumbnail-util.ts
Labels: 🖥️web

#10915 refactor(web): focus trap
  web/src/lib/actions/__test__/focus-trap-test.svelte
  web/src/lib/actions/__test__/focus-trap.spec.ts
  web/src/lib/actions/focus-trap.ts
  web/src/lib/components/asset-viewer/asset-viewer.svelte
  web/src/lib/components/shared-components/focus-trap.svelte
  web/src/lib/components/shared-components/full-screen-modal.svelte
  web/src/lib/components/shared-components/navigation-bar/account-info-panel.svelte
Labels: 🖥️web

#10933 refactor(web): show & hide people
  web/src/lib/components/assets/thumbnail/image-thumbnail.svelte
  web/src/lib/components/faces-page/manage-people-visibility.spec.ts
  web/src/lib/components/faces-page/manage-people-visibility.svelte
  web/src/lib/components/faces-page/show-hide.svelte
  web/src/routes/(user)/people/+page.svelte
  web/src/test-data/factories/person-factory.ts
Labels: 🖥️web

#10958 refactor(server): build resources
  docs/docs/install/environment-variables.md
  server/Dockerfile
  server/src/constants.ts
  server/src/repositories/map.repository.ts
  server/src/repositories/server-info.repository.ts
  server/src/services/api.service.ts
  server/src/workers/api.ts
Labels: documentation, 🗄️server, maintenance

#10902 refactor(server): partner search dto
  mobile/lib/services/partner.service.dart
  mobile/lib/services/user.service.dart
  mobile/openapi/README.md
  mobile/openapi/lib/api.dart
  mobile/openapi/lib/api/partners_api.dart
  mobile/openapi/lib/api_client.dart
  mobile/openapi/lib/api_helper.dart
  mobile/openapi/lib/model/partner_direction.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/controllers/partner.controller.ts
  server/src/dtos/partner.dto.ts
  server/src/services/partner.service.spec.ts
  server/src/services/partner.service.ts
  web/src/lib/components/user-settings-page/partner-selection-modal.svelte
  web/src/lib/components/user-settings-page/partner-settings.svelte
  web/src/routes/(user)/sharing/+page.ts
Labels: 📱mobile, 🖥️web, 🗄️server

#10896 chore(web): update translations
  web/src/lib/i18n/ar.json
  web/src/lib/i18n/ca.json
  web/src/lib/i18n/cs.json
  web/src/lib/i18n/de.json
  web/src/lib/i18n/es.json
  web/src/lib/i18n/fa.json
  web/src/lib/i18n/fi.json
  web/src/lib/i18n/fr.json
  web/src/lib/i18n/he.json
  web/src/lib/i18n/hu.json
  web/src/lib/i18n/id.json
  web/src/lib/i18n/it.json
  web/src/lib/i18n/ja.json
  web/src/lib/i18n/ko.json
  web/src/lib/i18n/nl.json
  web/src/lib/i18n/pl.json
  web/src/lib/i18n/pt.json
  web/src/lib/i18n/ru.json
  web/src/lib/i18n/sk.json
  web/src/lib/i18n/sr_Latn.json
  web/src/lib/i18n/sv.json
  web/src/lib/i18n/zh_SIMPLIFIED.json
Labels: 🖥️web

#10750 feat(cli): use a queue for duplicate and upload
  cli/package-lock.json
  cli/package.json
  cli/src/commands/asset.spec.ts
  cli/src/commands/asset.ts
  cli/src/queue.ts
Labels: cli

#10954 feat(web): improve show & hide people accessibility
  web/src/lib/components/faces-page/manage-people-visibility.spec.ts
  web/src/lib/components/faces-page/manage-people-visibility.svelte
  web/src/lib/i18n/en.json
  web/src/routes/(user)/people/+page.svelte
Labels: 🖥️web, accessibility

#10905 fix(server): wrong video rotation with QSV and RKMPP decoding
  server/src/services/media.service.spec.ts
  server/src/utils/media.ts
Labels: 🗄️server

#10978 fix(server): avoid server error for invalid email data type
  e2e/src/api/specs/auth.e2e-spec.ts
  e2e/src/responses.ts
  server/src/dtos/auth.dto.ts
  server/src/dtos/user.dto.spec.ts
  server/src/validation.ts
Labels: 🗄️server

#10991 fix(server): skip smtp validation when there are no changes
  server/src/services/notification.service.spec.ts
  server/src/services/notification.service.ts
Labels: 🗄️server

#10999 chore(server): remove unused code
  server/src/repositories/asset.repository.ts
  server/src/repositories/metadata.repository.ts
Labels: 🗄️server

#10997 refactor(web): use callbacks for admin setting events
  web/src/lib/components/admin-page/settings/admin-settings.svelte
  web/src/lib/components/admin-page/settings/admin-settings.ts
  web/src/lib/components/admin-page/settings/auth/auth-settings.svelte
  web/src/lib/components/admin-page/settings/ffmpeg/ffmpeg-settings.svelte
  web/src/lib/components/admin-page/settings/image/image-settings.svelte
  web/src/lib/components/admin-page/settings/job-settings/job-settings.svelte
  web/src/lib/components/admin-page/settings/library-settings/library-settings.svelte
  web/src/lib/components/admin-page/settings/logging-settings/logging-settings.svelte
  web/src/lib/components/admin-page/settings/machine-learning-settings/machine-learning-settings.svelte
  web/src/lib/components/admin-page/settings/map-settings/map-settings.svelte
  web/src/lib/components/admin-page/settings/new-version-check-settings/new-version-check-settings.svelte
  web/src/lib/components/admin-page/settings/notification-settings/notification-settings.svelte
  web/src/lib/components/admin-page/settings/server/server-settings.svelte
  web/src/lib/components/admin-page/settings/storage-template/storage-template-settings.svelte
  web/src/lib/components/admin-page/settings/theme/theme-settings.svelte
  web/src/lib/components/admin-page/settings/trash-settings/trash-settings.svelte
  web/src/lib/components/admin-page/settings/user-settings/user-settings.svelte
  web/src/lib/components/onboarding-page/onboarding-storage-template.svelte
  web/src/lib/components/shared-components/settings/setting-buttons-row.svelte
  web/src/routes/admin/system-settings/+page.svelte
Labels: 🖥️web

#10990 feat(web): render component in notifications
  web/src/lib/components/i18n/format-bold-message.svelte
  web/src/lib/components/i18n/format-message.svelte
  web/src/lib/components/shared-components/notification/__tests__/notification-card.spec.ts
  web/src/lib/components/shared-components/notification/__tests__/notification-component-test.svelte
  web/src/lib/components/shared-components/notification/notification-card.svelte
  web/src/lib/components/shared-components/notification/notification.ts
  web/src/lib/i18n/en.json
  web/src/lib/utils/asset-utils.ts
  web/src/lib/utils/string-utils.ts
Labels: 🖥️web

#10929 fix(ml): armnn not being used
  machine-learning/app/conftest.py
  machine-learning/app/main.py
  machine-learning/app/models/base.py
  machine-learning/app/models/clip/textual.py
  machine-learning/app/models/facial_recognition/detection.py
  machine-learning/app/models/facial_recognition/recognition.py
  machine-learning/app/test_main.py
Labels: 🧠machine-learning

#10961 chore(web): update translations
  web/src/lib/i18n/ar.json
  web/src/lib/i18n/ca.json
  web/src/lib/i18n/cs.json
  web/src/lib/i18n/de.json
  web/src/lib/i18n/fi.json
  web/src/lib/i18n/fr.json
  web/src/lib/i18n/he.json
  web/src/lib/i18n/ko.json
  web/src/lib/i18n/lt.json
  web/src/lib/i18n/lv.json
  web/src/lib/i18n/nl.json
  web/src/lib/i18n/pl.json
  web/src/lib/i18n/ru.json
  web/src/lib/i18n/sk.json
  web/src/lib/i18n/sr_Latn.json
  web/src/lib/i18n/sv.json
  web/src/lib/i18n/uk.json
  web/src/lib/i18n/vi.json
  web/src/lib/i18n/zh_SIMPLIFIED.json
Labels: 🖥️web

#11008 fix(doc): Fix broken link in Cursed Knowledge doc
  docs/src/pages/cursed-knowledge.tsx
Labels: documentation

#11012 docs: fix images
  docs/docusaurus.config.js
  docs/src/components/timeline.tsx
  docs/src/pages/index.tsx
Labels: documentation

#11009 fix(web): prevent text wrapping for some languages
  web/src/lib/components/shared-components/scrollbar/scrollbar.svelte
  web/src/lib/components/shared-components/search-bar/search-history-box.svelte
Labels: 🖥️web

#11015 feat(web): change mdiClose to mdiInfinity for User Management - quota
  web/src/routes/admin/user-management/+page.svelte
Labels: 🖥️web

#10756 feat(server): userinfo signing
  e2e/docker-compose.yml
  e2e/package-lock.json
  e2e/package.json
  e2e/src/api/specs/oauth.e2e-spec.ts
  e2e/src/setup/auth-server.ts
  e2e/src/setup/docker-compose.ts
  e2e/src/utils.ts
  e2e/vitest.config.ts
  mobile/openapi/lib/model/system_config_o_auth_dto.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/config.ts
  server/src/dtos/system-config.dto.ts
  server/src/services/auth.service.ts
  server/src/services/system-config.service.spec.ts
  web/src/lib/components/admin-page/settings/auth/auth-settings.svelte
  web/src/lib/i18n/en.json
Labels: 🖥️web, 🗄️server

#11033 feat(web): Rename the Menu Entry "admin.map_settings" to "admin.map_gps_settings"
  web/src/lib/i18n/en.json
  web/src/routes/admin/system-settings/+page.svelte
Labels: 🖥️web

#11029 chore(docs): correct susceptible spelling
  docs/docs/guides/remote-access.md
Labels: documentation

#10254 chore(web): use "immich-form-label" class for combobox label
  web/src/lib/components/shared-components/combobox.svelte
Labels: 🖥️web

#11037 chore: clean up change date form spacing
  web/src/lib/components/shared-components/change-date.svelte
Labels: 🖥️web

#11058 refactor(web): remove buffer package
  web/package-lock.json
  web/package.json
  web/src/lib/components/assets/thumbnail/__test__/image-thumbnail.spec.ts
  web/src/lib/components/assets/thumbnail/image-thumbnail.svelte
  web/src/lib/utils.ts
Labels: 🖥️web

#11065 fix(mobile): fix database out of size
  mobile/lib/main.dart
  mobile/test/test_utils.dart
Labels: 📱mobile

#11073 fix(docs): minor grammar fix in external-library.md
  docs/docs/guides/external-library.md
Labels: documentation

#11099 docs: cleanup external libraries
  docs/docs/features/libraries.md
  docs/docs/guides/external-library.md
Labels: documentation

#11080 feat(server): conditionally run facial recognition nightly
  server/src/entities/system-metadata.entity.ts
  server/src/interfaces/job.interface.ts
  server/src/interfaces/person.interface.ts
  server/src/queries/person.repository.sql
  server/src/repositories/person.repository.ts
  server/src/services/job.service.spec.ts
  server/src/services/job.service.ts
  server/src/services/person.service.spec.ts
  server/src/services/person.service.ts
  server/test/repositories/person.repository.mock.ts
Labels: 🗄️server

#11106 docs: facial recognition and general clean-up
  docs/docs/FAQ.mdx
  docs/docs/features/facial-recognition.md
  docs/docs/features/hardware-transcoding.md
  docs/docs/features/smart-search.md
  docs/docs/guides/remote-machine-learning.md
Labels: documentation

#11122 docs: install script note
  docs/docs/install/script.md
Labels: documentation

#11038 chore(web): update translations
  web/src/lib/i18n/ar.json
  web/src/lib/i18n/bg.json
  web/src/lib/i18n/ca.json
  web/src/lib/i18n/cs.json
  web/src/lib/i18n/da.json
  web/src/lib/i18n/de.json
  web/src/lib/i18n/es.json
  web/src/lib/i18n/fr.json
  web/src/lib/i18n/he.json
  web/src/lib/i18n/hu.json
  web/src/lib/i18n/id.json
  web/src/lib/i18n/it.json
  web/src/lib/i18n/ja.json
  web/src/lib/i18n/ko.json
  web/src/lib/i18n/lt.json
  web/src/lib/i18n/nb_NO.json
  web/src/lib/i18n/nl.json
  web/src/lib/i18n/pl.json
  web/src/lib/i18n/pt.json
  web/src/lib/i18n/pt_BR.json
  web/src/lib/i18n/ru.json
  web/src/lib/i18n/sr_Cyrl.json
  web/src/lib/i18n/sr_Latn.json
  web/src/lib/i18n/sv.json
  web/src/lib/i18n/ta.json
  web/src/lib/i18n/zh_SIMPLIFIED.json
Labels: 🖥️web

#11161 fix(web): byte units enum
  web/src/lib/components/admin-page/server-stats/stats-card.svelte
  web/src/lib/utils/byte-units.ts
  web/src/routes/admin/library-management/+page.svelte
Labels: 🖥️web

#11167 fix(web): more translations
  web/src/lib/components/album-page/albums-table-row.svelte
  web/src/lib/components/photos-page/memory-lane.svelte
  web/src/lib/components/shared-components/search-bar/search-text-section.svelte
  web/src/lib/i18n/en.json
Labels: 🖥️web

#11042 fix(server): delete large album
  server/src/decorators.ts
  server/src/interfaces/album.interface.ts
  server/src/repositories/album.repository.ts
  server/src/services/album.service.spec.ts
  server/src/services/album.service.ts
Labels: 🗄️server

#10950 feat(server): country geocoding for remote locations
  e2e/src/api/specs/asset.e2e-spec.ts
  server/src/constants.ts
  server/src/entities/index.ts
  server/src/entities/natural-earth-countries.entity.ts
  server/src/migrations/1720375641148-natural-earth-countries.ts
  server/src/repositories/map.repository.ts
  web/src/lib/components/asset-viewer/detail-panel-location.svelte
Labels: 🖥️web, 🗄️server

#11174 chore(ml): set higher worker timeout for openvino
  docs/docs/install/environment-variables.md
  machine-learning/Dockerfile
  machine-learning/start.sh
Labels: documentation

#11182 feat(web): license UI
  .dockerignore
  docs/blog/2024/immich-core-team-goes-fulltime.mdx
  docs/blog/2024/immich-licensing.mdx
  e2e/package-lock.json
  e2e/src/api/specs/asset.e2e-spec.ts
  server/src/controllers/server.controller.ts
  server/src/emails/license.email.tsx
  server/src/services/server.service.ts
  web/package-lock.json
  web/package.json
  web/src/app.d.ts
  web/src/lib/components/shared-components/full-screen-modal.svelte
  web/src/lib/components/shared-components/license/license-activation-success.svelte
  web/src/lib/components/shared-components/license/license-content.svelte
  web/src/lib/components/shared-components/license/license-modal.svelte
  web/src/lib/components/shared-components/license/server-license-card.svelte
  web/src/lib/components/shared-components/license/user-license-card.svelte
  web/src/lib/components/shared-components/navigation-bar/navigation-bar.svelte
  web/src/lib/components/shared-components/portal/portal.svelte
  web/src/lib/components/shared-components/side-bar/admin-side-bar.svelte
  web/src/lib/components/shared-components/side-bar/bottom-info.svelte
  web/src/lib/components/shared-components/side-bar/license-info.svelte
  web/src/lib/components/shared-components/side-bar/server-status.svelte
  web/src/lib/components/shared-components/side-bar/side-bar.svelte
  web/src/lib/components/shared-components/side-bar/storage-space.svelte
  web/src/lib/components/shared-components/status-box.svelte
  web/src/lib/components/user-settings-page/license-settings.svelte
  web/src/lib/components/user-settings-page/user-settings-list.svelte
  web/src/lib/constants.ts
  web/src/lib/i18n/en.json
  web/src/lib/stores/license.store.ts
  web/src/lib/stores/user.store.ts
  web/src/lib/utils/auth.ts
  web/src/lib/utils/license-utils.ts
  web/src/routes/(user)/buy/+page.svelte
  web/src/routes/(user)/buy/+page.ts
  web/src/routes/+layout.svelte
  web/src/routes/link/+page.ts
  web/svelte.config.js
Labels: 🖥️web, 🗄️server

#11126 feat: optionally generate thumbnails for invalid images
  docs/docs/install/environment-variables.md
  server/src/interfaces/media.interface.ts
  server/src/repositories/media.repository.ts
  server/src/services/media.service.spec.ts
  server/src/services/media.service.ts
  server/src/services/person.service.spec.ts
  server/src/services/person.service.ts
Labels: documentation, 🗄️server

#11193 fix(web): hide license popup after mouse leave
  web/src/lib/components/shared-components/side-bar/license-info.svelte
Labels: 🖥️web

#11199 fix(web): user can remove server license
  web/src/lib/components/user-settings-page/license-settings.svelte
Labels: 🖥️web

#11184 feat(mobile): remove asset from album in gallery view
  mobile/lib/pages/common/gallery_viewer.page.dart
  mobile/lib/widgets/asset_grid/control_bottom_app_bar.dart
  mobile/lib/widgets/asset_viewer/bottom_gallery_bar.dart
Labels: 📱mobile

#11233 feat(ml): improved ARM-NN support
  docs/docs/features/ml-hardware-acceleration.md
  docs/docs/install/environment-variables.md
  machine-learning/Dockerfile
  machine-learning/ann/ann.cpp
  machine-learning/ann/ann.py
  machine-learning/app/config.py
  machine-learning/app/sessions/ann.py
  machine-learning/app/test_main.py
Labels: documentation, feel-free-to-merge-👍, 🧠machine-learning

#11254 fix(server): static mail attachment extension
  server/src/services/notification.service.spec.ts
  server/src/services/notification.service.ts
  server/src/utils/file.ts
  server/test/fixtures/album.stub.ts
Labels: 🗄️server

#11274 feat(server): accepted video containers
  mobile/openapi/README.md
  mobile/openapi/lib/api.dart
  mobile/openapi/lib/api_client.dart
  mobile/openapi/lib/api_helper.dart
  mobile/openapi/lib/model/system_config_f_fmpeg_dto.dart
  mobile/openapi/lib/model/video_container.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/config.ts
  server/src/dtos/system-config.dto.ts
  server/src/services/media.service.spec.ts
  server/src/services/media.service.ts
  server/src/services/system-config.service.spec.ts
  server/test/fixtures/media.stub.ts
  web/src/lib/components/admin-page/settings/ffmpeg/ffmpeg-settings.svelte
  web/src/lib/i18n/en.json
Labels: 🖥️web, 🗄️server

#11265 docs: 40k stars! ⭐
  docs/src/pages/roadmap.tsx
Labels: documentation

#11249 fix(server): exif description whitespace handling
  server/src/services/metadata.service.spec.ts
  server/src/services/metadata.service.ts
Labels: 🗄️server

#11279 fix(web): use fixed position for download and upload panel
  web/src/lib/components/asset-viewer/download-panel.svelte
  web/src/lib/components/shared-components/upload-panel.svelte
Labels: 🖥️web

#11261 fix(server): correct openapi response type for getServerLicense()
  e2e/src/api/specs/server.e2e-spec.ts
  mobile/openapi/lib/api/server_api.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/controllers/server.controller.ts
  server/src/services/server.service.ts
  web/src/lib/components/user-settings-page/license-settings.svelte
Labels: 🖥️web, 🗄️server

#11170 docs: corrected container port for immich_microservices
  docs/docs/features/monitoring.md
Labels: documentation

#11306 fix(server): DateTimeOriginal overwrite issue with sidecar file
  e2e/src/api/specs/asset.e2e-spec.ts
  e2e/src/utils.ts
  server/src/services/metadata.service.spec.ts
  server/src/services/metadata.service.ts
Labels: 🗄️server

#11291 feat(web): coordinate input for asset location
  web/src/lib/components/shared-components/__test__/number-range-input.spec.ts
  web/src/lib/components/shared-components/change-location.svelte
  web/src/lib/components/shared-components/coordinates-input.svelte
  web/src/lib/components/shared-components/number-range-input.svelte
  web/src/lib/i18n/en.json
Labels: 🖥️web

#11338 fix(deps): exiftool-vendored
  e2e/src/api/specs/asset.e2e-spec.ts
  server/package-lock.json
  server/package.json
  server/src/repositories/metadata.repository.ts
  server/src/services/metadata.service.ts
Labels: 🗄️server

#11347 chore(docs): compress homepage screenshots, 10x smaller
  docs/src/pages/index.tsx
  docs/static/img/immich-screenshots.webp
Labels: documentation

#11351 docs: add product key to roadmap
  docs/src/pages/roadmap.tsx
Labels: documentation

#11326 feat: people infinite scroll
  e2e/src/api/specs/person.e2e-spec.ts
  mobile/openapi/lib/api/people_api.dart
  mobile/openapi/lib/model/people_response_dto.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/dtos/person.dto.ts
  server/src/interfaces/person.interface.ts
  server/src/queries/person.repository.sql
  server/src/repositories/person.repository.ts
  server/src/services/person.service.spec.ts
  server/src/services/person.service.ts
  web/src/lib/__mocks__/intersection-observer.mock.ts
  web/src/lib/components/faces-page/manage-people-visibility.spec.ts
  web/src/lib/components/faces-page/manage-people-visibility.svelte
  web/src/lib/components/faces-page/people-infinite-scroll.svelte
  web/src/lib/i18n/en.json
  web/src/routes/(user)/people/+page.svelte
Labels: 🖥️web, 🗄️server

#11165 chore(web): update translations
  web/src/lib/i18n/ar.json
  web/src/lib/i18n/bg.json
  web/src/lib/i18n/ca.json
  web/src/lib/i18n/cs.json
  web/src/lib/i18n/da.json
  web/src/lib/i18n/de.json
  web/src/lib/i18n/en.json
  web/src/lib/i18n/es.json
  web/src/lib/i18n/fa.json
  web/src/lib/i18n/fi.json
  web/src/lib/i18n/fr.json
  web/src/lib/i18n/he.json
  web/src/lib/i18n/hi.json
  web/src/lib/i18n/hr.json
  web/src/lib/i18n/hu.json
  web/src/lib/i18n/id.json
  web/src/lib/i18n/it.json
  web/src/lib/i18n/ja.json
  web/src/lib/i18n/ko.json
  web/src/lib/i18n/lt.json
  web/src/lib/i18n/nl.json
  web/src/lib/i18n/pt.json
  web/src/lib/i18n/pt_BR.json
  web/src/lib/i18n/ro.json
  web/src/lib/i18n/ru.json
  web/src/lib/i18n/sk.json
  web/src/lib/i18n/sr_Cyrl.json
  web/src/lib/i18n/sr_Latn.json
  web/src/lib/i18n/sv.json
  web/src/lib/i18n/th.json
  web/src/lib/i18n/tr.json
  web/src/lib/i18n/uk.json
  web/src/lib/i18n/vi.json
  web/src/lib/i18n/zh_Hant.json
  web/src/lib/i18n/zh_SIMPLIFIED.json
Labels: 🖥️web

#11363 fix: "acess" should be "access"
  docs/docs/developer/setup.md
Labels: documentation

#11206 feat(server): Allow activating non-admin user with server license
  server/src/services/user.service.spec.ts
  server/src/services/user.service.ts
  web/src/lib/utils/license-utils.ts
Labels: 🖥️web, 🗄️server

#11358 docs: Add missing info to asset types and storage locations
  docs/docs/administration/backup-and-restore.md
  docs/docs/features/facial-recognition.md
Labels: documentation

#11292 fix(mobile): negative coordinate input
  mobile/lib/widgets/common/location_picker.dart
Labels: 📱mobile

#11294 fix(mobile): native share functionality on iPad
  mobile/lib/pages/common/app_log.page.dart
  mobile/lib/providers/asset_viewer/image_viewer_page_state.provider.dart
  mobile/lib/services/immich_logger.service.dart
  mobile/lib/services/share.service.dart
  mobile/lib/utils/selection_handlers.dart
Labels: 📱mobile

#10860 feat(mobile): Adding setting in mobile app to TLS client certificate
  mobile/assets/i18n/en-US.json
  mobile/ios/Podfile.lock
  mobile/lib/entities/store.entity.dart
  mobile/lib/utils/http_ssl_cert_override.dart
  mobile/lib/widgets/settings/advanced_settings.dart
  mobile/lib/widgets/settings/ssl_client_cert_settings.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: 📱mobile

#11286 feat(server): add IP trust list for reverse proxy
  docs/docs/install/environment-variables.md
  server/src/config.ts
  server/src/workers/api.ts
Labels: documentation, 🗄️server

#11332 feat: use immich hosted map tiles
  server/resources/style-dark.json
  server/resources/style-light.json
Labels: 🖥️web

#11373 chore(mobile): Translations update
  mobile/assets/i18n/es-ES.json
  mobile/assets/i18n/he-IL.json
  mobile/assets/i18n/ko-KR.json
  mobile/assets/i18n/nb-NO.json
  mobile/assets/i18n/nl-NL.json
  mobile/assets/i18n/pl-PL.json
  mobile/assets/i18n/ru-RU.json
  mobile/assets/i18n/sl-SI.json
  mobile/assets/i18n/sv-SE.json
  mobile/assets/i18n/uk-UA.json
  mobile/assets/i18n/vi-VN.json
Labels: 📱mobile

#11379 fix(web): buy immich translations
  web/src/lib/components/shared-components/purchasing/purchase-activation-success.svelte
  web/src/lib/components/shared-components/side-bar/purchase-info.svelte
  web/src/lib/components/user-settings-page/user-purchase-settings.svelte
  web/src/lib/i18n/en.json
Labels: 🖥️web

#11124 fix(web): easier alt text translation for other languages
  web/src/lib/i18n/en.json
  web/src/lib/utils/thumbnail-util.spec.ts
  web/src/lib/utils/thumbnail-util.ts
Labels: 🖥️web

#11296 chore(server): clean mail-templates and add tailwind style
  server/package-lock.json
  server/package.json
  server/src/emails/album-invite.email.tsx
  server/src/emails/album-update.email.tsx
  server/src/emails/components/button.component.tsx
  server/src/emails/components/footer.template.tsx
  server/src/emails/components/futo.layout.tsx
  server/src/emails/components/immich.layout.tsx
  server/src/emails/license.email.tsx
  server/src/emails/test.email.tsx
  server/src/emails/welcome.email.tsx
Labels: 🗄️server

#11055 chore(web): improve responsiveness in Album and Shared Album pages on small devices
  web/src/lib/components/album-page/album-title.svelte
  web/src/lib/components/album-page/album-viewer.svelte
  web/src/lib/components/photos-page/asset-grid.svelte
  web/src/routes/(user)/albums/[albumId=id]/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web

#11141 fix(mobile): search filter translation + fixes
  mobile/assets/i18n/en-US.json
  mobile/lib/pages/search/search_input.page.dart
Labels: 📱mobile

#11169 fix(web): responsive design when selecting assets in an album
  web/src/lib/components/photos-page/asset-select-control-bar.svelte
  web/src/lib/components/shared-components/control-app-bar.svelte
Labels: 🖥️web

#11323 feat(web): search bar keyboard accessibility
  web/src/lib/components/elements/buttons/circle-icon-button.svelte
  web/src/lib/components/shared-components/search-bar/search-bar.svelte
  web/src/lib/components/shared-components/search-bar/search-filter-box.svelte
  web/src/lib/components/shared-components/search-bar/search-history-box.svelte
  web/src/lib/i18n/en.json
  web/src/routes/(user)/search/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, accessibility

#11183 feat(web): Duplicate-Page shortcut changes
  web/src/lib/components/shared-components/show-shortcuts.svelte
  web/src/lib/components/utilities-page/duplicates/duplicates-compare-control.svelte
  web/src/lib/i18n/en.json
  web/src/routes/(user)/utilities/duplicates/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web

#11387 chore(server): email template minor styling
  server/src/emails/album-invite.email.tsx
  server/src/emails/album-update.email.tsx
  server/src/emails/components/futo.layout.tsx
  server/src/emails/components/immich.layout.tsx
  server/src/emails/license.email.tsx
  server/src/emails/test.email.tsx
  server/src/emails/welcome.email.tsx
Labels: 🗄️server

#11396 fix(web): slideshow settings title
  web/src/lib/components/asset-viewer/slideshow-bar.svelte
Labels: 🖥️web

#10989 feat(mobile): adds crop and rotate to mobile
  mobile/lib/pages/editing/crop.page.dart
  mobile/lib/pages/editing/edit.page.dart
  mobile/lib/routing/router.dart
  mobile/lib/routing/router.gr.dart
  mobile/lib/utils/hooks/crop_controller_hook.dart
  mobile/lib/widgets/asset_viewer/bottom_gallery_bar.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: feature, 📱mobile

#11414 docs: how to change PG PW
  docs/docs/guides/database-queries.md
Labels: documentation

#11413 docs: file custom location
  docs/docs/guides/custom-locations.md
Labels: documentation

#11412 fix(web): translation leftovers
  web/src/lib/components/shared-components/album-selection-modal.svelte
  web/src/lib/i18n/en.json
Labels: 🖥️web

#11365 chore(web): update translations
  web/src/lib/i18n/ar.json
  web/src/lib/i18n/bg.json
  web/src/lib/i18n/cs.json
  web/src/lib/i18n/de.json
  web/src/lib/i18n/en.json
  web/src/lib/i18n/es.json
  web/src/lib/i18n/fr.json
  web/src/lib/i18n/he.json
  web/src/lib/i18n/hu.json
  web/src/lib/i18n/ja.json
  web/src/lib/i18n/ko.json
  web/src/lib/i18n/nl.json
  web/src/lib/i18n/pl.json
  web/src/lib/i18n/ro.json
  web/src/lib/i18n/ru.json
  web/src/lib/i18n/sr_Cyrl.json
  web/src/lib/i18n/sr_Latn.json
  web/src/lib/i18n/sv.json
  web/src/lib/i18n/tr.json
  web/src/lib/i18n/uk.json
  web/src/lib/i18n/zh_Hant.json
  web/src/lib/i18n/zh_SIMPLIFIED.json
Labels: 🖥️web

#11415 fix(mobile): client TLS on ios
  mobile/lib/utils/http_ssl_cert_override.dart
Labels: 📱mobile

#11425 fix(web): avoid nesting buttons inside links
  e2e/src/web/specs/auth.e2e-spec.ts
  web/src/lib/components/elements/buttons/__test__/button.spec.ts
  web/src/lib/components/elements/buttons/__test__/circle-icon-button.spec.ts
  web/src/lib/components/elements/buttons/button.svelte
  web/src/lib/components/elements/buttons/circle-icon-button.svelte
  web/src/lib/components/elements/buttons/link-button.svelte
  web/src/lib/components/elements/buttons/skip-link.svelte
  web/src/lib/components/shared-components/context-menu/button-context-menu.svelte
  web/src/lib/components/shared-components/navigation-bar/account-info-panel.svelte
  web/src/lib/components/shared-components/navigation-bar/navigation-bar.svelte
  web/src/lib/components/shared-components/purchasing/individual-purchase-option-card.svelte
  web/src/lib/components/shared-components/purchasing/server-purchase-option-card.svelte
  web/src/routes/(user)/sharing/+page.svelte
  web/src/routes/+page.svelte
  web/src/routes/admin/jobs-status/+page.svelte
Labels: 🖥️web

#11401 feat(web): more localized number formatting
  web/src/lib/components/admin-page/server-stats/server-stats-panel.svelte
  web/src/lib/components/asset-viewer/activity-status.svelte
  web/src/lib/components/asset-viewer/download-panel.svelte
  web/src/lib/components/assets/thumbnail/thumbnail.svelte
  web/src/lib/components/memory-page/memory-viewer.svelte
  web/src/lib/components/shared-components/upload-panel.svelte
  web/src/lib/i18n/en.json
  web/src/routes/(user)/utilities/duplicates/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/admin/library-management/+page.svelte
  web/src/routes/admin/repair/+page.svelte
Labels: 🖥️web

#11392 fix(web): timeline group date formatting
  web/src/lib/utils/timeline-util.spec.ts
  web/src/lib/utils/timeline-util.ts
Labels: 🖥️web

#11416 chore(web): update translations
  web/src/lib/i18n/ca.json
  web/src/lib/i18n/cs.json
  web/src/lib/i18n/de.json
  web/src/lib/i18n/es.json
  web/src/lib/i18n/it.json
  web/src/lib/i18n/ko.json
  web/src/lib/i18n/nl.json
  web/src/lib/i18n/ru.json
  web/src/lib/i18n/vi.json
  web/src/lib/i18n/zh_Hant.json
  web/src/lib/i18n/zh_SIMPLIFIED.json
Labels: 🖥️web

#11370 feat(server): significantly improve Australian reverse geocoding accuracy
  server/src/repositories/map.repository.ts
Labels: 🗄️server

#11082 fix(server): use fqdn for og:image meta tag value
  e2e/src/api/specs/shared-link.e2e-spec.ts
  server/src/services/shared-link.service.spec.ts
  server/src/services/shared-link.service.ts
  web/src/routes/(user)/share/[key]/[[photos=photos]]/[[assetId=id]]/+page.ts
  web/src/routes/+layout.svelte
Labels: documentation, 📱mobile, 🖥️web, 🗄️server

#11430 feat(server): reverse geocoding endpoint
  e2e/src/api/specs/map.e2e-spec.ts
  mobile/openapi/README.md
  mobile/openapi/lib/api.dart
  mobile/openapi/lib/api/map_api.dart
  mobile/openapi/lib/api_client.dart
  mobile/openapi/lib/model/map_reverse_geocode_response_dto.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/controllers/map.controller.ts
  server/src/dtos/map.dto.ts
  server/src/dtos/search.dto.ts
  server/src/services/map.service.ts
Labels: 🗄️server

#11369 fix(server): correct person birth date across timezones
  e2e/src/api/specs/person.e2e-spec.ts
  server/src/dtos/person.dto.ts
  server/src/entities/person.entity.ts
  server/src/services/person.service.spec.ts
  server/src/validation.spec.ts
  server/src/validation.ts
  server/test/fixtures/person.stub.ts
Labels: 🗄️server

#11432 docs: warning to not edit volumes in compose
  docker/docker-compose.yml
Labels: deployment

#11417 chore(mobile): Add text to bottom gallery bar
  mobile/assets/i18n/en-US.json
  mobile/lib/widgets/asset_viewer/bottom_gallery_bar.dart
Labels: 📱mobile

#11431 fix(mobile): mobile logging out randomly
  mobile/.vscode/settings.json
  mobile/lib/pages/common/splash_screen.page.dart
  mobile/lib/providers/authentication.provider.dart
Labels: 📱mobile

#11429 chore(web): update translations
  web/src/lib/i18n/ar.json
  web/src/lib/i18n/bg.json
  web/src/lib/i18n/ca.json
  web/src/lib/i18n/cs.json
  web/src/lib/i18n/de.json
  web/src/lib/i18n/es.json
  web/src/lib/i18n/fr.json
  web/src/lib/i18n/he.json
  web/src/lib/i18n/it.json
  web/src/lib/i18n/ko.json
  web/src/lib/i18n/lt.json
  web/src/lib/i18n/nl.json
  web/src/lib/i18n/pl.json
  web/src/lib/i18n/pt_BR.json
  web/src/lib/i18n/ru.json
  web/src/lib/i18n/tr.json
  web/src/lib/i18n/uk.json
  web/src/lib/i18n/vi.json
  web/src/lib/i18n/zh_Hant.json
  web/src/lib/i18n/zh_SIMPLIFIED.json
Labels: 🖥️web

#11465 fix: make HTML valid
  web/src/lib/components/album-page/albums-table.svelte
Labels: 🖥️web

#11468 feat(ml): add more search models
  machine-learning/ann/ann.py
  machine-learning/app/models/constants.py
  machine-learning/export/conda-lock.yml
  machine-learning/export/env.yaml
  machine-learning/export/models/mclip.py
  machine-learning/export/models/openclip.py
  machine-learning/export/models/optimize.py
  machine-learning/export/run.py
  server/src/constants.ts
Labels: 🗄️server, 🧠machine-learning

#11488 feat(web): more languages
  web/src/lib/constants.ts
  web/src/lib/i18n/af.json
  web/src/lib/i18n/be.json
  web/src/lib/i18n/el.json
  web/src/lib/i18n/et.json
  web/src/lib/i18n/te.json
Labels: 🖥️web, translations

#11491 fix(deps): vitest@2
  cli/package-lock.json
  cli/package.json
  e2e/package-lock.json
  e2e/package.json
  e2e/vitest.config.ts
  server/package-lock.json
  server/package.json
  web/package-lock.json
  web/package.json
Labels: dependencies

#11449 refactor(web): asset viewer actions
  e2e/src/web/specs/asset-viewer/navbar.e2e-spec.ts
  e2e/src/web/specs/asset-viewer/slideshow.e2e-spec.ts
  web/src/lib/components/asset-viewer/actions/action.ts
  web/src/lib/components/asset-viewer/actions/add-to-album-action.svelte
  web/src/lib/components/asset-viewer/actions/archive-action.svelte
  web/src/lib/components/asset-viewer/actions/close-action.svelte
  web/src/lib/components/asset-viewer/actions/delete-action.spec.ts
  web/src/lib/components/asset-viewer/actions/delete-action.svelte
  web/src/lib/components/asset-viewer/actions/download-action.svelte
  web/src/lib/components/asset-viewer/actions/favorite-action.svelte
  web/src/lib/components/asset-viewer/actions/motion-photo-action.svelte
  web/src/lib/components/asset-viewer/actions/next-asset-action.svelte
  web/src/lib/components/asset-viewer/actions/previous-asset-action.svelte
  web/src/lib/components/asset-viewer/actions/restore-action.svelte
  web/src/lib/components/asset-viewer/actions/set-album-cover-action.svelte
  web/src/lib/components/asset-viewer/actions/set-profile-picture-action.svelte
  web/src/lib/components/asset-viewer/actions/share-action.svelte
  web/src/lib/components/asset-viewer/actions/show-detail-action.svelte
  web/src/lib/components/asset-viewer/actions/unstack-action.svelte
  web/src/lib/components/asset-viewer/asset-viewer-nav-bar.svelte
  web/src/lib/components/asset-viewer/asset-viewer.svelte
  web/src/lib/components/asset-viewer/delete-button.svelte
  web/src/lib/components/asset-viewer/slideshow-bar.svelte
  web/src/lib/components/photos-page/asset-grid.svelte
  web/src/lib/components/shared-components/gallery-viewer/gallery-viewer.svelte
  web/src/lib/constants.ts
  web/src/lib/stores/stacked-asset.store.ts
Labels: 🖥️web

#11479 refactor: deduplicate MemoryType and ReactionType enums
  mobile/lib/models/activities/activity.model.dart
  mobile/openapi/lib/model/activity_response_dto.dart
  mobile/openapi/lib/model/memory_response_dto.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/dtos/activity.dto.ts
  server/src/dtos/memory.dto.ts
  web/src/lib/components/asset-viewer/activity-viewer.svelte
Labels: 📱mobile, 🖥️web, 🗄️server

#11467 fix(mobile): Crop presets break crop rectangle #11462
  mobile/lib/pages/editing/crop.page.dart
Labels: 📱mobile

#11493 fix(server): external domain url validation
  server/src/dtos/system-config.dto.ts
Labels: 📱mobile, 🖥️web, 🗄️server
