Repository immich-app/immich, pull requests merged in 2024-01, with the labels that each got.

#6091 fix(server): remove archived people from explore
  server/src/infra/repositories/person.repository.ts
  server/src/infra/sql/person.repository.sql
Labels: 🗄️server

#6047 fix(web): cancel select all
  web/src/lib/components/photos-page/actions/select-all-assets.svelte
  web/src/lib/components/shared-components/control-app-bar.svelte
  web/src/lib/stores/assets.store.ts
Labels: 🖥️web

#5754 chore(web): migrate to vitest
  .github/workflows/test.yml
  web/babel.config.cjs
  web/jest.config.mjs
  web/package-lock.json
  web/package.json
  web/src/lib/__mocks__/jsdom-url.mock.ts
  web/src/lib/components/album-page/__tests__/album-card.spec.ts
  web/src/lib/components/shared-components/notification/__tests__/notification-card.spec.ts
  web/src/lib/components/shared-components/notification/__tests__/notification-list.spec.ts
  web/src/lib/utils/asset-utils.spec.ts
  web/src/lib/utils/executor-queue.spec.ts
  web/src/lib/utils/time-to-seconds.spec.ts
  web/src/routes/(user)/albums/__tests__/albums.bloc.spec.ts
  web/src/test-data/factories/album-factory.ts
  web/src/test-data/factories/user-factory.ts
  web/src/test-data/setup.ts
  web/tsconfig.json
  web/vite.config.js
Labels: 🖥️web

#5702 chore(server): refactor config init process
  server/src/domain/domain.module.ts
  server/src/domain/job/job.service.spec.ts
  server/src/domain/job/job.service.ts
  server/src/domain/storage-template/storage-template.service.spec.ts
  server/src/domain/storage-template/storage-template.service.ts
  server/src/domain/system-config/system-config.constants.ts
  server/src/domain/system-config/system-config.service.ts
  server/src/microservices/app.service.ts
Labels: 🗄️server

#5868 chore(mobile): update en-US.json - spelling changes
  mobile/assets/i18n/en-US.json
Labels: 📱mobile

#6104 chore: group svelte major deps
  renovate.json
Labels: dependencies

#6094 fix(docs): update broken link
  docs/docs/guides/remote-access.md
  docs/docs/install/config-file.md
Labels: documentation

#5717 sanitize storagelabel when creating a user #3346
  server/src/domain/user/user.core.ts
Labels: 🗄️server

#5974 feat(server): Enqueue jobs in bulk
  server/src/domain/asset/asset.service.spec.ts
  server/src/domain/asset/asset.service.ts
  server/src/domain/job/job.service.spec.ts
  server/src/domain/job/job.service.ts
  server/src/domain/library/library.service.spec.ts
  server/src/domain/library/library.service.ts
  server/src/domain/media/media.service.spec.ts
  server/src/domain/media/media.service.ts
  server/src/domain/metadata/metadata.service.spec.ts
  server/src/domain/metadata/metadata.service.ts
  server/src/domain/person/person.service.spec.ts
  server/src/domain/person/person.service.ts
  server/src/domain/repositories/job.repository.ts
  server/src/domain/smart-info/smart-info.service.spec.ts
  server/src/domain/smart-info/smart-info.service.ts
  server/src/domain/user/user.service.spec.ts
  server/src/domain/user/user.service.ts
  server/src/infra/repositories/job.repository.ts
  server/test/repositories/job.repository.mock.ts
  server/test/test-utils.ts
Labels: 🗄️server

#5968 docs: hardware-transcoding.md
  docs/docs/features/hardware-transcoding.md
Labels: documentation

#5966 feat(server): search across own+partner assets
  server/src/domain/person/person.service.ts
  server/src/domain/repositories/asset.repository.ts
  server/src/domain/repositories/smart-info.repository.ts
  server/src/domain/search/search.service.spec.ts
  server/src/domain/search/search.service.ts
  server/src/infra/repositories/asset.repository.ts
  server/src/infra/repositories/smart-info.repository.ts
  server/src/infra/sql/smart.info.repository.sql
Labels: 🗄️server, feel-free-to-merge-👍

#6110 fix(cli): file handles
  cli/package-lock.json
  cli/package.json
  cli/src/commands/upload.ts
  cli/src/cores/models/asset.ts
Labels: cli

#6112 fix(web): use submit event instead of button click
  web/src/routes/(user)/share/[key]/+page.svelte
Labels: 🖥️web

#6108 feat(mobile): use new asset device endpoint
  mobile/lib/modules/backup/services/backup.service.dart
Labels: 📱mobile, feel-free-to-merge-👍

#6116 fix(web): use loading spinner instead of pulse
  web/package-lock.json
  web/package.json
  web/src/lib/components/shared-components/loading-spinner.svelte
  web/src/lib/components/user-settings-page/library-list.svelte
Labels: 🖥️web

#5288 Update libraries.md - External Library step by step set up guide added
  docs/docs/features/libraries.md
Labels: documentation

#6135 docs: typo detial -> detail
  docs/docs/features/facial-recognition.md
Labels: documentation

#6148 fix(cli): add unit tests for exclusion patterns
  cli/src/services/crawl.service.spec.ts
Labels: cli

#6153 chore(cli): remove chai and unused types
  cli/package-lock.json
  cli/package.json
Labels: cli

#6146 feat(web,server): external domain setting
  cli/src/api/open-api/api.ts
  mobile/lib/modules/shared_link/ui/shared_link_item.dart
  mobile/lib/modules/shared_link/views/shared_link_edit_page.dart
  mobile/lib/shared/models/server_info/server_config.model.dart
  mobile/lib/shared/providers/server_info.provider.dart
  mobile/openapi/.openapi-generator/FILES
  mobile/openapi/README.md
  mobile/openapi/doc/ServerConfigDto.md
  mobile/openapi/doc/SystemConfigDto.md
  mobile/openapi/doc/SystemConfigServerDto.md
  mobile/openapi/lib/api.dart
  mobile/openapi/lib/api_client.dart
  mobile/openapi/lib/model/server_config_dto.dart
  mobile/openapi/lib/model/system_config_dto.dart
  mobile/openapi/lib/model/system_config_server_dto.dart
  mobile/openapi/test/server_config_dto_test.dart
  mobile/openapi/test/system_config_dto_test.dart
  mobile/openapi/test/system_config_server_dto_test.dart
  server/immich-openapi-specs.json
  server/src/domain/server-info/server-info.dto.ts
  server/src/domain/server-info/server-info.service.spec.ts
  server/src/domain/server-info/server-info.service.ts
  server/src/domain/system-config/dto/system-config-server.dto.ts
  server/src/domain/system-config/dto/system-config.dto.ts
  server/src/domain/system-config/system-config.core.ts
  server/src/domain/system-config/system-config.service.spec.ts
  server/src/infra/entities/system-config.entity.ts
  server/test/e2e/server-info.e2e-spec.ts
  web/src/api/open-api/api.ts
  web/src/api/utils.ts
  web/src/lib/components/admin-page/settings/server/server-settings.svelte
  web/src/lib/components/shared-components/create-share-link-modal/create-shared-link-modal.svelte
  web/src/lib/stores/server-config.store.ts
  web/src/routes/(user)/sharing/sharedlinks/+page.svelte
  web/src/routes/admin/system-settings/+page.svelte
Labels: 🗄️server, feel-free-to-merge-👍

#6156 chore(server): time bucket sql
  server/src/infra/infra.util.ts
  server/src/infra/repositories/asset.repository.ts
  server/src/infra/sql/asset.repository.sql
Labels: 🗄️server

#6158 docs: unused geocoding env variable
  docs/docs/install/environment-variables.md
Labels: documentation

#6157 feat(server)!: move welcome message to settings
  cli/src/api/open-api/api.ts
  docs/docs/install/environment-variables.md
  mobile/openapi/doc/SystemConfigServerDto.md
  mobile/openapi/lib/model/system_config_server_dto.dart
  mobile/openapi/test/system_config_server_dto_test.dart
  server/immich-openapi-specs.json
  server/src/domain/server-info/server-info.service.ts
  server/src/domain/system-config/dto/system-config-server.dto.ts
  server/src/domain/system-config/system-config.core.ts
  server/src/domain/system-config/system-config.service.spec.ts
  server/src/infra/entities/system-config.entity.ts
  web/src/api/open-api/api.ts
  web/src/lib/components/admin-page/settings/server/server-settings.svelte
Labels: 🗄️server, breaking-change

#6066 feat(web): onboarding
  cli/src/api/open-api/api.ts
  mobile/openapi/README.md
  mobile/openapi/doc/ServerConfigDto.md
  mobile/openapi/doc/ServerInfoApi.md
  mobile/openapi/lib/api/server_info_api.dart
  mobile/openapi/lib/model/server_config_dto.dart
  mobile/openapi/test/server_config_dto_test.dart
  mobile/openapi/test/server_info_api_test.dart
  server/immich-openapi-specs.json
  server/src/domain/server-info/server-info.dto.ts
  server/src/domain/server-info/server-info.service.spec.ts
  server/src/domain/server-info/server-info.service.ts
  server/src/immich/controllers/server-info.controller.ts
  server/src/infra/entities/system-metadata.entity.ts
  server/test/api/index.ts
  server/test/api/server-info-api.ts
  server/test/e2e/server-info.e2e-spec.ts
  server/test/repositories/index.ts
  server/test/repositories/system-metadata.repository.mock.ts
  web/src/api/open-api/api.ts
  web/src/lib/assets/settings-outline.svg
  web/src/lib/components/admin-page/settings/setting-switch.svelte
  web/src/lib/components/admin-page/settings/storage-template/storage-template-settings.svelte
  web/src/lib/components/elements/buttons/button.svelte
  web/src/lib/components/forms/login-form.svelte
  web/src/lib/components/onboarding-page/onboarding-card.svelte
  web/src/lib/components/onboarding-page/onboarding-hello.svelte
  web/src/lib/components/onboarding-page/onboarding-storage-template.svelte
  web/src/lib/components/onboarding-page/onboarding-theme.svelte
  web/src/lib/constants.ts
  web/src/lib/stores/server-config.store.ts
  web/src/routes/+layout.svelte
  web/src/routes/auth/login/+page.svelte
  web/src/routes/auth/onboarding/+page.svelte
  web/src/routes/auth/onboarding/+page.ts
Labels: 🖥️web

#6167 chore: group 'dependencies'
  .github/release.yml
  renovate.json
Labels: dependencies

#5914 chore(server): Clearer error message for machine learning failed request
  server/src/infra/repositories/machine-learning.repository.ts
Labels: 🗄️server

#6155 refactor(mobile): use startOAuth and server features flags
  mobile/lib/modules/login/services/oauth.service.dart
  mobile/lib/modules/login/ui/login_form.dart
  mobile/lib/shared/models/server_info/server_config.model.dart
  mobile/lib/shared/models/server_info/server_features.model.dart
  mobile/lib/shared/providers/server_info.provider.dart
Labels: 📱mobile

#6175 feat(server): in upload folder, split the files into folders based on the first four of the files uuid
  server/src/domain/asset/asset.service.spec.ts
  server/src/domain/asset/asset.service.ts
  server/src/domain/storage/storage.core.ts
  server/src/immich/api-v1/asset/asset.service.spec.ts
  server/src/immich/interceptors/file-upload.interceptor.ts
  server/test/fixtures/file.stub.ts
Labels: 🗄️server

#6031 fix(server): Fix incorrect sorting with search
  server/src/infra/repositories/asset.repository.ts
  server/src/infra/sql/asset.repository.sql
Labels: 📱mobile, 🗄️server

#6194 docs: Revert "Update libraries.md - External Library step by step set up guide added"
  docs/docs/features/libraries.md
Labels: documentation

#5976 (mobile): ios - calculate hash using CryptoKit
  mobile/ios/Runner/BackgroundSync/BackgroundServicePlugin.swift
  mobile/lib/modules/backup/background_service/background.service.dart
  mobile/lib/shared/services/hash.service.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: 📱mobile

#6026 feat(docs): Template script for 3-2-1 backup of the assets and database
  docs/docs/administration/backup-and-restore.md
  docs/docs/guides/template-backup-script.md
  docs/docs/overview/quick-start.mdx
Labels: documentation

#6016 feat(mobile): multiselect for search & person page
  mobile/ios/Podfile.lock
  mobile/lib/modules/asset_viewer/providers/render_list.provider.dart
  mobile/lib/modules/search/models/search_result_page_state.model.dart
  mobile/lib/modules/search/providers/all_video_assets.provider.dart
  mobile/lib/modules/search/providers/search_result_page.provider.dart
  mobile/lib/modules/search/ui/search_result_grid.dart
  mobile/lib/modules/search/views/all_videos_page.dart
  mobile/lib/modules/search/views/person_result_page.dart
  mobile/lib/modules/search/views/search_result_page.dart
Labels: 📱mobile, feel-free-to-merge-👍

#5565 fix(mobile): handle readonly and offline assets
  mobile/assets/i18n/en-US.json
  mobile/lib/extensions/collection_extensions.dart
  mobile/lib/modules/asset_viewer/ui/exif_bottom_sheet.dart
  mobile/lib/modules/asset_viewer/ui/top_control_app_bar.dart
  mobile/lib/modules/asset_viewer/views/gallery_viewer.dart
  mobile/lib/shared/models/asset.dart
  mobile/lib/shared/models/asset.g.dart
  mobile/lib/shared/ui/asset_grid/multiselect_grid.dart
  mobile/lib/utils/migration.dart
  mobile/lib/utils/selection_handlers.dart
Labels: 📱mobile

#6216 fix(server): Execute query in AlbumRepository.removeAsset method
  server/src/infra/repositories/album.repository.ts
  server/src/infra/sql/album.repository.sql
Labels: 🗄️server

#6222 docs: fix typo in liberapay link
  README.md
Labels: documentation

#6178 feat(web): previous button for on-boarding steps
  web/src/lib/assets/svg-paths.ts
  web/src/lib/components/admin-page/settings/storage-template/storage-template-settings.svelte
  web/src/lib/components/elements/icon.svelte
  web/src/lib/components/onboarding-page/onboarding-storage-template.svelte
  web/src/lib/components/onboarding-page/onboarding-theme.svelte
  web/src/lib/components/shared-components/theme-button.svelte
  web/src/routes/auth/onboarding/+page.svelte
Labels: 🖥️web

#6221 docs: Russian readme
  README.md
  README_ru_RU.md
Labels: documentation

#6229 chore(server): set onboarding for existing instances
  server/src/infra/migrations/1704571051932-DefaultOnboardingForExistingInstallations.ts
Labels: 🗄️server

#6231 feat(server): add rw2 support
  server/Dockerfile
  server/src/domain/domain.constant.ts
Labels: 🗄️server

#6176 feat(web): auto switch theme
  web/src/app.html
  web/src/lib/components/onboarding-page/onboarding-theme.svelte
  web/src/lib/components/shared-components/map/map.svelte
  web/src/lib/components/shared-components/theme-button.svelte
  web/src/lib/components/user-settings-page/appearance-settings.svelte
  web/src/lib/components/user-settings-page/user-settings-list.svelte
  web/src/lib/constants.ts
  web/src/lib/stores/preferences.store.ts
  web/src/routes/+layout.svelte
Labels: 🖥️web

#6213 feat(server): add postgres major version check
  server/src/domain/database/database.service.spec.ts
  server/src/domain/database/database.service.ts
Labels: 🗄️server

#6034 fix(server): Split database queries based on PostgreSQL bound params limit
  server/src/domain/album/album.service.spec.ts
  server/src/domain/album/album.service.ts
  server/src/domain/domain.util.ts
  server/src/domain/repositories/album.repository.ts
  server/src/infra/infra.util.ts
  server/src/infra/infra.utils.ts
  server/src/infra/repositories/access.repository.ts
  server/src/infra/repositories/album.repository.ts
  server/src/infra/repositories/asset.repository.ts
  server/src/infra/repositories/person.repository.ts
  server/src/infra/repositories/system-config.repository.ts
Labels: 🗄️server

#6232 test: small improvements to database init tests
  server/src/domain/database/database.service.spec.ts
Labels: 🗄️server

#6242 Localizely: Translations update
  mobile/assets/i18n/ca.json
  mobile/assets/i18n/cs-CZ.json
  mobile/assets/i18n/da-DK.json
  mobile/assets/i18n/de-DE.json
  mobile/assets/i18n/en-US.json
  mobile/assets/i18n/es-ES.json
  mobile/assets/i18n/es-MX.json
  mobile/assets/i18n/es-PE.json
  mobile/assets/i18n/fi-FI.json
  mobile/assets/i18n/fr-FR.json
  mobile/assets/i18n/hi-IN.json
  mobile/assets/i18n/hu-HU.json
  mobile/assets/i18n/it-IT.json
  mobile/assets/i18n/ja-JP.json
  mobile/assets/i18n/ko-KR.json
  mobile/assets/i18n/lv-LV.json
  mobile/assets/i18n/mn.json
  mobile/assets/i18n/nb-NO.json
  mobile/assets/i18n/nl-NL.json
  mobile/assets/i18n/pl-PL.json
  mobile/assets/i18n/pt-PT.json
  mobile/assets/i18n/ru-RU.json
  mobile/assets/i18n/sk-SK.json
  mobile/assets/i18n/sr-Cyrl.json
  mobile/assets/i18n/sr-Latn.json
  mobile/assets/i18n/sv-FI.json
  mobile/assets/i18n/sv-SE.json
  mobile/assets/i18n/th-TH.json
  mobile/assets/i18n/uk-UA.json
  mobile/assets/i18n/vi-VN.json
  mobile/assets/i18n/zh-CN.json
  mobile/assets/i18n/zh-Hans.json
Labels: 📱mobile

#6256 feat(server): disable onboarding when config file is set
  server/src/domain/server-info/server-info.service.ts
  server/src/immich/app.service.ts
Labels: 🗄️server

#6245 docs: update Chinese README
  README_zh_CN.md
Labels: documentation

#5640 fix(web): grid on people page
  web/src/lib/components/faces-page/people-card.svelte
  web/src/lib/components/faces-page/show-hide.svelte
  web/src/routes/(user)/people/+page.svelte
Labels: 🖥️web

#6253 fix(web): handle trailing slash in external domain
  web/src/api/utils.ts
Labels: 🖥️web

#6288 fix(web): logout and clear user store when using back button on the change password form
  web/src/routes/auth/login/+page.svelte
Labels: 🖥️web

#6290 fix(docs): Use absolute path for external library guide
  docs/docs/guides/external-library.md
  docs/docs/guides/img/add-path-field.png
  docs/docs/guides/img/path-save.png
Labels: documentation

#6297 chore: release note groups
  .github/release.yml
Labels: deployment

#6301 refactor(server): domain and infra modules
  cli/test/e2e/setup.ts
  server/src/domain/domain.module.ts
  server/src/immich-admin/app.module.ts
  server/src/immich/app.module.ts
  server/src/infra/infra.config.ts
  server/src/infra/infra.module.ts
  server/src/microservices/microservices.module.ts
  server/test/e2e/setup.ts
  server/test/test-utils.ts
Labels: 🗄️server

#6305 fix(web): auto-expand multi-line asset descriptions
  web/src/lib/components/asset-viewer/detail-panel.svelte
Labels: 🖥️web

#6307 refactor(server): split api and jobs into separate e2e suites
  .github/workflows/test.yml
  Makefile
  cli/test/e2e/login-key.e2e-spec.ts
  cli/test/e2e/server-info.e2e-spec.ts
  cli/test/e2e/setup.ts
  cli/test/e2e/upload.e2e-spec.ts
  docs/docs/developer/testing.md
  server/e2e/api/client/activity-api.ts
  server/e2e/api/client/album-api.ts
  server/e2e/api/client/api-key-api.ts
  server/e2e/api/client/asset-api.ts
  server/e2e/api/client/auth-api.ts
  server/e2e/api/client/index.ts
  server/e2e/api/client/library-api.ts
  server/e2e/api/client/partner-api.ts
  server/e2e/api/client/server-info-api.ts
  server/e2e/api/client/shared-link-api.ts
  server/e2e/api/client/user-api.ts
  server/e2e/api/jest-e2e.json
  server/e2e/api/setup.ts
  server/e2e/api/specs/activity.e2e-spec.ts
  server/e2e/api/specs/album.e2e-spec.ts
  server/e2e/api/specs/asset.e2e-spec.ts
  server/e2e/api/specs/auth.e2e-spec.ts
  server/e2e/api/specs/library.e2e-spec.ts
  server/e2e/api/specs/oauth.e2e-spec.ts
  server/e2e/api/specs/partner.e2e-spec.ts
  server/e2e/api/specs/person.e2e-spec.ts
  server/e2e/api/specs/search.e2e-spec.ts
  server/e2e/api/specs/server-info.e2e-spec.ts
  server/e2e/api/specs/shared-link.e2e-spec.ts
  server/e2e/api/specs/system-config.e2e-spec.ts
  server/e2e/api/specs/user.e2e-spec.ts
  server/e2e/api/utils.ts
  server/e2e/docker-compose.server-e2e.yml
  server/e2e/jobs/client/asset-api.ts
  server/e2e/jobs/client/auth-api.ts
  server/e2e/jobs/client/index.ts
  server/e2e/jobs/client/library-api.ts
  server/e2e/jobs/client/user-api.ts
  server/e2e/jobs/immich-e2e-config.json
  server/e2e/jobs/jest-e2e.json
  server/e2e/jobs/setup.ts
  server/e2e/jobs/specs/formats.e2e-spec.ts
  server/e2e/jobs/specs/library.e2e-spec.ts
  server/e2e/jobs/specs/metadata.e2e-spec.ts
  server/e2e/jobs/utils.ts
  server/package.json
  server/src/domain/job/job.service.spec.ts
  server/test/index.ts
Labels: 🗄️server

#6309 fix(web): copy shared link
  web/src/api/utils.ts
  web/src/lib/components/shared-components/create-share-link-modal/create-shared-link-modal.svelte
Labels: 🖥️web

#6138 fix(server): exif gps decoding
  server/package-lock.json
  server/package.json
  server/src/domain/metadata/metadata.service.ts
Labels: 🗄️server

#6308 fix(mobile): ensure notifier is mounted before updating state
  mobile/lib/modules/album/providers/album.provider.dart
  mobile/lib/modules/album/providers/shared_album.provider.dart
Labels: 📱mobile

#6310 fix(mobile): copy shared link
  mobile/assets/i18n/en-US.json
  mobile/lib/modules/shared_link/ui/shared_link_item.dart
  mobile/lib/modules/shared_link/views/shared_link_edit_page.dart
Labels: 📱mobile

#6296 ci: Run e2e tests on self-hosted runner
  .github/workflows/test.yml
Labels: deployment

#5667 feat(ml): ARMNN acceleration
  docker/mlaccel-armnn.yml
  machine-learning/Dockerfile
  machine-learning/ann/__init__.py
  machine-learning/ann/ann.cpp
  machine-learning/ann/ann.py
  machine-learning/ann/build.sh
  machine-learning/ann/export/.gitignore
  machine-learning/ann/export/build-converter.sh
  machine-learning/ann/export/download-armnn.sh
  machine-learning/ann/export/env.yaml
  machine-learning/ann/export/run.py
  machine-learning/app/config.py
  machine-learning/app/models/ann.py
  machine-learning/app/models/base.py
  machine-learning/app/models/clip.py
  machine-learning/app/models/facial_recognition.py
  machine-learning/app/test_main.py
Labels: feel-free-to-merge-👍, 🧠machine-learning

#6333 Clarify offline asset deletion process
  docs/docs/features/libraries.md
Labels: documentation

#6177 refactor(web): admin settings
  web/src/lib/components/admin-page/jobs/storage-migration-description.svelte
  web/src/lib/components/admin-page/settings/admin-settings.svelte
  web/src/lib/components/admin-page/settings/admin-settings.ts
  web/src/lib/components/admin-page/settings/ffmpeg/ffmpeg-settings.svelte
  web/src/lib/components/admin-page/settings/job-settings/job-settings.svelte
  web/src/lib/components/admin-page/settings/library-settings/library-settings.svelte
  web/src/lib/components/admin-page/settings/logging-settings/logging-settings.svelte
  web/src/lib/components/admin-page/settings/machine-learning-settings/machine-learning-settings.svelte
  web/src/lib/components/admin-page/settings/map-settings/map-settings.svelte
  web/src/lib/components/admin-page/settings/new-version-check-settings/new-version-check-settings.svelte
  web/src/lib/components/admin-page/settings/oauth/oauth-settings.svelte
  web/src/lib/components/admin-page/settings/password-login/password-login-settings.svelte
  web/src/lib/components/admin-page/settings/server/server-settings.svelte
  web/src/lib/components/admin-page/settings/storage-template/storage-template-settings.svelte
  web/src/lib/components/admin-page/settings/theme/theme-settings.svelte
  web/src/lib/components/admin-page/settings/thumbnail/thumbnail-settings.svelte
  web/src/lib/components/admin-page/settings/trash-settings/trash-settings.svelte
  web/src/lib/components/onboarding-page/onboarding-storage-template.svelte
  web/src/routes/admin/jobs-status/+page.svelte
  web/src/routes/admin/system-settings/+page.svelte
Labels: 🖥️web

#6330 fix(web): OAuth settings nits
  web/src/lib/components/admin-page/settings/oauth/oauth-settings.svelte
Labels: 🖥️web

#5958 Edit and update of FAQ+new database GUI guide
  docs/docs/FAQ.md
  docs/docs/FAQ.mdx
  docs/docs/administration/backup-and-restore.md
  docs/docs/developer/architecture.mdx
  docs/docs/developer/setup.md
  docs/docs/features/libraries.md
  docs/docs/guides/assets/20231219_183007_add-new-server-option.png
  docs/docs/guides/database-gui.md
  docs/docs/guides/img/Connection-Pgadmin.png
  docs/docs/guides/img/add-new-server-option.png
  docs/docs/guides/remote-access.md
  docs/docs/guides/remote-machine-learning.md
  docs/docs/guides/remove-offline-files.md
  docs/docs/overview/Comparison.md
  docs/docs/overview/help.md
  docs/docs/overview/logo.md
  docs/docs/overview/quick-start.mdx
  docs/docs/overview/support-the-project.md
Labels: documentation

#4249 fix(web): Uses asset exif info for desc in asset viewer
  web/src/lib/components/asset-viewer/detail-panel.svelte
Labels: 🖥️web

#6352 feat(server): track metadata extracted at
  server/src/domain/metadata/metadata.service.ts
  server/src/infra/entities/asset-job-status.entity.ts
  server/src/infra/migrations/1705094221536-AddMetadataExtractedAt.ts
  server/src/infra/repositories/asset.repository.ts
Labels: 🗄️server

#6351 fix(web): wrap long word in description
  web/src/lib/components/asset-viewer/detail-panel.svelte
Labels: 🖥️web

#6356 fix(ml): remove unused import
  machine-learning/app/main.py
  machine-learning/export/models/openclip.py
Labels: 🧠machine-learning

#6358 fix(web): quota usage view
  web/src/lib/components/shared-components/status-box.svelte
Labels: 🖥️web

#6354 fix(docs) Fix relative paths leading to broken links
  docs/docs/administration/backup-and-restore.md
  docs/docs/administration/storage-template.mdx
  docs/docs/administration/user-management.mdx
  docs/docs/features/mobile-app.mdx
  docs/docs/guides/external-library.md
  docs/docs/install/post-install.mdx
  docs/docs/overview/quick-start.mdx
Labels: documentation

#6368 fix(docs) Fix command name
  docs/docs/developer/pr-checklist.md
Labels: documentation

#6282 feat(mobile): Adds gps locator to map prompt for easy geolocation
  mobile/lib/modules/map/views/map_location_picker_page.dart
Labels: 📱mobile

#6384 chore(dep): remove unused badges dep
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: dependencies, 📱mobile

#6392 chore(renovate): enforce compatible flavor for guava
  renovate.json
Labels: renovate

#6371 chore(web): quota enhancement
  server/src/domain/asset/asset.service.spec.ts
  server/src/domain/asset/asset.service.ts
  server/src/domain/repositories/user.repository.ts
  server/src/domain/user/user.service.ts
  server/src/infra/repositories/asset.repository.ts
  server/src/infra/repositories/user.repository.ts
  server/src/infra/sql/asset.repository.sql
  server/src/infra/sql/user.repository.sql
  web/src/lib/components/forms/edit-user-form.svelte
  web/src/routes/admin/user-management/+page.svelte
Labels: 🖥️web

#6048 feat(mobile): Focus search on doubletap nav button
  mobile/lib/modules/search/ui/immich_search_bar.dart
  mobile/lib/shared/views/tab_controller_page.dart
Labels: 📱mobile, feel-free-to-merge-👍

#6398 chore(renovate): enforce compatible flavor for guava using versionScheme
  renovate.json
Labels: renovate

#6344 fix(server): extract image description
  server/e2e/jobs/specs/formats.e2e-spec.ts
  server/src/domain/metadata/metadata.service.spec.ts
  server/src/domain/metadata/metadata.service.ts
Labels: 🗄️server

#6390 chore(dep): update auto_route
  mobile/lib/modules/activities/views/activities_page.dart
  mobile/lib/modules/album/views/album_options_part.dart
  mobile/lib/modules/album/views/album_viewer_page.dart
  mobile/lib/modules/album/views/asset_selection_page.dart
  mobile/lib/modules/album/views/create_album_page.dart
  mobile/lib/modules/album/views/library_page.dart
  mobile/lib/modules/album/views/select_additional_user_for_sharing_page.dart
  mobile/lib/modules/album/views/select_user_for_sharing_page.dart
  mobile/lib/modules/album/views/sharing_page.dart
  mobile/lib/modules/archive/views/archive_page.dart
  mobile/lib/modules/asset_viewer/views/gallery_viewer.dart
  mobile/lib/modules/asset_viewer/views/video_viewer_page.dart
  mobile/lib/modules/backup/views/album_preview_page.dart
  mobile/lib/modules/backup/views/backup_album_selection_page.dart
  mobile/lib/modules/backup/views/backup_controller_page.dart
  mobile/lib/modules/backup/views/backup_options_page.dart
  mobile/lib/modules/backup/views/failed_backup_status_page.dart
  mobile/lib/modules/favorite/views/favorites_page.dart
  mobile/lib/modules/home/views/home_page.dart
  mobile/lib/modules/login/ui/change_password_form.dart
  mobile/lib/modules/login/views/change_password_page.dart
  mobile/lib/modules/login/views/login_page.dart
  mobile/lib/modules/map/views/map_location_picker_page.dart
  mobile/lib/modules/map/views/map_page.dart
  mobile/lib/modules/memories/views/memory_page.dart
  mobile/lib/modules/onboarding/views/permission_onboarding_page.dart
  mobile/lib/modules/partner/views/partner_detail_page.dart
  mobile/lib/modules/partner/views/partner_page.dart
  mobile/lib/modules/search/views/all_motion_videos_page.dart
  mobile/lib/modules/search/views/all_people_page.dart
  mobile/lib/modules/search/views/all_videos_page.dart
  mobile/lib/modules/search/views/curated_location_page.dart
  mobile/lib/modules/search/views/person_result_page.dart
  mobile/lib/modules/search/views/recently_added_page.dart
  mobile/lib/modules/search/views/search_page.dart
  mobile/lib/modules/search/views/search_result_page.dart
  mobile/lib/modules/settings/views/settings_page.dart
  mobile/lib/modules/shared_link/views/shared_link_edit_page.dart
  mobile/lib/modules/shared_link/views/shared_link_page.dart
  mobile/lib/modules/trash/views/trash_page.dart
  mobile/lib/routing/router.dart
  mobile/lib/routing/router.gr.dart
  mobile/lib/shared/views/app_log_detail_page.dart
  mobile/lib/shared/views/app_log_page.dart
  mobile/lib/shared/views/splash_screen.dart
  mobile/lib/shared/views/tab_controller_page.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: 📱mobile

#6402 deps: fix guava versioning
  renovate.json
Labels: dependencies

#6403 docs: fix pgAdmin links
  docs/docs/guides/database-gui.md
Labels: documentation

#6394 fix(server): add filename search
  server/e2e/api/specs/search.e2e-spec.ts
  server/src/infra/entities/asset.entity.ts
  server/src/infra/migrations/1705306747072-AddOriginalFileNameIndex.ts
  server/src/infra/repositories/asset.repository.ts
  server/src/infra/sql/asset.repository.sql
Labels: 🗄️server

#6406 fix(mobile): null check on null value on top app bar
  mobile/ios/Podfile.lock
  mobile/lib/modules/asset_viewer/ui/top_control_app_bar.dart
Labels: 📱mobile

#6425 deps: separate out reflect metadata
  renovate.json
Labels: dependencies

#6433 fix: enable/disable password login on truenas
  server/src/immich-admin/commands/password-login.ts
  server/src/immich-admin/main.ts
  server/src/immich/controllers/app.controller.ts
Labels: 🗄️server

#6409 feat(mobile): quota
  mobile/.fvm/fvm_config.json
  mobile/.fvmrc
  mobile/.gitignore
  mobile/.vscode/settings.json
  mobile/ios/Podfile.lock
  mobile/lib/main.dart
  mobile/lib/modules/backup/services/backup.service.dart
  mobile/lib/modules/backup/views/failed_backup_status_page.dart
  mobile/lib/shared/models/user.dart
  mobile/lib/shared/models/user.g.dart
  mobile/lib/shared/providers/user.provider.dart
  mobile/lib/shared/ui/app_bar_dialog/app_bar_dialog.dart
  mobile/openapi/lib/model/partner_response_dto.dart
  mobile/openapi/lib/model/user_response_dto.dart
  mobile/pubspec.lock
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/client/api.ts
  server/src/domain/user/response-dto/user-response.dto.ts
Labels: 📱mobile

#4505 feat(mobile): separate delete buttons
  mobile/assets/i18n/en-US.json
  mobile/lib/modules/home/ui/control_bottom_app_bar.dart
  mobile/lib/modules/home/ui/delete_dialog.dart
  mobile/lib/shared/providers/asset.provider.dart
  mobile/lib/shared/ui/asset_grid/multiselect_grid.dart
  mobile/lib/shared/ui/confirm_dialog.dart
  mobile/lib/shared/ui/drag_sheet.dart
Labels: 📱mobile

#6447 Move 'Add' button on album user invite to the same row as 'To' List
  web/src/lib/components/album-page/user-selection-modal.svelte
Labels: 🖥️web

#6449 Update remove-offline-files.md
  docs/docs/guides/remove-offline-files.md
Labels: documentation

#6239 feat(web): force delete with shift key
  web/src/lib/components/asset-viewer/asset-viewer.svelte
  web/src/lib/components/photos-page/actions/archive-action.svelte
  web/src/lib/components/photos-page/actions/delete-assets.svelte
  web/src/lib/components/photos-page/actions/favorite-action.svelte
  web/src/lib/components/photos-page/actions/restore-assets.svelte
  web/src/lib/components/photos-page/actions/stack-action.svelte
  web/src/lib/components/photos-page/asset-grid.svelte
  web/src/lib/components/photos-page/asset-select-control-bar.svelte
  web/src/lib/components/photos-page/delete-asset-dialog.svelte
  web/src/lib/components/shared-components/show-shortcuts.svelte
  web/src/lib/components/user-settings-page/trash-settings.svelte
  web/src/lib/components/user-settings-page/user-settings-list.svelte
  web/src/lib/stores/preferences.store.ts
  web/src/lib/utils/actions.ts
  web/src/routes/(user)/albums/+page.svelte
  web/src/routes/(user)/trash/+page.svelte
  web/src/routes/(user)/user-settings/+page.svelte
Labels: 🖥️web

#6444 fix(mobile): add to album - list thumbnails
  mobile/lib/modules/album/ui/album_thumbnail_listtile.dart
Labels: 📱mobile

#6457 fix(server): handle 5 digit years
  server/e2e/api/specs/asset.e2e-spec.ts
  server/src/infra/repositories/asset.repository.ts
  server/src/infra/sql/asset.repository.sql
Labels: 🗄️server

#6458 fix(server): set log level of immich-admin process in boostrap function
  server/src/immich-admin/main.ts
Labels: 🗄️server

#5796 feat(server, web): smart merge
  server/src/domain/person/person.service.spec.ts
  server/src/domain/person/person.service.ts
  server/test/fixtures/person.stub.ts
  web/src/lib/components/admin-page/settings/setting-switch.svelte
  web/src/lib/components/elements/slider.svelte
  web/src/lib/components/faces-page/merge-face-selector.svelte
  web/src/routes/(user)/people/+page.svelte
  web/src/routes/(user)/people/[personId]/+page.svelte
Labels: 🗄️server

#6332 feat(server): provide the ability to search archived photos
  docs/docs/features/search.md
  mobile/openapi/doc/SearchApi.md
  mobile/openapi/lib/api/search_api.dart
  mobile/openapi/test/search_api_test.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/client/api.ts
  server/src/domain/repositories/smart-info.repository.ts
  server/src/domain/search/dto/search.dto.ts
  server/src/domain/search/search.service.spec.ts
  server/src/domain/search/search.service.ts
  server/src/infra/repositories/smart-info.repository.ts
Labels: 🗄️server

#6357 fix(cli): uploadCounters increase only when files are uploaded
  cli/src/commands/upload.ts
Labels: cli

#6461 fix(server): scale transcoded videos if dimensions are odd
  server/src/domain/media/media.service.spec.ts
  server/src/domain/media/media.util.ts
  server/test/fixtures/media.stub.ts
Labels: 🗄️server

#6464 docs: remove tsc check
  .github/workflows/test.yml
  docs/package.json
Labels: documentation

#6462 deps: update docs
  docs/docs/FAQ.mdx
  docs/docs/developer/testing.md
  docs/docs/install/environment-variables.md
  docs/docusaurus.config.js
  docs/package-lock.json
  docs/package.json
  docs/tsconfig.json
Labels: dependencies

#5598 feat(server): separate face clustering job
  docs/docs/FAQ.mdx
  docs/docs/install/config-file.md
  machine-learning/app/main.py
  machine-learning/poetry.lock
  mobile/openapi/doc/AllJobStatusResponseDto.md
  mobile/openapi/doc/RecognitionConfig.md
  mobile/openapi/doc/SystemConfigJobDto.md
  mobile/openapi/lib/model/all_job_status_response_dto.dart
  mobile/openapi/lib/model/job_name.dart
  mobile/openapi/lib/model/recognition_config.dart
  mobile/openapi/lib/model/system_config_job_dto.dart
  mobile/openapi/test/all_job_status_response_dto_test.dart
  mobile/openapi/test/recognition_config_test.dart
  mobile/openapi/test/system_config_job_dto_test.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/client/api.ts
  server/e2e/jobs/utils.ts
  server/src/domain/audit/audit.service.ts
  server/src/domain/job/job.constants.ts
  server/src/domain/job/job.dto.ts
  server/src/domain/job/job.interface.ts
  server/src/domain/job/job.service.spec.ts
  server/src/domain/job/job.service.ts
  server/src/domain/media/media.service.spec.ts
  server/src/domain/media/media.service.ts
  server/src/domain/person/person.service.spec.ts
  server/src/domain/person/person.service.ts
  server/src/domain/repositories/asset.repository.ts
  server/src/domain/repositories/job.repository.ts
  server/src/domain/repositories/person.repository.ts
  server/src/domain/repositories/smart-info.repository.ts
  server/src/domain/smart-info/dto/model-config.dto.ts
  server/src/domain/smart-info/smart-info.service.ts
  server/src/domain/system-config/dto/system-config-job.dto.ts
  server/src/domain/system-config/system-config.core.ts
  server/src/domain/system-config/system-config.service.spec.ts
  server/src/infra/entities/asset-face.entity.ts
  server/src/infra/entities/system-config.entity.ts
  server/src/infra/infra.utils.ts
  server/src/infra/migrations/1704943345360-SetAssetFaceNullOnPersonDelete.ts
  server/src/infra/repositories/asset.repository.ts
  server/src/infra/repositories/filesystem.provider.ts
  server/src/infra/repositories/job.repository.ts
  server/src/infra/repositories/machine-learning.repository.ts
  server/src/infra/repositories/person.repository.ts
  server/src/infra/repositories/smart-info.repository.ts
  server/src/infra/sql/person.repository.sql
  server/src/infra/sql/smart.info.repository.sql
  server/src/microservices/app.service.ts
  server/test/fixtures/face.stub.ts
  server/test/repositories/job.repository.mock.ts
  server/test/repositories/person.repository.mock.ts
  web/src/api/api.ts
  web/src/lib/components/admin-page/jobs/jobs-panel.svelte
  web/src/lib/components/admin-page/settings/job-settings/job-settings.svelte
  web/src/lib/components/admin-page/settings/machine-learning-settings/machine-learning-settings.svelte
  web/src/lib/components/admin-page/settings/setting-input-field.svelte
Labels: 🧠machine-learning

#6475 fix(web): trash or delete
  web/src/lib/components/photos-page/asset-grid.svelte
Labels: 🖥️web

#6465 chore: update bug template
  .github/ISSUE_TEMPLATE/bug_report.yaml
Labels: documentation

#6477 feat(format): hif format
  server/src/domain/domain.constant.spec.ts
  server/src/domain/domain.constant.ts
Labels: 🗄️server

#6476 fix(mobile): asset state when delete from trash
  mobile/assets/i18n/en-US.json
  mobile/lib/modules/home/ui/control_bottom_app_bar.dart
  mobile/lib/modules/trash/providers/trashed_asset.provider.dart
  mobile/lib/modules/trash/views/trash_page.dart
Labels: 📱mobile

#6240 feat(mobile): long-press delete button to permanently delete asset
  mobile/lib/modules/asset_viewer/views/gallery_viewer.dart
  mobile/lib/modules/home/ui/control_bottom_app_bar.dart
  mobile/lib/shared/ui/asset_grid/multiselect_grid.dart
  mobile/lib/shared/ui/drag_sheet.dart
Labels: 📱mobile, to-be-reviewed

#6482 fix(web): prevent layout change from scrollbar in admin setings
  web/src/app.css
  web/src/lib/components/layouts/user-page-layout.svelte
Labels: 🖥️web

#6485 fix(web): slider
  web/src/lib/components/admin-page/settings/setting-switch.svelte
  web/src/lib/components/elements/slider.svelte
Labels: 🖥️web

#6502 fix: open api pump
  docs/docs/developer/open-api.md
  misc/release/pump-version.sh
  mobile/openapi/README.md
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/client/api.ts
  open-api/typescript-sdk/client/base.ts
  open-api/typescript-sdk/client/common.ts
  open-api/typescript-sdk/client/configuration.ts
  open-api/typescript-sdk/client/index.ts
Labels: deployment

#6504 revert smart merge
  server/src/domain/person/person.service.spec.ts
  server/src/domain/person/person.service.ts
  server/test/fixtures/person.stub.ts
  web/src/lib/components/admin-page/settings/setting-switch.svelte
  web/src/lib/components/elements/slider.svelte
  web/src/lib/components/faces-page/merge-face-selector.svelte
  web/src/routes/(user)/people/+page.svelte
  web/src/routes/(user)/people/[personId]/+page.svelte
Labels: 🖥️web

#6500 fix(web): user list when sharing an album
  web/src/lib/components/album-page/user-selection-modal.svelte
Labels: 🖥️web

#6497 fix(mobile): stack button not in bottom app bar
  mobile/lib/modules/home/ui/control_bottom_app_bar.dart
Labels: 📱mobile

#6508 feat: smart merge
  server/src/domain/person/person.service.spec.ts
  server/src/domain/person/person.service.ts
  server/test/fixtures/person.stub.ts
  web/src/lib/components/faces-page/merge-face-selector.svelte
  web/src/routes/(user)/people/+page.svelte
  web/src/routes/(user)/people/[personId]/+page.svelte
Labels: 🗄️server

#6511 fix(web): better invite shared user to album layout
  web/src/lib/components/album-page/user-selection-modal.svelte
Labels: 🖥️web

#6514 fix(web): delete user
  web/src/routes/admin/user-management/+page.svelte
Labels: 🖥️web

#6512 fix(web): album description
  web/src/lib/components/asset-viewer/activity-viewer.svelte
  web/src/lib/components/asset-viewer/asset-viewer.svelte
  web/src/routes/(user)/albums/[albumId]/+page.svelte
Labels: 🖥️web

#6520 fix(web): better button placement within the user management table
  web/src/routes/admin/user-management/+page.svelte
Labels: 🖥️web

#6518 fix(web): Use correct unit for user quota
  web/src/lib/components/forms/create-user-form.svelte
  web/src/lib/components/forms/edit-user-form.svelte
Labels: 🖥️web

#6530 feat(web) dismiss user management modals on escape
  web/src/routes/admin/user-management/+page.svelte
Labels: 🖥️web

#6535 fix(server): use crf-based two pass for vp9 if max bitrate is disabled
  server/src/domain/media/media.service.spec.ts
  server/src/domain/media/media.util.ts
Labels: 🗄️server

#6542 fix(server): disable sharp file caching
  server/src/infra/repositories/media.repository.ts
Labels: 🗄️server

#6556 fix(server): only calculate quota usage for internal assets
  server/src/infra/repositories/user.repository.ts
  server/src/infra/sql/user.repository.sql
Labels: 🗄️server

#6558 feat(mobile): Add Slovenian
  mobile/assets/i18n/sl-SI.json
  mobile/ios/Runner/Info.plist
  mobile/lib/constants/locales.dart
Labels: 📱mobile

#6557 doc: developer setup docs
  docs/docs/developer/setup.md
Labels: documentation

#5619 feat(ml)!: cuda and openvino acceleration
  .github/workflows/docker.yml
  .github/workflows/prepare-release.yml
  .github/workflows/test.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.prod.yml
  docker/docker-compose.yml
  docker/hwaccel-rkmpp.yml
  docker/hwaccel.ml.yml
  docker/hwaccel.transcoding.yml
  docker/hwaccel.yml
  docker/mlaccel-armnn.yml
  machine-learning/Dockerfile
  machine-learning/README.md
  machine-learning/app/config.py
  machine-learning/app/conftest.py
  machine-learning/app/main.py
  machine-learning/app/models/base.py
  machine-learning/app/models/clip.py
  machine-learning/app/models/constants.py
  machine-learning/app/schemas.py
  machine-learning/app/test_main.py
  machine-learning/poetry.lock
  machine-learning/pyproject.toml
Labels: 🧠machine-learning

#6517 refactor(web): descriptions
  web/src/lib/components/album-page/edit-description-modal.svelte
  web/src/lib/components/asset-viewer/activity-viewer.svelte
  web/src/lib/components/asset-viewer/detail-panel.svelte
  web/src/lib/utils/autogrow.ts
  web/src/routes/(user)/albums/[albumId]/+page.svelte
Labels: 🖥️web

#6562 chore: remove unused files and references
  docs/docs/developer/setup.md
  docs/src/components/HomepageFeatures/index.tsx
  docs/src/components/HomepageFeatures/styles.module.css
  docs/static/img/docusaurus.png
  docs/static/img/undraw_docusaurus_mountain.svg
  docs/static/img/undraw_docusaurus_react.svg
  docs/static/img/undraw_docusaurus_tree.svg
  server/openapitools.json
  web/README.md
  web/__mocks__/$app/environment.js
  web/__mocks__/$env/dynamic/public.js
  web/how-to-scroll-like-google.md
Labels: deployment

#6561 fix(web): auto generate open api build
  docker/docker-compose.dev.yml
  docs/docs/developer/setup.md
  web/Dockerfile
  web/bin/immich-web
Labels: 🖥️web

#6579 deps: update renovate groups and schedule
  renovate.json
Labels: dependencies

#6564 fix(web): always use websocket transport
  server/src/infra/repositories/communication.repository.ts
  web/src/lib/stores/websocket.ts
Labels: 🖥️web

#6484 chore(server): sort open api params
  mobile/lib/shared/services/asset.service.dart
  mobile/openapi/doc/ActivityApi.md
  mobile/openapi/doc/AlbumApi.md
  mobile/openapi/doc/AssetApi.md
  mobile/openapi/doc/AuditApi.md
  mobile/openapi/doc/SearchApi.md
  mobile/openapi/doc/SharedLinkApi.md
  mobile/openapi/lib/api/activity_api.dart
  mobile/openapi/lib/api/album_api.dart
  mobile/openapi/lib/api/asset_api.dart
  mobile/openapi/lib/api/audit_api.dart
  mobile/openapi/lib/api/search_api.dart
  mobile/openapi/lib/api/shared_link_api.dart
  mobile/openapi/test/activity_api_test.dart
  mobile/openapi/test/album_api_test.dart
  mobile/openapi/test/asset_api_test.dart
  mobile/openapi/test/audit_api_test.dart
  mobile/openapi/test/search_api_test.dart
  mobile/openapi/test/shared_link_api_test.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/client/api.ts
  server/src/immich/app.utils.ts
Labels: 🗄️server

#6582 fix(web): revert descriptions
  web/src/lib/components/album-page/album-viewer.svelte
  web/src/lib/components/asset-viewer/detail-panel.svelte
  web/src/routes/(user)/albums/[albumId]/+page.svelte
Labels: 🖥️web

#6578 chore(server): remove old device id endpoint
  mobile/openapi/README.md
  mobile/openapi/doc/AssetApi.md
  mobile/openapi/lib/api/asset_api.dart
  mobile/openapi/test/asset_api_test.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/client/api.ts
  server/src/domain/asset/dto/asset.dto.ts
  server/src/immich/api-v1/asset/asset-repository.ts
  server/src/immich/api-v1/asset/asset.controller.ts
  server/src/immich/api-v1/asset/asset.service.spec.ts
  server/src/immich/api-v1/asset/asset.service.ts
  server/src/immich/api-v1/asset/dto/device-id.dto.ts
  server/src/immich/controllers/asset.controller.ts
Labels: 🗄️server, breaking-change

#6581 fix(web): statusbox re-rendering and nav bar when trashing assets
  web/src/lib/components/photos-page/actions/delete-assets.svelte
  web/src/lib/components/shared-components/status-box.svelte
Labels: 🖥️web

#6603 spelling of "recommend" - Update command-line-interface.md
  docs/docs/features/command-line-interface.md
Labels: documentation

#6604 docs: diff highlighting
  docs/docs/guides/remove-offline-files.md
  docs/docusaurus.config.js
Labels: documentation

#6605 fix(docs): search
  docs/src/theme/SearchBar/DocSearch.js
  docs/src/theme/SearchBar/algolia.css
  docs/src/theme/SearchBar/index.js
  docs/src/theme/SearchBar/lunar-search.js
  docs/src/theme/SearchBar/styles.css
  docs/src/theme/SearchBar/templates.js
  docs/src/theme/SearchBar/utils.js
Labels: documentation

#6606 chore(server): remove unused dependency
  cli/package-lock.json
  server/package-lock.json
  server/package.json
Labels: 🗄️server

#6612 fix(mobile): es-US pluralization
  mobile/assets/i18n/es-US.json
Labels: 📱mobile

#6608 fix(web): merging people when renaming
  web/src/routes/(user)/people/+page.svelte
Labels: 🖥️web

#6625 docs: add reverse proxy configuration for Apache
  docs/docs/administration/reverse-proxy.md
Labels: documentation

#6632 refactor(server): e2e
  Makefile
  cli/test/e2e/jest-e2e.json
  cli/test/e2e/login-key.e2e-spec.ts
  cli/test/e2e/server-info.e2e-spec.ts
  cli/test/e2e/upload.e2e-spec.ts
  cli/tsconfig.json
  docs/docs/developer/testing.md
  server/bin/immich-test
  server/e2e/api/specs/activity.e2e-spec.ts
  server/e2e/api/specs/album.e2e-spec.ts
  server/e2e/api/specs/asset.e2e-spec.ts
  server/e2e/api/specs/auth.e2e-spec.ts
  server/e2e/api/specs/library.e2e-spec.ts
  server/e2e/api/specs/oauth.e2e-spec.ts
  server/e2e/api/specs/partner.e2e-spec.ts
  server/e2e/api/specs/person.e2e-spec.ts
  server/e2e/api/specs/search.e2e-spec.ts
  server/e2e/api/specs/server-info.e2e-spec.ts
  server/e2e/api/specs/shared-link.e2e-spec.ts
  server/e2e/api/specs/system-config.e2e-spec.ts
  server/e2e/api/specs/user.e2e-spec.ts
  server/e2e/client/activity-api.ts
  server/e2e/client/album-api.ts
  server/e2e/client/api-key-api.ts
  server/e2e/client/asset-api.ts
  server/e2e/client/auth-api.ts
  server/e2e/client/index.ts
  server/e2e/client/library-api.ts
  server/e2e/client/partner-api.ts
  server/e2e/client/server-info-api.ts
  server/e2e/client/shared-link-api.ts
  server/e2e/client/user-api.ts
  server/e2e/docker-compose.server-e2e.yml
  server/e2e/jobs/client/asset-api.ts
  server/e2e/jobs/client/auth-api.ts
  server/e2e/jobs/client/index.ts
  server/e2e/jobs/client/library-api.ts
  server/e2e/jobs/client/user-api.ts
  server/e2e/jobs/setup.ts
  server/e2e/jobs/specs/formats.e2e-spec.ts
  server/e2e/jobs/specs/library.e2e-spec.ts
  server/e2e/jobs/specs/metadata.e2e-spec.ts
  server/e2e/jobs/utils.ts
Labels: 🗄️server

#6634 feat(server): optimize partial facial recognition
  server/e2e/api/specs/asset.e2e-spec.ts
  server/e2e/api/specs/person.e2e-spec.ts
  server/src/domain/job/job.service.spec.ts
  server/src/domain/job/job.service.ts
  server/src/domain/person/person.service.spec.ts
  server/src/domain/person/person.service.ts
  server/src/domain/repositories/person.repository.ts
  server/src/infra/repositories/person.repository.ts
  server/test/repositories/person.repository.mock.ts
Labels: 🗄️server

#6635 feat(server): sql access checks
  server/src/infra/infra.util.ts
  server/src/infra/repositories/access.repository.ts
  server/src/infra/sql-generator/index.ts
  server/src/infra/sql/access.repository.sql
Labels: 🗄️server

#6642 fix(mobile): skip tests using mock http client to make actual network request
  mobile/test/modules/activity/activities_page_test.dart
  mobile/test/modules/activity/activity_text_field_test.dart
  mobile/test/modules/activity/activity_tile_test.dart
Labels: 📱mobile

#5878 feat(web): include timestamp in download filename
  web/src/lib/components/shared-components/upload-panel.svelte
  web/src/lib/utils/asset-utils.ts
Labels: 🖥️web

#6430 Update(docs): Update documentation
  README.md
  docs/docs/FAQ.mdx
  docs/docs/administration/backup-and-restore.md
  docs/docs/administration/img/admin-jobs.png
  docs/docs/features/libraries.md
  docs/docs/guides/database-gui.md
  docs/docs/guides/remote-machine-learning.md
  docs/docs/guides/remove-offline-files.md
  docs/docs/partials/_storage-template.md
Labels: documentation

#6646 fix(ml): error logging
  machine-learning/app/config.py
  machine-learning/log_conf.json
Labels: 🧠machine-learning

#6648 chore: fix typo in `generate-open-api.sh`
  open-api/bin/generate-open-api.sh
Labels: 🗄️server

#6649 chore: remove no-op patch
  open-api/bin/generate-open-api.sh
  open-api/templates/typescript/apiInner.mustache
  open-api/templates/typescript/apiInner.mustache.orig
  open-api/templates/typescript/apiInner.mustache.patch
Labels: 🗄️server
