Repository immich-app/immich, pull requests merged in 2024-02, with the labels that each got.

#6812 Documentation: provide details on storage engine album naming
  docs/docs/partials/_storage-template.md
Labels: documentation

#6839 fix(web): Admin Settings banner/scrolling issue
  web/src/routes/admin/system-settings/+page.svelte
Labels: 🖥️web

#6841 chore: simplify API build
  open-api/typescript-sdk/package.json
  open-api/typescript-sdk/tsconfig.esm.json
  open-api/typescript-sdk/tsconfig.json
  open-api/typescript-sdk/tsconfig.types.json
Labels: maintenance

#6822 feat(web): improved album view UI & album card UI
  web/src/lib/components/album-page/album-card.svelte
  web/src/lib/components/album-page/album-viewer.svelte
  web/src/routes/(user)/albums/[albumId]/+page.svelte
Labels: 🖥️web

#6818 feat(server)!: oauth encryption algorithm setting
  docs/docs/administration/oauth.md
  mobile/openapi/doc/SystemConfigOAuthDto.md
  mobile/openapi/lib/model/system_config_o_auth_dto.dart
  mobile/openapi/test/system_config_o_auth_dto_test.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/client/api.ts
  server/src/domain/auth/auth.service.spec.ts
  server/src/domain/auth/auth.service.ts
  server/src/domain/system-config/dto/system-config-oauth.dto.ts
  server/src/domain/system-config/system-config.core.ts
  server/src/domain/system-config/system-config.service.spec.ts
  server/src/infra/entities/system-config.entity.ts
  web/src/api/utils.ts
  web/src/lib/components/admin-page/settings/oauth/oauth-settings.svelte
  web/src/lib/components/forms/login-form.svelte
Labels: 🗄️server, breaking-change

#6863 fix(server): extract duration from video as ISO time
  server/src/domain/metadata/metadata.service.spec.ts
  server/src/domain/metadata/metadata.service.ts
  server/src/domain/repositories/metadata.repository.ts
Labels: 🗄️server

#6871 fix(ml): openvino not working with dynamic axes
  machine-learning/app/models/base.py
  machine-learning/app/models/constants.py
Labels: 🧠machine-learning

#6876 chore: remove `form-data` dependency
  .github/workflows/test.yml
  cli/package-lock.json
  cli/package.json
  cli/src/commands/upload.command.ts
Labels: cli

#6878 docs(ml,server): updated hwaccel docs
  docs/docs/features/hardware-transcoding.md
  docs/docs/features/ml-hardware-acceleration.md
Labels: documentation

#6893 fix: bundle CLI with Vite
  cli/package-lock.json
  cli/package.json
  cli/tsconfig.build.json
  cli/vite.config.ts
Labels: cli

#6840 feat(mobile): Add support for Basic Authentication
  mobile/lib/modules/album/ui/album_thumbnail_listtile.dart
  mobile/lib/modules/asset_viewer/views/gallery_viewer.dart
  mobile/lib/modules/asset_viewer/views/video_viewer_page.dart
  mobile/lib/modules/backup/services/backup.service.dart
  mobile/lib/modules/map/widgets/positioned_asset_marker_icon.dart
  mobile/lib/modules/memories/ui/memory_card.dart
  mobile/lib/modules/search/ui/curated_people_row.dart
  mobile/lib/modules/search/ui/thumbnail_with_info.dart
  mobile/lib/modules/search/views/person_result_page.dart
  mobile/lib/shared/providers/websocket.provider.dart
  mobile/lib/shared/services/api.service.dart
  mobile/lib/shared/ui/immich_image.dart
  mobile/lib/shared/ui/user_avatar.dart
  mobile/lib/shared/ui/user_circle_avatar.dart
Labels: 📱mobile

#5344 feat(mobile): Add haptic feedback to asset grid
  mobile/lib/modules/home/ui/asset_grid/immich_asset_grid_view.dart
Labels: 📱mobile

#6861 fix(mobile): debounce map layer update
  mobile/lib/extensions/maplibrecontroller_extensions.dart
  mobile/lib/modules/map/views/map_page.dart
Labels: 📱mobile

#6880 chore(docs): Small FAQ tweaks and nits
  docs/docs/FAQ.mdx
Labels: documentation

#6793 feat(mobile): Memories activity is now full screen, better image fit, adds progress indicator
  mobile/lib/modules/memories/ui/memory_card.dart
  mobile/lib/modules/memories/ui/memory_epilogue.dart
  mobile/lib/modules/memories/ui/memory_lane.dart
  mobile/lib/modules/memories/ui/memory_progress_indicator.dart
  mobile/lib/modules/memories/views/memory_page.dart
Labels: 📱mobile

#6925 fix(cli): auth file should be chmod 600
  cli/package-lock.json
  cli/src/commands/base-command.ts
  cli/src/services/session.service.ts
  cli/test/cli-test-utils.ts
  cli/test/e2e/login-key.e2e-spec.ts
Labels: security, cli

#6927 chore(cli): use upload api and update documentation
  cli/package.json
  cli/src/commands/upload.command.ts
  cli/src/index.ts
  docs/docs/features/command-line-interface.md
Labels: cli

#6858 feat(cli): dockerize
  .github/workflows/docker.yml
  cli/Dockerfile
  cli/package-lock.json
  cli/package.json
  cli/src/commands/login.command.ts
  cli/src/index.ts
  cli/test/e2e/login-key.e2e-spec.ts
  docs/docs/features/command-line-interface.md
Labels: cli

#6926 chore: build API with esnext target
  open-api/typescript-sdk/tsconfig.axios.json
  open-api/typescript-sdk/tsconfig.fetch.json
Labels: maintenance

#6944 Update command-line-interface.md
  docs/docs/features/command-line-interface.md
Labels: documentation

#6948 chore(web): remove maplibre dependency
  web/package-lock.json
  web/package.json
Labels: 🖥️web

#6943 chore(server): Use ChunkedSet in Access repository
  server/src/domain/domain.util.ts
  server/src/infra/repositories/access.repository.ts
Labels: 🗄️server

#6785 feat(server)!: pgvecto.rs 0.2 and pgvector compatibility
  .github/workflows/test.yml
  cli/test/e2e/setup.ts
  docker/docker-compose.dev.yml
  docker/docker-compose.prod.yml
  docker/docker-compose.yml
  server/e2e/api/setup.ts
  server/e2e/docker-compose.server-e2e.yml
  server/e2e/jobs/setup.ts
  server/src/domain/database/database.service.spec.ts
  server/src/domain/database/database.service.ts
  server/src/domain/domain.config.ts
  server/src/domain/domain.constant.spec.ts
  server/src/domain/domain.constant.ts
  server/src/domain/repositories/database.repository.ts
  server/src/domain/repositories/smart-info.repository.ts
  server/src/infra/database.config.ts
  server/src/infra/logger.ts
  server/src/infra/migrations/1700713871511-UsePgVectors.ts
  server/src/infra/migrations/1700713994428-AddCLIPEmbeddingIndex.ts
  server/src/infra/migrations/1700714033632-AddFaceEmbeddingIndex.ts
  server/src/infra/migrations/1707000751533-AddVectorsToSearchPath.ts
  server/src/infra/repositories/database.repository.ts
  server/src/infra/repositories/smart-info.repository.ts
  server/src/infra/sql/smart.info.repository.sql
  server/test/repositories/database.repository.mock.ts
Labels: 🗄️server

#6961 feat(server): optimize face re-queueing
  server/src/domain/person/person.service.spec.ts
  server/src/domain/person/person.service.ts
Labels: 🗄️server

#6293 fix(server): check if sidecarPath exists
  server/src/domain/metadata/metadata.service.spec.ts
  server/src/domain/metadata/metadata.service.ts
  server/src/microservices/app.service.ts
Labels: 🗄️server

#6967 chore(dep): add intl to ignoreDeps and remove unused packages
  renovate.json
Labels: dependencies, renovate

#6972 fix(docs): add cuda tag to ml hwaccel example
  docs/docs/features/ml-hardware-acceleration.md
Labels: documentation

#6969 docs: fix web development setup instructions
  docs/docs/developer/setup.md
Labels: documentation

#6553 refactor(mobile): map heatmap color and location picker
  mobile/ios/Podfile.lock
  mobile/lib/extensions/build_context_extensions.dart
  mobile/lib/modules/map/utils/map_utils.dart
  mobile/lib/modules/map/views/map_location_picker_page.dart
  mobile/lib/modules/map/views/map_page.dart
  mobile/lib/modules/map/widgets/map_asset_grid.dart
Labels: 📱mobile

#6724 feat(mobile): Adds WiFi only backup option to iOS
  mobile/ios/Runner/BackgroundSync/BackgroundServicePlugin.swift
  mobile/lib/modules/backup/views/backup_options_page.dart
Labels: 📱mobile

#6970 fix: set default thumbnail aspect ratio to square
  web/src/lib/components/assets/thumbnail/image-thumbnail.svelte
Labels: 🖥️web

#6974 chore: setup `rollup-plugin-visualizer` and remove `lodash`
  web/package-lock.json
  web/package.json
  web/src/lib/components/elements/dropdown.svelte
  web/src/lib/utils/timeline-util.ts
  web/src/routes/admin/system-settings/+page.svelte
  web/vite.config.js
Labels: 🖥️web

#6964 chore(cli): publish docker image on ghcr
  .github/workflows/cli-release.yml
  .github/workflows/cli.yml
Labels: deployment, cli

#6982 chore: add repo activity to readme
  README.md
Labels: documentation

#6985 refactor(server): asset core
  server/src/immich/api-v1/asset/asset-repository.ts
  server/src/immich/api-v1/asset/asset.core.ts
  server/src/immich/api-v1/asset/asset.service.spec.ts
  server/src/immich/api-v1/asset/asset.service.ts
Labels: 🗄️server

#6958 fix(server): use luxon for deleted date calculation
  server/src/domain/user/user.service.ts
Labels: 🗄️server

#6984 chore(server): remove deprecated endpoints
  mobile/lib/modules/asset_viewer/services/asset_description.service.dart
  mobile/lib/modules/asset_viewer/services/image_viewer.service.dart
  mobile/lib/modules/backup/services/backup_verification.service.dart
  mobile/lib/modules/trash/services/trash.service.dart
  mobile/lib/shared/services/api.service.dart
  mobile/lib/shared/services/asset.service.dart
  mobile/lib/shared/services/share.service.dart
  mobile/openapi/.openapi-generator/FILES
  mobile/openapi/README.md
  mobile/openapi/doc/AssetApi.md
  mobile/openapi/doc/OAuthApi.md
  mobile/openapi/doc/OAuthConfigResponseDto.md
  mobile/openapi/lib/api.dart
  mobile/openapi/lib/api/asset_api.dart
  mobile/openapi/lib/api/o_auth_api.dart
  mobile/openapi/lib/api_client.dart
  mobile/openapi/lib/model/o_auth_config_response_dto.dart
  mobile/openapi/test/asset_api_test.dart
  mobile/openapi/test/o_auth_api_test.dart
  mobile/openapi/test/o_auth_config_response_dto_test.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/axios-client/api.ts
  open-api/typescript-sdk/fetch-client/.openapi-generator/FILES
  open-api/typescript-sdk/fetch-client/apis/AssetApi.ts
  open-api/typescript-sdk/fetch-client/apis/OAuthApi.ts
  open-api/typescript-sdk/fetch-client/models/index.ts
  server/e2e/api/specs/asset.e2e-spec.ts
  server/e2e/api/specs/download.e2e-spec.ts
  server/e2e/client/asset-api.ts
  server/src/domain/auth/auth.dto.ts
  server/src/domain/auth/auth.service.spec.ts
  server/src/domain/auth/auth.service.ts
  server/src/domain/system-config/system-config.core.ts
  server/src/immich/api-v1/asset/asset.controller.ts
  server/src/immich/controllers/asset.controller.ts
  server/src/immich/controllers/oauth.controller.ts
Labels: 🗄️server

#6950 fix(web): Handle duplicate library settings gracefully
  web/src/lib/components/forms/library-exclusion-pattern-form.svelte
  web/src/lib/components/forms/library-import-path-form.svelte
  web/src/lib/components/forms/library-import-paths-form.svelte
  web/src/lib/components/forms/library-scan-settings-form.svelte
Labels: 🖥️web

#6996 fix: update lodash calls
  web/src/lib/utils/timeline-util.ts
Labels: 🖥️web

#6995 chore: cleanup layout setup
  web/src/routes/(user)/+layout.svelte
  web/src/routes/+layout.svelte
Labels: 🖥️web

#6992 fix (web): panorama / 360 view - partial panorama: use photo-sphere-viewer
  web/package-lock.json
  web/package.json
  web/src/lib/components/asset-viewer/panorama-viewer.svelte
  web/src/lib/components/asset-viewer/photo-sphere-viewer-adapter.svelte
Labels: 🖥️web

#6993 feat(server): server-side checking of duplicate import paths and exclusion patterns
  server/e2e/api/specs/library.e2e-spec.ts
  server/src/domain/library/library.dto.ts
Labels: 🗄️server

#7005 fix: unnecessary .env file usage
  docker/docker-compose.yml
Labels: deployment

#7009 chore: remove unneccessary async/awaits
  cli/src/services/api.service.ts
  web/package-lock.json
Labels: cli

#7007 fix(mobile): Stop advancing to next memory on video ended
  mobile/lib/modules/memories/views/memory_page.dart
Labels: 📱mobile

#6980 fix(mobile): stack entity handling
  mobile/lib/shared/models/asset.dart
  server/src/immich/api-v1/asset/asset.service.ts
Labels: 📱mobile

#7012 refactor(web): removed panorama-viewer.css
  web/src/lib/components/asset-viewer/panorama-viewer.css
Labels: 🖥️web

#6435 feat(web): store accordion state in search params
  web/src/lib/components/admin-page/settings/ffmpeg/ffmpeg-settings.svelte
  web/src/lib/components/admin-page/settings/library-settings/library-settings.svelte
  web/src/lib/components/admin-page/settings/machine-learning-settings/machine-learning-settings.svelte
  web/src/lib/components/admin-page/settings/map-settings/map-settings.svelte
  web/src/lib/components/admin-page/settings/setting-accordion.svelte
  web/src/lib/components/user-settings-page/user-settings-list.svelte
  web/src/lib/constants.ts
  web/src/lib/utils.ts
  web/src/routes/admin/system-settings/+page.svelte
Labels: 🖥️web

#7020 fix(cli): broken fetch client
  open-api/bin/generate-open-api.sh
  open-api/typescript-sdk/tsconfig.fetch.json
Labels: cli

#7024 chore(ml): make execution provider log info-level
  machine-learning/app/models/base.py
  machine-learning/app/test_main.py
Labels: 🧠machine-learning

#7018 feat(server): replace axios dependency by fetch
  server/package-lock.json
  server/package.json
  server/src/infra/repositories/server-info.repository.ts
  server/src/infra/repositories/system-config.repository.ts
Labels: 🗄️server

#7027 fix: remove dead link from docs
  docs/docs/administration/reverse-proxy.md
Labels: documentation

#7040 chore: upgrade to Vite 5.1.1
  web/package-lock.json
  web/package.json
Labels: dependencies

#6986 fix(cli): Run npm ci in sdk folder before deploying to npm
  .github/workflows/cli.yml
  cli/package.json
Labels: deployment, cli

#7041 feat(ml): improve test coverage
  .github/workflows/test.yml
  machine-learning/app/main.py
  machine-learning/app/models/__init__.py
  machine-learning/app/models/base.py
  machine-learning/app/models/cache.py
  machine-learning/app/models/clip.py
  machine-learning/app/test_main.py
  machine-learning/responses.json
Labels: 🧠machine-learning

#7010 feat(server): restore modified at timestamp after upload, preserve when copying
  server/src/domain/repositories/storage.repository.ts
  server/src/domain/storage-template/storage-template.service.spec.ts
  server/src/domain/storage/storage.core.ts
  server/src/immich/api-v1/asset/asset.service.spec.ts
  server/src/immich/api-v1/asset/asset.service.ts
  server/src/infra/repositories/filesystem.provider.ts
  server/test/repositories/storage.repository.mock.ts
Labels: 🗄️server

#7028 feat(mobile): thumbhash support
  mobile/lib/shared/models/asset.dart
  mobile/lib/shared/models/asset.g.dart
  mobile/lib/shared/ui/immich_image.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: 📱mobile

#7046 Change license to AGPLv3
  LICENSE
  README.md
  README_ca_ES.md
  README_de_DE.md
  README_es_ES.md
  README_fr_FR.md
  README_it_IT.md
  README_ja_JP.md
  README_ko_KR.md
  README_nl_NL.md
  README_ru_RU.md
  README_tr_TR.md
  README_zh_CN.md
  cli/LICENSE
  cli/package-lock.json
  cli/package.json
  docs/docusaurus.config.js
  docs/src/pages/index.tsx
  open-api/typescript-sdk/package-lock.json
  open-api/typescript-sdk/package.json
  server/package-lock.json
  server/package.json
  web/package-lock.json
  web/package.json
Labels: documentation

#7053 fix(ml): re-enable ARMNN integration
  machine-learning/Dockerfile
  machine-learning/app/models/facial_recognition.py
Labels: 🧠machine-learning

#7057 feat(web): lazy load photo sphere viewer
  web/src/lib/components/asset-viewer/panorama-viewer.svelte
Labels: performance, 🖥️web

#7062 chore: update lockfiles
  cli/package-lock.json
  web/package-lock.json
Labels: 🖥️web, cli

#7035 fix(web): remove warnings during the build
  web/src/lib/stores/websocket.ts
  web/src/routes/(user)/map/+page.svelte
Labels: 🖥️web

#7064 fix(mobile): Multipart image loading for iOS double swipe
  mobile/lib/modules/asset_viewer/image_providers/immich_local_image_provider.dart
Labels: 📱mobile

#6765 refactor: authentication on public routes
  server/e2e/api/specs/auth.e2e-spec.ts
  server/src/domain/auth/auth.constant.ts
  server/src/domain/auth/auth.service.ts
  server/src/immich/controllers/auth.controller.ts
  server/test/fixtures/auth.stub.ts
  web/src/lib/components/forms/login-form.svelte
  web/src/lib/components/shared-components/navigation-bar/account-info-panel.svelte
  web/src/lib/components/shared-components/navigation-bar/navigation-bar.svelte
  web/src/lib/components/user-settings-page/user-profile-settings.svelte
  web/src/lib/components/user-settings-page/user-settings-list.svelte
  web/src/lib/stores/user.store.ts
  web/src/lib/stores/websocket.ts
  web/src/lib/utils/auth.ts
  web/src/routes/(user)/share/[key]/+page.ts
  web/src/routes/+page.ts
  web/src/routes/auth/change-password/+page.ts
Labels: 🖥️web, 🗄️server

#6525 feat(server, web): smart search filtering and pagination
  mobile/openapi/README.md
  mobile/openapi/doc/AssetApi.md
  mobile/openapi/doc/SearchApi.md
  mobile/openapi/doc/SearchAssetResponseDto.md
  mobile/openapi/lib/api/asset_api.dart
  mobile/openapi/lib/api/search_api.dart
  mobile/openapi/lib/model/search_asset_response_dto.dart
  mobile/openapi/test/asset_api_test.dart
  mobile/openapi/test/search_api_test.dart
  mobile/openapi/test/search_asset_response_dto_test.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/axios-client/api.ts
  open-api/typescript-sdk/fetch-client.ts
  server/e2e/api/specs/asset.e2e-spec.ts
  server/e2e/api/specs/search.e2e-spec.ts
  server/src/domain/asset/asset.service.ts
  server/src/domain/asset/dto/asset.dto.ts
  server/src/domain/domain.util.ts
  server/src/domain/person/person.service.spec.ts
  server/src/domain/person/person.service.ts
  server/src/domain/repositories/asset.repository.ts
  server/src/domain/repositories/index.ts
  server/src/domain/repositories/search.repository.ts
  server/src/domain/repositories/smart-info.repository.ts
  server/src/domain/search/dto/search.dto.ts
  server/src/domain/search/response-dto/search-response.dto.ts
  server/src/domain/search/search.service.spec.ts
  server/src/domain/search/search.service.ts
  server/src/domain/smart-info/smart-info.service.spec.ts
  server/src/domain/smart-info/smart-info.service.ts
  server/src/domain/system-config/system-config.service.spec.ts
  server/src/domain/system-config/system-config.service.ts
  server/src/domain/trash/trash.service.ts
  server/src/immich/controllers/asset.controller.ts
  server/src/immich/controllers/search.controller.ts
  server/src/infra/infra.module.ts
  server/src/infra/infra.utils.ts
  server/src/infra/repositories/api-key.repository.ts
  server/src/infra/repositories/asset.repository.ts
  server/src/infra/repositories/index.ts
  server/src/infra/repositories/search.repository.ts
  server/src/infra/sql-generator/index.ts
  server/src/infra/sql/search.repository.sql
  server/src/infra/sql/smart.info.repository.sql
  server/test/repositories/asset.repository.mock.ts
  server/test/repositories/index.ts
  server/test/repositories/search.repository.mock.ts
  server/test/repositories/smart-info.repository.mock.ts
  web/src/lib/components/asset-viewer/intersection-observer.svelte
  web/src/lib/components/assets/thumbnail/thumbnail.svelte
  web/src/lib/components/shared-components/gallery-viewer/gallery-viewer.svelte
  web/src/lib/components/shared-components/search-bar/search-bar.svelte
  web/src/routes/(user)/search/+page.svelte
  web/src/routes/(user)/search/+page.ts
Labels: 🖥️web, 🗄️server

#7071 refactor: library watching
  server/e2e/api/specs/library.e2e-spec.ts
  server/e2e/jobs/specs/library.e2e-spec.ts
  server/src/domain/library/library.service.spec.ts
  server/src/domain/library/library.service.ts
  server/src/domain/repositories/storage.repository.ts
  server/src/infra/repositories/filesystem.provider.ts
  server/test/mocks/fswatcher.mock.ts
  server/test/mocks/index.ts
  server/test/repositories/storage.repository.mock.ts
Labels: 🗄️server

#6753 feat(web): add a setting to load the original file
  web/src/lib/components/asset-viewer/photo-viewer.svelte
  web/src/lib/components/user-settings-page/quality-settings.svelte
  web/src/lib/components/user-settings-page/user-settings-list.svelte
  web/src/lib/stores/preferences.store.ts
Labels: 🖥️web

#5486 feat(web): navigate with keyboard on person page
  web/src/lib/components/elements/buttons/button.svelte
  web/src/lib/components/faces-page/merge-suggestion-modal.svelte
  web/src/routes/(user)/people/[personId]/+page.svelte
Labels: 🖥️web

#7063 web: e2e
  .dockerignore
  .github/workflows/test.yml
  Makefile
  docker/docker-compose.e2e.yml
  e2e/.gitignore
  e2e/package-lock.json
  e2e/package.json
  e2e/playwright.config.ts
  e2e/specs/auth.e2e-spec.ts
  e2e/test-utils.ts
  e2e/tsconfig.json
Labels: 🖥️web

#7093 fix(deps): bump oazapfts to v6
  cli/package-lock.json
  e2e/package-lock.json
  open-api/typescript-sdk/fetch-client.ts
  open-api/typescript-sdk/package-lock.json
  open-api/typescript-sdk/package.json
  web/package-lock.json
Labels: dependencies, maintenance

#7016 refactor(mobile): Immich image provider
  mobile/ios/Podfile.lock
  mobile/lib/modules/activities/widgets/activity_tile.dart
  mobile/lib/modules/album/ui/album_thumbnail_card.dart
  mobile/lib/modules/album/ui/shared_album_thumbnail_image.dart
  mobile/lib/modules/album/views/sharing_page.dart
  mobile/lib/modules/asset_viewer/image_providers/immich_local_image_provider.dart
  mobile/lib/modules/asset_viewer/image_providers/immich_remote_image_provider.dart
  mobile/lib/modules/asset_viewer/image_providers/immich_remote_thumbnail_provider.dart
  mobile/lib/modules/asset_viewer/views/gallery_viewer.dart
  mobile/lib/modules/home/ui/asset_grid/thumbnail_image.dart
  mobile/lib/modules/memories/ui/memory_card.dart
  mobile/lib/modules/memories/ui/memory_lane.dart
  mobile/lib/modules/memories/views/memory_page.dart
  mobile/lib/routing/router.gr.dart
  mobile/lib/shared/cache/custom_image_cache.dart
  mobile/lib/shared/cache/original_image_provider.dart
  mobile/lib/shared/models/asset.dart
  mobile/lib/shared/ui/immich_image.dart
  mobile/lib/utils/image_url_builder.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: 📱mobile

#6895 chore(mobile): Put the real delete button before other delete variants
  mobile/lib/modules/home/ui/control_bottom_app_bar.dart
Labels: 📱mobile

#7111 chore(web,mobile): Fix reoccurring typo
  install.sh
  mobile/lib/modules/home/providers/upload_profile_image.provider.dart
  web/src/routes/(user)/people/+page.svelte
  web/src/routes/(user)/people/[personId]/+page.svelte
Labels: 🖥️web

#7104 fix(web): always show asset owner when viewing an asset from a shared album
  web/src/lib/components/asset-viewer/asset-viewer.svelte
  web/src/lib/components/asset-viewer/detail-panel.svelte
Labels: 🖥️web

#7116 chore(cli): auto-sort imports
  cli/.prettierrc
  cli/package-lock.json
  cli/package.json
  cli/src/commands/base-command.ts
  cli/src/commands/upload.command.ts
  cli/src/index.ts
  cli/src/services/api.service.ts
  cli/src/services/crawl.service.spec.ts
  cli/src/services/session.service.spec.ts
  cli/test/e2e/login-key.e2e-spec.ts
  cli/test/e2e/setup.ts
  cli/test/e2e/upload.e2e-spec.ts
Labels: maintenance

#7114 chore: web shutdown signal
  docker/docker-compose.dev.yml
  web/Dockerfile
  web/bin/immich-web
Labels: maintenance

#7065 feat(server, web): Include partner's photos on map
  mobile/openapi/doc/AssetApi.md
  mobile/openapi/lib/api/asset_api.dart
  mobile/openapi/test/asset_api_test.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/axios-client/api.ts
  open-api/typescript-sdk/fetch-client.ts
  server/src/domain/asset/asset.service.spec.ts
  server/src/domain/asset/asset.service.ts
  server/src/domain/asset/dto/map-marker.dto.ts
  server/src/domain/repositories/asset.repository.ts
  server/src/infra/repositories/asset.repository.ts
  web/src/lib/components/map-page/map-settings-modal.svelte
  web/src/lib/stores/preferences.store.ts
  web/src/routes/(user)/map/+page.svelte
Labels: 🗄️server

#7117 fix: update error handling to match new API
  web/src/lib/components/user-settings-page/change-password-settings.svelte
  web/src/lib/utils.ts
  web/src/lib/utils/handle-error.ts
Labels: 🖥️web

#7118 chore(web): auto sort imports
  web/.prettierrc
  web/package-lock.json
  web/package.json
  web/src/lib/components/shared-components/notification/__tests__/notification-list.spec.ts
  web/src/routes/(user)/search/+page.ts
  web/src/routes/auth/change-password/+page.ts
  web/src/routes/auth/onboarding/+page.ts
  web/vite.config.js
Labels: maintenance

#7120 chore: suppress abort errors
  web/src/lib/stores/assets.store.ts
  web/src/lib/utils/handle-error.ts
Labels: 🖥️web

#7106 feat(server): only transcode streams that require it
  server/src/domain/media/media.service.spec.ts
  server/src/domain/media/media.service.ts
  server/src/domain/media/media.util.ts
  server/src/domain/repositories/media.repository.ts
  server/src/infra/entities/system-config.entity.ts
  server/src/infra/repositories/media.repository.ts
  server/test/fixtures/media.stub.ts
Labels: 🗄️server

#7121 chore(deps): upgrade tj-actions/verify-changed-files to v18
  .github/workflows/test.yml
Labels: dependencies, github_actions

#7125 fix(mobile): Fixed exclude analyzer options
  mobile/analysis_options.yaml
Labels: 📱mobile

#7123 fix(web): search params
  web/src/routes/(user)/search/+page.ts
Labels: 🖥️web

#7126 fix(web): update unauthorized share link handling
  web/src/lib/utils.ts
  web/src/routes/(user)/share/[key]/+page.ts
Labels: 🖥️web

#7147 fix(mobile): bottom app bar icons
  mobile/lib/modules/home/ui/control_bottom_app_bar.dart
Labels: 📱mobile

#7142 feat(mobile): Uses gradient image placeholders in memory lane and in the asset grid
  mobile/lib/modules/home/ui/asset_grid/immich_asset_grid_view.dart
  mobile/lib/modules/home/ui/asset_grid/thumbnail_image.dart
  mobile/lib/modules/home/ui/asset_grid/thumbnail_placeholder.dart
  mobile/lib/modules/memories/ui/memory_lane.dart
  mobile/lib/shared/ui/immich_image.dart
Labels: 📱mobile

#7152 refactor(web): websocket events
  web/package-lock.json
  web/package.json
  web/src/lib/components/asset-viewer/detail-panel.svelte
  web/src/lib/components/faces-page/person-side-panel.svelte
  web/src/lib/components/shared-components/update-panel.svelte
  web/src/lib/components/shared-components/version-announcement-box.svelte
  web/src/lib/stores/assets.store.ts
  web/src/lib/stores/websocket.ts
  web/src/lib/utils/eventemitter.ts
  web/src/routes/(user)/people/[personId]/+page.svelte
Labels: 🖥️web

#7131 fix(web) display wrong apikey-name on edit
  web/src/lib/components/forms/api-key-form.svelte
Labels: 🖥️web

#7155 chore: web e2e improvements
  e2e/specs/auth.e2e-spec.ts
  e2e/test-utils.ts
  web/src/lib/constants.ts
  web/src/lib/utils/handle-error.ts
  web/src/routes/auth/change-password/+page.svelte
Labels: maintenance

#7144 fix(server): recognize faces when min. faces is set to 1
  server/src/domain/person/person.service.ts
Labels: 🗄️server

#7159 chore: remove svelte-preprocess
  web/package-lock.json
  web/package.json
  web/svelte.config.js
Labels: 🖥️web

#7160 fix(web): validation when editing asset date & time
  web/src/lib/components/shared-components/change-date.svelte
  web/tsconfig.json
Labels: 🖥️web

#7127 feat: enhance search
  mobile/openapi/.openapi-generator/FILES
  mobile/openapi/README.md
  mobile/openapi/doc/AssetApi.md
  mobile/openapi/doc/MetadataSearchDto.md
  mobile/openapi/doc/SearchApi.md
  mobile/openapi/doc/SmartSearchDto.md
  mobile/openapi/lib/api.dart
  mobile/openapi/lib/api/asset_api.dart
  mobile/openapi/lib/api/search_api.dart
  mobile/openapi/lib/api_client.dart
  mobile/openapi/lib/model/metadata_search_dto.dart
  mobile/openapi/lib/model/smart_search_dto.dart
  mobile/openapi/test/asset_api_test.dart
  mobile/openapi/test/metadata_search_dto_test.dart
  mobile/openapi/test/search_api_test.dart
  mobile/openapi/test/smart_search_dto_test.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/axios-client/api.ts
  open-api/typescript-sdk/fetch-client.ts
  server/src/domain/repositories/search.repository.ts
  server/src/domain/search/dto/search.dto.ts
  server/src/domain/search/search.service.ts
  server/src/immich/controllers/search.controller.ts
  server/src/infra/infra.utils.ts
  server/src/infra/repositories/search.repository.ts
  server/src/infra/sql/search.repository.sql
  web/.eslintrc.cjs
  web/src/lib/components/memory-page/memory-viewer.svelte
  web/src/lib/components/photos-page/asset-date-group.svelte
  web/src/lib/components/share-page/individual-shared-viewer.svelte
  web/src/lib/components/shared-components/control-app-bar.svelte
  web/src/lib/components/shared-components/gallery-viewer/gallery-viewer.svelte
  web/src/lib/components/shared-components/search-bar/search-bar.svelte
  web/src/lib/components/shared-components/search-bar/search-filter-box.svelte
  web/src/lib/components/shared-components/search-bar/search-history-box.svelte
  web/src/lib/constants.ts
  web/src/lib/stores/search.store.ts
  web/src/lib/utils/timeline-util.ts
  web/src/routes/(user)/search/+page.svelte
  web/src/routes/(user)/search/+page.ts
Labels: 🖥️web, 🗄️server

#7161 fix(server): empty/restore trash
  server/e2e/client/asset-api.ts
  server/e2e/client/index.ts
  server/e2e/client/trash-api.ts
  server/e2e/jobs/specs/trash.e2e-spec.ts
  server/src/infra/repositories/asset.repository.ts
Labels: 🗄️server

#7140 refactor(mobile): Use widgets in Immich asset grid
  mobile/lib/modules/home/ui/asset_grid/immich_asset_grid_view.dart
  mobile/lib/modules/home/ui/asset_grid/thumbnail_image.dart
  mobile/lib/modules/home/ui/asset_grid/thumbnail_placeholder.dart
  mobile/lib/modules/memories/ui/memory_lane.dart
  mobile/lib/shared/ui/immich_image.dart
Labels: 📱mobile

#7091 feat(web): add skip link to top navigation
  web/src/lib/components/elements/buttons/button.svelte
  web/src/lib/components/elements/buttons/skip-link.svelte
  web/src/lib/components/layouts/user-page-layout.svelte
  web/src/lib/components/shared-components/navigation-bar/navigation-bar.svelte
  web/src/lib/components/shared-components/side-bar/side-bar-section.svelte
Labels: 🖥️web, accessibility

#7165 fix(mobile): Fixes bottom exif info sheet modal drag controls
  mobile/lib/modules/asset_viewer/ui/advanced_bottom_sheet.dart
  mobile/lib/modules/asset_viewer/ui/exif_bottom_sheet.dart
  mobile/lib/modules/asset_viewer/views/gallery_viewer.dart
Labels: 📱mobile

#7175 fix(server): not in album filter show motion part of LivePhotos
  server/src/infra/infra.utils.ts
Labels: 🗄️server

#7176 feat(server): optimize get asset query
  mobile/lib/shared/services/asset.service.dart
  server/src/domain/repositories/asset.repository.ts
  server/src/domain/repositories/search.repository.ts
  server/src/immich/api-v1/asset/asset-repository.ts
  server/src/immich/api-v1/asset/asset.service.spec.ts
  server/src/immich/api-v1/asset/asset.service.ts
  server/src/infra/entities/asset.entity.ts
  server/src/infra/migrations/1708227417898-AddFileCreatedAtIndex.ts
  server/src/infra/repositories/asset.repository.ts
  server/src/infra/sql/asset.repository.sql
  server/test/repositories/asset.repository.mock.ts
Labels: 🗄️server

#7177 chore(web): remove createEventDispatcher from LoginForm
  web/src/lib/components/forms/login-form.svelte
  web/src/routes/auth/login/+page.svelte
Labels: 🖥️web

#7088 perf(web): optimize images and modules
  web/package-lock.json
  web/package.json
  web/src/lib/components/album-page/album-card.svelte
  web/src/lib/components/asset-viewer/detail-panel.svelte
  web/src/lib/components/memory-page/memory-viewer.svelte
  web/src/lib/components/shared-components/change-location.svelte
  web/src/lib/components/sharedlinks-page/shared-link-card.svelte
  web/src/lib/constants.ts
  web/src/lib/utils/asset-utils.ts
  web/vite.config.js
Labels: 🖥️web

#7179 fix(server): on_asset_update event sends varying data types
  mobile/lib/shared/providers/websocket.provider.dart
  server/src/domain/asset/asset.service.spec.ts
  server/src/domain/asset/asset.service.ts
  server/src/domain/repositories/communication.repository.ts
  server/src/domain/server-info/server-info.dto.ts
  web/src/lib/stores/websocket.ts
Labels: 🗄️server

#7186 fix: shell scripts
  .github/workflows/test.yml
  install.sh
  machine-learning/ann/build.sh
  machine-learning/ann/export/build-converter.sh
  machine-learning/start.sh
  misc/release/pump-version.sh
  mobile/ios/ci_scripts/ci_post_clone.sh
  mobile/scripts/fdroid_build_isar.sh
  server/bin/immich
  server/bin/immich-admin
  server/bin/immich-dev
  server/bin/immich-test
  server/start.sh
Labels: maintenance

#7191 fix: only show scrollbars if needed
  web/src/lib/components/elements/dropdown.svelte
  web/src/lib/components/forms/create-user-form.svelte
Labels: 🖥️web

#7193 chore(mobile): Adds dart format to static analysis
  .github/workflows/static_analysis.yml
  mobile/lib/shared/providers/websocket.provider.dart
Labels: 📱mobile

#7194 fix(server): `getAllAssets` endpoint includes motion part of LivePhotos
  server/src/immich/api-v1/asset/asset.service.ts
Labels: 🗄️server

#7198 chore: cleanup old jest references
  cli/.eslintrc.cjs
  cli/testSetup.js
  docs/docs/developer/pr-checklist.md
Labels: maintenance

#7199 fix(mobile): Fixes memory lane progress indicator color in dark mode
  mobile/lib/modules/memories/ui/memory_progress_indicator.dart
Labels: 📱mobile

#7206 fix(web): memory view broken by enhanced:img import
  web/src/lib/components/memory-page/memory-viewer.svelte
Labels: 🖥️web

#7205 chore: remove unused file
  cli/test/global-setup.js
Labels: maintenance

#7208 fix(web): broken links to places search
  web/src/lib/components/shared-components/search-bar/search-bar.svelte
  web/src/lib/utils/metadata-search.ts
  web/src/routes/(user)/explore/+page.svelte
  web/src/routes/(user)/places/+page.svelte
Labels: 🖥️web

#7210 fix(web): don't show motion part in search result
  web/src/routes/(user)/search/+page.svelte
  web/src/routes/(user)/search/+page.ts
Labels: 🖥️web

#7211 refactor: cli e2e
  .github/workflows/test.yml
  Makefile
  cli/.eslintrc.cjs
  cli/.npmignore
  cli/package-lock.json
  cli/package.json
  cli/src/index.ts
  cli/src/services/session.service.spec.ts
  cli/test/cli-test-utils.ts
  cli/test/e2e/login-key.e2e-spec.ts
  cli/test/e2e/server-info.e2e-spec.ts
  cli/test/e2e/setup.ts
  cli/test/e2e/upload.e2e-spec.ts
  cli/test/e2e/vitest.config.ts
  e2e/docker-compose.yml
  e2e/package-lock.json
  e2e/package.json
  e2e/src/api/specs/auth.e2e-spec.ts
  e2e/src/cli/specs/login.e2e-spec.ts
  e2e/src/cli/specs/server-info.e2e-spec.ts
  e2e/src/cli/specs/upload.e2e-spec.ts
  e2e/src/cli/specs/version.e2e-spec.ts
  e2e/src/setup.ts
  e2e/src/utils.ts
  e2e/src/web/specs/auth.e2e-spec.ts
  e2e/vitest.config.ts
Labels: maintenance

#7192 feat(cli): concurrent upload
  cli/package-lock.json
  cli/package.json
  cli/src/commands/upload.command.ts
  cli/src/index.ts
  e2e/src/cli/specs/upload.e2e-spec.ts
Labels: cli

#7220 fix(docs): document vector extension env variable
  docs/docs/install/environment-variables.md
  server/src/domain/database/database.service.ts
  server/src/domain/domain.config.ts
  server/src/infra/database.config.ts
Labels: documentation

#7216 chore(web): show people list on a single line in filter form when not expanded
  web/src/lib/components/shared-components/search-bar/search-filter-box.svelte
Labels: 🖥️web

#7223 refactor(server): e2e
  e2e/src/api/specs/download.e2e-spec.ts
  e2e/src/api/specs/oauth.e2e-spec.ts
  e2e/src/api/specs/partner.e2e-spec.ts
  e2e/src/api/specs/server-info.e2e-spec.ts
  e2e/src/api/specs/system-config.e2e-spec.ts
  e2e/src/api/specs/user.e2e-spec.ts
  e2e/src/fixtures.ts
  e2e/src/utils.ts
  server/e2e/api/specs/download.e2e-spec.ts
  server/e2e/api/specs/oauth.e2e-spec.ts
  server/e2e/api/specs/user.e2e-spec.ts
  server/src/immich/controllers/partner.controller.ts
Labels: maintenance

#7227 fix(web): download from shared album link
  e2e/src/utils.ts
  e2e/src/web/specs/auth.e2e-spec.ts
  e2e/src/web/specs/shared-link.e2e-spec.ts
  web/src/lib/components/album-page/album-viewer.svelte
Labels: 🖥️web

#7234 fix(web): websocket reconnect
  web/src/lib/components/shared-components/navigation-bar/navigation-bar.svelte
  web/src/lib/stores/user.store.ts
  web/src/routes/+layout.svelte
Labels: 🖥️web

#7076 feat(server,web) Semantic import path validation
  docs/docs/features/libraries.md
  mobile/openapi/.openapi-generator/FILES
  mobile/openapi/README.md
  mobile/openapi/doc/LibraryApi.md
  mobile/openapi/doc/ValidateLibraryDto.md
  mobile/openapi/doc/ValidateLibraryImportPathResponseDto.md
  mobile/openapi/doc/ValidateLibraryResponseDto.md
  mobile/openapi/lib/api.dart
  mobile/openapi/lib/api/library_api.dart
  mobile/openapi/lib/api_client.dart
  mobile/openapi/lib/model/validate_library_dto.dart
  mobile/openapi/lib/model/validate_library_import_path_response_dto.dart
  mobile/openapi/lib/model/validate_library_response_dto.dart
  mobile/openapi/test/library_api_test.dart
  mobile/openapi/test/validate_library_dto_test.dart
  mobile/openapi/test/validate_library_import_path_response_dto_test.dart
  mobile/openapi/test/validate_library_response_dto_test.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/axios-client/api.ts
  open-api/typescript-sdk/fetch-client.ts
  server/e2e/api/setup.ts
  server/e2e/api/specs/library.e2e-spec.ts
  server/e2e/client/library-api.ts
  server/src/domain/library/library.dto.ts
  server/src/domain/library/library.service.spec.ts
  server/src/domain/library/library.service.ts
  server/src/immich/controllers/library.controller.ts
  server/src/infra/infra.utils.ts
  server/src/infra/repositories/filesystem.provider.ts
  server/test/fixtures/user.stub.ts
  web/src/lib/components/forms/library-import-paths-form.svelte
  web/src/lib/components/user-settings-page/library-list.svelte
Labels: external-library

#7232 feat(web): improve feedback for favorite and archive actions
  web/src/lib/components/photos-page/actions/archive-action.svelte
  web/src/lib/components/photos-page/actions/favorite-action.svelte
  web/src/lib/components/photos-page/asset-date-group.svelte
  web/src/lib/components/photos-page/asset-grid.svelte
  web/src/lib/stores/assets.store.ts
  web/src/routes/(user)/albums/[albumId]/+page.svelte
  web/src/routes/(user)/archive/+page.svelte
  web/src/routes/(user)/favorites/+page.svelte
  web/src/routes/(user)/people/[personId]/+page.svelte
  web/src/routes/(user)/photos/+page.svelte
  web/src/routes/(user)/search/+page.svelte
Labels: 🖥️web

#7254 fix(mobile): Uses immich thumbnail for background of memory picture
  mobile/lib/modules/memories/ui/memory_card.dart
Labels: 📱mobile

#7257 fix(web): presenting modal removes the browser's scroll ability
  web/src/lib/components/shared-components/base-modal.svelte
Labels: 🖥️web

#7277 fix(server): quote database name in migration
  server/src/infra/migrations/1707000751533-AddVectorsToSearchPath.ts
Labels: 🗄️server

#7275 fix(server): not in album filter with context search
  mobile/openapi/doc/SmartSearchDto.md
  mobile/openapi/lib/model/smart_search_dto.dart
  mobile/openapi/test/smart_search_dto_test.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/axios-client/api.ts
  open-api/typescript-sdk/fetch-client.ts
  server/src/domain/search/dto/search.dto.ts
Labels: 🗄️server

#7278 fix(server): don't return archived assets by default
  mobile/openapi/doc/AssetApi.md
  mobile/openapi/doc/MetadataSearchDto.md
  mobile/openapi/doc/SmartSearchDto.md
  mobile/openapi/lib/model/metadata_search_dto.dart
  mobile/openapi/lib/model/smart_search_dto.dart
  mobile/openapi/test/metadata_search_dto_test.dart
  mobile/openapi/test/smart_search_dto_test.dart
  open-api/immich-openapi-specs.json
  server/e2e/api/specs/asset.e2e-spec.ts
  server/src/domain/search/dto/search.dto.ts
  server/src/infra/infra.utils.ts
  server/src/infra/sql/asset.repository.sql
  server/src/infra/sql/search.repository.sql
Labels: 🗄️server

#7283 chore(server): change transcode default to accept all supported audio codecs
  server/src/domain/media/media.service.spec.ts
  server/src/domain/system-config/system-config.core.ts
  server/src/domain/system-config/system-config.service.spec.ts
  server/src/infra/entities/system-config.entity.ts
  web/src/lib/components/admin-page/settings/ffmpeg/ffmpeg-settings.svelte
Labels: 🗄️server

#7265 refactor(server): e2e
  e2e/src/api/specs/activity.e2e-spec.ts
  e2e/src/api/specs/person.e2e-spec.ts
  e2e/src/api/specs/shared-link.e2e-spec.ts
  e2e/src/utils.ts
  server/e2e/api/specs/person.e2e-spec.ts
Labels: maintenance

#7250 fix(web): back button for gallery viewer
  web/src/lib/components/shared-components/gallery-viewer/gallery-viewer.svelte
Labels: 🖥️web

#7207 fix(web): small issues everywhere
  docker/docker-compose.prod.yml
  web/src/lib/components/asset-viewer/activity-viewer.svelte
  web/src/lib/components/asset-viewer/asset-viewer.svelte
  web/src/lib/components/asset-viewer/detail-panel.svelte
  web/src/lib/utils/autogrow.ts
  web/src/routes/(user)/albums/[albumId]/+page.svelte
Labels: 🖥️web, maintenance

#7291 feat(web): search improvements and refactor
  web/src/lib/components/shared-components/search-bar/search-bar.svelte
  web/src/lib/components/shared-components/search-bar/search-filter-box.svelte
  web/src/lib/constants.ts
  web/src/lib/stores/search.store.ts
  web/src/routes/(user)/search/+page.svelte
  web/src/routes/(user)/search/+page.ts
Labels: 🖥️web

#7319 fix(server, web): people page
  e2e/src/api/specs/person.e2e-spec.ts
  mobile/openapi/doc/PeopleResponseDto.md
  mobile/openapi/lib/model/people_response_dto.dart
  mobile/openapi/test/people_response_dto_test.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/axios-client/api.ts
  open-api/typescript-sdk/fetch-client.ts
  server/src/domain/person/person.dto.ts
  server/src/domain/person/person.service.spec.ts
  server/src/domain/person/person.service.ts
  server/src/domain/repositories/person.repository.ts
  server/src/infra/repositories/person.repository.ts
  server/src/infra/sql/person.repository.sql
  web/src/lib/components/faces-page/show-hide.svelte
  web/src/routes/(user)/people/+page.svelte
Labels: 🖥️web, 🗄️server

#7324 refactor: e2e client
  server/e2e/api/specs/asset.e2e-spec.ts
  server/e2e/api/specs/search.e2e-spec.ts
  server/e2e/client/activity-api.ts
  server/e2e/client/album-api.ts
  server/e2e/client/api-key-api.ts
  server/e2e/client/auth-api.ts
  server/e2e/client/index.ts
  server/e2e/client/partner-api.ts
  server/e2e/client/server-info-api.ts
  server/e2e/client/shared-link-api.ts
  server/e2e/client/user-api.ts
  server/e2e/jobs/specs/formats.e2e-spec.ts
  server/e2e/jobs/specs/library-watcher.e2e-spec.ts
Labels: maintenance

#7325 fix(server): fix log for setting other vector extension
  server/src/domain/database/database.service.ts
Labels: 🗄️server

#7331 perf(server): optimize mapAsset
  server/src/domain/asset/response-dto/asset-response.dto.ts
Labels: performance, 🗄️server

#7322 feat(web): search albums
  web/src/lib/components/elements/search-bar.svelte
  web/src/lib/components/faces-page/people-list.svelte
  web/src/lib/components/layouts/user-page-layout.svelte
  web/src/routes/(user)/albums/+page.svelte
  web/src/routes/(user)/albums/[albumId]/+page.svelte
  web/src/routes/(user)/people/+page.svelte
Labels: 🖥️web

#7328 docs: add star history for README
  README.md
Labels: documentation

#7174 feat(web): add an option to change the date formats
  web/src/lib/components/admin-page/settings/ffmpeg/ffmpeg-settings.svelte
  web/src/lib/components/admin-page/settings/job-settings/job-settings.svelte
  web/src/lib/components/admin-page/settings/library-settings/library-settings.svelte
  web/src/lib/components/admin-page/settings/logging-settings/logging-settings.svelte
  web/src/lib/components/admin-page/settings/machine-learning-settings/machine-learning-settings.svelte
  web/src/lib/components/admin-page/settings/map-settings/map-settings.svelte
  web/src/lib/components/admin-page/settings/new-version-check-settings/new-version-check-settings.svelte
  web/src/lib/components/admin-page/settings/oauth/oauth-settings.svelte
  web/src/lib/components/admin-page/settings/password-login/password-login-settings.svelte
  web/src/lib/components/admin-page/settings/server/server-settings.svelte
  web/src/lib/components/admin-page/settings/storage-template/storage-template-settings.svelte
  web/src/lib/components/admin-page/settings/storage-template/supported-datetime-panel.svelte
  web/src/lib/components/admin-page/settings/theme/theme-settings.svelte
  web/src/lib/components/admin-page/settings/thumbnail/thumbnail-settings.svelte
  web/src/lib/components/admin-page/settings/trash-settings/trash-settings.svelte
  web/src/lib/components/album-page/album-options.svelte
  web/src/lib/components/asset-viewer/activity-viewer.svelte
  web/src/lib/components/asset-viewer/detail-panel.svelte
  web/src/lib/components/map-page/map-settings-modal.svelte
  web/src/lib/components/shared-components/change-date.svelte
  web/src/lib/components/shared-components/combobox.svelte
  web/src/lib/components/shared-components/create-share-link-modal/create-shared-link-modal.svelte
  web/src/lib/components/shared-components/settings/setting-accordion.svelte
  web/src/lib/components/shared-components/settings/setting-buttons-row.svelte
  web/src/lib/components/shared-components/settings/setting-checkboxes.svelte
  web/src/lib/components/shared-components/settings/setting-combobox.svelte
  web/src/lib/components/shared-components/settings/setting-input-field.svelte
  web/src/lib/components/shared-components/settings/setting-select.svelte
  web/src/lib/components/shared-components/settings/setting-switch.svelte
  web/src/lib/components/shared-components/settings/setting-textarea.svelte
  web/src/lib/components/sharedlinks-page/shared-link-card.svelte
  web/src/lib/components/user-settings-page/appearance-settings.svelte
  web/src/lib/components/user-settings-page/change-password-settings.svelte
  web/src/lib/components/user-settings-page/device-card.svelte
  web/src/lib/components/user-settings-page/memories-settings.svelte
  web/src/lib/components/user-settings-page/partner-settings.svelte
  web/src/lib/components/user-settings-page/quality-settings.svelte
  web/src/lib/components/user-settings-page/sidebar-settings.svelte
  web/src/lib/components/user-settings-page/trash-settings.svelte
  web/src/lib/components/user-settings-page/user-profile-settings.svelte
  web/src/lib/components/user-settings-page/user-settings-list.svelte
  web/src/lib/constants.ts
  web/src/lib/utils.ts
  web/src/lib/utils/timeline-util.ts
  web/src/routes/admin/system-settings/+page.svelte
Labels: 🖥️web

#7344 refactor(web): sidebar settings
  web/src/lib/components/user-settings-page/appearance-settings.svelte
  web/src/lib/components/user-settings-page/quality-settings.svelte
  web/src/lib/components/user-settings-page/sidebar-settings.svelte
  web/src/lib/components/user-settings-page/user-settings-list.svelte
Labels: 🖥️web

#7334 fix(server): exclude archived assets from orphaned files
  e2e/docker-compose.yml
  e2e/src/api/specs/audit.e2e-spec.ts
  e2e/src/utils.ts
  server/src/domain/audit/audit.service.ts
Labels: 🗄️server

#7351 fix: upgrade SvelteKit to 2.5.1
  web/package-lock.json
  web/package.json
Labels: 🖥️web

#7353 fix(web): consistent combobox style + improve color contrast
  web/src/lib/components/shared-components/combobox.svelte
  web/src/lib/components/user-settings-page/appearance-settings.svelte
Labels: 🖥️web

#7008 refactor(mobile): Use hooks to manage Chewie controller for video
  mobile/lib/modules/asset_viewer/hooks/chewiew_controller_hook.dart
  mobile/lib/modules/asset_viewer/ui/video_player_controls.dart
  mobile/lib/modules/asset_viewer/views/gallery_viewer.dart
  mobile/lib/modules/asset_viewer/views/video_viewer_page.dart
  mobile/lib/routing/router.gr.dart
  mobile/lib/shared/models/asset.dart
  mobile/lib/shared/ui/delayed_loading_indicator.dart
  mobile/lib/shared/views/immich_loading_overlay.dart
Labels: 📱mobile

#7372 fix(web): dark mode uploading font color
  web/src/lib/components/shared-components/upload-asset-preview.svelte
Labels: 🖥️web

#6907 fix(mobile): don't crop memories in landscape mode
  mobile/lib/modules/memories/ui/memory_card.dart
Labels: 📱mobile

#7359 Web: Revamp message for Storage Template Engine in admin pannel
  web/src/lib/components/admin-page/settings/storage-template/storage-template-settings.svelte
Labels: 🖥️web

#7139 feat(server, web): search location
  mobile/openapi/.openapi-generator/FILES
  mobile/openapi/README.md
  mobile/openapi/doc/PlacesResponseDto.md
  mobile/openapi/doc/SearchApi.md
  mobile/openapi/lib/api.dart
  mobile/openapi/lib/api/search_api.dart
  mobile/openapi/lib/api_client.dart
  mobile/openapi/lib/model/places_response_dto.dart
  mobile/openapi/test/places_response_dto_test.dart
  mobile/openapi/test/search_api_test.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/axios-client/api.ts
  open-api/typescript-sdk/fetch-client.ts
  server/src/domain/domain.constant.ts
  server/src/domain/repositories/search.repository.ts
  server/src/domain/search/dto/search.dto.ts
  server/src/domain/search/search.service.ts
  server/src/immich/controllers/search.controller.ts
  server/src/infra/entities/geodata-admin1.entity.ts
  server/src/infra/entities/geodata-admin2.entity.ts
  server/src/infra/entities/geodata-places.entity.ts
  server/src/infra/entities/index.ts
  server/src/infra/migrations/1708059341865-GeodataLocationSearch.ts
  server/src/infra/migrations/1708116312820-GeonamesEnhancement.ts
  server/src/infra/repositories/metadata.repository.ts
  server/src/infra/repositories/search.repository.ts
  server/src/infra/sql/search.repository.sql
  server/test/repositories/search.repository.mock.ts
  web/src/lib/components/elements/search-bar.svelte
  web/src/lib/components/shared-components/change-location.svelte
  web/src/lib/components/shared-components/map/map.svelte
Labels: 🖥️web, 🗄️server

#7367 feat(web): improve search filter design
  web/src/lib/components/shared-components/search-bar/search-filter-box.svelte
Labels: 🖥️web

#6898 refactor(mobile): move error details to separate DB column
  mobile/lib/extensions/asyncvalue_extensions.dart
  mobile/lib/extensions/response_extensions.dart
  mobile/lib/main.dart
  mobile/lib/mixins/error_logger.mixin.dart
  mobile/lib/modules/activities/services/activity.service.dart
  mobile/lib/modules/asset_viewer/services/image_viewer.service.dart
  mobile/lib/modules/asset_viewer/ui/description_input.dart
  mobile/lib/modules/backup/providers/backup.provider.dart
  mobile/lib/modules/login/providers/authentication.provider.dart
  mobile/lib/modules/login/services/oauth.service.dart
  mobile/lib/modules/map/providers/map_state.provider.dart
  mobile/lib/modules/map/services/map.service.dart
  mobile/lib/modules/map/utils/map_utils.dart
  mobile/lib/modules/map/widgets/map_asset_grid.dart
  mobile/lib/modules/memories/services/memory.service.dart
  mobile/lib/modules/partner/services/partner.service.dart
  mobile/lib/modules/shared_link/services/shared_link.service.dart
  mobile/lib/modules/trash/providers/trashed_asset.provider.dart
  mobile/lib/modules/trash/services/trash.service.dart
  mobile/lib/shared/models/logger_message.model.dart
  mobile/lib/shared/models/logger_message.model.g.dart
  mobile/lib/shared/services/asset.service.dart
  mobile/lib/shared/services/immich_logger.service.dart
  mobile/lib/shared/services/share.service.dart
  mobile/lib/shared/services/sync.service.dart
  mobile/lib/shared/services/user.service.dart
  mobile/lib/shared/views/app_log_detail_page.dart
  mobile/lib/shared/views/splash_screen.dart
Labels: 📱mobile
