Repository immich-app/immich, pull requests merged in 2024-06, with the labels that each got.

#9880 fix(web): set album description textarea height correctly
  web/src/lib/components/album-page/album-description.spec.ts
  web/src/lib/components/album-page/album-description.svelte
  web/src/lib/components/asset-viewer/detail-panel-description.svelte
  web/src/lib/components/shared-components/autogrow-textarea.spec.ts
  web/src/lib/components/shared-components/autogrow-textarea.svelte
Labels: 🖥️web

#9931 fix(web): exiting a slideshow will no longer hide the cursor
  web/src/lib/components/asset-viewer/slideshow-bar.svelte
Labels: 🖥️web

#9932 chore(web): unique ID generation
  web/src/lib/components/admin-page/delete-confirm-dialogue.svelte
  web/src/lib/components/admin-page/restore-dialogue.svelte
  web/src/lib/components/admin-page/settings/auth/auth-settings.svelte
  web/src/lib/components/admin-page/settings/ffmpeg/ffmpeg-settings.svelte
  web/src/lib/components/admin-page/settings/image/image-settings.svelte
  web/src/lib/components/admin-page/settings/library-settings/library-settings.svelte
  web/src/lib/components/admin-page/settings/logging-settings/logging-settings.svelte
  web/src/lib/components/admin-page/settings/machine-learning-settings/machine-learning-settings.svelte
  web/src/lib/components/admin-page/settings/map-settings/map-settings.svelte
  web/src/lib/components/admin-page/settings/new-version-check-settings/new-version-check-settings.svelte
  web/src/lib/components/admin-page/settings/notification-settings/notification-settings.svelte
  web/src/lib/components/admin-page/settings/storage-template/storage-template-settings.svelte
  web/src/lib/components/admin-page/settings/trash-settings/trash-settings.svelte
  web/src/lib/components/album-page/album-options.svelte
  web/src/lib/components/album-page/share-info-modal.svelte
  web/src/lib/components/album-page/user-selection-modal.svelte
  web/src/lib/components/faces-page/merge-suggestion-modal.svelte
  web/src/lib/components/faces-page/set-birth-date-modal.svelte
  web/src/lib/components/forms/api-key-form.svelte
  web/src/lib/components/forms/api-key-secret.svelte
  web/src/lib/components/forms/create-user-form.svelte
  web/src/lib/components/forms/edit-album-form.svelte
  web/src/lib/components/forms/edit-user-form.svelte
  web/src/lib/components/forms/library-exclusion-pattern-form.svelte
  web/src/lib/components/forms/library-import-path-form.svelte
  web/src/lib/components/forms/library-user-picker-form.svelte
  web/src/lib/components/map-page/map-settings-modal.svelte
  web/src/lib/components/photos-page/delete-asset-dialog.svelte
  web/src/lib/components/shared-components/album-selection-modal.svelte
  web/src/lib/components/shared-components/change-date.svelte
  web/src/lib/components/shared-components/change-location.svelte
  web/src/lib/components/shared-components/combobox.svelte
  web/src/lib/components/shared-components/create-share-link-modal/create-shared-link-modal.svelte
  web/src/lib/components/shared-components/dialog/confirm-dialog.svelte
  web/src/lib/components/shared-components/full-screen-modal.svelte
  web/src/lib/components/shared-components/navigation-bar/avatar-selector.svelte
  web/src/lib/components/shared-components/profile-image-cropper.svelte
  web/src/lib/components/shared-components/search-bar/search-camera-section.svelte
  web/src/lib/components/shared-components/search-bar/search-location-section.svelte
  web/src/lib/components/shared-components/settings/setting-combobox.svelte
  web/src/lib/components/shared-components/settings/setting-switch.svelte
  web/src/lib/components/shared-components/show-shortcuts.svelte
  web/src/lib/components/shared-components/version-announcement-box.svelte
  web/src/lib/components/slideshow-settings.svelte
  web/src/lib/components/user-settings-page/app-settings.svelte
  web/src/lib/components/user-settings-page/memories-settings.svelte
  web/src/lib/components/user-settings-page/partner-selection-modal.svelte
  web/src/lib/components/user-settings-page/partner-settings.svelte
  web/src/lib/stores/unique-id.store.spec.ts
  web/src/lib/stores/unique-id.store.ts
  web/src/routes/(user)/people/+page.svelte
  web/src/routes/admin/user-management/+page.svelte
Labels: 🖥️web

#9929 fix(web): stop slideshow when pressing escape from asset viewer
  web/src/lib/components/asset-viewer/asset-viewer.svelte
Labels: 🖥️web

#9938 fix(web): disable bulk action buttons while items selected
  web/src/routes/(user)/trash/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web

#9943 refactor(web): remove events from clickOutside action
  web/src/lib/actions/click-outside.ts
  web/src/lib/components/album-page/share-info-modal.svelte
  web/src/lib/components/asset-viewer/activity-viewer.svelte
  web/src/lib/components/asset-viewer/asset-viewer.svelte
  web/src/lib/components/elements/dropdown.svelte
  web/src/lib/components/faces-page/people-card.svelte
  web/src/lib/components/photos-page/actions/delete-assets.svelte
  web/src/lib/components/photos-page/asset-select-context-menu.svelte
  web/src/lib/components/shared-components/context-menu/context-menu.svelte
  web/src/lib/components/shared-components/context-menu/right-click-context-menu.svelte
  web/src/lib/components/shared-components/navigation-bar/navigation-bar.svelte
  web/src/routes/(user)/albums/[albumId=id]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/photos/[[assetId=id]]/+page.svelte
  web/src/routes/admin/library-management/+page.svelte
Labels: 🖥️web

#9945 chore(web): simpler unique ID generation
  web/src/lib/components/shared-components/combobox.svelte
  web/src/lib/components/shared-components/full-screen-modal.svelte
  web/src/lib/components/shared-components/settings/setting-switch.svelte
  web/src/lib/stores/unique-id.store.spec.ts
  web/src/lib/stores/unique-id.store.ts
  web/src/lib/utils/generate-id.ts
Labels: 🖥️web

#9771 fix(web): empty album stored
  web/src/lib/components/album-page/albums-list.svelte
  web/src/routes/(user)/albums/[albumId=id]/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web

#9950 docs: Update Authentik example
  docs/docs/administration/img/authentik-redirect-uris-example.webp
  docs/docs/administration/img/google-redirect-uris-example.webp
  docs/docs/administration/img/immich-google-example.webp
  docs/docs/administration/img/oauth-settings.png
  docs/docs/administration/oauth.md
  docs/src/css/custom.css
Labels: documentation

#9934 feat(web): email notification preference settings
  e2e/src/api/specs/user-admin.e2e-spec.ts
  mobile/openapi/README.md
  mobile/openapi/lib/api.dart
  mobile/openapi/lib/api_client.dart
  mobile/openapi/lib/model/email_notifications_response.dart
  mobile/openapi/lib/model/email_notifications_update.dart
  mobile/openapi/lib/model/user_preferences_response_dto.dart
  mobile/openapi/lib/model/user_preferences_update_dto.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/dtos/user-preferences.dto.ts
  server/src/entities/user-metadata.entity.ts
  server/src/services/notification.service.ts
  web/src/lib/components/user-settings-page/notifications-settings.svelte
  web/src/lib/components/user-settings-page/user-settings-list.svelte
Labels: 🖥️web

#9952 fix(web): fix sidebar tooltip pluralization
  web/src/lib/components/shared-components/side-bar/more-information-albums.svelte
  web/src/lib/components/shared-components/side-bar/more-information-assets.svelte
  web/src/lib/components/shared-components/side-bar/side-bar.svelte
Labels: 🖥️web

#9826 test(server): check motion asset create arguments
  server/src/services/metadata.service.spec.ts
  server/test/fixtures/asset.stub.ts
Labels: 🗄️server

#9773 feat(web): Option to assign people to unassigned faces
  mobile/openapi/lib/model/asset_response_dto.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/dtos/asset-response.dto.ts
  web/src/lib/components/asset-viewer/detail-panel.svelte
  web/src/lib/components/faces-page/assign-face-side-panel.svelte
  web/src/lib/components/faces-page/person-side-panel.svelte
  web/src/lib/utils/people-utils.ts
Labels: 🖥️web

#9981 chore: change default thumbnail concurrency and auto-detect container core count
  .dockerignore
  docker/scripts/get-cpus.sh
  docs/docs/administration/system-settings.md
  docs/docs/install/environment-variables.md
  server/Dockerfile
  server/src/config.ts
  server/src/services/system-config.service.spec.ts
  server/start.sh
Labels: 🗄️server

#9990 feat(web): add an empty placeholder to the explore page
  web/src/lib/i18n/en-US.json
  web/src/routes/(user)/explore/+page.svelte
Labels: 🖥️web

#9992 fix(web): show duplicate message
  web/src/lib/utils/file-uploader.ts
Labels: 🖥️web

#9987 fix: AssetInterceptor "can't set headers after they are sent"
  server/src/middleware/asset-upload.interceptor.ts
Labels: 🗄️server

#9996 feat(server): log http exceptions
  e2e/src/responses.ts
  server/src/app.module.ts
  server/src/config.ts
  server/src/dtos/auth.dto.ts
  server/src/middleware/http-exception.filter.ts
  server/src/middleware/logging.interceptor.ts
  server/src/repositories/logger.repository.ts
  server/src/workers/api.ts
  server/src/workers/microservices.ts
Labels: 🗄️server

#10006 refactor: one locales file for all english translations
  web/src/lib/components/album-page/__tests__/album-card.spec.ts
  web/src/lib/constants.ts
  web/src/lib/i18n/en.json
Labels: 🖥️web

#10000 chore: seperate sub-process for api worker
  server/src/main.ts
  server/src/workers/api.ts
Labels: 🗄️server

#10008 fix(web): clear locale setting
  web/src/lib/components/user-settings-page/app-settings.svelte
Labels: 🖥️web

#10013 fix(server): closed connections
  server/src/middleware/error.interceptor.ts
  server/src/middleware/http-exception.filter.ts
  server/src/utils/file.ts
Labels: 🗄️server

#9499 feat(web): add archive shortcut to grid
  web/src/lib/components/asset-viewer/asset-viewer-nav-bar.svelte
  web/src/lib/components/asset-viewer/asset-viewer.svelte
  web/src/lib/components/photos-page/actions/archive-action.svelte
  web/src/lib/components/photos-page/asset-grid.svelte
  web/src/lib/utils/asset-utils.ts
Labels: 🖥️web

#10018 fix(server): video thumbnail colors when using webp
  server/src/services/media.service.spec.ts
  server/src/utils/media.ts
Labels: 🗄️server

#10021 fix(web): translations
  web/src/lib/components/admin-page/jobs/jobs-panel.svelte
  web/src/lib/components/admin-page/jobs/storage-migration-description.svelte
  web/src/lib/components/admin-page/settings/ffmpeg/ffmpeg-settings.svelte
  web/src/lib/components/admin-page/settings/library-settings/library-settings.svelte
  web/src/lib/components/album-page/albums-list.svelte
  web/src/lib/components/onboarding-page/onboarding-storage-template.svelte
  web/src/lib/components/photos-page/actions/stack-action.svelte
  web/src/lib/components/slideshow-settings.svelte
  web/src/lib/i18n.spec.ts
  web/src/lib/i18n/en.json
  web/src/routes/(user)/albums/[albumId=id]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/people/+page.svelte
  web/src/routes/(user)/people/[personId]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/utilities/[duplicates]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/admin/library-management/+page.svelte
  web/src/routes/admin/repair/+page.svelte
Labels: 🖥️web

#10022 chore(web): missing notification settings translations
  web/src/lib/components/admin-page/jobs/jobs-panel.svelte
  web/src/lib/components/user-settings-page/notifications-settings.svelte
  web/src/lib/components/user-settings-page/user-settings-list.svelte
  web/src/lib/i18n/en.json
Labels: 🖥️web

#10011 feat(web): send test email button
  docs/static/img/ios-app-store-badge.png
  mobile/openapi/README.md
  mobile/openapi/lib/api.dart
  mobile/openapi/lib/api/notifications_api.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/controllers/index.ts
  server/src/controllers/notification.controller.ts
  server/src/dtos/system-config.dto.ts
  server/src/emails/test.email.tsx
  server/src/interfaces/notification.interface.ts
  server/src/repositories/notification.repository.ts
  server/src/services/notification.service.ts
  web/src/lib/components/admin-page/settings/notification-settings/notification-settings.svelte
  web/src/lib/i18n/en.json
Labels: 🖥️web

#10024 fix(web): language setting
  web/src/lib/components/user-settings-page/app-settings.svelte
  web/src/lib/constants.ts
  web/src/lib/stores/preferences.store.ts
  web/src/routes/+layout.ts
Labels: 🖥️web

#9883 feat: photo-viewer; use <img> instead of blob urls, simplify/refactor, avoid window.events
  e2e/src/utils.ts
  e2e/src/web/specs/photo-viewer.e2e-spec.ts
  web/src/lib/actions/zoom-image.ts
  web/src/lib/components/asset-viewer/asset-viewer-nav-bar.svelte
  web/src/lib/components/asset-viewer/asset-viewer.svelte
  web/src/lib/components/asset-viewer/photo-viewer.spec.ts
  web/src/lib/components/asset-viewer/photo-viewer.svelte
  web/src/lib/stores/zoom-image.store.ts
Labels: 🖥️web

#10026 fix(web): translation
  web/src/lib/i18n/de.json
  web/src/lib/i18n/es.json
  web/src/lib/i18n/zh_SIMPLIFIED.json
Labels: 🖥️web

#10038 chore: update translations
  web/src/lib/i18n/nl.json
  web/src/lib/i18n/zh_SIMPLIFIED.json
Labels: maintenance

#10034 fix(server): add fallback for video thumbnail generation
  server/src/services/media.service.spec.ts
  server/src/utils/media.ts
Labels: 🗄️server

#10036 fix(server): server stats showing wrong quota usage
  server/src/queries/user.repository.sql
  server/src/repositories/user.repository.ts
Labels: 🗄️server

#10041 fix(web): storage migration description
  web/src/lib/components/admin-page/jobs/job-tile.svelte
  web/src/lib/components/admin-page/jobs/jobs-panel.svelte
  web/src/lib/components/admin-page/jobs/storage-migration-description.svelte
  web/src/lib/constants.ts
Labels: 🖥️web

#10040 fix(web): drag and drop with non english language
  web/src/lib/components/shared-components/drag-and-drop-upload-overlay.svelte
  web/src/lib/i18n/en.json
Labels: 🖥️web

#10035 fix(doc):language links updates
  README.md
  readme_i18n/README_ar_JO.md
  readme_i18n/README_ca_ES.md
  readme_i18n/README_de_DE.md
  readme_i18n/README_es_ES.md
  readme_i18n/README_fr_FR.md
  readme_i18n/README_it_IT.md
  readme_i18n/README_ja_JP.md
  readme_i18n/README_ko_KR.md
  readme_i18n/README_nl_NL.md
  readme_i18n/README_pt_BR.md
  readme_i18n/README_ru_RU.md
  readme_i18n/README_sv_SE.md
  readme_i18n/README_tr_TR.md
Labels: documentation

#10044 fix(mobile): viewAsset URL string
  mobile/lib/utils/image_url_builder.dart
Labels: 📱mobile

#10050 fix(server): min face detection score not being passed correctly
  server/src/interfaces/machine-learning.interface.ts
  server/src/repositories/machine-learning.repository.ts
Labels: 🗄️server

#10053 chore(mobile): translation update
  mobile/assets/i18n/ar-JO.json
  mobile/assets/i18n/cs-CZ.json
  mobile/assets/i18n/da-DK.json
  mobile/assets/i18n/de-DE.json
  mobile/assets/i18n/el-GR.json
  mobile/assets/i18n/en-US.json
  mobile/assets/i18n/es-ES.json
  mobile/assets/i18n/es-MX.json
  mobile/assets/i18n/es-PE.json
  mobile/assets/i18n/es-US.json
  mobile/assets/i18n/fi-FI.json
  mobile/assets/i18n/fr-CA.json
  mobile/assets/i18n/fr-FR.json
  mobile/assets/i18n/he-IL.json
  mobile/assets/i18n/hi-IN.json
  mobile/assets/i18n/hu-HU.json
  mobile/assets/i18n/it-IT.json
  mobile/assets/i18n/ja-JP.json
  mobile/assets/i18n/ko-KR.json
  mobile/assets/i18n/lt-LT.json
  mobile/assets/i18n/lv-LV.json
  mobile/assets/i18n/mn.json
  mobile/assets/i18n/nb-NO.json
  mobile/assets/i18n/nl-NL.json
  mobile/assets/i18n/pl-PL.json
  mobile/assets/i18n/pt-PT.json
  mobile/assets/i18n/ro-RO.json
  mobile/assets/i18n/ru-RU.json
  mobile/assets/i18n/sk-SK.json
  mobile/assets/i18n/sl-SI.json
  mobile/assets/i18n/sr-Cyrl.json
  mobile/assets/i18n/sr-Latn.json
  mobile/assets/i18n/sv-FI.json
  mobile/assets/i18n/sv-SE.json
  mobile/assets/i18n/th-TH.json
  mobile/assets/i18n/uk-UA.json
  mobile/assets/i18n/vi-VN.json
  mobile/assets/i18n/zh-CN.json
  mobile/assets/i18n/zh-Hans.json
  mobile/assets/i18n/zh-TW.json
Labels: 📱mobile

#10028 fix: prevent trashing of trashed assets
  web/src/lib/components/asset-viewer/asset-viewer-nav-bar.spec.ts
  web/src/lib/components/asset-viewer/asset-viewer-nav-bar.svelte
  web/src/lib/components/asset-viewer/asset-viewer.svelte
  web/src/lib/components/asset-viewer/delete-button.spec.ts
  web/src/lib/components/asset-viewer/delete-button.svelte
  web/src/test-data/factories/user-factory.ts
Labels: 🖥️web

#9954 feat(web): allow ctrl-click / cmd-click on photos
  web/src/lib/components/asset-viewer/asset-viewer.svelte
  web/src/lib/components/assets/thumbnail/thumbnail.svelte
  web/src/lib/components/photos-page/asset-date-group.svelte
  web/src/lib/components/shared-components/gallery-viewer/gallery-viewer.svelte
  web/src/lib/utils/navigation.ts
Labels: 🖥️web

#10064 ci: automatically apply PR labels
  .github/labeler.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/pr-require-label.yml
Labels: github_actions

#10061 refactor: remove dead code from Makefile
  Makefile
Labels: maintenance

#10019 fix(server): proper asset sync
  mobile/lib/services/asset.service.dart
  mobile/openapi/lib/model/asset_full_sync_dto.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/dtos/asset-response.dto.ts
  server/src/dtos/sync.dto.ts
  server/src/entities/asset-stack.entity.ts
  server/src/interfaces/asset.interface.ts
  server/src/queries/asset.repository.sql
  server/src/repositories/asset.repository.ts
  server/src/services/sync.service.ts
Labels: 📱mobile, 🗄️server, breaking-change

#10052 refactor: dedicated icon for permanently delete
  web/src/lib/components/asset-viewer/delete-button.svelte
  web/src/lib/components/photos-page/actions/delete-assets.svelte
  web/src/routes/(user)/trash/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web

#9930 docs: Add Email Notifications info
  docs/docs/administration/email-notification.mdx
  docs/docs/administration/img/email-settings.png
  docs/docs/administration/img/immich-email-notefaction.webp
  docs/docs/administration/img/send-user-email-notification.webp
  docs/docs/administration/img/user-notifications-settings.png
  docs/docs/administration/user-management.mdx
  docs/docs/guides/img/email-settings.png
  docs/docs/guides/img/google-app-password.webp
  docs/docs/guides/smtp-gmail.md
Labels: documentation

#10075 chore: update translations
  web/src/lib/i18n/vi.json
Labels: 🖥️web

#10076 chore(web): order json files alphabetically
  web/.prettierrc
  web/package-lock.json
  web/package.json
  web/src/lib/i18n/ar.json
  web/src/lib/i18n/ca.json
  web/src/lib/i18n/cs.json
  web/src/lib/i18n/da.json
  web/src/lib/i18n/de.json
  web/src/lib/i18n/en.json
  web/src/lib/i18n/es.json
  web/src/lib/i18n/fi.json
  web/src/lib/i18n/fr.json
  web/src/lib/i18n/he.json
  web/src/lib/i18n/hi.json
  web/src/lib/i18n/hu.json
  web/src/lib/i18n/it.json
  web/src/lib/i18n/ja.json
  web/src/lib/i18n/ko.json
  web/src/lib/i18n/lt.json
  web/src/lib/i18n/lv.json
  web/src/lib/i18n/mn.json
  web/src/lib/i18n/nb_NO.json
  web/src/lib/i18n/nl.json
  web/src/lib/i18n/pl.json
  web/src/lib/i18n/pt.json
  web/src/lib/i18n/ro.json
  web/src/lib/i18n/ru.json
  web/src/lib/i18n/sk.json
  web/src/lib/i18n/sl.json
  web/src/lib/i18n/sr.json
  web/src/lib/i18n/sv.json
  web/src/lib/i18n/th.json
  web/src/lib/i18n/uk.json
  web/src/lib/i18n/zh_SIMPLIFIED.json
  web/static/manifest.json
  web/tsconfig.json
Labels: 🖥️web

#10078 fix(server): otel not working due to port conflicts after combining containers
  docker/prometheus.yml
  server/src/config.ts
  server/src/services/microservices.service.ts
  server/src/utils/instrumentation.ts
  server/src/workers/api.ts
  server/src/workers/microservices.ts
Labels: 🗄️server

#10081 chore: remove pr labeler requirement
  .github/workflows/pr-require-label.yml
Labels: maintenance

#10077 fix(server): asset delete logic
  e2e/src/api/specs/library.e2e-spec.ts
  server/src/interfaces/job.interface.ts
  server/src/services/asset.service.spec.ts
  server/src/services/asset.service.ts
  server/src/services/library.service.spec.ts
  server/src/services/library.service.ts
  server/src/services/metadata.service.spec.ts
  server/src/services/metadata.service.ts
  server/src/services/trash.service.spec.ts
  server/src/services/trash.service.ts
Labels: 🗄️server, external-library

#10080 fix(web): mouse-wheel scrolling on detail panel is disabled
  web/src/lib/components/asset-viewer/photo-viewer.svelte
Labels: 🖥️web

#10084 chore(server): remove unused imagemin type dependency
  server/package-lock.json
  server/package.json
Labels: 🗄️server

#10065 feat(mobile): compatibility message warning
  mobile/lib/pages/login/login.page.dart
  mobile/lib/utils/version_compatibility.dart
  mobile/lib/widgets/forms/login/email_input.dart
  mobile/lib/widgets/forms/login/loading_icon.dart
  mobile/lib/widgets/forms/login/login_button.dart
  mobile/lib/widgets/forms/login/login_form.dart
  mobile/lib/widgets/forms/login/o_auth_login_button.dart
  mobile/lib/widgets/forms/login/password_input.dart
  mobile/lib/widgets/forms/login/server_endpoint_input.dart
  mobile/test/modules/utils/version_compatibility_test.dart
Labels: 📱mobile

#10085 docs: otel metrics port worker split
  docs/docs/install/environment-variables.md
Labels: documentation

#10093 docs: Add detect duplicate assets to roadmap
  docs/src/pages/roadmap.tsx
Labels: documentation

#10095 fix: roadmap docs
  docs/src/pages/roadmap.tsx
Labels: documentation

#10090 fix(server): album update disable no effect
  server/src/services/notification.service.ts
Labels: 🗄️server

#10094 docs: Update the system settings page
  docs/docs/administration/system-settings.md
  web/src/lib/i18n/en.json
Labels: documentation, 🖥️web

#10107 fix(web): language selector for chinese and norwegian
  web/src/lib/constants.ts
  web/src/lib/i18n.spec.ts
Labels: 🖥️web

#10096 chore: update translations
  web/src/lib/i18n/de.json
  web/src/lib/i18n/en.json
  web/src/lib/i18n/it.json
  web/src/lib/i18n/nl.json
  web/src/lib/i18n/zh_SIMPLIFIED.json
Labels: 🖥️web

#10091 docs: version switcher
  docs/docusaurus.config.js
  docs/src/components/version-switcher.tsx
  docs/src/theme/NavbarItem/ComponentTypes.js
  docs/static/archived-versions.json
  misc/release/archive-version.js
  misc/release/pump-version.sh
Labels: documentation

#10111 docs: fix archive version url to include v prefix
  docs/static/archived-versions.json
  misc/release/archive-version.js
Labels: documentation

#10112 fix(mobile): warning message not resetting when changing server URL
  mobile/lib/widgets/forms/login/login_form.dart
Labels: 📱mobile

#10114 chore(mobile): post release pump
  mobile/android/fastlane/Fastfile
  mobile/android/fastlane/report.xml
  mobile/ios/Runner.xcodeproj/project.pbxproj
  mobile/ios/Runner/Info.plist
  mobile/ios/fastlane/report.xml
  mobile/pubspec.yaml
Labels: 📱mobile

#10116 docs: add archived docs back to v1.100.0
  docs/static/archived-versions.json
Labels: documentation

#10119 docs: fix archive script labels and change to variable to nextVersion
  docs/static/archived-versions.json
  misc/release/archive-version.js
Labels: documentation

#10120 chore(web): enable prettier json key sorting recursively
  web/.prettierrc
  web/src/lib/i18n/ar.json
  web/src/lib/i18n/ca.json
  web/src/lib/i18n/cs.json
  web/src/lib/i18n/da.json
  web/src/lib/i18n/es.json
  web/src/lib/i18n/fi.json
  web/src/lib/i18n/fr.json
  web/src/lib/i18n/he.json
  web/src/lib/i18n/hi.json
  web/src/lib/i18n/hu.json
  web/src/lib/i18n/ja.json
  web/src/lib/i18n/ko.json
  web/src/lib/i18n/lt.json
  web/src/lib/i18n/lv.json
  web/src/lib/i18n/mn.json
  web/src/lib/i18n/nb_NO.json
  web/src/lib/i18n/pl.json
  web/src/lib/i18n/pt.json
  web/src/lib/i18n/ro.json
  web/src/lib/i18n/ru.json
  web/src/lib/i18n/sk.json
  web/src/lib/i18n/sl.json
  web/src/lib/i18n/sr.json
  web/src/lib/i18n/sv.json
  web/src/lib/i18n/th.json
  web/src/lib/i18n/uk.json
  web/static/manifest.json
  web/tsconfig.json
Labels: 🖥️web

#10124 chore(cli): prepare release
  cli/package-lock.json
  cli/package.json
Labels: cli

#10121 fix(web): cannot click on explore place
  web/src/lib/components/assets/thumbnail/thumbnail.svelte
  web/src/routes/(user)/explore/+page.svelte
Labels: 🖥️web

#10127 feat(cli): auto-release
  .github/workflows/cli.yml
  misc/release/pump-version.sh
Labels: cli

#10125 chore: update translations
  web/src/lib/i18n/cs.json
  web/src/lib/i18n/de.json
  web/src/lib/i18n/es.json
  web/src/lib/i18n/fr.json
  web/src/lib/i18n/it.json
  web/src/lib/i18n/nl.json
  web/src/lib/i18n/pl.json
  web/src/lib/i18n/ru.json
  web/src/lib/i18n/zh_SIMPLIFIED.json
Labels: 🖥️web

#10138 chore: update translations
  web/src/lib/i18n/ru.json
  web/src/lib/i18n/vi.json
  web/src/lib/i18n/zh_SIMPLIFIED.json
Labels: 🖥️web

#10140 chore: update translations
  web/src/lib/i18n/zh_SIMPLIFIED.json
Labels: 🖥️web

#10131 fix(server): cache-control header missing from / requests
  server/src/workers/api.ts
Labels: 🗄️server

#10132 fix(web): backwards asset navigation in GalleryViewer
  web/src/lib/components/asset-viewer/asset-viewer.svelte
  web/src/lib/components/assets/thumbnail/thumbnail.svelte
  web/src/lib/components/photos-page/asset-date-group.svelte
  web/src/lib/components/shared-components/gallery-viewer/gallery-viewer.svelte
Labels: 🖥️web

#10141 chore: update translations
  web/src/lib/i18n/ca.json
  web/src/lib/i18n/de.json
  web/src/lib/i18n/es.json
  web/src/lib/i18n/fr.json
  web/src/lib/i18n/ja.json
  web/src/lib/i18n/nl.json
  web/src/lib/i18n/pl.json
  web/src/lib/i18n/ru.json
  web/src/lib/i18n/zh_SIMPLIFIED.json
Labels: 🖥️web

#10178 fix: postgres health check reporting any db without checksums as unhealthy
  docker/docker-compose.dev.yml
  docker/docker-compose.prod.yml
  docker/docker-compose.yml
Labels: deployment, 🗄️server

#10180 feat(server): add av1 support for vaapi
  server/src/utils/media.ts
Labels: 🗄️server

#10181 fix(server): increase pixel limit for thumbnail generation
  server/src/repositories/media.repository.ts
Labels: 🗄️server

#10161 chore(web): more translations for user settings and admin pages
  web/src/lib/components/admin-page/delete-confirm-dialogue.svelte
  web/src/lib/components/admin-page/jobs/job-tile.svelte
  web/src/lib/components/admin-page/jobs/jobs-panel.svelte
  web/src/lib/components/admin-page/server-stats/server-stats-panel.svelte
  web/src/lib/components/admin-page/settings/admin-settings.svelte
  web/src/lib/components/admin-page/settings/ffmpeg/ffmpeg-settings.svelte
  web/src/lib/components/admin-page/settings/job-settings/job-settings.svelte
  web/src/lib/components/forms/create-user-form.svelte
  web/src/lib/components/forms/edit-user-form.svelte
  web/src/lib/components/forms/library-exclusion-pattern-form.svelte
  web/src/lib/components/forms/library-import-path-form.svelte
  web/src/lib/components/forms/library-import-paths-form.svelte
  web/src/lib/components/forms/library-scan-settings-form.svelte
  web/src/lib/components/forms/library-user-picker-form.svelte
  web/src/lib/components/user-settings-page/app-settings.svelte
  web/src/lib/components/user-settings-page/change-password-settings.svelte
  web/src/lib/components/user-settings-page/notifications-settings.svelte
  web/src/lib/components/user-settings-page/oauth-settings.svelte
  web/src/lib/components/user-settings-page/partner-settings.svelte
  web/src/lib/components/user-settings-page/user-api-key-list.svelte
  web/src/lib/i18n/en.json
  web/src/lib/utils.ts
  web/src/routes/(user)/user-settings/+page.ts
  web/src/routes/admin/jobs-status/+page.svelte
  web/src/routes/admin/jobs-status/+page.ts
  web/src/routes/admin/library-management/+page.svelte
  web/src/routes/admin/library-management/+page.ts
  web/src/routes/admin/repair/+page.svelte
  web/src/routes/admin/repair/+page.ts
  web/src/routes/admin/server-status/+page.ts
  web/src/routes/admin/system-settings/+page.svelte
  web/src/routes/admin/system-settings/+page.ts
  web/src/routes/admin/user-management/+page.svelte
  web/src/routes/admin/user-management/+page.ts
Labels: 🖥️web

#10190 fix(web): multi file upload in albums
  web/src/lib/utils/file-uploader.ts
Labels: 🖥️web

#10188 chore(docs): remove microservices from hwa docs
  docs/docs/features/hardware-transcoding.md
Labels: documentation

#10168 refactor: config caching
  server/src/cores/storage.core.ts
  server/src/cores/system-config.core.ts
  server/src/services/asset.service.ts
  server/src/services/auth.service.ts
  server/src/services/cli.service.ts
  server/src/services/duplicate.service.ts
  server/src/services/job.service.ts
  server/src/services/library.service.ts
  server/src/services/map.service.ts
  server/src/services/media.service.ts
  server/src/services/metadata.service.ts
  server/src/services/notification.service.ts
  server/src/services/person.service.ts
  server/src/services/search.service.ts
  server/src/services/server-info.service.ts
  server/src/services/smart-info.service.ts
  server/src/services/storage-template.service.ts
  server/src/services/system-config.service.ts
  server/src/services/user.service.ts
  server/src/services/version.service.ts
Labels: 🗄️server

#10142 chore(web): remove thumbnail usage for places card
  web/src/lib/components/assets/thumbnail/thumbnail.svelte
  web/src/routes/(user)/explore/+page.svelte
  web/src/routes/(user)/places/+page.svelte
Labels: 🖥️web

#10200 fix(web): small translation issues + remove unused
  web/src/lib/components/admin-page/settings/storage-template/storage-template-settings.svelte
  web/src/lib/components/asset-viewer/asset-viewer-nav-bar.svelte
  web/src/lib/components/asset-viewer/photo-viewer.svelte
  web/src/lib/components/faces-page/person-side-panel.svelte
  web/src/lib/components/forms/admin-registration-form.svelte
  web/src/lib/components/photos-page/actions/archive-action.svelte
  web/src/lib/components/photos-page/actions/favorite-action.svelte
  web/src/lib/i18n/en.json
  web/src/routes/(user)/sharing/sharedlinks/+page.svelte
  web/src/routes/(user)/trash/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web

#10204 fix(server): only run healthchecks when api worker is running on immich-server
  server/src/utils/healthcheck.ts
Labels: 🗄️server

#10189 feat(web): select all duplicates
  web/src/lib/components/utilities-page/duplicates/duplicates-compare-control.svelte
  web/src/lib/i18n/en.json
Labels: 🖥️web

#10192 fix(server): checkExistingAssets
  e2e/src/api/specs/asset.e2e-spec.ts
  e2e/src/utils.ts
  server/src/interfaces/asset.interface.ts
  server/src/repositories/asset.repository.ts
  server/src/services/asset-media.service.ts
Labels: 🗄️server

#10203 chore(web): update translations
  web/src/lib/i18n/cs.json
  web/src/lib/i18n/de.json
  web/src/lib/i18n/en.json
  web/src/lib/i18n/es.json
  web/src/lib/i18n/fi.json
  web/src/lib/i18n/fr.json
  web/src/lib/i18n/he.json
  web/src/lib/i18n/hu.json
  web/src/lib/i18n/it.json
  web/src/lib/i18n/nl.json
  web/src/lib/i18n/pl.json
  web/src/lib/i18n/ro.json
  web/src/lib/i18n/ru.json
  web/src/lib/i18n/uk.json
  web/src/lib/i18n/zh_SIMPLIFIED.json
Labels: 🖥️web

#10214 chore: translations from mobile
  web/src/lib/i18n/ar.json
  web/src/lib/i18n/ca.json
  web/src/lib/i18n/da.json
  web/src/lib/i18n/es.json
  web/src/lib/i18n/fi.json
  web/src/lib/i18n/fr.json
  web/src/lib/i18n/he.json
  web/src/lib/i18n/hi.json
  web/src/lib/i18n/hu.json
  web/src/lib/i18n/it.json
  web/src/lib/i18n/ja.json
  web/src/lib/i18n/ko.json
  web/src/lib/i18n/lv.json
  web/src/lib/i18n/mn.json
  web/src/lib/i18n/nb_NO.json
  web/src/lib/i18n/nl.json
  web/src/lib/i18n/pl.json
  web/src/lib/i18n/pt.json
  web/src/lib/i18n/ro.json
  web/src/lib/i18n/ru.json
  web/src/lib/i18n/sk.json
  web/src/lib/i18n/sl.json
  web/src/lib/i18n/sr.json
  web/src/lib/i18n/sv.json
  web/src/lib/i18n/th.json
  web/src/lib/i18n/uk.json
  web/src/lib/i18n/vi.json
  web/src/lib/i18n/zh_Hant.json
Labels: 🖥️web

#10216 chore(web): update translations
  web/src/lib/i18n/cs.json
  web/src/lib/i18n/es.json
  web/src/lib/i18n/nl.json
  web/src/lib/i18n/pl.json
Labels: 🖥️web

#10218 fix: no floats (replace with doubles)
  mobile/openapi/lib/model/duplicate_detection_config.dart
  mobile/openapi/lib/model/facial_recognition_config.dart
  mobile/openapi/lib/model/server_storage_response_dto.dart
  open-api/immich-openapi-specs.json
  server/src/dtos/model-config.dto.ts
  server/src/dtos/server-info.dto.ts
  server/src/utils/misc.ts
Labels: 📱mobile, 🗄️server

#10199 fix(web): missing svelte translations
  web/src/lib/components/faces-page/merge-face-selector.svelte
  web/src/lib/components/faces-page/merge-suggestion-modal.svelte
  web/src/lib/components/faces-page/show-hide.svelte
  web/src/lib/components/photos-page/asset-select-control-bar.svelte
  web/src/lib/components/shared-components/navigation-bar/account-info-panel.svelte
  web/src/lib/components/shared-components/navigation-bar/navigation-bar.svelte
  web/src/lib/components/shared-components/side-bar/more-information-albums.svelte
  web/src/lib/components/shared-components/side-bar/more-information-assets.svelte
  web/src/lib/components/shared-components/status-box.svelte
  web/src/lib/i18n/en.json
  web/src/routes/(user)/albums/[albumId=id]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/people/+page.svelte
  web/src/routes/(user)/people/[personId]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/sharing/sharedlinks/+page.svelte
  web/src/routes/(user)/trash/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/utilities/[duplicates]/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web

#10220 fix(mobile): video player not updating state
  mobile/lib/pages/common/video_viewer.page.dart
  mobile/lib/providers/asset_viewer/video_player_controls_provider.dart
  mobile/lib/widgets/asset_viewer/custom_video_player_controls.dart
Labels: 📱mobile

#10228 chore(mobile): post release task
  mobile/android/fastlane/report.xml
  mobile/ios/Runner.xcodeproj/project.pbxproj
  mobile/ios/Runner/Info.plist
  mobile/ios/fastlane/report.xml
Labels: 📱mobile

#10240 fix(server): use preview image when generating person thumbnail from video
  server/src/services/person.service.spec.ts
  server/src/services/person.service.ts
  server/test/fixtures/asset.stub.ts
Labels: 🗄️server

#10252 fix: load original image for gifs
  mobile/openapi/lib/model/asset_response_dto.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/dtos/asset-response.dto.ts
  server/test/fixtures/shared-link.stub.ts
  web/src/lib/components/asset-viewer/photo-viewer.spec.ts
  web/src/lib/components/asset-viewer/photo-viewer.svelte
  web/src/lib/utils/asset-utils.ts
  web/src/test-data/factories/asset-factory.ts
Labels: 📱mobile, 🖥️web, 🗄️server

#10261 feat(web): Language settings list UX nits
  web/src/lib/components/shared-components/combobox.svelte
  web/src/lib/components/user-settings-page/app-settings.svelte
Labels: 🖥️web

#10271 fix(web): more language selector nits
  web/src/lib/components/shared-components/combobox.svelte
  web/src/lib/components/user-settings-page/app-settings.svelte
Labels: 🖥️web

#10273 chore(web): remove unnecessary input.select for lang selector
  web/src/lib/components/shared-components/combobox.svelte
Labels: 🖥️web

#10278 chore(docs): Delete unsupported SQL shenanigans
  docs/docs/FAQ.mdx
Labels: documentation

#10272 chore(server): optional originalMimeType in asset response payload
  mobile/openapi/lib/model/asset_response_dto.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/dtos/asset-response.dto.ts
  server/src/services/shared-link.service.spec.ts
  server/src/services/shared-link.service.ts
  web/src/lib/components/asset-viewer/asset-viewer.svelte
  web/src/lib/components/asset-viewer/photo-viewer.spec.ts
  web/src/lib/components/asset-viewer/photo-viewer.svelte
  web/src/lib/components/shared-components/create-share-link-modal/create-shared-link-modal.svelte
  web/src/lib/utils/asset-utils.ts
  web/src/test-data/factories/shared-link-factory.ts
Labels: 📱mobile, 🖥️web, 🗄️server

#10276 chore(doc): update quick-start.mdx
  docs/docs/overview/quick-start.mdx
Labels: documentation

#10260 chore(web): translations in page load functions
  web/src/lib/i18n/en.json
  web/src/routes/(user)/albums/+page.ts
  web/src/routes/(user)/archive/[[photos=photos]]/[[assetId=id]]/+page.ts
  web/src/routes/(user)/explore/+page.ts
  web/src/routes/(user)/favorites/[[photos=photos]]/[[assetId=id]]/+page.ts
  web/src/routes/(user)/map/[[photos=photos]]/[[assetId=id]]/+page.ts
  web/src/routes/(user)/memory/[[photos=photos]]/[[assetId=id]]/+page.ts
  web/src/routes/(user)/partners/[userId]/[[photos=photos]]/[[assetId=id]]/+page.ts
  web/src/routes/(user)/people/+page.ts
  web/src/routes/(user)/people/[personId]/[[photos=photos]]/[[assetId=id]]/+page.ts
  web/src/routes/(user)/photos/[[assetId=id]]/+page.ts
  web/src/routes/(user)/places/+page.ts
  web/src/routes/(user)/search/[[photos=photos]]/[[assetId=id]]/+page.ts
  web/src/routes/(user)/share/[key]/[[photos=photos]]/[[assetId=id]]/+page.ts
  web/src/routes/(user)/sharing/+page.ts
  web/src/routes/(user)/sharing/sharedlinks/+page.ts
  web/src/routes/(user)/trash/[[photos=photos]]/[[assetId=id]]/+page.ts
  web/src/routes/(user)/utilities/+page.ts
  web/src/routes/(user)/utilities/[duplicates]/[[photos=photos]]/[[assetId=id]]/+page.ts
  web/src/routes/+page.ts
Labels: 🖥️web

#10283 feat(web): add chinese (traditional), bislama and croatian to our supported languages
  web/src/lib/constants.ts
  web/src/lib/i18n.spec.ts
Labels: 🖥️web

#10289 fix(server): headers already send
  server/src/utils/file.ts
Labels: 🗄️server

#10302 chore: fix typo in jobs-workers.md
  docs/docs/administration/jobs-workers.md
Labels: documentation

#10301 chore: update discord links
  .github/ISSUE_TEMPLATE/config.yml
  README.md
  docs/blog/2023/06-24/update.mdx
  docs/blog/2023/07-29/update.mdx
  docs/docs/developer/troubleshooting.md
  docs/docs/overview/help.md
  docs/docusaurus.config.js
  docs/src/pages/index.tsx
  readme_i18n/README_ar_JO.md
  readme_i18n/README_ca_ES.md
  readme_i18n/README_de_DE.md
  readme_i18n/README_es_ES.md
  readme_i18n/README_fr_FR.md
  readme_i18n/README_it_IT.md
  readme_i18n/README_ja_JP.md
  readme_i18n/README_ko_KR.md
  readme_i18n/README_nl_NL.md
  readme_i18n/README_pt_BR.md
  readme_i18n/README_ru_RU.md
  readme_i18n/README_sv_SE.md
  readme_i18n/README_tr_TR.md
  readme_i18n/README_zh_CN.md
  web/src/routes/+error.svelte
Labels: documentation

#10303 chore(web): standardize settings labels
  web/src/lib/components/admin-page/settings/auth/auth-settings.svelte
  web/src/lib/components/admin-page/settings/ffmpeg/ffmpeg-settings.svelte
  web/src/lib/components/admin-page/settings/image/image-settings.svelte
  web/src/lib/components/admin-page/settings/library-settings/library-settings.svelte
  web/src/lib/components/admin-page/settings/logging-settings/logging-settings.svelte
  web/src/lib/components/admin-page/settings/machine-learning-settings/machine-learning-settings.svelte
  web/src/lib/components/admin-page/settings/map-settings/map-settings.svelte
  web/src/lib/components/admin-page/settings/new-version-check-settings/new-version-check-settings.svelte
  web/src/lib/components/admin-page/settings/notification-settings/notification-settings.svelte
  web/src/lib/components/admin-page/settings/server/server-settings.svelte
  web/src/lib/components/admin-page/settings/storage-template/storage-template-settings.svelte
  web/src/lib/components/admin-page/settings/trash-settings/trash-settings.svelte
  web/src/lib/components/admin-page/settings/user-settings/user-settings.svelte
  web/src/lib/components/shared-components/settings/setting-checkboxes.svelte
  web/src/lib/components/shared-components/settings/setting-textarea.svelte
  web/src/lib/components/user-settings-page/change-password-settings.svelte
  web/src/lib/components/user-settings-page/notifications-settings.svelte
  web/src/lib/components/user-settings-page/user-profile-settings.svelte
  web/src/lib/i18n/en.json
Labels: 🖥️web

#10319 docs: brief instructions to recover from corruption
  docs/docs/FAQ.mdx
Labels: documentation

#10296 feat: user preferences for archive download size
  e2e/src/api/specs/user-admin.e2e-spec.ts
  e2e/src/api/specs/user.e2e-spec.ts
  mobile/openapi/README.md
  mobile/openapi/lib/api.dart
  mobile/openapi/lib/api_client.dart
  mobile/openapi/lib/model/download_response.dart
  mobile/openapi/lib/model/download_update.dart
  mobile/openapi/lib/model/user_preferences_response_dto.dart
  mobile/openapi/lib/model/user_preferences_update_dto.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/dtos/user-preferences.dto.ts
  server/src/entities/user-metadata.entity.ts
  web/src/lib/components/user-settings-page/download-settings.svelte
  web/src/lib/components/user-settings-page/user-settings-list.svelte
  web/src/lib/i18n/en.json
  web/src/lib/utils.ts
  web/src/lib/utils/asset-utils.ts
  web/src/lib/utils/byte-converter.ts
Labels: 📱mobile, 🖥️web, 🗄️server

#10332 refactor(web): byte unit utils
  web/src/lib/components/admin-page/server-stats/server-stats-panel.svelte
  web/src/lib/components/admin-page/server-stats/stats-card.svelte
  web/src/lib/components/asset-viewer/detail-panel.svelte
  web/src/lib/components/asset-viewer/download-panel.svelte
  web/src/lib/components/forms/create-user-form.svelte
  web/src/lib/components/forms/edit-user-form.svelte
  web/src/lib/components/shared-components/status-box.svelte
  web/src/lib/components/shared-components/upload-asset-preview.svelte
  web/src/lib/components/user-settings-page/download-settings.svelte
  web/src/lib/utils/asset-utils.ts
  web/src/lib/utils/byte-converter.ts
  web/src/lib/utils/byte-units.spec.ts
  web/src/lib/utils/byte-units.ts
  web/src/routes/admin/library-management/+page.svelte
  web/src/routes/admin/user-management/+page.svelte
Labels: 🖥️web

#10321 refactor(server): partner ids
  server/src/services/asset.service.ts
  server/src/services/map.service.ts
  server/src/services/search.service.ts
  server/src/services/sync.service.ts
  server/src/services/timeline.service.ts
  server/src/utils/asset.util.ts
Labels: 🗄️server

#9988 feat(web): add cover images to individual shares
  web/src/lib/components/album-page/__tests__/album-cover.spec.ts
  web/src/lib/components/album-page/album-card.svelte
  web/src/lib/components/album-page/album-cover.svelte
  web/src/lib/components/forms/edit-album-form.svelte
  web/src/lib/components/shared-components/create-share-link-modal/create-shared-link-modal.svelte
  web/src/lib/components/sharedlinks-page/covers/__tests__/asset-cover.spec.ts
  web/src/lib/components/sharedlinks-page/covers/__tests__/no-cover.spec.ts
  web/src/lib/components/sharedlinks-page/covers/__tests__/share-cover.spec.ts
  web/src/lib/components/sharedlinks-page/covers/asset-cover.svelte
  web/src/lib/components/sharedlinks-page/covers/no-cover.svelte
  web/src/lib/components/sharedlinks-page/covers/share-cover.svelte
  web/src/lib/components/sharedlinks-page/shared-link-card.svelte
  web/src/lib/i18n/en.json
Labels: 🖥️web

#10348 fix(web): prevent new uploads from temporarily showing in trash
  web/src/lib/stores/asset.store.spec.ts
  web/src/lib/stores/assets.store.ts
Labels: 🖥️web

#10351 fix(web): allow sending test email when using config file
  web/src/lib/components/admin-page/settings/notification-settings/notification-settings.svelte
  web/src/lib/i18n/en.json
Labels: 🖥️web

#10346 feat(web): full screen view for duplicates
  web/src/lib/components/utilities-page/duplicates/duplicate-asset.svelte
  web/src/lib/components/utilities-page/duplicates/duplicates-compare-control.svelte
  web/src/lib/components/utilities-page/utilities-menu.svelte
  web/src/lib/i18n/en.json
  web/src/routes/(user)/utilities/duplicates/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/utilities/duplicates/[[photos=photos]]/[[assetId=id]]/+page.ts
Labels: 🖥️web

#10340 fix(app-bar): remove safe area of the app bar in photos page
  mobile/lib/pages/photos/photos.page.dart
Labels: 📱mobile

#10383 fix(web): play video muted when blocked by browser
  web/src/lib/components/asset-viewer/video-native-viewer.svelte
Labels: 🖥️web

#10389 fix(server): include trashed assets in forced thumbnail generation
  server/src/services/media.service.spec.ts
  server/src/services/media.service.ts
  server/test/fixtures/asset.stub.ts
Labels: 🗄️server

#10393 fix(web): update avatar color immediately
  web/src/lib/components/shared-components/navigation-bar/account-info-panel.svelte
  web/src/lib/components/shared-components/user-avatar.svelte
Labels: 🖥️web

#10382 fix(server): orientation handling for person thumbnails
  server/src/interfaces/media.interface.ts
  server/src/services/person.service.spec.ts
  server/src/services/person.service.ts
  server/test/fixtures/face.stub.ts
Labels: 🗄️server

#10324 fix(mobile): translation for memory title
  mobile/assets/i18n/en-US.json
  mobile/assets/i18n/ja-JP.json
  mobile/assets/i18n/nl-NL.json
  mobile/assets/i18n/zh-CN.json
  mobile/assets/i18n/zh-Hans.json
  mobile/assets/i18n/zh-TW.json
  mobile/lib/services/memory.service.dart
Labels: 📱mobile

#10371 feat(server): separate face search relation
  e2e/src/utils.ts
  server/src/entities/asset-face.entity.ts
  server/src/entities/face-search.entity.ts
  server/src/entities/index.ts
  server/src/migrations/1718486162779-AddFaceSearchRelation.ts
  server/src/queries/search.repository.sql
  server/src/repositories/database.repository.ts
  server/src/repositories/person.repository.ts
  server/src/repositories/search.repository.ts
  server/src/services/person.service.spec.ts
  server/src/services/person.service.ts
  server/test/fixtures/face.stub.ts
Labels: 🗄️server

#10409 fix(server): include archived assets in forced thumbnail generation
  server/src/services/media.service.spec.ts
  server/src/services/media.service.ts
  server/test/fixtures/asset.stub.ts
Labels: 🗄️server

#10385 fix(mobile): search page
  mobile/lib/pages/search/search.page.dart
  mobile/lib/widgets/search/curated_people_row.dart
  mobile/lib/widgets/search/curated_places_row.dart
  mobile/lib/widgets/search/curated_row.dart
  mobile/lib/widgets/search/search_filter/camera_picker.dart
  mobile/lib/widgets/search/search_filter/common/dropdown.dart
  mobile/lib/widgets/search/search_filter/filter_bottom_sheet_scaffold.dart
  mobile/lib/widgets/search/search_filter/location_picker.dart
  mobile/lib/widgets/search/search_map_thumbnail.dart
  mobile/lib/widgets/search/search_row_section.dart
  mobile/lib/widgets/search/search_row_title.dart
Labels: 📱mobile

#10384 fix(mobile): my location button on maps not visible due to bottom padding
  mobile/lib/pages/search/map/map.page.dart
Labels: 📱mobile

#10377 fix(mobile): asset description is not shown on the sheet when opened for the first time
  mobile/lib/providers/asset_viewer/asset_description.provider.dart
  mobile/lib/services/asset_description.service.dart
  mobile/lib/widgets/asset_viewer/description_input.dart
  mobile/lib/widgets/asset_viewer/exif_sheet/exif_bottom_sheet.dart
Labels: 📱mobile

#10406 chore: update Unraid Docker-Compose documentation to reflect missing healthcheck start_interval parameter from Docker Engine v24.0.9.
  docs/docs/install/unraid.md
Labels: documentation

#10440 fix(web): confirm button is disabled if two dialogs are shown subsequently
  web/src/lib/components/shared-components/dialog/confirm-dialog.svelte
Labels: 🖥️web

#10237 fix(web): Update prompt
  web/src/lib/components/faces-page/merge-face-selector.svelte
  web/src/lib/i18n/en.json
Labels: 🖥️web

#10182 fix(mobile): upgrade maplibre_gl package to fix issue with crash in ios7.4 above simulator
  mobile/ios/Podfile.lock
  mobile/lib/extensions/maplibrecontroller_extensions.dart
  mobile/lib/pages/search/map/map.page.dart
  mobile/lib/pages/search/map/map_location_picker.page.dart
  mobile/lib/providers/search/search_page_state.provider.dart
  mobile/lib/widgets/map/map_thumbnail.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: 📱mobile

#10017 feat(web): keyboard accessible context menus
  web/src/lib/actions/context-menu-navigation.ts
  web/src/lib/actions/focus-outside.ts
  web/src/lib/components/album-page/album-card.svelte
  web/src/lib/components/album-page/albums-list.svelte
  web/src/lib/components/album-page/share-info-modal.svelte
  web/src/lib/components/asset-viewer/asset-viewer-nav-bar.svelte
  web/src/lib/components/elements/buttons/circle-icon-button.svelte
  web/src/lib/components/faces-page/people-card.svelte
  web/src/lib/components/memory-page/memory-viewer.svelte
  web/src/lib/components/photos-page/actions/add-to-album.svelte
  web/src/lib/components/photos-page/asset-select-context-menu.svelte
  web/src/lib/components/shared-components/context-menu/button-context-menu.svelte
  web/src/lib/components/shared-components/context-menu/context-menu.svelte
  web/src/lib/components/shared-components/context-menu/menu-option.svelte
  web/src/lib/components/shared-components/context-menu/menu.ts
  web/src/lib/components/shared-components/context-menu/right-click-context-menu.svelte
  web/src/lib/stores/context-menu.store.ts
  web/src/lib/utils/context-menu.ts
  web/src/routes/(user)/albums/[albumId=id]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/archive/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/favorites/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/partners/[userId]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/people/[personId]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/photos/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/search/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/admin/library-management/+page.svelte
Labels: 🖥️web, accessibility

#10471 fix(server): consider all I-frames for video thumbnails
  server/src/services/media.service.spec.ts
  server/src/utils/media.ts
Labels: 🗄️server

#10453 fix(web): comment send button
  web/src/lib/components/asset-viewer/activity-viewer.svelte
Labels: 🖥️web

#10478 feat(web): display original heif images for safari
  web/src/lib/utils/asset-utils.ts
Labels: 🖥️web

#10479 fix(server): let thumbnail generation fail on error
  server/src/repositories/media.repository.ts
Labels: 🗄️server

#10477 fix(server): video thumbnail generation failing with single i-frame
  server/src/services/media.service.spec.ts
  server/src/utils/media.ts
Labels: 🗄️server

#10481 chore(ml): support python 3.12
  machine-learning/poetry.lock
  machine-learning/pyproject.toml
Labels: 🧠machine-learning

#10448 feat(web): bulk deduplicate
  web/src/lib/components/utilities-page/duplicates/duplicates-compare-control.svelte
  web/src/lib/i18n/en.json
  web/src/lib/utils.ts
  web/src/routes/(user)/utilities/duplicates/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web

#10495 fix(server): library refresh not checking trashed assets
  server/src/queries/asset.repository.sql
  server/src/repositories/asset.repository.ts
Labels: 🗄️server

#10496 fix(server): reindex after changing to a model with a different dimension size
  server/src/repositories/search.repository.ts
Labels: 🗄️server

#10494 fix(ml): limit load retries
  machine-learning/app/main.py
  machine-learning/app/models/base.py
  machine-learning/app/test_main.py
Labels: 🧠machine-learning

#10221 fix(deployment): Postgres healthcheck, add username to pg_isready
  docker/docker-compose.dev.yml
  docker/docker-compose.prod.yml
  docker/docker-compose.yml
Labels: deployment

#10506 feat(web): duplicate ui tweaks
  web/src/lib/components/utilities-page/duplicates/duplicate-asset.svelte
  web/src/lib/components/utilities-page/duplicates/duplicates-compare-control.svelte
Labels: 🖥️web

#10475 chore(web): context menu improvements
  web/src/lib/components/album-page/albums-list.svelte
  web/src/lib/components/album-page/share-info-modal.svelte
  web/src/lib/components/asset-viewer/activity-viewer.svelte
  web/src/lib/components/asset-viewer/asset-viewer-nav-bar.svelte
  web/src/lib/components/faces-page/people-card.svelte
  web/src/lib/components/photos-page/actions/add-to-album.svelte
  web/src/lib/components/photos-page/actions/archive-action.svelte
  web/src/lib/components/photos-page/actions/asset-job-actions.svelte
  web/src/lib/components/photos-page/actions/change-date-action.svelte
  web/src/lib/components/photos-page/actions/change-location-action.svelte
  web/src/lib/components/photos-page/actions/delete-assets.svelte
  web/src/lib/components/photos-page/actions/download-action.svelte
  web/src/lib/components/photos-page/actions/favorite-action.svelte
  web/src/lib/components/photos-page/actions/remove-from-album.svelte
  web/src/lib/components/photos-page/actions/stack-action.svelte
  web/src/lib/components/shared-components/context-menu/menu-option.svelte
  web/src/routes/(user)/albums/[albumId=id]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/people/[personId]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/admin/library-management/+page.svelte
Labels: 🖥️web

#10512 fix(server): allow library id to be null in metadata search
  e2e/src/api/specs/search.e2e-spec.ts
  mobile/openapi/lib/model/metadata_search_dto.dart
  mobile/openapi/lib/model/smart_search_dto.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/dtos/search.dto.ts
  server/src/interfaces/search.interface.ts
  server/src/utils/database.ts
  server/src/validation.ts
Labels: 📱mobile, 🗄️server

#10514 fix(server): `/places` entries sometimes not ordered alphabetically
  server/src/queries/search.repository.sql
  server/src/repositories/search.repository.ts
Labels: 🗄️server

#10528 feat(web): Adds sort order from album to shared album.
  web/src/lib/components/album-page/album-viewer.svelte
Labels: 🖥️web
