Repository immich-app/immich, pull requests merged in 2024-03, with the labels that each got.

#7541 fix(web): immich version
  misc/release/pump-version.sh
  open-api/typescript-sdk/package-lock.json
  open-api/typescript-sdk/package.json
  web/package-lock.json
  web/package.json
Labels: maintenance

#7552 fix(immich-admin): only 1st argument was passed
  server/bin/immich-admin
Labels: 🗄️server

#7563 fix(web): prevent duplicate calls to time bucket endpoint
  web/src/lib/stores/assets.store.ts
Labels: 🖥️web

#7548 feat(server/web): add oauth defaultStorageQuota and storageQuotaClaim
  docs/docs/administration/oauth.md
  docs/docs/install/config-file.md
  mobile/openapi/doc/SystemConfigOAuthDto.md
  mobile/openapi/lib/model/system_config_o_auth_dto.dart
  mobile/openapi/test/system_config_o_auth_dto_test.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/domain/auth/auth.service.spec.ts
  server/src/domain/auth/auth.service.ts
  server/src/domain/system-config/dto/system-config-oauth.dto.ts
  server/src/domain/system-config/system-config.core.ts
  server/src/domain/system-config/system-config.service.spec.ts
  server/src/infra/entities/system-config.entity.ts
  server/test/fixtures/system-config.stub.ts
  server/test/fixtures/user.stub.ts
  web/src/lib/components/admin-page/jobs/storage-migration-description.svelte
  web/src/lib/components/admin-page/settings/oauth/oauth-settings.svelte
Labels: 🖥️web, 🗄️server

#7555 perf(web): asset delete
  web/src/lib/components/photos-page/asset-grid.svelte
  web/src/lib/stores/assets.store.ts
  web/src/lib/utils/actions.ts
  web/src/routes/(user)/albums/[albumId]/+page.svelte
  web/src/routes/(user)/archive/+page.svelte
  web/src/routes/(user)/favorites/+page.svelte
  web/src/routes/(user)/people/[personId]/+page.svelte
  web/src/routes/(user)/photos/+page.svelte
  web/src/routes/(user)/search/+page.svelte
  web/src/routes/(user)/trash/+page.svelte
Labels: performance, 🖥️web

#7576 docs: fix the database name env variable
  docs/docs/install/environment-variables.md
Labels: documentation

#7544 fix(web): show history search box only when needed
  web/src/lib/components/shared-components/search-bar/search-bar.svelte
Labels: 🖥️web

#7502 feat(web): ascending order for slideshow
  web/src/lib/components/asset-viewer/asset-viewer.svelte
  web/src/lib/components/asset-viewer/slideshow-bar.svelte
  web/src/lib/components/elements/dropdown.svelte
  web/src/lib/components/shared-components/settings/setting-dropdown.svelte
  web/src/lib/components/slideshow-settings.svelte
  web/src/lib/stores/slideshow.store.ts
  web/src/routes/(user)/albums/[albumId]/+page.svelte
Labels: 🖥️web

#7581 feat(server): allow oauth claim to set 0 for no quota
  server/src/domain/auth/auth.service.spec.ts
  server/src/domain/auth/auth.service.ts
  server/test/fixtures/user.stub.ts
Labels: 🗄️server

#7580 fix(server): prevent leaking isFavorite and isArchived info
  e2e/src/api/specs/album.e2e-spec.ts
  server/src/domain/album/album-response.dto.ts
  server/src/domain/album/album.service.ts
  server/src/domain/asset/asset.service.ts
  server/src/domain/asset/response-dto/asset-response.dto.ts
Labels: 🗄️server

#7569 feat(machine-learning): support cuda 12
  machine-learning/Dockerfile
  machine-learning/poetry.lock
  machine-learning/pyproject.toml
Labels: 🧠machine-learning

#7591 feat(web): show user quota on server stats page
  web/src/lib/components/admin-page/server-stats/server-stats-panel.svelte
Labels: 🖥️web

#7595 feat(web): add share link on asset-viewer
  web/src/lib/components/asset-viewer/asset-viewer-nav-bar.svelte
  web/src/lib/components/asset-viewer/asset-viewer.svelte
Labels: 🖥️web

#7596 feat(web): improve alt text
  mobile/openapi/doc/MapMarkerResponseDto.md
  mobile/openapi/lib/model/map_marker_response_dto.dart
  mobile/openapi/test/map_marker_response_dto_test.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/domain/asset/asset.service.spec.ts
  server/src/domain/asset/response-dto/map-marker-response.dto.ts
  server/src/domain/repositories/asset.repository.ts
  server/src/infra/repositories/asset.repository.ts
  server/test/fixtures/asset.stub.ts
  web/src/lib/components/album-page/__tests__/album-card.spec.ts
  web/src/lib/components/album-page/album-card.svelte
  web/src/lib/components/asset-viewer/activity-viewer.svelte
  web/src/lib/components/asset-viewer/detail-panel.svelte
  web/src/lib/components/asset-viewer/photo-viewer.svelte
  web/src/lib/components/assets/thumbnail/image-thumbnail.svelte
  web/src/lib/components/assets/thumbnail/thumbnail.svelte
  web/src/lib/components/faces-page/person-side-panel.svelte
  web/src/lib/components/memory-page/memory-viewer.svelte
  web/src/lib/components/photos-page/memory-lane.svelte
  web/src/lib/components/shared-components/change-location.svelte
  web/src/lib/components/shared-components/map/map.svelte
  web/src/lib/components/shared-components/search-bar/search-bar.svelte
  web/src/lib/utils/thumbnail-util.ts
Labels: 🖥️web, accessibility

#7593 perf(web): optimize date groups
  web/src/lib/components/photos-page/actions/select-all-assets.svelte
  web/src/lib/components/photos-page/asset-date-group.svelte
  web/src/lib/components/photos-page/asset-grid.svelte
  web/src/lib/components/shared-components/scrollbar/scrollbar.svelte
  web/src/lib/stores/assets.store.ts
  web/src/lib/utils/timeline-util.ts
Labels: 🖥️web

#7540 feat: preloading of machine learning models
  docs/docs/install/environment-variables.md
  machine-learning/.gitignore
  machine-learning/app/config.py
  machine-learning/app/main.py
  machine-learning/app/models/cache.py
  machine-learning/app/test_main.py
Labels: 🧠machine-learning

#7598 feat(server, web): add checkbox to create user screen for shouldChang…
  mobile/openapi/doc/CreateUserDto.md
  mobile/openapi/lib/model/create_user_dto.dart
  mobile/openapi/test/create_user_dto_test.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/domain/user/dto/create-user.dto.ts
  web/src/lib/components/forms/create-user-form.svelte
Labels: 🗄️server

#7620 fix(server): regular version check
  server/src/domain/server-info/server-info.service.ts
Labels: 🗄️server

#7603 feat(web): use lib/utils/copyToClipboard for share link
  web/src/lib/components/shared-components/create-share-link-modal/create-shared-link-modal.svelte
Labels: 🖥️web

#7589 fix(server, web): prevent reload when liking an asset
  web/src/lib/components/asset-viewer/photo-viewer.svelte
Labels: 🖥️web, 🗄️server

#7602 fix(server): incorrect number of assets for a person
  e2e/src/api/specs/person.e2e-spec.ts
  server/src/infra/repositories/person.repository.ts
  server/src/infra/sql/person.repository.sql
Labels: 🗄️server

#7606 doc: update truenas.md with permission info.
  docs/docs/install/truenas.md
Labels: documentation

#7637 fix(web): prettify album download filename
  web/src/lib/utils/asset-utils.ts
Labels: 🖥️web

#7638 Revert "perf(web): optimize date groups"
  web/src/lib/components/photos-page/actions/select-all-assets.svelte
  web/src/lib/components/photos-page/asset-date-group.svelte
  web/src/lib/components/photos-page/asset-grid.svelte
  web/src/lib/components/shared-components/scrollbar/scrollbar.svelte
  web/src/lib/stores/assets.store.ts
  web/src/lib/utils/timeline-util.ts
Labels: 🖥️web

#7644 Revert "fix(web): prevent duplicate calls to time bucket endpoint"
  web/src/lib/stores/assets.store.ts
Labels: 🖥️web

#6733 feat(cli): Use well-known endpoint to resolve API
  cli/src/services/session.service.ts
  e2e/src/cli/specs/login.e2e-spec.ts
Labels: cli

#7651 chore: download e2e
  e2e/src/api/specs/asset.e2e-spec.ts
  e2e/src/api/specs/download.e2e-spec.ts
  e2e/src/utils.ts
Labels: maintenance

#7658 feat(server): deterministic download order
  server/src/domain/download/download.service.spec.ts
  server/src/domain/download/download.service.ts
Labels: 🗄️server

#7545 chore(server): eslint await-thenable
  server/.eslintrc.js
  server/e2e/jobs/specs/library-watcher.e2e-spec.ts
  server/src/domain/activity/activity.spec.ts
  server/src/domain/album/album.service.spec.ts
  server/src/domain/api-key/api-key.service.spec.ts
  server/src/domain/asset/asset.service.spec.ts
  server/src/domain/audit/audit.service.spec.ts
  server/src/domain/auth/auth.service.spec.ts
  server/src/domain/database/database.service.spec.ts
  server/src/domain/database/database.service.ts
  server/src/domain/domain.util.ts
  server/src/domain/download/download.service.spec.ts
  server/src/domain/download/download.service.ts
  server/src/domain/job/job.service.spec.ts
  server/src/domain/library/library.service.spec.ts
  server/src/domain/library/library.service.ts
  server/src/domain/media/media.service.spec.ts
  server/src/domain/metadata/metadata.service.spec.ts
  server/src/domain/metadata/metadata.service.ts
  server/src/domain/partner/partner.service.spec.ts
  server/src/domain/person/person.service.spec.ts
  server/src/domain/repositories/communication.repository.ts
  server/src/domain/repositories/storage.repository.ts
  server/src/domain/search/search.service.ts
  server/src/domain/server-info/server-info.service.ts
  server/src/domain/shared-link/shared-link.service.spec.ts
  server/src/domain/smart-info/smart-info.service.spec.ts
  server/src/domain/storage-template/storage-template.service.spec.ts
  server/src/domain/storage/storage.service.spec.ts
  server/src/domain/system-config/system-config.service.spec.ts
  server/src/domain/system-config/system-config.service.ts
  server/src/domain/trash/trash.service.spec.ts
  server/src/domain/user/user.service.spec.ts
  server/src/immich/interceptors/error.interceptor.ts
  server/src/immich/interceptors/file-upload.interceptor.ts
  server/src/infra/repositories/asset.repository.ts
  server/src/infra/repositories/library.repository.ts
  server/src/infra/repositories/media.repository.ts
  server/src/test-utils/utils.ts
  server/test/repositories/storage.repository.mock.ts
Labels: 🗄️server, maintenance

#7662 chore(deps): bump sanitize-html, fixing CVE-2024-21501
  docs/package-lock.json
Labels: dependencies

#7624 feat(web): search by filename
  server/src/infra/entities/asset.entity.ts
  server/src/infra/infra.utils.ts
  server/src/infra/migrations/1709608140355-AddAssetOriginalPathTrigramIndex.ts
  web/src/lib/components/shared-components/search-bar/search-filter-box.svelte
  web/src/lib/components/shared-components/search-bar/search-text-section.svelte
  web/src/routes/(user)/search/+page.svelte
Labels: 🖥️web

#7625 refactor(mobile): Refactor video player page and gallery bottom app bar
  mobile/lib/modules/asset_viewer/hooks/chewiew_controller_hook.dart
  mobile/lib/modules/asset_viewer/providers/asset_stack.provider.dart
  mobile/lib/modules/asset_viewer/providers/asset_stack.provider.g.dart
  mobile/lib/modules/asset_viewer/providers/video_player_controller_provider.dart
  mobile/lib/modules/asset_viewer/providers/video_player_controller_provider.g.dart
  mobile/lib/modules/asset_viewer/providers/video_player_controls_provider.dart
  mobile/lib/modules/asset_viewer/providers/video_player_value_provider.dart
  mobile/lib/modules/asset_viewer/ui/bottom_gallery_bar.dart
  mobile/lib/modules/asset_viewer/ui/custom_video_player_controls.dart
  mobile/lib/modules/asset_viewer/ui/gallery_app_bar.dart
  mobile/lib/modules/asset_viewer/ui/video_controls.dart
  mobile/lib/modules/asset_viewer/ui/video_player.dart
  mobile/lib/modules/asset_viewer/ui/video_player_controls.dart
  mobile/lib/modules/asset_viewer/views/gallery_viewer.dart
  mobile/lib/modules/asset_viewer/views/video_viewer_page.dart
  mobile/lib/modules/map/providers/map_state.provider.g.dart
  mobile/lib/modules/memories/ui/memory_card.dart
  mobile/lib/routing/router.gr.dart
  mobile/lib/shared/ui/hooks/timer_hook.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: 📱mobile

#7346 fix(server): stack info in asset response for mobile
  mobile/ios/Podfile.lock
  mobile/lib/modules/asset_viewer/views/gallery_viewer.dart
  server/e2e/api/specs/asset.e2e-spec.ts
  server/src/domain/repositories/search.repository.ts
  server/src/immich/api-v1/asset/asset.service.ts
  server/src/infra/infra.utils.ts
  server/src/infra/sql/search.repository.sql
Labels: 🗄️server

#7663 feat(server,web): make user deletion delay configurable
  docs/docs/install/config-file.md
  e2e/src/api/specs/server-info.e2e-spec.ts
  mobile/openapi/.openapi-generator/FILES
  mobile/openapi/README.md
  mobile/openapi/doc/ServerConfigDto.md
  mobile/openapi/doc/SystemConfigDto.md
  mobile/openapi/doc/SystemConfigUserDto.md
  mobile/openapi/lib/api.dart
  mobile/openapi/lib/api_client.dart
  mobile/openapi/lib/model/server_config_dto.dart
  mobile/openapi/lib/model/system_config_dto.dart
  mobile/openapi/lib/model/system_config_user_dto.dart
  mobile/openapi/test/server_config_dto_test.dart
  mobile/openapi/test/system_config_dto_test.dart
  mobile/openapi/test/system_config_user_dto_test.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/domain/server-info/server-info.dto.ts
  server/src/domain/server-info/server-info.service.spec.ts
  server/src/domain/server-info/server-info.service.ts
  server/src/domain/system-config/dto/system-config-user.dto.ts
  server/src/domain/system-config/dto/system-config.dto.ts
  server/src/domain/system-config/system-config.core.ts
  server/src/domain/system-config/system-config.service.spec.ts
  server/src/domain/user/user.service.spec.ts
  server/src/domain/user/user.service.ts
  server/src/infra/entities/system-config.entity.ts
  server/test/fixtures/system-config.stub.ts
  web/src/lib/components/admin-page/delete-confirm-dialoge.svelte
  web/src/lib/components/admin-page/settings/admin-settings.svelte
  web/src/lib/components/admin-page/settings/user-settings/user-settings.svelte
  web/src/lib/stores/server-config.store.ts
  web/src/routes/admin/system-settings/+page.svelte
Labels: 🗄️server

#7669 fix(web): date input on chrome
  web/src/lib/components/elements/date-input.svelte
Labels: 🖥️web

#6717 feat(mobile): Add people list to exit bottom sheet
  mobile/assets/i18n/de-DE.json
  mobile/assets/i18n/en-US.json
  mobile/assets/i18n/it-IT.json
  mobile/lib/modules/asset_viewer/providers/asset_people.provider.dart
  mobile/lib/modules/asset_viewer/providers/asset_people.provider.g.dart
  mobile/lib/modules/asset_viewer/ui/exif_bottom_sheet.dart
  mobile/lib/modules/asset_viewer/views/gallery_viewer.dart
  mobile/lib/modules/search/ui/curated_people_row.dart
  mobile/lib/modules/search/views/search_page.dart
  mobile/lib/shared/services/asset.service.dart
Labels: 📱mobile

#7594 perf(web): optimize response sizes for initial page load
  web/src/lib/components/photos-page/asset-grid.svelte
  web/src/lib/components/photos-page/memory-lane.svelte
Labels: 🖥️web

#7679 chore(server): save original file name with extension
  e2e/package-lock.json
  e2e/src/api/specs/asset.e2e-spec.ts
  e2e/src/api/specs/shared-link.e2e-spec.ts
  server/e2e/api/specs/asset.e2e-spec.ts
  server/src/domain/download/download.service.ts
  server/src/immich/api-v1/asset/asset.service.ts
  server/src/infra/migrations/1709763765506-AddExtensionToOriginalFileName.ts
  server/test/fixtures/asset.stub.ts
  web/src/lib/utils/asset-utils.ts
Labels: 🗄️server

#7677 fix(web): consistent modal escape behavior
  web/src/lib/components/admin-page/delete-confirm-dialoge.svelte
  web/src/lib/components/admin-page/jobs/jobs-panel.svelte
  web/src/lib/components/admin-page/restore-dialoge.svelte
  web/src/lib/components/admin-page/settings/confirm-disable-login.svelte
  web/src/lib/components/admin-page/settings/oauth/oauth-settings.svelte
  web/src/lib/components/admin-page/settings/password-login/password-login-settings.svelte
  web/src/lib/components/album-page/album-options.svelte
  web/src/lib/components/album-page/share-info-modal.svelte
  web/src/lib/components/faces-page/merge-face-selector.svelte
  web/src/lib/components/faces-page/merge-suggestion-modal.svelte
  web/src/lib/components/faces-page/set-birth-date-modal.svelte
  web/src/lib/components/forms/api-key-form.svelte
  web/src/lib/components/forms/edit-user-form.svelte
  web/src/lib/components/forms/library-exclusion-pattern-form.svelte
  web/src/lib/components/forms/library-import-path-form.svelte
  web/src/lib/components/forms/library-user-picker-form.svelte
  web/src/lib/components/map-page/map-settings-modal.svelte
  web/src/lib/components/photos-page/actions/remove-from-album.svelte
  web/src/lib/components/photos-page/actions/remove-from-shared-link.svelte
  web/src/lib/components/photos-page/delete-asset-dialog.svelte
  web/src/lib/components/shared-components/change-date.svelte
  web/src/lib/components/shared-components/change-location.svelte
  web/src/lib/components/shared-components/confirm-dialogue.svelte
  web/src/lib/components/shared-components/full-screen-modal.svelte
  web/src/lib/components/shared-components/navigation-bar/avatar-selector.svelte
  web/src/lib/components/shared-components/show-shortcuts.svelte
  web/src/lib/components/shared-components/version-announcement-box.svelte
  web/src/lib/components/slideshow-settings.svelte
  web/src/lib/components/user-settings-page/device-list.svelte
  web/src/lib/components/user-settings-page/partner-settings.svelte
  web/src/lib/components/user-settings-page/user-api-key-list.svelte
  web/src/lib/utils/click-outside.ts
  web/src/routes/(user)/albums/+page.svelte
  web/src/routes/(user)/albums/[albumId]/+page.svelte
  web/src/routes/(user)/people/+page.svelte
  web/src/routes/(user)/sharing/sharedlinks/+page.svelte
  web/src/routes/(user)/trash/+page.svelte
  web/src/routes/admin/library-management/+page.svelte
  web/src/routes/admin/user-management/+page.svelte
Labels: 🖥️web

#7689 chore(server): lower default max recognition distance for facial recognition
  server/src/domain/person/person.service.spec.ts
  server/src/domain/system-config/system-config.core.ts
  server/src/domain/system-config/system-config.service.spec.ts
Labels: 🗄️server

#7685 perf(server): use queries to refresh library assets
  server/src/domain/library/library.service.spec.ts
  server/src/domain/library/library.service.ts
  server/src/domain/repositories/asset.repository.ts
  server/src/infra/repositories/asset.repository.ts
  server/src/infra/sql/asset.repository.sql
  server/test/repositories/asset.repository.mock.ts
Labels: 🗄️server

#7671 fix(mobile): Refactors exif bottom sheet to use widgets and fixes slow sliding up exif bottom sheet
  mobile/lib/modules/asset_viewer/ui/exif_bottom_sheet.dart
  mobile/lib/modules/asset_viewer/ui/exif_sheet/exif_bottom_sheet.dart
  mobile/lib/modules/asset_viewer/ui/exif_sheet/exif_detail.dart
  mobile/lib/modules/asset_viewer/ui/exif_sheet/exif_image_properties.dart
  mobile/lib/modules/asset_viewer/ui/exif_sheet/exif_location.dart
  mobile/lib/modules/asset_viewer/ui/exif_sheet/exif_map.dart
  mobile/lib/modules/asset_viewer/ui/exif_sheet/exif_people.dart
  mobile/lib/modules/asset_viewer/views/gallery_viewer.dart
  mobile/lib/modules/search/ui/curated_people_row.dart
  mobile/lib/shared/models/exif_info.dart
  mobile/lib/shared/providers/asset.provider.dart
Labels: 📱mobile

#7691 chore(server): search filename using originalFileName
  server/src/infra/entities/asset.entity.ts
  server/src/infra/infra.utils.ts
  server/src/infra/migrations/1709608140355-AddAssetOriginalPathTrigramIndex.ts
  web/src/lib/components/shared-components/search-bar/search-filter-box.svelte
  web/src/routes/(user)/search/+page.svelte
Labels: 🗄️server

#7692 chore(mobile,web): use originalFilename
  mobile/lib/shared/models/asset.dart
  web/src/lib/components/asset-viewer/detail-panel.svelte
Labels: 📱mobile, 🖥️web

#7694 fix(server): access face count when the value is undefined
  server/src/infra/repositories/person.repository.ts
Labels: 🗄️server

#7697 fix(server): add extension to filename migration
  server/src/infra/migrations/1709763765506-AddExtensionToOriginalFileName.ts
Labels: 🗄️server

#7704 fix(web): save filename search in search filter box
  web/src/lib/components/shared-components/search-bar/search-filter-box.svelte
Labels: 🖥️web

#7533 chore(server): Move library watcher to microservices
  docs/docs/features/libraries.md
  server/e2e/jobs/specs/library-watcher.e2e-spec.ts
  server/e2e/jobs/specs/library.e2e-spec.ts
  server/src/domain/library/library.service.spec.ts
  server/src/domain/library/library.service.ts
  server/src/domain/repositories/database.repository.ts
  server/src/domain/repositories/storage.repository.ts
  server/src/immich/app.service.ts
  server/src/infra/repositories/database.repository.ts
  server/src/infra/repositories/filesystem.provider.ts
  server/src/microservices/app.service.ts
  server/src/test-utils/utils.ts
  server/test/repositories/database.repository.mock.ts
  server/test/repositories/storage.repository.mock.ts
Labels: 🗄️server

#7717 deps(server): CVE-2024-28176
  server/package-lock.json
Labels: dependencies, 🗄️server

#7706 feat(server): create a person with optional values
  e2e/src/api/specs/person.e2e-spec.ts
  e2e/src/utils.ts
  mobile/openapi/.openapi-generator/FILES
  mobile/openapi/README.md
  mobile/openapi/doc/PersonApi.md
  mobile/openapi/doc/PersonCreateDto.md
  mobile/openapi/lib/api.dart
  mobile/openapi/lib/api/person_api.dart
  mobile/openapi/lib/api_client.dart
  mobile/openapi/lib/model/person_create_dto.dart
  mobile/openapi/test/person_api_test.dart
  mobile/openapi/test/person_create_dto_test.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/domain/person/person.dto.ts
  server/src/domain/person/person.service.spec.ts
  server/src/domain/person/person.service.ts
  server/src/immich/controllers/person.controller.ts
  web/src/lib/components/faces-page/person-side-panel.svelte
  web/src/lib/components/faces-page/unmerge-face-selector.svelte
Labels: maintenance

#7716 docs: admin-only library settings
  docs/docs/features/libraries.md
  docs/docs/guides/external-library.md
  docs/docs/guides/img/account-settings.png
  docs/docs/guides/img/create-external-library-button.png
  docs/docs/guides/img/create-external-library.png
  docs/docs/guides/img/external-libraries.png
  docs/docs/guides/img/external-path.png
  docs/docs/guides/img/library-owner.png
  docs/docs/guides/img/pencil.png
  docs/docs/guides/img/users-tab.png
Labels: documentation

#7696 fix(server): remove shared links during user delete
  machine-learning/.gitignore
  server/src/domain/user/user.service.spec.ts
  server/src/domain/user/user.service.ts
  server/src/infra/entities/shared-link.entity.ts
  server/src/infra/migrations/1709825430031-CascadeSharedLinksDelete.ts
Labels: 🗄️server

#7723 Fix External Libraries Guide
  docs/docs/guides/external-library.md
  docs/docs/guides/img/external-libraries.png
Labels: documentation

#7726 fix(mobile): Fixes large and small image cache
  mobile/lib/shared/cache/custom_image_cache.dart
Labels: 📱mobile

#7715 Localizely: Translations update
  mobile/assets/i18n/ca.json
  mobile/assets/i18n/cs-CZ.json
  mobile/assets/i18n/da-DK.json
  mobile/assets/i18n/de-DE.json
  mobile/assets/i18n/en-US.json
  mobile/assets/i18n/es-ES.json
  mobile/assets/i18n/es-MX.json
  mobile/assets/i18n/es-PE.json
  mobile/assets/i18n/fi-FI.json
  mobile/assets/i18n/fr-FR.json
  mobile/assets/i18n/hi-IN.json
  mobile/assets/i18n/hu-HU.json
  mobile/assets/i18n/it-IT.json
  mobile/assets/i18n/ja-JP.json
  mobile/assets/i18n/ko-KR.json
  mobile/assets/i18n/lv-LV.json
  mobile/assets/i18n/mn.json
  mobile/assets/i18n/nb-NO.json
  mobile/assets/i18n/nl-NL.json
  mobile/assets/i18n/pl-PL.json
  mobile/assets/i18n/pt-PT.json
  mobile/assets/i18n/ru-RU.json
  mobile/assets/i18n/sk-SK.json
  mobile/assets/i18n/sr-Cyrl.json
  mobile/assets/i18n/sr-Latn.json
  mobile/assets/i18n/sv-FI.json
  mobile/assets/i18n/sv-SE.json
  mobile/assets/i18n/th-TH.json
  mobile/assets/i18n/uk-UA.json
  mobile/assets/i18n/vi-VN.json
  mobile/assets/i18n/zh-CN.json
  mobile/assets/i18n/zh-Hans.json
Labels: 📱mobile

#7709 refactor: api validators (boolean and date)
  cli/src/commands/upload.command.ts
  e2e/src/api/specs/person.e2e-spec.ts
  mobile/openapi/doc/PersonApi.md
  mobile/openapi/doc/ScanLibraryDto.md
  mobile/openapi/doc/SharedLinkCreateDto.md
  mobile/openapi/lib/model/scan_library_dto.dart
  mobile/openapi/lib/model/shared_link_create_dto.dart
  mobile/openapi/test/scan_library_dto_test.dart
  mobile/openapi/test/shared_link_create_dto_test.dart
  open-api/immich-openapi-specs.json
  server/src/domain/album/dto/album-update.dto.ts
  server/src/domain/album/dto/album.dto.ts
  server/src/domain/album/dto/get-albums.dto.ts
  server/src/domain/asset/dto/asset-statistics.dto.ts
  server/src/domain/asset/dto/asset.dto.ts
  server/src/domain/asset/dto/map-marker.dto.ts
  server/src/domain/asset/dto/time-bucket.dto.ts
  server/src/domain/audit/audit.dto.ts
  server/src/domain/domain.util.ts
  server/src/domain/job/job.dto.ts
  server/src/domain/library/library.dto.ts
  server/src/domain/person/person.dto.ts
  server/src/domain/search/dto/search.dto.ts
  server/src/domain/shared-link/shared-link.dto.ts
  server/src/domain/smart-info/dto/model-config.dto.ts
  server/src/domain/system-config/dto/system-config-ffmpeg.dto.ts
  server/src/domain/system-config/dto/system-config-library.dto.ts
  server/src/domain/system-config/dto/system-config-logging.dto.ts
  server/src/domain/system-config/dto/system-config-machine-learning.dto.ts
  server/src/domain/system-config/dto/system-config-map.dto.ts
  server/src/domain/system-config/dto/system-config-new-version-check.dto.ts
  server/src/domain/system-config/dto/system-config-oauth.dto.ts
  server/src/domain/system-config/dto/system-config-password-login.dto.ts
  server/src/domain/system-config/dto/system-config-reverse-geocoding.dto.ts
  server/src/domain/system-config/dto/system-config-storage-template.dto.ts
  server/src/domain/system-config/dto/system-config-trash.dto.ts
  server/src/domain/user/dto/create-user.dto.ts
  server/src/domain/user/dto/update-user.dto.ts
  server/src/immich/api-v1/asset/dto/asset-search.dto.ts
  server/src/immich/api-v1/asset/dto/create-asset.dto.ts
  server/src/immich/api-v1/asset/dto/serve-file.dto.ts
Labels: maintenance

#7730 Update DB queries
  docs/docs/guides/database-queries.md
Labels: documentation

#7739 refactor(web): admin and user signup forms
  web/src/lib/components/forms/admin-registration-form.svelte
  web/src/lib/components/forms/create-user-form.svelte
Labels: 🖥️web

#7732 refactor: search e2e
  e2e/src/api/specs/search.e2e-spec.ts
  e2e/src/utils.ts
  server/e2e/api/specs/search.e2e-spec.ts
  server/src/domain/search/dto/search.dto.ts
  server/src/domain/search/search.service.ts
  server/src/immich/controllers/search.controller.ts
  server/test/fixtures/index.ts
  server/test/fixtures/search.stub.ts
Labels: maintenance

#7744 chore: rename "Library" to "External Library" in system settings
  web/src/lib/components/admin-page/settings/machine-learning-settings/machine-learning-settings.svelte
  web/src/routes/admin/system-settings/+page.svelte
Labels: 🖥️web

#7745 fix(web): album state after removing assets
  web/src/lib/components/album-page/album-summary.svelte
  web/src/lib/components/album-page/album-viewer.svelte
  web/src/routes/(user)/albums/[albumId]/+page.svelte
Labels: 🖥️web

#7748 Fix(web): Night mode does not work when performing password reset
  web/src/routes/admin/user-management/+page.svelte
Labels: 🖥️web

#7681 feat(server,web): add force delete to immediately remove user
  e2e/src/responses.ts
  mobile/openapi/.openapi-generator/FILES
  mobile/openapi/README.md
  mobile/openapi/doc/DeleteUserDto.md
  mobile/openapi/doc/PartnerResponseDto.md
  mobile/openapi/doc/UserApi.md
  mobile/openapi/doc/UserResponseDto.md
  mobile/openapi/doc/UserStatus.md
  mobile/openapi/lib/api.dart
  mobile/openapi/lib/api/user_api.dart
  mobile/openapi/lib/api_client.dart
  mobile/openapi/lib/api_helper.dart
  mobile/openapi/lib/model/delete_user_dto.dart
  mobile/openapi/lib/model/partner_response_dto.dart
  mobile/openapi/lib/model/user_response_dto.dart
  mobile/openapi/lib/model/user_status.dart
  mobile/openapi/test/delete_user_dto_test.dart
  mobile/openapi/test/partner_response_dto_test.dart
  mobile/openapi/test/user_api_test.dart
  mobile/openapi/test/user_response_dto_test.dart
  mobile/openapi/test/user_status_test.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/domain/job/job.service.ts
  server/src/domain/repositories/communication.repository.ts
  server/src/domain/repositories/user.repository.ts
  server/src/domain/user/dto/delete-user.dto.ts
  server/src/domain/user/dto/index.ts
  server/src/domain/user/response-dto/user-response.dto.ts
  server/src/domain/user/user.service.spec.ts
  server/src/domain/user/user.service.ts
  server/src/immich/controllers/user.controller.ts
  server/src/infra/entities/user.entity.ts
  server/src/infra/migrations/1709870213078-AddUserStatus.ts
  server/src/infra/repositories/user.repository.ts
  server/src/infra/sql/album.repository.sql
  server/src/infra/sql/api.key.repository.sql
  server/src/infra/sql/library.repository.sql
  server/src/infra/sql/shared.link.repository.sql
  server/src/infra/sql/user.repository.sql
  server/src/infra/sql/user.token.repository.sql
  server/test/repositories/user.repository.mock.ts
  web/src/lib/components/admin-page/delete-confirm-dialoge.svelte
  web/src/lib/components/admin-page/restore-dialoge.svelte
  web/src/lib/stores/websocket.ts
  web/src/routes/admin/user-management/+page.svelte
  web/src/test-data/factories/user-factory.ts
Labels: 🖥️web

#7752 fix(server): getAllAssets doesn't return all assets
  server/src/domain/repositories/asset.repository.ts
  server/src/immich/api-v1/asset/asset-repository.ts
  server/src/immich/api-v1/asset/asset.service.spec.ts
  server/src/immich/api-v1/asset/asset.service.ts
  server/src/infra/repositories/asset.repository.ts
  server/src/infra/sql/asset.repository.sql
  server/test/repositories/asset.repository.mock.ts
Labels: 🗄️server

#7757 perf: precompress and cache assets
  server/package-lock.json
  server/package.json
  server/src/immich/main.ts
  web/svelte.config.js
Labels: 🗄️server

#7655 feat(server): hardware HDR tonemapping for RKMPP
  docker/hwaccel.transcoding.yml
  docs/docs/features/hardware-transcoding.md
  server/src/domain/media/media.service.spec.ts
  server/src/domain/media/media.service.ts
  server/src/domain/media/media.util.ts
Labels: 🗄️server, feel-free-to-merge-👍

#7710 fix: update e2e
  e2e/package-lock.json
  e2e/package.json
  misc/release/pump-version.sh
Labels: maintenance

#7769 refactor: asset e2e
  .github/workflows/test.yml
  Makefile
  e2e/src/api/specs/asset.e2e-spec.ts
  e2e/src/api/specs/search.e2e-spec.ts
  e2e/src/fixtures.ts
  e2e/src/utils.ts
  server/e2e/api/jest-e2e.json
  server/e2e/api/setup.ts
  server/e2e/api/specs/asset.e2e-spec.ts
  server/e2e/api/utils.ts
  server/e2e/client/asset-api.ts
  server/e2e/client/auth-api.ts
  server/e2e/client/index.ts
  server/e2e/client/library-api.ts
  server/e2e/client/shared-link-api.ts
  server/e2e/client/trash-api.ts
  server/e2e/client/user-api.ts
  server/package.json
Labels: maintenance

#7794 chore(server): openapi
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
Labels: 🗄️server

#7797 chore(server): remove unused storage repository variable from microservices app service
  server/src/microservices/app.service.ts
Labels: maintenance

#7799 chore(server): user e2e: wait for user delete event
  e2e/src/api/specs/asset.e2e-spec.ts
  e2e/src/api/specs/search.e2e-spec.ts
  e2e/src/api/specs/trash.e2e-spec.ts
  e2e/src/api/specs/user.e2e-spec.ts
  e2e/src/fixtures.ts
  e2e/src/utils.ts
Labels: maintenance

#7800 chore(server): type checks for e2e
  .github/workflows/test.yml
  e2e/package.json
  e2e/src/api/specs/album.e2e-spec.ts
  e2e/src/api/specs/shared-link.e2e-spec.ts
Labels: maintenance

#7824 feat(web): add sticky date headers for asset-date-group
  web/src/lib/components/photos-page/asset-date-group.svelte
Labels: 🖥️web

#7822 fix(mobile): archive desc sorting
  mobile/lib/modules/archive/providers/archive_asset_provider.dart
Labels: 📱mobile

#7759 fix(server): external library sync not working for large libraries
  server/package-lock.json
  server/package.json
  server/src/domain/library/library.service.spec.ts
  server/src/domain/library/library.service.ts
  server/src/domain/repositories/asset.repository.ts
  server/src/infra/repositories/asset.repository.ts
  server/src/infra/repositories/filesystem.provider.ts
  server/src/infra/sql/asset.repository.sql
  server/test/repositories/asset.repository.mock.ts
Labels: 🗄️server, external-library

#7839 fix(server): face search results not always sorted
  server/src/infra/repositories/search.repository.ts
  server/src/infra/sql/search.repository.sql
Labels: 🗄️server

#7848 feat(web): empty external library placeholder
  web/src/routes/admin/library-management/+page.svelte
Labels: 🖥️web

#7852 chore: update readme with new logo and add design materials
  README.md
  README_ca_ES.md
  README_de_DE.md
  README_es_ES.md
  README_fr_FR.md
  README_it_IT.md
  README_ja_JP.md
  README_ko_KR.md
  README_nl_NL.md
  README_ru_RU.md
  README_tr_TR.md
  README_zh_CN.md
  design/Immich-logo-inline-dark.png
  design/Immich-logo-inline-dark.svg
  design/Immich-logo-inline-light.png
  design/Immich-logo-inline-light.svg
  design/Immich-logo-stacked-dark.png
  design/Immich-logo-stacked-dark.svg
  design/Immich-logo-stacked-light.png
  design/Immich-logo-stacked-light.svg
  design/admin-interface.png
  design/admin-registration-form.png
  design/appicon.png
  design/backup-screen.png
  design/bitcoin.png
  design/cardano.png
  design/feature-panel.png
  design/google-play-qr-code.png
  design/home-screen.jpeg
  design/immich-logo-no-outline.png
  design/immich-logo.png
  design/immich-logo.svg
  design/immich-text-dark.png
  design/immich-text-right.png
  design/ios-qr-code.png
  design/login-screen.jpeg
  design/login-screen.png
  design/nsc3.png
  design/nsc4.jpeg
  design/nsc6.png
  design/search-screen.jpeg
  design/selective-backup-screen.png
  design/shared-albums.png
  design/web-admin.jpeg
  design/web-detail.jpeg
  design/web-home.jpeg
Labels: documentation

#7831 feat(web): add preference for thumbnail playback on hover
  web/src/lib/components/assets/thumbnail/thumbnail.svelte
  web/src/lib/components/user-settings-page/app-settings.svelte
  web/src/lib/components/user-settings-page/trash-settings.svelte
  web/src/lib/components/user-settings-page/user-settings-list.svelte
  web/src/lib/stores/preferences.store.ts
Labels: 🖥️web

#7736 docs: Add guide for album sync python script
  docs/docs/guides/api-album-sync.md
Labels: documentation

#7850 Update external-library.md
  docs/docs/guides/external-library.md
Labels: documentation

#7857 fix(server): serve static directory only if it exists
  server/src/domain/domain.constant.ts
  server/src/immich/app.service.ts
  server/src/immich/main.ts
Labels: 🗄️server

#7859 fix(web): small fixes for empty placeholder
  web/src/lib/components/shared-components/empty-placeholder.svelte
  web/src/routes/(user)/albums/+page.svelte
  web/src/routes/(user)/archive/+page.svelte
  web/src/routes/(user)/favorites/+page.svelte
  web/src/routes/(user)/photos/+page.svelte
  web/src/routes/(user)/sharing/+page.svelte
  web/src/routes/(user)/trash/+page.svelte
  web/src/routes/admin/library-management/+page.svelte
  web/src/routes/admin/repair/+page.svelte
Labels: 🖥️web

#7767 fix(mobile): Fixes immersive mode not ending for memory lane
  mobile/lib/modules/memories/views/memory_page.dart
Labels: 📱mobile

#7766 fix(mobile): Fixes local thumbnail image provider key
  mobile/lib/modules/asset_viewer/image_providers/immich_local_thumbnail_provider.dart
Labels: 📱mobile

#7771 refactor(mobile): backup settings ui
  mobile/lib/modules/backup/providers/backup_verification.provider.dart
  mobile/lib/modules/backup/providers/backup_verification.provider.g.dart
  mobile/lib/modules/backup/views/backup_options_page.dart
  mobile/lib/modules/settings/ui/backup_settings/background_settings.dart
  mobile/lib/modules/settings/ui/backup_settings/backup_settings.dart
  mobile/lib/modules/settings/ui/backup_settings/foreground_settings.dart
  mobile/lib/modules/settings/ui/notification_setting.dart
  mobile/lib/modules/settings/ui/settings_button_list_tile.dart
  mobile/lib/modules/settings/ui/settings_switch_list_tile.dart
  mobile/lib/modules/settings/views/settings_page.dart
  mobile/lib/shared/ui/immich_toast.dart
Labels: 📱mobile

#7805 Fix trash permanent delete dialog
  mobile/assets/i18n/en-US.json
  mobile/assets/i18n/ru-RU.json
  mobile/lib/modules/trash/views/trash_page.dart
Labels: 📱mobile

#7806 docs: backup-and-restore.md: fix broken link
  docs/docs/administration/backup-and-restore.md
Labels: documentation

#7840 chore(cli): clarify use of concurrency option
  cli/src/index.ts
  e2e/src/cli/specs/upload.e2e-spec.ts
Labels: cli

#7841 feat(server): Add OAuth auto-redirect enable/disable CLI commands
  docs/docs/administration/server-commands.md
  server/src/immich-admin/app.module.ts
  server/src/immich-admin/commands/oauth-login.ts
Labels: 🗄️server

#7764 fix: Hide play bar when there's only one image in memory
  web/src/lib/components/memory-page/memory-viewer.svelte
Labels: 🖥️web

#7808 docs: config-file.md update config to current (v1.98) state
  docs/docs/install/config-file.md
Labels: documentation

#7356 feat(server): OpenTelemetry integration
  docker/docker-compose.dev.yml
  docker/docker-compose.prod.yml
  docker/prometheus.yml
  e2e/docker-compose.yml
  server/e2e/docker-compose.server-e2e.yml
  server/package-lock.json
  server/package.json
  server/src/domain/domain.config.ts
  server/src/immich/main.ts
  server/src/infra/infra.config.ts
  server/src/infra/infra.module.ts
  server/src/infra/infra.utils.ts
  server/src/infra/instrumentation.ts
  server/src/infra/repositories/access.repository.ts
  server/src/infra/repositories/activity.repository.ts
  server/src/infra/repositories/album.repository.ts
  server/src/infra/repositories/api-key.repository.ts
  server/src/infra/repositories/asset-stack.repository.ts
  server/src/infra/repositories/asset.repository.ts
  server/src/infra/repositories/audit.repository.ts
  server/src/infra/repositories/communication.repository.ts
  server/src/infra/repositories/crypto.repository.ts
  server/src/infra/repositories/database.repository.ts
  server/src/infra/repositories/filesystem.provider.ts
  server/src/infra/repositories/job.repository.ts
  server/src/infra/repositories/library.repository.ts
  server/src/infra/repositories/machine-learning.repository.ts
  server/src/infra/repositories/media.repository.ts
  server/src/infra/repositories/metadata.repository.ts
  server/src/infra/repositories/move.repository.ts
  server/src/infra/repositories/partner.repository.ts
  server/src/infra/repositories/person.repository.ts
  server/src/infra/repositories/search.repository.ts
  server/src/infra/repositories/server-info.repository.ts
  server/src/infra/repositories/shared-link.repository.ts
  server/src/infra/repositories/system-config.repository.ts
  server/src/infra/repositories/system-metadata.repository.ts
  server/src/infra/repositories/tag.repository.ts
  server/src/infra/repositories/user-token.repository.ts
  server/src/infra/repositories/user.repository.ts
  server/src/microservices/app.service.ts
  server/src/microservices/main.ts
Labels: 🗄️server

#7882 fix(web): asset upload progress
  web/src/lib/utils.ts
Labels: 🖥️web

#7888 fix(web): asset viewer navigation buttons
  web/src/lib/components/asset-viewer/asset-viewer.svelte
  web/src/lib/components/asset-viewer/navigation-area.svelte
Labels: 🖥️web, accessibility

#7891 refactor(web): sidebar menu links
  web/src/lib/components/shared-components/side-bar/admin-side-bar.svelte
  web/src/lib/components/shared-components/side-bar/side-bar-link.svelte
  web/src/lib/components/shared-components/side-bar/side-bar.svelte
Labels: 🖥️web

#7749 refactor(mobile): app settings
  mobile/assets/i18n/en-US.json
  mobile/lib/modules/asset_viewer/providers/asset_people.provider.g.dart
  mobile/lib/modules/asset_viewer/providers/video_player_controller_provider.g.dart
  mobile/lib/modules/backup/providers/backup_verification.provider.dart
  mobile/lib/modules/backup/providers/backup_verification.provider.g.dart
  mobile/lib/modules/backup/views/backup_options_page.dart
  mobile/lib/modules/settings/models/store_model_here.txt
  mobile/lib/modules/settings/ui/advanced_settings.dart
  mobile/lib/modules/settings/ui/advanced_settings/advanced_settings.dart
  mobile/lib/modules/settings/ui/asset_list_settings/asset_list_group_settings.dart
  mobile/lib/modules/settings/ui/asset_list_settings/asset_list_layout_settings.dart
  mobile/lib/modules/settings/ui/asset_list_settings/asset_list_settings.dart
  mobile/lib/modules/settings/ui/asset_list_settings/asset_list_storage_indicator.dart
  mobile/lib/modules/settings/ui/asset_list_settings/asset_list_tiles_per_row.dart
  mobile/lib/modules/settings/ui/backup_settings/background_settings.dart
  mobile/lib/modules/settings/ui/backup_settings/backup_settings.dart
  mobile/lib/modules/settings/ui/backup_settings/foreground_settings.dart
  mobile/lib/modules/settings/ui/image_viewer_quality_setting.dart
  mobile/lib/modules/settings/ui/image_viewer_quality_setting/image_viewer_quality_setting.dart
  mobile/lib/modules/settings/ui/local_storage_settings.dart
  mobile/lib/modules/settings/ui/local_storage_settings/local_storage_settings.dart
  mobile/lib/modules/settings/ui/notification_setting.dart
  mobile/lib/modules/settings/ui/notification_setting/notification_setting.dart
  mobile/lib/modules/settings/ui/preference_settings/preference_setting.dart
  mobile/lib/modules/settings/ui/preference_settings/theme_setting.dart
  mobile/lib/modules/settings/ui/settings_button_list_tile.dart
  mobile/lib/modules/settings/ui/settings_radio_list_tile.dart
  mobile/lib/modules/settings/ui/settings_slider_list_tile.dart
  mobile/lib/modules/settings/ui/settings_sub_page_scaffold.dart
  mobile/lib/modules/settings/ui/settings_sub_title.dart
  mobile/lib/modules/settings/ui/settings_switch_list_tile.dart
  mobile/lib/modules/settings/ui/theme_setting/theme_setting.dart
  mobile/lib/modules/settings/utils/app_settings_update_hook.dart
  mobile/lib/modules/settings/views/settings_page.dart
  mobile/lib/modules/settings/views/settings_sub_page.dart
  mobile/lib/routing/router.dart
  mobile/lib/routing/router.gr.dart
  mobile/lib/shared/ui/immich_toast.dart
Labels: 📱mobile

#7865 feat(mobile): add labels to app bar buttons
  mobile/lib/modules/album/views/library_page.dart
  mobile/lib/modules/album/views/sharing_page.dart
  mobile/lib/shared/ui/immich_app_bar.dart
Labels: 📱mobile, accessibility

#7894 feat(server): YAML config file support
  docs/docs/install/config-file.md
  server/package-lock.json
  server/package.json
  server/src/domain/system-config/system-config.core.ts
  server/src/domain/system-config/system-config.service.spec.ts
Labels: 🗄️server, feel-free-to-merge-👍

#7863 feat(web): Implemented device last seen date and time with user locale support
  web/src/lib/components/user-settings-page/device-card.svelte
Labels: 🖥️web

#7812 feat(web): dark color-scheme css for dark mode
  web/src/app.css
Labels: 🖥️web

#7895 chore: publish sdk on release
  .github/workflows/dispatch_sdk_update.yml
  .github/workflows/sdk.yml
  cli/package-lock.json
  e2e/package-lock.json
  open-api/typescript-sdk/.npmignore
  open-api/typescript-sdk/README.md
  open-api/typescript-sdk/package-lock.json
  open-api/typescript-sdk/package.json
  open-api/typescript-sdk/src/index.ts
  open-api/typescript-sdk/tsconfig.json
  web/package-lock.json
Labels: deployment

#7733 fix(web): prevent combobox options from disappearing
  web/src/lib/components/shared-components/combobox.svelte
Labels: 🖥️web

#7907 fix(web): correctly use button and link elements
  web/src/lib/components/asset-viewer/detail-panel.svelte
  web/src/lib/components/sharedlinks-page/shared-link-card.svelte
Labels: 🖥️web

#7910 fix(web): Remove excess spacing on #asset-grid and search bar
  web/src/lib/components/photos-page/asset-grid.svelte
  web/src/lib/components/shared-components/navigation-bar/navigation-bar.svelte
Labels: 🖥️web

#7858 fix(web): Enhance Notification Handling for Duplicate Assets
  web/src/lib/components/shared-components/upload-panel.svelte
  web/src/lib/utils/file-uploader.ts
Labels: 🖥️web

#7309 chore(mobile): Removes analysis options for openapi directory
  mobile/analysis_options.yaml
  mobile/openapi/analysis_options.yaml
  open-api/bin/generate-open-api.sh
Labels: 📱mobile

#7926 fix(blog/docs): Fix Milestone linking for "multi select" and "View Exif" fix(docs): Update "zoodyy" to "yfrey"
  docs/docs/features/automatic-backup.md
  docs/src/pages/milestones.tsx
Labels: documentation

#7928 fix(web): url state of nested accordions
  web/src/lib/components/shared-components/settings/setting-accordion.svelte
Labels: 🖥️web

#7930 fix(server): ml gunicorn listen on ipv4 and ipv6 by default
  machine-learning/start.sh
Labels: 🧠machine-learning

#7813 feat(server): Update XMP sidecar search to look for both photo.ext.xmp and photo.xmp
  server/src/domain/metadata/metadata.service.spec.ts
  server/src/domain/metadata/metadata.service.ts
  server/test/fixtures/asset.stub.ts
Labels: 🗄️server, feel-free-to-merge-👍

#7798 feat(web): update logo
  web/src/lib/assets/immich-logo-inline-dark.svg
  web/src/lib/assets/immich-logo-inline-light.svg
  web/src/lib/assets/immich-logo-no-outline.png
  web/src/lib/assets/immich-logo-stacked-dark.svg
  web/src/lib/assets/immich-logo-stacked-light.svg
  web/src/lib/assets/immich-logo.svg
  web/src/lib/components/album-page/album-viewer.svelte
  web/src/lib/components/album-page/user-selection-modal.svelte
  web/src/lib/components/forms/create-user-form.svelte
  web/src/lib/components/onboarding-page/onboarding-hello.svelte
  web/src/lib/components/share-page/individual-shared-viewer.svelte
  web/src/lib/components/shared-components/drag-and-drop-upload-overlay.svelte
  web/src/lib/components/shared-components/immich-logo.svelte
  web/src/lib/components/shared-components/navigation-bar/navigation-bar.svelte
  web/src/lib/components/shared-components/upload-asset-preview.svelte
  web/src/lib/components/shared-components/version-announcement-box.svelte
  web/src/lib/components/user-settings-page/partner-selection-modal.svelte
  web/src/routes/(user)/share/[key]/+page.svelte
  web/src/routes/+error.svelte
  web/src/routes/+page.svelte
  web/static/apple-icon-180.png
  web/static/favicon-144.png
  web/static/favicon-16.png
  web/static/favicon-32.png
  web/static/favicon-48.png
  web/static/favicon-96.png
  web/static/favicon.ico
  web/static/favicon.png
  web/static/immich-logo.svg
  web/static/manifest-icon-192.maskable.png
  web/static/manifest-icon-512.maskable.png
Labels: 🖥️web

#7938 fix(web): FullScreenContainer logo
  web/src/lib/components/shared-components/fullscreen-container.svelte
Labels: 🖥️web

#7939 feat(server): lower library scan memory usage
  server/package-lock.json
  server/package.json
  server/src/domain/library/library.service.spec.ts
  server/src/domain/library/library.service.ts
  server/src/domain/repositories/storage.repository.ts
  server/src/infra/repositories/filesystem.provider.ts
  server/test/repositories/storage.repository.mock.ts
Labels: 🗄️server

#7914 fix(server): queue library asset refresh in batches
  server/src/domain/library/library.service.ts
Labels: 🗄️server

#7952 chore(web): Sharing -> Partner Sharing
  web/src/lib/components/user-settings-page/user-settings-list.svelte
Labels: 🖥️web

#7819 feat(server, web): album orders
  e2e/src/api/specs/album.e2e-spec.ts
  mobile/openapi/doc/AlbumResponseDto.md
  mobile/openapi/doc/AssetApi.md
  mobile/openapi/doc/UpdateAlbumDto.md
  mobile/openapi/lib/api/asset_api.dart
  mobile/openapi/lib/model/album_response_dto.dart
  mobile/openapi/lib/model/update_album_dto.dart
  mobile/openapi/test/album_response_dto_test.dart
  mobile/openapi/test/asset_api_test.dart
  mobile/openapi/test/update_album_dto_test.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/domain/album/album-response.dto.ts
  server/src/domain/album/album.service.ts
  server/src/domain/album/dto/album-update.dto.ts
  server/src/domain/asset/dto/asset.dto.ts
  server/src/domain/asset/dto/time-bucket.dto.ts
  server/src/domain/repositories/asset.repository.ts
  server/src/domain/search/dto/search.dto.ts
  server/src/domain/search/search.service.ts
  server/src/infra/entities/album.entity.ts
  server/src/infra/migrations/1710182081326-AscendingOrderAlbum.ts
  server/src/infra/repositories/asset.repository.ts
  server/src/infra/sql/album.repository.sql
  server/src/infra/sql/shared.link.repository.sql
  server/test/fixtures/album.stub.ts
  server/test/fixtures/shared-link.stub.ts
  web/src/lib/components/album-page/album-options.svelte
  web/src/lib/components/slideshow-settings.svelte
  web/src/lib/stores/assets.store.ts
  web/src/routes/(user)/albums/[albumId]/+page.svelte
  web/src/test-data/factories/album-factory.ts
Labels: 🖥️web, 🗄️server

#7955 chore(cli): clean up files
  .github/workflows/test.yml
  cli/.npmignore
  cli/tsconfig.json
Labels: maintenance

#7660 refactor(web): albums list (1)
  web/src/lib/components/album-page/albums-controls.svelte
  web/src/lib/components/album-page/albums-list.svelte
  web/src/lib/components/album-page/albums-table-header.svelte
  web/src/lib/components/album-page/albums-table.svelte
  web/src/routes/(user)/albums/+page.svelte
  web/src/routes/(user)/albums/albums.bloc.ts
Labels: 🖥️web

#7957 chore: remove unused dep
  server/package-lock.json
  server/package.json
Labels: maintenance

#7958 chore(cli): use lockfile v3
  cli/package-lock.json
Labels: maintenance

#7929 feat(mobile): Remote thumbnails and images use an on-disk image cache
  mobile/lib/modules/activities/widgets/activity_tile.dart
  mobile/lib/modules/asset_viewer/image_providers/cache/image_loader.dart
  mobile/lib/modules/asset_viewer/image_providers/cache/remote_image_cache_manager.dart
  mobile/lib/modules/asset_viewer/image_providers/cache/thumbnail_image_cache_manager.dart
  mobile/lib/modules/asset_viewer/image_providers/exceptions/image_loading_exception.dart
  mobile/lib/modules/asset_viewer/image_providers/immich_remote_image_provider.dart
  mobile/lib/modules/asset_viewer/image_providers/immich_remote_thumbnail_provider.dart
  mobile/lib/shared/ui/immich_image.dart
  mobile/lib/shared/ui/immich_thumbnail.dart
Labels: 📱mobile

#7920 feat(web): preload assets in photo-viewer
  web/src/lib/components/asset-viewer/asset-viewer.svelte
  web/src/lib/components/asset-viewer/photo-viewer.svelte
  web/src/lib/components/photos-page/asset-grid.svelte
  web/src/lib/stores/asset-viewing.store.ts
Labels: 🖥️web

#7943 feat(web): randomize password on reest
  web/src/lib/components/elements/buttons/link-button.svelte
  web/src/lib/components/forms/edit-user-form.svelte
  web/src/routes/admin/user-management/+page.svelte
Labels: 🖥️web

#7962 refactor(cli): simplify
  cli/.eslintrc.cjs
  cli/package-lock.json
  cli/package.json
  cli/src/commands/asset.ts
  cli/src/commands/auth.ts
  cli/src/commands/base-command.ts
  cli/src/commands/login.command.ts
  cli/src/commands/logout.command.ts
  cli/src/commands/server-info.command.ts
  cli/src/commands/server-info.ts
  cli/src/index.ts
  cli/src/services/api.service.ts
  cli/src/services/session.service.spec.ts
  cli/src/services/session.service.ts
  cli/src/utils.ts
  cli/vite.config.ts
  e2e/src/cli/specs/login.e2e-spec.ts
Labels: cli

#7946 fix(web): keyboard shortcut handling
  web/src/lib/components/album-page/album-description.svelte
  web/src/lib/components/album-page/album-title.svelte
  web/src/lib/components/album-page/album-viewer.svelte
  web/src/lib/components/asset-viewer/activity-viewer.svelte
  web/src/lib/components/asset-viewer/asset-viewer.svelte
  web/src/lib/components/asset-viewer/detail-panel.svelte
  web/src/lib/components/asset-viewer/photo-viewer.svelte
  web/src/lib/components/memory-page/memory-viewer.svelte
  web/src/lib/components/photos-page/asset-grid.svelte
  web/src/lib/utils/click-outside.ts
  web/src/lib/utils/shortcut.ts
  web/src/routes/(user)/albums/[albumId]/+page.svelte
  web/src/routes/(user)/people/+page.svelte
  web/src/routes/(user)/search/+page.svelte
Labels: 🖥️web

#7961 feat(doc): new logo and screenshots
  docs/docs/overview/img/feature-panel.png
  docs/docs/overview/logo.md
  docs/docusaurus.config.js
  docs/src/pages/index.tsx
  docs/static/img/favicon.ico
  docs/static/img/favicon.png
  docs/static/img/immich-logo-inline-dark.png
  docs/static/img/immich-logo-inline-light.png
  docs/static/img/immich-logo-stacked-dark.svg
  docs/static/img/immich-logo-stacked-light.svg
  docs/static/img/immich-logo.svg
  docs/static/img/immich-screenshots.png
  docs/static/img/logo.png
Labels: documentation

#7969 refactor: library e2e
  e2e/src/api/specs/library.e2e-spec.ts
  e2e/src/utils.ts
  server/e2e/jobs/specs/library.e2e-spec.ts
Labels: maintenance

#7932 chore(server): introduce proper job status
  server/src/domain/asset/asset.service.ts
  server/src/domain/audit/audit.service.spec.ts
  server/src/domain/audit/audit.service.ts
  server/src/domain/job/job.service.spec.ts
  server/src/domain/job/job.service.ts
  server/src/domain/library/library.service.spec.ts
  server/src/domain/library/library.service.ts
  server/src/domain/media/media.service.spec.ts
  server/src/domain/media/media.service.ts
  server/src/domain/metadata/metadata.service.spec.ts
  server/src/domain/metadata/metadata.service.ts
  server/src/domain/person/person.service.spec.ts
  server/src/domain/person/person.service.ts
  server/src/domain/repositories/job.repository.ts
  server/src/domain/smart-info/smart-info.service.ts
  server/src/domain/storage-template/storage-template.service.spec.ts
  server/src/domain/storage-template/storage-template.service.ts
  server/src/domain/storage/storage.service.ts
  server/src/domain/user/user.service.ts
Labels: maintenance

#7983 fix(web): improve focus and shortcuts
  web/src/lib/components/album-page/albums-table.svelte
  web/src/lib/components/album-page/thumbnail-selection.svelte
  web/src/lib/components/asset-viewer/asset-viewer.svelte
  web/src/lib/components/assets/thumbnail/thumbnail.svelte
  web/src/lib/components/photos-page/asset-date-group.svelte
  web/src/lib/components/photos-page/asset-grid.svelte
  web/src/lib/components/shared-components/gallery-viewer/gallery-viewer.svelte
Labels: 🖥️web

#7960 feat(server): added support for SVG files
  server/src/domain/asset/asset.service.spec.ts
  server/src/domain/domain.constant.spec.ts
  server/src/domain/domain.constant.ts
Labels: 🗄️server

#7975 fix(web): minor album card issues
  web/src/lib/components/album-page/__tests__/album-card.spec.ts
  web/src/lib/components/album-page/album-card.svelte
  web/src/lib/components/album-page/album-card.ts
  web/src/lib/components/album-page/albums-list.svelte
  web/src/lib/utils/context-menu.ts
  web/src/routes/(user)/search/+page.svelte
  web/src/routes/(user)/sharing/+page.svelte
Labels: 🖥️web

#7981 chore(web): remove unused AssetSelectionViewer
  web/src/lib/components/shared-components/gallery-viewer/asset-selection-viewer.svelte
Labels: 🖥️web, maintenance

#7974 perf(web): batch asset store changes
  web/src/lib/components/photos-page/asset-grid.svelte
  web/src/lib/stores/assets.store.ts
Labels: performance, 🖥️web

#7985 refactor: global validation pipe
  server/src/immich/api-v1/asset/asset.controller.ts
  server/src/immich/app.module.ts
  server/src/immich/app.utils.ts
  server/src/immich/controllers/activity.controller.ts
  server/src/immich/controllers/album.controller.ts
  server/src/immich/controllers/api-key.controller.ts
  server/src/immich/controllers/asset.controller.ts
  server/src/immich/controllers/audit.controller.ts
  server/src/immich/controllers/auth.controller.ts
  server/src/immich/controllers/download.controller.ts
  server/src/immich/controllers/face.controller.ts
  server/src/immich/controllers/job.controller.ts
  server/src/immich/controllers/library.controller.ts
  server/src/immich/controllers/oauth.controller.ts
  server/src/immich/controllers/partner.controller.ts
  server/src/immich/controllers/person.controller.ts
  server/src/immich/controllers/search.controller.ts
  server/src/immich/controllers/server-info.controller.ts
  server/src/immich/controllers/shared-link.controller.ts
  server/src/immich/controllers/system-config.controller.ts
  server/src/immich/controllers/tag.controller.ts
  server/src/immich/controllers/trash.controller.ts
  server/src/immich/controllers/user.controller.ts
Labels: 🗄️server

#7990 fix(web): logo invisible on share page
  web/src/lib/components/album-page/album-viewer.svelte
  web/src/lib/components/share-page/individual-shared-viewer.svelte
  web/src/lib/components/shared-components/immich-logo.svelte
  web/src/routes/(user)/share/[key]/+page.svelte
Labels: 🖥️web

#7987 refactor(web): list navigation with keyboard
  web/src/lib/components/shared-components/change-location.svelte
  web/src/lib/utils/list-navigation.ts
  web/src/lib/utils/shortcut.ts
  web/src/routes/(user)/people/[personId]/+page.svelte
Labels: 🖥️web

#7851 Make mobile app a "media management app" to get rid of android prompt
  mobile/android/app/src/main/AndroidManifest.xml
Labels: 📱mobile

#7942 feat(web): add millisecond options to storage template settings
  server/src/domain/system-config/system-config.constants.ts
  server/src/domain/system-config/system-config.service.spec.ts
Labels: 🗄️server

#7992 fix(doc): logo size on small screen
  docs/src/pages/index.tsx
Labels: documentation

#7944 fix(server): prevent feedback loop during library scan
  server/src/domain/library/library.dto.ts
  server/src/domain/library/library.service.spec.ts
  server/src/domain/library/library.service.ts
  server/src/domain/storage/storage.core.ts
  server/test/fixtures/library.stub.ts
Labels: 🗄️server

#7854 chore(deps): update onnxruntime-openvino
  machine-learning/Dockerfile
  machine-learning/app/models/base.py
  machine-learning/app/test_main.py
  machine-learning/poetry.lock
  machine-learning/pyproject.toml
  machine-learning/start.sh
Labels: 🧠machine-learning

#7995 feat(doc) Updated feature-panel.png with the new logo
  web/static/feature-panel.png
Labels: documentation

#7999 fix(web): updating asset store after remove
  web/src/lib/stores/assets.store.ts
Labels: 🖥️web

#8021 chore(docs): update readme
  README.md
Labels: documentation

#8018 feat(ml): add cache_dir option to OpenVINO EP
  machine-learning/app/models/base.py
  machine-learning/app/test_main.py
Labels: 🧠machine-learning

#8017 fix(docs): add microservices to IMMICH_CONFIG_FILE env var documentation
  docs/docs/install/environment-variables.md
Labels: documentation

#7986 feat(server): use nestjs events to validate config
  server/package-lock.json
  server/package.json
  server/src/domain/domain.module.ts
  server/src/domain/library/library.service.spec.ts
  server/src/domain/library/library.service.ts
  server/src/domain/repositories/communication.repository.ts
  server/src/domain/storage-template/storage-template.service.spec.ts
  server/src/domain/storage-template/storage-template.service.ts
  server/src/domain/system-config/system-config.core.ts
  server/src/domain/system-config/system-config.service.spec.ts
  server/src/domain/system-config/system-config.service.ts
  server/src/infra/infra.module.ts
  server/src/infra/repositories/communication.repository.ts
  server/test/repositories/communication.repository.mock.ts
Labels: 🗄️server, feel-free-to-merge-👍

#8029 feat(docs): User management new options
  docs/docs/administration/img/customize-delete-user.png
  docs/docs/administration/img/delete-user.webp
  docs/docs/administration/img/immediately-remove-user.png
  docs/docs/administration/img/user-management-update.png
  docs/docs/administration/img/user-quota-size.png
  docs/docs/administration/img/user-storage-label.png
  docs/docs/administration/user-management.mdx
Labels: documentation

#7993 feat(server): memory includes partners assets on timeline
  server/src/domain/asset/asset.service.spec.ts
  server/src/domain/asset/asset.service.ts
  server/src/domain/repositories/asset.repository.ts
  server/src/infra/repositories/asset.repository.ts
  server/src/infra/sql/asset.repository.sql
Labels: 🗄️server
