Repository immich-app/immich, pull requests merged in 2024-10, with the labels that each got.

#13050 chore(mobile): update photo_manager 3.5.0
  mobile/ios/build/XCBuildData/a34f3d77f077776687d3b444cba8f1c4.xcbuilddata/manifest.json
  mobile/lib/repositories/file_media.repository.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: 📱mobile, changelog:skip

#13068 feat: preload fonts
  server/src/constants.ts
  web/src/app.html
  web/src/hooks.server.ts
Labels: 🖥️web, 🗄️server, changelog:skip

#13056 feat: support and feedback modal with third party support
  docker/docker-compose.dev.yml
  mobile/openapi/lib/model/server_about_response_dto.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/config.ts
  server/src/dtos/server.dto.ts
  web/src/lib/assets/svg-paths.ts
  web/src/lib/components/shared-components/help-and-feedback-modal.svelte
  web/src/lib/components/shared-components/navigation-bar/navigation-bar.svelte
  web/src/lib/i18n/en.json
Labels: 🖥️web, 🗄️server, changelog:feature

#13080 feat(server): parse offset from "Image_UTC_Data" (Samsung)
  e2e/package-lock.json
  server/package-lock.json
  server/src/repositories/metadata.repository.ts
Labels: 🗄️server, changelog:enhancement

#13086 fix: deletedAt not set for offline assets during 1.116.0 migration
  server/src/migrations/1727781844613-IsOfflineSetDeletedAt.ts
Labels: 🗄️server, changelog:bugfix

#13092 feat(server): better mount checks
  docs/docs/administration/system-integrity.md
  docs/docs/install/environment-variables.md
  server/src/interfaces/config.interface.ts
  server/src/repositories/config.repository.ts
  server/src/services/database.service.spec.ts
  server/src/services/storage.service.spec.ts
  server/src/services/storage.service.ts
  server/test/repositories/config.repository.mock.ts
Labels: documentation, 🗄️server, changelog:enhancement

#13100 refactor(server): config file env
  server/src/cores/storage.core.ts
  server/src/interfaces/config.interface.ts
  server/src/repositories/config.repository.ts
  server/src/services/asset.service.spec.ts
  server/src/services/asset.service.ts
  server/src/services/auth.service.spec.ts
  server/src/services/auth.service.ts
  server/src/services/base.service.ts
  server/src/services/cli.service.spec.ts
  server/src/services/cli.service.ts
  server/src/services/duplicate.service.spec.ts
  server/src/services/duplicate.service.ts
  server/src/services/job.service.spec.ts
  server/src/services/job.service.ts
  server/src/services/library.service.spec.ts
  server/src/services/library.service.ts
  server/src/services/media.service.spec.ts
  server/src/services/media.service.ts
  server/src/services/metadata.service.spec.ts
  server/src/services/metadata.service.ts
  server/src/services/notification.service.spec.ts
  server/src/services/notification.service.ts
  server/src/services/person.service.spec.ts
  server/src/services/person.service.ts
  server/src/services/search.service.spec.ts
  server/src/services/search.service.ts
  server/src/services/server.service.spec.ts
  server/src/services/server.service.ts
  server/src/services/shared-link.service.spec.ts
  server/src/services/shared-link.service.ts
  server/src/services/smart-info.service.spec.ts
  server/src/services/smart-info.service.ts
  server/src/services/storage-template.service.spec.ts
  server/src/services/storage-template.service.ts
  server/src/services/system-config.service.spec.ts
  server/src/services/system-config.service.ts
  server/src/services/user.service.spec.ts
  server/src/services/user.service.ts
  server/src/services/version.service.spec.ts
  server/src/services/version.service.ts
  server/src/utils/config.ts
Labels: 🗄️server, changelog:skip

#13106 refactor: more process.env references
  server/src/bin/sync-open-api.ts
  server/src/config.ts
  server/src/constants.ts
  server/src/enum.ts
  server/src/interfaces/config.interface.ts
  server/src/interfaces/logger.interface.ts
  server/src/repositories/config.repository.ts
  server/src/repositories/logger.repository.ts
  server/src/repositories/server-info.repository.ts
  server/src/services/system-config.service.ts
  server/src/services/version.service.spec.ts
  server/src/services/version.service.ts
  server/src/utils/misc.ts
  server/src/workers/api.ts
  server/test/repositories/config.repository.mock.ts
Labels: 🗄️server, changelog:skip

#13119 fix: mouse hover over stack
  web/src/lib/components/asset-viewer/asset-viewer.svelte
  web/src/lib/components/assets/thumbnail/thumbnail.svelte
Labels: 🖥️web, changelog:skip

#12938 chore(web): update translations
  web/src/lib/i18n/ar.json
  web/src/lib/i18n/az.json
  web/src/lib/i18n/bg.json
  web/src/lib/i18n/ca.json
  web/src/lib/i18n/cs.json
  web/src/lib/i18n/de.json
  web/src/lib/i18n/el.json
  web/src/lib/i18n/es.json
  web/src/lib/i18n/et.json
  web/src/lib/i18n/fr.json
  web/src/lib/i18n/he.json
  web/src/lib/i18n/hu.json
  web/src/lib/i18n/it.json
  web/src/lib/i18n/ko.json
  web/src/lib/i18n/lv.json
  web/src/lib/i18n/ms.json
  web/src/lib/i18n/nl.json
  web/src/lib/i18n/pl.json
  web/src/lib/i18n/pt.json
  web/src/lib/i18n/ru.json
  web/src/lib/i18n/sr_Cyrl.json
  web/src/lib/i18n/sr_Latn.json
  web/src/lib/i18n/tr.json
  web/src/lib/i18n/uk.json
  web/src/lib/i18n/vi.json
  web/src/lib/i18n/zh_Hant.json
  web/src/lib/i18n/zh_SIMPLIFIED.json
Labels: 🖥️web, changelog:translation

#13130 fix(server): thumbnail colorspace handling
  server/src/repositories/media.repository.ts
Labels: 🗄️server, changelog:skip

#13127 chore: add more languages
  web/src/lib/constants.ts
  web/src/lib/i18n/cv.json
  web/src/lib/i18n/lb.json
  web/src/lib/i18n/mfa.json
  web/src/lib/i18n/mk.json
  web/src/lib/i18n/mr.json
Labels: 🖥️web, changelog:translation

#13132 fix: preloading fonts
  web/src/app.html
Labels: 🖥️web, changelog:skip

#13129 fix(mobile): respect orientation on displaying asset dimensions
  mobile/lib/entities/asset.entity.dart
Labels: 📱mobile, changelog:bugfix

#13136 chore(mobile): post release task
  mobile/ios/Runner.xcodeproj/project.pbxproj
  mobile/ios/Runner/Info.plist
Labels: changelog:skip

#13084 feat(doc): new homepage design and font
  docs/docusaurus.config.js
  docs/src/components/community-guides.tsx
  docs/src/components/community-projects.tsx
  docs/src/components/svg-paths.ts
  docs/src/css/custom.css
  docs/src/pages/index.tsx
  docs/static/img/app-qr-code-dark.svg
  docs/static/img/app-qr-code-light.svg
  docs/static/img/immich-screenshots.png
  docs/static/img/immich-screenshots.webp
  docs/static/img/logomark-dark.svg
  docs/static/img/logomark-light.svg
  docs/static/img/screenshot-dark.webp
  docs/static/img/screenshot-light.webp
  docs/tailwind.config.js
Labels: documentation, changelog:enhancement

#13150 chore: disable dependabot
  .github/dependabot.yml
Labels: changelog:skip

#13158 refactor(server): port env
  server/src/interfaces/config.interface.ts
  server/src/repositories/config.repository.ts
  server/src/workers/api.ts
  server/test/repositories/config.repository.mock.ts
Labels: 🗄️server, changelog:skip

#13160 refactor(server): worker env
  server/bin/immich-healthcheck
  server/package.json
  server/src/bin/healthcheck.ts
  server/src/enum.ts
  server/src/interfaces/config.interface.ts
  server/src/main.ts
  server/src/repositories/config.repository.spec.ts
  server/src/repositories/config.repository.ts
  server/src/utils/workers.ts
  server/test/repositories/config.repository.mock.ts
Labels: 🗄️server, changelog:breaking-change

#13159 chore: some more unit tests :)
  server/src/services/album.service.spec.ts
  server/src/services/asset-media.service.spec.ts
  server/src/services/asset-media.service.ts
Labels: 🗄️server, changelog:skip

#13162 refactor(server): license key env
  server/src/config.ts
  server/src/interfaces/config.interface.ts
  server/src/repositories/config.repository.ts
  server/src/services/server.service.ts
  server/src/services/user.service.ts
  server/test/repositories/config.repository.mock.ts
Labels: 🗄️server, changelog:skip

#13163 refactor(server): build support env
  server/src/config.ts
  server/src/interfaces/config.interface.ts
  server/src/repositories/config.repository.ts
  server/src/services/server.service.ts
  server/test/repositories/config.repository.mock.ts
Labels: 🗄️server, changelog:skip

#13166 refactor(server): no color env
  server/src/interfaces/config.interface.ts
  server/src/repositories/config.repository.spec.ts
  server/src/repositories/config.repository.ts
  server/src/repositories/logger.repository.spec.ts
  server/src/repositories/logger.repository.ts
  server/src/utils/logger.ts
  server/test/repositories/config.repository.mock.ts
Labels: 🗄️server, changelog:skip

#13169 refactor(server): immich app env
  server/src/app.module.ts
  server/src/constants.ts
  server/src/workers/api.ts
  server/src/workers/microservices.ts
Labels: 🗄️server, changelog:skip

#12335 feat(server): refresh face detection
  mobile/openapi/lib/model/asset_job_name.dart
  mobile/openapi/lib/model/job_command_dto.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/dtos/asset.dto.ts
  server/src/dtos/job.dto.ts
  server/src/interfaces/person.interface.ts
  server/src/repositories/person.repository.ts
  server/src/services/asset.service.ts
  server/src/services/metadata.service.spec.ts
  server/src/services/metadata.service.ts
  server/src/services/person.service.spec.ts
  server/src/services/person.service.ts
  server/test/fixtures/face.stub.ts
  server/test/repositories/person.repository.mock.ts
  web/src/lib/components/admin-page/jobs/job-tile-button.svelte
  web/src/lib/components/admin-page/jobs/job-tile.svelte
  web/src/lib/components/admin-page/jobs/jobs-panel.svelte
  web/src/lib/components/asset-viewer/asset-viewer-nav-bar.svelte
  web/src/lib/i18n/en.json
  web/src/lib/utils.ts
Labels: 🖥️web, 🗄️server, changelog:feature

#13176 fix(server): update exiftool-vendored to v28.3.1
  e2e/package-lock.json
  e2e/package.json
  server/package-lock.json
  server/package.json
Labels: changelog:bugfix

#13179 chore: asset service unit tests
  server/src/services/asset.service.spec.ts
Labels: 🗄️server, changelog:skip

#13183 chore: audit service unit tests
  server/src/services/audit.service.spec.ts
Labels: 🗄️server, changelog:skip

#13189 chore: remove deprecated controller
  e2e/src/api/specs/server-info.e2e-spec.ts
  server/src/controllers/index.ts
  server/src/controllers/server-info.controller.ts
Labels: 🗄️server, changelog:breaking-change

#13193 refactor(server): app module
  server/src/app.module.ts
  server/src/interfaces/event.interface.ts
  server/src/interfaces/logger.interface.ts
  server/src/repositories/event.repository.ts
  server/src/repositories/logger.repository.spec.ts
  server/src/repositories/logger.repository.ts
  server/src/services/job.service.spec.ts
  server/src/services/job.service.ts
  server/src/services/metadata.service.spec.ts
  server/src/services/metadata.service.ts
  server/src/services/microservices.service.ts
  server/src/services/smart-info.service.spec.ts
  server/src/services/smart-info.service.ts
  server/src/services/storage.service.ts
  server/src/utils/events.ts
  server/src/workers/api.ts
  server/src/workers/microservices.ts
  server/test/repositories/event.repository.mock.ts
Labels: 🗄️server, changelog:skip

#13194 refactor(server): resource paths
  server/src/constants.ts
  server/src/interfaces/config.interface.ts
  server/src/repositories/config.repository.ts
  server/src/repositories/map.repository.ts
  server/src/repositories/server-info.repository.ts
  server/src/services/api.service.ts
  server/src/workers/api.ts
  server/test/repositories/config.repository.mock.ts
Labels: 🗄️server, changelog:skip

#13180 refactor(mobile): assert lists are sorted for diffing
  mobile/lib/services/sync.service.dart
  mobile/lib/utils/diff.dart
Labels: 📱mobile, changelog:skip

#13207 chore: auth unit tests
  server/src/services/auth.service.spec.ts
  server/src/services/auth.service.ts
Labels: 🗄️server, changelog:skip

#13211 chore: migrate oauth to repo
  server/src/interfaces/oauth.interface.ts
  server/src/repositories/index.ts
  server/src/repositories/oauth.repository.ts
  server/src/services/auth.service.spec.ts
  server/src/services/auth.service.ts
  server/src/services/base.service.ts
  server/test/repositories/oauth.repository.mock.ts
  server/test/utils.ts
Labels: 🗄️server, changelog:skip

#13212 feat(docs): update roadmap
  docs/src/pages/roadmap.tsx
Labels: documentation, changelog:documentation

#13174 feat(mobile): Adding filters feature to mobile image editor
  mobile/assets/i18n/en-US.json
  mobile/lib/constants/filters.dart
  mobile/lib/pages/editing/edit.page.dart
  mobile/lib/pages/editing/filter.page.dart
  mobile/lib/routing/router.dart
  mobile/lib/routing/router.gr.dart
Labels: 📱mobile, changelog:feature

#13226 docs: fix confustion about libmali in hardware-transcoding.md
  docs/docs/features/hardware-transcoding.md
Labels: documentation, changelog:documentation

#13231 docs: update version range for pgvecto.rs
  docs/docs/administration/postgres-standalone.md
Labels: documentation, changelog:documentation

#13218 chore(mobile): use sdk to for ping endpoint
  mobile/lib/services/api.service.dart
Labels: changelog:bugfix

#13251 fix(server): external libraries queueing two transcode jobs
  server/src/services/library.service.spec.ts
  server/src/services/library.service.ts
Labels: 🗄️server, changelog:bugfix

#13259 fix(server): Allow commas and braces in import paths
  e2e/src/api/specs/library.e2e-spec.ts
  server/src/repositories/storage.repository.ts
Labels: 🗄️server, changelog:bugfix

#13254 fix(server): searching with both `personIds` and `withPeople`
  server/src/repositories/search.repository.ts
  server/src/utils/database.ts
Labels: 🗄️server, changelog:bugfix

#13237 feat(ml): round-robin device assignment
  docs/docs/features/ml-hardware-acceleration.md
  docs/docs/install/environment-variables.md
  machine-learning/Dockerfile
  machine-learning/app/config.py
  machine-learning/app/sessions/ort.py
  machine-learning/app/test_main.py
  machine-learning/gunicorn_conf.py
  machine-learning/start.sh
Labels: documentation, 🧠machine-learning, changelog:feature

#13242 fix(web): video player on Safari
  web/src/lib/components/asset-viewer/video-native-viewer.svelte
Labels: 🖥️web, changelog:bugfix

#13262 fix(server): timezones
  server/src/services/metadata.service.spec.ts
  server/src/services/metadata.service.ts
Labels: 🗄️server, changelog:bugfix

#13292 chore: finishing unit tests for a couple of services
  server/src/services/api-key.service.spec.ts
  server/src/services/asset.service.spec.ts
  server/src/services/auth.service.spec.ts
  server/src/services/download.service.spec.ts
  server/src/services/duplicate.service.spec.ts
  server/src/services/map.service.spec.ts
  server/src/services/notification.service.spec.ts
  server/src/services/partner.service.spec.ts
  server/src/services/shared-link.service.spec.ts
  server/src/services/shared-link.service.ts
  server/src/services/smart-info.service.spec.ts
  server/src/services/storage.service.spec.ts
  server/src/services/system-metadata.service.spec.ts
  server/src/services/tag.service.spec.ts
  server/src/services/timeline.service.spec.ts
  server/src/services/version.service.spec.ts
  server/vitest.config.mjs
Labels: 🗄️server, changelog:skip

#13294 fix(server): duplicate faces, face insert query failing
  server/src/repositories/person.repository.ts
  server/src/services/person.service.ts
Labels: 🗄️server, changelog:skip

#13290 fix(ml): pin onnxruntime-openvino
  machine-learning/poetry.lock
  machine-learning/pyproject.toml
Labels: changelog:bugfix

#13297 fix(server): fix server ping URL path mismatch in healthcheck.ts
  server/src/bin/healthcheck.ts
Labels: 🗄️server, changelog:skip

#13289 feat(server): medium tests
  .github/workflows/test.yml
  Makefile
  server/package-lock.json
  server/package.json
  server/src/repositories/metadata.repository.ts
  server/test/medium/metadata.service.spec.ts
  server/test/utils.ts
  server/vitest.config.medium.mjs
  server/vitest.config.mjs
Labels: 🗄️server, changelog:skip

#12399 docs: fix typo in Backup Script Guide
  docs/docs/guides/template-backup-script.md
Labels: documentation, changelog:skip

#12788 chore(mobile): added 'ignore_icloud' translation item
  mobile/assets/i18n/en-US.json
  mobile/assets/i18n/ru-RU.json
  mobile/lib/widgets/settings/backup_settings/backup_settings.dart
Labels: 📱mobile, changelog:translation

#13185 feat: align compose ports
  docker/docker-compose.dev.yml
  docker/docker-compose.prod.yml
  docker/docker-compose.yml
  docs/docs/administration/jobs-workers.md
  docs/docs/administration/reverse-proxy.md
  docs/docs/features/hardware-transcoding.md
  docs/docs/install/environment-variables.md
  e2e/docker-compose.yml
  server/Dockerfile
  server/src/repositories/config.repository.ts
  server/test/repositories/config.repository.mock.ts
  web/vite.config.js
Labels: documentation, 🗄️server, changelog:breaking-change

#13298 chore(e2e): dont check for immich folder
  e2e/docker-compose.yml
Labels: changelog:enhancement

#12582 feat(mobile): new mobile UI
  mobile/assets/i18n/en-US.json
  mobile/ios/Podfile.lock
  mobile/lib/constants/immich_colors.dart
  mobile/lib/entities/asset.entity.g.dart
  mobile/lib/interfaces/album.interface.dart
  mobile/lib/models/albums/album_search.model.dart
  mobile/lib/pages/albums/albums.page.dart
  mobile/lib/pages/backup/backup_album_selection.page.dart
  mobile/lib/pages/backup/backup_controller.page.dart
  mobile/lib/pages/common/album_options.page.dart
  mobile/lib/pages/common/album_shared_user_selection.page.dart
  mobile/lib/pages/common/album_viewer.page.dart
  mobile/lib/pages/common/create_album.page.dart
  mobile/lib/pages/common/large_leading_tile.dart
  mobile/lib/pages/common/tab_controller.page.dart
  mobile/lib/pages/editing/edit.page.dart
  mobile/lib/pages/library/library.page.dart
  mobile/lib/pages/library/local_albums.page.dart
  mobile/lib/pages/library/partner/partner.page.dart
  mobile/lib/pages/library/partner/partner_detail.page.dart
  mobile/lib/pages/library/people/people_collection.page.dart
  mobile/lib/pages/library/places/places_collection.part.dart
  mobile/lib/pages/library/shared_link/shared_link.page.dart
  mobile/lib/pages/library/shared_link/shared_link_edit.page.dart
  mobile/lib/pages/photos/photos.page.dart
  mobile/lib/pages/search/person_result.page.dart
  mobile/lib/pages/search/search.page.dart
  mobile/lib/pages/search/search_input.page.dart
  mobile/lib/pages/sharing/sharing.page.dart
  mobile/lib/providers/album/album.provider.dart
  mobile/lib/providers/album/album_viewer.provider.dart
  mobile/lib/providers/album/shared_album.provider.dart
  mobile/lib/providers/app_life_cycle.provider.dart
  mobile/lib/providers/authentication.provider.dart
  mobile/lib/providers/backup/backup_verification.provider.g.dart
  mobile/lib/providers/tab.provider.dart
  mobile/lib/repositories/album.repository.dart
  mobile/lib/repositories/partner_api.repository.dart
  mobile/lib/routing/router.dart
  mobile/lib/routing/router.gr.dart
  mobile/lib/routing/tab_navigation_observer.dart
  mobile/lib/services/album.service.dart
  mobile/lib/services/entity.service.dart
  mobile/lib/services/sync.service.dart
  mobile/lib/utils/immich_app_theme.dart
  mobile/lib/widgets/album/add_to_album_bottom_sheet.dart
  mobile/lib/widgets/album/album_thumbnail_card.dart
  mobile/lib/widgets/album/album_viewer_appbar.dart
  mobile/lib/widgets/asset_grid/control_bottom_app_bar.dart
  mobile/lib/widgets/asset_grid/multiselect_grid.dart
  mobile/lib/widgets/asset_viewer/bottom_gallery_bar.dart
  mobile/lib/widgets/common/immich_app_bar.dart
  mobile/lib/widgets/forms/login/login_form.dart
  mobile/lib/widgets/partner/partner_list.dart
  mobile/lib/widgets/search/search_map_thumbnail.dart
  mobile/test/services/album.service_test.dart
Labels: 📱mobile, changelog:feature

#13299 fix(mobile): trash sorting order
  mobile/lib/providers/trash.provider.dart
Labels: 📱mobile, changelog:bugfix

#12959 fix(web): User removal from option menu on the top in shared album
  web/src/lib/components/album-page/album-options.svelte
  web/src/routes/(user)/albums/[albumId=id]/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:bugfix

#13338 chore(mobile): clean up
  mobile/lib/providers/album/album.provider.dart
  mobile/lib/services/sync.service.dart
Labels: 📱mobile, changelog:skip

#13335 chore(mobile): remove unused translation keys
  mobile/assets/i18n/en-US.json
  mobile/scripts/check_i18n_keys.py
  mobile/scripts/check_key_uniform.py
Labels: changelog:skip

#13342 fix(web): rtl text on map is hidden
  web/package-lock.json
  web/package.json
  web/src/lib/components/shared-components/map/map.svelte
Labels: 🖥️web, changelog:bugfix

#13343 chore: cli unit tests
  server/src/services/cli.service.spec.ts
Labels: 🗄️server, changelog:skip

#13351 ci: don't auto-update mapbox-gl-rtl-text
  renovate.json
Labels: changelog:skip

#13350 fix: library deletion
  server/src/services/library.service.ts
Labels: 🗄️server, changelog:bugfix

#13349 refactor(server): add base methods for access checks
  server/src/services/activity.service.ts
  server/src/services/album.service.ts
  server/src/services/asset-media.service.ts
  server/src/services/asset.service.ts
  server/src/services/audit.service.ts
  server/src/services/base.service.ts
  server/src/services/download.service.ts
  server/src/services/memory.service.ts
  server/src/services/partner.service.ts
  server/src/services/person.service.ts
  server/src/services/session.service.ts
  server/src/services/shared-link.service.ts
  server/src/services/stack.service.ts
  server/src/services/sync.service.ts
  server/src/services/tag.service.ts
  server/src/services/timeline.service.ts
  server/src/services/trash.service.ts
Labels: 🗄️server, changelog:skip

#13367 chore(server): remove unused code
  server/src/cores/storage.core.ts
  server/src/interfaces/asset.interface.ts
  server/src/interfaces/database.interface.ts
  server/src/interfaces/map.interface.ts
  server/src/interfaces/person.interface.ts
  server/src/repositories/asset.repository.ts
  server/src/repositories/database.repository.ts
  server/src/repositories/map.repository.ts
  server/src/repositories/person.repository.ts
  server/src/services/auth.service.spec.ts
  server/src/services/library.service.spec.ts
  server/src/services/person.service.spec.ts
  server/test/fixtures/album.stub.ts
  server/test/fixtures/api-key.stub.ts
  server/test/fixtures/asset.stub.ts
  server/test/fixtures/audit.stub.ts
  server/test/fixtures/auth.stub.ts
  server/test/fixtures/face.stub.ts
  server/test/fixtures/library.stub.ts
  server/test/fixtures/person.stub.ts
  server/test/fixtures/shared-link.stub.ts
  server/test/fixtures/user.stub.ts
  server/test/repositories/asset.repository.mock.ts
  server/test/repositories/database.repository.mock.ts
  server/test/repositories/map.repository.mock.ts
  server/test/repositories/person.repository.mock.ts
Labels: 🗄️server, changelog:skip

#13357 chore: library unit tests
  e2e/src/api/specs/library.e2e-spec.ts
  e2e/src/utils.ts
  server/src/services/library.service.spec.ts
  server/src/services/library.service.ts
Labels: 🗄️server, changelog:skip

#13380 chore: Add viteconfig-timestamp to .gitignore
  .gitignore
Labels: changelog:skip

#13382 chore: media service unit tests
  server/src/services/media.service.spec.ts
  server/src/services/media.service.ts
Labels: 🗄️server, changelog:skip

#13411 fix(server): typeorm (੭ °ཀ°)੭
  server/src/utils/database.ts
Labels: 🗄️server, changelog:skip

#13409 fix(server): incorrect out_color_matrix value when generating thumbnails
  server/src/services/media.service.spec.ts
  server/src/utils/media.ts
Labels: 🗄️server, changelog:bugfix

#13413 docs: update authelia link
  docs/docs/administration/oauth.md
Labels: documentation, changelog:documentation

#13230 chore(ml): update pydantic
  machine-learning/app/config.py
  machine-learning/app/main.py
  machine-learning/app/schemas.py
  machine-learning/app/test_main.py
  machine-learning/poetry.lock
  machine-learning/pyproject.toml
Labels: 🧠machine-learning, changelog:skip

#13414 fix(web): change the code zh-Hans to zh-CN
  web/src/lib/constants.ts
Labels: 🖥️web, changelog:bugfix

#13403 chore(mobile): search page minor enhancements
  mobile/assets/polaroid-dark.png
  mobile/assets/polaroid-light.png
  mobile/lib/models/search/search_filter.model.dart
  mobile/lib/pages/common/tab_controller.page.dart
  mobile/lib/pages/library/library.page.dart
  mobile/lib/pages/library/places/places_collection.page.dart
  mobile/lib/pages/search/search.page.dart
  mobile/lib/pages/search/search_input.page.dart
  mobile/lib/providers/search/search_input_focus.provider.dart
  mobile/lib/routing/router.dart
  mobile/lib/routing/router.gr.dart
  mobile/lib/routing/tab_navigation_observer.dart
  mobile/lib/widgets/search/explore_grid.dart
  mobile/lib/widgets/search/search_filter/search_filter_chip.dart
Labels: 📱mobile, changelog:enhancement

#13424 fix(server): REVERT incorrect out_color_matrix value when generating thumbnails (#13409)
  server/src/services/media.service.spec.ts
  server/src/utils/media.ts
Labels: 🗄️server, changelog:skip

#13426 fix(mobile): more efficient loading local image on ios
  mobile/lib/providers/image/immich_local_image_provider.dart
Labels: 📱mobile, changelog:enhancement

#13435 chore: add deprecated release notes section
  .github/release.yml
Labels: changelog:skip

#13423 chore(mobile): Translations update
  mobile/assets/i18n/ar-JO.json
  mobile/assets/i18n/cs-CZ.json
  mobile/assets/i18n/da-DK.json
  mobile/assets/i18n/de-DE.json
  mobile/assets/i18n/el-GR.json
  mobile/assets/i18n/en-US.json
  mobile/assets/i18n/es-ES.json
  mobile/assets/i18n/es-MX.json
  mobile/assets/i18n/es-PE.json
  mobile/assets/i18n/es-US.json
  mobile/assets/i18n/fi-FI.json
  mobile/assets/i18n/fr-CA.json
  mobile/assets/i18n/fr-FR.json
  mobile/assets/i18n/he-IL.json
  mobile/assets/i18n/hi-IN.json
  mobile/assets/i18n/hu-HU.json
  mobile/assets/i18n/it-IT.json
  mobile/assets/i18n/ja-JP.json
  mobile/assets/i18n/ko-KR.json
  mobile/assets/i18n/lt-LT.json
  mobile/assets/i18n/lv-LV.json
  mobile/assets/i18n/mn-MN.json
  mobile/assets/i18n/nb-NO.json
  mobile/assets/i18n/nl-NL.json
  mobile/assets/i18n/pl-PL.json
  mobile/assets/i18n/pt-PT.json
  mobile/assets/i18n/ro-RO.json
  mobile/assets/i18n/ru-RU.json
  mobile/assets/i18n/sk-SK.json
  mobile/assets/i18n/sl-SI.json
  mobile/assets/i18n/sr-Cyrl.json
  mobile/assets/i18n/sr-Latn.json
  mobile/assets/i18n/sv-FI.json
  mobile/assets/i18n/sv-SE.json
  mobile/assets/i18n/th-TH.json
  mobile/assets/i18n/uk-UA.json
  mobile/assets/i18n/vi-VN.json
  mobile/assets/i18n/zh-CN.json
  mobile/assets/i18n/zh-Hans.json
  mobile/assets/i18n/zh-TW.json
Labels: changelog:skip

#13126 chore(web): update translations
  web/src/lib/i18n/az.json
  web/src/lib/i18n/ca.json
  web/src/lib/i18n/cs.json
  web/src/lib/i18n/cv.json
  web/src/lib/i18n/da.json
  web/src/lib/i18n/de.json
  web/src/lib/i18n/el.json
  web/src/lib/i18n/es.json
  web/src/lib/i18n/et.json
  web/src/lib/i18n/fi.json
  web/src/lib/i18n/fr.json
  web/src/lib/i18n/he.json
  web/src/lib/i18n/hu.json
  web/src/lib/i18n/id.json
  web/src/lib/i18n/it.json
  web/src/lib/i18n/ko.json
  web/src/lib/i18n/lv.json
  web/src/lib/i18n/ms.json
  web/src/lib/i18n/nl.json
  web/src/lib/i18n/pl.json
  web/src/lib/i18n/pt.json
  web/src/lib/i18n/pt_BR.json
  web/src/lib/i18n/ro.json
  web/src/lib/i18n/ru.json
  web/src/lib/i18n/sk.json
  web/src/lib/i18n/sr_Cyrl.json
  web/src/lib/i18n/sr_Latn.json
  web/src/lib/i18n/sv.json
  web/src/lib/i18n/tr.json
  web/src/lib/i18n/uk.json
  web/src/lib/i18n/vi.json
  web/src/lib/i18n/zh_Hant.json
  web/src/lib/i18n/zh_SIMPLIFIED.json
Labels: 🖥️web, changelog:translation

#13441 chore: stack service unit tests
  server/src/services/stack.service.spec.ts
Labels: 🗄️server, changelog:skip

#13458 fix(docs): typo in backup-and-restore.md
  docs/docs/administration/backup-and-restore.md
Labels: documentation, changelog:documentation

#13389 chore(server): explicitly use svt-av1 encoder
  server/src/services/media.service.spec.ts
  server/src/utils/media.ts
Labels: 🗄️server, changelog:skip

#13474 fix(server): mobile oauth login
  e2e/src/api/specs/oauth.e2e-spec.ts
  e2e/src/setup/auth-server.ts
  server/src/services/auth.service.ts
Labels: 🗄️server, changelog:bugfix

#13444 fix: styling for last image in person grid
  web/src/lib/components/faces-page/people-infinite-scroll.svelte
Labels: 🖥️web, changelog:bugfix

#13355 ci: don't refresh state when destroying tf
  .github/workflows/docs-destroy.yml
Labels: changelog:skip

#13499 fix(docs): cancelled builds on main
  .github/workflows/docs-build.yml
Labels: changelog:skip

#13512 chore(deps): update base-image to v20241016 (major)
  server/Dockerfile
Labels: dependencies, changelog:skip

#13461 fix(server): ffmpeg matrices
  server/src/services/media.service.spec.ts
  server/src/utils/media.ts
Labels: 🗄️server, changelog:bugfix

#13507 refactor(server): move host env to config repo
  server/src/interfaces/config.interface.ts
  server/src/repositories/config.repository.ts
  server/src/workers/api.ts
Labels: 🗄️server, changelog:breaking-change

#13506 refactor(server): external domain fallback
  server/src/constants.ts
  server/src/services/notification.service.ts
  server/src/services/shared-link.service.spec.ts
  server/src/services/shared-link.service.ts
  server/src/utils/misc.ts
  server/test/repositories/config.repository.mock.ts
Labels: 🗄️server, changelog:skip

#13497 fix(server): never try to parse Duration from exif data
  server/src/services/metadata.service.spec.ts
  server/src/services/metadata.service.ts
Labels: 🗄️server, changelog:bugfix

#13462 feat: show warning when running main branch build
  web/src/lib/components/shared-components/server-about-modal.svelte
  web/src/lib/components/shared-components/side-bar/server-status.svelte
  web/src/lib/i18n/en.json
Labels: 🖥️web, changelog:enhancement

#13538 refactor(server): redis config
  server/src/app.module.ts
  server/src/config.ts
  server/src/interfaces/config.interface.ts
  server/src/middleware/websocket.adapter.ts
  server/src/repositories/config.repository.spec.ts
  server/src/repositories/config.repository.ts
  server/src/repositories/job.repository.ts
  server/test/repositories/config.repository.mock.ts
Labels: 🗄️server, changelog:skip

#13517 fix(server): Allow passwordless users when oauth enabled
  server/src/dtos/user.dto.ts
  server/src/services/user-admin.service.ts
  web/src/lib/components/forms/create-user-form.svelte
  web/src/routes/admin/user-management/+page.svelte
Labels: 🖥️web, 🗄️server, changelog:enhancement

#13553 refactor(server): storage template options
  server/src/constants.ts
  server/src/controllers/system-config.controller.ts
  server/src/services/storage-template.service.spec.ts
  server/src/services/storage-template.service.ts
  server/src/services/system-config.service.spec.ts
  server/src/services/system-config.service.ts
Labels: 🗄️server, changelog:skip

#13536 feat(web): Change relink person icon from minus to pencil
  web/src/lib/components/faces-page/person-side-panel.svelte
Labels: 🖥️web, changelog:enhancement

#13552 refactor(server): auth enums
  server/src/config.ts
  server/src/controllers/asset-media.controller.ts
  server/src/controllers/auth.controller.ts
  server/src/controllers/oauth.controller.ts
  server/src/controllers/shared-link.controller.ts
  server/src/dtos/auth.dto.ts
  server/src/enum.ts
  server/src/middleware/asset-upload.interceptor.ts
  server/src/middleware/auth.guard.ts
  server/src/services/auth.service.ts
  server/src/utils/misc.ts
  server/src/utils/response.ts
Labels: 🗄️server, changelog:skip

#13468 fix(web): improve photosphere viewer settings
  web/src/lib/components/asset-viewer/photo-sphere-viewer-adapter.svelte
Labels: 🖥️web, changelog:enhancement

#13556 fix: person update state inconsistencies
  web/src/routes/(user)/people/[personId]/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:bugfix

#13554 fix: gh container registry rate limits
  .github/workflows/test.yml
Labels: github_actions, changelog:skip

#13539 fix: web search add to album reactivity
  web/src/lib/components/photos-page/actions/add-to-album.svelte
  web/src/lib/utils/actions.ts
  web/src/routes/(user)/search/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:bugfix

#13560 refactor(server): telemetry ports env
  server/src/interfaces/config.interface.ts
  server/src/repositories/config.repository.spec.ts
  server/src/repositories/config.repository.ts
  server/src/workers/api.ts
  server/src/workers/microservices.ts
  server/test/repositories/config.repository.mock.ts
Labels: 🗄️server, changelog:skip

#13561 feat(server): vaapi hardware decoding
  docs/docs/features/hardware-transcoding.md
  server/src/services/media.service.spec.ts
  server/src/utils/media.ts
  web/src/lib/i18n/en.json
Labels: documentation, 🖥️web, 🗄️server, changelog:feature

#13564 refactor(server): telemetry env
  server/src/app.module.ts
  server/src/bin/sync-sql.ts
  server/src/interfaces/config.interface.ts
  server/src/repositories/config.repository.spec.ts
  server/src/repositories/config.repository.ts
  server/src/repositories/metric.repository.ts
  server/src/utils/instrumentation.ts
  server/test/repositories/config.repository.mock.ts
Labels: 🗄️server, changelog:skip

#13418 feat(server): add pcm_s16le accepted audio codec
  docs/docs/install/config-file.md
  mobile/openapi/lib/model/audio_codec.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/config.ts
  server/src/enum.ts
  server/src/services/system-config.service.spec.ts
  web/src/lib/components/admin-page/settings/ffmpeg/ffmpeg-settings.svelte
Labels: documentation, 🖥️web, 🗄️server, changelog:enhancement

#13584 refactor(server): rename metrics to telemetry
  server/src/interfaces/telemetry.interface.ts
  server/src/repositories/index.ts
  server/src/repositories/telemetry.repository.ts
  server/src/services/base.service.ts
  server/src/services/job.service.ts
  server/test/repositories/metric.repository.mock.ts
  server/test/repositories/telemetry.repository.mock.ts
  server/test/utils.ts
Labels: 🗄️server, changelog:skip

#13591 chore(docs): add Thai README
  README.md
  readme_i18n/README_ar_JO.md
  readme_i18n/README_ca_ES.md
  readme_i18n/README_de_DE.md
  readme_i18n/README_es_ES.md
  readme_i18n/README_fr_FR.md
  readme_i18n/README_it_IT.md
  readme_i18n/README_ja_JP.md
  readme_i18n/README_ko_KR.md
  readme_i18n/README_nl_NL.md
  readme_i18n/README_pt_BR.md
  readme_i18n/README_ru_RU.md
  readme_i18n/README_sv_SE.md
  readme_i18n/README_th_TH.md
  readme_i18n/README_tr_TR.md
  readme_i18n/README_vi_VN.md
  readme_i18n/README_zh_CN.md
Labels: changelog:documentation

#13578 chore(docs): update _storage-template.md
  docs/docs/partials/_storage-template.md
Labels: documentation, changelog:documentation

#12223 feat(server): wait five minutes before sending email on new album item
  server/src/interfaces/event.interface.ts
  server/src/interfaces/job.interface.ts
  server/src/repositories/job.repository.ts
  server/src/services/album.service.spec.ts
  server/src/services/album.service.ts
  server/src/services/notification.service.spec.ts
  server/src/services/notification.service.ts
  server/test/fixtures/user.stub.ts
  server/test/repositories/job.repository.mock.ts
Labels: 🗄️server, changelog:enhancement

#13589 fix(web): intersection observer not triggered to load more people
  web/src/lib/components/faces-page/manage-people-visibility.svelte
  web/src/lib/components/faces-page/people-infinite-scroll.svelte
Labels: 🖥️web, changelog:bugfix

#13593 fix(server): encodes iPhone 16 Pro video with unknown audio codec
  server/src/services/media.service.spec.ts
  server/src/services/media.service.ts
  server/test/fixtures/media.stub.ts
Labels: 🗄️server, changelog:bugfix

#13602 revert: gh container registry rate limits
  .github/workflows/test.yml
Labels: changelog:skip

#13611 fix(server): Revert "fix(server): copy video projection metadata for 360 videos (#12376)"
  server/src/services/media.service.spec.ts
  server/src/utils/media.ts
Labels: 🗄️server, changelog:bugfix

#13644 chore(docs): correct two small typos
  docs/docs/administration/server-stats.md
  docs/docs/developer/directories.md
Labels: documentation, changelog:skip

#13642 fix(server): only allow absolute import paths
  e2e/src/api/specs/library.e2e-spec.ts
  server/src/services/library.service.spec.ts
  server/src/services/library.service.ts
  server/test/fixtures/library.stub.ts
Labels: 🗄️server, changelog:bugfix

#13622 docs: add qsv note for jasper lake cpus
  docs/docs/features/hardware-transcoding.md
Labels: documentation, changelog:documentation

#13640 docs: add warning to repair page
  docs/docs/administration/repair-page.md
Labels: documentation, changelog:documentation

#13599 chore(web): add tests for ChangeDate component
  web/src/lib/components/shared-components/change-date.spec.ts
Labels: 🖥️web, changelog:skip

#13659 chore(server): make date-time logs verbose
  server/src/services/metadata.service.ts
Labels: 🗄️server, changelog:skip

#13655 chore(mobile): thumbnail image ui improvements
  mobile/lib/widgets/asset_grid/thumbnail_image.dart
Labels: 📱mobile, changelog:enhancement

#13588 refactor(server): telemetry
  server/src/app.module.ts
  server/src/config.ts
  server/src/decorators.ts
  server/src/enum.ts
  server/src/interfaces/telemetry.interface.ts
  server/src/repositories/access.repository.ts
  server/src/repositories/activity.repository.ts
  server/src/repositories/album-user.repository.ts
  server/src/repositories/album.repository.ts
  server/src/repositories/api-key.repository.ts
  server/src/repositories/asset.repository.ts
  server/src/repositories/audit.repository.ts
  server/src/repositories/config.repository.ts
  server/src/repositories/crypto.repository.ts
  server/src/repositories/database.repository.ts
  server/src/repositories/event.repository.ts
  server/src/repositories/job.repository.ts
  server/src/repositories/library.repository.ts
  server/src/repositories/logger.repository.ts
  server/src/repositories/machine-learning.repository.ts
  server/src/repositories/map.repository.ts
  server/src/repositories/media.repository.ts
  server/src/repositories/memory.repository.ts
  server/src/repositories/metadata.repository.ts
  server/src/repositories/move.repository.ts
  server/src/repositories/notification.repository.ts
  server/src/repositories/oauth.repository.ts
  server/src/repositories/partner.repository.ts
  server/src/repositories/person.repository.ts
  server/src/repositories/search.repository.ts
  server/src/repositories/server-info.repository.ts
  server/src/repositories/session.repository.ts
  server/src/repositories/shared-link.repository.ts
  server/src/repositories/stack.repository.ts
  server/src/repositories/storage.repository.ts
  server/src/repositories/system-metadata.repository.ts
  server/src/repositories/tag.repository.ts
  server/src/repositories/telemetry.repository.ts
  server/src/repositories/user.repository.ts
  server/src/repositories/version-history.repository.ts
  server/src/services/microservices.service.ts
  server/src/utils/instrumentation.ts
  server/src/workers/api.ts
  server/src/workers/microservices.ts
  server/test/repositories/telemetry.repository.mock.ts
Labels: 🗄️server, changelog:skip

#13612 feat(docs): add mention to purchase to support immich page
  docs/docs/overview/support-the-project.md
Labels: documentation, changelog:documentation

#13654 feat(web): allow changing shared user role in album options modal
  web/src/lib/components/album-page/album-options.svelte
  web/src/routes/(user)/albums/[albumId=id]/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:bugfix

#13443 chore(web): update translations
  web/src/lib/i18n/ar.json
  web/src/lib/i18n/ca.json
  web/src/lib/i18n/cs.json
  web/src/lib/i18n/cv.json
  web/src/lib/i18n/de.json
  web/src/lib/i18n/el.json
  web/src/lib/i18n/en.json
  web/src/lib/i18n/es.json
  web/src/lib/i18n/et.json
  web/src/lib/i18n/fi.json
  web/src/lib/i18n/fr.json
  web/src/lib/i18n/he.json
  web/src/lib/i18n/hu.json
  web/src/lib/i18n/id.json
  web/src/lib/i18n/it.json
  web/src/lib/i18n/ko.json
  web/src/lib/i18n/lt.json
  web/src/lib/i18n/lv.json
  web/src/lib/i18n/mn.json
  web/src/lib/i18n/nl.json
  web/src/lib/i18n/pl.json
  web/src/lib/i18n/pt.json
  web/src/lib/i18n/pt_BR.json
  web/src/lib/i18n/ru.json
  web/src/lib/i18n/sk.json
  web/src/lib/i18n/sr_Cyrl.json
  web/src/lib/i18n/sr_Latn.json
  web/src/lib/i18n/ta.json
  web/src/lib/i18n/th.json
  web/src/lib/i18n/tr.json
  web/src/lib/i18n/uk.json
  web/src/lib/i18n/vi.json
  web/src/lib/i18n/zh_Hant.json
  web/src/lib/i18n/zh_SIMPLIFIED.json
Labels: 🖥️web, changelog:translation

#13677 feat: Use video thumbnail for GIF types
  server/src/services/media.service.ts
Labels: 🗄️server, changelog:enhancement

#13686 fix(server): add ld_library_path in start.sh
  server/start.sh
Labels: changelog:bugfix

#13693 fix(server): nan transcoding estimate
  server/src/repositories/media.repository.ts
Labels: 🗄️server, changelog:bugfix

#13689 feat(ml): configurable batch size for facial recognition
  docs/docs/install/environment-variables.md
  machine-learning/app/config.py
  machine-learning/app/models/facial_recognition/recognition.py
  machine-learning/app/test_main.py
Labels: documentation, 🧠machine-learning, changelog:enhancement

#13684 fix: Add debouncing to the search popup form
  web/src/lib/components/shared-components/search-bar/search-bar.svelte
Labels: 🖥️web, changelog:bugfix

#13708 fix(web): add crossorigin to link manifest for PWA
  web/src/routes/+layout.svelte
Labels: 🖥️web, changelog:bugfix

#13725 feat: track when assets are added to an album
  server/src/entities/album.entity.ts
  server/src/migrations/1729793521993-AddAlbumAssetCreatedAt.ts
Labels: 🗄️server, changelog:skip

#13705 refactor(server): telemetry env variables
  docs/docs/features/monitoring.md
  docs/docs/install/environment-variables.md
  server/src/enum.ts
  server/src/interfaces/config.interface.ts
  server/src/repositories/config.repository.spec.ts
  server/src/repositories/config.repository.ts
  server/src/repositories/telemetry.repository.ts
  server/src/workers/api.ts
  server/src/workers/microservices.ts
  server/test/repositories/config.repository.mock.ts
Labels: documentation, 🗄️server, changelog:breaking-change

#13730 refactor(server): database config
  server/package.json
  server/src/app.module.ts
  server/src/bin/database.ts
  server/src/bin/sync-sql.ts
  server/src/database.config.ts
  server/src/interfaces/config.interface.ts
  server/src/repositories/config.repository.spec.ts
  server/src/repositories/config.repository.ts
  server/src/services/database.service.spec.ts
  server/test/repositories/config.repository.mock.ts
Labels: 🗄️server, changelog:skip

#13728 refactor(server): user create logic
  server/src/services/auth.service.ts
  server/src/services/base.service.ts
  server/src/services/user-admin.service.ts
  server/src/utils/user.ts
Labels: 🗄️server, changelog:skip

#13734 fix: duplicated library scan jobs and api server library watch
  server/src/interfaces/database.interface.ts
  server/src/services/library.service.spec.ts
  server/src/services/library.service.ts
Labels: 🗄️server, changelog:bugfix

#13742 fix: X years ago ordering
  server/src/queries/asset.repository.sql
  server/src/repositories/asset.repository.ts
Labels: 🗄️server, changelog:bugfix

#13762 chore(ml): remove setuptools from dependencies
  machine-learning/poetry.lock
  machine-learning/pyproject.toml
Labels: changelog:skip

#13768 feat: github actions workflow to fix formatting
  .github/workflows/fix-format.yml
Labels: changelog:skip

#13754 fix: Add DB_DATA_LOCATION config.
  docs/docs/install/unraid.md
Labels: documentation, changelog:documentation

#13779 chore(mobile): post release task
  mobile/ios/Runner.xcodeproj/project.pbxproj
  mobile/ios/Runner/Info.plist
Labels: changelog:skip

#13784 feat(web): add job action to search page result
  web/src/routes/(user)/search/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:enhancement

#13764 docs: note about Nginx reverse proxy compatibility with Let's Encrypt
  docs/docs/administration/reverse-proxy.md
Labels: documentation, changelog:documentation

#12371 docs: Add info about album sync&folder view
  docs/docs/features/img/folder-view.png
  docs/docs/features/libraries.md
  docs/docs/features/mobile-app.mdx
Labels: documentation, changelog:documentation

#13688 chore(web): update translations
  i18n/ca.json
  i18n/de.json
  i18n/en.json
  i18n/es.json
  i18n/et.json
  i18n/fi.json
  i18n/hr.json
  i18n/id.json
  i18n/it.json
  i18n/ko.json
  i18n/lv.json
  i18n/ms.json
  i18n/pt_BR.json
  i18n/ro.json
  i18n/ru.json
  i18n/sk.json
  i18n/sr_Cyrl.json
  i18n/sr_Latn.json
  i18n/sv.json
  i18n/th.json
  i18n/uk.json
Labels: changelog:translation

#13802 fix: shutdown api process when another worker exits unexpectedly
  server/src/main.ts
Labels: 🗄️server, changelog:bugfix

#13800 refactor: better postgres connection param typing
  server/src/interfaces/config.interface.ts
  server/src/interfaces/database.interface.ts
  server/src/repositories/config.repository.ts
  server/src/services/database.service.spec.ts
  server/test/repositories/config.repository.mock.ts
Labels: 🗄️server, changelog:skip

#13806 fix(mobile): Revert thumbnail image ui improvements (#13655)
  mobile/lib/widgets/asset_grid/thumbnail_image.dart
Labels: 📱mobile, changelog:bugfix

#13805 refactor(server): worker cleanup
  server/src/main.ts
Labels: 🗄️server, changelog:skip

#13807 feat(web): library settings crontab link includes existing expression
  web/src/lib/components/admin-page/settings/library-settings/library-settings.svelte
Labels: 🖥️web, changelog:enhancement

#13794 chore(docs): add feature to readme
  README.md
Labels: changelog:skip
