Repository immich-app/immich, pull requests merged in 2024-05, with the labels that each got.

#9193 fix(mobile): show all places don't show all places
  mobile/lib/modules/search/providers/search_page_state.provider.dart
  mobile/lib/modules/search/services/search.service.dart
  mobile/lib/modules/search/views/all_places_page.dart
  mobile/lib/modules/search/views/search_page.dart
  mobile/lib/routing/router.dart
  mobile/lib/routing/router.gr.dart
  mobile/lib/routing/tab_navigation_observer.dart
Labels: 📱mobile

#9203 chore: fvm and node dependency updates and pinning
  cli/.nvmrc
  cli/package.json
  docs/.nvmrc
  docs/package.json
  e2e/.nvmrc
  e2e/package.json
  mobile/.fvm/fvm_config.json
  mobile/.fvmrc
  mobile/.gitignore
  mobile/.vscode/settings.json
  server/.nvmrc
  web/.nvmrc
  web/package.json
Labels: maintenance

#9207 chore: remove donation links from the readme, docs and release notes template
  README.md
  docs/docs/overview/support-the-project.md
  misc/release/notes.tmpl
Labels: documentation

#9208 docs: link to blog in announcement
  docs/docusaurus.config.js
  docs/src/css/custom.css
Labels: documentation

#9211 Docs: New Futo milestones
  docs/src/pages/milestones.tsx
Labels: documentation

#6543 feat(mobile): play motion video with long press gesture support
  mobile/lib/modules/asset_viewer/views/gallery_viewer.dart
  mobile/lib/shared/ui/photo_view/photo_view.dart
  mobile/lib/shared/ui/photo_view/photo_view_gallery.dart
  mobile/lib/shared/ui/photo_view/src/core/photo_view_core.dart
  mobile/lib/shared/ui/photo_view/src/core/photo_view_gesture_detector.dart
  mobile/lib/shared/ui/photo_view/src/photo_view_wrappers.dart
Labels: 📱mobile

#7107 chore(readme): add Brazilian Portuguese readme
  README.md
  readme_i18n/README_ca_ES.md
  readme_i18n/README_de_DE.md
  readme_i18n/README_es_ES.md
  readme_i18n/README_fr_FR.md
  readme_i18n/README_it_IT.md
  readme_i18n/README_ja_JP.md
  readme_i18n/README_ko_KR.md
  readme_i18n/README_nl_NL.md
  readme_i18n/README_pt_BR.md
  readme_i18n/README_ru_RU.md
  readme_i18n/README_tr_TR.md
  readme_i18n/README_zh_CN.md
Labels: documentation, enhancement

#8825 feat(web): determine duplication of upload on client
  web/src/lib/stores/upload.ts
  web/src/lib/utils/file-uploader.ts
Labels: 🖥️web

#9238 chore(docs): Link to helm chart README
  docs/docs/install/kubernetes.md
Labels: documentation

#9239 docs: update post-install-steps documentation
  docs/docs/partials/_storage-template.md
  docs/docs/partials/_user-create.md
  docs/docs/partials/img/admin-registration-form.png
  docs/docs/partials/img/create-new-user-dialog.png
  docs/docs/partials/img/create-new-user.png
  docs/docs/partials/img/enable-storage-template.png
  docs/docs/partials/img/storage-template.png
Labels: documentation

#9235 feat(server): read-write external assets
  e2e/src/api/specs/asset.e2e-spec.ts
  e2e/src/api/specs/search.e2e-spec.ts
  e2e/src/api/specs/timeline.e2e-spec.ts
  mobile/lib/entities/asset.entity.dart
  mobile/lib/entities/asset.entity.g.dart
  mobile/lib/extensions/collection_extensions.dart
  mobile/lib/modules/asset_viewer/ui/bottom_gallery_bar.dart
  mobile/lib/modules/asset_viewer/ui/exif_sheet/exif_bottom_sheet.dart
  mobile/lib/modules/asset_viewer/ui/exif_sheet/exif_location.dart
  mobile/lib/routing/router.gr.dart
  mobile/lib/shared/ui/asset_grid/multiselect_grid.dart
  mobile/openapi/doc/AssetApi.md
  mobile/openapi/doc/AssetResponseDto.md
  mobile/openapi/doc/MetadataSearchDto.md
  mobile/openapi/doc/SmartSearchDto.md
  mobile/openapi/lib/api/asset_api.dart
  mobile/openapi/lib/model/asset_response_dto.dart
  mobile/openapi/lib/model/metadata_search_dto.dart
  mobile/openapi/lib/model/smart_search_dto.dart
  mobile/openapi/test/asset_api_test.dart
  mobile/openapi/test/asset_response_dto_test.dart
  mobile/openapi/test/metadata_search_dto_test.dart
  mobile/openapi/test/smart_search_dto_test.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/decorators.ts
  server/src/dtos/asset-response.dto.ts
  server/src/dtos/asset-v1.dto.ts
  server/src/dtos/search.dto.ts
  server/src/entities/asset.entity.ts
  server/src/interfaces/job.interface.ts
  server/src/interfaces/search.interface.ts
  server/src/migrations/1714698592332-RemoveIsReadOnly.ts
  server/src/queries/asset.repository.sql
  server/src/queries/person.repository.sql
  server/src/queries/search.repository.sql
  server/src/queries/shared.link.repository.sql
  server/src/queries/user.repository.sql
  server/src/repositories/asset.repository.ts
  server/src/repositories/user.repository.ts
  server/src/services/asset-v1.service.ts
  server/src/services/asset.service.spec.ts
  server/src/services/asset.service.ts
  server/src/services/library.service.spec.ts
  server/src/services/library.service.ts
  server/src/services/metadata.service.ts
  server/src/services/storage-template.service.spec.ts
  server/src/services/storage-template.service.ts
  server/src/utils/database.ts
  server/test/fixtures/asset.stub.ts
  server/test/fixtures/shared-link.stub.ts
  web/src/lib/components/asset-viewer/asset-viewer-nav-bar.svelte
  web/src/lib/components/asset-viewer/detail-panel.svelte
  web/src/lib/components/photos-page/actions/delete-assets.svelte
  web/src/lib/components/photos-page/asset-grid.svelte
  web/src/lib/utils/asset-utils.ts
  web/src/test-data/factories/asset-factory.ts
Labels: 🗄️server, external-library

#9262 Specify PowerShell for win backup/restore
  docs/docs/administration/backup-and-restore.md
Labels: documentation

#9261 fix(mobile): Reset dropdown values in search by location on mobile
  mobile/lib/modules/search/ui/search_filter/location_picker.dart
Labels: 📱mobile

#9264 fix(web): Individual Photo Sharing with Album Link #8887
  web/src/lib/components/asset-viewer/asset-viewer.svelte
Labels: 🖥️web

#9271 fix(web): click on face in detail-panel
  web/src/lib/components/asset-viewer/detail-panel.svelte
Labels: 🖥️web

#9279 fix(web): stream 360 video instead of fetching entire video
  web/src/lib/components/asset-viewer/panorama-viewer.svelte
Labels: 🖥️web

#9281 chore(mobile) Linked pt-BR.json with Mobile app and localizely.yml
  localizely.yml
  mobile/lib/constants/locales.dart
Labels: 📱mobile

#9287 Localizely: Translations update
  mobile/assets/i18n/ar-JO.json
  mobile/assets/i18n/cs-CZ.json
  mobile/assets/i18n/da-DK.json
  mobile/assets/i18n/de-DE.json
  mobile/assets/i18n/el-GR.json
  mobile/assets/i18n/en-US.json
  mobile/assets/i18n/es-ES.json
  mobile/assets/i18n/es-MX.json
  mobile/assets/i18n/es-PE.json
  mobile/assets/i18n/es-US.json
  mobile/assets/i18n/fi-FI.json
  mobile/assets/i18n/fr-CA.json
  mobile/assets/i18n/fr-FR.json
  mobile/assets/i18n/he-IL.json
  mobile/assets/i18n/hi-IN.json
  mobile/assets/i18n/hu-HU.json
  mobile/assets/i18n/it-IT.json
  mobile/assets/i18n/ja-JP.json
  mobile/assets/i18n/ko-KR.json
  mobile/assets/i18n/lt-LT.json
  mobile/assets/i18n/lv-LV.json
  mobile/assets/i18n/mn.json
  mobile/assets/i18n/nb-NO.json
  mobile/assets/i18n/nl-NL.json
  mobile/assets/i18n/pl-PL.json
  mobile/assets/i18n/pt-PT.json
  mobile/assets/i18n/ro-RO.json
  mobile/assets/i18n/ru-RU.json
  mobile/assets/i18n/sk-SK.json
  mobile/assets/i18n/sl-SI.json
  mobile/assets/i18n/sr-Cyrl.json
  mobile/assets/i18n/sr-Latn.json
  mobile/assets/i18n/sv-FI.json
  mobile/assets/i18n/sv-SE.json
  mobile/assets/i18n/th-TH.json
  mobile/assets/i18n/uk-UA.json
  mobile/assets/i18n/vi-VN.json
  mobile/assets/i18n/zh-CN.json
  mobile/assets/i18n/zh-Hans.json
  mobile/assets/i18n/zh-TW.json
Labels: 📱mobile

#9194 fix(server): show partners archived photos on mobile timeline
  server/src/dtos/asset-response.dto.ts
Labels: 🗄️server

#9290 fix(mobile): allow select empty album as backup album
  mobile/lib/providers/backup/backup.provider.dart
Labels: 📱mobile

#9311 docs: add custom map styles community guide
  docs/docs/guides/custom-map-styles.md
  docs/docs/guides/img/immich_map_styles_publish.png
Labels: documentation

#9315 refactor: create album users
  e2e/src/api/specs/activity.e2e-spec.ts
  e2e/src/api/specs/album.e2e-spec.ts
  mobile/openapi/.openapi-generator/FILES
  mobile/openapi/README.md
  mobile/openapi/doc/AlbumUserCreateDto.md
  mobile/openapi/doc/CreateAlbumDto.md
  mobile/openapi/lib/api.dart
  mobile/openapi/lib/api_client.dart
  mobile/openapi/lib/model/album_user_create_dto.dart
  mobile/openapi/lib/model/create_album_dto.dart
  mobile/openapi/test/album_user_create_dto_test.dart
  mobile/openapi/test/create_album_dto_test.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/dtos/album.dto.ts
  server/src/repositories/album.repository.ts
  server/src/services/album.service.spec.ts
  server/src/services/album.service.ts
Labels: 🗄️server

#9288 fix(mobile): fix ca-CA.json file name
  mobile/assets/i18n/ca-CA.json
Labels: 📱mobile

#9320 fix(web): allow deselecting all assets from select bar
  web/src/lib/components/photos-page/actions/select-all-assets.svelte
  web/src/lib/utils/asset-utils.ts
Labels: 🖥️web

#9301 Random Endpoint use querybuilder and return exifInfo
  server/src/queries/asset.repository.sql
  server/src/repositories/asset.repository.ts
Labels: 🗄️server

#9273 fix(mobile): Fix asset selector title bar text
  mobile/assets/i18n/en-US.json
  mobile/lib/pages/common/album_asset_selection.page.dart
Labels: 📱mobile

#9274 feat(mobile): Add pull to refresh to sharing page
  mobile/lib/pages/sharing/sharing.page.dart
Labels: 📱mobile

#7513 feat(server): optimize person thumbnail generation
  server/src/interfaces/media.interface.ts
  server/src/repositories/media.repository.ts
  server/src/services/media.service.spec.ts
  server/src/services/media.service.ts
  server/src/services/person.service.spec.ts
  server/src/services/person.service.ts
  server/test/fixtures/asset.stub.ts
  server/test/repositories/media.repository.mock.ts
Labels: 🗄️server

#9334 chore(server): remove unused deps
  server/package-lock.json
  server/package.json
  server/src/dtos/album.dto.ts
Labels: 🗄️server

#9337 docs: update portainer.md
  docs/docs/install/portainer.md
Labels: documentation

#9342 Chore: Add Arabic translations to readme
  readme_i18n/README_ar_JO.md
Labels: documentation

#9353 docs: backup restore - add warning to not backup DB_DATA_LOCATION
  docs/docs/administration/backup-and-restore.md
Labels: documentation

#9346 fix(web): fix logo size on shared pages
  web/src/lib/components/album-page/album-viewer.svelte
  web/src/lib/components/share-page/individual-shared-viewer.svelte
Labels: 🖥️web

#9324 Revert "feat(android) Check server is reachable before starting background backup (#8989)"
  mobile/android/app/src/main/kotlin/com/example/mobile/BackgroundServicePlugin.kt
  mobile/android/app/src/main/kotlin/com/example/mobile/BackupWorker.kt
  mobile/ios/Runner/BackgroundSync/BackgroundServicePlugin.swift
  mobile/lib/services/background.service.dart
Labels: 📱mobile

#9358 fix(mobile): timeline slider no longer disappears
  mobile/lib/widgets/asset_grid/draggable_scrollbar_custom.dart
  mobile/lib/widgets/asset_grid/immich_asset_grid_view.dart
Labels: 📱mobile

#9344 refactor(server): auth route metadata
  open-api/immich-openapi-specs.json
  server/src/controllers/activity.controller.ts
  server/src/controllers/album.controller.ts
  server/src/controllers/api-key.controller.ts
  server/src/controllers/app.controller.ts
  server/src/controllers/asset-v1.controller.ts
  server/src/controllers/asset.controller.ts
  server/src/controllers/audit.controller.ts
  server/src/controllers/auth.controller.ts
  server/src/controllers/download.controller.ts
  server/src/controllers/face.controller.ts
  server/src/controllers/file-report.controller.ts
  server/src/controllers/job.controller.ts
  server/src/controllers/library.controller.ts
  server/src/controllers/memory.controller.ts
  server/src/controllers/oauth.controller.ts
  server/src/controllers/partner.controller.ts
  server/src/controllers/person.controller.ts
  server/src/controllers/search.controller.ts
  server/src/controllers/server-info.controller.ts
  server/src/controllers/session.controller.ts
  server/src/controllers/shared-link.controller.ts
  server/src/controllers/sync.controller.ts
  server/src/controllers/system-config.controller.ts
  server/src/controllers/system-metadata.controller.ts
  server/src/controllers/tag.controller.ts
  server/src/controllers/timeline.controller.ts
  server/src/controllers/trash.controller.ts
  server/src/controllers/user.controller.ts
  server/src/dtos/auth.dto.ts
  server/src/middleware/auth.guard.ts
  server/src/services/auth.service.ts
  server/src/utils/misc.ts
Labels: 🗄️server

#9362 chore: put back warning banner
  docs/docusaurus.config.js
Labels: documentation

#9343 fix(web): multiple fixes for people
  web/src/lib/components/faces-page/merge-face-selector.svelte
  web/src/lib/components/faces-page/people-list.svelte
  web/src/lib/components/faces-page/unmerge-face-selector.svelte
  web/src/routes/(user)/people/+page.svelte
  web/src/routes/(user)/people/[personId]/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web

#9371 docs: warn against use on NTFS / WSL
  docs/docs/FAQ.mdx
  docs/docs/install/environment-variables.md
  docs/docs/install/requirements.md
Labels: documentation

#9363 refactor(mobile): remove shared module
  mobile/lib/main.dart
  mobile/lib/utils/cache/custom_image_cache.dart
  mobile/lib/utils/cache/widgets_binding.dart
  mobile/lib/utils/hooks/app_settings_update_hook.dart
  mobile/lib/utils/hooks/blurhash_hook.dart
  mobile/lib/utils/hooks/chewiew_controller_hook.dart
  mobile/lib/utils/hooks/timer_hook.dart
  mobile/lib/widgets/asset_viewer/custom_video_player_controls.dart
  mobile/lib/widgets/asset_viewer/video_player.dart
  mobile/lib/widgets/common/immich_thumbnail.dart
  mobile/lib/widgets/memories/memory_card.dart
  mobile/lib/widgets/settings/advanced_settings.dart
  mobile/lib/widgets/settings/asset_list_settings/asset_list_group_settings.dart
  mobile/lib/widgets/settings/asset_list_settings/asset_list_layout_settings.dart
  mobile/lib/widgets/settings/asset_list_settings/asset_list_settings.dart
  mobile/lib/widgets/settings/backup_settings/backup_settings.dart
  mobile/lib/widgets/settings/image_viewer_quality_setting.dart
  mobile/lib/widgets/settings/notification_setting.dart
  mobile/lib/widgets/settings/preference_settings/haptic_setting.dart
  mobile/lib/widgets/settings/preference_settings/theme_setting.dart
Labels: 📱mobile

#9376 fix(web): autofocus change name field
  web/src/routes/(user)/people/+page.svelte
Labels: 🖥️web

#9379 docs: add discord link
  docs/docusaurus.config.js
  docs/src/pages/index.tsx
Labels: documentation

#9377 perf: cache `getConfig`
  server/src/cores/system-config.core.ts
  server/src/interfaces/database.interface.ts
  server/src/services/metadata.service.spec.ts
Labels: 🗄️server

#9381 perf: cache transcoding devices
  server/src/services/media.service.spec.ts
  server/src/services/media.service.ts
Labels: 🗄️server

#9382 fix(web): Fixed video unmutes when scrubbing
  web/src/lib/components/asset-viewer/video-native-viewer.svelte
  web/src/lib/stores/preferences.store.ts
Labels: 🖥️web

#9059 docs: small changes&updates
  README.md
  docs/docs/administration/backup-and-restore.md
  docs/docs/developer/pr-checklist.md
  docs/src/components/community-guides.tsx
  docs/src/components/community-projects.tsx
  web/src/lib/components/forms/library-exclusion-pattern-form.svelte
Labels: documentation

#9384 feat(server): enable data page checksums
  docker/docker-compose.dev.yml
  docker/docker-compose.prod.yml
  docker/docker-compose.yml
Labels: deployment

#9397 fix(web): page down shortcut
  web/src/lib/components/photos-page/asset-grid.svelte
Labels: 🖥️web

#9401 chore(server): less rigid transcoding tests
  server/src/services/media.service.spec.ts
Labels: 🗄️server

#9403 chore(web): icon consistency and improvements
  web/src/lib/components/shared-components/side-bar/side-bar.svelte
Labels: 🖥️web

#9399 Update README_nl_NL.md with missing parts included on the english readme
  readme_i18n/README_nl_NL.md
Labels: documentation

#7439 feat(server, web): include pictures of shared albums on map
  mobile/openapi/doc/AssetApi.md
  mobile/openapi/lib/api/asset_api.dart
  mobile/openapi/test/asset_api_test.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/dtos/search.dto.ts
  server/src/interfaces/asset.interface.ts
  server/src/repositories/asset.repository.ts
  server/src/services/asset.service.spec.ts
  server/src/services/asset.service.ts
  web/src/lib/components/map-page/map-settings-modal.svelte
  web/src/lib/stores/preferences.store.ts
  web/src/routes/(user)/map/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, 🗄️server

#9421 Update portainer install docs
  docs/docs/install/portainer.md
Labels: documentation

#9423 chore(server): email notification button png
  docs/static/img/ios-app-store-badge.png
  server/src/emails/welcome.email.tsx
Labels: 🗄️server

#9425 fix(server): put system config
  e2e/src/api/specs/system-config.e2e-spec.ts
  server/src/cores/system-config.core.ts
Labels: 🗄️server

#9420 Update external-library.md
  docs/docs/guides/external-library.md
Labels: documentation

#9432 Localizely: Translations update
  mobile/assets/i18n/ar-JO.json
  mobile/assets/i18n/cs-CZ.json
  mobile/assets/i18n/da-DK.json
  mobile/assets/i18n/de-DE.json
  mobile/assets/i18n/el-GR.json
  mobile/assets/i18n/en-US.json
  mobile/assets/i18n/es-ES.json
  mobile/assets/i18n/es-MX.json
  mobile/assets/i18n/es-PE.json
  mobile/assets/i18n/es-US.json
  mobile/assets/i18n/fi-FI.json
  mobile/assets/i18n/fr-CA.json
  mobile/assets/i18n/fr-FR.json
  mobile/assets/i18n/he-IL.json
  mobile/assets/i18n/hi-IN.json
  mobile/assets/i18n/hu-HU.json
  mobile/assets/i18n/it-IT.json
  mobile/assets/i18n/ja-JP.json
  mobile/assets/i18n/ko-KR.json
  mobile/assets/i18n/lt-LT.json
  mobile/assets/i18n/lv-LV.json
  mobile/assets/i18n/mn.json
  mobile/assets/i18n/nb-NO.json
  mobile/assets/i18n/nl-NL.json
  mobile/assets/i18n/pl-PL.json
  mobile/assets/i18n/pt-PT.json
  mobile/assets/i18n/ro-RO.json
  mobile/assets/i18n/ru-RU.json
  mobile/assets/i18n/sk-SK.json
  mobile/assets/i18n/sl-SI.json
  mobile/assets/i18n/sr-Cyrl.json
  mobile/assets/i18n/sr-Latn.json
  mobile/assets/i18n/sv-FI.json
  mobile/assets/i18n/sv-SE.json
  mobile/assets/i18n/th-TH.json
  mobile/assets/i18n/uk-UA.json
  mobile/assets/i18n/vi-VN.json
  mobile/assets/i18n/zh-CN.json
  mobile/assets/i18n/zh-Hans.json
  mobile/assets/i18n/zh-TW.json
Labels: 📱mobile

#9435 fix(web): show w x h correctly when media is rotated
  web/src/lib/components/asset-viewer/detail-panel.svelte
  web/src/lib/utils/asset-utils.ts
Labels: 🖥️web

#9438 fix(server): regenerate (extract) motion videos
  server/src/services/metadata.service.spec.ts
  server/src/services/metadata.service.ts
Labels: 🗄️server

#9431 chore(server): remove unused column
  server/src/entities/exif.entity.ts
  server/src/migrations/1656889061566-MatchMigrationsWithTypeORMEntities.ts
  server/src/migrations/1658860470248-AddExifImageNameAsSearchableText.ts
  server/src/migrations/1681159594469-RemoveImageNameFromEXIFTable.ts
  server/src/migrations/1700362016675-Geodata.ts
  server/src/migrations/1708059341865-GeodataLocationSearch.ts
  server/src/migrations/1715623169039-RemoveTextSearchColumn.ts
  server/src/services/metadata.service.ts
  server/test/fixtures/shared-link.stub.ts
Labels: 🗄️server

#9427 feat(web): combine auth settings
  web/src/lib/components/admin-page/settings/auth/auth-settings.svelte
  web/src/lib/components/admin-page/settings/confirm-disable-login.svelte
  web/src/lib/components/admin-page/settings/oauth/oauth-settings.svelte
  web/src/lib/components/admin-page/settings/password-login/password-login-settings.svelte
  web/src/routes/admin/system-settings/+page.svelte
Labels: 🖥️web

#9385 fix(server): support special characters in library paths
  server/src/repositories/storage.repository.spec.ts
  server/src/repositories/storage.repository.ts
Labels: 🗄️server, breaking-change

#9451 Fix typo in error page title
  web/src/routes/(user)/share/[key]/+error.svelte
Labels: 🖥️web

#9436 fix(server): addAssets and removeAssets handle duplicate assetIds
  e2e/src/api/specs/album.e2e-spec.ts
  server/src/utils/asset.util.ts
Labels: 🗄️server

#9455 fix(web): decrease asset viewer navigation area size
  web/src/lib/components/asset-viewer/asset-viewer.svelte
  web/src/lib/components/asset-viewer/navigation-area.svelte
Labels: 🖥️web

#9282 fix install.sh add random password for .env
  install.sh
Labels: documentation

#9465 docs: remove mention of delete being disabled for external assets
  docs/docs/features/libraries.md
Labels: documentation

#9472 refactor(server): logger
  server/src/controllers/asset-v1.controller.ts
  server/src/controllers/download.controller.ts
  server/src/controllers/person.controller.ts
  server/src/controllers/user.controller.ts
  server/src/repositories/logger.repository.ts
  server/src/utils/file.ts
  server/src/utils/logger.ts
Labels: 🗄️server

#9477 docs(ml): update link
  docs/docs/features/hardware-transcoding.md
  docs/docs/features/ml-hardware-acceleration.md
Labels: documentation

#9189 fix(server): new full sync return stacked assets individually
  server/src/interfaces/asset.interface.ts
  server/src/queries/asset.repository.sql
  server/src/repositories/asset.repository.ts
  server/src/services/sync.service.spec.ts
  server/src/services/sync.service.ts
Labels: 🗄️server

#9470 fix(web): admin settings number input validation
  web/package-lock.json
  web/package.json
  web/src/lib/components/shared-components/settings/setting-input-field.spec.ts
  web/src/lib/components/shared-components/settings/setting-input-field.svelte
Labels: 🖥️web

#8842 feat(mobile): use efficient sync
  mobile/lib/pages/photos/photos.page.dart
  mobile/lib/pages/sharing/partner/partner_detail.page.dart
  mobile/lib/providers/app_life_cycle.provider.dart
  mobile/lib/providers/asset.provider.dart
  mobile/lib/routing/tab_navigation_observer.dart
  mobile/lib/services/api.service.dart
  mobile/lib/services/asset.service.dart
  mobile/lib/services/memory.service.dart
  mobile/lib/services/sync.service.dart
  mobile/lib/services/user.service.dart
  mobile/lib/utils/migration.dart
  mobile/test/modules/shared/sync_service_test.dart
Labels: 📱mobile

#9464 Added Swedish translation of README.
  readme_i18n/README_ar_JO.md
  readme_i18n/README_ca_ES.md
  readme_i18n/README_de_DE.md
  readme_i18n/README_es_ES.md
  readme_i18n/README_fr_FR.md
  readme_i18n/README_it_IT.md
  readme_i18n/README_ja_JP.md
  readme_i18n/README_ko_KR.md
  readme_i18n/README_nl_NL.md
  readme_i18n/README_pt_BR.md
  readme_i18n/README_ru_RU.md
  readme_i18n/README_sv_SE.md
  readme_i18n/README_tr_TR.md
  readme_i18n/README_zh_CN.md
Labels: documentation

#9479 fix(server): sync issue when delete remotes assets
  server/src/repositories/audit.repository.ts
Labels: 🗄️server

#9456 deps(mobile): update dependency auto_route to v8
  mobile/lib/pages/backup/album_preview.page.dart
  mobile/lib/pages/backup/backup_album_selection.page.dart
  mobile/lib/pages/backup/backup_controller.page.dart
  mobile/lib/pages/backup/backup_options.page.dart
  mobile/lib/pages/backup/failed_backup_status.page.dart
  mobile/lib/pages/common/album_additional_shared_user_selection.page.dart
  mobile/lib/pages/common/album_options.page.dart
  mobile/lib/pages/common/album_shared_user_selection.page.dart
  mobile/lib/pages/common/app_log.page.dart
  mobile/lib/pages/common/create_album.page.dart
  mobile/lib/pages/common/gallery_viewer.page.dart
  mobile/lib/pages/common/video_viewer.page.dart
  mobile/lib/pages/library/archive.page.dart
  mobile/lib/pages/library/favorite.page.dart
  mobile/lib/pages/library/trash.page.dart
  mobile/lib/pages/onboarding/permission_onboarding.page.dart
  mobile/lib/pages/photos/memory.page.dart
  mobile/lib/pages/search/all_motion_videos.page.dart
  mobile/lib/pages/search/all_people.page.dart
  mobile/lib/pages/search/all_places.page.dart
  mobile/lib/pages/search/all_videos.page.dart
  mobile/lib/pages/search/map/map_location_picker.page.dart
  mobile/lib/pages/search/person_result.page.dart
  mobile/lib/pages/search/recently_added.page.dart
  mobile/lib/pages/search/search_input.page.dart
  mobile/lib/pages/sharing/shared_link/shared_link_edit.page.dart
  mobile/lib/routing/router.dart
  mobile/lib/routing/router.gr.dart
  mobile/lib/widgets/album/album_viewer_appbar.dart
  mobile/lib/widgets/asset_viewer/bottom_gallery_bar.dart
  mobile/lib/widgets/asset_viewer/top_control_app_bar.dart
  mobile/lib/widgets/common/location_picker.dart
  mobile/lib/widgets/map/map_app_bar.dart
  mobile/lib/widgets/memories/memory_bottom_info.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: 📱mobile

#9492 refactor(server): feature flags
  server/src/cores/system-config.core.ts
  server/src/dtos/server-info.dto.ts
  server/src/services/job.service.spec.ts
  server/src/services/job.service.ts
  server/src/services/metadata.service.ts
  server/src/services/person.service.ts
  server/src/services/search.service.ts
  server/src/services/server-info.service.ts
  server/src/services/smart-info.service.ts
  server/src/services/system-config.service.ts
  server/src/utils/misc.ts
Labels: 🗄️server

#8615 feat(web,mobile) Allow videos to be looped in the detail viewer
  mobile/assets/i18n/de-DE.json
  mobile/assets/i18n/en-US.json
  mobile/lib/entities/store.entity.dart
  mobile/lib/pages/common/gallery_viewer.page.dart
  mobile/lib/pages/common/settings.page.dart
  mobile/lib/pages/common/video_viewer.page.dart
  mobile/lib/services/app_settings.service.dart
  mobile/lib/utils/hooks/chewiew_controller_hook.dart
  mobile/lib/widgets/asset_viewer/video_player.dart
  mobile/lib/widgets/settings/asset_viewer_settings/asset_viewer_settings.dart
  mobile/lib/widgets/settings/asset_viewer_settings/image_viewer_quality_setting.dart
  mobile/lib/widgets/settings/asset_viewer_settings/video_viewer_settings.dart
  mobile/lib/widgets/settings/image_viewer_quality_setting.dart
  web/src/lib/components/asset-viewer/asset-viewer.svelte
  web/src/lib/components/asset-viewer/video-native-viewer.svelte
  web/src/lib/components/asset-viewer/video-wrapper-viewer.svelte
  web/src/lib/components/user-settings-page/app-settings.svelte
  web/src/lib/stores/preferences.store.ts
Labels: 📱mobile, 🖥️web

#9496 fix(server): skip originals when deleting a library
  server/src/services/asset.service.ts
Labels: 🗄️server

#9506 fix(server): smtp certificate validation
  server/src/repositories/notification.repository.ts
Labels: 🗄️server

#9521 chore(server): remove unused property
  mobile/openapi/doc/CreateLibraryDto.md
  mobile/openapi/doc/UpdateLibraryDto.md
  mobile/openapi/lib/model/create_library_dto.dart
  mobile/openapi/lib/model/update_library_dto.dart
  mobile/openapi/test/create_library_dto_test.dart
  mobile/openapi/test/update_library_dto_test.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/cores/user.core.ts
  server/src/dtos/library.dto.ts
  server/src/entities/library.entity.ts
  server/src/migrations/1715798702876-RemoveLibraryIsVisible.ts
  server/src/queries/library.repository.sql
  server/src/repositories/library.repository.ts
  server/src/services/asset-v1.service.ts
  server/src/services/library.service.spec.ts
  server/src/services/library.service.ts
  server/test/fixtures/library.stub.ts
Labels: 🗄️server

#9517 refactor(server): system config
  docs/docs/guides/database-queries.md
  e2e/src/utils.ts
  server/src/cores/storage.core.ts
  server/src/cores/system-config.core.ts
  server/src/entities/index.ts
  server/src/entities/system-config.entity.ts
  server/src/entities/system-metadata.entity.ts
  server/src/interfaces/system-config.interface.ts
  server/src/interfaces/system-metadata.interface.ts
  server/src/migrations/1715787369686-RemoveSystemConfigTable.ts
  server/src/queries/system.config.repository.sql
  server/src/repositories/index.ts
  server/src/repositories/system-config.repository.ts
  server/src/repositories/system-metadata.repository.ts
  server/src/services/asset.service.spec.ts
  server/src/services/asset.service.ts
  server/src/services/auth.service.spec.ts
  server/src/services/auth.service.ts
  server/src/services/job.service.spec.ts
  server/src/services/job.service.ts
  server/src/services/library.service.spec.ts
  server/src/services/library.service.ts
  server/src/services/media.service.spec.ts
  server/src/services/media.service.ts
  server/src/services/metadata.service.spec.ts
  server/src/services/metadata.service.ts
  server/src/services/notification.service.ts
  server/src/services/person.service.spec.ts
  server/src/services/person.service.ts
  server/src/services/search.service.spec.ts
  server/src/services/search.service.ts
  server/src/services/server-info.service.spec.ts
  server/src/services/server-info.service.ts
  server/src/services/smart-info.service.spec.ts
  server/src/services/smart-info.service.ts
  server/src/services/storage-template.service.spec.ts
  server/src/services/storage-template.service.ts
  server/src/services/system-config.service.spec.ts
  server/src/services/system-config.service.ts
  server/src/services/user.service.spec.ts
  server/src/services/user.service.ts
  server/src/utils/misc.spec.ts
  server/src/utils/misc.ts
  server/test/fixtures/system-config.stub.ts
  server/test/repositories/system-config.repository.mock.ts
  server/test/repositories/system-metadata.repository.mock.ts
Labels: 🗄️server

#9452 feat(server): fully accelerated nvenc
  docker/hwaccel.ml.yml
  docker/hwaccel.transcoding.yml
  docs/docs/features/hardware-transcoding.md
  mobile/openapi/doc/SystemConfigFFmpegDto.md
  mobile/openapi/lib/model/system_config_f_fmpeg_dto.dart
  mobile/openapi/test/system_config_f_fmpeg_dto_test.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/config.ts
  server/src/dtos/system-config.dto.ts
  server/src/services/media.service.spec.ts
  server/src/services/media.service.ts
  server/src/services/system-config.service.spec.ts
  server/src/utils/media.ts
  web/src/lib/components/admin-page/settings/ffmpeg/ffmpeg-settings.svelte
Labels: 🗄️server, feel-free-to-merge-👍

#9539 fix(server): use jasonnnnnnnnnb
  server/src/entities/system-metadata.entity.ts
  server/src/migrations/1715890481637-FixJsonB.ts
Labels: 🗄️server

#9542 refactor(server): duplicate controller and service
  server/src/controllers/asset.controller.ts
  server/src/controllers/duplicate.controller.ts
  server/src/services/asset.service.ts
  server/src/services/duplicate.service.spec.ts
  server/src/services/duplicate.service.ts
  server/src/services/index.ts
  server/src/services/microservices.service.ts
  server/src/services/search.service.spec.ts
  server/src/services/search.service.ts
Labels: 🗄️server, maintenance

#9551 feat: microservices be gone
  docker/docker-compose.dev.yml
  docker/docker-compose.prod.yml
  docker/docker-compose.yml
  e2e/docker-compose.yml
  server/Dockerfile
  server/src/main.ts
  server/src/utils/workers.spec.ts
  server/src/utils/workers.ts
  server/src/workers/api.ts
  server/src/workers/microservices.ts
  server/start-microservices.sh
  server/start-server.sh
Labels: deployment, 🗄️server, breaking-change

#9552 fix: when using old script args, just set the workers include var
  server/src/main.ts
Labels: deployment, 🗄️server

#9554 chore(server): openapi generation
  mobile/openapi/README.md
  mobile/openapi/doc/AssetApi.md
  mobile/openapi/lib/api/asset_api.dart
  mobile/openapi/test/asset_api_test.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
Labels: 🗄️server

#9553 chore(web): light theme text color improvement
  web/src/app.css
Labels: 🖥️web

#9557 refactor!: LOG_LEVEL => IMMICH_LOG_LEVEL
  docs/docs/features/ml-hardware-acceleration.md
  docs/docs/install/environment-variables.md
  machine-learning/app/config.py
  server/src/config.ts
  server/src/main.ts
  server/src/services/system-config.service.ts
Labels: breaking-change

#9555 refactor(server): new version check
  server/src/constants.ts
  server/src/controllers/server-info.controller.ts
  server/src/dtos/server-info.dto.ts
  server/src/entities/system-metadata.entity.ts
  server/src/interfaces/job.interface.ts
  server/src/repositories/job.repository.ts
  server/src/services/api.service.ts
  server/src/services/index.ts
  server/src/services/microservices.service.ts
  server/src/services/server-info.service.spec.ts
  server/src/services/server-info.service.ts
  server/src/services/version.service.spec.ts
  server/src/services/version.service.ts
  server/src/utils/misc.ts
  server/src/workers/api.ts
  web/src/lib/stores/websocket.ts
Labels: 🗄️server

#9559 refactor!: port env
  docs/docs/install/environment-variables.md
  e2e/src/setup.ts
  machine-learning/start.sh
  server/src/config.ts
  server/src/workers/api.ts
  server/src/workers/microservices.ts
Labels: breaking-change

#9560 chore(server): openapi generation for Duplicate controller
  mobile/openapi/.openapi-generator/FILES
  mobile/openapi/README.md
  mobile/openapi/doc/DuplicateApi.md
  mobile/openapi/lib/api.dart
  mobile/openapi/lib/api/duplicate_api.dart
  mobile/openapi/test/duplicate_api_test.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/controllers/index.ts
Labels: 🗄️server

#9561 refactor: node_env => immich_env
  docs/docs/install/environment-variables.md
  machine-learning/Dockerfile
  machine-learning/export/Dockerfile
  server/Dockerfile
  server/src/config.ts
  server/src/constants.ts
  server/src/services/version.service.spec.ts
Labels: 🗄️server

#9565 fix(server): Disable duplicate detection when smart search disabled
  server/src/utils/misc.ts
Labels: 🗄️server

#9563 refactor: sdk init
  cli/src/utils.ts
  e2e/src/utils.ts
  e2e/src/web/specs/auth.e2e-spec.ts
  e2e/src/web/specs/shared-link.e2e-spec.ts
  open-api/typescript-sdk/README.md
  open-api/typescript-sdk/src/index.ts
  web/src/lib/utils.ts
  web/src/lib/utils/asset-utils.ts
  web/src/lib/utils/file-uploader.ts
Labels: cli

#9566 docs: use `npm` in README
  docs/README.md
Labels: documentation

#9541 fix(ml): openvino not working with kernel 6.7.5 or later
  machine-learning/Dockerfile
Labels: deployment, 🧠machine-learning

#9576 chore(server): return duplicate assets as group
  server/src/controllers/duplicate.controller.ts
  server/src/dtos/asset-response.dto.ts
  server/src/dtos/duplicate.dto.ts
  server/src/services/duplicate.service.ts
Labels: 🗄️server

#9562 chore: vs code formatter settings
  .vscode/settings.json
Labels: maintenance

#9556 docs: Add pgadmin4 to docker-compose.yml
  docs/docs/guides/database-gui.md
  docs/docs/guides/img/Connection-Pgadmin.png
  docs/docs/guides/img/add-new-server-option.png
  docs/docs/guides/img/pgadmin-add-new-server.png
Labels: documentation

#9604 docs: community docs typos
  docs/src/components/community-guides.tsx
  docs/src/components/community-projects.tsx
Labels: documentation

#9603 fix(web): prevent asset grid dates from being truncated
  web/src/lib/components/photos-page/asset-date-group.svelte
Labels: 🖥️web

#9600 fix: docker compose pull rate limit
  docker/docker-compose.yml
Labels: deployment

#9615 refactor(server): version logic
  server/package-lock.json
  server/package.json
  server/src/constants.ts
  server/src/database.config.ts
  server/src/dtos/server-info.dto.ts
  server/src/interfaces/database.interface.ts
  server/src/migrations/1700713871511-UsePgVectors.ts
  server/src/migrations/1700713994428-AddCLIPEmbeddingIndex.ts
  server/src/migrations/1700714033632-AddFaceEmbeddingIndex.ts
  server/src/repositories/database.repository.ts
  server/src/repositories/search.repository.ts
  server/src/services/database.service.spec.ts
  server/src/services/database.service.ts
  server/src/services/version.service.spec.ts
  server/src/services/version.service.ts
  server/src/utils/lifecycle.ts
  server/src/utils/version.spec.ts
  server/src/utils/version.ts
  server/test/repositories/database.repository.mock.ts
Labels: 🗄️server

#9620 fix(server): semver in development
  server/package-lock.json
  server/package.json
Labels: 🗄️server

#9625 chore: update fvmrc flutter version to 3.22.0
  mobile/.fvmrc
Labels: 📱mobile

#9624 fix(mobile): invite user list
  mobile/lib/pages/common/album_additional_shared_user_selection.page.dart
Labels: 📱mobile

#9634 ci: add conventional commit validation for PR titles
  .github/workflows/pr-require-conventional-commit.yml
Labels: deployment

#9635 fix: auth sub override
  server/src/services/auth.service.spec.ts
  server/src/services/auth.service.ts
  server/test/fixtures/system-config.stub.ts
Labels: 🗄️server

#9647 chore: remove unused stubs
  server/test/fixtures/auth.stub.ts
  server/test/fixtures/error.stub.ts
  server/test/fixtures/uuid.stub.ts
Labels: maintenance

#9640 fix(web): emit updated date when pressing enter
  web/src/lib/components/elements/date-input.svelte
Labels: 🖥️web

#9658 refactor(web): refactor album selection modal and album summary component
  web/src/lib/components/album-page/album-summary.svelte
  web/src/lib/components/asset-viewer/album-list-item-details.svelte
  web/src/lib/components/asset-viewer/album-list-item.svelte
  web/src/lib/components/asset-viewer/detail-panel.svelte
  web/src/lib/components/shared-components/album-selection-modal.svelte
Labels: 🖥️web

#9590 feat(server): healthchecks for PG and redis
  docker/docker-compose.dev.yml
  docker/docker-compose.prod.yml
  docker/docker-compose.yml
Labels: deployment

#9650 feat(server): user metadata
  e2e/src/api/specs/user.e2e-spec.ts
  server/src/cores/user.core.ts
  server/src/dtos/user-profile.dto.ts
  server/src/dtos/user.dto.ts
  server/src/entities/index.ts
  server/src/entities/user-metadata.entity.ts
  server/src/entities/user.entity.ts
  server/src/interfaces/user.interface.ts
  server/src/migrations/1716312279245-UserMetadata.ts
  server/src/queries/activity.repository.sql
  server/src/queries/album.repository.sql
  server/src/queries/api.key.repository.sql
  server/src/queries/library.repository.sql
  server/src/queries/session.repository.sql
  server/src/queries/shared.link.repository.sql
  server/src/queries/user.repository.sql
  server/src/repositories/user.repository.ts
  server/src/services/auth.service.spec.ts
  server/src/services/partner.service.spec.ts
  server/src/services/user.service.spec.ts
  server/src/services/user.service.ts
  server/src/utils/preferences.ts
  server/test/fixtures/user.stub.ts
  server/test/repositories/user.repository.mock.ts
Labels: 🗄️server

#9662 fix(web): albums dark mode contrast + a11y issue
  web/src/lib/components/album-page/album-card-group.svelte
  web/src/lib/components/album-page/album-card.svelte
  web/src/lib/components/album-page/albums-table.svelte
Labels: 🖥️web

#9663 feat(web): s
  web/src/lib/components/album-page/album-card.svelte
  web/src/lib/components/faces-page/unmerge-face-selector.svelte
  web/src/lib/components/forms/library-import-paths-form.svelte
  web/src/lib/components/photos-page/actions/remove-from-album.svelte
  web/src/lib/components/photos-page/delete-asset-dialog.svelte
  web/src/lib/components/shared-components/upload-panel.svelte
  web/src/lib/utils.ts
  web/src/lib/utils/asset-utils.ts
  web/src/routes/(user)/albums/[albumId=id]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/people/[personId]/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web

#9583 feat: add docker healthchecks to server and ml
  machine-learning/Dockerfile
  machine-learning/app/healthcheck.py
  server/Dockerfile
  server/package.json
  server/src/utils/healthcheck.ts
Labels: deployment, 🗄️server

#9667 refactor(server): plural endpoints
  e2e/src/api/specs/activity.e2e-spec.ts
  e2e/src/api/specs/album.e2e-spec.ts
  e2e/src/api/specs/asset.e2e-spec.ts
  e2e/src/api/specs/audit.e2e-spec.ts
  e2e/src/api/specs/library.e2e-spec.ts
  e2e/src/api/specs/partner.e2e-spec.ts
  e2e/src/api/specs/person.e2e-spec.ts
  e2e/src/api/specs/shared-link.e2e-spec.ts
  e2e/src/api/specs/user.e2e-spec.ts
  mobile/lib/utils/image_url_builder.dart
  mobile/openapi/README.md
  mobile/openapi/lib/api/activity_api.dart
  mobile/openapi/lib/api/album_api.dart
  mobile/openapi/lib/api/api_key_api.dart
  mobile/openapi/lib/api/face_api.dart
  mobile/openapi/lib/api/file_report_api.dart
  mobile/openapi/lib/api/library_api.dart
  mobile/openapi/lib/api/partner_api.dart
  mobile/openapi/lib/api/person_api.dart
  mobile/openapi/lib/api/shared_link_api.dart
  mobile/openapi/lib/api/tag_api.dart
  mobile/openapi/lib/api/user_api.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/controllers/activity.controller.ts
  server/src/controllers/album.controller.ts
  server/src/controllers/api-key.controller.ts
  server/src/controllers/face.controller.ts
  server/src/controllers/file-report.controller.ts
  server/src/controllers/library.controller.ts
  server/src/controllers/partner.controller.ts
  server/src/controllers/person.controller.ts
  server/src/controllers/shared-link.controller.ts
  server/src/controllers/tag.controller.ts
  server/src/middleware/file-upload.interceptor.ts
  web/src/lib/utils.ts
Labels: 🗄️server, breaking-change

#9668 refactor(server): user info endpoint
  e2e/src/api/specs/user.e2e-spec.ts
  mobile/openapi/README.md
  mobile/openapi/lib/api/user_api.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/controllers/user.controller.ts
Labels: 🗄️server, breaking-change

#9669 refactor(server): /user profile endpoint
  mobile/lib/widgets/common/user_avatar.dart
  mobile/lib/widgets/common/user_circle_avatar.dart
  mobile/openapi/README.md
  mobile/openapi/lib/api/user_api.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/controllers/user.controller.ts
  web/src/lib/utils.ts
Labels: 🗄️server, breaking-change

#9670 chore(server): remove unused code
  server/src/dtos/user.dto.spec.ts
  server/src/dtos/user.dto.ts
Labels: maintenance

#9672 refactor(server): cli service
  server/src/commands/list-users.command.ts
  server/src/commands/oauth-login.ts
  server/src/commands/password-login.ts
  server/src/commands/reset-admin-password.command.ts
  server/src/services/cli.service.spec.ts
  server/src/services/cli.service.ts
  server/src/services/index.ts
  server/src/services/user.service.spec.ts
  server/src/services/user.service.ts
Labels: 🗄️server

#9689 feat(server): qsv hardware decoding and tone-mapping
  server/src/services/media.service.spec.ts
  server/src/services/media.service.ts
  server/src/utils/media.ts
Labels: 🗄️server

#9687 test: sync open api spec
  .github/workflows/test.yml
  Makefile
  misc/release/pump-version.sh
  open-api/bin/generate-open-api.sh
  open-api/bin/sync-spec-version.js
  server/package.json
  server/src/bin/sync-open-api.ts
  server/src/bin/sync-sql.ts
  server/src/utils/misc.ts
Labels: 🗄️server, maintenance

#9700 fix(web): hide detail panel for shared links with hidden metadata
  e2e/src/web/specs/asset-viewer/detail-panel.e2e-spec.ts
  web/src/lib/components/asset-viewer/asset-viewer.svelte
Labels: 🖥️web

#9701 refactor(web): svelte actions
  web/src/lib/actions/autogrow.ts
  web/src/lib/actions/click-outside.ts
  web/src/lib/actions/focus-outside.ts
  web/src/lib/actions/focus.ts
  web/src/lib/actions/list-navigation.ts
  web/src/lib/actions/shortcut.ts
  web/src/lib/components/album-page/album-description.svelte
  web/src/lib/components/album-page/album-title.svelte
  web/src/lib/components/album-page/album-viewer.svelte
  web/src/lib/components/asset-viewer/activity-viewer.svelte
  web/src/lib/components/asset-viewer/asset-viewer-nav-bar.svelte
  web/src/lib/components/asset-viewer/asset-viewer.svelte
  web/src/lib/components/asset-viewer/detail-panel.svelte
  web/src/lib/components/asset-viewer/photo-viewer.svelte
  web/src/lib/components/assets/thumbnail/thumbnail.svelte
  web/src/lib/components/elements/dropdown.svelte
  web/src/lib/components/faces-page/people-search.svelte
  web/src/lib/components/memory-page/memory-viewer.svelte
  web/src/lib/components/photos-page/asset-grid.svelte
  web/src/lib/components/photos-page/asset-select-context-menu.svelte
  web/src/lib/components/shared-components/album-selection-modal.svelte
  web/src/lib/components/shared-components/change-location.svelte
  web/src/lib/components/shared-components/combobox.svelte
  web/src/lib/components/shared-components/context-menu/context-menu.svelte
  web/src/lib/components/shared-components/focus-trap.svelte
  web/src/lib/components/shared-components/full-screen-modal.svelte
  web/src/lib/components/shared-components/navigation-bar/navigation-bar.svelte
  web/src/lib/components/shared-components/search-bar/search-bar.svelte
  web/src/routes/(user)/albums/[albumId=id]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/people/+page.svelte
  web/src/routes/(user)/people/[personId]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/search/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web

#9540 feat(web): deduplication UI
  mobile/openapi/lib/model/asset_bulk_update_dto.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/dtos/asset.dto.ts
  server/src/dtos/duplicate.dto.ts
  web/src/lib/components/admin-page/jobs/jobs-panel.svelte
  web/src/lib/components/admin-page/settings/machine-learning-settings/machine-learning-settings.svelte
  web/src/lib/components/elements/buttons/button.svelte
  web/src/lib/components/shared-components/side-bar/side-bar.svelte
  web/src/lib/components/utilities-page/duplicates/duplicates-compare-control.svelte
  web/src/lib/components/utilities-page/utilities-menu.svelte
  web/src/lib/constants.ts
  web/src/lib/utils/asset-utils.ts
  web/src/routes/(user)/utilities/+page.svelte
  web/src/routes/(user)/utilities/+page.ts
  web/src/routes/(user)/utilities/[duplicates]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/utilities/[duplicates]/[[photos=photos]]/[[assetId=id]]/+page.ts
Labels: 🖥️web

#9704 fix(web): show api key copy button in Firefox
  web/src/lib/components/forms/api-key-secret.svelte
Labels: 🖥️web

#9684 feat: API operation replaceAsset, POST /api/asset/:id/file
  mobile/openapi/README.md
  mobile/openapi/lib/api.dart
  mobile/openapi/lib/api/asset_api.dart
  mobile/openapi/lib/api_client.dart
  mobile/openapi/lib/api_helper.dart
  mobile/openapi/lib/model/asset_media_response_dto.dart
  mobile/openapi/lib/model/asset_media_status.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/controllers/asset-media.controller.ts
  server/src/controllers/asset-v1.controller.ts
  server/src/controllers/index.ts
  server/src/dtos/asset-media-response.dto.ts
  server/src/dtos/asset-media.dto.ts
  server/src/interfaces/asset.interface.ts
  server/src/interfaces/job.interface.ts
  server/src/middleware/file-upload.interceptor.ts
  server/src/services/asset-media.service.spec.ts
  server/src/services/asset-media.service.ts
  server/src/services/asset-v1.service.ts
  server/src/services/asset.service.ts
  server/src/services/index.ts
  server/src/services/job.service.ts
  server/test/fixtures/file.stub.ts
  web/src/lib/components/album-page/album-viewer.svelte
  web/src/lib/components/asset-viewer/asset-viewer-nav-bar.svelte
  web/src/lib/components/asset-viewer/asset-viewer.svelte
  web/src/lib/components/asset-viewer/photo-viewer.svelte
  web/src/lib/components/asset-viewer/video-native-viewer.svelte
  web/src/lib/components/asset-viewer/video-wrapper-viewer.svelte
  web/src/lib/components/assets/thumbnail/thumbnail.svelte
  web/src/lib/models/upload-asset.ts
  web/src/lib/utils.ts
  web/src/lib/utils/file-uploader.ts
  web/src/routes/(user)/albums/[albumId=id]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/auth/login/+page.ts
Labels: 🗄️server

#9714 test: reorder tests in asset.e2e-spec.ts
  e2e/src/api/specs/asset.e2e-spec.ts
Labels: 🗄️server

#9722 fix(server): use qsv format for hwmap
  server/src/services/media.service.spec.ts
  server/src/utils/media.ts
Labels: 🗄️server

#9705 fix(web): allow copying text in photo viewer
  web/src/lib/components/asset-viewer/photo-viewer.svelte
Labels: 🖥️web

#9699 fix(mobile): use correct Focus Node for latitude and longitude
  mobile/lib/widgets/common/location_picker.dart
Labels: 📱mobile

#9691 chore(docs): Russian readme update
  readme_i18n/README_ru_RU.md
Labels: documentation

#9724 chore: remove all deprecated endpoints/properties from server and mobile app
  e2e/src/api/specs/album.e2e-spec.ts
  e2e/src/api/specs/server-info.e2e-spec.ts
  mobile/lib/entities/album.entity.dart
  mobile/lib/services/album.service.dart
  mobile/lib/services/memory.service.dart
  mobile/lib/services/sync.service.dart
  mobile/lib/utils/string_helper.dart
  mobile/openapi/README.md
  mobile/openapi/lib/api.dart
  mobile/openapi/lib/api/deprecated_api.dart
  mobile/openapi/lib/api/server_info_api.dart
  mobile/openapi/lib/model/add_users_dto.dart
  mobile/openapi/lib/model/album_response_dto.dart
  mobile/openapi/lib/model/asset_response_dto.dart
  mobile/openapi/lib/model/create_album_dto.dart
  mobile/openapi/lib/model/memory_lane_response_dto.dart
  mobile/openapi/lib/model/metadata_search_dto.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/controllers/server-info.controller.ts
  server/src/dtos/album.dto.ts
  server/src/dtos/asset-response.dto.ts
  server/src/dtos/search.dto.ts
  server/src/services/album.service.spec.ts
  server/src/services/album.service.ts
  server/src/services/search.service.ts
  server/test/fixtures/shared-link.stub.ts
  web/src/lib/components/album-page/album-options.svelte
  web/src/lib/components/album-page/user-selection-modal.svelte
  web/src/lib/components/asset-viewer/detail-panel.svelte
  web/src/routes/(user)/albums/[albumId=id]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/test-data/factories/album-factory.ts
Labels: 📱mobile, 🗄️server

#9737 refactor(server): remove unused code
  server/src/cores/user.core.ts
  server/src/services/auth.service.spec.ts
  server/src/services/auth.service.ts
  server/src/services/cli.service.spec.ts
  server/src/services/cli.service.ts
  server/src/services/user.service.spec.ts
  server/src/services/user.service.ts
Labels: 🗄️server

#8659 fix(server): use correct file extension for motion photo videos
  server/src/migrations/1715435221124-MotionAssetExtensionMP4.ts
  server/src/services/metadata.service.spec.ts
  server/src/services/metadata.service.ts
  server/test/fixtures/asset.stub.ts
Labels: 🗄️server

#9738 fix: config error logging
  server/src/cores/system-config.core.ts
  server/src/services/system-config.service.spec.ts
Labels: 🗄️server

#9715 refactor: Move checkExistingAssets(), checkBulkUpdate() remove getAllAssets()
  e2e/src/api/specs/asset.e2e-spec.ts
  e2e/src/api/specs/trash.e2e-spec.ts
  e2e/src/cli/specs/upload.e2e-spec.ts
  e2e/src/utils.ts
  mobile/openapi/README.md
  mobile/openapi/lib/api/asset_api.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/README.md
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/controllers/asset-media.controller.ts
  server/src/controllers/asset-v1.controller.ts
  server/src/dtos/asset-media-response.dto.ts
  server/src/dtos/asset-media.dto.ts
  server/src/dtos/asset-v1-response.dto.ts
  server/src/dtos/asset-v1.dto.ts
  server/src/interfaces/asset-v1.interface.ts
  server/src/interfaces/asset.interface.ts
  server/src/queries/asset.repository.sql
  server/src/queries/library.repository.sql
  server/src/repositories/asset-v1.repository.ts
  server/src/repositories/asset.repository.ts
  server/src/repositories/library.repository.ts
  server/src/services/asset-media.service.spec.ts
  server/src/services/asset-media.service.ts
  server/src/services/asset-v1.service.spec.ts
  server/src/services/asset-v1.service.ts
  server/test/repositories/asset.repository.mock.ts
Labels: 🗄️server

#9746 chore(server): remove unused code
  server/src/interfaces/library.interface.ts
  server/src/queries/library.repository.sql
  server/src/queries/memory.repository.sql
  server/src/repositories/asset.repository.ts
  server/src/repositories/library.repository.ts
  server/src/repositories/memory.repository.ts
  server/src/services/library.service.ts
  server/test/repositories/library.repository.mock.ts
Labels: 🗄️server

#9750 fix(server): partner can view archived assets
  e2e/src/api/specs/asset.e2e-spec.ts
  e2e/src/utils.ts
  server/src/queries/access.repository.sql
  server/src/repositories/access.repository.ts
Labels: 🗄️server

#9754 fix(web): profile picture url
  web/src/lib/utils.ts
Labels: 🖥️web

#9755 fix(docs): docker version -> name in ML
  docs/docs/guides/remote-machine-learning.md
Labels: documentation, deployment

#9756 fix(web): add location modal invisible on safari
  web/src/lib/components/asset-viewer/detail-panel-location.svelte
  web/src/lib/components/asset-viewer/detail-panel.svelte
Labels: 🖥️web

#9765 fix(web): detail panel asset description
  e2e/src/web/specs/asset-viewer/detail-panel.e2e-spec.ts
  web/src/lib/components/asset-viewer/detail-panel-description.svelte
  web/src/lib/components/asset-viewer/detail-panel.svelte
Labels: 🖥️web

#9751 fix(server): Properly build ML predict URL
  server/src/repositories/machine-learning.repository.ts
Labels: 🗄️server

#9713 fix(web): keyboard event propagation in modals
  web/src/lib/components/shared-components/full-screen-modal.svelte
Labels: 🖥️web

#9764 docs: update README fr
  readme_i18n/README_fr_FR.md
Labels: documentation

#9747 fix(server): search duplicates of the same asset type
  server/src/interfaces/search.interface.ts
  server/src/queries/search.repository.sql
  server/src/repositories/search.repository.ts
  server/src/services/duplicate.service.spec.ts
  server/src/services/duplicate.service.ts
Labels: 🗄️server

#9741 fix(mobile): appBar on album viewer screen animates out and doesnt alter asset grid position
  mobile/lib/pages/common/album_viewer.page.dart
  mobile/lib/widgets/album/album_viewer_editable_title.dart
  mobile/lib/widgets/asset_grid/immich_asset_grid_view.dart
Labels: 📱mobile
