Repository immich-app/immich, pull requests merged in 2024-11, with the labels that each got.

#13785 feat(server): use tonemapx for software tone-mapping
  docs/docs/install/config-file.md
  i18n/en.json
  mobile/openapi/lib/model/system_config_f_fmpeg_dto.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/config.ts
  server/src/dtos/system-config.dto.ts
  server/src/interfaces/media.interface.ts
  server/src/migrations/1730227312171-RemoveNplFromSystemConfig.ts
  server/src/repositories/media.repository.ts
  server/src/services/media.service.spec.ts
  server/src/services/media.service.ts
  server/src/services/system-config.service.spec.ts
  server/src/utils/media.ts
  server/test/fixtures/media.stub.ts
  web/src/lib/components/admin-page/settings/ffmpeg/ffmpeg-settings.svelte
Labels: documentation, 🖥️web, 🗄️server, changelog:enhancement

#13256 fix(mobile): do not removed not backup asset when selecting the correspond options
  mobile/lib/providers/asset.provider.dart
  mobile/lib/widgets/asset_grid/multiselect_grid.dart
Labels: 📱mobile, changelog:bugfix

#13871 refactor(server): immich worker
  server/src/app.module.ts
  server/src/constants.ts
  server/src/services/base.service.ts
  server/src/services/job.service.spec.ts
  server/src/services/job.service.ts
  server/test/utils.ts
Labels: 🗄️server, changelog:skip

#13873 feat: render asset path
  web/src/lib/components/asset-viewer/detail-panel.svelte
Labels: 🖥️web, changelog:enhancement

#13887 fix: healthcheck if custom host is set
  server/src/bin/healthcheck.ts
Labels: 🗄️server, changelog:bugfix

#13927 refactor(server): get worker
  server/src/interfaces/config.interface.ts
  server/src/repositories/config.repository.ts
  server/src/services/base.service.ts
  server/src/services/job.service.spec.ts
  server/test/repositories/config.repository.mock.ts
  server/test/utils.ts
Labels: 🗄️server, changelog:skip

#13931 chore: better observability for geodata import
  server/src/repositories/map.repository.ts
Labels: 🗄️server, changelog:skip

#13930 refactor: config init event for first config load
  server/src/app.module.ts
  server/src/interfaces/event.interface.ts
  server/src/services/backup.service.spec.ts
  server/src/services/backup.service.ts
  server/src/services/database.service.ts
  server/src/services/job.service.spec.ts
  server/src/services/job.service.ts
  server/src/services/library.service.spec.ts
  server/src/services/library.service.ts
  server/src/services/metadata.service.spec.ts
  server/src/services/metadata.service.ts
  server/src/services/notification.service.spec.ts
  server/src/services/smart-info.service.spec.ts
  server/src/services/smart-info.service.ts
  server/src/services/storage-template.service.spec.ts
  server/src/services/storage-template.service.ts
  server/src/services/system-config.service.ts
  server/test/fixtures/system-config.stub.ts
Labels: 🗄️server, changelog:skip

#13901 chore(mobile): upgrade gradle
  mobile/android/app/build.gradle
  mobile/android/app/src/debug/AndroidManifest.xml
  mobile/android/app/src/main/AndroidManifest.xml
  mobile/android/app/src/profile/AndroidManifest.xml
  mobile/android/build.gradle
  mobile/android/gradle.properties
  mobile/android/gradle/wrapper/gradle-wrapper.properties
  mobile/android/settings.gradle
  mobile/lib/entities/album.entity.g.dart
  mobile/lib/entities/android_device_asset.entity.g.dart
  mobile/lib/entities/asset.entity.g.dart
  mobile/lib/entities/backup_album.entity.g.dart
  mobile/lib/entities/duplicated_asset.entity.g.dart
  mobile/lib/entities/etag.entity.g.dart
  mobile/lib/entities/exif_info.entity.g.dart
  mobile/lib/entities/ios_device_asset.entity.g.dart
  mobile/lib/entities/logger_message.entity.g.dart
  mobile/lib/entities/store.entity.g.dart
  mobile/lib/entities/user.entity.g.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: 📱mobile, changelog:enhancement

#13936 chore(web): scrubber animation
  web/src/lib/components/shared-components/scrubber/scrubber.svelte
Labels: 🖥️web, changelog:skip

#13943 docs: fail2ban community project
  docs/src/components/community-guides.tsx
Labels: documentation, changelog:documentation

#13942 chore(mobile): translation update
  mobile/assets/i18n/cs-CZ.json
  mobile/assets/i18n/de-DE.json
  mobile/assets/i18n/el-GR.json
  mobile/assets/i18n/es-ES.json
  mobile/assets/i18n/fr-FR.json
  mobile/assets/i18n/he-IL.json
  mobile/assets/i18n/hu-HU.json
  mobile/assets/i18n/ja-JP.json
  mobile/assets/i18n/ko-KR.json
  mobile/assets/i18n/nb-NO.json
  mobile/assets/i18n/pl-PL.json
  mobile/assets/i18n/pt-PT.json
  mobile/assets/i18n/ru-RU.json
  mobile/assets/i18n/sv-SE.json
  mobile/assets/i18n/uk-UA.json
  mobile/assets/i18n/vi-VN.json
Labels: changelog:skip

#13810 chore(web): update translations
  i18n/be.json
  i18n/cs.json
  i18n/da.json
  i18n/de.json
  i18n/el.json
  i18n/es.json
  i18n/et.json
  i18n/fr.json
  i18n/he.json
  i18n/hr.json
  i18n/hu.json
  i18n/id.json
  i18n/ko.json
  i18n/lt.json
  i18n/nl.json
  i18n/pl.json
  i18n/pt.json
  i18n/ru.json
  i18n/sk.json
  i18n/sr_Cyrl.json
  i18n/sr_Latn.json
  i18n/sv.json
  i18n/tr.json
  i18n/uk.json
  i18n/zh_Hant.json
  i18n/zh_SIMPLIFIED.json
Labels: changelog:translation

#13956 fix: docker link
  docs/docs/install/requirements.md
Labels: documentation, changelog:documentation

#13849 docs: improve custom-locations wording to be easier to read
  docs/docs/guides/custom-locations.md
Labels: documentation, changelog:documentation

#13958 docs: Added a note about avoiding redundant database backups
  docs/docs/guides/template-backup-script.md
Labels: documentation, changelog:documentation

#13957 fix(server): cannot render email template
  server/package-lock.json
  server/package.json
  server/src/repositories/notification.repository.spec.ts
Labels: 🗄️server, changelog:bugfix

#13961 chore: tidy up backup-and-restore.md
  docs/docs/administration/backup-and-restore.md
Labels: documentation, changelog:documentation

#13964 docs: 50k stars
  docs/src/components/timeline.tsx
  docs/src/pages/roadmap.tsx
Labels: documentation, changelog:documentation

#13954 chore(mobile): post release task
  mobile/ios/Podfile.lock
  mobile/ios/Runner.xcodeproj/project.pbxproj
  mobile/ios/Runner/Info.plist
Labels: changelog:skip

#13967 docs: add backups to startup folders list
  docs/docs/administration/system-integrity.md
Labels: documentation, changelog:documentation

#13970 fix(server): allow starting backup through API and fix pg_dumpall args when using database URLs
  server/src/services/backup.service.ts
  server/src/services/job.service.ts
Labels: 🗄️server, changelog:bugfix

#13965 fix(server): database backups compatible with deduplication
  server/src/services/backup.service.ts
Labels: 🗄️server, changelog:bugfix

#13984 docs: update roadmap
  docs/src/pages/roadmap.tsx
Labels: documentation, changelog:documentation

#13986 fix(mobile): video player not playing in full size on Android
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: changelog:bugfix

#13859 fix(web): time zone dependent test
  web/src/lib/utils/timeline-util.spec.ts
Labels: 🖥️web, changelog:skip

#13987 chore(mobile): update isar build
  mobile/scripts/fdroid_build_isar.sh
Labels: changelog:skip

#13985 refactor: remove smart info table
  e2e/src/api/specs/search.e2e-spec.ts
  mobile/openapi/README.md
  mobile/openapi/lib/api.dart
  mobile/openapi/lib/api_client.dart
  mobile/openapi/lib/model/asset_response_dto.dart
  mobile/openapi/lib/model/smart_info_response_dto.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/dtos/asset-response.dto.ts
  server/src/entities/asset.entity.ts
  server/src/entities/index.ts
  server/src/entities/smart-info.entity.ts
  server/src/interfaces/asset.interface.ts
  server/src/interfaces/search.interface.ts
  server/src/migrations/1730989238718-DropSmartInfoTable.ts
  server/src/queries/asset.repository.sql
  server/src/repositories/asset.repository.ts
  server/src/repositories/search.repository.ts
  server/src/services/asset.service.ts
  server/src/services/search.service.spec.ts
  server/src/services/search.service.ts
  server/src/utils/database.ts
  server/test/fixtures/shared-link.stub.ts
  server/test/repositories/asset.repository.mock.ts
  web/src/routes/(user)/explore/+page.svelte
Labels: 🖥️web, 🗄️server, changelog:skip

#13989 chore(mobile): post release tasks
  mobile/ios/Runner.xcodeproj/project.pbxproj
  mobile/ios/Runner/Info.plist
Labels: changelog:skip

#13988 refactor(server): cron repository
  server/src/interfaces/cron.interface.ts
  server/src/interfaces/job.interface.ts
  server/src/repositories/cron.repository.ts
  server/src/repositories/index.ts
  server/src/repositories/job.repository.ts
  server/src/services/backup.service.spec.ts
  server/src/services/backup.service.ts
  server/src/services/base.service.ts
  server/src/services/library.service.spec.ts
  server/src/services/library.service.ts
  server/test/repositories/cron.repository.mock.ts
  server/test/repositories/job.repository.mock.ts
  server/test/utils.ts
Labels: 🗄️server, changelog:skip

#13990 refactor(server): cron validation
  server/src/dtos/system-config.dto.ts
  server/src/services/backup.service.spec.ts
  server/src/services/backup.service.ts
  server/src/services/library.service.spec.ts
  server/src/services/library.service.ts
  server/src/services/system-config.service.spec.ts
  server/src/validation.ts
Labels: 🗄️server, changelog:skip

#13996 chore: backups custom location and config file docs
  docs/docs/guides/custom-locations.md
  docs/docs/install/config-file.md
Labels: documentation, changelog:documentation

#13992 fix(server): support non-default postgres port when taking a backup
  server/src/services/backup.service.ts
Labels: 🗄️server, changelog:bugfix

#14011 docs: make IGNORE_MOUNT_CHECK warning stronger
  docs/docs/administration/system-integrity.md
Labels: documentation, changelog:documentation

#14012 fix(web): use locale for scrubber label when scrolling
  web/src/lib/components/shared-components/scrubber/scrubber.svelte
Labels: 🖥️web, changelog:bugfix

#14024 chore(docs): roadmap SEO
  docs/src/pages/roadmap.tsx
Labels: documentation, changelog:documentation

#14035 fix(mobile): make sure date locale is inititialized for some languages
  mobile/lib/main.dart
Labels: 📱mobile, changelog:bugfix

#14036 feat(web): stable json settings export
  web/src/routes/admin/system-settings/+page.svelte
Labels: 🖥️web, changelog:enhancement

#14001 chore(web): Update the new version announcement text
  i18n/en.json
Labels: 🖥️web, changelog:skip

#14059 docs: Fix DCM docs link
  docs/docs/developer/setup.md
Labels: documentation, changelog:documentation

#14051 chore: add weblate requests
  i18n/fil.json
  i18n/nn.json
  web/src/lib/constants.ts
Labels: 🖥️web, changelog:skip

#14049 docs: clarify file size impact in hardware-transcoding.md
  docs/docs/features/hardware-transcoding.md
Labels: documentation, changelog:documentation

#13995 fix(server): attempt to delete failed backups immediately after failure
  server/src/services/backup.service.spec.ts
  server/src/services/backup.service.ts
Labels: documentation, 🗄️server, changelog:bugfix

#14073 docs: backup folder name is backups
  docs/docs/guides/custom-locations.md
Labels: documentation, changelog:documentation

#14074 fix: config updates not applying for job and storage template service
  server/src/services/job.service.spec.ts
  server/src/services/job.service.ts
  server/src/services/storage-template.service.spec.ts
  server/src/services/storage-template.service.ts
Labels: 🗄️server, changelog:bugfix

#14091 chore(ml): replace fastapi-slim with fastapi
  machine-learning/poetry.lock
  machine-learning/pyproject.toml
Labels: changelog:skip

#14083 feat(server): use pg_dumpall version that matches the database version
  server/src/services/backup.service.spec.ts
  server/src/services/backup.service.ts
Labels: 🗄️server, changelog:enhancement

#14092 fix(server): correct rotation for common files
  server/src/services/media.service.ts
Labels: 🗄️server, changelog:skip

#14102 fix(server): backup version checks not handling database versions correctly
  server/src/services/backup.service.spec.ts
  server/src/services/backup.service.ts
Labels: 🗄️server, changelog:skip

#14105 chore(mobile): post release tasks
  mobile/ios/Runner.xcodeproj/project.pbxproj
  mobile/ios/Runner/Info.plist
Labels: changelog:skip

#14086 refactor(mobile): video controls
  mobile/lib/constants/immich_colors.dart
  mobile/lib/utils/immich_app_theme.dart
  mobile/lib/widgets/asset_viewer/formatted_duration.dart
  mobile/lib/widgets/asset_viewer/video_controls.dart
  mobile/lib/widgets/asset_viewer/video_mute_button.dart
  mobile/lib/widgets/asset_viewer/video_position.dart
Labels: 📱mobile, changelog:enhancement

#13775 chore(docs): Encode db dump in UTF-8 without BOM for Windows
  docs/docs/administration/backup-and-restore.md
Labels: documentation, changelog:documentation

#14120 fix(mobile): duration ui overflow
  mobile/lib/widgets/asset_viewer/formatted_duration.dart
Labels: 📱mobile, changelog:skip

#14119 feat: use dateTimeOriginal to calculate album date
  server/src/dtos/album.dto.ts
  server/src/utils/date-time.ts
Labels: 🗄️server, changelog:enhancement

#14067 docs: Update TrueNAS docs for TrueNAS SCALE 24.10
  docs/docs/install/img/truenas01.png
  docs/docs/install/img/truenas02.png
  docs/docs/install/img/truenas03.png
  docs/docs/install/img/truenas04.png
  docs/docs/install/img/truenas05.png
  docs/docs/install/img/truenas06.png
  docs/docs/install/img/truenas07.png
  docs/docs/install/img/truenas08.png
  docs/docs/install/img/truenas09.png
  docs/docs/install/img/truenas10.png
  docs/docs/install/img/truenas11.png
  docs/docs/install/img/truenas12.png
  docs/docs/install/truenas.md
Labels: documentation, changelog:documentation

#14104 fix(mobile): fix logout timeout
  .vscode/settings.json
  mobile/lib/providers/authentication.provider.dart
  mobile/lib/widgets/common/app_bar_dialog/app_bar_dialog.dart
Labels: 📱mobile, changelog:bugfix

#14126 feat(mobile): new video slider ui
  mobile/lib/constants/immich_colors.dart
  mobile/lib/widgets/asset_viewer/bottom_gallery_bar.dart
  mobile/lib/widgets/asset_viewer/formatted_duration.dart
  mobile/lib/widgets/asset_viewer/video_controls.dart
  mobile/lib/widgets/asset_viewer/video_mute_button.dart
  mobile/lib/widgets/asset_viewer/video_position.dart
Labels: 📱mobile, changelog:enhancement

#14134 fix(server): Some MTS videos fail to generate thumbnail
  server/src/interfaces/media.interface.ts
  server/src/services/media.service.spec.ts
  server/src/services/media.service.ts
  server/src/utils/media.ts
  server/test/fixtures/media.stub.ts
Labels: 🗄️server, changelog:bugfix

#13703 fix: Routing back button in sharedLinks page
  web/src/routes/(user)/albums/[albumId=id]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/sharing/sharedlinks/+page.svelte
Labels: 🖥️web, changelog:bugfix

#14013 fix(web): ensure current asset index stays within bounds
  web/src/lib/components/shared-components/gallery-viewer/gallery-viewer.svelte
Labels: 🖥️web, changelog:bugfix

#14144 chore(web): move enum out of .svelte file
  web/src/lib/components/asset-viewer/slideshow-bar.svelte
  web/src/lib/components/faces-page/manage-people-visibility.svelte
  web/src/lib/components/shared-components/progress-bar/progress-bar.svelte
  web/src/lib/components/shared-components/search-bar/search-filter-modal.svelte
  web/src/lib/components/shared-components/search-bar/search-media-section.svelte
  web/src/lib/constants.ts
  web/src/routes/(user)/explore/+page.svelte
  web/svelte.config.js
Labels: 🖥️web, changelog:skip

#14146 fix(web): allow selecting people after clearing search options
  web/src/lib/components/shared-components/search-bar/search-filter-modal.svelte
Labels: 🖥️web, changelog:bugfix

#14156 feat(web): Added tag button to the context menu in the favorites page
  web/src/routes/(user)/favorites/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:enhancement

#14162 fix(web): prevent infinite loop when modifying stacked asset
  web/src/lib/components/asset-viewer/asset-viewer.svelte
Labels: 🖥️web, changelog:bugfix

#11828 fix(cli): Concurrency not fully using queue potential
  cli/src/commands/asset.ts
  cli/src/queue.ts
  e2e/src/cli/specs/upload.e2e-spec.ts
Labels: cli, changelog:bugfix

#14171 refactor(mobile): backup info box
  mobile/lib/constants/immich_colors.dart
  mobile/lib/models/backup/current_upload_asset.model.dart
  mobile/lib/widgets/backup/asset_info_table.dart
  mobile/lib/widgets/backup/current_backup_asset_info_box.dart
  mobile/lib/widgets/backup/error_chip.dart
  mobile/lib/widgets/backup/error_chip_text.dart
  mobile/lib/widgets/backup/icloud_download_progress_bar.dart
  mobile/lib/widgets/backup/upload_progress_bar.dart
  mobile/lib/widgets/backup/upload_stats.dart
Labels: 📱mobile, changelog:skip

#14164 refactor(web): remove reactivity triggers
  web/src/lib/components/album-page/user-selection-modal.svelte
  web/src/lib/components/asset-viewer/activity-viewer.svelte
  web/src/lib/components/faces-page/manage-people-visibility.svelte
  web/src/lib/components/faces-page/person-side-panel.svelte
  web/src/lib/components/forms/tag-asset-form.svelte
  web/src/lib/components/shared-components/gallery-viewer/gallery-viewer.svelte
  web/src/lib/components/shared-components/search-bar/search-filter-modal.svelte
  web/src/lib/components/shared-components/search-bar/search-people-section.svelte
  web/src/lib/components/user-settings-page/partner-settings.svelte
  web/src/lib/components/utilities-page/duplicates/duplicates-compare-control.svelte
  web/src/routes/(user)/explore/+page.svelte
  web/src/routes/(user)/people/+page.svelte
  web/src/routes/(user)/search/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:skip

#14163 fix(web): don't refresh panorama viewer when modifying asset
  web/src/lib/components/asset-viewer/asset-viewer.svelte
  web/src/lib/components/asset-viewer/image-panorama-viewer.svelte
  web/src/lib/components/asset-viewer/panorama-viewer.svelte
  web/src/lib/components/asset-viewer/photo-sphere-viewer-adapter.svelte
  web/src/lib/components/asset-viewer/video-panorama-viewer.svelte
  web/src/lib/components/asset-viewer/video-wrapper-viewer.svelte
Labels: 🖥️web, changelog:bugfix

#14125 feat: adding photo & video storage space to server stats
  e2e/src/api/specs/server.e2e-spec.ts
  mobile/openapi/lib/model/server_stats_response_dto.dart
  mobile/openapi/lib/model/usage_by_user_dto.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/dtos/server.dto.ts
  server/src/interfaces/user.interface.ts
  server/src/queries/user.repository.sql
  server/src/repositories/user.repository.ts
  server/src/services/server.service.spec.ts
  server/src/services/server.service.ts
  web/src/lib/components/admin-page/server-stats/server-stats-panel.svelte
Labels: 🖥️web, 🗄️server, changelog:enhancement

#14174 docs: get asset owner by ID from database
  docs/docs/guides/database-queries.md
Labels: documentation, changelog:documentation

#14170 fix(mobile): unnecessary rebuilds from partner share notifier
  mobile/lib/providers/partner.provider.dart
Labels: 📱mobile, changelog:bugfix

#14193 fix(mobile): use sets in album refresh, concurrent futures
  mobile/lib/services/album.service.dart
  mobile/test/services/album.service_test.dart
Labels: 📱mobile, changelog:bugfix

#14192 fix(mobile): Dismissible menus
  mobile/lib/pages/search/search.page.dart
  mobile/lib/widgets/common/app_bar_dialog/app_bar_dialog.dart
Labels: 📱mobile, changelog:bugfix

#14217 feat(web): Implement keep this delete others for asset stacks
  i18n/en.json
  web/src/lib/components/asset-viewer/actions/action.ts
  web/src/lib/components/asset-viewer/actions/keep-this-delete-others.svelte
  web/src/lib/components/asset-viewer/asset-viewer-nav-bar.svelte
  web/src/lib/components/asset-viewer/asset-viewer.svelte
  web/src/lib/constants.ts
  web/src/lib/utils/asset-utils.ts
Labels: 🖥️web, changelog:enhancement

#14228 fix(mobile): make search page scrollable
  mobile/lib/pages/search/search.page.dart
Labels: 📱mobile, changelog:bugfix

#14089 fix(mobile): fixes on language change
  mobile/lib/main.dart
  mobile/lib/pages/common/settings.page.dart
  mobile/lib/pages/library/library.page.dart
  mobile/lib/providers/asset.provider.dart
Labels: 📱mobile, changelog:bugfix, date-time

#14213 feat: Added shortcuts, shift-multi select and missing menu options to Search (Galleryviewer)
  web/src/lib/components/memory-page/memory-viewer.svelte
  web/src/lib/components/share-page/individual-shared-viewer.svelte
  web/src/lib/components/shared-components/gallery-viewer/gallery-viewer.svelte
  web/src/routes/(user)/folders/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/search/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:enhancement

#14233 fix: mobile album sync always triggered when opening the app
  e2e/src/api/specs/album.e2e-spec.ts
  server/src/services/album.service.ts
Labels: 🗄️server, changelog:bugfix

#14237 fix(server): remove unnecessary guc settings for vector search
  server/src/queries/search.repository.sql
  server/src/repositories/search.repository.ts
Labels: 🗄️server, changelog:bugfix

#14178 fix: parse quota claim as number
  server/src/services/auth.service.spec.ts
  server/src/services/auth.service.ts
Labels: 🗄️server, changelog:bugfix

#14241 feat(server): faster geodata import
  server/src/entities/geodata-places.entity.ts
  server/src/entities/natural-earth-countries.entity.ts
  server/src/migrations/1732072134943-NaturalEarthCountriesIdentityColumn.ts
  server/src/repositories/map.repository.ts
Labels: 🗄️server, changelog:enhancement

#14225 docs: backup only selected photos
  docs/docs/features/img/mobile-upload-open-photo.png
  docs/docs/features/img/mobile-upload-selected-photos.png
  docs/docs/features/mobile-app.mdx
  docs/docs/overview/quick-start.mdx
  docs/docs/partials/_mobile-app-backup.md
Labels: documentation, changelog:documentation

#14254 chore(mobile): translations update
  mobile/assets/i18n/da-DK.json
  mobile/assets/i18n/el-GR.json
  mobile/assets/i18n/fr-FR.json
  mobile/assets/i18n/ru-RU.json
  mobile/assets/i18n/zh-TW.json
Labels: changelog:skip

#14259 chore(mobile): post release tasks
  mobile/ios/Runner.xcodeproj/project.pbxproj
  mobile/ios/Runner/Info.plist
Labels: changelog:skip

#14085 refactor(server): filter on-event handlers by worker
  server/src/decorators.ts
  server/src/repositories/event.repository.ts
  server/src/services/backup.service.ts
  server/src/services/job.service.ts
  server/src/services/library.service.spec.ts
  server/src/services/library.service.ts
  server/src/services/metadata.service.spec.ts
  server/src/services/metadata.service.ts
  server/src/services/smart-info.service.spec.ts
  server/src/services/smart-info.service.ts
Labels: 🗄️server, changelog:skip

#14256 chore: update dev ports
  docker/docker-compose.dev.yml
  docs/docs/developer/setup.md
Labels: documentation, changelog:skip

#14265 feat(server): clean up interrupted upload files
  server/src/middleware/file-upload.interceptor.ts
  server/src/services/asset-media.service.spec.ts
  server/src/services/asset-media.service.ts
  server/src/utils/asset.util.ts
Labels: 🗄️server, changelog:enhancement

#14271 feat: show delete album option in empty album
  web/src/routes/(user)/albums/[albumId=id]/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:enhancement

#13250 docs: add developer notes about rootless docker setup
  docker/docker-compose.dev.yml
  docs/docs/developer/setup.md
Labels: documentation, changelog:documentation

#14294 docs: clarify/strengthen wording of PG deployment requirements
  docs/docs/install/requirements.md
Labels: documentation, changelog:documentation

#13848 fix(server): use hw decoding for rkmpp w/o OpenCL if possible
  server/src/services/media.service.spec.ts
  server/src/services/media.service.ts
  server/src/utils/media.ts
Labels: 🗄️server, changelog:bugfix

#14284 fix(web): cannot upload folder with more than 100 files
  web/src/lib/components/shared-components/drag-and-drop-upload-overlay.svelte
Labels: 🖥️web, changelog:bugfix

#14334 fix(web): clear combobox value when selectedOption is undefined
  web/src/lib/__mocks__/visual-viewport.mock.ts
  web/src/lib/components/shared-components/__test__/combobox.spec.ts
  web/src/lib/components/shared-components/change-date.spec.ts
  web/src/lib/components/shared-components/combobox.svelte
Labels: 🖥️web, changelog:bugfix

#14341 fix(web): stack preview remains visible in asset viewer
  web/src/lib/components/asset-viewer/asset-viewer.svelte
Labels: 🖥️web, changelog:bugfix

#14343 chore(web): restore type checks and IDE autocomplete for `$t('...')`
  web/src/app.d.ts
Labels: 🖥️web, changelog:skip

#14348 feat(web): dedicated view for user's usage stats
  i18n/en.json
  web/src/lib/components/shared-components/side-bar/more-information-albums.svelte
  web/src/lib/components/shared-components/side-bar/more-information-assets.svelte
  web/src/lib/components/shared-components/side-bar/side-bar-link.svelte
  web/src/lib/components/shared-components/side-bar/side-bar.svelte
  web/src/lib/components/user-settings-page/user-settings-list.svelte
  web/src/lib/components/user-settings-page/user-usage-statistic.svelte
Labels: 🖥️web, changelog:enhancement

#14352 chore(deployment): cleanup database container args, move to using internal container ENV vars
  docker/docker-compose.dev.yml
  docker/docker-compose.prod.yml
  docker/docker-compose.yml
Labels: changelog:skip

#14366 fix(web): timeline issues on person page
  web/src/routes/(user)/people/[personId]/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:bugfix

#14330 feat(server): Add publicUsers toggle for user search
  docs/docs/developer/pr-checklist.md
  e2e/src/api/specs/server.e2e-spec.ts
  i18n/en.json
  mobile/openapi/lib/model/server_config_dto.dart
  mobile/openapi/lib/model/system_config_server_dto.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/config.ts
  server/src/controllers/user.controller.ts
  server/src/dtos/server.dto.ts
  server/src/dtos/system-config.dto.ts
  server/src/services/server.service.spec.ts
  server/src/services/server.service.ts
  server/src/services/system-config.service.spec.ts
  server/src/services/user.service.spec.ts
  server/src/services/user.service.ts
  server/test/fixtures/system-config.stub.ts
  web/src/lib/components/admin-page/settings/server/server-settings.svelte
  web/src/lib/stores/server-config.store.ts
Labels: documentation, 🖥️web, 🗄️server, changelog:feature

#14322 chore(mobile): refactor authentication
  mobile/analysis_options.yaml
  mobile/lib/interfaces/auth.interface.dart
  mobile/lib/interfaces/auth_api.interface.dart
  mobile/lib/models/auth/auth_state.model.dart
  mobile/lib/models/auth/login_response.model.dart
  mobile/lib/pages/common/album_options.page.dart
  mobile/lib/pages/common/album_viewer.page.dart
  mobile/lib/pages/common/splash_screen.page.dart
  mobile/lib/providers/app_life_cycle.provider.dart
  mobile/lib/providers/auth.provider.dart
  mobile/lib/providers/authentication.provider.dart
  mobile/lib/providers/backup/backup.provider.dart
  mobile/lib/providers/websocket.provider.dart
  mobile/lib/repositories/auth.repository.dart
  mobile/lib/repositories/auth_api.repository.dart
  mobile/lib/repositories/database.repository.dart
  mobile/lib/services/api.service.dart
  mobile/lib/services/auth.service.dart
  mobile/lib/services/device.service.dart
  mobile/lib/services/user.service.dart
  mobile/lib/widgets/common/app_bar_dialog/app_bar_dialog.dart
  mobile/lib/widgets/common/app_bar_dialog/app_bar_profile_info.dart
  mobile/lib/widgets/forms/change_password_form.dart
  mobile/lib/widgets/forms/login/login_form.dart
  mobile/test/repository.mocks.dart
  mobile/test/services/auth.service_test.dart
Labels: 📱mobile, changelog:skip

#14367 chore: follow up on auth refactoring
  mobile/lib/repositories/auth.repository.dart
  mobile/lib/services/auth.service.dart
Labels: 📱mobile, changelog:skip

#14374 fix(web): resolve issues with user usage statistics and refactor
  i18n/en.json
  web/src/lib/components/user-settings-page/user-usage-statistic.svelte
Labels: 🖥️web, changelog:bugfix

#14401 fix: ConnectivityResult.wifi regression
  mobile/lib/providers/backup/backup_verification.provider.dart
Labels: 📱mobile, changelog:bugfix
