Repository immich-app/immich, pull requests merged in 2024-09, with the labels that each got.

#12199 fix(server): remove offline assets from trash
  e2e/src/api/specs/library.e2e-spec.ts
  server/src/interfaces/asset.interface.ts
  server/src/repositories/asset.repository.ts
  server/src/services/library.service.ts
Labels: 🗄️server, changelog:bugfix

#12225 fix(server): get assetFiles when retrieving assets WithoutProperty.THUMBNAIL
  server/src/migrations/1725258039306-UpsertMissingAssetJobStatus.ts
  server/src/repositories/asset.repository.ts
Labels: 🗄️server, changelog:bugfix

#12180 fix(web): German translation for explorer
  web/src/lib/i18n/de.json
Labels: 🖥️web, changelog:skip

#12172 feat(web): tag button in album/shared album
  web/src/routes/(user)/albums/[albumId=id]/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:enhancement

#12222 feat(web): load original panorama image when zoomed in to 75% or above
  web/src/lib/components/asset-viewer/panorama-viewer.svelte
  web/src/lib/components/asset-viewer/photo-sphere-viewer-adapter.svelte
Labels: 🖥️web, changelog:enhancement

#12221 fix(mobile): Android back gesture closes app
  mobile/android/app/src/main/AndroidManifest.xml
Labels: changelog:bugfix

#12197 fix(web): auto grow area extend when there is no content
  web/src/lib/components/asset-viewer/detail-panel.svelte
  web/src/lib/components/shared-components/autogrow-textarea.svelte
Labels: 🖥️web, changelog:bugfix

#12215 feat(web): shared breadcrumbs component for folders and tags
  web/src/lib/components/shared-components/tree/breadcrumbs.svelte
  web/src/lib/i18n/en.json
  web/src/routes/(user)/folders/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/tags/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:enhancement

#12206 fix(mobile): set SSL options properly in background backup process (#11870)
  mobile/lib/services/background.service.dart
Labels: 📱mobile, changelog:bugfix

#12217 fix: hide scrollbar when the asset grid is empty
  web/src/lib/components/photos-page/asset-grid.svelte
Labels: 🖥️web, changelog:bugfix

#12230 docs: fixing example docker compose
  docs/docs/features/libraries.md
Labels: documentation, changelog:documentation

#12254 fix(server): remove thumbnailAt in asset_job_status for missing thumbnails
  server/src/migrations/1725327902980-RemoveThumbailAtForMissingThumbnails.ts
Labels: 🗄️server, changelog:bugfix

#12260 ci: more path filtering, path filtering happens in pre-job so all jobs can be required
  .github/workflows/build-mobile.yml
  .github/workflows/docker.yml
  .github/workflows/docs-build.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/static_analysis.yml
  .github/workflows/test.yml
Labels: changelog:skip

#12262 ci: replace deprecate cloudflare properties on cloudflare_record
  deployment/modules/cloudflare/docs-release/domain.tf
  deployment/modules/cloudflare/docs/domain.tf
Labels: changelog:skip

#12148 chore(web): update translations
  web/src/lib/i18n/bg.json
  web/src/lib/i18n/cs.json
  web/src/lib/i18n/de.json
  web/src/lib/i18n/es.json
  web/src/lib/i18n/et.json
  web/src/lib/i18n/fr.json
  web/src/lib/i18n/he.json
  web/src/lib/i18n/hr.json
  web/src/lib/i18n/id.json
  web/src/lib/i18n/it.json
  web/src/lib/i18n/ja.json
  web/src/lib/i18n/kmr.json
  web/src/lib/i18n/ko.json
  web/src/lib/i18n/lt.json
  web/src/lib/i18n/nl.json
  web/src/lib/i18n/pl.json
  web/src/lib/i18n/pt_BR.json
  web/src/lib/i18n/ro.json
  web/src/lib/i18n/ru.json
  web/src/lib/i18n/sr_Cyrl.json
  web/src/lib/i18n/sr_Latn.json
  web/src/lib/i18n/sv.json
  web/src/lib/i18n/tr.json
  web/src/lib/i18n/uk.json
  web/src/lib/i18n/vi.json
  web/src/lib/i18n/zh_Hant.json
  web/src/lib/i18n/zh_SIMPLIFIED.json
Labels: 🖥️web, changelog:skip

#12268 chore(mobile): post release task
  mobile/ios/Runner.xcodeproj/project.pbxproj
  mobile/ios/Runner/Info.plist
Labels: changelog:skip

#12267 ci: split e2e into web / server & cli / linting & run on mich
  .github/workflows/test.yml
Labels: changelog:skip

#12283 chore(web): upgrade pre-req dependencies for Svelte 5
  web/package-lock.json
  web/package.json
Labels: dependencies, 🖥️web, changelog:skip

#12281 fix(server): empty trash for archived assets
  e2e/src/api/specs/trash.e2e-spec.ts
  e2e/src/utils.ts
  server/src/services/trash.service.ts
Labels: 🗄️server, changelog:bugfix

#12286 feat(server): prefer tagslist
  server/src/services/metadata.service.spec.ts
  server/src/services/metadata.service.ts
Labels: 🗄️server, changelog:bugfix

#12285 fix: remove public. reference in migration sql
  server/src/migrations/1725327902980-RemoveThumbailAtForMissingThumbnails.ts
Labels: 🗄️server, changelog:bugfix

#12288 feat(server): support lightroom tags
  server/src/services/metadata.service.spec.ts
  server/src/services/metadata.service.ts
Labels: 🗄️server, changelog:enhancement

#12291 docs: Fix link to ioredis docs
  docs/docs/install/environment-variables.md
Labels: documentation, changelog:documentation

#12298 fix(server): public references in migrations
  server/src/migrations/1661881837496-AddAssetChecksum.ts
  server/src/migrations/1670257571385-CreateTagsTable.ts
  server/src/migrations/1673150490490-AddSharedLinkTable.ts
  server/src/migrations/1675812532822-FixAlbumEntityTypeORM.ts
  server/src/migrations/1676437878377-AppleContentIdentifier.ts
  server/src/migrations/1676848629119-ExifEntityDefinitionFixes.ts
  server/src/migrations/1676852143506-SmartInfoEntityDefinitionFixes.ts
  server/src/migrations/1677535643119-AddIndexForAlbumInSharedLinkTable.ts
  server/src/migrations/1684328185099-RequireChecksumNotNull.ts
  server/src/migrations/1692804658140-AddAuditTable.ts
  server/src/migrations/1696888644031-AddOriginalPathIndex.ts
  server/src/migrations/1698693294632-AddActivity.ts
  server/src/migrations/1700752078178-AddAssetFaceIndicies.ts
  server/src/migrations/1701665867595-AddExifCityIndex.ts
  server/src/migrations/1703035138085-AddAutoStackId.ts
  server/src/migrations/1705306747072-AddOriginalFileNameIndex.ts
  server/src/migrations/1705363967169-CreateAssetStackTable.ts
  server/src/migrations/1711637874206-AddMemoryTable.ts
  server/src/migrations/1715804005643-RemoveLibraryType.ts
  server/src/migrations/1724101822106-AddAssetFilesTable.ts
  server/src/migrations/1724790460210-NestedTagTable.ts
Labels: 🗄️server, changelog:bugfix

#12295 fix(server): missing asset files relation
  server/src/services/media.service.ts
Labels: 🗄️server, changelog:skip

#12297 fix(web): paste event in input fields
  web/src/lib/actions/shortcut.ts
  web/src/lib/components/shared-components/drag-and-drop-upload-overlay.svelte
Labels: 🖥️web, changelog:bugfix

#12299 feat(web): show folder navigation in root directory
  web/src/routes/(user)/folders/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:enhancement

#12294 chore: remove repair sidebar item
  web/src/lib/components/shared-components/side-bar/admin-side-bar.svelte
Labels: 🖥️web, changelog:skip

#12311 feat(web): add Malay language
  web/src/lib/constants.ts
  web/src/lib/i18n/ms.json
Labels: 🖥️web, changelog:translation

#12307 fix(server): parse time zone with explicit zero offset
  server/src/services/metadata.service.spec.ts
  server/src/services/metadata.service.ts
Labels: 🗄️server, changelog:bugfix

#12310 fix(web): retain selected time zone offset also for +00:00
  web/src/lib/components/shared-components/change-date.svelte
Labels: 🖥️web, changelog:bugfix

#12173 chore(mobile): handle sync album on duplicated
  mobile/lib/services/asset.service.dart
  mobile/lib/services/backup.service.dart
  mobile/pubspec.lock
Labels: 📱mobile, changelog:enhancement

#12308 fix(web): handle RTL languages in the map component
  web/package-lock.json
  web/package.json
  web/src/lib/components/shared-components/map/map.svelte
Labels: 🖥️web, changelog:bugfix

#12320 fix(server): auto-reconnect to database
  server/src/app.module.ts
  server/src/interfaces/database.interface.ts
  server/src/middleware/error.interceptor.ts
  server/src/middleware/global-exception.filter.ts
  server/src/middleware/http-exception.filter.ts
  server/src/repositories/database.repository.ts
  server/src/repositories/logger.repository.ts
  server/src/services/database.service.ts
  server/src/utils/logger.ts
  server/test/repositories/database.repository.mock.ts
Labels: 🗄️server, changelog:bugfix

#12318 fix(web): correct color for active tree item
  web/src/lib/components/shared-components/tree/tree.svelte
Labels: 🖥️web, changelog:bugfix

#12331 feat(web): sort albums in modal
  web/src/lib/components/album-page/albums-list.svelte
  web/src/lib/components/shared-components/album-selection-modal.svelte
  web/src/lib/utils/album-utils.ts
Labels: 🖥️web, changelog:enhancement

#12316 ci: job naming improvements and success job for matrix
  .github/workflows/cli.yml
  .github/workflows/docker.yml
  .github/workflows/docs-build.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/docs-destroy.yml
  .github/workflows/test.yml
Labels: changelog:skip

#12326 refactor(web): upload panel
  web/src/lib/components/elements/icon.svelte
  web/src/lib/components/shared-components/upload-asset-preview.svelte
  web/src/lib/components/shared-components/upload-panel.svelte
  web/src/lib/models/upload-asset.ts
  web/src/lib/stores/upload.ts
  web/src/lib/utils/file-uploader.ts
Labels: 🖥️web, changelog:bugfix

#12314 fix(mobile): background task crashing on Android
  mobile/android/app/src/main/kotlin/app/alextran/immich/BackupWorker.kt
Labels: changelog:bugfix

#12350 fix(server): asset no longer has tags
  server/src/services/metadata.service.spec.ts
  server/src/services/metadata.service.ts
Labels: 🗄️server, changelog:bugfix

#12315 fix(web): only show valid time zones/offsets, update list based on date
  web/src/lib/components/shared-components/change-date.svelte
Labels: 🖥️web, changelog:bugfix

#12269 fix(server): search suggestions include partner assets
  server/src/interfaces/metadata.interface.ts
  server/src/repositories/metadata.repository.ts
  server/src/services/search.service.spec.ts
  server/src/services/search.service.ts
  server/test/repositories/partner.repository.mock.ts
Labels: 🗄️server, changelog:enhancement

#12332 fix: flash bug on tag
  docs/docs/guides/template-backup-script.md
  web/src/lib/actions/intersection-observer.ts
  web/src/lib/components/photos-page/asset-date-group.svelte
  web/src/lib/components/photos-page/asset-grid.svelte
  web/src/lib/stores/assets.store.ts
  web/src/lib/utils/asset-store-task-manager.ts
  web/src/routes/(user)/tags/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: documentation, 🖥️web, changelog:bugfix

#12354 fix(web): showing album timeline after adding new assets
  web/src/routes/(user)/albums/[albumId=id]/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:bugfix

#12358 chore: upgrade openapi generator version
  mobile/openapi/.gitignore
  mobile/openapi/.openapi-generator/VERSION
  mobile/openapi/README.md
  mobile/openapi/pubspec.yaml
  open-api/bin/generate-open-api.sh
  open-api/openapitools.json
  open-api/patch/pubspec_immich_mobile.yaml.patch
Labels: changelog:skip

#12355 fix(mobile): download asset to DCIM/Immich folder on Android
  mobile/assets/i18n/en-US.json
  mobile/lib/providers/asset_viewer/image_viewer_page_state.provider.dart
  mobile/lib/services/image_viewer.service.dart
  mobile/lib/widgets/asset_viewer/gallery_app_bar.dart
Labels: 📱mobile, changelog:bugfix

#12370 fix(web): person asset grid
  web/src/routes/(user)/people/[personId]/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:bugfix

#12218 docs: Add conditional album storage template information
  docs/docs/partials/_storage-template.md
  server/src/constants.ts
  server/src/services/system-config.service.spec.ts
Labels: documentation, 🗄️server, changelog:documentation

#12375 fix(server): clean face tables after delete
  server/src/repositories/person.repository.ts
Labels: 🗄️server, changelog:skip

#12265 chore(web): update translations
  web/src/lib/i18n/cs.json
  web/src/lib/i18n/da.json
  web/src/lib/i18n/de.json
  web/src/lib/i18n/es.json
  web/src/lib/i18n/fr.json
  web/src/lib/i18n/he.json
  web/src/lib/i18n/nl.json
  web/src/lib/i18n/ro.json
  web/src/lib/i18n/ru.json
  web/src/lib/i18n/sr_Cyrl.json
  web/src/lib/i18n/sr_Latn.json
  web/src/lib/i18n/sv.json
  web/src/lib/i18n/tr.json
  web/src/lib/i18n/uk.json
  web/src/lib/i18n/vi.json
  web/src/lib/i18n/zh_SIMPLIFIED.json
Labels: 🖥️web, changelog:translation

#12376 fix(server): copy video projection metadata for 360 videos
  server/src/services/media.service.spec.ts
  server/src/utils/media.ts
Labels: 🗄️server, changelog:bugfix

#12385 fix(web): auth on navigation from shared link to timeline
  e2e/src/web/specs/shared-link.e2e-spec.ts
  web/src/lib/utils.ts
  web/src/routes/+layout.svelte
Labels: 🖥️web, changelog:bugfix

#12381 fix(web): broken album thumbnail
  web/src/lib/components/asset-viewer/photo-viewer.svelte
  web/src/lib/components/assets/broken-asset.svelte
  web/src/lib/components/assets/thumbnail/image-thumbnail.svelte
  web/src/lib/components/sharedlinks-page/covers/asset-cover.svelte
Labels: 🖥️web, changelog:bugfix

#12386 fix(web): ensure shared link covers are full size
  web/src/lib/components/album-page/__tests__/album-cover.spec.ts
  web/src/lib/components/album-page/album-card.svelte
  web/src/lib/components/sharedlinks-page/covers/__tests__/asset-cover.spec.ts
  web/src/lib/components/sharedlinks-page/covers/__tests__/no-cover.spec.ts
  web/src/lib/components/sharedlinks-page/covers/__tests__/share-cover.spec.ts
  web/src/lib/components/sharedlinks-page/covers/asset-cover.svelte
  web/src/lib/components/sharedlinks-page/covers/no-cover.svelte
Labels: 🖥️web, changelog:bugfix

#12366 feat: optimize copy image to clipboard
  web/package-lock.json
  web/package.json
  web/src/lib/components/asset-viewer/asset-viewer-nav-bar.svelte
  web/src/lib/components/asset-viewer/photo-viewer.svelte
  web/src/lib/utils/asset-utils.spec.ts
  web/src/lib/utils/asset-utils.ts
Labels: 🖥️web, changelog:skip

#12382 fix(web): show focus outline for asset thumbnails again
  e2e/src/web/specs/shared-link.e2e-spec.ts
  web/src/lib/components/assets/thumbnail/thumbnail.svelte
Labels: 🖥️web, changelog:bugfix

#12339 feat(web): add download shortcut on the timeline & asset viewer
  web/src/lib/components/photos-page/actions/download-action.svelte
Labels: 🖥️web, changelog:enhancement

#12392 chore(mobile): Translations update
  mobile/assets/i18n/ar-JO.json
  mobile/assets/i18n/cs-CZ.json
  mobile/assets/i18n/da-DK.json
  mobile/assets/i18n/de-DE.json
  mobile/assets/i18n/el-GR.json
  mobile/assets/i18n/en-US.json
  mobile/assets/i18n/es-ES.json
  mobile/assets/i18n/es-MX.json
  mobile/assets/i18n/es-PE.json
  mobile/assets/i18n/es-US.json
  mobile/assets/i18n/fi-FI.json
  mobile/assets/i18n/fr-CA.json
  mobile/assets/i18n/fr-FR.json
  mobile/assets/i18n/he-IL.json
  mobile/assets/i18n/hi-IN.json
  mobile/assets/i18n/hu-HU.json
  mobile/assets/i18n/it-IT.json
  mobile/assets/i18n/ja-JP.json
  mobile/assets/i18n/ko-KR.json
  mobile/assets/i18n/lt-LT.json
  mobile/assets/i18n/lv-LV.json
  mobile/assets/i18n/mn.json
  mobile/assets/i18n/nb-NO.json
  mobile/assets/i18n/nl-NL.json
  mobile/assets/i18n/pl-PL.json
  mobile/assets/i18n/pt-PT.json
  mobile/assets/i18n/ro-RO.json
  mobile/assets/i18n/ru-RU.json
  mobile/assets/i18n/sk-SK.json
  mobile/assets/i18n/sl-SI.json
  mobile/assets/i18n/sr-Cyrl.json
  mobile/assets/i18n/sr-Latn.json
  mobile/assets/i18n/sv-FI.json
  mobile/assets/i18n/sv-SE.json
  mobile/assets/i18n/th-TH.json
  mobile/assets/i18n/uk-UA.json
  mobile/assets/i18n/vi-VN.json
  mobile/assets/i18n/zh-CN.json
  mobile/assets/i18n/zh-Hans.json
  mobile/assets/i18n/zh-TW.json
Labels: changelog:skip

#12390 ci: tag ml and server images even when they aren't built
  .github/workflows/docker.yml
Labels: changelog:skip

#12404 chore: auto-label translations
  .github/labeler.yml
Labels: changelog:skip

#12437 docs: update public sharing support in README feature table
  README.md
Labels: changelog:skip

#12407 feat(web): logout of all tabs
  server/src/interfaces/event.interface.ts
  server/src/repositories/event.repository.ts
  server/src/services/auth.service.spec.ts
  server/src/services/auth.service.ts
  server/src/services/notification.service.spec.ts
  server/src/services/notification.service.ts
  web/src/lib/components/shared-components/navigation-bar/navigation-bar.svelte
  web/src/lib/stores/websocket.ts
  web/src/lib/utils/auth.ts
Labels: 🖥️web, 🗄️server, changelog:enhancement

#12401 feat(server): start up folder checks
  server/src/entities/system-metadata.entity.ts
  server/src/enum.ts
  server/src/interfaces/database.interface.ts
  server/src/main.ts
  server/src/services/storage.service.spec.ts
  server/src/services/storage.service.ts
  server/src/utils/events.ts
  server/src/workers/api.ts
  server/src/workers/microservices.ts
Labels: 🗄️server, changelog:enhancement

#12398 chore(mobile): post release task
  mobile/ios/Runner.xcodeproj/project.pbxproj
  mobile/ios/Runner/Info.plist
Labels: changelog:skip

#12359 refactor: metadata extraction
  server/src/interfaces/map.interface.ts
  server/src/interfaces/metadata.interface.ts
  server/src/repositories/map.repository.ts
  server/src/repositories/metadata.repository.ts
  server/src/services/metadata.service.spec.ts
  server/src/services/metadata.service.ts
Labels: 🗄️server, changelog:skip

#12455 chore(ml): bump intel driver version
  machine-learning/Dockerfile
Labels: dependencies, 🧠machine-learning, changelog:skip

#12468 fix: only apply changelog:translation label to weblate branch
  .github/labeler.yml
Labels: changelog:skip

#12449 fix(server): remove hidden assets from albums
  server/src/migrations/1725730782681-RemoveHiddenAssetsFromAlbums.ts
Labels: 🗄️server, changelog:bugfix

#12491 fix: skip docker retag jobs on fork PRs
  .github/workflows/docker.yml
Labels: github_actions, changelog:skip

#12486 fix(server): typo on asset-media.service.ts
  server/src/services/asset-media.service.ts
Labels: 🗄️server, changelog:skip

#12373 feat(web): responsive top navigation
  web/src/lib/components/shared-components/navigation-bar/account-info-panel.svelte
  web/src/lib/components/shared-components/navigation-bar/navigation-bar.svelte
  web/src/lib/components/shared-components/side-bar/storage-space.svelte
  web/src/lib/components/shared-components/theme-button.svelte
Labels: 🖥️web, changelog:enhancement

#12509 fix(server): handle multiple hierarchical subjects
  server/src/services/metadata.service.spec.ts
  server/src/services/metadata.service.ts
Labels: 🗄️server, changelog:bugfix

#12512 fix(mobile): scroll thumb is hidden behind the tab navigation bar
  mobile/lib/widgets/asset_grid/draggable_scrollbar_custom.dart
  mobile/lib/widgets/asset_grid/immich_asset_grid_view.dart
Labels: 📱mobile, changelog:bugfix

#12495 feat(web): select the EXIF timezone (if it exists) in dropdown
  web/src/lib/components/asset-viewer/detail-panel.svelte
  web/src/lib/components/shared-components/change-date.svelte
Labels: 🖥️web, changelog:enhancement

#12521 fix(web): show trash indicator
  mobile/openapi/lib/model/asset_bulk_upload_check_result.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/dtos/asset-media-response.dto.ts
  server/src/queries/asset.repository.sql
  server/src/queries/metadata.repository.sql
  server/src/repositories/asset.repository.ts
  server/src/repositories/metadata.repository.ts
  server/src/services/asset-media.service.spec.ts
  server/src/services/asset-media.service.ts
  web/src/lib/components/shared-components/upload-asset-preview.svelte
  web/src/lib/i18n/en.json
  web/src/lib/models/upload-asset.ts
  web/src/lib/utils/file-uploader.ts
Labels: 🖥️web, 🗄️server, changelog:enhancement

#12517 fix(web): select partner assets from timeline
  web/src/routes/(user)/albums/[albumId=id]/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:bugfix

#12526 fix(web): clip scrollbar overflow in modals
  web/src/lib/components/shared-components/full-screen-modal.svelte
  web/src/lib/components/shared-components/modal-header.svelte
Labels: 🖥️web, changelog:skip

#12529 docs: more cursed knowledge
  docs/src/pages/cursed-knowledge.tsx
Labels: documentation, changelog:documentation

#12531 fix(web): preserve search text
  web/src/lib/components/shared-components/search-bar/search-filter-box.svelte
  web/src/lib/components/shared-components/search-bar/search-text-section.svelte
Labels: 🖥️web, changelog:bugfix

#12533 fix(web): show upload error message on network error
  web/src/lib/utils/file-uploader.ts
  web/src/lib/utils/handle-error.ts
Labels: 🖥️web, changelog:bugfix

#12534 fix(server): handle invalid directory item
  server/src/services/metadata.service.spec.ts
  server/src/services/metadata.service.ts
Labels: 🗄️server, changelog:bugfix

#12510 fix: typo in es-US localization
  mobile/assets/i18n/es-US.json
Labels: changelog:skip

#12438 feat(web): move search options into a modal
  web/src/lib/components/shared-components/full-screen-modal.svelte
  web/src/lib/components/shared-components/modal-header.svelte
  web/src/lib/components/shared-components/search-bar/search-bar.svelte
  web/src/lib/components/shared-components/search-bar/search-filter-modal.svelte
  web/src/lib/components/shared-components/search-bar/search-media-section.svelte
  web/src/lib/i18n/en.json
Labels: 🖥️web, changelog:enhancement

#12537 fix(web): leave assets selected after add to album
  web/src/lib/components/photos-page/actions/add-to-album.svelte
Labels: 🖥️web, changelog:bugfix

#12524 fix(server): person repo methods
  server/src/cores/storage.core.ts
  server/src/interfaces/person.interface.ts
  server/src/repositories/person.repository.ts
  server/src/services/audit.service.ts
  server/src/services/media.service.ts
  server/src/services/metadata.service.spec.ts
  server/src/services/metadata.service.ts
  server/src/services/person.service.spec.ts
  server/src/services/person.service.ts
  server/test/repositories/person.repository.mock.ts
Labels: 🗄️server, changelog:bugfix

#12485 docs: Sync the Chinese README with the official one
  readme_i18n/README_zh_CN.md
Labels: changelog:skip

#12574 feat(web): unlink live photos
  e2e/src/api/specs/asset.e2e-spec.ts
  mobile/openapi/lib/model/update_asset_dto.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/dtos/asset.dto.ts
  server/src/interfaces/event.interface.ts
  server/src/interfaces/job.interface.ts
  server/src/services/asset.service.ts
  server/src/services/job.service.ts
  server/src/services/notification.service.ts
  server/src/utils/asset.util.ts
  web/src/lib/components/photos-page/actions/link-live-photo-action.svelte
  web/src/lib/i18n/en.json
  web/src/lib/utils/actions.ts
  web/src/routes/(user)/photos/[[assetId=id]]/+page.svelte
Labels: 🖥️web, 🗄️server, changelog:feature

#12587 chore(ml): downgrade to cuda 12.2
  docs/docs/features/ml-hardware-acceleration.md
  machine-learning/Dockerfile
Labels: documentation, dependencies, 🧠machine-learning, changelog:skip

#12586 docs: proper value of word-based suggestions setting to setup VSCode
  docs/docs/developer/setup.md
Labels: documentation, changelog:documentation

#12555 docs: add server backup to First Steps
  docs/docs/administration/backup-and-restore.md
  docs/docs/install/post-install.mdx
  docs/docs/partials/_server-backup.md
Labels: documentation, changelog:documentation

#12583 fix(web): remove unnecessary divider in External Library settings
  web/src/lib/components/admin-page/settings/library-settings/library-settings.svelte
Labels: 🖥️web, changelog:skip

#12384 chore(web): update translations
  web/src/lib/i18n/bg.json
  web/src/lib/i18n/ca.json
  web/src/lib/i18n/cs.json
  web/src/lib/i18n/de.json
  web/src/lib/i18n/el.json
  web/src/lib/i18n/es.json
  web/src/lib/i18n/et.json
  web/src/lib/i18n/fr.json
  web/src/lib/i18n/hi.json
  web/src/lib/i18n/hu.json
  web/src/lib/i18n/id.json
  web/src/lib/i18n/it.json
  web/src/lib/i18n/pl.json
  web/src/lib/i18n/pt.json
  web/src/lib/i18n/ru.json
  web/src/lib/i18n/sr_Cyrl.json
  web/src/lib/i18n/sr_Latn.json
  web/src/lib/i18n/sv.json
  web/src/lib/i18n/uk.json
  web/src/lib/i18n/vi.json
  web/src/lib/i18n/zh_Hant.json
  web/src/lib/i18n/zh_SIMPLIFIED.json
Labels: 🖥️web, changelog:translation

#12588 fix(ml): batch axis not being added for recognition model
  machine-learning/app/models/facial_recognition/recognition.py
  machine-learning/app/sessions/__init__.py
Labels: 🧠machine-learning, changelog:bugfix

#12589 chore(ml): remove deprecated kwarg when downloading models
  machine-learning/app/models/base.py
  machine-learning/app/test_main.py
Labels: 🧠machine-learning, changelog:skip

#12595 fix(server): missing case break"
  server/src/services/job.service.ts
Labels: 🗄️server, changelog:skip

#12599 fix(server): include partner assets in random endpoint
  server/src/interfaces/asset.interface.ts
  server/src/repositories/asset.repository.ts
  server/src/services/asset.service.ts
Labels: 🗄️server, changelog:enhancement, sharing

#12606 refactor(server): client emit events
  server/src/interfaces/event.interface.ts
  server/src/services/asset-media.service.ts
  server/src/services/asset.service.ts
  server/src/services/notification.service.spec.ts
  server/src/services/notification.service.ts
  server/src/services/stack.service.ts
  server/src/services/trash.service.spec.ts
  server/src/services/trash.service.ts
Labels: 🗄️server, changelog:skip

#12593 docs: scaling immich guide
  docs/docs/guides/scaling-immich.md
Labels: documentation, changelog:documentation

#12123 fix(web): load original panorama if specified in user settings
  web/src/lib/components/asset-viewer/panorama-viewer.svelte
  web/src/lib/components/asset-viewer/photo-sphere-viewer-adapter.svelte
Labels: 🖥️web, changelog:bugfix

#12612 fix(web): bucket by `localDateTime`
  web/src/lib/components/asset-viewer/detail-panel.svelte
  web/src/lib/stores/asset.store.spec.ts
  web/src/lib/stores/assets.store.ts
Labels: 🖥️web, changelog:bugfix, date-time

#12648 ci: migrate off deprecated (and broken) value field on cloudflare_record
  deployment/modules/cloudflare/docs/domain.tf
Labels: changelog:skip

#12649 fix(web): memory viewer
  web/src/lib/components/memory-page/memory-viewer.svelte
  web/src/lib/components/photos-page/memory-lane.svelte
  web/src/lib/components/shared-components/gallery-viewer/gallery-viewer.svelte
  web/src/lib/constants.ts
Labels: 🖥️web, changelog:bugfix

#12619 fix(server): increase person search limit
  server/src/queries/person.repository.sql
  server/src/repositories/person.repository.ts
  web/src/lib/constants.ts
Labels: 🖥️web, 🗄️server, changelog:bugfix

#12651 chore: add date/time issue to template
  .github/ISSUE_TEMPLATE/config.yml
Labels: changelog:skip

#12659 fix(web): scrollbar shows when not need
  web/src/lib/components/shared-components/full-screen-modal.svelte
Labels: 🖥️web, changelog:bugfix

#12658 fix(server): fix modify date extraction
  server/src/services/metadata.service.spec.ts
  server/src/services/metadata.service.ts
Labels: 🗄️server, changelog:bugfix

#12558 fix(mobile): fix mn-MN.json file name
  localizely.yml
  mobile/assets/i18n/mn-MN.json
Labels: changelog:translation

#12680 chore(web): small cleanup for full screen modal
  web/src/lib/components/shared-components/full-screen-modal.svelte
Labels: 🖥️web, changelog:skip

#12705 chore(mobile): add isar lock file
  mobile/.isar-cargo.lock
  mobile/scripts/fdroid_build_isar.sh
  mobile/scripts/fdroid_update_isar.sh
Labels: changelog:skip

#12701 refactor(mobile): repositories for album service
  mobile/lib/entities/album.entity.dart
  mobile/lib/interfaces/album.interface.dart
  mobile/lib/interfaces/asset.interface.dart
  mobile/lib/interfaces/backup.interface.dart
  mobile/lib/interfaces/user.interface.dart
  mobile/lib/repositories/album.repository.dart
  mobile/lib/repositories/asset.repository.dart
  mobile/lib/repositories/backup.repository.dart
  mobile/lib/repositories/user.repository.dart
  mobile/lib/services/album.service.dart
  mobile/lib/services/background.service.dart
  mobile/test/repository.mocks.dart
  mobile/test/service.mocks.dart
  mobile/test/services/album.service.test.dart
Labels: 📱mobile, changelog:skip

#12654 feat: tag cleanup job
  mobile/openapi/README.md
  mobile/openapi/lib/api.dart
  mobile/openapi/lib/api/jobs_api.dart
  mobile/openapi/lib/api_client.dart
  mobile/openapi/lib/api_helper.dart
  mobile/openapi/lib/model/job_create_dto.dart
  mobile/openapi/lib/model/manual_job_name.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/controllers/job.controller.ts
  server/src/dtos/job.dto.ts
  server/src/enum.ts
  server/src/interfaces/job.interface.ts
  server/src/interfaces/tag.interface.ts
  server/src/repositories/job.repository.ts
  server/src/repositories/tag.repository.ts
  server/src/services/job.service.ts
  server/src/services/microservices.service.ts
  server/src/services/tag.service.ts
  server/test/repositories/tag.repository.mock.ts
  web/src/lib/components/shared-components/combobox.svelte
  web/src/lib/i18n/en.json
  web/src/routes/admin/jobs-status/+page.svelte
Labels: 🖥️web, 🗄️server, changelog:enhancement

#12643 docs: add hint for healthcheck.start_interval
  docs/docs/install/docker-compose.mdx
Labels: documentation, changelog:documentation

#12723 fix: update the profile picture in the navigation-bar
  e2e/src/responses.ts
  mobile/openapi/lib/model/create_profile_image_response_dto.dart
  mobile/openapi/lib/model/partner_response_dto.dart
  mobile/openapi/lib/model/user_admin_response_dto.dart
  mobile/openapi/lib/model/user_response_dto.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/dtos/user-profile.dto.ts
  server/src/dtos/user.dto.ts
  server/src/entities/user.entity.ts
  server/src/migrations/1726491047923-AddprofileChangedAt.ts
  server/src/queries/activity.repository.sql
  server/src/queries/album.repository.sql
  server/src/queries/api.key.repository.sql
  server/src/queries/library.repository.sql
  server/src/queries/session.repository.sql
  server/src/queries/shared.link.repository.sql
  server/src/queries/user.repository.sql
  server/src/services/user.service.ts
  web/src/lib/components/shared-components/profile-image-cropper.svelte
  web/src/lib/components/shared-components/user-avatar.svelte
  web/src/lib/utils.ts
  web/src/test-data/factories/user-factory.ts
Labels: 🖥️web, 🗄️server, changelog:skip

#12745 fix(server): debug port
  .vscode/launch.json
  docker/docker-compose.dev.yml
  server/src/main.ts
Labels: 🗄️server, changelog:skip

#12755 refactor(server): view repository
  server/src/interfaces/asset.interface.ts
  server/src/interfaces/view.interface.ts
  server/src/queries/asset.repository.sql
  server/src/queries/view.repository.sql
  server/src/repositories/asset.repository.ts
  server/src/repositories/index.ts
  server/src/repositories/view-repository.ts
  server/src/services/view.service.spec.ts
  server/src/services/view.service.ts
  server/test/repositories/asset.repository.mock.ts
  server/test/repositories/view.repository.mock.ts
Labels: 🗄️server, changelog:skip

#12758 chore: remove unused album repository methods
  server/src/interfaces/album.interface.ts
  server/src/interfaces/asset.interface.ts
  server/src/interfaces/job.interface.ts
  server/src/queries/album.repository.sql
  server/src/repositories/album.repository.ts
  server/src/repositories/asset.repository.ts
  server/src/repositories/job.repository.ts
  server/src/services/album.service.spec.ts
  server/src/services/album.service.ts
  server/test/repositories/album.repository.mock.ts
  server/test/repositories/asset.repository.mock.ts
  server/test/repositories/job.repository.mock.ts
Labels: 🗄️server, changelog:skip

#12759 refactor(server): metadata repository
  server/src/interfaces/metadata.interface.ts
  server/src/interfaces/search.interface.ts
  server/src/queries/metadata.repository.sql
  server/src/queries/search.repository.sql
  server/src/repositories/metadata.repository.ts
  server/src/repositories/search.repository.ts
  server/src/services/search.service.spec.ts
  server/src/services/search.service.ts
  server/test/repositories/metadata.repository.mock.ts
  server/test/repositories/search.repository.mock.ts
Labels: 🗄️server, changelog:skip

#12751 fix: empty and restore over 1,000 items
  e2e/src/api/specs/trash.e2e-spec.ts
  mobile/openapi/README.md
  mobile/openapi/lib/api.dart
  mobile/openapi/lib/api/trash_api.dart
  mobile/openapi/lib/api_client.dart
  mobile/openapi/lib/model/trash_response_dto.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/controllers/trash.controller.ts
  server/src/dtos/trash.dto.ts
  server/src/entities/asset.entity.ts
  server/src/enum.ts
  server/src/interfaces/asset.interface.ts
  server/src/interfaces/event.interface.ts
  server/src/interfaces/job.interface.ts
  server/src/interfaces/search.interface.ts
  server/src/interfaces/trash.interface.ts
  server/src/migrations/1726593009549-AddAssetStatus.ts
  server/src/queries/asset.repository.sql
  server/src/queries/person.repository.sql
  server/src/queries/search.repository.sql
  server/src/queries/shared.link.repository.sql
  server/src/queries/view.repository.sql
  server/src/repositories/asset.repository.ts
  server/src/repositories/index.ts
  server/src/repositories/job.repository.ts
  server/src/repositories/trash.repository.ts
  server/src/services/asset-media.service.spec.ts
  server/src/services/asset-media.service.ts
  server/src/services/asset.service.spec.ts
  server/src/services/asset.service.ts
  server/src/services/microservices.service.ts
  server/src/services/trash.service.spec.ts
  server/src/services/trash.service.ts
  server/test/fixtures/asset.stub.ts
  server/test/fixtures/shared-link.stub.ts
  server/test/repositories/asset.repository.mock.ts
  server/test/repositories/trash.repository.mock.ts
  web/src/routes/(user)/trash/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, 🗄️server, changelog:bugfix

#12754 refactor(mobile): encapsulate most access to photomanager in repository
  .github/workflows/static_analysis.yml
  mobile/analysis_options.yaml
  mobile/immich_lint/analysis_options.yaml
  mobile/immich_lint/lib/immich_mobile_immich_lint.dart
  mobile/immich_lint/pubspec.lock
  mobile/immich_lint/pubspec.yaml
  mobile/lib/entities/album.entity.dart
  mobile/lib/entities/asset.entity.dart
  mobile/lib/interfaces/album_media.interface.dart
  mobile/lib/interfaces/asset_media.interface.dart
  mobile/lib/interfaces/file_media.interface.dart
  mobile/lib/models/backup/available_album.model.dart
  mobile/lib/models/backup/backup_candidate.model.dart
  mobile/lib/models/backup/error_upload_asset.model.dart
  mobile/lib/pages/backup/album_preview.page.dart
  mobile/lib/pages/backup/failed_backup_status.page.dart
  mobile/lib/pages/editing/edit.page.dart
  mobile/lib/providers/asset.provider.dart
  mobile/lib/providers/backup/backup.provider.dart
  mobile/lib/providers/backup/manual_upload.provider.dart
  mobile/lib/providers/image/immich_local_image_provider.dart
  mobile/lib/providers/image/immich_local_thumbnail_provider.dart
  mobile/lib/repositories/album_media.repository.dart
  mobile/lib/repositories/asset_media.repository.dart
  mobile/lib/repositories/file_media.repository.dart
  mobile/lib/routing/router.dart
  mobile/lib/routing/router.gr.dart
  mobile/lib/services/album.service.dart
  mobile/lib/services/asset.service.dart
  mobile/lib/services/background.service.dart
  mobile/lib/services/backup.service.dart
  mobile/lib/services/backup_verification.service.dart
  mobile/lib/services/hash.service.dart
  mobile/lib/services/image_viewer.service.dart
  mobile/lib/services/sync.service.dart
  mobile/lib/widgets/backup/album_info_card.dart
  mobile/lib/widgets/backup/album_info_list_tile.dart
  mobile/lib/widgets/backup/current_backup_asset_info_box.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
  mobile/test/modules/shared/shared_mocks.dart
  mobile/test/modules/shared/sync_service_test.dart
  mobile/test/repository.mocks.dart
  mobile/test/service.mocks.dart
  mobile/test/services/album.service_test.dart
Labels: 📱mobile, changelog:skip

#12774 fix(mobile): profileChangedAt compatiblity with old servers
  mobile/lib/utils/openapi_patching.dart
Labels: 📱mobile, changelog:skip

#12775 fix(web): upgrade old style theme preference
  web/src/app.html
Labels: 🖥️web, changelog:bugfix

#12772 fix(web): asset grid with invalid asset id (at)
  web/src/lib/stores/assets.store.ts
  web/src/test-data/factories/asset-factory.ts
Labels: 🖥️web, changelog:bugfix

#12778 fix: creating tags with leading/traling slashes
  server/src/services/tag.service.spec.ts
  server/src/utils/tag.ts
Labels: 🗄️server, changelog:bugfix

#12779 fix(web): only show the timezone when it is known
  web/src/lib/components/asset-viewer/detail-panel.svelte
  web/src/lib/utils/timeline-util.ts
Labels: 🖥️web, changelog:bugfix

#12796 chore(web): remove stray dateTimeOriginal reference
  web/src/lib/components/asset-viewer/detail-panel.svelte
Labels: 🖥️web, changelog:skip

#12802 refactor(web): migrate away from event dispatcher
  web/src/lib/components/admin-page/delete-confirm-dialogue.svelte
  web/src/lib/components/admin-page/jobs/job-tile.svelte
  web/src/lib/components/admin-page/jobs/jobs-panel.svelte
  web/src/lib/components/admin-page/restore-dialogue.svelte
  web/src/lib/components/elements/slider.svelte
  web/src/lib/components/forms/create-user-form.svelte
  web/src/lib/components/photos-page/asset-grid.svelte
  web/src/lib/components/shared-components/navigation-bar/account-info-panel.svelte
  web/src/lib/components/shared-components/navigation-bar/avatar-selector.svelte
  web/src/lib/components/shared-components/settings/setting-switch.svelte
  web/src/lib/components/shared-components/show-shortcuts.svelte
  web/src/lib/components/user-settings-page/device-card.svelte
  web/src/lib/components/user-settings-page/device-list.svelte
  web/src/lib/components/user-settings-page/partner-selection-modal.svelte
  web/src/lib/components/user-settings-page/partner-settings.svelte
  web/src/routes/(user)/user-settings/+page.svelte
  web/src/routes/(user)/utilities/duplicates/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/admin/user-management/+page.svelte
Labels: 🖥️web, changelog:skip

#12791 refactor(mobile): album api repository for album service
  mobile/analysis_options.yaml
  mobile/immich_lint/lib/immich_mobile_immich_lint.dart
  mobile/immich_lint/pubspec.lock
  mobile/immich_lint/pubspec.yaml
  mobile/lib/entities/album.entity.dart
  mobile/lib/interfaces/album_api.interface.dart
  mobile/lib/interfaces/asset.interface.dart
  mobile/lib/interfaces/user.interface.dart
  mobile/lib/repositories/album_api.repository.dart
  mobile/lib/repositories/asset.repository.dart
  mobile/lib/repositories/user.repository.dart
  mobile/lib/services/album.service.dart
  mobile/lib/services/background.service.dart
  mobile/lib/services/entity.service.dart
  mobile/lib/services/sync.service.dart
  mobile/test/modules/shared/sync_service_test.dart
  mobile/test/repository.mocks.dart
  mobile/test/service.mocks.dart
  mobile/test/services/album.service_test.dart
  mobile/test/services/entity.service_test.dart
Labels: 📱mobile, changelog:skip

#12825 fix(web): events as props
  web/src/lib/components/admin-page/settings/ffmpeg/ffmpeg-settings.svelte
  web/src/lib/components/admin-page/settings/image/image-settings.svelte
  web/src/lib/components/asset-viewer/video-wrapper-viewer.svelte
  web/src/lib/components/faces-page/people-list.svelte
  web/src/lib/components/faces-page/people-search.svelte
  web/src/lib/components/faces-page/unmerge-face-selector.svelte
  web/src/lib/components/forms/tag-asset-form.svelte
  web/src/lib/components/share-page/individual-shared-viewer.svelte
  web/src/lib/components/shared-components/purchasing/purchase-activation-success.svelte
  web/src/lib/components/shared-components/search-bar/search-camera-section.svelte
  web/src/lib/components/shared-components/search-bar/search-location-section.svelte
  web/src/lib/components/shared-components/settings/setting-combobox.svelte
  web/src/lib/components/user-settings-page/app-settings.svelte
  web/src/lib/components/user-settings-page/partner-settings.svelte
  web/src/lib/components/user-settings-page/user-purchase-settings.svelte
  web/src/routes/(user)/albums/[albumId=id]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/map/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/partners/[userId]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/people/[personId]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/photos/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/search/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/sharing/sharedlinks/+page.svelte
Labels: 🖥️web, changelog:skip

#12784 fix(mobile): Issue Selecting Many Albuns for Backup
  mobile/lib/providers/backup/backup.provider.dart
Labels: 📱mobile, changelog:bugfix

#12812 fix: rework file handling so we always explicitly create, overwrite or both
  server/src/interfaces/storage.interface.ts
  server/src/repositories/storage.repository.ts
  server/src/services/metadata.service.spec.ts
  server/src/services/metadata.service.ts
  server/src/services/storage.service.spec.ts
  server/src/services/storage.service.ts
  server/test/repositories/storage.repository.mock.ts
Labels: 🗄️server, changelog:bugfix

#12826 fix(mobile): fix uncaught error in getting file cause hashing procses to be aborted entirely
  mobile/lib/services/hash.service.dart
Labels: 📱mobile, changelog:bugfix

#12840 chore(mobile): restrict isar use via CI checks
  mobile/analysis_options.yaml
  mobile/lib/pages/library/favorite.page.dart
  mobile/lib/providers/favorite.provider.dart
Labels: changelog:skip

#12841 docs: mobile architecture diagram
  docs/docs/developer/architecture.mdx
  docs/docs/developer/img/immich_mobile_architecture.drawio
  docs/docs/developer/img/immich_mobile_architecture.svg
Labels: documentation, changelog:documentation

#12813 docs: add section for Traefik Reverse Proxy
  docs/docs/administration/reverse-proxy.md
Labels: documentation, changelog:documentation

#12855 feat(server): validate rating
  server/src/services/metadata.service.spec.ts
  server/src/services/metadata.service.ts
Labels: 🗄️server, changelog:bugfix

#12869 fix: web e2e
  e2e/docker-compose.yml
  e2e/playwright.config.ts
  e2e/src/setup/docker-compose.ts
  e2e/src/utils.ts
  server/src/services/storage.service.ts
Labels: 🗄️server, changelog:skip

#12865 fix(web): Fix same key for delete and stack actions
  web/src/routes/(user)/utilities/duplicates/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:bugfix

#12831 fix: normalize external domain
  server/src/cores/system-config.core.ts
  server/src/services/system-config.service.spec.ts
  web/src/lib/utils.ts
Labels: 🖥️web, 🗄️server, changelog:bugfix

#12741 feat(server): sort assets randomly from the API 'api/search/metadata' endpoint by including 'order': 'rand' in the API call.
  mobile/openapi/README.md
  mobile/openapi/lib/api.dart
  mobile/openapi/lib/api/assets_api.dart
  mobile/openapi/lib/api/deprecated_api.dart
  mobile/openapi/lib/api/search_api.dart
  mobile/openapi/lib/api_client.dart
  mobile/openapi/lib/model/random_search_dto.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/controllers/asset.controller.ts
  server/src/controllers/search.controller.ts
  server/src/dtos/search.dto.ts
  server/src/interfaces/search.interface.ts
  server/src/repositories/search.repository.ts
  server/src/services/search.service.ts
Labels: 🖥️web, 🗄️server, changelog:enhancement

#12870 fix(server): gracefully handle unknown jobs
  server/src/services/job.service.ts
Labels: 🗄️server, changelog:bugfix

#12871 fix: show asset count for unassigned faces
  web/src/routes/(user)/people/[personId]/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:bugfix

#12872 fix: remove no longer needed LD_LIBRARY_PATH
  docker/hwaccel.transcoding.yml
Labels: changelog:bugfix

#12878 fix: open api
  mobile/openapi/lib/model/random_search_dto.dart
Labels: changelog:skip

#12858 feat: serve map tile styles from tiles.immich.cloud
  e2e/package-lock.json
  e2e/src/api/specs/map.e2e-spec.ts
  e2e/src/api/specs/server-info.e2e-spec.ts
  e2e/src/api/specs/server.e2e-spec.ts
  mobile/.vscode/settings.json
  mobile/lib/models/server_info/server_config.model.dart
  mobile/lib/pages/search/map/map.page.dart
  mobile/lib/providers/map/map_state.provider.dart
  mobile/lib/providers/server_info.provider.dart
  mobile/lib/utils/openapi_patching.dart
  mobile/openapi/README.md
  mobile/openapi/lib/api.dart
  mobile/openapi/lib/api/map_api.dart
  mobile/openapi/lib/api_client.dart
  mobile/openapi/lib/api_helper.dart
  mobile/openapi/lib/model/map_theme.dart
  mobile/openapi/lib/model/server_config_dto.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/package-lock.json
  server/src/config.ts
  server/src/controllers/map.controller.ts
  server/src/dtos/server.dto.ts
  server/src/dtos/system-config.dto.ts
  server/src/services/map.service.ts
  server/src/services/server.service.spec.ts
  server/src/services/server.service.ts
  server/src/services/system-config.service.spec.ts
  web/src/lib/components/shared-components/map/map.svelte
  web/src/lib/stores/server-config.store.ts
Labels: 📱mobile, 🖥️web, 🗄️server, changelog:enhancement

#12877 fix: set min values for face detection to reasonable values
  mobile/openapi/lib/model/facial_recognition_config.dart
  open-api/immich-openapi-specs.json
  server/src/dtos/model-config.dto.ts
  web/src/lib/components/admin-page/settings/machine-learning-settings/machine-learning-settings.svelte
Labels: 🖥️web, 🗄️server, changelog:bugfix

#12879 refactor(mobile): more repositories
  mobile/analysis_options.yaml
  mobile/lib/interfaces/activity_api.interface.dart
  mobile/lib/interfaces/asset.interface.dart
  mobile/lib/interfaces/asset_api.interface.dart
  mobile/lib/interfaces/exif_info.interface.dart
  mobile/lib/models/activities/activity.model.dart
  mobile/lib/providers/activity_service.provider.dart
  mobile/lib/providers/activity_statistics.provider.dart
  mobile/lib/repositories/activity_api.repository.dart
  mobile/lib/repositories/album_api.repository.dart
  mobile/lib/repositories/asset.repository.dart
  mobile/lib/repositories/asset_api.repository.dart
  mobile/lib/repositories/base_api.repository.dart
  mobile/lib/repositories/exif_info.repository.dart
  mobile/lib/services/activity.service.dart
  mobile/lib/services/asset.service.dart
  mobile/lib/services/asset_description.service.dart
  mobile/lib/services/backup_verification.service.dart
  mobile/lib/widgets/asset_viewer/description_input.dart
  mobile/test/modules/activity/activity_statistics_provider_test.dart
Labels: 📱mobile, changelog:skip

#12891 refactor(mobile): use repositories in a number of services
  mobile/analysis_options.yaml
  mobile/lib/constants/constants.dart
  mobile/lib/interfaces/asset.interface.dart
  mobile/lib/interfaces/asset_api.interface.dart
  mobile/lib/interfaces/partner_api.interface.dart
  mobile/lib/interfaces/person_api.interface.dart
  mobile/lib/interfaces/user.interface.dart
  mobile/lib/interfaces/user_api.interface.dart
  mobile/lib/models/search/search_filter.model.dart
  mobile/lib/pages/common/gallery_viewer.page.dart
  mobile/lib/pages/search/search_input.page.dart
  mobile/lib/providers/activity_service.provider.g.dart
  mobile/lib/providers/activity_statistics.provider.g.dart
  mobile/lib/providers/album/suggested_shared_users.provider.dart
  mobile/lib/providers/map/map_state.provider.g.dart
  mobile/lib/providers/search/people.provider.dart
  mobile/lib/providers/search/people.provider.g.dart
  mobile/lib/repositories/asset.repository.dart
  mobile/lib/repositories/asset_api.repository.dart
  mobile/lib/repositories/partner_api.repository.dart
  mobile/lib/repositories/person_api.repository.dart
  mobile/lib/repositories/user.repository.dart
  mobile/lib/repositories/user_api.repository.dart
  mobile/lib/services/background.service.dart
  mobile/lib/services/hash.service.dart
  mobile/lib/services/memory.service.dart
  mobile/lib/services/partner.service.dart
  mobile/lib/services/person.service.dart
  mobile/lib/services/person.service.g.dart
  mobile/lib/services/search.service.dart
  mobile/lib/services/stack.service.dart
  mobile/lib/services/user.service.dart
  mobile/lib/utils/image_url_builder.dart
  mobile/lib/widgets/asset_grid/thumbnail_image.dart
  mobile/lib/widgets/search/search_filter/people_picker.dart
Labels: 📱mobile, changelog:skip

#12895 fix(docs): typo in remote-access.md
  docs/docs/guides/remote-access.md
Labels: documentation, changelog:documentation

#12551 docs: details for windows users how to change docker volume
  docs/docs/install/docker-compose.mdx
  docs/docs/install/environment-variables.md
  docs/docs/install/requirements.md
Labels: documentation, changelog:documentation

#12874 fix: album title state weirdness
  web/src/lib/components/album-page/album-title.svelte
  web/src/routes/(user)/albums/[albumId=id]/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:bugfix
