Repository immich-app/immich, pull requests merged in 2024-12, with the labels that each got.

#14425 feat(server): specify names for thumbnail files
  server/src/services/asset-media.service.spec.ts
  server/src/services/asset-media.service.ts
  server/src/utils/file.ts
Labels: 🗄️server, changelog:enhancement

#14447 chore(mobile): Add const linter
  mobile/analysis_options.yaml
  mobile/lib/pages/albums/albums.page.dart
  mobile/lib/pages/common/album_options.page.dart
  mobile/lib/pages/common/album_shared_user_selection.page.dart
  mobile/lib/pages/library/library.page.dart
  mobile/lib/pages/library/places/places_collection.page.dart
  mobile/lib/pages/search/search.page.dart
  mobile/lib/repositories/auth_api.repository.dart
  mobile/lib/services/api.service.dart
  mobile/lib/utils/immich_app_theme.dart
  mobile/lib/widgets/album/album_viewer_appbar.dart
  mobile/lib/widgets/asset_viewer/bottom_gallery_bar.dart
  mobile/lib/widgets/common/app_bar_dialog/app_bar_dialog.dart
  mobile/test/modules/map/map_theme_override_test.dart
Labels: 📱mobile, changelog:skip

#14402 chore(mobile): added 'corrupt asset check' translation item
  mobile/assets/i18n/en-US.json
  mobile/lib/widgets/settings/backup_settings/backup_settings.dart
Labels: 📱mobile, changelog:skip

#14455 fix(server): always set transcoding device, prefer renderD*
  server/src/services/media.service.spec.ts
  server/src/utils/media.ts
Labels: 🗄️server, changelog:bugfix

#14460 fix(server): show people without thumbnails
  server/src/queries/person.repository.sql
  server/src/repositories/person.repository.ts
Labels: 🗄️server, changelog:bugfix

#13766 fix(mobile): album most recent sorting on mobile
  mobile/lib/providers/album/album_sort_by_options.provider.dart
  mobile/test/fixtures/album.stub.dart
  mobile/test/modules/album/album_sort_by_options_provider_test.dart
Labels: 📱mobile, changelog:bugfix

#14347 feat(ml): support multiple urls
  docs/docs/guides/remote-machine-learning.md
  docs/docs/install/config-file.md
  i18n/en.json
  mobile/openapi/lib/model/system_config_machine_learning_dto.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/config.ts
  server/src/cores/storage.core.spec.ts
  server/src/dtos/system-config.dto.ts
  server/src/interfaces/machine-learning.interface.ts
  server/src/migrations/1733339482860-RenameMachineLearningUrlToUrls.ts
  server/src/repositories/event.repository.ts
  server/src/repositories/machine-learning.repository.ts
  server/src/services/person.service.spec.ts
  server/src/services/person.service.ts
  server/src/services/search.service.ts
  server/src/services/smart-info.service.spec.ts
  server/src/services/smart-info.service.ts
  server/src/services/system-config.service.spec.ts
  web/src/lib/components/admin-page/settings/machine-learning-settings/machine-learning-settings.svelte
  web/src/lib/components/elements/buttons/circle-icon-button.svelte
  web/src/lib/components/shared-components/settings/setting-input-field.svelte
Labels: documentation, 🖥️web, 🗄️server, changelog:feature

#13940 feat: Notification Email Templates
  docs/docs/administration/email-notification.mdx
  docs/docs/administration/img/user-notifications-templates.png
  docs/docs/administration/system-settings.md
  i18n/en.json
  i18n/nl.json
  mobile/openapi/README.md
  mobile/openapi/lib/api.dart
  mobile/openapi/lib/api/notifications_api.dart
  mobile/openapi/lib/api_client.dart
  mobile/openapi/lib/model/system_config_dto.dart
  mobile/openapi/lib/model/system_config_template_emails_dto.dart
  mobile/openapi/lib/model/system_config_templates_dto.dart
  mobile/openapi/lib/model/template_dto.dart
  mobile/openapi/lib/model/template_response_dto.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/config.ts
  server/src/controllers/notification.controller.ts
  server/src/dtos/notification.dto.ts
  server/src/dtos/system-config.dto.ts
  server/src/emails/album-invite.email.tsx
  server/src/emails/album-update.email.tsx
  server/src/emails/welcome.email.tsx
  server/src/interfaces/notification.interface.ts
  server/src/repositories/notification.repository.spec.ts
  server/src/repositories/notification.repository.ts
  server/src/services/notification.service.ts
  server/src/services/system-config.service.spec.ts
  server/src/utils/replace-template-tags.ts
  web/package-lock.json
  web/src/lib/components/admin-page/settings/notification-settings/notification-settings.svelte
  web/src/lib/components/admin-page/settings/template-settings/template-settings.svelte
Labels: documentation, 🖥️web, 🗄️server, changelog:enhancement

#12104 feat(mobile): native_video_player
  mobile/android/app/build.gradle
  mobile/android/app/src/main/AndroidManifest.xml
  mobile/android/build.gradle
  mobile/ios/Podfile.lock
  mobile/ios/Runner/AppDelegate.swift
  mobile/lib/constants/immich_colors.dart
  mobile/lib/entities/asset.entity.dart
  mobile/lib/entities/exif_info.entity.dart
  mobile/lib/entities/exif_info.entity.g.dart
  mobile/lib/extensions/scroll_extensions.dart
  mobile/lib/pages/common/gallery_stacked_children.dart
  mobile/lib/pages/common/gallery_viewer.page.dart
  mobile/lib/pages/common/native_video_viewer.page.dart
  mobile/lib/pages/common/video_viewer.page.dart
  mobile/lib/pages/photos/memory.page.dart
  mobile/lib/pages/search/map/map.page.dart
  mobile/lib/providers/asset_viewer/asset_stack.provider.dart
  mobile/lib/providers/asset_viewer/is_motion_video_playing.provider.dart
  mobile/lib/providers/asset_viewer/video_player_controller_provider.dart
  mobile/lib/providers/asset_viewer/video_player_controller_provider.g.dart
  mobile/lib/providers/asset_viewer/video_player_controls_provider.dart
  mobile/lib/providers/asset_viewer/video_player_value_provider.dart
  mobile/lib/providers/image/immich_local_image_provider.dart
  mobile/lib/routing/router.dart
  mobile/lib/routing/router.gr.dart
  mobile/lib/services/asset.service.dart
  mobile/lib/utils/debounce.dart
  mobile/lib/utils/hooks/chewiew_controller_hook.dart
  mobile/lib/utils/hooks/interval_hook.dart
  mobile/lib/utils/migration.dart
  mobile/lib/utils/throttle.dart
  mobile/lib/widgets/asset_grid/immich_asset_grid_view.dart
  mobile/lib/widgets/asset_viewer/bottom_gallery_bar.dart
  mobile/lib/widgets/asset_viewer/custom_video_player_controls.dart
  mobile/lib/widgets/asset_viewer/detail_panel/file_info.dart
  mobile/lib/widgets/asset_viewer/gallery_app_bar.dart
  mobile/lib/widgets/asset_viewer/motion_photo_button.dart
  mobile/lib/widgets/asset_viewer/top_control_app_bar.dart
  mobile/lib/widgets/asset_viewer/video_player.dart
  mobile/lib/widgets/asset_viewer/video_position.dart
  mobile/lib/widgets/common/immich_image.dart
  mobile/lib/widgets/memories/memory_card.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: 📱mobile, changelog:feature

#14437 feat(mobile): Auto switching server URLs
  mobile/analysis_options.yaml
  mobile/android/app/src/main/AndroidManifest.xml
  mobile/assets/i18n/en-US.json
  mobile/ios/Podfile
  mobile/ios/Podfile.lock
  mobile/ios/Runner.xcodeproj/project.pbxproj
  mobile/ios/Runner/AppDelegate.swift
  mobile/ios/Runner/Info.plist
  mobile/ios/Runner/Runner.entitlements
  mobile/ios/Runner/RunnerProfile.entitlements
  mobile/lib/entities/store.entity.dart
  mobile/lib/extensions/build_context_extensions.dart
  mobile/lib/interfaces/auth.interface.dart
  mobile/lib/interfaces/network.interface.dart
  mobile/lib/models/auth/auxilary_endpoint.model.dart
  mobile/lib/pages/common/settings.page.dart
  mobile/lib/pages/common/splash_screen.page.dart
  mobile/lib/providers/app_life_cycle.provider.dart
  mobile/lib/providers/auth.provider.dart
  mobile/lib/providers/network.provider.dart
  mobile/lib/providers/server_info.provider.dart
  mobile/lib/repositories/auth.repository.dart
  mobile/lib/repositories/network.repository.dart
  mobile/lib/repositories/permission.repository.dart
  mobile/lib/services/api.service.dart
  mobile/lib/services/app_settings.service.dart
  mobile/lib/services/auth.service.dart
  mobile/lib/services/background.service.dart
  mobile/lib/services/network.service.dart
  mobile/lib/widgets/settings/networking_settings/endpoint_input.dart
  mobile/lib/widgets/settings/networking_settings/external_network_preference.dart
  mobile/lib/widgets/settings/networking_settings/local_network_preference.dart
  mobile/lib/widgets/settings/networking_settings/networking_settings.dart
  mobile/openapi/devtools_options.yaml
  mobile/pubspec.lock
  mobile/pubspec.yaml
  mobile/test/service.mocks.dart
  mobile/test/services/auth.service_test.dart
Labels: 📱mobile, changelog:feature

#14493 chore(mobile): Translations update
  mobile/assets/i18n/ar-JO.json
  mobile/assets/i18n/cs-CZ.json
  mobile/assets/i18n/da-DK.json
  mobile/assets/i18n/de-DE.json
  mobile/assets/i18n/el-GR.json
  mobile/assets/i18n/en-US.json
  mobile/assets/i18n/es-ES.json
  mobile/assets/i18n/es-MX.json
  mobile/assets/i18n/es-PE.json
  mobile/assets/i18n/es-US.json
  mobile/assets/i18n/fi-FI.json
  mobile/assets/i18n/fr-CA.json
  mobile/assets/i18n/fr-FR.json
  mobile/assets/i18n/he-IL.json
  mobile/assets/i18n/hi-IN.json
  mobile/assets/i18n/hu-HU.json
  mobile/assets/i18n/it-IT.json
  mobile/assets/i18n/ja-JP.json
  mobile/assets/i18n/ko-KR.json
  mobile/assets/i18n/lt-LT.json
  mobile/assets/i18n/lv-LV.json
  mobile/assets/i18n/mn-MN.json
  mobile/assets/i18n/nb-NO.json
  mobile/assets/i18n/nl-NL.json
  mobile/assets/i18n/pl-PL.json
  mobile/assets/i18n/pt-PT.json
  mobile/assets/i18n/ro-RO.json
  mobile/assets/i18n/ru-RU.json
  mobile/assets/i18n/sk-SK.json
  mobile/assets/i18n/sl-SI.json
  mobile/assets/i18n/sr-Cyrl.json
  mobile/assets/i18n/sr-Latn.json
  mobile/assets/i18n/sv-FI.json
  mobile/assets/i18n/sv-SE.json
  mobile/assets/i18n/th-TH.json
  mobile/assets/i18n/uk-UA.json
  mobile/assets/i18n/vi-VN.json
  mobile/assets/i18n/zh-CN.json
  mobile/assets/i18n/zh-Hans.json
  mobile/assets/i18n/zh-TW.json
Labels: changelog:skip

#14512 fix(server): images with non-ascii names failing to load
  server/src/utils/file.ts
Labels: 🗄️server, changelog:bugfix

#14520 chore(mobile): post release tasks
  mobile/ios/Runner/Info.plist
Labels: changelog:skip

#14545 fix(web): recent albums sort
  web/src/lib/components/shared-components/side-bar/recent-albums.spec.ts
  web/src/lib/components/shared-components/side-bar/recent-albums.svelte
Labels: 🖥️web, changelog:bugfix

#14533 fix(mobile): fix translations on search page
  mobile/assets/i18n/en-US.json
  mobile/lib/pages/search/search.page.dart
Labels: 📱mobile, changelog:bugfix

#14589 chore(mobile): disable Impeller
  mobile/android/app/src/main/AndroidManifest.xml
Labels: changelog:bugfix

#14578 chore: add language requests from weblate
  i18n/bn.json
  i18n/ur.json
  web/src/lib/constants.ts
Labels: 🖥️web, changelog:translation

#14590 feat: Add support for vob
  server/src/services/asset-media.service.spec.ts
  server/src/utils/mime-types.spec.ts
  server/src/utils/mime-types.ts
Labels: 🗄️server, changelog:enhancement

#14626 refactor(server): use `includeNull` in query for search suggestions
  e2e/src/api/specs/search.e2e-spec.ts
  server/src/interfaces/search.interface.ts
  server/src/queries/search.repository.sql
  server/src/repositories/search.repository.ts
  server/src/services/search.service.spec.ts
  server/src/services/search.service.ts
Labels: 🗄️server, changelog:skip

#14628 refactor(server): move filters to getByDayOfYear query
  server/src/interfaces/asset.interface.ts
  server/src/queries/asset.repository.sql
  server/src/repositories/asset.repository.ts
  server/src/services/asset.service.spec.ts
  server/src/services/asset.service.ts
Labels: 🗄️server, changelog:skip

#14620 chore(docs): stronger discouraging of non-Linux installations
  docs/docs/administration/backup-and-restore.md
  docs/docs/install/requirements.md
Labels: documentation, changelog:documentation

#14603 chore(mobile): post release tasks
  mobile/ios/Runner/Info.plist
Labels: changelog:skip

#14586 chore(docs): add Kodi plugin for Immich to the Community Projects list
  docs/src/components/community-projects.tsx
Labels: documentation, changelog:documentation

#14368 feat(web): allow tags to be applied in bulk on search, personID, and memory-viewer pages
  web/src/lib/components/memory-page/memory-viewer.svelte
  web/src/routes/(user)/people/[personId]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/search/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:enhancement

#14608 fix(mobile): not being able to zoom into live photos
  mobile/lib/pages/common/gallery_viewer.page.dart
  mobile/lib/pages/common/native_video_viewer.page.dart
  mobile/lib/widgets/asset_grid/immich_asset_grid_view.dart
Labels: 📱mobile, changelog:bugfix

#14655 fix(server): fix getByDayOfYear query
  server/src/queries/asset.repository.sql
  server/src/repositories/asset.repository.ts
Labels: 🗄️server, changelog:skip

#14668 fix(web): live photo link action
  web/src/routes/(user)/photos/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:bugfix

#14663 fix(web): allow minimizing upload panel
  web/src/lib/components/shared-components/upload-panel.svelte
Labels: 🖥️web, changelog:bugfix

#14659 refactor(mobile): album page
  mobile/analysis_options.yaml
  mobile/lib/entities/album.entity.dart
  mobile/lib/pages/album/album_additional_shared_user_selection.page.dart
  mobile/lib/pages/album/album_asset_selection.page.dart
  mobile/lib/pages/album/album_control_button.dart
  mobile/lib/pages/album/album_date_range.dart
  mobile/lib/pages/album/album_options.page.dart
  mobile/lib/pages/album/album_shared_user_icons.dart
  mobile/lib/pages/album/album_shared_user_selection.page.dart
  mobile/lib/pages/album/album_title.dart
  mobile/lib/pages/album/album_viewer.dart
  mobile/lib/pages/album/album_viewer.page.dart
  mobile/lib/pages/common/album_viewer.page.dart
  mobile/lib/providers/asset_viewer/render_list_status_provider.dart
  mobile/lib/routing/router.dart
  mobile/lib/routing/router.gr.dart
  mobile/lib/services/sync.service.dart
  mobile/lib/widgets/album/album_viewer_appbar.dart
  mobile/lib/widgets/album/album_viewer_editable_title.dart
  mobile/lib/widgets/asset_grid/multiselect_grid.dart
  mobile/lib/widgets/asset_grid/multiselect_grid_status_indicator.dart
Labels: 📱mobile, changelog:enhancement

#14651 fix(web): upload info panel covers timeline navigation bar
  web/src/lib/components/shared-components/upload-panel.svelte
Labels: 🖥️web, changelog:bugfix

#14671 fix(server): fixed email footer image stretched #14617
  server/src/emails/components/footer.template.tsx
Labels: 🗄️server, changelog:bugfix

#14662 refactor(web): asset interaction
  web/src/lib/components/album-page/album-viewer.svelte
  web/src/lib/components/memory-page/memory-viewer.svelte
  web/src/lib/components/photos-page/actions/select-all-assets.svelte
  web/src/lib/components/photos-page/asset-date-group.svelte
  web/src/lib/components/photos-page/asset-grid.svelte
  web/src/lib/components/share-page/individual-shared-viewer.svelte
  web/src/lib/components/shared-components/gallery-viewer/gallery-viewer.svelte
  web/src/lib/stores/asset-interaction.store.ts
  web/src/lib/stores/asset-interaction.svelte.spec.ts
  web/src/lib/stores/asset-interaction.svelte.ts
  web/src/lib/utils/asset-utils.ts
  web/src/routes/(user)/albums/[albumId=id]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/archive/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/favorites/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/folders/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/partners/[userId]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/people/[personId]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/photos/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/search/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/tags/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/trash/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:skip

#14699 chore(mobile): remove screen auto-dimming
  mobile/lib/pages/backup/backup_controller.page.dart
Labels: changelog:skip

#14708 fix(mobile): set custom headers on external url (#14707)
  mobile/lib/services/auth.service.dart
Labels: 📱mobile, changelog:bugfix

#14666 fix: reduce the number of API requests when changing route
  web/src/lib/components/forms/create-user-form.svelte
  web/src/lib/components/forms/edit-user-form.svelte
  web/src/lib/components/shared-components/navigation-bar/navigation-bar.svelte
  web/src/lib/components/shared-components/side-bar/recent-albums.svelte
  web/src/lib/components/shared-components/side-bar/server-status.svelte
  web/src/lib/components/shared-components/side-bar/storage-space.svelte
  web/src/lib/stores/server-info.store.ts
  web/src/lib/stores/user.svelte.ts
  web/src/lib/utils/auth.ts
Labels: 🖥️web, changelog:skip

#14635 feat(server): Merge Faces sorted by Similarity
  mobile/openapi/lib/api/people_api.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/controllers/person.controller.ts
  server/src/dtos/person.dto.ts
  server/src/interfaces/person.interface.ts
  server/src/repositories/person.repository.ts
  server/src/services/person.service.ts
  web/src/lib/components/faces-page/assign-face-side-panel.svelte
  web/src/lib/components/faces-page/merge-face-selector.svelte
  web/src/lib/components/faces-page/person-side-panel.svelte
Labels: 🖥️web, 🗄️server, changelog:feature

#14704 feat(server): add Bash healthcheck script
  server/bin/immich-healthcheck
  server/src/bin/healthcheck.ts
Labels: 🗄️server, changelog:enhancement

#13569 docs: improve install/requirements and install/docker-compose
  docs/docs/install/docker-compose.mdx
  docs/docs/install/requirements.md
  docs/docs/overview/quick-start.mdx
Labels: documentation, changelog:documentation

#14648 feat(album): album view sort order
  mobile/analysis_options.yaml
  mobile/assets/i18n/en-US.json
  mobile/ios/Runner/BackgroundSync/BackgroundSyncWorker.swift
  mobile/lib/constants/enums.dart
  mobile/lib/entities/album.entity.dart
  mobile/lib/entities/album.entity.g.dart
  mobile/lib/interfaces/album_api.interface.dart
  mobile/lib/pages/album/album_additional_shared_user_selection.page.dart
  mobile/lib/pages/album/album_asset_selection.page.dart
  mobile/lib/pages/album/album_control_button.dart
  mobile/lib/pages/album/album_date_range.dart
  mobile/lib/pages/album/album_options.page.dart
  mobile/lib/pages/album/album_shared_user_icons.dart
  mobile/lib/pages/album/album_shared_user_selection.page.dart
  mobile/lib/pages/album/album_title.dart
  mobile/lib/pages/album/album_viewer.dart
  mobile/lib/pages/album/album_viewer.page.dart
  mobile/lib/pages/common/album_viewer.page.dart
  mobile/lib/providers/album/album.provider.dart
  mobile/lib/providers/asset_viewer/render_list_status_provider.dart
  mobile/lib/providers/backup/backup_verification.provider.g.dart
  mobile/lib/repositories/album_api.repository.dart
  mobile/lib/routing/router.dart
  mobile/lib/routing/router.gr.dart
  mobile/lib/services/album.service.dart
  mobile/lib/services/sync.service.dart
  mobile/lib/utils/migration.dart
  mobile/lib/widgets/album/album_viewer_appbar.dart
  mobile/lib/widgets/album/album_viewer_editable_title.dart
  mobile/lib/widgets/asset_grid/multiselect_grid.dart
  mobile/lib/widgets/asset_grid/multiselect_grid_status_indicator.dart
  mobile/openapi/devtools_options.yaml
Labels: 📱mobile, changelog:feature

#13388 docs: Add more documentation for video transcoding settings.
  docs/docs/administration/system-settings.md
Labels: documentation, 🗄️server, changelog:documentation

#14730 fix(mobile): native dialog location
  mobile/lib/services/share.service.dart
Labels: 📱mobile, changelog:bugfix

#14731 fix(mobile): live photos playback
  mobile/lib/pages/common/native_video_viewer.page.dart
Labels: 📱mobile, changelog:bugfix

#14737 fix(web): fix missing icons
  web/src/lib/components/asset-viewer/asset-viewer-nav-bar.svelte
Labels: 🖥️web, changelog:bugfix

#14747 chore(mobile): translations update
  mobile/assets/i18n/ar-JO.json
  mobile/assets/i18n/cs-CZ.json
  mobile/assets/i18n/da-DK.json
  mobile/assets/i18n/de-DE.json
  mobile/assets/i18n/el-GR.json
  mobile/assets/i18n/en-US.json
  mobile/assets/i18n/es-ES.json
  mobile/assets/i18n/es-MX.json
  mobile/assets/i18n/es-PE.json
  mobile/assets/i18n/es-US.json
  mobile/assets/i18n/fi-FI.json
  mobile/assets/i18n/fr-CA.json
  mobile/assets/i18n/fr-FR.json
  mobile/assets/i18n/he-IL.json
  mobile/assets/i18n/hi-IN.json
  mobile/assets/i18n/hu-HU.json
  mobile/assets/i18n/it-IT.json
  mobile/assets/i18n/ja-JP.json
  mobile/assets/i18n/ko-KR.json
  mobile/assets/i18n/lt-LT.json
  mobile/assets/i18n/lv-LV.json
  mobile/assets/i18n/mn-MN.json
  mobile/assets/i18n/nb-NO.json
  mobile/assets/i18n/nl-NL.json
  mobile/assets/i18n/pl-PL.json
  mobile/assets/i18n/pt-PT.json
  mobile/assets/i18n/ro-RO.json
  mobile/assets/i18n/ru-RU.json
  mobile/assets/i18n/sk-SK.json
  mobile/assets/i18n/sl-SI.json
  mobile/assets/i18n/sr-Cyrl.json
  mobile/assets/i18n/sr-Latn.json
  mobile/assets/i18n/sv-FI.json
  mobile/assets/i18n/sv-SE.json
  mobile/assets/i18n/th-TH.json
  mobile/assets/i18n/uk-UA.json
  mobile/assets/i18n/vi-VN.json
  mobile/assets/i18n/zh-CN.json
  mobile/assets/i18n/zh-Hans.json
  mobile/assets/i18n/zh-TW.json
Labels: changelog:skip

#14495 chore(web): update translations
  i18n/be.json
  i18n/bg.json
  i18n/ca.json
  i18n/cs.json
  i18n/da.json
  i18n/de.json
  i18n/el.json
  i18n/en.json
  i18n/es.json
  i18n/fi.json
  i18n/fr.json
  i18n/he.json
  i18n/hi.json
  i18n/hu.json
  i18n/id.json
  i18n/it.json
  i18n/lt.json
  i18n/lv.json
  i18n/ms.json
  i18n/nb_NO.json
  i18n/nl.json
  i18n/nn.json
  i18n/pl.json
  i18n/pt.json
  i18n/pt_BR.json
  i18n/ro.json
  i18n/ru.json
  i18n/sk.json
  i18n/sl.json
  i18n/sr_Cyrl.json
  i18n/sr_Latn.json
  i18n/sv.json
  i18n/th.json
  i18n/tr.json
  i18n/uk.json
  i18n/zh_Hant.json
  i18n/zh_SIMPLIFIED.json
Labels: changelog:translation

#14749 chore: post release tasks
  mobile/ios/Runner.xcodeproj/project.pbxproj
  mobile/ios/Runner/Info.plist
Labels: changelog:skip

#14755 chore: update deps
  cli/package-lock.json
  cli/package.json
  docs/package.json
  e2e/package-lock.json
  e2e/package.json
  server/package-lock.json
  server/package.json
  server/src/middleware/auth.guard.ts
  web/package-lock.json
  web/package.json
  web/src/lib/components/admin-page/settings/auth/auth-settings.svelte
  web/src/lib/components/asset-viewer/editor/crop-tool/crop-area.svelte
  web/src/lib/components/asset-viewer/editor/crop-tool/mouse-handlers.ts
  web/src/lib/components/asset-viewer/photo-viewer.svelte
  web/src/lib/components/forms/change-password-form.svelte
  web/src/lib/components/forms/edit-user-form.svelte
  web/src/lib/components/forms/login-form.svelte
  web/src/lib/components/i18n/format-bold-message.svelte
  web/src/lib/components/i18n/format-message.svelte
  web/src/lib/components/i18n/format-message.ts
  web/src/lib/components/shared-components/change-location.svelte
  web/src/lib/components/shared-components/context-menu/right-click-context-menu.svelte
  web/src/lib/components/shared-components/notification/__tests__/notification-card.spec.ts
  web/src/lib/components/user-settings-page/oauth-settings.svelte
  web/src/lib/components/user-settings-page/partner-settings.svelte
  web/src/lib/components/user-settings-page/user-settings-list.svelte
  web/src/lib/stores/preferences.store.ts
  web/src/lib/utils.ts
  web/src/lib/utils/asset-utils.ts
  web/src/lib/utils/auth.ts
  web/src/lib/utils/idle-callback-support.ts
  web/src/lib/utils/keyed-priority-queue.ts
  web/src/lib/utils/license-utils.ts
  web/src/lib/utils/navigation.ts
  web/src/routes/(user)/folders/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/tags/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/+layout.svelte
  web/src/routes/auth/onboarding/+page.svelte
Labels: 🖥️web, 🗄️server, changelog:skip

#14778 fix(mobile): keep empty album as selected target
  mobile/lib/repositories/album_media.repository.dart
Labels: 📱mobile, changelog:bugfix

#14786 docs: misspelled var "urls" in the "machineLearning"
  docs/docs/install/config-file.md
Labels: documentation, changelog:documentation

#14831 chore(mobile): add timeout when reading video files
  mobile/lib/services/backup.service.dart
Labels: 📱mobile, changelog:enhancement

#14807 chore: migrate to SvelteKit app state
  web/package-lock.json
  web/package.json
  web/src/lib/components/faces-page/merge-face-selector.svelte
  web/src/lib/components/shared-components/drag-and-drop-upload-overlay.svelte
  web/src/lib/components/shared-components/navigation-bar/account-info-panel.svelte
  web/src/lib/components/shared-components/navigation-bar/navigation-bar.svelte
  web/src/lib/components/shared-components/settings/setting-accordion-state.svelte
  web/src/lib/components/shared-components/side-bar/side-bar-link.svelte
  web/src/routes/(user)/share/[key]/+error.svelte
  web/src/routes/+error.svelte
  web/src/routes/+layout.svelte
Labels: 🖥️web, changelog:skip

#14834 chore(docs): fix broken link in FAQ
  docs/docs/FAQ.mdx
Labels: documentation, changelog:documentation

#14835 chore(docs): FAQ cleanup
  docs/docs/FAQ.mdx
Labels: documentation, changelog:documentation

#14830 feat(web): Adds toggle to disable sorting of faces
  i18n/en.json
  web/src/lib/components/elements/buttons/circle-icon-button.svelte
  web/src/lib/components/faces-page/merge-face-selector.svelte
  web/src/lib/components/faces-page/people-list.svelte
Labels: 🖥️web, 🗄️server, changelog:bugfix

#14850 fix(web): infinite loop browser navigation crash admin settings page
  web/src/lib/components/shared-components/settings/setting-accordion-state.svelte
Labels: 🖥️web, changelog:skip

#14856 fix(server): support import paths with special chars
  e2e/src/api/specs/library.e2e-spec.ts
  server/src/repositories/storage.repository.ts
Labels: 🗄️server, changelog:bugfix

#14879 feat(web): Add "set as featured" option for an asset
  i18n/en.json
  web/src/lib/components/asset-viewer/actions/set-person-featured-action.svelte
  web/src/lib/components/asset-viewer/asset-viewer-nav-bar.svelte
  web/src/lib/components/asset-viewer/asset-viewer.svelte
  web/src/lib/components/photos-page/asset-grid.svelte
  web/src/routes/(user)/people/[personId]/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:feature

#14925 fix: clarify PR label validation message
  .github/workflows/pr-label-validation.yml
Labels: changelog:skip

#14926 docs: Update Chinese README
  readme_i18n/README_zh_CN.md
Labels: changelog:documentation

#14954 fix(mobile): Fixed resolution format in Details
  mobile/lib/widgets/asset_viewer/detail_panel/file_info.dart
Labels: 📱mobile, changelog:enhancement

#14953 feat(mobile): Modified draggable area of detail modal
  mobile/lib/pages/common/gallery_viewer.page.dart
  mobile/lib/widgets/asset_viewer/advanced_bottom_sheet.dart
  mobile/lib/widgets/asset_viewer/detail_panel/detail_panel.dart
Labels: 📱mobile, changelog:enhancement

#14946 chore(mobile): remove duplicate settingsservice
  mobile/lib/services/background.service.dart
Labels: 📱mobile, changelog:skip

#14888 fix: trusted proxies
  server/src/repositories/config.repository.spec.ts
  server/src/repositories/config.repository.ts
  server/src/workers/api.ts
Labels: 🗄️server, changelog:bugfix

#14943 fix(web): Fix for failing to load pictures
  web/src/lib/stores/assets.store.ts
  web/src/routes/(user)/people/[personId]/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:bugfix

#14726 feat(web): create tag on the fly
  web/src/lib/components/forms/tag-asset-form.svelte
  web/src/lib/components/shared-components/combobox.svelte
Labels: 🖥️web, changelog:feature

#14887 chore(docs): add reference to metric ports
  docs/docs/features/monitoring.md
Labels: documentation, changelog:documentation
