Repository immich-app/immich, pull requests merged in 2025-09, with the labels that each got.

#21376 fix: show TabShellRoute when cold starting from deeplink
  mobile/lib/services/deep_link.service.dart
Labels: 📱mobile, changelog:bugfix

#21507 fix: filter null duplicate assets
  server/src/queries/duplicate.repository.sql
  server/src/repositories/duplicate.repository.ts
Labels: 🗄️server, changelog:bugfix

#21503 fix(mobile): decoding at higher resolution than necessary
  mobile/android/app/src/main/kotlin/app/alextran/immich/images/ThumbnailsImpl.kt
Labels: changelog:bugfix

#21504 fix(mobile): ensure current asset is set in asset viewer
  mobile/lib/main.dart
  mobile/lib/presentation/widgets/asset_viewer/asset_viewer.page.dart
  mobile/lib/presentation/widgets/asset_viewer/asset_viewer.state.dart
  mobile/lib/presentation/widgets/timeline/fixed/segment.model.dart
  mobile/lib/services/deep_link.service.dart
Labels: changelog:bugfix

#21470 fix: set specific AssetUpload permission on checkBulkUpload endpoint
  mobile/openapi/lib/api/assets_api.dart
  open-api/immich-openapi-specs.json
  server/src/controllers/asset-media.controller.ts
Labels: 🗄️server, changelog:bugfix

#21491 fix: local sync task never runs on iOS
  mobile/android/app/src/main/kotlin/app/alextran/immich/background/BackgroundWorker.g.kt
  mobile/android/app/src/main/kotlin/app/alextran/immich/background/BackgroundWorker.kt
  mobile/android/app/src/main/kotlin/app/alextran/immich/background/BackgroundWorkerApiImpl.kt
  mobile/ios/Runner/AppDelegate.swift
  mobile/ios/Runner/Background/BackgroundWorker.g.swift
  mobile/ios/Runner/Background/BackgroundWorker.swift
  mobile/ios/Runner/Background/BackgroundWorkerApiImpl.swift
  mobile/lib/domain/services/background_worker.service.dart
  mobile/lib/infrastructure/repositories/storage.repository.dart
  mobile/lib/main.dart
  mobile/lib/platform/background_worker_api.g.dart
  mobile/pigeon/background_worker_api.dart
Labels: 📱mobile, changelog:bugfix

#21536 fix: null check
  mobile/lib/domain/services/local_sync.service.dart
Labels: 📱mobile, changelog:skip

#21553 chore: request LLM disclosure in PR template
  .github/pull_request_template.md
Labels: changelog:skip

#21546 chore: log name and createdAt of asset on hash failures
  mobile/lib/domain/services/hash.service.dart
Labels: 📱mobile, changelog:skip

#21501 fix: docker upload_location perm fix for dev
  Makefile
Labels: changelog:skip

#21567 feat: audit cleanup
  mobile/openapi/lib/model/sync_entity_type.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/dtos/sync.dto.ts
  server/src/enum.ts
  server/src/queries/sync.repository.sql
  server/src/repositories/sync.repository.ts
  server/src/schema/index.ts
  server/src/schema/tables/memory-asset-audit.table.ts
  server/src/services/job.service.spec.ts
  server/src/services/job.service.ts
  server/src/services/sync.service.ts
  server/src/types.ts
  server/test/fixtures/asset.stub.ts
  server/test/fixtures/tag.stub.ts
  server/test/medium.factory.ts
  server/test/medium/specs/services/sync.service.spec.ts
  server/test/medium/specs/sync/sync-album-asset-exif.spec.ts
  server/test/medium/specs/sync/sync-album-asset.spec.ts
  server/test/medium/specs/sync/sync-album-to-asset.spec.ts
  server/test/medium/specs/sync/sync-album-user.spec.ts
  server/test/medium/specs/sync/sync-album.spec.ts
  server/test/medium/specs/sync/sync-asset-exif.spec.ts
  server/test/medium/specs/sync/sync-asset-face.spec.ts
  server/test/medium/specs/sync/sync-asset-metadata.spec.ts
  server/test/medium/specs/sync/sync-asset.spec.ts
  server/test/medium/specs/sync/sync-auth-user.spec.ts
  server/test/medium/specs/sync/sync-complete.spec.ts
  server/test/medium/specs/sync/sync-memory-asset.spec.ts
  server/test/medium/specs/sync/sync-memory.spec.ts
  server/test/medium/specs/sync/sync-partner-asset-exif.spec.ts
  server/test/medium/specs/sync/sync-partner-asset.spec.ts
  server/test/medium/specs/sync/sync-partner-stack.spec.ts
  server/test/medium/specs/sync/sync-partner.spec.ts
  server/test/medium/specs/sync/sync-person.spec.ts
  server/test/medium/specs/sync/sync-reset.spec.ts
  server/test/medium/specs/sync/sync-stack.spec.ts
  server/test/medium/specs/sync/sync-user-metadata.spec.ts
  server/test/medium/specs/sync/sync-user.spec.ts
  server/test/small.factory.ts
Labels: 🗄️server, changelog:skip

#21583 fix: keyboard not dismissed in places page
  mobile/lib/presentation/pages/drift_place.page.dart
Labels: 📱mobile, changelog:bugfix

#21554 feat(mobile): add to albums from existing albums
  mobile/lib/presentation/widgets/bottom_sheet/remote_album_bottom_sheet.widget.dart
  mobile/lib/widgets/asset_grid/control_bottom_app_bar.dart
  mobile/lib/widgets/asset_grid/multiselect_grid.dart
Labels: 📱mobile, changelog:enhancement

#21543 fix(mobile): pause image loading on inactive state
  mobile/ios/Runner/Images/ThumbnailsImpl.swift
Labels: 📱mobile, changelog:bugfix

#21452 fix: retain filter and sort options when pulling to refresh
  mobile/lib/presentation/widgets/album/album_selector.widget.dart
  mobile/lib/providers/infrastructure/remote_album.provider.dart
  mobile/lib/utils/album_filter.utils.dart
Labels: 📱mobile, changelog:bugfix

#21312 fix: sidecar check job
  server/src/enum.ts
  server/src/queries/asset.job.repository.sql
  server/src/repositories/asset-job.repository.ts
  server/src/services/job.service.spec.ts
  server/src/services/job.service.ts
  server/src/services/library.service.spec.ts
  server/src/services/library.service.ts
  server/src/services/metadata.service.spec.ts
  server/src/services/metadata.service.ts
  server/src/types.ts
Labels: 🗄️server, changelog:bugfix

#21522 fix: use lock to synchronise foreground and background backup
  mobile/android/app/src/main/kotlin/app/alextran/immich/background/BackgroundWorker.kt
  mobile/ios/Runner.xcodeproj/project.pbxproj
  mobile/ios/Runner/Background/BackgroundWorker.swift
  mobile/lib/domain/services/background_worker.service.dart
  mobile/lib/domain/utils/isolate_lock_manager.dart
  mobile/lib/pages/common/splash_screen.page.dart
  mobile/lib/providers/app_life_cycle.provider.dart
  mobile/lib/providers/background_sync.provider.dart
  mobile/pigeon/background_worker_api.dart
Labels: 📱mobile, changelog:bugfix

#21566 feat: use mise for core dev tools
  mise.lock
  mise.toml
Labels: changelog:skip

#21594 fix: asset upload metadata validation
  server/src/controllers/asset-media.controller.spec.ts
  server/src/dtos/asset-media.dto.ts
  server/test/utils.ts
Labels: 🗄️server, changelog:bugfix

#21586 fix(server): consider asset creation date when EXIF is missing
  server/src/services/metadata.service.ts
Labels: 🗄️server, changelog:bugfix

#21611 fix: use specific uv version in ML dockerfile
  machine-learning/Dockerfile
Labels: changelog:skip

#21623 fix: memory not getting refreshed on new day
  mobile/lib/pages/common/tab_shell.page.dart
Labels: 📱mobile, changelog:bugfix

#21605 chore: robust isolation tasks coordination
  mobile/lib/domain/utils/background_sync.dart
  mobile/lib/providers/app_life_cycle.provider.dart
  mobile/lib/widgets/common/immich_sliver_app_bar.dart
Labels: 📱mobile, changelog:bugfix

#21679 fix: pre-job branch scope on weblate checks job
  .github/workflows/weblate-lock.yml
Labels: changelog:skip

#21683 fix: print errors in weblate merge job
  .github/workflows/merge-translations.yml
Labels: changelog:skip

#21685 feat: add button to unpause all queues
  i18n/en.json
  web/src/routes/admin/jobs-status/+page.svelte
Labels: 🖥️web, changelog:enhancement

#21492 feat(web): use timeline in geolocation manager
  .gitignore
  i18n/en.json
  mobile/openapi/lib/api/timeline_api.dart
  mobile/openapi/lib/model/time_bucket_asset_response_dto.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/dtos/time-bucket.dto.ts
  server/src/repositories/asset.repository.ts
  web/src/lib/components/photos-page/asset-date-group.svelte
  web/src/lib/components/photos-page/asset-grid.svelte
  web/src/lib/components/shared-components/date-picker.svelte
  web/src/lib/components/utilities-page/geolocation/geolocation.svelte
  web/src/lib/managers/timeline-manager/month-group.svelte.ts
  web/src/lib/managers/timeline-manager/types.ts
  web/src/lib/utils/date-time.spec.ts
  web/src/lib/utils/date-time.ts
  web/src/lib/utils/timeline-util.ts
  web/src/routes/(user)/utilities/geolocation/+page.svelte
  web/src/routes/(user)/utilities/geolocation/+page.ts
  web/src/routes/(user)/utilities/geolocation/photos/[photoId]/+page.ts
Labels: 🖥️web, 🗄️server, changelog:enhancement

#20424 docs: be explicit about which container exposes metrics
  docs/docs/features/monitoring.md
Labels: documentation, changelog:documentation

#21689 fix: handle missing checkbox in close-dupes
  .github/workflows/close-duplicates.yml
Labels: changelog:skip

#21756 fix: prefer Creation Date over Create Date
  e2e/src/api/specs/asset.e2e-spec.ts
  server/src/services/metadata.service.spec.ts
  server/src/services/metadata.service.ts
Labels: 🗄️server, changelog:bugfix

#21775 docs: add community immich drop uploader project
  docs/src/components/community-projects.tsx
Labels: documentation, changelog:documentation

#21747 fix(web): transparent background color
  web/src/lib/components/assets/thumbnail/thumbnail.svelte
Labels: 🖥️web, changelog:bugfix

#21754 chore: remove typeorm dependency
  pnpm-lock.yaml
  server/package.json
Labels: changelog:skip

#21770 fix(docs): fix the SQL query for finding assets with missing thumbnails
  docs/docs/guides/database-queries.md
Labels: changelog:documentation

#21732 fix: welcome email password
  server/src/repositories/event.repository.ts
  server/src/services/notification.service.spec.ts
  server/src/services/notification.service.ts
  server/src/services/user-admin.service.ts
  server/src/types.ts
Labels: 🗄️server, changelog:bugfix

#21633 feat: resurrect advanced info
  i18n/en.json
  mobile/lib/domain/services/asset.service.dart
  mobile/lib/infrastructure/repositories/backup.repository.dart
  mobile/lib/infrastructure/repositories/local_asset.repository.dart
  mobile/lib/infrastructure/repositories/remote_asset.repository.dart
  mobile/lib/presentation/pages/drift_asset_troubleshoot.page.dart
  mobile/lib/presentation/widgets/action_buttons/advanced_info_action_button.widget.dart
  mobile/lib/presentation/widgets/asset_viewer/bottom_sheet.widget.dart
  mobile/lib/presentation/widgets/bottom_sheet/archive_bottom_sheet.widget.dart
  mobile/lib/presentation/widgets/bottom_sheet/general_bottom_sheet.widget.dart
  mobile/lib/providers/backup/drift_backup.provider.dart
  mobile/lib/providers/infrastructure/action.provider.dart
  mobile/lib/routing/router.dart
  mobile/lib/routing/router.gr.dart
  mobile/lib/utils/action_button.utils.dart
  mobile/test/utils/action_button_utils_test.dart
Labels: 📱mobile, changelog:skip

#21743 fix(mobile): Change read-only mode activation method to remove double click lag
  i18n/en.json
  mobile/lib/widgets/common/app_bar_dialog/app_bar_profile_info.dart
  mobile/lib/widgets/common/immich_sliver_app_bar.dart
Labels: 📱mobile, changelog:bugfix

#19400 fix(web): memory viewer arrow navigation
  pnpm-lock.yaml
  web/src/lib/components/memory-page/memory-viewer.svelte
  web/src/lib/components/shared-components/gallery-viewer/gallery-viewer.svelte
Labels: 🖥️web, changelog:bugfix

#21787 fix: bad scripting in merge-translations
  .github/workflows/merge-translations.yml
Labels: changelog:skip

#21788 fix(web): asset refresh
  web/src/lib/components/asset-viewer/detail-panel-tags.svelte
  web/src/lib/components/asset-viewer/detail-panel.svelte
  web/src/lib/components/utilities-page/duplicates/duplicates-compare-control.svelte
  web/src/lib/utils/asset-utils.ts
Labels: 🖥️web, changelog:bugfix

#21793 fix(web): map in album shared link
  web/src/lib/components/album-page/album-map.svelte
Labels: 🖥️web, changelog:bugfix

#21876 chore: improve context button accessibility
  web/src/lib/components/album-page/album-card.svelte
  web/src/lib/components/faces-page/people-card.svelte
Labels: 🖥️web, changelog:bugfix

#21864 chore: simplify timeline switcher toggle
  mobile/lib/pages/common/settings.page.dart
  mobile/lib/widgets/settings/advanced_settings.dart
  mobile/lib/widgets/settings/beta_timeline_list_tile.dart
Labels: 📱mobile, changelog:skip

#21881 fix: keep adequate space around page title
  web/src/lib/components/layouts/user-page-layout.svelte
Labels: 🖥️web, changelog:bugfix

#21879 chore: improve date text slide-in transition
  web/src/lib/components/photos-page/asset-date-group.svelte
Labels: 🖥️web, changelog:bugfix

#21844 fix: context menu jank
  web/src/lib/components/shared-components/context-menu/context-menu.svelte
Labels: 🖥️web, changelog:bugfix

#21927 fix(mobile): double hero animation
  mobile/lib/main.dart
Labels: 📱mobile, changelog:bugfix

#21943 fix: complete does not destroy engine on close
  mobile/ios/Runner/Background/BackgroundWorker.swift
Labels: 📱mobile, changelog:bugfix

#21649 feat: disable snapping when a timeline has less than 12 months
  mobile/lib/constants/constants.dart
  mobile/lib/presentation/widgets/timeline/scrubber.widget.dart
Labels: 📱mobile, changelog:bugfix

#21909 chore: update background downloader
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: 📱mobile, changelog:skip

#21947 fix: do not listen for store updates in isolates
  mobile/lib/domain/services/background_worker.service.dart
  mobile/lib/domain/services/store.service.dart
  mobile/lib/services/background.service.dart
  mobile/lib/utils/bootstrap.dart
  mobile/lib/utils/isolate.dart
Labels: 📱mobile, changelog:bugfix

#20735 fix: reset sqlite on beta migration
  mobile/lib/domain/models/store.model.dart
  mobile/lib/domain/services/sync_stream.service.dart
  mobile/lib/infrastructure/repositories/db.repository.dart
  mobile/lib/infrastructure/repositories/sync_api.repository.dart
  mobile/lib/pages/common/change_experience.page.dart
  mobile/lib/utils/migration.dart
  mobile/lib/widgets/settings/beta_sync_settings/sync_status_and_actions.dart
  mobile/test/infrastructure/repositories/sync_api_repository_test.dart
Labels: 📱mobile, changelog:bugfix

#21928 chore: making order of background tasks better
  mobile/lib/pages/backup/drift_backup.page.dart
  mobile/lib/pages/common/splash_screen.page.dart
  mobile/lib/providers/app_life_cycle.provider.dart
Labels: 📱mobile, changelog:bugfix

#22019 chore: remove workflows that are now applied org-wide
  .github/workflows/pr-require-conventional-commit.yml
  .github/workflows/static_analysis.yml
Labels: changelog:skip

#22035 fix: sidebar link hightlight
  web/src/lib/components/shared-components/side-bar/side-bar-link.svelte
Labels: 🖥️web, changelog:bugfix

#21976 fix(oauth): omit blank pkce from url when not supported
  server/src/repositories/oauth.repository.ts
Labels: 🗄️server, changelog:bugfix

#22040 chore: remove beta wording and badges
  i18n/en.json
  mobile/lib/widgets/common/immich_sliver_app_bar.dart
  mobile/lib/widgets/settings/beta_timeline_list_tile.dart
Labels: changelog:skip

#21805 fix: add pnpm setup to fix-format worflow
  .github/workflows/fix-format.yml
Labels: changelog:skip

#21934 docs: add community immich-birthday and immich-stack projects
  docs/src/components/community-projects.tsx
Labels: documentation, changelog:documentation

#22057 chore(mobile): translate missing strings
  i18n/en.json
  mobile/lib/pages/backup/backup_controller.page.dart
  mobile/lib/pages/backup/drift_backup_album_selection.page.dart
  mobile/lib/pages/backup/drift_backup_asset_detail.page.dart
  mobile/lib/pages/common/app_log.page.dart
  mobile/lib/pages/common/app_log_detail.page.dart
  mobile/lib/pages/library/partner/drift_partner.page.dart
  mobile/lib/pages/library/places/places_collection.page.dart
  mobile/lib/pages/search/search.page.dart
  mobile/lib/presentation/pages/dev/feat_in_development.page.dart
  mobile/lib/presentation/pages/dev/media_stat.page.dart
  mobile/lib/presentation/pages/drift_asset_troubleshoot.page.dart
  mobile/lib/presentation/pages/drift_library.page.dart
  mobile/lib/presentation/pages/drift_local_album.page.dart
  mobile/lib/presentation/pages/search/drift_search.page.dart
  mobile/lib/presentation/widgets/action_buttons/like_activity_action_button.widget.dart
  mobile/lib/presentation/widgets/album/album_selector.widget.dart
  mobile/lib/widgets/asset_viewer/bottom_gallery_bar.dart
  mobile/lib/widgets/asset_viewer/cast_dialog.dart
  mobile/lib/widgets/map/map_asset_grid.dart
Labels: 📱mobile, changelog:skip

#22083 chore: build sdk while server is starting
  web/bin/immich-web
Labels: changelog:skip

#22082 chore: simplify
  .devcontainer/mobile/container-compose-overrides.yml
  .devcontainer/server/container-compose-overrides.yml
  docker/docker-compose.dev.yml
Labels: changelog:skip

#20744 chore(docs): add an updated Podman/Quadlets community guide
  docs/src/components/community-guides.tsx
Labels: documentation, changelog:documentation

#22086 refactor: rename timeline actions
  web/src/lib/components/album-page/album-viewer.svelte
  web/src/lib/components/memory-page/memory-viewer.svelte
  web/src/lib/components/share-page/individual-shared-viewer.svelte
  web/src/lib/components/timeline/AssetSelectControlBar.svelte
  web/src/lib/components/timeline/Timeline.svelte
  web/src/lib/components/timeline/actions/AddToAlbumAction.svelte
  web/src/lib/components/timeline/actions/ArchiveAction.svelte
  web/src/lib/components/timeline/actions/AssetJobActions.svelte
  web/src/lib/components/timeline/actions/ChangeDateAction.svelte
  web/src/lib/components/timeline/actions/ChangeDescriptionAction.svelte
  web/src/lib/components/timeline/actions/ChangeLocationAction.svelte
  web/src/lib/components/timeline/actions/CreateSharedLinkAction.svelte
  web/src/lib/components/timeline/actions/DeleteAssetsAction.svelte
  web/src/lib/components/timeline/actions/DownloadAction.svelte
  web/src/lib/components/timeline/actions/FavoriteAction.svelte
  web/src/lib/components/timeline/actions/LinkLivePhotoAction.svelte
  web/src/lib/components/timeline/actions/RemoveFromAlbumAction.svelte
  web/src/lib/components/timeline/actions/RemoveFromSharedLinkAction.svelte
  web/src/lib/components/timeline/actions/RestoreAction.svelte
  web/src/lib/components/timeline/actions/SelectAllAction.svelte
  web/src/lib/components/timeline/actions/SetVisibilityAction.svelte
  web/src/lib/components/timeline/actions/StackAction.svelte
  web/src/lib/components/timeline/actions/TagAction.svelte
  web/src/lib/components/timeline/actions/focus-actions.ts
  web/src/routes/(user)/albums/[albumId=id]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/archive/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/favorites/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/folders/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/locked/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/partners/[userId]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/people/[personId]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/photos/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/search/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/trash/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:skip

#22079 fix(web): issue with modal locking the page
  pnpm-lock.yaml
  web/package.json
Labels: changelog:bugfix

#22093 refactor: move more elements
  web/src/lib/components/asset-viewer/actions/delete-action.svelte
  web/src/lib/components/asset-viewer/detail-panel-location.svelte
  web/src/lib/components/shared-components/gallery-viewer/gallery-viewer.svelte
  web/src/lib/components/shared-components/notification/notification-list.svelte
  web/src/lib/components/shared-components/side-bar/purchase-info.svelte
  web/src/lib/components/timeline/Timeline.svelte
  web/src/lib/components/utilities-page/duplicates/duplicates-compare-control.svelte
  web/src/lib/elements/Portal.svelte
  web/src/lib/elements/Skeleton.svelte
  web/src/routes/(user)/map/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/utilities/large-files/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:skip

#22095 refactor: more elements
  web/src/app.d.ts
  web/src/lib/components/admin-page/jobs/storage-migration-description.svelte
  web/src/lib/components/admin-page/settings/auth/auth-settings.svelte
  web/src/lib/components/admin-page/settings/backup-settings/backup-settings.svelte
  web/src/lib/components/admin-page/settings/ffmpeg/ffmpeg-settings.svelte
  web/src/lib/components/admin-page/settings/library-settings/library-settings.svelte
  web/src/lib/components/admin-page/settings/machine-learning-settings/machine-learning-settings.svelte
  web/src/lib/components/admin-page/settings/map-settings/map-settings.svelte
  web/src/lib/components/admin-page/settings/storage-template/storage-template-settings.svelte
  web/src/lib/components/admin-page/settings/template-settings/template-settings.svelte
  web/src/lib/components/asset-viewer/detail-panel-star-rating.svelte
  web/src/lib/components/i18n/format-bold-message.svelte
  web/src/lib/components/onboarding-page/onboarding-backup.svelte
  web/src/lib/components/onboarding-page/onboarding-storage-template.svelte
  web/src/lib/components/photos-page/delete-asset-dialog.svelte
  web/src/lib/elements/FormatMessage.svelte
  web/src/lib/elements/StarRating.svelte
  web/src/lib/elements/__test__/format-message.spec.ts
  web/src/lib/elements/__test__/format-tag-b.svelte
  web/src/lib/elements/__test__/star-rating.spec.ts
  web/src/lib/elements/format-message.ts
  web/src/lib/modals/AuthDisableLoginConfirmModal.svelte
  web/src/lib/modals/UserDeleteConfirmModal.svelte
  web/src/lib/modals/UserRestoreConfirmModal.svelte
  web/src/lib/modals/VersionAnnouncementModal.svelte
Labels: 🖥️web, changelog:skip

#22100 chore: bump immich/ui
  pnpm-lock.yaml
  web/package.json
Labels: changelog:feature

#22099 refactor: use immich/ui PasswordInput
  pnpm-lock.yaml
  web/package.json
  web/src/lib/components/admin-page/settings/auth/auth-settings.svelte
  web/src/lib/components/admin-page/settings/job-settings/job-settings.svelte
  web/src/lib/components/pages/SharedLinkPage.svelte
  web/src/lib/components/shared-components/password-field.svelte
  web/src/lib/components/shared-components/settings/setting-input-field.svelte
Labels: 🖥️web, changelog:skip

#22104 chore: discord from simple icons
  pnpm-lock.yaml
  web/package.json
  web/src/lib/assets/svg-paths.ts
  web/src/lib/modals/HelpAndFeedbackModal.svelte
Labels: 🖥️web, changelog:skip

#22109 refactor: admin settings
  web/src/lib/components/admin-settings/AdminSettings.svelte
  web/src/lib/components/admin-settings/AuthSettings.svelte
  web/src/lib/components/admin-settings/BackupSettings.svelte
  web/src/lib/components/admin-settings/FFmpegSettings.svelte
  web/src/lib/components/admin-settings/ImageSettings.svelte
  web/src/lib/components/admin-settings/JobSettings.svelte
  web/src/lib/components/admin-settings/LibrarySettings.svelte
  web/src/lib/components/admin-settings/LoggingSettings.svelte
  web/src/lib/components/admin-settings/MachineLearningSettings.svelte
  web/src/lib/components/admin-settings/MapSettings.svelte
  web/src/lib/components/admin-settings/MetadataSettings.svelte
  web/src/lib/components/admin-settings/NewVersionCheckSettings.svelte
  web/src/lib/components/admin-settings/NightlyTasksSettings.svelte
  web/src/lib/components/admin-settings/NotificationSettings.svelte
  web/src/lib/components/admin-settings/ServerSettings.svelte
  web/src/lib/components/admin-settings/StorageTemplateSettings.svelte
  web/src/lib/components/admin-settings/SupportedDatetimePanel.svelte
  web/src/lib/components/admin-settings/SupportedVariablesPanel.svelte
  web/src/lib/components/admin-settings/TemplateSettings.svelte
  web/src/lib/components/admin-settings/ThemeSettings.svelte
  web/src/lib/components/admin-settings/TrashSettings.svelte
  web/src/lib/components/admin-settings/UserSettings.svelte
  web/src/lib/components/admin-settings/admin-settings.ts
  web/src/lib/components/onboarding-page/onboarding-storage-template.svelte
  web/src/lib/components/users/FeatureSetting.svelte
  web/src/routes/admin/system-settings/+page.svelte
  web/src/routes/admin/users/[id]/+page.svelte
Labels: 🖥️web, changelog:skip

#22111 fix(mobile): prevent concurrent refresh and processing tasks
  mobile/ios/Runner/Background/BackgroundWorkerApiImpl.swift
Labels: changelog:bugfix

#22054 chore(deps): bump flutter to 3.35.3
  .github/workflows/static_analysis.yml
  mise.lock
  mise.toml
  mobile/.fvmrc
  mobile/.vscode/settings.json
  mobile/analysis_options.yaml
  mobile/ios/Flutter/AppFrameworkInfo.plist
  mobile/ios/Podfile.lock
  mobile/lib/pages/album/album_options.page.dart
  mobile/lib/pages/library/shared_link/shared_link_edit.page.dart
  mobile/lib/presentation/pages/drift_album_options.page.dart
  mobile/lib/presentation/widgets/images/image_provider.dart
  mobile/lib/widgets/map/map_settings/map_settings_list_tile.dart
  mobile/lib/widgets/photo_view/src/core/photo_view_core.dart
  mobile/lib/widgets/search/search_filter/media_type_picker.dart
  mobile/lib/widgets/settings/beta_timeline_list_tile.dart
  mobile/lib/widgets/settings/preference_settings/primary_color_setting.dart
  mobile/lib/widgets/settings/settings_radio_list_tile.dart
  mobile/lib/widgets/settings/settings_switch_list_tile.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
  server/Dockerfile.dev
Labels: 📱mobile, changelog:bugfix

#22120 chore: remove suppressed warnings
  mise.toml
  web/package.json
Labels: changelog:skip

#22130 chore: add mobile codeowner
  CODEOWNERS
Labels: changelog:skip

#22092 fix: beta migration check
  mobile/lib/utils/migration.dart
Labels: 📱mobile, changelog:bugfix

#22081 fix: use native locks
  mobile/android/app/src/main/kotlin/app/alextran/immich/MainActivity.kt
  mobile/android/app/src/main/kotlin/app/alextran/immich/background/BackgroundEngineLock.kt
  mobile/android/app/src/main/kotlin/app/alextran/immich/background/BackgroundWorker.kt
  mobile/android/app/src/main/kotlin/app/alextran/immich/background/BackgroundWorkerApiImpl.kt
Labels: 📱mobile, changelog:bugfix

#22114 feat: add configurable backup on charging only and delay settings for android
  i18n/en.json
  mobile/android/app/src/main/kotlin/app/alextran/immich/background/BackgroundWorker.g.kt
  mobile/android/app/src/main/kotlin/app/alextran/immich/background/BackgroundWorkerApiImpl.kt
  mobile/ios/Runner/Background/BackgroundWorker.g.swift
  mobile/ios/Runner/Background/BackgroundWorkerApiImpl.swift
  mobile/lib/domain/services/background_worker.service.dart
  mobile/lib/platform/background_worker_api.g.dart
  mobile/lib/services/app_settings.service.dart
  mobile/lib/widgets/settings/backup_settings/drift_backup_settings.dart
  mobile/pigeon/background_worker_api.dart
Labels: 📱mobile, changelog:feature

#22085 fix: initial size of bottom sheet
  mobile/lib/presentation/widgets/bottom_sheet/general_bottom_sheet.widget.dart
Labels: 📱mobile, changelog:bugfix

#22129 chore(dep): bump flutter to 3.35.4
  mise.toml
  mobile/.fvmrc
  mobile/.vscode/settings.json
  mobile/pubspec.lock
  mobile/pubspec.yaml
  server/Dockerfile.dev
Labels: 📱mobile, changelog:skip

#21971 fix: Refresh photo after updating featured photo
  web/src/lib/components/asset-viewer/actions/action.ts
  web/src/lib/components/asset-viewer/actions/set-person-featured-action.svelte
  web/src/lib/components/asset-viewer/asset-viewer-nav-bar.svelte
  web/src/lib/components/asset-viewer/asset-viewer.svelte
  web/src/lib/constants.ts
Labels: 🖥️web, changelog:bugfix

#22140 chore: revert poll counts from DB rather than using callbacks from library (#22117)
  mobile/lib/pages/backup/drift_backup.page.dart
  mobile/lib/providers/backup/drift_backup.provider.dart
Labels: 📱mobile, changelog:skip

#22153 refactor(web): album users modal
  web/src/lib/modals/AlbumUsersModal.svelte
Labels: 🖥️web, changelog:skip

#22158 fix(mobile): thumbnail shimmering effect
  mobile/lib/presentation/widgets/images/thumbnail.widget.dart
Labels: 📱mobile, changelog:bugfix

#21997 refactor: hashing service
  mobile/android/app/src/main/kotlin/app/alextran/immich/sync/Messages.g.kt
  mobile/android/app/src/main/kotlin/app/alextran/immich/sync/MessagesImplBase.kt
  mobile/ios/.gitignore
  mobile/ios/Runner/Background/BackgroundWorkerApiImpl.swift
  mobile/ios/Runner/Sync/Messages.g.swift
  mobile/ios/Runner/Sync/MessagesImpl.swift
  mobile/ios/Runner/Sync/PHAssetExtensions.swift
  mobile/ios/Runner/Sync/PHAssetResourceExtensions.swift
  mobile/lib/constants/constants.dart
  mobile/lib/domain/services/background_worker.service.dart
  mobile/lib/domain/services/hash.service.dart
  mobile/lib/infrastructure/repositories/local_asset.repository.dart
  mobile/lib/pages/backup/drift_backup_album_selection.page.dart
  mobile/lib/platform/native_sync_api.g.dart
  mobile/lib/providers/infrastructure/sync.provider.dart
  mobile/lib/services/hash.service.dart
  mobile/pigeon/native_sync_api.dart
  mobile/test/domain/services/hash_service_test.dart
Labels: 📱mobile, changelog:enhancement

#22163 fix: show thumbnail instantly when jumping to top of the page
  mobile/lib/presentation/widgets/timeline/timeline.widget.dart
Labels: 📱mobile, changelog:bugfix

#20011 feat: shared pre-job action
  .github/workflows/build-mobile.yml
  .github/workflows/docker.yml
  .github/workflows/docs-build.yml
  .github/workflows/static_analysis.yml
  .github/workflows/test.yml
  .github/workflows/weblate-lock.yml
Labels: changelog:skip

#21977 chore: refresh backup stats when entering backup page
  mobile/lib/pages/backup/drift_backup.page.dart
  mobile/lib/providers/backup/drift_backup.provider.dart
  mobile/lib/widgets/backup/backup_info_card.dart
Labels: 📱mobile, changelog:bugfix

#22186 fix: disable scrubbing mode on drag ended
  mobile/lib/presentation/widgets/timeline/scrubber.widget.dart
Labels: 📱mobile, changelog:skip

#22173 chore(server): proper log context formatting
  server/src/repositories/media.repository.ts
  server/src/repositories/metadata.repository.ts
  server/src/services/auth.service.ts
  server/src/services/backup.service.ts
  server/src/services/library.service.ts
  server/src/services/memory.service.ts
  server/src/services/storage-template.service.ts
  server/src/services/version.service.ts
  server/src/utils/file.ts
Labels: 🗄️server, changelog:skip

#22191 fix(web): do not upscale small pictures
  web/src/lib/components/asset-viewer/photo-viewer.svelte
Labels: 🖥️web, changelog:bugfix

#22185 feat: availability checks
  docs/docs/install/environment-variables.md
  i18n/en.json
  mobile/openapi/README.md
  mobile/openapi/lib/api.dart
  mobile/openapi/lib/api_client.dart
  mobile/openapi/lib/model/machine_learning_availability_checks_dto.dart
  mobile/openapi/lib/model/system_config_machine_learning_dto.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/bin/sync-sql.ts
  server/src/config.ts
  server/src/constants.ts
  server/src/dtos/system-config.dto.ts
  server/src/repositories/logging.repository.ts
  server/src/repositories/machine-learning.repository.ts
  server/src/services/person.service.spec.ts
  server/src/services/person.service.ts
  server/src/services/search.service.spec.ts
  server/src/services/search.service.ts
  server/src/services/smart-info.service.spec.ts
  server/src/services/smart-info.service.ts
  server/src/services/system-config.service.spec.ts
  server/src/services/system-config.service.ts
  web/src/lib/components/admin-settings/MachineLearningSettings.svelte
  web/src/lib/components/shared-components/settings/setting-input-field.svelte
Labels: documentation, 🖥️web, 🗄️server, changelog:enhancement

#22214 fix: automatically remove leading/trailing whitespace from search que…
  server/src/dtos/search.dto.ts
  server/src/validation.ts
Labels: 🗄️server, changelog:bugfix

#22213 fix(web): show danger/warning when taken dates overlap
  i18n/en.json
  web/src/lib/components/shared-components/search-bar/search-date-section.svelte
Labels: 🖥️web, changelog:bugfix

#22217 fix(web): copy to clipboard on safari
  i18n/en.json
  web/src/lib/components/asset-viewer/photo-viewer.svelte
  web/src/lib/utils/asset-utils.ts
Labels: 🖥️web, changelog:bugfix

#21660 ci: mise mobile tasks
  mise.toml
Labels: changelog:skip

#22225 fix(web): only copy images via canvas
  i18n/en.json
  web/src/lib/components/asset-viewer/asset-viewer-nav-bar.svelte
  web/src/lib/components/asset-viewer/photo-viewer.svelte
  web/src/lib/utils/asset-utils.ts
Labels: 🖥️web, changelog:bugfix

#22222 feat: show preparing/hashing status in backup page
  i18n/en.json
  mobile/lib/infrastructure/repositories/backup.repository.dart
  mobile/lib/pages/backup/drift_backup.page.dart
  mobile/lib/providers/backup/drift_backup.provider.dart
  mobile/lib/services/upload.service.dart
  mobile/lib/widgets/forms/login/login_form.dart
Labels: 📱mobile, changelog:enhancement

#22237 fix: retain scroll position on scale update
  mobile/lib/presentation/widgets/timeline/timeline.widget.dart
Labels: 📱mobile, changelog:bugfix

#22277 fix(mobile): load original setting on android
  mobile/android/app/src/main/kotlin/app/alextran/immich/images/ThumbnailsImpl.kt
Labels: changelog:skip

#22252 fix: prevent background worker when main app is running
  mise.toml
  mobile/android/app/src/main/kotlin/app/alextran/immich/MainActivity.kt
  mobile/android/app/src/main/kotlin/app/alextran/immich/background/BackgroundEngineLock.kt
  mobile/android/app/src/main/kotlin/app/alextran/immich/background/BackgroundWorker.kt
  mobile/android/app/src/main/kotlin/app/alextran/immich/background/BackgroundWorkerApiImpl.kt
  mobile/android/app/src/main/kotlin/app/alextran/immich/background/BackgroundWorkerLock.g.kt
  mobile/android/app/src/main/kotlin/app/alextran/immich/background/BackgroundWorkerPreferences.kt
  mobile/lib/domain/services/background_worker.service.dart
  mobile/lib/main.dart
  mobile/lib/pages/common/splash_screen.page.dart
  mobile/lib/platform/background_worker_lock_api.g.dart
  mobile/lib/providers/app_life_cycle.provider.dart
  mobile/lib/providers/infrastructure/platform.provider.dart
  mobile/makefile
  mobile/pigeon/background_worker_lock_api.dart
Labels: 📱mobile, changelog:skip

#22285 chore: additional logs to troubleshoot issues with synced album
  mobile/lib/domain/services/sync_linked_album.service.dart
  mobile/lib/domain/utils/sync_linked_album.dart
Labels: 📱mobile, changelog:skip

#22022 chore(web): update translations
  i18n/af.json
  i18n/ar.json
  i18n/bg.json
  i18n/ca.json
  i18n/cs.json
  i18n/da.json
  i18n/de.json
  i18n/el.json
  i18n/es.json
  i18n/et.json
  i18n/fi.json
  i18n/fr.json
  i18n/gl.json
  i18n/he.json
  i18n/hi.json
  i18n/hr.json
  i18n/hu.json
  i18n/id.json
  i18n/it.json
  i18n/ja.json
  i18n/ko.json
  i18n/lt.json
  i18n/lv.json
  i18n/mk.json
  i18n/mr.json
  i18n/ms.json
  i18n/nb_NO.json
  i18n/nl.json
  i18n/nn.json
  i18n/pl.json
  i18n/pt.json
  i18n/pt_BR.json
  i18n/ro.json
  i18n/ru.json
  i18n/sk.json
  i18n/sl.json
  i18n/sv.json
  i18n/ta.json
  i18n/tr.json
  i18n/uk.json
  i18n/vi.json
  i18n/zh_Hant.json
  i18n/zh_SIMPLIFIED.json
Labels: changelog:translation

#21833 chore: prepare-release workflow tweaks
  .github/workflows/merge-translations.yml
  .github/workflows/prepare-release.yml
Labels: changelog:skip

#22350 chore(deps): bump exoplayer to 1.8.0
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: changelog:skip

#22381 chore: cleanup 1.143.0 from doc versions
  docs/static/archived-versions.json
Labels: documentation, changelog:skip

#22303 fix: map attribution and other styling
  mobile/lib/presentation/pages/drift_map.page.dart
  mobile/lib/presentation/widgets/bottom_sheet/map_bottom_sheet.widget.dart
  mobile/lib/presentation/widgets/map/map.widget.dart
Labels: 📱mobile, changelog:bugfix

#22364 fix: delete temp file on iOS after upload
  mobile/lib/services/upload.service.dart
Labels: 📱mobile, changelog:bugfix

#22349 chore: log mobile upload failures
  mobile/lib/providers/backup/drift_backup.provider.dart
Labels: 📱mobile, changelog:skip

#22329 fix(mobile): load local thumbnails in album timeline
  mobile/lib/infrastructure/entities/local_asset.entity.dart
  mobile/lib/infrastructure/entities/remote_asset.entity.dart
  mobile/lib/infrastructure/repositories/timeline.repository.dart
Labels: 📱mobile, changelog:bugfix

#22423 fix: remote album timeline filter
  mobile/lib/infrastructure/repositories/timeline.repository.dart
Labels: 📱mobile, changelog:skip

#21869 feat(mobile): add unstack button
  mobile/lib/presentation/widgets/action_buttons/unstack_action_button.widget.dart
  mobile/lib/presentation/widgets/asset_viewer/bottom_sheet.widget.dart
  mobile/lib/presentation/widgets/bottom_sheet/archive_bottom_sheet.widget.dart
  mobile/lib/presentation/widgets/bottom_sheet/favorite_bottom_sheet.widget.dart
  mobile/lib/presentation/widgets/bottom_sheet/general_bottom_sheet.widget.dart
  mobile/lib/presentation/widgets/bottom_sheet/remote_album_bottom_sheet.widget.dart
  mobile/lib/providers/infrastructure/action.provider.dart
  mobile/lib/providers/timeline/multiselect.provider.dart
  mobile/lib/utils/action_button.utils.dart
  mobile/test/utils/action_button_utils_test.dart
Labels: 📱mobile, changelog:bugfix

#22371 fix: merged timeline orderby localtime
  mise.toml
  mobile/drift_schemas/main/drift_schema_v12.json
  mobile/lib/domain/services/local_sync.service.dart
  mobile/lib/infrastructure/repositories/db.repository.dart
  mobile/lib/infrastructure/repositories/db.repository.steps.dart
  mobile/lib/infrastructure/repositories/timeline.repository.dart
  mobile/lib/utils/datetime_helpers.dart
  mobile/test/drift/main/generated/schema.dart
  mobile/test/drift/main/generated/schema_v12.dart
Labels: 📱mobile, changelog:bugfix

#22360 fix: process upload only after successful remote sync
  i18n/en.json
  mobile/lib/domain/services/background_worker.service.dart
  mobile/lib/domain/services/sync_stream.service.dart
  mobile/lib/domain/utils/background_sync.dart
  mobile/lib/infrastructure/repositories/sync_api.repository.dart
  mobile/lib/pages/backup/drift_backup.page.dart
  mobile/lib/pages/backup/drift_backup_album_selection.page.dart
  mobile/lib/pages/backup/drift_backup_options.page.dart
  mobile/lib/pages/common/splash_screen.page.dart
  mobile/lib/providers/app_life_cycle.provider.dart
  mobile/lib/providers/backup/drift_backup.provider.dart
  mobile/lib/services/server_info.service.dart
  mobile/lib/utils/isolate.dart
  mobile/lib/widgets/common/immich_sliver_app_bar.dart
Labels: 📱mobile, changelog:bugfix

#22488 fix: bump ml pyproject.toml correctly
  machine-learning/pyproject.toml
  misc/release/pump-version.sh
Labels: changelog:skip

#22492 fix: show un-hashed remainder assets
  mobile/lib/infrastructure/repositories/backup.repository.dart
  mobile/lib/providers/backup/drift_backup.provider.dart
Labels: 📱mobile, changelog:bugfix
