Repository immich-app/immich, pull requests merged in 2025-05, with the labels that each got.

#18031 chore: logging clean up
  server/src/bin/migrations.ts
  server/test/medium.factory.ts
  server/test/medium/globalSetup.ts
Labels: 🗄️server, changelog:skip

#18034 refactor: dialog callbacks
  web/src/lib/components/admin-page/delete-confirm-dialogue.svelte
  web/src/lib/components/admin-page/restore-dialogue.svelte
  web/src/lib/components/admin-page/settings/auth/auth-settings.svelte
  web/src/lib/components/album-page/album-options.svelte
  web/src/lib/components/album-page/share-info-modal.svelte
  web/src/lib/components/asset-viewer/editor/editor-panel.svelte
  web/src/lib/components/photos-page/delete-asset-dialog.svelte
  web/src/lib/components/shared-components/change-date.svelte
  web/src/lib/components/shared-components/change-location.svelte
  web/src/lib/components/shared-components/dialog/confirm-dialog.svelte
  web/src/lib/components/shared-components/dialog/dialog.ts
  web/src/routes/admin/jobs-status/+page.svelte
  web/src/routes/admin/user-management/+page.svelte
Labels: 🖥️web, changelog:skip

#18039 refactor: introduce modal manager
  web/package-lock.json
  web/package.json
  web/src/app.css
  web/src/lib/components/forms/create-user-form.svelte
  web/src/lib/components/forms/edit-user-form.svelte
  web/src/lib/components/shared-components/change-location.svelte
  web/src/lib/components/shared-components/dialog/confirm-dialog.svelte
  web/src/lib/forms/password-reset-success.svelte
  web/src/lib/managers/modal-manager.svelte.ts
  web/src/routes/admin/user-management/+page.svelte
  web/tailwind.config.js
Labels: 🖥️web, changelog:skip, preview

#18035 refactor: controller tests
  e2e/src/api/specs/activity.e2e-spec.ts
  e2e/src/api/specs/album.e2e-spec.ts
  e2e/src/api/specs/api-key.e2e-spec.ts
  e2e/src/api/specs/asset.e2e-spec.ts
  e2e/src/api/specs/search.e2e-spec.ts
  server/src/controllers/activity.controller.spec.ts
  server/src/controllers/album.controller.spec.ts
  server/src/controllers/api-key.controller.spec.ts
  server/src/controllers/app.controller.spec.ts
  server/src/controllers/asset-media.controller.spec.ts
  server/src/controllers/asset.controller.spec.ts
  server/src/controllers/auth.controller.spec.ts
  server/src/controllers/notification.controller.spec.ts
  server/src/controllers/search.controller.spec.ts
  server/src/controllers/server.controller.spec.ts
  server/src/controllers/user.controller.spec.ts
  server/test/medium/responses.ts
  server/test/medium/specs/controllers/auth.controller.spec.ts
  server/test/medium/specs/controllers/notification.controller.spec.ts
  server/test/medium/specs/controllers/user.controller.spec.ts
  server/test/medium/utils.ts
  server/test/small.factory.ts
  server/test/utils.ts
Labels: 🗄️server, changelog:skip

#18072 fix(web): text dim in darkmode
  web/src/lib/components/shared-components/side-bar/server-status.svelte
Labels: 🖥️web, changelog:skip

#17834 fix(mobile): Share page URL
  mobile/lib/pages/share_intent/share_intent.page.dart
  mobile/lib/providers/auth.provider.dart
Labels: 📱mobile, changelog:bugfix

#17906 feat(web): Map in albums & shared albums
  web/src/lib/components/album-page/album-map.svelte
  web/src/lib/components/album-page/album-viewer.svelte
  web/src/lib/components/photos-page/asset-grid.svelte
  web/src/lib/components/shared-components/map/map.svelte
  web/src/lib/managers/album-view-map.manager.svelte.ts
  web/src/routes/(user)/albums/[albumId=id]/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:feature

#18097 refactor: all user admin page modals
  web/src/lib/modals/UserCreateModal.svelte
  web/src/lib/modals/UserDeleteConfirmModal.svelte
  web/src/lib/modals/UserEditModal.svelte
  web/src/lib/modals/UserRestoreConfirmModal.svelte
  web/src/routes/admin/user-management/+page.svelte
Labels: 🖥️web, changelog:skip

#18105 refactor: use UI library variable for table
  web/src/lib/components/admin-page/server-stats/server-stats-panel.svelte
  web/src/lib/components/admin-page/server-stats/stats-card.svelte
  web/src/lib/components/album-page/album-card-group.svelte
  web/src/lib/components/album-page/albums-table-row.svelte
  web/src/lib/components/forms/library-import-paths-form.svelte
  web/src/lib/components/forms/library-scan-settings-form.svelte
  web/src/lib/components/shared-components/control-app-bar.svelte
  web/src/lib/components/shared-components/search-bar/search-people-section.svelte
  web/src/lib/components/shared-components/side-bar/recent-albums.svelte
  web/src/lib/components/shared-components/side-bar/side-bar-link.svelte
  web/src/lib/components/user-settings-page/user-api-key-list.svelte
  web/src/lib/components/user-settings-page/user-usage-statistic.svelte
  web/src/routes/admin/library-management/+page.svelte
  web/src/routes/admin/user-management/+page.svelte
Labels: 🖥️web, changelog:skip

#18100 refactor: controller tests
  e2e/src/api/specs/asset.e2e-spec.ts
  e2e/src/api/specs/auth.e2e-spec.ts
  e2e/src/api/specs/download.e2e-spec.ts
  server/src/controllers/activity.controller.spec.ts
  server/src/controllers/album.controller.spec.ts
  server/src/controllers/api-key.controller.spec.ts
  server/src/controllers/auth.controller.spec.ts
  server/src/controllers/auth.controller.ts
  server/src/controllers/download.controller.spec.ts
  server/src/controllers/notification.controller.spec.ts
  server/src/controllers/search.controller.spec.ts
  server/src/controllers/server.controller.spec.ts
  server/src/controllers/user.controller.spec.ts
  server/test/medium/responses.ts
  server/test/utils.ts
Labels: 🗄️server, changelog:skip

#18107 chore: better modal manager types
  web/src/lib/managers/modal-manager.svelte.ts
  web/src/routes/admin/jobs-status/+page.svelte
  web/src/routes/admin/user-management/+page.svelte
Labels: 🖥️web, changelog:skip

#18104 fix(docs): update nginx reverse proxy
  docs/docs/administration/reverse-proxy.md
Labels: documentation, changelog:documentation

#18106 refactor: job create modal
  web/src/lib/managers/modal-manager.svelte.ts
  web/src/lib/modals/JobCreateModal.svelte
  web/src/routes/admin/jobs-status/+page.svelte
  web/src/routes/admin/user-management/+page.svelte
Labels: 🖥️web, changelog:skip

#18025 feat: Add DB_SSL_MODE environment variable for Postgres sslmode
  docs/docs/install/environment-variables.md
  server/src/dtos/env.dto.ts
  server/src/enum.ts
  server/src/repositories/config.repository.spec.ts
  server/src/repositories/config.repository.ts
  server/src/types.ts
  server/src/utils/database.ts
Labels: documentation, 🗄️server, changelog:enhancement

#18130 fix(docs): remove old patch versions from version switcher
  docs/static/archived-versions.json
Labels: documentation, changelog:documentation

#17974 fix(server): more robust person thumbnail generation
  docs/src/pages/cursed-knowledge.tsx
  server/src/queries/person.repository.sql
  server/src/repositories/person.repository.ts
  server/src/services/media.service.spec.ts
  server/src/services/media.service.ts
  server/src/services/person.service.spec.ts
  server/src/services/person.service.ts
  server/src/utils/misc.ts
  server/test/fixtures/person.stub.ts
Labels: documentation, 🗄️server, changelog:bugfix

#18127 chore: remove usage of deprecated Kysely method
  server/src/repositories/audit.repository.ts
  server/src/repositories/sync.repository.ts
Labels: 🗄️server, changelog:skip

#17987 chore: run all e2e tests on github runners
  .github/workflows/test.yml
  e2e/src/api/specs/asset.e2e-spec.ts
Labels: changelog:skip

#18134 refactor: side bar modals
  web/src/app.html
  web/src/lib/components/shared-components/purchasing/purchase-activation-success.svelte
  web/src/lib/components/shared-components/purchasing/purchase-content.svelte
  web/src/lib/components/shared-components/side-bar/purchase-info.svelte
  web/src/lib/components/shared-components/side-bar/server-status.svelte
  web/src/lib/managers/modal-manager.svelte.ts
  web/src/lib/modals/PurchaseModal.svelte
  web/src/lib/modals/ServerAboutModal.svelte
Labels: 🖥️web, changelog:skip, preview

#18146 fix: schema ci checks
  .github/workflows/test.yml
  server/src/schema/enums.ts
  server/src/schema/index.ts
  server/src/schema/migrations/1746636476623-DropExtraIndexes.ts
  server/src/schema/tables/asset.table.ts
  server/src/schema/tables/natural-earth-countries.table.ts
Labels: 🗄️server, changelog:skip

#18145 refactor: help modal
  web/src/lib/components/shared-components/navigation-bar/navigation-bar.svelte
  web/src/lib/modals/HelpAndFeedbackModal.svelte
Labels: 🖥️web, changelog:skip

#18143 refactor: map
  web/src/lib/components/album-page/album-map.svelte
  web/src/lib/components/asset-viewer/detail-panel.svelte
  web/src/lib/components/map-page/map-settings-modal.svelte
  web/src/lib/components/shared-components/change-location.svelte
  web/src/lib/components/shared-components/map/map.svelte
  web/src/lib/modals/MapSettingsModal.svelte
  web/src/routes/(user)/map/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:skip, preview

#18147 refactor: user page modals
  web/src/lib/components/forms/api-key-form.svelte
  web/src/lib/components/forms/api-key-secret.svelte
  web/src/lib/components/user-settings-page/partner-selection-modal.svelte
  web/src/lib/components/user-settings-page/partner-settings.svelte
  web/src/lib/components/user-settings-page/user-api-key-list.svelte
  web/src/lib/modals/ApiKeyModal.svelte
  web/src/lib/modals/ApiKeySecretModal.svelte
  web/src/lib/modals/PartnerSelectionModal.svelte
Labels: 🖥️web, changelog:skip, preview

#18150 refactor: modal manager types
  web/src/lib/components/shared-components/map/map.svelte
  web/src/lib/components/shared-components/navigation-bar/navigation-bar.svelte
  web/src/lib/components/shared-components/side-bar/purchase-info.svelte
  web/src/lib/components/shared-components/side-bar/server-status.svelte
  web/src/lib/components/user-settings-page/partner-settings.svelte
  web/src/lib/components/user-settings-page/user-api-key-list.svelte
  web/src/lib/managers/modal-manager.svelte.ts
  web/src/routes/admin/jobs-status/+page.svelte
  web/src/routes/admin/user-management/+page.svelte
Labels: 🖥️web, changelog:skip

#18151 fix: notification text's color
  web/src/lib/components/shared-components/notification/notification-card.svelte
Labels: 🖥️web, changelog:skip

#18142 chore: update truenas install guide
  docs/docs/install/truenas.md
Labels: documentation, changelog:documentation

#18160 fix(web): navigation bar regression
  web/src/lib/components/layouts/user-page-layout.svelte
  web/src/lib/components/shared-components/navigation-bar/navigation-bar.svelte
Labels: 🖥️web, changelog:skip

#18168 fix: always set cache-key-base during image build
  .github/actions/image-build/action.yml
Labels: changelog:skip

#18169 fix: properly set cache key suffix in image build
  .github/actions/image-build/action.yml
Labels: changelog:skip

#18166 fix(web): add photos to album
  web/src/routes/(user)/albums/[albumId=id]/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:skip

#18159 refactor: search filter modal
  web/src/lib/components/shared-components/search-bar/search-bar.svelte
  web/src/lib/modals/SearchFilterModal.svelte
Labels: 🖥️web, changelog:skip

#18163 chore: rounded map corner when needed
  web/src/lib/components/album-page/album-map.svelte
  web/src/lib/components/shared-components/change-location.svelte
  web/src/lib/components/shared-components/map/map.svelte
  web/src/routes/(user)/map/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:skip

#18170 fix: notification text's color
  web/src/lib/components/shared-components/notification/notification-card.svelte
Labels: 🖥️web, changelog:skip

#18177 fix: various typos (grouped in to separate commits)
  docs/docs/features/libraries.md
  docs/docs/features/searching.md
  machine-learning/immich_ml/sessions/rknn/rknnpool.py
  server/src/schema/tables/shared-link.table.ts
  web/src/lib/components/assets/thumbnail/__test__/thumbnail.spec.ts
  web/src/lib/components/memory-page/memory-viewer.svelte
  web/src/lib/components/photos-page/asset-grid.svelte
  web/src/lib/utils/cancellable-task.ts
Labels: documentation, 🖥️web, 🗄️server, changelog:skip

#18178 fix: retrieve constraint name with query in migration to handle all cases
  server/src/schema/migrations/1746636476623-DropExtraIndexes.ts
Labels: 🗄️server, changelog:skip

#18091 fix: z-index war in the asset viewer
  web/src/lib/components/asset-viewer/asset-viewer-nav-bar.svelte
  web/src/lib/components/asset-viewer/asset-viewer.svelte
  web/src/lib/components/asset-viewer/detail-panel.svelte
  web/src/lib/components/asset-viewer/photo-viewer.svelte
  web/src/lib/components/asset-viewer/video-native-viewer.svelte
  web/src/lib/components/asset-viewer/video-panorama-viewer.svelte
  web/src/lib/components/shared-components/dialog/confirm-dialog.svelte
Labels: 🖥️web, changelog:bugfix, preview

#18180 fix: search filter modal close
  web/src/lib/modals/SearchFilterModal.svelte
Labels: 🖥️web, changelog:skip, preview

#18183 refactor: share modals
  web/src/lib/components/album-page/albums-list.svelte
  web/src/lib/components/asset-viewer/actions/share-action.svelte
  web/src/lib/components/photos-page/actions/create-shared-link.svelte
  web/src/lib/components/shared-components/create-share-link-modal/create-shared-link-modal.svelte
  web/src/lib/constants.ts
  web/src/lib/modals/AlbumShareModal.svelte
  web/src/lib/modals/QrCodeModal.svelte
  web/src/lib/modals/SharedLinkCreateModal.svelte
  web/src/routes/(user)/albums/[albumId=id]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/shared-links/[[id=id]]/+page.svelte
Labels: 🖥️web, changelog:skip

#18175 refactor: shortcuts modal
  web/src/lib/components/photos-page/asset-grid.svelte
  web/src/lib/components/shared-components/gallery-viewer/gallery-viewer.svelte
  web/src/lib/components/shared-components/show-shortcuts.svelte
  web/src/lib/modals/ShortcutsModal.svelte
  web/src/routes/(user)/user-settings/+page.svelte
  web/src/routes/(user)/utilities/duplicates/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:skip, preview

#18184 docs: face lift, botox x3
  docs/docs/install/docker-compose.mdx
  docs/docs/overview/comparison.md
  docs/docs/overview/img/social-preview-light.webp
  docs/docs/overview/quick-start.mdx
  docs/docs/overview/welcome.mdx
  docs/docs/partials/_docker-compose-install-steps.mdx
  docs/docusaurus.config.js
  docs/src/css/custom.css
  docs/src/pages/index.tsx
  docs/src/pages/privacy-policy.tsx
  docs/static/_redirects
  docs/static/fonts/overpass/Overpass-Italic.ttf
  docs/static/fonts/overpass/Overpass.ttf
  docs/static/fonts/overpass/OverpassMono.ttf
  docs/static/img/logomark-dark-with-futo.svg
  docs/static/img/logomark-light-with-futo.svg
Labels: documentation, changelog:documentation

#18185 refactor: shared link url
  web/src/lib/components/album-page/albums-list.svelte
  web/src/lib/components/asset-viewer/actions/share-action.svelte
  web/src/lib/components/photos-page/actions/create-shared-link.svelte
  web/src/lib/components/sharedlinks-page/actions/shared-link-copy.svelte
  web/src/lib/modals/AlbumShareModal.svelte
  web/src/lib/utils.ts
  web/src/routes/(user)/albums/[albumId=id]/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:skip

#18138 feat: user pin-code
  i18n/en.json
  mobile/openapi/README.md
  mobile/openapi/lib/api.dart
  mobile/openapi/lib/api/authentication_api.dart
  mobile/openapi/lib/api_client.dart
  mobile/openapi/lib/model/auth_status_response_dto.dart
  mobile/openapi/lib/model/pin_code_change_dto.dart
  mobile/openapi/lib/model/pin_code_setup_dto.dart
  mobile/openapi/lib/model/user_admin_update_dto.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/controllers/auth.controller.spec.ts
  server/src/controllers/auth.controller.ts
  server/src/dtos/auth.dto.ts
  server/src/dtos/user.dto.ts
  server/src/queries/user.repository.sql
  server/src/repositories/user.repository.ts
  server/src/schema/migrations/1746768490606-AddUserPincode.ts
  server/src/schema/tables/user.table.ts
  server/src/services/auth.service.spec.ts
  server/src/services/auth.service.ts
  server/src/services/user-admin.service.ts
  server/src/validation.ts
  web/src/lib/components/user-settings-page/PinCodeInput.svelte
  web/src/lib/components/user-settings-page/PinCodeSettings.svelte
  web/src/lib/components/user-settings-page/user-settings-list.svelte
  web/src/lib/modals/UserEditModal.svelte
  web/src/routes/admin/user-management/+page.svelte
Labels: 📱mobile, 🖥️web, 🗄️server, changelog:feature

#18187 chore: use correct font on buy button
  docs/src/css/custom.css
Labels: documentation, changelog:skip

#18188 fix(web): user restore
  web/src/lib/modals/UserRestoreConfirmModal.svelte
Labels: 🖥️web, changelog:bugfix

#18186 chore(web): upgrade enhanced-img
  web/package-lock.json
  web/package.json
  web/vite.config.js
Labels: dependencies, 🖥️web, changelog:skip

#18189 feat(web): stat card tweaks
  web/src/lib/components/admin-page/server-stats/server-stats-panel.svelte
  web/src/lib/components/admin-page/server-stats/stats-card.svelte
Labels: 🖥️web, changelog:enhancement

#18194 fix(web): IconButton size in user restore
  web/src/routes/admin/user-management/+page.svelte
Labels: 🖥️web, changelog:skip

#18193 chore(web): color tuning
  web/src/app.css
Labels: 🖥️web, changelog:skip

#18203 fix: missing translation in pin settings
  i18n/en.json
  web/src/lib/components/user-settings-page/PinCodeSettings.svelte
Labels: 🖥️web, changelog:skip

#18228 refactor: avatar selector modal
  web/src/lib/components/shared-components/navigation-bar/account-info-panel.svelte
  web/src/lib/components/shared-components/navigation-bar/avatar-selector.svelte
  web/src/lib/modals/AvatarEditModal.svelte
Labels: 🖥️web, changelog:skip

#18230 feat(web): user detail page
  i18n/en.json
  mobile/openapi/README.md
  mobile/openapi/lib/api/users_admin_api.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/controllers/user-admin.controller.ts
  server/src/dtos/user.dto.ts
  server/src/repositories/user.repository.ts
  server/src/services/user-admin.service.ts
  web/src/lib/components/shared-components/dialog/confirm-dialog.svelte
  web/src/lib/components/shared-components/navigation-bar/account-info-panel.svelte
  web/src/lib/components/shared-components/side-bar/admin-side-bar.svelte
  web/src/lib/constants.ts
  web/src/lib/modals/UserEditModal.svelte
  web/src/routes/admin/+page.ts
  web/src/routes/admin/user-management/+page.ts
  web/src/routes/admin/users/+page.svelte
  web/src/routes/admin/users/+page.ts
  web/src/routes/admin/users/[id]/+page.svelte
  web/src/routes/admin/users/[id]/+page.ts
Labels: 🖥️web, 🗄️server, changelog:feature, preview

#18234 refactor: remove unnecessary bg-color attributes and move to ui lib vars
  web/src/lib/components/admin-page/server-stats/server-stats-panel.svelte
  web/src/lib/components/album-page/album-title.svelte
  web/src/lib/components/album-page/album-viewer.svelte
  web/src/lib/components/album-page/albums-table-row.svelte
  web/src/lib/components/asset-viewer/asset-viewer.svelte
  web/src/lib/components/asset-viewer/download-panel.svelte
  web/src/lib/components/faces-page/assign-face-side-panel.svelte
  web/src/lib/components/faces-page/manage-people-visibility.svelte
  web/src/lib/components/faces-page/merge-face-selector.svelte
  web/src/lib/components/faces-page/people-search.svelte
  web/src/lib/components/faces-page/person-side-panel.svelte
  web/src/lib/components/faces-page/unmerge-face-selector.svelte
  web/src/lib/components/forms/library-import-paths-form.svelte
  web/src/lib/components/forms/library-scan-settings-form.svelte
  web/src/lib/components/layouts/ErrorLayout.svelte
  web/src/lib/components/layouts/user-page-layout.svelte
  web/src/lib/components/onboarding-page/onboarding-theme.svelte
  web/src/lib/components/photos-page/asset-date-group.svelte
  web/src/lib/components/photos-page/skeleton.svelte
  web/src/lib/components/share-page/individual-shared-viewer.svelte
  web/src/lib/components/shared-components/album-selection/album-selection-modal.svelte
  web/src/lib/components/shared-components/control-app-bar.svelte
  web/src/lib/components/shared-components/navigation-bar/navigation-bar.svelte
  web/src/lib/components/shared-components/scrubber/scrubber.svelte
  web/src/lib/components/shared-components/side-bar/side-bar-section.svelte
  web/src/lib/components/shared-components/upload-asset-preview.svelte
  web/src/lib/components/user-settings-page/user-api-key-list.svelte
  web/src/lib/components/user-settings-page/user-usage-statistic.svelte
  web/src/routes/(user)/albums/[albumId=id]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/partners/[userId]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/people/+page.svelte
  web/src/routes/(user)/people/[personId]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/search/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/share/[key]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/admin/library-management/+page.svelte
  web/src/routes/admin/users/+page.svelte
Labels: 🖥️web, changelog:skip, preview

#18235 refactor: dialog controller
  web/src/lib/components/admin-page/jobs/jobs-panel.svelte
  web/src/lib/components/asset-viewer/actions/keep-this-delete-others.svelte
  web/src/lib/components/asset-viewer/face-editor/face-editor.svelte
  web/src/lib/components/faces-page/merge-face-selector.svelte
  web/src/lib/components/faces-page/person-side-panel.svelte
  web/src/lib/components/photos-page/actions/remove-from-album.svelte
  web/src/lib/components/photos-page/actions/remove-from-shared-link.svelte
  web/src/lib/components/shared-components/dialog/dialog-wrapper.svelte
  web/src/lib/components/shared-components/dialog/dialog.ts
  web/src/lib/components/user-settings-page/device-list.svelte
  web/src/lib/components/user-settings-page/partner-settings.svelte
  web/src/lib/components/user-settings-page/user-api-key-list.svelte
  web/src/lib/components/user-settings-page/user-purchase-settings.svelte
  web/src/lib/managers/modal-manager.svelte.ts
  web/src/lib/utils/album-utils.ts
  web/src/routes/(user)/shared-links/[[id=id]]/+page.svelte
  web/src/routes/(user)/tags/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/trash/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/utilities/duplicates/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/+layout.svelte
  web/src/routes/admin/library-management/+page.svelte
  web/src/routes/admin/users/[id]/+page.svelte
Labels: 🖥️web, changelog:skip

#18238 refactor: confirm modal
  web/src/lib/components/admin-page/settings/auth/auth-settings.svelte
  web/src/lib/components/album-page/album-options.svelte
  web/src/lib/components/album-page/share-info-modal.svelte
  web/src/lib/components/asset-viewer/editor/editor-panel.svelte
  web/src/lib/components/photos-page/delete-asset-dialog.svelte
  web/src/lib/components/shared-components/change-date.svelte
  web/src/lib/components/shared-components/change-location.svelte
  web/src/lib/forms/password-reset-success.svelte
  web/src/lib/managers/modal-manager.svelte.ts
  web/src/lib/modals/ConfirmModal.svelte
  web/src/lib/modals/JobCreateModal.svelte
  web/src/lib/modals/UserDeleteConfirmModal.svelte
  web/src/lib/modals/UserRestoreConfirmModal.svelte
Labels: 🖥️web, changelog:skip

#18239 refactor: password reset success modal
  web/src/lib/modals/ConfirmModal.svelte
  web/src/lib/modals/PasswordResetSuccessModal.svelte
  web/src/routes/admin/users/[id]/+page.svelte
Labels: 🖥️web, changelog:skip

#18240 refactor: remove unused props
  web/src/lib/components/asset-viewer/editor/editor-panel.svelte
  web/src/lib/components/user-settings-page/user-purchase-settings.svelte
  web/src/lib/modals/ConfirmModal.svelte
  web/src/routes/(user)/tags/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:skip

#18253 fix(web): user details
  server/src/services/user-admin.service.ts
  web/src/routes/admin/users/[id]/+page.ts
Labels: 🖥️web, 🗄️server, changelog:skip

#18241 refactor: confirm modal in album users modal
  web/src/lib/modals/AlbumUsersModal.svelte
  web/src/lib/modals/ConfirmModal.svelte
  web/src/routes/(user)/albums/[albumId=id]/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:skip

#18192 fix: z-index overuse
  web/src/lib/components/album-page/album-card.svelte
  web/src/lib/components/album-page/album-viewer.svelte
  web/src/lib/components/asset-viewer/album-list-item.svelte
  web/src/lib/components/asset-viewer/download-panel.svelte
  web/src/lib/components/asset-viewer/editor/crop-tool/crop-area.svelte
  web/src/lib/components/asset-viewer/photo-viewer.svelte
  web/src/lib/components/assets/thumbnail/image-thumbnail.svelte
  web/src/lib/components/assets/thumbnail/thumbnail.svelte
  web/src/lib/components/assets/thumbnail/video-thumbnail.svelte
  web/src/lib/components/elements/buttons/skip-link.svelte
  web/src/lib/components/elements/dropdown.svelte
  web/src/lib/components/faces-page/assign-face-side-panel.svelte
  web/src/lib/components/faces-page/manage-people-visibility.svelte
  web/src/lib/components/faces-page/merge-face-selector.svelte
  web/src/lib/components/faces-page/person-side-panel.svelte
  web/src/lib/components/faces-page/unmerge-face-selector.svelte
  web/src/lib/components/layouts/AuthPageLayout.svelte
  web/src/lib/components/layouts/user-page-layout.svelte
  web/src/lib/components/memory-page/memory-viewer.svelte
  web/src/lib/components/photos-page/asset-date-group.svelte
  web/src/lib/components/photos-page/asset-grid.svelte
  web/src/lib/components/photos-page/memory-lane.svelte
  web/src/lib/components/photos-page/skeleton.svelte
  web/src/lib/components/shared-components/change-location.svelte
  web/src/lib/components/shared-components/combobox.svelte
  web/src/lib/components/shared-components/context-menu/context-menu.svelte
  web/src/lib/components/shared-components/context-menu/right-click-context-menu.svelte
  web/src/lib/components/shared-components/control-app-bar.svelte
  web/src/lib/components/shared-components/drag-and-drop-upload-overlay.svelte
  web/src/lib/components/shared-components/full-screen-modal.svelte
  web/src/lib/components/shared-components/navigation-bar/account-info-panel.svelte
  web/src/lib/components/shared-components/navigation-bar/navigation-bar.svelte
  web/src/lib/components/shared-components/navigation-bar/notification-panel.svelte
  web/src/lib/components/shared-components/navigation-loading-bar.svelte
  web/src/lib/components/shared-components/notification/__tests__/notification-list.spec.ts
  web/src/lib/components/shared-components/notification/notification-card.svelte
  web/src/lib/components/shared-components/notification/notification-list.svelte
  web/src/lib/components/shared-components/scrubber/scrubber.svelte
  web/src/lib/components/shared-components/search-bar/search-bar.svelte
  web/src/lib/components/shared-components/side-bar/purchase-info.svelte
  web/src/lib/components/shared-components/side-bar/side-bar-link.svelte
  web/src/lib/components/shared-components/side-bar/side-bar-section.svelte
  web/src/lib/components/shared-components/upload-panel.svelte
  web/src/routes/(user)/folders/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/people/+page.svelte
  web/src/routes/(user)/people/[personId]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/photos/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/search/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/share/[key]/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:skip, preview

#18266 refactor: album users modal
  web/src/lib/constants.ts
  web/src/lib/modals/AlbumUsersModal.svelte
  web/src/routes/(user)/albums/[albumId=id]/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:skip

#18260 chore: use full action versions in comment
  .github/workflows/build-mobile.yml
  .github/workflows/cache-cleanup.yml
  .github/workflows/cli.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docker.yml
  .github/workflows/docs-build.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/docs-destroy.yml
  .github/workflows/fix-format.yml
  .github/workflows/pr-label-validation.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/prepare-release.yml
  .github/workflows/preview-label.yaml
  .github/workflows/sdk.yml
  .github/workflows/static_analysis.yml
  .github/workflows/test.yml
  .github/workflows/weblate-lock.yml
Labels: changelog:skip

#18269 fix: detail panel background
  web/src/lib/components/asset-viewer/asset-viewer.svelte
  web/src/lib/components/asset-viewer/detail-panel.svelte
Labels: 🖥️web, changelog:skip

#18275 fix: z-index issues
  web/src/lib/components/faces-page/merge-suggestion-modal.svelte
  web/src/lib/components/faces-page/people-card.svelte
  web/src/routes/(user)/people/[personId]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/admin/library-management/+page.svelte
Labels: 🖥️web, changelog:skip

#18277 fix: memory lane memory title
  web/src/lib/components/photos-page/memory-lane.svelte
Labels: 🖥️web, changelog:skip

#18283 refactor: date of birth modal
  web/src/lib/components/faces-page/set-birth-date-modal.svelte
  web/src/lib/constants.ts
  web/src/lib/modals/PersonEditBirthDateModal.svelte
  web/src/routes/(user)/people/+page.svelte
  web/src/routes/(user)/people/[personId]/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:skip

#18276 refactor: admin sidebar
  web/package-lock.json
  web/package.json
  web/src/app.css
  web/src/lib/components/layouts/AdminPageLayout.svelte
  web/src/lib/components/layouts/PageContent.svelte
  web/src/lib/components/layouts/user-page-layout.svelte
  web/src/lib/components/shared-components/navigation-bar/navigation-bar.svelte
  web/src/lib/components/shared-components/side-bar/admin-side-bar.svelte
  web/src/routes/admin/jobs-status/+page.svelte
  web/src/routes/admin/library-management/+page.svelte
  web/src/routes/admin/server-status/+page.svelte
  web/src/routes/admin/system-settings/+page.svelte
  web/src/routes/admin/users/+page.svelte
  web/src/routes/admin/users/[id]/+page.svelte
  web/tailwind.config.js
Labels: 🖥️web, changelog:skip, preview

#18286 fix: mobile sidebar
  web/src/lib/components/shared-components/side-bar/side-bar-section.svelte
Labels: 🖥️web, changelog:skip

#18289 refactor: buy immich
  web/src/lib/components/shared-components/purchasing/purchase-content.svelte
  web/src/routes/(user)/buy/+page.svelte
Labels: 🖥️web, changelog:skip

#18290 refactor: layout components
  web/src/lib/components/layouts/AdminPageLayout.svelte
  web/src/lib/components/layouts/PageContent.svelte
  web/src/lib/components/layouts/TitleLayout.svelte
  web/src/lib/sidebars/AdminSidebar.svelte
Labels: 🖥️web, changelog:skip

#18291 refactor: user settings container
  web/src/routes/(user)/user-settings/+page.svelte
Labels: 🖥️web, changelog:skip

#18292 refactor: default border color
  web/src/app.css
  web/src/lib/components/layouts/user-page-layout.svelte
  web/src/lib/components/shared-components/navigation-bar/navigation-bar.svelte
  web/src/lib/components/shared-components/settings/setting-accordion.svelte
  web/tailwind.config.js
Labels: 🖥️web, changelog:skip, preview

#18293 refactor: sidebar
  web/src/lib/components/layouts/user-page-layout.svelte
  web/src/lib/components/shared-components/side-bar/user-sidebar.svelte
  web/src/lib/components/sidebar/sidebar.spec.ts
  web/src/lib/components/sidebar/sidebar.svelte
  web/src/routes/(user)/folders/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/tags/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:skip

#18287 refactor: person merge suggestion modal
  web/src/lib/components/faces-page/merge-suggestion-modal.svelte
  web/src/lib/constants.ts
  web/src/lib/modals/PersonMergeSuggestionModal.svelte
  web/src/routes/(user)/people/+page.svelte
  web/src/routes/(user)/people/[personId]/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:skip, preview

#18299 fix(server): vacuum after deleting people
  server/src/queries/person.repository.sql
  server/src/repositories/person.repository.ts
  server/src/services/person.service.spec.ts
  server/src/services/person.service.ts
  server/test/repositories/person.repository.mock.ts
Labels: 🗄️server, changelog:bugfix

#18300 fix(server): do not filter out assets without preview path for person thumbnail generation
  e2e/src/api/specs/asset.e2e-spec.ts
  server/src/queries/person.repository.sql
  server/src/repositories/person.repository.ts
Labels: 🗄️server, changelog:skip

#18301 chore: no sql generation for queries with side effects
  server/src/queries/asset.repository.sql
  server/src/queries/audit.repository.sql
  server/src/queries/memory.repository.sql
  server/src/queries/move.repository.sql
  server/src/queries/notification.repository.sql
  server/src/queries/partner.repository.sql
  server/src/queries/person.repository.sql
  server/src/queries/system.metadata.repository.sql
  server/src/queries/tag.repository.sql
  server/src/queries/version.history.repository.sql
  server/src/repositories/asset.repository.ts
  server/src/repositories/audit.repository.ts
  server/src/repositories/memory.repository.ts
  server/src/repositories/move.repository.ts
  server/src/repositories/notification.repository.ts
  server/src/repositories/partner.repository.ts
  server/src/repositories/person.repository.ts
  server/src/repositories/system-metadata.repository.ts
  server/src/repositories/tag.repository.ts
  server/src/repositories/version-history.repository.ts
Labels: 🗄️server, changelog:skip

#18314 chore: use default theme config
  web/package-lock.json
  web/package.json
  web/src/app.css
  web/src/routes/+layout.svelte
  web/tailwind.config.js
Labels: 🖥️web, changelog:skip, preview

#18318 fix: person edit sidebar cursedness
  web/src/lib/components/faces-page/assign-face-side-panel.svelte
Labels: 🖥️web, changelog:skip

#18302 feat(web): continue after login
  web/src/lib/utils/auth.ts
  web/src/routes/(user)/albums/+page.ts
  web/src/routes/(user)/albums/[albumId=id]/[[photos=photos]]/[[assetId=id]]/+page.ts
  web/src/routes/(user)/archive/[[photos=photos]]/[[assetId=id]]/+page.ts
  web/src/routes/(user)/buy/+page.ts
  web/src/routes/(user)/explore/+page.ts
  web/src/routes/(user)/favorites/[[photos=photos]]/[[assetId=id]]/+page.ts
  web/src/routes/(user)/folders/[[photos=photos]]/[[assetId=id]]/+page.ts
  web/src/routes/(user)/map/[[photos=photos]]/[[assetId=id]]/+page.ts
  web/src/routes/(user)/memory/[[photos=photos]]/[[assetId=id]]/+page.ts
  web/src/routes/(user)/partners/[userId]/[[photos=photos]]/[[assetId=id]]/+page.ts
  web/src/routes/(user)/people/+page.ts
  web/src/routes/(user)/people/[personId]/[[photos=photos]]/[[assetId=id]]/+page.ts
  web/src/routes/(user)/photos/[[assetId=id]]/+page.ts
  web/src/routes/(user)/places/+page.ts
  web/src/routes/(user)/search/[[photos=photos]]/[[assetId=id]]/+page.ts
  web/src/routes/(user)/share/[key]/[[photos=photos]]/[[assetId=id]]/+page.ts
  web/src/routes/(user)/shared-links/[[id=id]]/+page.ts
  web/src/routes/(user)/sharing/+page.ts
  web/src/routes/(user)/tags/[[photos=photos]]/[[assetId=id]]/+page.ts
  web/src/routes/(user)/trash/[[photos=photos]]/[[assetId=id]]/+page.ts
  web/src/routes/(user)/user-settings/+page.ts
  web/src/routes/(user)/utilities/+page.ts
  web/src/routes/(user)/utilities/duplicates/[[photos=photos]]/[[assetId=id]]/+page.ts
  web/src/routes/admin/jobs-status/+page.ts
  web/src/routes/admin/library-management/+page.ts
  web/src/routes/admin/server-status/+page.ts
  web/src/routes/admin/system-settings/+page.ts
  web/src/routes/admin/users/+page.ts
  web/src/routes/admin/users/[id]/+page.ts
  web/src/routes/auth/change-password/+page.ts
  web/src/routes/auth/login/+page.svelte
  web/src/routes/auth/login/+page.ts
  web/src/routes/auth/onboarding/+page.ts
Labels: 🖥️web, changelog:feature, preview

#18324 fix: check i18n are sorted
  .github/workflows/test.yml
  i18n/en.json
  web/package.json
  web/src/routes/(user)/locked/[[photos=photos]]/[[assetId=id]]/+page.ts
  web/src/routes/auth/pin-prompt/+page.ts
Labels: 🖥️web, changelog:skip

#18317 refactor: buttons
  web/src/lib/components/elements/buttons/__test__/button.spec.ts
  web/src/lib/components/elements/buttons/button.svelte
  web/src/lib/components/elements/buttons/skip-link.svelte
  web/src/lib/components/faces-page/edit-name-input.svelte
  web/src/lib/components/faces-page/manage-people-visibility.svelte
  web/src/lib/components/faces-page/merge-face-selector.svelte
  web/src/lib/components/faces-page/unmerge-face-selector.svelte
  web/src/lib/components/forms/library-scan-settings-form.svelte
  web/src/lib/components/forms/tag-asset-form.svelte
  web/src/lib/components/onboarding-page/onboarding-hello.svelte
  web/src/lib/components/onboarding-page/onboarding-privacy.svelte
  web/src/lib/components/onboarding-page/onboarding-storage-template.svelte
  web/src/lib/components/onboarding-page/onboarding-theme.svelte
  web/src/lib/components/shared-components/navigation-bar/account-info-panel.svelte
  web/src/lib/components/shared-components/profile-image-cropper.svelte
  web/src/lib/components/shared-components/purchasing/individual-purchase-option-card.svelte
  web/src/lib/components/shared-components/purchasing/purchase-activation-success.svelte
  web/src/lib/components/shared-components/purchasing/purchase-content.svelte
  web/src/lib/components/shared-components/purchasing/server-purchase-option-card.svelte
  web/src/lib/components/shared-components/search-bar/search-people-section.svelte
  web/src/lib/components/shared-components/version-announcement-box.svelte
  web/src/lib/components/slideshow-settings.svelte
  web/src/lib/components/utilities-page/duplicates/duplicates-compare-control.svelte
  web/src/lib/modals/PersonEditBirthDateModal.svelte
  web/src/routes/(user)/albums/[albumId=id]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/share/[key]/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:skip

#18320 fix: people edit ui
  web/src/routes/(user)/people/[personId]/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:skip

#18330 feat(web): clear person birthdate
  e2e/src/api/specs/person.e2e-spec.ts
  open-api/immich-openapi-specs.json
  server/src/controllers/person.controller.spec.ts
  server/src/controllers/person.controller.ts
  server/src/dtos/person.dto.ts
  web/src/lib/modals/PersonEditBirthDateModal.svelte
  web/src/routes/(user)/people/[personId]/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, 🗄️server, changelog:enhancement

#18333 refactor(server): "on this day" memory creation
  server/src/enum.ts
  server/src/services/memory.service.ts
  server/test/medium/specs/services/memory.service.spec.ts
Labels: 🗄️server, changelog:bugfix

#18336 fix: z-index issues on search page
  web/src/routes/(user)/search/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:skip, preview

#18334 refactor: convert slider to switch
  web/src/lib/components/elements/slider.svelte
  web/src/lib/components/shared-components/settings/setting-switch.svelte
Labels: 🖥️web, changelog:skip

#18319 feat: let renovate pick up on ML driver deps
  machine-learning/Dockerfile
Labels: changelog:skip

#18337 refactor: checkbox
  web/src/lib/components/elements/checkbox.svelte
  web/src/lib/components/photos-page/delete-asset-dialog.svelte
  web/src/lib/components/shared-components/search-bar/search-display-section.svelte
  web/src/lib/components/shared-components/settings/setting-checkboxes.svelte
  web/src/lib/modals/SearchFilterModal.svelte
  web/src/lib/modals/UserDeleteConfirmModal.svelte
Labels: 🖥️web, changelog:skip

#18288 feat: bulk change description
  i18n/en.json
  mobile/openapi/lib/model/asset_bulk_update_dto.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/dtos/asset.dto.ts
  server/src/services/asset.service.ts
  web/src/lib/components/memory-page/memory-viewer.svelte
  web/src/lib/components/photos-page/actions/change-description-action.svelte
  web/src/lib/modals/AssetUpdateDecriptionConfirmModal.svelte
  web/src/routes/(user)/albums/[albumId=id]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/favorites/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/folders/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/people/[personId]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/photos/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/search/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, 🗄️server, changelog:feature

#18340 fix(web): Make QR code colors solid
  web/src/lib/components/shared-components/qrcode.svelte
Labels: 🖥️web, changelog:bugfix, preview

#18028 fix: delay settings apply for slideshow popup
  web/src/lib/components/slideshow-settings.svelte
Labels: 🖥️web, changelog:bugfix

#17719 feat(web): lighter timeline buckets
  web/src/lib/components/album-page/album-viewer.svelte
  web/src/lib/components/asset-viewer/actions/action.ts
  web/src/lib/components/asset-viewer/actions/add-to-album-action.svelte
  web/src/lib/components/asset-viewer/actions/archive-action.svelte
  web/src/lib/components/asset-viewer/actions/delete-action.svelte
  web/src/lib/components/asset-viewer/actions/download-action.svelte
  web/src/lib/components/asset-viewer/actions/favorite-action.svelte
  web/src/lib/components/asset-viewer/actions/keep-this-delete-others.svelte
  web/src/lib/components/asset-viewer/actions/restore-action.svelte
  web/src/lib/components/asset-viewer/actions/set-visibility-action.svelte
  web/src/lib/components/asset-viewer/actions/unstack-action.svelte
  web/src/lib/components/asset-viewer/asset-viewer-nav-bar.spec.ts
  web/src/lib/components/asset-viewer/asset-viewer-nav-bar.svelte
  web/src/lib/components/asset-viewer/asset-viewer.svelte
  web/src/lib/components/asset-viewer/editor/crop-tool/crop-area.svelte
  web/src/lib/components/asset-viewer/photo-viewer.svelte
  web/src/lib/components/assets/thumbnail/thumbnail.svelte
  web/src/lib/components/memory-page/memory-viewer.svelte
  web/src/lib/components/photos-page/actions/archive-action.svelte
  web/src/lib/components/photos-page/actions/asset-job-actions.svelte
  web/src/lib/components/photos-page/actions/change-date-action.svelte
  web/src/lib/components/photos-page/actions/download-action.svelte
  web/src/lib/components/photos-page/actions/link-live-photo-action.svelte
  web/src/lib/components/photos-page/actions/stack-action.svelte
  web/src/lib/components/photos-page/asset-date-group.svelte
  web/src/lib/components/photos-page/asset-grid.svelte
  web/src/lib/components/photos-page/asset-select-control-bar.svelte
  web/src/lib/components/photos-page/memory-lane.svelte
  web/src/lib/components/share-page/individual-shared-viewer.svelte
  web/src/lib/components/shared-components/gallery-viewer/gallery-viewer.svelte
  web/src/lib/components/utilities-page/duplicates/duplicate-asset.svelte
  web/src/lib/stores/asset-interaction.svelte.spec.ts
  web/src/lib/stores/asset-interaction.svelte.ts
  web/src/lib/stores/asset-viewing.store.ts
  web/src/lib/stores/assets-store.spec.ts
  web/src/lib/stores/assets-store.svelte.ts
  web/src/lib/stores/memory.store.svelte.ts
  web/src/lib/utils/actions.ts
  web/src/lib/utils/asset-utils.ts
  web/src/lib/utils/layout-utils.ts
  web/src/lib/utils/slideshow-history.ts
  web/src/lib/utils/thumbnail-util.spec.ts
  web/src/lib/utils/thumbnail-util.ts
  web/src/lib/utils/timeline-util.ts
  web/src/lib/utils/tunables.ts
  web/src/routes/(user)/albums/[albumId=id]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/archive/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/favorites/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/folders/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/people/[personId]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/photos/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/search/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/test-data/factories/asset-factory.ts
Labels: 🖥️web, changelog:enhancement, preview

#18083 chore(web): update translations
  i18n/ar.json
  i18n/bg.json
  i18n/bn.json
  i18n/ca.json
  i18n/cs.json
  i18n/da.json
  i18n/de.json
  i18n/el.json
  i18n/en.json
  i18n/es.json
  i18n/et.json
  i18n/eu.json
  i18n/fa.json
  i18n/fi.json
  i18n/fr.json
  i18n/gl.json
  i18n/he.json
  i18n/hr.json
  i18n/hu.json
  i18n/hy.json
  i18n/id.json
  i18n/it.json
  i18n/ja.json
  i18n/ka.json
  i18n/ko.json
  i18n/lt.json
  i18n/lv.json
  i18n/nb_NO.json
  i18n/nl.json
  i18n/pl.json
  i18n/pt.json
  i18n/pt_BR.json
  i18n/ro.json
  i18n/ru.json
  i18n/sk.json
  i18n/sl.json
  i18n/sr_Cyrl.json
  i18n/sr_Latn.json
  i18n/sv.json
  i18n/ta.json
  i18n/te.json
  i18n/th.json
  i18n/tr.json
  i18n/uk.json
  i18n/ur.json
  i18n/vi.json
  i18n/zh_Hant.json
  i18n/zh_SIMPLIFIED.json
Labels: changelog:translation

#18353 chore: upgrade to tailwind v4
  web/package-lock.json
  web/package.json
  web/postcss.config.cjs
  web/src/app.css
  web/src/app.html
  web/src/lib/components/album-page/album-card-group.svelte
  web/src/lib/components/album-page/album-viewer.svelte
  web/src/lib/components/album-page/albums-table.svelte
  web/src/lib/components/asset-viewer/asset-viewer-nav-bar.svelte
  web/src/lib/components/assets/thumbnail/thumbnail.svelte
  web/src/lib/components/elements/dropdown.svelte
  web/src/lib/components/elements/group-tab.svelte
  web/src/lib/components/elements/radio-button.svelte
  web/src/lib/components/faces-page/people-card.svelte
  web/src/lib/components/forms/edit-album-form.svelte
  web/src/lib/components/layouts/AuthPageLayout.svelte
  web/src/lib/components/layouts/user-page-layout.svelte
  web/src/lib/components/memory-page/memory-viewer.svelte
  web/src/lib/components/photos-page/memory-lane.svelte
  web/src/lib/components/places-page/places-card-group.svelte
  web/src/lib/components/places-page/places-list.svelte
  web/src/lib/components/shared-components/combobox.svelte
  web/src/lib/components/shared-components/context-menu/context-menu.svelte
  web/src/lib/components/shared-components/control-app-bar.svelte
  web/src/lib/components/shared-components/full-screen-modal.svelte
  web/src/lib/components/shared-components/gallery-viewer/gallery-viewer.svelte
  web/src/lib/components/shared-components/navigation-bar/account-info-panel.svelte
  web/src/lib/components/shared-components/navigation-bar/navigation-bar.svelte
  web/src/lib/components/shared-components/navigation-bar/notification-panel.svelte
  web/src/lib/components/shared-components/password-field.svelte
  web/src/lib/components/shared-components/scrubber/scrubber.svelte
  web/src/lib/components/shared-components/search-bar/search-text-section.svelte
  web/src/lib/components/shared-components/settings/setting-select.svelte
  web/src/lib/components/shared-components/tree/tree.svelte
  web/src/lib/components/sidebar/sidebar.svelte
  web/src/lib/components/utilities-page/duplicates/duplicates-compare-control.svelte
  web/src/lib/modals/AlbumShareModal.svelte
  web/src/lib/modals/SearchFilterModal.svelte
  web/src/routes/(user)/albums/[albumId=id]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/folders/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/people/+page.svelte
  web/src/routes/(user)/people/[personId]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/search/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/share/[key]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/tags/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/+layout.svelte
  web/tailwind.config.js
  web/vite.config.js
Labels: 🖥️web, changelog:skip

#18357 fix: supporter badge
  web/src/lib/components/shared-components/side-bar/supporter-badge.svelte
Labels: 🖥️web, changelog:skip

#17309 chore: reverting to multiline commands in docker-compose.yml files
  docker/docker-compose.prod.yml
  docker/docker-compose.yml
Labels: changelog:skip

#18372 chore: cleanup extraneous memories job item definition
  server/src/types.ts
Labels: 🗄️server, changelog:skip

#18351 fix(mobile): stale thumbnail cache
  mobile/lib/widgets/common/immich_image.dart
  mobile/lib/widgets/common/immich_thumbnail.dart
Labels: 📱mobile, changelog:bugfix

#18358 chore: tailwindcss v4 and z-war clean up
  docs/docs/developer/setup.md
  web/package-lock.json
  web/package.json
  web/src/app.css
  web/src/lib/components/admin-page/server-stats/stats-card.svelte
  web/src/lib/components/admin-page/settings/template-settings/template-settings.svelte
  web/src/lib/components/album-page/album-map.svelte
  web/src/lib/components/album-page/album-options.svelte
  web/src/lib/components/album-page/album-title.svelte
  web/src/lib/components/asset-viewer/detail-panel-tags.svelte
  web/src/lib/components/forms/edit-album-form.svelte
  web/src/lib/components/forms/library-exclusion-pattern-form.svelte
  web/src/lib/components/forms/library-import-path-form.svelte
  web/src/lib/components/forms/library-rename-form.svelte
  web/src/lib/components/forms/library-user-picker-form.svelte
  web/src/lib/components/forms/tag-asset-form.svelte
  web/src/lib/components/memory-page/memory-viewer.svelte
  web/src/lib/components/photos-page/asset-select-control-bar.svelte
  web/src/lib/components/shared-components/album-selection/album-selection-modal.svelte
  web/src/lib/components/shared-components/context-menu/button-context-menu.svelte
  web/src/lib/components/shared-components/control-app-bar.svelte
  web/src/lib/components/shared-components/empty-placeholder.svelte
  web/src/lib/components/shared-components/full-screen-modal.svelte
  web/src/lib/components/shared-components/immich-logo.svelte
  web/src/lib/components/shared-components/navigation-bar/notification-panel.svelte
  web/src/lib/components/shared-components/profile-image-cropper.svelte
  web/src/lib/components/shared-components/scrubber/scrubber.svelte
  web/src/lib/components/shared-components/settings/setting-accordion.svelte
  web/src/lib/components/shared-components/version-announcement-box.svelte
  web/src/lib/components/slideshow-settings.svelte
  web/src/lib/components/user-settings-page/PinCodeInput.svelte
  web/src/lib/modals/AlbumShareModal.svelte
  web/src/routes/(user)/albums/[albumId=id]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/archive/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/favorites/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/folders/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/locked/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/partners/[userId]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/people/[personId]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/tags/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/trash/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/admin/users/[id]/+page.svelte
Labels: documentation, 🖥️web, changelog:skip, preview

#18347 feat(server): sort images in duplicate groups by date
  server/src/queries/asset.repository.sql
  server/src/repositories/asset.repository.ts
Labels: 🗄️server, changelog:enhancement

#18375 fix(server): select main stream according to bitrate
  server/src/repositories/media.repository.ts
  server/src/services/media.service.spec.ts
  server/src/services/media.service.ts
  server/src/types.ts
  server/test/fixtures/media.stub.ts
Labels: 🗄️server, changelog:bugfix

#18378 chore: back button in pin verification form
  web/src/routes/auth/pin-prompt/+page.svelte
Labels: 🖥️web, changelog:skip

#18389 fix: weblate conflicts
  i18n/az.json
  i18n/bi.json
  i18n/fa.json
  i18n/fil.json
  i18n/hi.json
  i18n/hy.json
  i18n/ka.json
  i18n/kmr.json
  i18n/lt.json
  i18n/lv.json
  i18n/mn.json
  i18n/ta.json
  i18n/th.json
Labels: changelog:skip

#18316 feat: locked view mobile
  i18n/en.json
  mobile/android/app/src/main/AndroidManifest.xml
  mobile/android/app/src/main/kotlin/app/alextran/immich/MainActivity.kt
  mobile/android/app/src/main/res/values/styles.xml
  mobile/ios/Podfile.lock
  mobile/ios/Runner/Info.plist
  mobile/lib/constants/constants.dart
  mobile/lib/constants/enums.dart
  mobile/lib/entities/asset.entity.dart
  mobile/lib/entities/asset.entity.g.dart
  mobile/lib/interfaces/asset_api.interface.dart
  mobile/lib/interfaces/auth_api.interface.dart
  mobile/lib/interfaces/biometric.interface.dart
  mobile/lib/interfaces/secure_storage.interface.dart
  mobile/lib/interfaces/timeline.interface.dart
  mobile/lib/main.dart
  mobile/lib/models/auth/biometric_status.model.dart
  mobile/lib/pages/library/library.page.dart
  mobile/lib/pages/library/locked/locked.page.dart
  mobile/lib/pages/library/locked/pin_auth.page.dart
  mobile/lib/providers/asset.provider.dart
  mobile/lib/providers/auth.provider.dart
  mobile/lib/providers/local_auth.provider.dart
  mobile/lib/providers/routes.provider.dart
  mobile/lib/providers/secure_storage.provider.dart
  mobile/lib/providers/timeline.provider.dart
  mobile/lib/repositories/asset_api.repository.dart
  mobile/lib/repositories/auth_api.repository.dart
  mobile/lib/repositories/biometric.repository.dart
  mobile/lib/repositories/secure_storage.repository.dart
  mobile/lib/repositories/timeline.repository.dart
  mobile/lib/routing/app_navigation_observer.dart
  mobile/lib/routing/locked_guard.dart
  mobile/lib/routing/router.dart
  mobile/lib/routing/router.gr.dart
  mobile/lib/routing/tab_navigation_observer.dart
  mobile/lib/services/asset.service.dart
  mobile/lib/services/auth.service.dart
  mobile/lib/services/local_auth.service.dart
  mobile/lib/services/memory.service.dart
  mobile/lib/services/secure_storage.service.dart
  mobile/lib/services/timeline.service.dart
  mobile/lib/theme/theme_data.dart
  mobile/lib/utils/migration.dart
  mobile/lib/utils/openapi_patching.dart
  mobile/lib/utils/selection_handlers.dart
  mobile/lib/widgets/asset_grid/control_bottom_app_bar.dart
  mobile/lib/widgets/asset_grid/multiselect_grid.dart
  mobile/lib/widgets/asset_viewer/bottom_gallery_bar.dart
  mobile/lib/widgets/asset_viewer/top_control_app_bar.dart
  mobile/lib/widgets/common/drag_sheet.dart
  mobile/lib/widgets/common/immich_toast.dart
  mobile/lib/widgets/forms/pin_input.dart
  mobile/lib/widgets/forms/pin_registration_form.dart
  mobile/lib/widgets/forms/pin_verification_form.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: 📱mobile, changelog:feature

#18042 feat: vectorchord
  .github/workflows/test.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.prod.yml
  docker/docker-compose.yml
  docs/docs/administration/postgres-standalone.md
  docs/docs/features/searching.md
  docs/docs/install/environment-variables.md
  e2e/docker-compose.yml
  server/src/constants.ts
  server/src/decorators.ts
  server/src/dtos/env.dto.ts
  server/src/enum.ts
  server/src/migrations/1700713871511-UsePgVectors.ts
  server/src/migrations/1700713994428-AddCLIPEmbeddingIndex.ts
  server/src/migrations/1700714033632-AddFaceEmbeddingIndex.ts
  server/src/migrations/1718486162779-AddFaceSearchRelation.ts
  server/src/queries/database.repository.sql
  server/src/queries/person.repository.sql
  server/src/queries/search.repository.sql
  server/src/repositories/config.repository.spec.ts
  server/src/repositories/config.repository.ts
  server/src/repositories/database.repository.ts
  server/src/repositories/person.repository.ts
  server/src/repositories/search.repository.ts
  server/src/schema/migrations/1744910873969-InitialMigration.ts
  server/src/services/database.service.spec.ts
  server/src/services/database.service.ts
  server/src/services/person.service.ts
  server/src/services/smart-info.service.spec.ts
  server/src/services/smart-info.service.ts
  server/src/types.ts
  server/src/utils/database.ts
  server/test/medium.factory.ts
  server/test/medium/globalSetup.ts
  server/test/repositories/database.repository.mock.ts
Labels: documentation, 🗄️server, changelog:breaking-change

#18380 fix(server): queueing for duplicate detection
  server/src/queries/asset.job.repository.sql
  server/src/repositories/asset-job.repository.ts
  server/src/services/duplicate.service.spec.ts
  server/src/services/duplicate.service.ts
Labels: changelog:skip

#18384 fix(web): slide show in blurred background
  web/src/lib/components/asset-viewer/photo-viewer.svelte
Labels: 🖥️web, changelog:skip

#18393 chore: remove PIN code from secure storage on logged out
  mobile/lib/providers/auth.provider.dart
Labels: 📱mobile, changelog:skip

#18394 refactor: slide-show settings
  web/src/lib/components/asset-viewer/slideshow-bar.svelte
Labels: 🖥️web, changelog:skip

#18395 fix: TimelineAsset visibility
  mobile/lib/entities/asset.entity.dart
  mobile/lib/utils/openapi_patching.dart
  mobile/openapi/lib/model/asset_response_dto.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/dtos/asset-response.dto.ts
  web/src/lib/components/asset-viewer/actions/set-visibility-action.svelte
  web/src/lib/components/asset-viewer/asset-viewer-nav-bar.svelte
  web/src/lib/components/photos-page/actions/set-visibility-action.svelte
  web/src/lib/utils/timeline-util.ts
  web/src/routes/auth/pin-prompt/+page.svelte
  web/src/test-data/factories/asset-factory.ts
Labels: 📱mobile, 🖥️web, 🗄️server, changelog:skip

#18379 fix: location search result z-index
  web/src/lib/components/shared-components/change-location.svelte
Labels: 🖥️web, changelog:skip

#18399 fix: map
  web/src/lib/components/album-page/album-map.svelte
  web/src/lib/components/shared-components/map/map.svelte
Labels: 🖥️web, changelog:skip

#18231 feat(web): add support for casting
  docs/docs/features/casting.md
  i18n/en.json
  web/package-lock.json
  web/package.json
  web/src/lib/cast/cast-button.svelte
  web/src/lib/components/album-page/album-viewer.svelte
  web/src/lib/components/asset-viewer/asset-viewer-nav-bar.svelte
  web/src/lib/components/asset-viewer/photo-viewer.spec.ts
  web/src/lib/components/asset-viewer/photo-viewer.svelte
  web/src/lib/components/asset-viewer/video-native-viewer.svelte
  web/src/lib/components/asset-viewer/video-remote-viewer.svelte
  web/src/lib/components/shared-components/navigation-bar/navigation-bar.svelte
  web/src/lib/managers/cast-manager.svelte.ts
  web/src/lib/utils/cast/gcast-destination.svelte.ts
  web/src/routes/(user)/albums/[albumId=id]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/svelte.config.js
Labels: documentation, 🖥️web, changelog:feature, preview

#18344 fix(mobile): do not continue on remote stream parse error
  mobile/lib/infrastructure/repositories/sync_api.repository.dart
Labels: 📱mobile, changelog:bugfix

#18415 chore: update docker-compose to add storage type configuration
  docker/docker-compose.yml
Labels: changelog:documentation

#18417 fix: onboarding styling
  web/src/routes/+page.svelte
  web/src/routes/auth/onboarding/+page.svelte
Labels: 🖥️web, changelog:skip

#18416 fix: Change shortcut listeners from window to document
  web/package-lock.json
  web/package.json
  web/src/lib/components/album-page/album-viewer.svelte
  web/src/lib/components/asset-viewer/actions/add-to-album-action.svelte
  web/src/lib/components/asset-viewer/actions/archive-action.svelte
  web/src/lib/components/asset-viewer/actions/close-action.svelte
  web/src/lib/components/asset-viewer/actions/delete-action.svelte
  web/src/lib/components/asset-viewer/actions/download-action.svelte
  web/src/lib/components/asset-viewer/actions/favorite-action.svelte
  web/src/lib/components/asset-viewer/actions/next-asset-action.svelte
  web/src/lib/components/asset-viewer/actions/previous-asset-action.svelte
  web/src/lib/components/asset-viewer/actions/show-detail-action.svelte
  web/src/lib/components/asset-viewer/editor/editor-panel.svelte
  web/src/lib/components/asset-viewer/photo-viewer.svelte
  web/src/lib/components/asset-viewer/slideshow-bar.svelte
  web/src/lib/components/faces-page/manage-people-visibility.svelte
  web/src/lib/components/memory-page/memory-viewer.svelte
  web/src/lib/components/photos-page/actions/download-action.svelte
  web/src/lib/components/photos-page/asset-grid.svelte
  web/src/lib/components/shared-components/context-menu/menu-option.svelte
  web/src/lib/components/shared-components/gallery-viewer/gallery-viewer.svelte
  web/src/lib/components/shared-components/search-bar/search-bar.svelte
  web/src/lib/components/utilities-page/duplicates/duplicates-compare-control.svelte
  web/src/routes/(user)/search/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/+layout.svelte
Labels: 🖥️web, changelog:skip

#18419 fix(server): use preview path for person thumbnails from videos
  server/src/services/media.service.spec.ts
  server/src/services/media.service.ts
  server/test/fixtures/person.stub.ts
Labels: 🗄️server, changelog:skip

#18418 fix(docs): vchord migration
  docs/docs/administration/postgres-standalone.md
Labels: documentation, changelog:documentation

#18420 chore: tighten vchord version range
  docs/docs/administration/postgres-standalone.md
  server/src/constants.ts
Labels: documentation, 🗄️server, changelog:skip

#18423 chore: specify vchord version in ci
  .github/workflows/test.yml
  e2e/docker-compose.yml
  server/test/medium/globalSetup.ts
Labels: 🗄️server, changelog:skip

#18424 chore: remove duplicate finder from community projects
  docs/src/components/community-projects.tsx
Labels: documentation, changelog:documentation

#18426 chore: update milestones
  docs/src/pages/roadmap.tsx
Labels: documentation, changelog:documentation

#18377 feat: sync albums and album users
  mobile/openapi/README.md
  mobile/openapi/lib/api.dart
  mobile/openapi/lib/api_client.dart
  mobile/openapi/lib/model/sync_album_delete_v1.dart
  mobile/openapi/lib/model/sync_album_user_delete_v1.dart
  mobile/openapi/lib/model/sync_album_user_v1.dart
  mobile/openapi/lib/model/sync_album_v1.dart
  mobile/openapi/lib/model/sync_entity_type.dart
  mobile/openapi/lib/model/sync_request_type.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/package.json
  server/src/bin/migrations.ts
  server/src/db.d.ts
  server/src/dtos/sync.dto.ts
  server/src/enum.ts
  server/src/queries/album.user.repository.sql
  server/src/queries/sync.repository.sql
  server/src/repositories/album-user.repository.ts
  server/src/repositories/sync.repository.ts
  server/src/schema/functions.ts
  server/src/schema/index.ts
  server/src/schema/migrations/1747664684909-AddAlbumAuditTables.ts
  server/src/schema/tables/album-audit.table.ts
  server/src/schema/tables/album-user-audit.table.ts
  server/src/schema/tables/album-user.table.ts
  server/src/schema/tables/album.table.ts
  server/src/services/sync.service.ts
  server/src/sql-tools/from-code/decorators/after-insert.decorator.ts
  server/src/sql-tools/public_api.ts
  server/test/medium.factory.ts
  server/test/medium/specs/services/sync.service.spec.ts
  server/test/medium/specs/sync/sync-album-user.spec.ts
  server/test/medium/specs/sync/sync-album.spec.ts
  server/test/medium/specs/sync/sync-asset-exif.spec.ts
  server/test/medium/specs/sync/sync-asset.spec.ts
  server/test/medium/specs/sync/sync-partner-asset-exif.spec.ts
  server/test/medium/specs/sync/sync-partner-asset.spec.ts
  server/test/medium/specs/sync/sync-partner.spec.ts
  server/test/medium/specs/sync/sync-types.spec.ts
  server/test/medium/specs/sync/sync-user.spec.ts
Labels: 🗄️server, changelog:skip

#18433 fix(server): missing button for duplicate detection not working
  server/src/queries/asset.job.repository.sql
  server/src/repositories/asset-job.repository.ts
Labels: 🗄️server, changelog:bugfix

#18434 fix: typo in english translation
  i18n/en.json
Labels: changelog:translation

#18435 fix(docs): more vchord details
  docs/docs/administration/postgres-standalone.md
Labels: documentation, changelog:documentation

#18440 feat: lower disk usage during migration
  server/src/repositories/database.repository.ts
Labels: 🗄️server, changelog:enhancement

#18425 fix: avatar selection z-index issues
  web/src/lib/components/shared-components/navigation-bar/account-info-panel.svelte
  web/src/lib/components/shared-components/navigation-bar/navigation-bar.svelte
Labels: 🖥️web, changelog:skip

#18478 fix: mobile user agent set to immich_platform_version
  mobile/.fvmrc
  mobile/.vscode/settings.json
  mobile/lib/providers/map/map_service.provider.dart
  mobile/lib/providers/map/map_service.provider.g.dart
  mobile/lib/services/api.service.dart
  mobile/lib/services/map.service.dart
  mobile/lib/utils/user_agent.dart
Labels: 📱mobile, changelog:enhancement

#18488 feat(web): add to locked folder in album and search
  web/src/routes/(user)/albums/[albumId=id]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/archive/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/favorites/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/people/[personId]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/search/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:enhancement

#18456 fix(web): pin code input
  web/src/lib/components/user-settings-page/PinCodeInput.svelte
Labels: 🖥️web, changelog:bugfix

#18497 chore: change stable release estimate on roadmap
  docs/src/pages/roadmap.tsx
Labels: documentation, changelog:skip

#18473 fix: translations from background service
  .github/workflows/test.yml
  mobile/lib/services/localization.service.dart
Labels: 📱mobile, changelog:bugfix

#18493 fix: more z-index issue
  web/src/lib/components/asset-viewer/detail-panel.svelte
  web/src/lib/components/assets/thumbnail/video-thumbnail.svelte
  web/src/lib/components/photos-page/memory-lane.svelte
  web/src/lib/components/shared-components/map/map.svelte
  web/src/routes/(user)/people/[personId]/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:bugfix

#18485 fix(web): multi-select
  web/src/lib/components/photos-page/asset-grid.svelte
Labels: 🖥️web, changelog:bugfix

#18507 chore: more padding
  web/src/routes/(user)/people/[personId]/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:skip

#18508 fix(docs): mention `DB_VECTOR_EXTENSION` env in pgvector->vchord migration guide
  docs/docs/administration/postgres-standalone.md
Labels: documentation, changelog:documentation

#18506 fix: add Swedish
  mobile/lib/constants/locales.dart
Labels: 📱mobile, changelog:skip

#18391 chore(web): update translations
  i18n/ar.json
  i18n/ca.json
  i18n/cs.json
  i18n/da.json
  i18n/de.json
  i18n/el.json
  i18n/en.json
  i18n/es.json
  i18n/et.json
  i18n/fi.json
  i18n/fr.json
  i18n/gl.json
  i18n/he.json
  i18n/hi.json
  i18n/hr.json
  i18n/hu.json
  i18n/id.json
  i18n/it.json
  i18n/ja.json
  i18n/ko.json
  i18n/lt.json
  i18n/lv.json
  i18n/mn.json
  i18n/nb_NO.json
  i18n/nl.json
  i18n/pl.json
  i18n/pt.json
  i18n/pt_BR.json
  i18n/ro.json
  i18n/ru.json
  i18n/sk.json
  i18n/sl.json
  i18n/sr_Cyrl.json
  i18n/sr_Latn.json
  i18n/sv.json
  i18n/th.json
  i18n/tr.json
  i18n/uk.json
  i18n/vi.json
  i18n/zh_Hant.json
  i18n/zh_SIMPLIFIED.json
Labels: changelog:translation

#18491 fix(mobile): chinese translation
  mobile/lib/constants/locales.dart
Labels: 📱mobile, changelog:bugfix

#18489 fix: hard link navigation
  web/src/lib/components/photos-page/asset-grid.svelte
  web/src/lib/stores/assets-store.svelte.ts
Labels: 🖥️web, changelog:bugfix

#18528 fix: tailwind issues
  web/src/app.css
  web/tailwind.config.js
Labels: 🖥️web, changelog:bugfix

#18549 chore: post release tasks
  mobile/ios/Runner.xcodeproj/project.pbxproj
  mobile/ios/Runner/Info.plist
Labels: changelog:skip

#18598 fix: more z-index issue
  web/src/lib/components/assets/thumbnail/video-thumbnail.svelte
  web/src/lib/components/shared-components/navigation-bar/navigation-bar.svelte
  web/src/lib/components/shared-components/search-bar/search-bar.svelte
  web/src/lib/components/shared-components/search-bar/search-history-box.svelte
Labels: 🖥️web, changelog:bugfix

#18569 fix(mobile): pinch to zoom + move acceleration
  mobile/lib/widgets/photo_view/src/core/photo_view_core.dart
Labels: 📱mobile, changelog:bugfix

#18613 fix(web): center memory lane buttons
  web/src/lib/components/photos-page/memory-lane.svelte
Labels: 🖥️web, changelog:bugfix

#18610 fix(web): enhance face tagging confirmation and fix #18605
  i18n/en.json
  web/src/lib/components/asset-viewer/face-editor/face-editor.svelte
  web/src/lib/components/shared-components/settings/setting-checkboxes.svelte
Labels: 🖥️web, changelog:enhancement

#18570 chore: refactor slide-show-settings modal
  web/src/lib/components/asset-viewer/slideshow-bar.svelte
Labels: 🖥️web, changelog:skip

#18285 fix: use correct flutter version in devcontainer
  .devcontainer/Dockerfile
Labels: changelog:skip
