Repository immich-app/immich, pull requests merged in 2025-08, with the labels that each got.

#20455 feat: change grid size with gesture
  mobile/lib/presentation/widgets/timeline/timeline.widget.dart
Labels: 📱mobile, changelog:enhancement

#20480 fix: add to album render empty app bar
  mobile/lib/pages/backup/drift_backup_album_selection.page.dart
  mobile/lib/presentation/pages/drift_remote_album.page.dart
  mobile/lib/presentation/widgets/album/album_selector.widget.dart
Labels: 📱mobile, changelog:bugfix

#20456 feat: drag to select beta timeline
  mobile/lib/presentation/widgets/timeline/fixed/segment.model.dart
  mobile/lib/presentation/widgets/timeline/timeline.widget.dart
  mobile/lib/presentation/widgets/timeline/timeline_drag_region.dart
Labels: 📱mobile, changelog:enhancement

#20497 chore: post release tasks
  mobile/android/fastlane/Fastfile
  mobile/ios/Runner.xcodeproj/project.pbxproj
  mobile/ios/Runner/Info.plist
Labels: changelog:skip

#20595 chore: tweak photo sphere fov and zoom speed constants
  web/src/lib/components/asset-viewer/photo-sphere-viewer-adapter.svelte
Labels: 🖥️web, changelog:enhancement

#20608 chore: log asset name on hash failures
  mobile/lib/domain/services/hash.service.dart
Labels: 📱mobile, changelog:skip

#20404 fix(mobile): use right translation function for pluralized ICU message format
  i18n/en.json
  mobile/lib/widgets/map/map_asset_grid.dart
Labels: 📱mobile, changelog:bugfix

#20598 fix: adjust search bar padding and visibility based on input state
  web/src/lib/components/shared-components/search-bar/search-bar.svelte
Labels: 🖥️web, changelog:bugfix

#20457 fix: exif rating rounding
  server/src/services/metadata.service.ts
Labels: 🗄️server, changelog:bugfix

#20642 fix(mobile): disable memory lane when memories are disabled
  mobile/lib/presentation/pages/dev/main_timeline.page.dart
Labels: 📱mobile, changelog:bugfix

#20651 fix: expand sheet when album search is focused
  mobile/lib/presentation/widgets/album/album_selector.widget.dart
  mobile/lib/presentation/widgets/bottom_sheet/general_bottom_sheet.widget.dart
Labels: 📱mobile, changelog:bugfix

#20684 fix: exclude assets that haven't been hashed yet from uploads
  mobile/lib/infrastructure/repositories/backup.repository.dart
Labels: 📱mobile, changelog:bugfix

#20666 feat(mobile): use custom headers when connecting in widget
  mobile/android/app/src/main/kotlin/app/alextran/immich/widget/ImmichAPI.kt
  mobile/android/app/src/main/kotlin/app/alextran/immich/widget/model/Model.kt
  mobile/ios/WidgetExtension/ImmichAPI.swift
  mobile/lib/constants/constants.dart
  mobile/lib/providers/auth.provider.dart
  mobile/lib/services/widget.service.dart
Labels: 📱mobile, changelog:bugfix

#20671 feat(mobile): album shared user editing
  i18n/en.json
  mobile/lib/domain/services/remote_album.service.dart
  mobile/lib/infrastructure/repositories/remote_album.repository.dart
  mobile/lib/presentation/pages/drift_album_options.page.dart
  mobile/lib/presentation/pages/drift_remote_album.page.dart
  mobile/lib/presentation/widgets/remote_album/drift_album_option.widget.dart
  mobile/lib/providers/infrastructure/remote_album.provider.dart
  mobile/lib/repositories/drift_album_api_repository.dart
  mobile/lib/routing/router.dart
  mobile/lib/routing/router.gr.dart
  mobile/lib/widgets/album/remote_album_shared_user_icons.dart
Labels: 📱mobile, changelog:feature

#20655 fix: album asset sync must sync new assets in a shared album
  mobile/lib/domain/services/sync_stream.service.dart
  mobile/lib/infrastructure/repositories/sync_api.repository.dart
  mobile/openapi/lib/model/sync_entity_type.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/package-lock.json
  server/package.json
  server/src/dtos/sync.dto.ts
  server/src/enum.ts
  server/src/queries/sync.checkpoint.repository.sql
  server/src/queries/sync.repository.sql
  server/src/repositories/sync-checkpoint.repository.ts
  server/src/repositories/sync.repository.ts
  server/src/schema/migrations/1754389095885-ResetAlbumAssetSync.ts
  server/src/services/sync.service.ts
  server/test/medium.factory.ts
  server/test/medium/specs/sync/sync-album-asset-exif.spec.ts
  server/test/medium/specs/sync/sync-album-asset.spec.ts
  server/test/utils.ts
Labels: 📱mobile, 🗄️server, changelog:breaking-change

#20700 fix: delete local asset show twice
  mobile/lib/presentation/widgets/action_buttons/download_action_button.widget.dart
  mobile/lib/presentation/widgets/action_buttons/move_to_lock_folder_action_button.widget.dart
  mobile/lib/presentation/widgets/bottom_sheet/general_bottom_sheet.widget.dart
Labels: 📱mobile, changelog:bugfix

#20534 fix: shared link custom URL photo access authentication
  web/src/lib/utils/navigation.ts
  web/src/lib/utils/shared-links.ts
Labels: 🖥️web, changelog:bugfix

#20704 fix: custom-url ssr
  e2e/src/api/specs/shared-link.e2e-spec.ts
  server/src/services/api.service.ts
Labels: 🗄️server, changelog:bugfix

#20690 refactor: new helper methods that work for all sync queries
  server/src/queries/sync.repository.sql
  server/src/repositories/sync.repository.ts
  server/src/services/sync.service.ts
Labels: 🗄️server, changelog:skip

#20707 fix(mobile): show video controls when in locked view
  mobile/lib/presentation/widgets/asset_viewer/asset_viewer.page.dart
  mobile/lib/presentation/widgets/asset_viewer/bottom_bar.widget.dart
Labels: 📱mobile, changelog:bugfix

#20629 fix: video thumbnail generation for short videos
  server/src/services/media.service.spec.ts
  server/src/utils/media.ts
Labels: 🗄️server, changelog:bugfix

#20665 refactor(mobile): sqlite-based map view
  mobile/drift_schemas/main/drift_schema_v7.json
  mobile/lib/domain/models/map.model.dart
  mobile/lib/domain/services/map.service.dart
  mobile/lib/domain/services/timeline.service.dart
  mobile/lib/infrastructure/entities/exif.entity.dart
  mobile/lib/infrastructure/entities/exif.entity.drift.dart
  mobile/lib/infrastructure/repositories/db.repository.dart
  mobile/lib/infrastructure/repositories/db.repository.drift.dart
  mobile/lib/infrastructure/repositories/db.repository.steps.dart
  mobile/lib/infrastructure/repositories/map.repository.dart
  mobile/lib/infrastructure/repositories/timeline.repository.dart
  mobile/lib/presentation/pages/drift_map.page.dart
  mobile/lib/presentation/pages/drift_place.page.dart
  mobile/lib/presentation/widgets/bottom_sheet/base_bottom_sheet.widget.dart
  mobile/lib/presentation/widgets/bottom_sheet/map_bottom_sheet.widget.dart
  mobile/lib/presentation/widgets/map/map.state.dart
  mobile/lib/presentation/widgets/map/map.widget.dart
  mobile/lib/presentation/widgets/map/map_utils.dart
  mobile/lib/presentation/widgets/timeline/timeline.widget.dart
  mobile/lib/providers/infrastructure/map.provider.dart
  mobile/lib/routing/router.dart
  mobile/lib/routing/router.gr.dart
  mobile/lib/utils/async_mutex.dart
  mobile/lib/utils/debounce.dart
  mobile/test/drift/main/generated/schema.dart
  mobile/test/drift/main/generated/schema_v7.dart
Labels: 📱mobile, changelog:enhancement

#20411 fix: disk info is cleared when profile picture is uploaded
  mobile/lib/widgets/common/app_bar_dialog/app_bar_profile_info.dart
Labels: 📱mobile, changelog:bugfix

#19990 docs: update TrueNAS docs
  docs/docs/install/img/truenas/truenas00.webp
  docs/docs/install/img/truenas/truenas01.webp
  docs/docs/install/img/truenas/truenas02.webp
  docs/docs/install/img/truenas/truenas03.webp
  docs/docs/install/img/truenas/truenas04.webp
  docs/docs/install/img/truenas/truenas05.webp
  docs/docs/install/img/truenas/truenas06.webp
  docs/docs/install/img/truenas/truenas07.webp
  docs/docs/install/img/truenas/truenas08.webp
  docs/docs/install/img/truenas/truenas09.webp
  docs/docs/install/img/truenas/truenas10.webp
  docs/docs/install/img/truenas/truenas11.webp
  docs/docs/install/img/truenas/truenas12.webp
  docs/docs/install/img/truenas05.webp
  docs/docs/install/img/truenas06.webp
  docs/docs/install/img/truenas07.webp
  docs/docs/install/img/truenas08.webp
  docs/docs/install/img/truenas10.webp
  docs/docs/install/img/truenas12.webp
  docs/docs/install/truenas.md
Labels: documentation, changelog:documentation

#20729 feat(web): don't scroll to visible assets
  web/src/lib/components/photos-page/asset-grid.svelte
Labels: 🖥️web, changelog:enhancement, preview

#20726 fix(web): use correct sliding window offset for search results
  web/src/routes/(user)/search/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:bugfix, preview

#20734 chore: disable android auto backup
  mobile/android/app/src/main/AndroidManifest.xml
Labels: 📱mobile, changelog:skip

#20730 fix: cleanup logger DB in isolates
  mobile/integration_test/test_utils/general_helper.dart
  mobile/lib/main.dart
  mobile/lib/services/background.service.dart
  mobile/lib/services/backup_verification.service.dart
  mobile/lib/utils/bootstrap.dart
  mobile/lib/utils/isolate.dart
Labels: 📱mobile, changelog:skip

#20728 fix: use create if not exists clause for indexes
  mobile/drift_schemas/main/drift_schema_v7.json
  mobile/lib/infrastructure/entities/exif.entity.dart
  mobile/lib/infrastructure/entities/exif.entity.drift.dart
  mobile/lib/infrastructure/entities/local_asset.entity.dart
  mobile/lib/infrastructure/entities/local_asset.entity.drift.dart
  mobile/lib/infrastructure/entities/remote_asset.entity.dart
  mobile/lib/infrastructure/entities/remote_asset.entity.drift.dart
  mobile/lib/infrastructure/repositories/db.repository.dart
  mobile/lib/infrastructure/repositories/db.repository.steps.dart
  mobile/test/drift/main/generated/schema_v7.dart
Labels: 📱mobile, changelog:skip

#20720 fix(web): prevent thumbhashes from covering search bar
  web/src/lib/components/assets/thumbnail/__test__/image-thumbnail.spec.ts
  web/src/lib/components/assets/thumbnail/__test__/thumbnail.spec.ts
  web/src/lib/components/assets/thumbnail/image-thumbnail.svelte
  web/src/lib/components/assets/thumbnail/thumbnail.svelte
Labels: 🖥️web, changelog:bugfix, preview

#20727 fix(web): limit max height of search results
  web/src/lib/components/shared-components/gallery-viewer/gallery-viewer.svelte
  web/src/routes/(user)/search/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:bugfix, preview

#20740 fix: crash when rendering heatmap on Android
  mobile/lib/presentation/widgets/map/map.widget.dart
Labels: 📱mobile, changelog:skip

#20736 chore: upgrade SvelteKit
  web/package-lock.json
  web/package.json
  web/src/lib/components/shared-components/side-bar/side-bar-link.svelte
  web/src/lib/components/shared-components/side-bar/user-sidebar.svelte
Labels: 🖥️web, changelog:skip, preview

#17717 feat: batch change date and time relatively
  e2e/src/api/specs/asset.e2e-spec.ts
  i18n/en.json
  mobile/openapi/lib/model/asset_bulk_update_dto.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/dtos/asset.dto.ts
  server/src/queries/asset.repository.sql
  server/src/repositories/asset.repository.ts
  server/src/services/asset.service.spec.ts
  server/src/services/asset.service.ts
  server/src/validation.spec.ts
  server/src/validation.ts
  server/test/repositories/asset.repository.mock.ts
  web/src/lib/components/asset-viewer/detail-panel.svelte
  web/src/lib/components/elements/duration-input.svelte
  web/src/lib/components/photos-page/actions/change-date-action.svelte
  web/src/lib/components/shared-components/change-date.spec.ts
  web/src/lib/components/shared-components/change-date.svelte
  web/src/lib/utils/timeline-util.ts
Labels: 🖥️web, 🗄️server, changelog:feature

#20760 docs: include openapi.json
  docs/.gitignore
  docs/package.json
Labels: changelog:documentation

#20757 fix: don't show remove from album action from the main timeline
  mobile/lib/presentation/pages/drift_remote_album.page.dart
  mobile/lib/providers/infrastructure/current_album.provider.dart
  mobile/lib/widgets/common/remote_album_sliver_app_bar.dart
Labels: 📱mobile, changelog:skip

#20767 chore: bump @immich/ui to 24
  web/package-lock.json
  web/package.json
Labels: changelog:skip

#20768 chore: log resume backup process
  mobile/lib/providers/backup/drift_backup.provider.dart
Labels: 📱mobile, changelog:skip

#20796 fix(sql-tools): null default
  server/src/sql-tools/comparers/column.comparer.spec.ts
  server/src/sql-tools/comparers/column.comparer.ts
  server/src/sql-tools/helpers.ts
  server/src/sql-tools/transformers/column.transformer.spec.ts
Labels: 🗄️server, changelog:skip

#20831 fix: return method correctly
  mobile/lib/providers/backup/drift_backup.provider.dart
Labels: 📱mobile, changelog:skip

#20821 fix: change all download icons to `mdiDownload` for clarity and consistency
  web/src/lib/components/album-page/album-viewer.svelte
  web/src/lib/components/album-page/albums-list.svelte
  web/src/lib/components/asset-viewer/actions/download-action.svelte
  web/src/lib/components/photos-page/actions/download-action.svelte
  web/src/lib/components/share-page/individual-shared-viewer.svelte
  web/src/routes/(user)/albums/[albumId=id]/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:enhancement

#20843 fix: devcontainer broken by debian Trixie going stable
  server/Dockerfile
Labels: changelog:skip

#20807 feat: add i18n formatting to `make translation` in mobile makefile
  mobile/makefile
Labels: changelog:enhancement

#20833 fix(web): fix layout loop with single row grids in explore page
  web/src/routes/(user)/explore/+page.svelte
Labels: 🖥️web, changelog:bugfix

#20872 fix: age info cut off
  mobile/lib/presentation/widgets/asset_viewer/bottom_sheet/sheet_people_details.widget.dart
Labels: 📱mobile, changelog:bugfix

#20881 fix(mobile): enable person age pluralization
  i18n/en.json
Labels: changelog:translation

#20743 fix(mobile): newest/oldest album sort
  i18n/en.json
  mobile/lib/domain/services/remote_album.service.dart
  mobile/lib/infrastructure/repositories/remote_album.repository.dart
  mobile/lib/presentation/widgets/album/album_selector.widget.dart
  mobile/lib/providers/infrastructure/remote_album.provider.dart
  mobile/lib/utils/remote_album.utils.dart
  mobile/test/domain/services/album.service_test.dart
  mobile/test/infrastructure/repository.mock.dart
Labels: 📱mobile, changelog:bugfix

#20935 fix(mobile): always show cast button
  mobile/lib/presentation/widgets/asset_viewer/top_app_bar.widget.dart
Labels: 📱mobile, changelog:bugfix

#20907 fix: backup resume more reliable on app start up
  mobile/lib/utils/migration.dart
Labels: 📱mobile, changelog:bugfix

#20906 fix: sync remote before starting backup
  mobile/lib/pages/backup/drift_backup.page.dart
Labels: 📱mobile, changelog:skip

#20936 fix: pinch in finished as zoomed in
  mobile/lib/widgets/photo_view/src/core/photo_view_core.dart
Labels: 📱mobile, changelog:bugfix

#20714 feat(mobile): shared album activities
  i18n/en.json
  mobile/lib/domain/models/album/album.model.dart
  mobile/lib/infrastructure/repositories/remote_album.repository.dart
  mobile/lib/presentation/pages/drift_activities.page.dart
  mobile/lib/presentation/pages/drift_remote_album.page.dart
  mobile/lib/presentation/widgets/action_buttons/like_activity_action_button.widget.dart
  mobile/lib/presentation/widgets/album/drift_activity_text_field.dart
  mobile/lib/presentation/widgets/asset_viewer/bottom_sheet.widget.dart
  mobile/lib/presentation/widgets/asset_viewer/top_app_bar.widget.dart
  mobile/lib/repositories/album_api.repository.dart
  mobile/lib/repositories/drift_album_api_repository.dart
  mobile/lib/routing/router.dart
  mobile/lib/routing/router.gr.dart
  mobile/lib/services/activity.service.dart
  mobile/lib/widgets/common/remote_album_sliver_app_bar.dart
  mobile/test/domain/services/album.service_test.dart
Labels: 📱mobile, changelog:enhancement

#20937 fix: locked photos shown in beta timeline favorite page
  mobile/lib/infrastructure/repositories/timeline.repository.dart
Labels: 📱mobile, changelog:bugfix

#20939 fix: sync block login progress
  mobile/lib/widgets/forms/login/login_form.dart
Labels: 📱mobile, changelog:skip

#21046 fix: always show resolution in details panel
  web/src/lib/components/asset-viewer/detail-panel.svelte
Labels: 🖥️web, changelog:skip

#21042 chore: post release tasks
  mobile/ios/Runner.xcodeproj/project.pbxproj
  mobile/ios/Runner/Info.plist
Labels: changelog:skip

#19752 chore: use pnpm for builds
  .devcontainer/server/container-common.sh
  .devcontainer/server/container-compose-overrides.yml
  .devcontainer/server/container-start-backend.sh
  .devcontainer/server/container-start-frontend.sh
  .devcontainer/server/container-start.sh
  .github/package-lock.json
  .github/workflows/cli.yml
  .github/workflows/docs-build.yml
  .github/workflows/fix-format.yml
  .github/workflows/sdk.yml
  .github/workflows/test.yml
  .pnpmfile.cjs
  .vscode/settings.json
  Makefile
  cli/Dockerfile
  cli/package-lock.json
  docker/docker-compose.dev.yml
  docs/package-lock.json
  e2e/.gitignore
  e2e/package-lock.json
  e2e/src/utils.ts
  open-api/bin/generate-open-api.sh
  open-api/typescript-sdk/package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  server/.npmignore
  server/Dockerfile
  server/bin/immich-dev
  server/package-lock.json
  server/src/constants.ts
  web/Dockerfile
  web/bin/immich-web
  web/package-lock.json
  web/package.json
  web/src/service-worker/fetch-event.ts
  web/vite.config.ts
Labels: documentation, 📱mobile, 🖥️web, 🗄️server, changelog:skip, preview

#20910 feat(mobile): platform thumbnail api
  mobile/android/app/CMakeLists.txt
  mobile/android/app/build.gradle
  mobile/android/app/src/main/cpp/native_buffer.c
  mobile/android/app/src/main/kotlin/app/alextran/immich/AppGlideModule.kt
  mobile/android/app/src/main/kotlin/app/alextran/immich/MainActivity.kt
  mobile/android/app/src/main/kotlin/app/alextran/immich/images/ThumbHash.java
  mobile/android/app/src/main/kotlin/app/alextran/immich/images/Thumbnails.g.kt
  mobile/android/app/src/main/kotlin/app/alextran/immich/images/ThumbnailsImpl.kt
  mobile/ios/Runner.xcodeproj/project.pbxproj
  mobile/ios/Runner/AppDelegate.swift
  mobile/ios/Runner/Images/Thumbhash.swift
  mobile/ios/Runner/Images/Thumbnails.g.swift
  mobile/ios/Runner/Images/ThumbnailsImpl.swift
  mobile/ios/Runner/Info.plist
  mobile/lib/platform/thumbnail_api.g.dart
  mobile/makefile
  mobile/pigeon/thumbnail_api.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: 📱mobile, changelog:enhancement

#21070 chore: generate mobile translation file in GHA
  .github/workflows/static_analysis.yml
Labels: changelog:skip

#21076 fix(web): add to multiple albums translation doesn't have plural formatting
  i18n/en.json
Labels: changelog:skip

#21095 chore: use foreground service for uploading large file on Android
  mobile/ios/Runner.xcodeproj/project.pbxproj
  mobile/lib/main.dart
Labels: 📱mobile, changelog:skip

#20927 feat(mobile): platform image providers
  mobile/lib/infrastructure/loaders/image_request.dart
  mobile/lib/infrastructure/loaders/local_image_request.dart
  mobile/lib/infrastructure/loaders/remote_image_request.dart
  mobile/lib/infrastructure/loaders/thumbhash_image_request.dart
  mobile/lib/infrastructure/repositories/asset_media.repository.dart
  mobile/lib/presentation/widgets/asset_viewer/asset_viewer.page.dart
  mobile/lib/presentation/widgets/images/image_provider.dart
  mobile/lib/presentation/widgets/images/local_image_provider.dart
  mobile/lib/presentation/widgets/images/one_frame_multi_image_stream_completer.dart
  mobile/lib/presentation/widgets/images/remote_image_provider.dart
  mobile/lib/presentation/widgets/images/thumb_hash_provider.dart
  mobile/lib/providers/image/cache/remote_image_cache_manager.dart
  mobile/lib/providers/infrastructure/platform.provider.dart
  mobile/lib/utils/cache/custom_image_cache.dart
  mobile/lib/widgets/photo_view/src/core/photo_view_core.dart
Labels: 📱mobile, changelog:enhancement

#21106 fix: resume upload on launch (really fix it)
  mobile/lib/utils/migration.dart
Labels: 📱mobile, changelog:skip

#21096 chore: remove web/Dockerfile
  .pnpmfile.cjs
  docker/docker-compose.dev.yml
  pnpm-lock.yaml
  server/Dockerfile
  web/Dockerfile
Labels: changelog:skip

#21114 feat: show remainder assets info
  mobile/lib/infrastructure/loaders/local_image_request.dart
  mobile/lib/infrastructure/loaders/remote_image_request.dart
  mobile/lib/infrastructure/loaders/thumbhash_image_request.dart
  mobile/lib/infrastructure/repositories/backup.repository.dart
  mobile/lib/pages/backup/drift_backup.page.dart
  mobile/lib/pages/backup/drift_backup_asset_detail.page.dart
  mobile/lib/presentation/widgets/asset_viewer/top_app_bar.widget.dart
  mobile/lib/providers/backup/drift_backup.provider.dart
  mobile/lib/routing/router.dart
  mobile/lib/routing/router.gr.dart
  mobile/lib/widgets/backup/backup_info_card.dart
Labels: 📱mobile, changelog:enhancement

#21116 fix: skip albums selected or excluded from backups from deletions
  mobile/lib/infrastructure/repositories/local_album.repository.dart
  mobile/lib/pages/common/tab_shell.page.dart
  mobile/lib/providers/infrastructure/album.provider.dart
Labels: 📱mobile, changelog:bugfix

#21120 fix: thumbnail rendering on backup asset detail tile
  mobile/lib/pages/backup/drift_backup_asset_detail.page.dart
Labels: 📱mobile, changelog:bugfix

#21113 chore: update docs to use pnpm
  docs/README.md
  docs/docs/developer/database-migrations.md
  docs/docs/developer/devcontainers.md
  docs/docs/developer/pr-checklist.md
  docs/docs/developer/setup.md
  docs/docs/developer/testing.md
  pnpm-lock.yaml
Labels: documentation, changelog:documentation

#21126 chore: install pnpm in prepare-release GHA
  .github/workflows/prepare-release.yml
Labels: documentation, changelog:skip

#21167 fix: isolate docker host/container filesystem for node_modules and build output
  .devcontainer/devcontainer.json
  .devcontainer/server/container-compose-overrides.yml
  .pnpmfile.cjs
  Makefile
  docker/docker-compose.dev.yml
  pnpm-lock.yaml
  server/Dockerfile
  server/nest-cli.json
Labels: changelog:skip

#21220 fix: use composite cache key in user circle avatar
  mobile/lib/widgets/common/user_circle_avatar.dart
Labels: 📱mobile, changelog:bugfix

#21052 chore(server): Improve add to multiple albums via bulk checks and inserts
  mobile/openapi/lib/model/albums_add_assets_response_dto.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/dtos/album.dto.ts
  server/src/repositories/album.repository.ts
  server/src/services/album.service.spec.ts
  server/src/services/album.service.ts
Labels: 🗄️server, changelog:skip

#21180 fix: wait for watched files to finish being written (#17100)
  server/src/services/library.service.ts
Labels: 🗄️server, changelog:enhancement

#21221 docs: update italian README: better wording, add some important sections, fixed links and alt texts
  readme_i18n/README_it_IT.md
Labels: changelog:documentation

#21227 fix: devcontainer after pnpm changes
  .devcontainer/server/container-compose-overrides.yml
Labels: changelog:bugfix

#21205 feat: add support for custom headers to TS SDK
  open-api/typescript-sdk/src/index.ts
Labels: changelog:enhancement

#21254 chore: patch createdAt in AssetResponseDto
  mobile/lib/utils/openapi_patching.dart
Labels: 📱mobile, changelog:skip

#21250 refactor: service worker
  web/src/service-worker/broadcast-channel.ts
  web/src/service-worker/cache.ts
  web/src/service-worker/fetch-event.ts
  web/src/service-worker/index.ts
  web/src/service-worker/request.ts
Labels: 🖥️web, changelog:bugfix, preview

#21200 fix(web): Duplicate arrow shortcuts go to next/previous duplicate when viewing assets
  web/src/routes/(user)/utilities/duplicates/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:bugfix

#21262 fix: ignore abort errors
  web/src/service-worker/broadcast-channel.ts
  web/src/service-worker/request.ts
Labels: 🖥️web, changelog:skip, preview

#21278 fix: prevent an offline asset from being used as a person feature photo
  server/src/repositories/person.repository.ts
  server/src/services/media.service.spec.ts
  server/src/services/person.service.ts
Labels: 🗄️server, changelog:bugfix

#21282 fix(web): suppress auto-play errors
  web/src/lib/components/asset-viewer/video-native-viewer.svelte
Labels: 🖥️web, changelog:bugfix

#21275 fix(mobile): caching thumbnails to disk
  mobile/lib/infrastructure/loaders/remote_image_request.dart
  mobile/lib/presentation/widgets/images/thumbnail.widget.dart
  mobile/lib/providers/image/cache/remote_image_cache_manager.dart
Labels: 📱mobile, changelog:bugfix

#21271 fix: invalid storage quota with decimals
  server/src/controllers/user-admin.controller.spec.ts
  server/src/dtos/user.dto.ts
  web/src/lib/modals/UserCreateModal.svelte
  web/src/lib/modals/UserEditModal.svelte
Labels: 🖥️web, 🗄️server, changelog:bugfix

#21320 chore: faq commercial guidelines
  docs/docs/FAQ.mdx
Labels: documentation, changelog:documentation

#21283 feat(web): Refresh album page after sharing
  web/src/routes/(user)/albums/[albumId=id]/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:enhancement

#21322 fix(web): album multi-select filter doesn't include other selected albums
  web/src/lib/modals/AlbumPickerModal.svelte
Labels: 🖥️web, changelog:bugfix

#21273 feat(web): Album picker shortcut info
  i18n/en.json
  web/src/lib/modals/AlbumPickerModal.svelte
Labels: 🖥️web, changelog:enhancement

#21349 fix(web): sign up double click
  web/src/routes/auth/register/+page.svelte
Labels: 🖥️web, changelog:bugfix

#21340 fix(web): add primary text color to file upload toast
  web/src/lib/components/shared-components/upload-asset-preview.svelte
Labels: 🖥️web, changelog:bugfix

#21331 fix(mobile): thumbnail requests not being cancelled
  mobile/lib/presentation/widgets/images/image_provider.dart
  mobile/lib/presentation/widgets/images/local_image_provider.dart
  mobile/lib/presentation/widgets/images/remote_image_provider.dart
  mobile/lib/presentation/widgets/images/thumb_hash_provider.dart
  mobile/lib/presentation/widgets/images/thumbnail.widget.dart
Labels: 📱mobile, changelog:bugfix

#21350 fix(mobile): memory lane rebuild
  mobile/lib/infrastructure/repositories/memory.repository.dart
  mobile/lib/presentation/pages/dev/main_timeline.page.dart
  mobile/lib/presentation/widgets/memory/memory_lane.widget.dart
  mobile/lib/providers/infrastructure/memory.provider.dart
Labels: 📱mobile, changelog:bugfix

#21228 chore: post release tasks
  mobile/ios/Runner.xcodeproj/project.pbxproj
  mobile/ios/Runner/Info.plist
Labels: changelog:skip

#21309 fix(mobile): fast animations when "disable animations" enabled
  mobile/lib/widgets/common/mesmerizing_sliver_app_bar.dart
  mobile/lib/widgets/common/person_sliver_app_bar.dart
  mobile/lib/widgets/common/remote_album_sliver_app_bar.dart
Labels: 📱mobile, changelog:bugfix

#21304 fix(web): middle click not working on videos
  web/src/lib/components/assets/thumbnail/thumbnail.svelte
Labels: 🖥️web, changelog:bugfix

#21354 fix(mobile): allow gestures in asset viewer before image is loaded
  mobile/lib/widgets/photo_view/src/photo_view_wrappers.dart
Labels: 📱mobile, changelog:bugfix

#21243 feat: beta background sync
  mobile/analysis_options.yaml
  mobile/android/app/src/main/kotlin/app/alextran/immich/ImmichApp.kt
  mobile/android/app/src/main/kotlin/app/alextran/immich/MainActivity.kt
  mobile/android/app/src/main/kotlin/app/alextran/immich/background/BackgroundWorker.g.kt
  mobile/android/app/src/main/kotlin/app/alextran/immich/background/BackgroundWorker.kt
  mobile/android/app/src/main/kotlin/app/alextran/immich/background/BackgroundWorkerApiImpl.kt
  mobile/android/app/src/main/kotlin/app/alextran/immich/background/MediaObserver.kt
  mobile/ios/Runner.xcodeproj/project.pbxproj
  mobile/ios/Runner/AppDelegate.swift
  mobile/ios/Runner/Background/BackgroundWorker.g.swift
  mobile/ios/Runner/Background/BackgroundWorker.swift
  mobile/ios/Runner/Background/BackgroundWorkerApiImpl.swift
  mobile/ios/Runner/Info.plist
  mobile/lib/domain/services/background_worker.service.dart
  mobile/lib/domain/services/hash.service.dart
  mobile/lib/domain/services/log.service.dart
  mobile/lib/domain/utils/background_sync.dart
  mobile/lib/main.dart
  mobile/lib/pages/backup/drift_backup.page.dart
  mobile/lib/pages/common/change_experience.page.dart
  mobile/lib/platform/background_worker_api.g.dart
  mobile/lib/providers/backup/backup.provider.dart
  mobile/lib/repositories/upload.repository.dart
  mobile/lib/services/upload.service.dart
  mobile/lib/utils/bootstrap.dart
  mobile/lib/utils/isolate.dart
  mobile/makefile
  mobile/pigeon/background_worker_api.dart
Labels: 📱mobile, changelog:feature

#21326 fix(web): Slideshow fade occurs when not in slideshow
  web/src/lib/components/asset-viewer/asset-viewer.svelte
Labels: 🖥️web, changelog:bugfix, preview

#20758 feat(web): add geolocation utility
  i18n/en.json
  web/src/lib/assets/empty-5.svg
  web/src/lib/components/asset-viewer/detail-panel-location.svelte
  web/src/lib/components/assets/thumbnail/thumbnail.svelte
  web/src/lib/components/photos-page/actions/change-location-action.svelte
  web/src/lib/components/shared-components/change-location.svelte
  web/src/lib/components/shared-components/date-picker.svelte
  web/src/lib/components/utilities-page/geolocation/geolocation.svelte
  web/src/lib/components/utilities-page/utilities-menu.svelte
  web/src/lib/constants.ts
  web/src/lib/modals/GeolocationUpdateConfirmModal.svelte
  web/src/lib/utils/date-time.spec.ts
  web/src/lib/utils/date-time.ts
  web/src/lib/utils/navigation.ts
  web/src/lib/utils/string-utils.ts
  web/src/routes/(user)/utilities/geolocation/+page.svelte
  web/src/routes/(user)/utilities/geolocation/+page.ts
Labels: 🖥️web, changelog:feature

#21383 fix(server): folder sort order
  server/src/queries/view.repository.sql
  server/src/repositories/view-repository.ts
Labels: 🗄️server, changelog:bugfix

#21359 fix: fix docker perms for dev
  .devcontainer/server/container-compose-overrides.yml
  .github/workflows/test.yml
  Makefile
  docker/docker-compose.dev.yml
  misc/release/pump-version.sh
Labels: changelog:skip

#21422 fix(mobile): memory lane query
  mobile/lib/infrastructure/repositories/memory.repository.dart
Labels: 📱mobile, changelog:bugfix

#21428 fix: default zoom level when location is not set
  web/src/lib/components/shared-components/change-location.svelte
Labels: 🖥️web, changelog:bugfix

#21390 fix: show "preparing" when sharing in beta timeline
  mobile/lib/presentation/widgets/action_buttons/share_action_button.widget.dart
  mobile/lib/providers/infrastructure/action.provider.dart
  mobile/lib/repositories/asset_media.repository.dart
Labels: 📱mobile, changelog:bugfix

#21130 chore(web): update translations
  i18n/ar.json
  i18n/be.json
  i18n/ca.json
  i18n/cs.json
  i18n/da.json
  i18n/de.json
  i18n/el.json
  i18n/es.json
  i18n/et.json
  i18n/fi.json
  i18n/fr.json
  i18n/he.json
  i18n/it.json
  i18n/ja.json
  i18n/kk.json
  i18n/ko.json
  i18n/lv.json
  i18n/mk.json
  i18n/nb_NO.json
  i18n/nl.json
  i18n/pl.json
  i18n/pt_BR.json
  i18n/ru.json
  i18n/sk.json
  i18n/sl.json
  i18n/sv.json
  i18n/ta.json
  i18n/tr.json
  i18n/uk.json
  i18n/zh_Hant.json
  i18n/zh_SIMPLIFIED.json
Labels: changelog:translation

#21475 fix(mobile): readonly mode disable tabs when in landscape mode
  mobile/lib/pages/common/tab_shell.page.dart
Labels: 📱mobile, changelog:bugfix
