Repository immich-app/immich, pull requests merged in 2025-07, with the labels that each got.

#19651 refactor: actions provider
  mobile/lib/domain/services/timeline.service.dart
  mobile/lib/presentation/widgets/action_buttons/archive_action_button.widget.dart
  mobile/lib/presentation/widgets/action_buttons/favorite_action_button.widget.dart
  mobile/lib/presentation/widgets/images/thumbnail_tile.widget.dart
  mobile/lib/presentation/widgets/timeline/timeline.widget.dart
  mobile/lib/providers/infrastructure/action.provider.dart
  mobile/lib/providers/timeline/multiselect.provider.dart
  mobile/lib/services/action.service.dart
Labels: 📱mobile, changelog:skip

#19485 feat: use request host as default SSR domain
  e2e/src/api/specs/shared-link.e2e-spec.ts
  server/src/services/api.service.ts
  server/src/services/shared-link.service.ts
  server/src/utils/misc.ts
Labels: 🗄️server, changelog:enhancement

#18580 fix(server): prevent duplicate geodata temp table
  server/src/repositories/map.repository.ts
Labels: 🗄️server, changelog:bugfix

#19664 chore: upgrade to cron v4
  server/package-lock.json
  server/package.json
  server/src/repositories/cron.repository.ts
Labels: 🗄️server, changelog:skip

#18624 chore(docs): add instruction for trusting self-signed certificates with Immich and an OAuth server
  docs/src/components/community-guides.tsx
Labels: documentation, changelog:documentation, fix:formatting

#19527 chore: remove runner deps install step
  .github/workflows/build-mobile.yml
Labels: changelog:skip

#19544 fix: timeline service uninitialised across routes
  mobile/lib/pages/common/tab_shell.page.dart
  mobile/lib/presentation/pages/dev/local_timeline.page.dart
  mobile/lib/presentation/pages/dev/main_timeline.page.dart
  mobile/lib/presentation/pages/dev/remote_timeline.page.dart
  mobile/lib/presentation/widgets/bottom_app_bar/home_bottom_app_bar.widget.dart
  mobile/lib/presentation/widgets/timeline/timeline.widget.dart
  mobile/lib/providers/infrastructure/action.provider.dart
  mobile/lib/providers/infrastructure/timeline.provider.dart
  mobile/lib/providers/timeline/multiselect.provider.dart
Labels: 📱mobile, changelog:skip

#19676 chore: dev environment improvements and dependency updates
  .devcontainer/server/container-common.sh
  .devcontainer/server/container-compose-overrides.yml
  .github/.prettierignore
  e2e/src/utils.ts
  web/package-lock.json
  web/package.json
Labels: changelog:skip

#19677 refactor: action provider
  mobile/lib/providers/infrastructure/action.provider.dart
Labels: 📱mobile, changelog:skip

#19674 feat: fully qualified path in error msg
  server/src/services/storage.service.ts
Labels: 🗄️server, changelog:skip

#19681 feat(mobile): trash and delete action
  i18n/en.json
  mobile/lib/infrastructure/repositories/remote_asset.repository.dart
  mobile/lib/presentation/widgets/action_buttons/delete_action_button.widget.dart
  mobile/lib/presentation/widgets/action_buttons/trash_action_buton.widget.dart
  mobile/lib/presentation/widgets/bottom_app_bar/home_bottom_app_bar.widget.dart
  mobile/lib/providers/infrastructure/action.provider.dart
  mobile/lib/repositories/asset_api.repository.dart
  mobile/lib/services/action.service.dart
Labels: 📱mobile, changelog:skip

#19685 fix: handle null bucket name during android sync
  mobile/android/app/src/main/kotlin/app/alextran/immich/sync/MessagesImplBase.kt
Labels: 📱mobile, changelog:skip

#19678 feat(mobile): unarchive and unfavorite action
  i18n/en.json
  mobile/lib/presentation/widgets/action_buttons/unarchive_action_button.widget.dart
  mobile/lib/presentation/widgets/action_buttons/unfavorite_action_button.widget.dart
Labels: 📱mobile, changelog:skip

#19552 feat(mobile): sqlite asset viewer
  mobile/drift_schemas/main/drift_schema_v1.json
  mobile/lib/domain/models/asset/base_asset.model.dart
  mobile/lib/domain/models/asset/local_asset.model.dart
  mobile/lib/domain/models/asset/remote_asset.model.dart
  mobile/lib/domain/models/exif.model.dart
  mobile/lib/domain/models/setting.model.dart
  mobile/lib/domain/services/asset.service.dart
  mobile/lib/domain/services/setting.service.dart
  mobile/lib/domain/services/timeline.service.dart
  mobile/lib/infrastructure/entities/exif.entity.dart
  mobile/lib/infrastructure/entities/exif.entity.drift.dart
  mobile/lib/infrastructure/entities/merged_asset.drift
  mobile/lib/infrastructure/entities/merged_asset.drift.dart
  mobile/lib/infrastructure/repositories/exif.repository.dart
  mobile/lib/infrastructure/repositories/remote_asset.repository.dart
  mobile/lib/infrastructure/repositories/storage.repository.dart
  mobile/lib/infrastructure/repositories/sync_stream.repository.dart
  mobile/lib/pages/common/gallery_viewer.page.dart
  mobile/lib/presentation/widgets/asset_viewer/asset_viewer.page.dart
  mobile/lib/presentation/widgets/asset_viewer/bottom_sheet.dart
  mobile/lib/presentation/widgets/bottom_app_bar/base_bottom_sheet.widget.dart
  mobile/lib/presentation/widgets/images/full_image.widget.dart
  mobile/lib/presentation/widgets/images/image_provider.dart
  mobile/lib/presentation/widgets/images/local_image_provider.dart
  mobile/lib/presentation/widgets/images/local_thumb_provider.dart
  mobile/lib/presentation/widgets/images/remote_image_provider.dart
  mobile/lib/presentation/widgets/images/remote_thumb_provider.dart
  mobile/lib/presentation/widgets/images/thumbnail.widget.dart
  mobile/lib/presentation/widgets/images/thumbnail_tile.widget.dart
  mobile/lib/presentation/widgets/timeline/fixed/segment.model.dart
  mobile/lib/providers/infrastructure/asset.provider.dart
  mobile/lib/providers/infrastructure/asset_viewer/current_asset.provider.dart
  mobile/lib/providers/infrastructure/exif.provider.dart
  mobile/lib/providers/infrastructure/storage.provider.dart
  mobile/lib/routing/router.dart
  mobile/lib/routing/router.gr.dart
  mobile/lib/services/action.service.dart
  mobile/lib/utils/cache/custom_image_cache.dart
  mobile/lib/utils/image_url_builder.dart
  mobile/lib/widgets/photo_view/photo_view.dart
  mobile/lib/widgets/photo_view/photo_view_gallery.dart
  mobile/lib/widgets/photo_view/src/controller/photo_view_controller.dart
  mobile/lib/widgets/photo_view/src/controller/photo_view_controller_delegate.dart
  mobile/lib/widgets/photo_view/src/controller/photo_view_scalestate_controller.dart
  mobile/lib/widgets/photo_view/src/core/photo_view_core.dart
  mobile/lib/widgets/photo_view/src/core/photo_view_gesture_detector.dart
  mobile/lib/widgets/photo_view/src/photo_view_wrappers.dart
Labels: 📱mobile, changelog:skip

#19644 feat: memories sync
  mobile/drift_schemas/main/drift_schema_v1.json
  mobile/lib/domain/models/memory.model.dart
  mobile/lib/domain/services/sync_stream.service.dart
  mobile/lib/infrastructure/entities/memory.entity.dart
  mobile/lib/infrastructure/entities/memory.entity.drift.dart
  mobile/lib/infrastructure/entities/memory_asset.entity.dart
  mobile/lib/infrastructure/entities/memory_asset.entity.drift.dart
  mobile/lib/infrastructure/repositories/db.repository.dart
  mobile/lib/infrastructure/repositories/db.repository.drift.dart
  mobile/lib/infrastructure/repositories/memory.repository.dart
  mobile/lib/infrastructure/repositories/sync_api.repository.dart
  mobile/lib/infrastructure/repositories/sync_stream.repository.dart
  mobile/lib/presentation/pages/dev/media_stat.page.dart
  mobile/lib/providers/memory.provider.dart
  mobile/test/domain/services/sync_stream_service_test.dart
  mobile/test/fixtures/sync_stream.stub.dart
Labels: 📱mobile, changelog:skip

#19692 feat: adds bottom sheet map and actions
  mobile/lib/domain/models/asset/base_asset.model.dart
  mobile/lib/domain/models/asset/local_asset.model.dart
  mobile/lib/domain/models/asset/remote_asset.model.dart
  mobile/lib/domain/models/setting.model.dart
  mobile/lib/presentation/widgets/action_buttons/trash_action_button.widget.dart
  mobile/lib/presentation/widgets/asset_viewer/asset_viewer.page.dart
  mobile/lib/presentation/widgets/asset_viewer/bottom_sheet.widget.dart
  mobile/lib/presentation/widgets/asset_viewer/bottom_sheet/location_details.widget.dart
  mobile/lib/presentation/widgets/bottom_app_bar/base_bottom_sheet.widget.dart
  mobile/lib/presentation/widgets/bottom_app_bar/home_bottom_app_bar.widget.dart
  mobile/lib/providers/infrastructure/action.provider.dart
  mobile/lib/providers/infrastructure/asset_viewer/current_asset.provider.dart
  mobile/lib/widgets/asset_viewer/detail_panel/exif_map.dart
  mobile/lib/widgets/map/map_thumbnail.dart
  mobile/lib/widgets/photo_view/photo_view.dart
  mobile/lib/widgets/photo_view/photo_view_gallery.dart
  mobile/lib/widgets/photo_view/src/core/photo_view_core.dart
Labels: 📱mobile, changelog:skip

#19726 feat: adds bottom sheet map and actions
  mobile/lib/domain/models/asset/remote_asset.model.dart
  mobile/lib/domain/services/asset.service.dart
  mobile/lib/domain/utils/event_stream.dart
  mobile/lib/infrastructure/entities/local_asset.entity.dart
  mobile/lib/infrastructure/repositories/local_asset.repository.dart
  mobile/lib/infrastructure/repositories/remote_asset.repository.dart
  mobile/lib/presentation/widgets/action_buttons/base_action_button.widget.dart
  mobile/lib/presentation/widgets/action_buttons/favorite_action_button.widget.dart
  mobile/lib/presentation/widgets/action_buttons/unfavorite_action_button.widget.dart
  mobile/lib/presentation/widgets/asset_viewer/asset_viewer.page.dart
  mobile/lib/presentation/widgets/asset_viewer/asset_viewer.state.dart
  mobile/lib/presentation/widgets/asset_viewer/bottom_bar.widget.dart
  mobile/lib/presentation/widgets/asset_viewer/bottom_sheet.widget.dart
  mobile/lib/presentation/widgets/asset_viewer/bottom_sheet/location_details.widget.dart
  mobile/lib/presentation/widgets/asset_viewer/top_app_bar.widget.dart
  mobile/lib/providers/infrastructure/action.provider.dart
  mobile/lib/providers/infrastructure/asset.provider.dart
  mobile/lib/providers/infrastructure/asset_viewer/current_asset.provider.dart
Labels: 📱mobile, changelog:skip

#19499 fix(web): viewing asset lock
  web/package-lock.json
  web/package.json
  web/src/lib/components/photos-page/asset-grid.svelte
  web/src/lib/stores/asset-viewing.store.ts
Labels: 🖥️web, changelog:bugfix

#19743 docs: fix typo of webp listed under jpeg
  docs/docs/features/supported-formats.md
Labels: documentation, changelog:documentation

#19771 fix: add quiet zone to QR code
  web/src/lib/components/shared-components/qrcode.svelte
Labels: 🖥️web, changelog:bugfix

#19745 feat(mobile): drift trash page
  mobile/lib/domain/services/timeline.service.dart
  mobile/lib/infrastructure/repositories/timeline.repository.dart
  mobile/lib/presentation/pages/dev/drift_trash.page.dart
  mobile/lib/presentation/pages/dev/feat_in_development.page.dart
  mobile/lib/routing/router.dart
  mobile/lib/routing/router.gr.dart
Labels: 📱mobile, changelog:skip

#19746 feat(mobile): drift locked folder page
  mobile/lib/domain/services/timeline.service.dart
  mobile/lib/infrastructure/repositories/timeline.repository.dart
  mobile/lib/presentation/pages/dev/drift_locked_folder.page.dart
  mobile/lib/presentation/pages/dev/feat_in_development.page.dart
  mobile/lib/routing/router.dart
  mobile/lib/routing/router.gr.dart
Labels: 📱mobile, changelog:skip

#19783 feat(mobile): drift favorite page
  mobile/lib/domain/services/timeline.service.dart
  mobile/lib/infrastructure/repositories/timeline.repository.dart
  mobile/lib/presentation/pages/dev/drift_favorite.page.dart
  mobile/lib/presentation/pages/dev/feat_in_development.page.dart
  mobile/lib/routing/router.dart
  mobile/lib/routing/router.gr.dart
Labels: 📱mobile, changelog:skip

#19784 feat(mobile): drift video page
  mobile/lib/domain/services/timeline.service.dart
  mobile/lib/infrastructure/repositories/timeline.repository.dart
  mobile/lib/presentation/pages/dev/drift_video.page.dart
  mobile/lib/presentation/pages/dev/feat_in_development.page.dart
  mobile/lib/routing/router.dart
  mobile/lib/routing/router.gr.dart
Labels: 📱mobile, changelog:skip

#19797 chore: tidy up DCM analysis workflow
  .github/workflows/static_analysis.yml
Labels: changelog:skip

#19734 feat: selection mode timeline
  mobile/lib/domain/services/timeline.service.dart
  mobile/lib/infrastructure/repositories/remote_asset.repository.dart
  mobile/lib/infrastructure/repositories/timeline.repository.dart
  mobile/lib/presentation/pages/dev/feat_in_development.page.dart
  mobile/lib/presentation/pages/drift_asset_selection_timeline.page.dart
  mobile/lib/presentation/widgets/images/thumbnail_tile.widget.dart
  mobile/lib/presentation/widgets/timeline/fixed/segment.model.dart
  mobile/lib/presentation/widgets/timeline/timeline.widget.dart
  mobile/lib/providers/timeline/multiselect.provider.dart
  mobile/lib/routing/router.dart
  mobile/lib/routing/router.gr.dart
  mobile/lib/widgets/common/selection_sliver_app_bar.dart
Labels: 📱mobile, changelog:skip

#19815 feat(mobile): drift partner detail page
  mobile/lib/presentation/pages/dev/drift_partner_detail.page.dart
  mobile/lib/presentation/pages/drift_library.page.dart
  mobile/lib/routing/router.dart
  mobile/lib/routing/router.gr.dart
Labels: 📱mobile, changelog:skip

#19828 feat: create table with constraints
  server/src/schema/migrations/1752004072340-UpdateIndexOverrides.ts
  server/src/sql-tools/comparers/table.comparer.ts
  server/src/sql-tools/transformers/constraint.transformer.ts
  server/src/sql-tools/transformers/index.transformer.spec.ts
  server/src/sql-tools/transformers/index.transformer.ts
  server/src/sql-tools/transformers/table.transformer.spec.ts
  server/src/sql-tools/transformers/table.transformer.ts
Labels: 🗄️server, changelog:skip

#19792 feat: sqlite video player
  mobile/android/app/src/main/kotlin/app/alextran/immich/sync/Messages.g.kt
  mobile/android/app/src/main/kotlin/app/alextran/immich/sync/MessagesImplBase.kt
  mobile/drift_schemas/main/drift_schema_v1.json
  mobile/ios/Runner/Sync/Messages.g.swift
  mobile/ios/Runner/Sync/MessagesImpl.swift
  mobile/lib/domain/models/asset/base_asset.model.dart
  mobile/lib/domain/models/asset/local_asset.model.dart
  mobile/lib/domain/models/asset/remote_asset.model.dart
  mobile/lib/domain/models/setting.model.dart
  mobile/lib/domain/services/asset.service.dart
  mobile/lib/domain/services/hash.service.dart
  mobile/lib/domain/services/local_sync.service.dart
  mobile/lib/domain/services/timeline.service.dart
  mobile/lib/infrastructure/entities/local_asset.entity.dart
  mobile/lib/infrastructure/entities/local_asset.entity.drift.dart
  mobile/lib/infrastructure/entities/merged_asset.drift
  mobile/lib/infrastructure/entities/merged_asset.drift.dart
  mobile/lib/infrastructure/repositories/local_album.repository.dart
  mobile/lib/infrastructure/repositories/local_asset.repository.dart
  mobile/lib/infrastructure/repositories/storage.repository.dart
  mobile/lib/infrastructure/repositories/timeline.repository.dart
  mobile/lib/platform/native_sync_api.g.dart
  mobile/lib/presentation/widgets/asset_viewer/asset_viewer.page.dart
  mobile/lib/presentation/widgets/asset_viewer/asset_viewer.state.dart
  mobile/lib/presentation/widgets/asset_viewer/bottom_bar.widget.dart
  mobile/lib/presentation/widgets/asset_viewer/video_viewer.widget.dart
  mobile/lib/presentation/widgets/asset_viewer/video_viewer_controls.widget.dart
  mobile/lib/presentation/widgets/images/local_image_provider.dart
  mobile/lib/presentation/widgets/memory/memory_card.widget.dart
  mobile/pigeon/native_sync_api.dart
  mobile/test/domain/services/hash_service_test.dart
Labels: 📱mobile, changelog:skip

#19841 chore(docs): roadmap updates
  docs/src/pages/roadmap.tsx
Labels: documentation, changelog:skip

#19824 feat(mobile): cache latest ios widget entry for fallback
  mobile/ios/WidgetExtension/EntryGenerators.swift
  mobile/ios/WidgetExtension/ImageEntry.swift
  mobile/ios/WidgetExtension/ImageWidgetView.swift
  mobile/ios/WidgetExtension/ImmichAPI.swift
  mobile/ios/WidgetExtension/UIImage+Resize.swift
  mobile/ios/WidgetExtension/widgets/MemoryWidget.swift
  mobile/ios/WidgetExtension/widgets/RandomWidget.swift
Labels: 📱mobile, changelog:enhancement

#19821 refactor(mobile): image thumbnails
  mobile/lib/domain/models/asset/base_asset.model.dart
  mobile/lib/extensions/duration_extensions.dart
  mobile/lib/presentation/widgets/images/thumbnail_tile.widget.dart
  mobile/lib/utils/storage_indicator.dart
  mobile/lib/widgets/asset_grid/thumbnail_image.dart
  mobile/lib/widgets/asset_viewer/formatted_duration.dart
Labels: 📱mobile, changelog:skip

#19741 chore: update base images
  server/Dockerfile
Labels: documentation, 📱mobile, 🖥️web, 🗄️server, changelog:skip

#19731 feat: new create album page
  mobile/ios/Runner.xcodeproj/project.pbxproj
  mobile/lib/domain/services/remote_album.service.dart
  mobile/lib/infrastructure/repositories/remote_album.repository.dart
  mobile/lib/presentation/pages/drift_album.page.dart
  mobile/lib/presentation/pages/drift_create_album.page.dart
  mobile/lib/providers/infrastructure/album.provider.dart
  mobile/lib/providers/infrastructure/remote_album.provider.dart
  mobile/lib/repositories/album_api.repository.dart
  mobile/lib/repositories/drift_album_api_repository.dart
  mobile/lib/routing/router.dart
  mobile/lib/routing/router.gr.dart
Labels: 📱mobile, changelog:skip

#19858 feat: AssetUploadReadyV1 event
  server/src/repositories/event.repository.ts
  server/src/services/job.service.ts
Labels: 🗄️server, changelog:skip

#19859 fix: cold start deep link logic
  mobile/lib/main.dart
Labels: 📱mobile, changelog:skip

#19864 fix: ensure buffer loaded before opening asset viewer
  mobile/lib/presentation/widgets/timeline/fixed/segment.model.dart
Labels: 📱mobile, changelog:skip

#19862 chore: beta flavor build
  .github/workflows/build-mobile.yml
  mobile/android/app/build.gradle
  mobile/android/app/src/beta/AndroidManifest.xml
  mobile/android/app/src/main/AndroidManifest.xml
  mobile/lib/domain/services/sync_stream.service.dart
  mobile/lib/pages/common/tab_shell.page.dart
  mobile/lib/presentation/pages/dev/feat_in_development.page.dart
  mobile/lib/widgets/common/immich_app_bar.dart
  mobile/lib/widgets/common/immich_sliver_app_bar.dart
  mobile/makefile
Labels: 📱mobile, changelog:skip

#19870 chore: missing @types dependency for geojson
  web/package-lock.json
  web/package.json
Labels: 🖥️web, changelog:skip

#19861 feat: pending sync reset flag
  e2e/src/responses.ts
  mobile/openapi/README.md
  mobile/openapi/lib/api.dart
  mobile/openapi/lib/api/sessions_api.dart
  mobile/openapi/lib/api_client.dart
  mobile/openapi/lib/model/session_create_response_dto.dart
  mobile/openapi/lib/model/session_response_dto.dart
  mobile/openapi/lib/model/session_update_dto.dart
  mobile/openapi/lib/model/sync_entity_type.dart
  mobile/openapi/lib/model/sync_stream_dto.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/controllers/session.controller.ts
  server/src/database.ts
  server/src/dtos/session.dto.ts
  server/src/dtos/sync.dto.ts
  server/src/enum.ts
  server/src/queries/session.repository.sql
  server/src/repositories/session.repository.ts
  server/src/schema/migrations/1752169992364-AddIsPendingSyncReset.ts
  server/src/schema/tables/session.table.ts
  server/src/services/auth.service.spec.ts
  server/src/services/auth.service.ts
  server/src/services/session.service.ts
  server/src/services/sync.service.ts
  server/test/medium.factory.ts
  server/test/medium/specs/sync/sync-reset.spec.ts
  server/test/small.factory.ts
Labels: 🗄️server, changelog:skip

#19863 fix: allow insecure connections in iOS WidgetExtension
  mobile/ios/WidgetExtension/Info.plist
Labels: changelog:bugfix

#19884 feat: remove from album action button
  i18n/en.json
  mobile/lib/infrastructure/repositories/remote_album.repository.dart
  mobile/lib/presentation/widgets/action_buttons/remove_from_album_action_button.widget.dart
  mobile/lib/providers/infrastructure/action.provider.dart
  mobile/lib/repositories/drift_album_api_repository.dart
  mobile/lib/services/action.service.dart
  mobile/test/modules/map/map_theme_override_test.dart
Labels: 📱mobile, changelog:skip

#19885 fix: startup log level
  server/src/services/system-config.service.ts
Labels: 🗄️server, changelog:bugfix

#19867 feat: action buttons in more view
  mobile/lib/presentation/pages/dev/drift_partner_detail.page.dart
  mobile/lib/presentation/pages/dev/media_stat.page.dart
  mobile/lib/presentation/pages/drift_album.page.dart
  mobile/lib/presentation/pages/drift_archive.page.dart
  mobile/lib/presentation/pages/drift_create_album.page.dart
  mobile/lib/presentation/pages/drift_favorite.page.dart
  mobile/lib/presentation/pages/drift_library.page.dart
  mobile/lib/presentation/pages/drift_local_album.page.dart
  mobile/lib/presentation/pages/drift_locked_folder.page.dart
  mobile/lib/presentation/pages/drift_partner_detail.page.dart
  mobile/lib/presentation/pages/drift_recently_taken.page.dart
  mobile/lib/presentation/pages/drift_remote_album.page.dart
  mobile/lib/presentation/pages/drift_trash.page.dart
  mobile/lib/presentation/pages/drift_video.page.dart
  mobile/lib/presentation/pages/local_timeline.page.dart
  mobile/lib/presentation/widgets/action_buttons/unarchive_action_button.widget.dart
  mobile/lib/presentation/widgets/asset_viewer/bottom_sheet.widget.dart
  mobile/lib/presentation/widgets/bottom_sheet/archive_bottom_sheet.widget.dart
  mobile/lib/presentation/widgets/bottom_sheet/base_bottom_sheet.widget.dart
  mobile/lib/presentation/widgets/bottom_sheet/favorite_bottom_sheet.widget.dart
  mobile/lib/presentation/widgets/bottom_sheet/general_bottom_sheet.widget.dart
  mobile/lib/presentation/widgets/bottom_sheet/local_album_bottom_sheet.widget.dart
  mobile/lib/presentation/widgets/bottom_sheet/locked_folder_bottom_sheet.widget.dart
  mobile/lib/presentation/widgets/bottom_sheet/partner_detail_bottom_sheet.widget.dart
  mobile/lib/presentation/widgets/bottom_sheet/remote_album_bottom_sheet.widget.dart
  mobile/lib/presentation/widgets/timeline/timeline.widget.dart
  mobile/lib/routing/router.dart
  mobile/lib/routing/router.gr.dart
Labels: 📱mobile, changelog:skip

#19882 feat: UserMetadata sync
  mobile/openapi/README.md
  mobile/openapi/lib/api.dart
  mobile/openapi/lib/api_client.dart
  mobile/openapi/lib/model/sync_entity_type.dart
  mobile/openapi/lib/model/sync_request_type.dart
  mobile/openapi/lib/model/sync_user_metadata_delete_v1.dart
  mobile/openapi/lib/model/sync_user_metadata_v1.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/dtos/sync.dto.ts
  server/src/enum.ts
  server/src/queries/sync.repository.sql
  server/src/repositories/sync.repository.ts
  server/src/schema/functions.ts
  server/src/schema/index.ts
  server/src/schema/migrations/1752250924342-UserMetadataSync.ts
  server/src/schema/tables/user-metadata-audit.table.ts
  server/src/schema/tables/user-metadata.table.ts
  server/src/services/sync.service.ts
  server/test/medium/specs/sync/sync-user-metadata.spec.ts
Labels: 🗄️server, changelog:skip

#19879 feat: nightly tasks
  e2e/src/api/specs/system-config.e2e-spec.ts
  i18n/en.json
  mobile/openapi/README.md
  mobile/openapi/lib/api.dart
  mobile/openapi/lib/api_client.dart
  mobile/openapi/lib/model/system_config_dto.dart
  mobile/openapi/lib/model/system_config_nightly_tasks_dto.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/config.ts
  server/src/controllers/system-config.controller.spec.ts
  server/src/dtos/system-config.dto.ts
  server/src/enum.ts
  server/src/services/api.service.ts
  server/src/services/job.service.spec.ts
  server/src/services/job.service.ts
  server/src/services/library.service.spec.ts
  server/src/services/library.service.ts
  server/src/services/system-config.service.spec.ts
  web/src/lib/components/admin-page/settings/nightly-tasks-settings/nightly-tasks-settings.svelte
  web/src/routes/admin/system-settings/+page.svelte
Labels: 🖥️web, 🗄️server, changelog:feature

#19901 fix: path in external library docs
  docs/docs/guides/external-library.md
Labels: documentation, changelog:documentation

#19919 chore: pass flavor to vscode flutter codelens
  .vscode/launch.json
Labels: 📱mobile, changelog:skip

#19923 fix(web): allow renaming person without merging
  web/src/routes/(user)/people/[personId]/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:bugfix

#19924 fix(web): adjust button size in person side panel
  web/src/lib/components/faces-page/person-side-panel.svelte
Labels: 🖥️web, changelog:bugfix

#19844 fix: use IMMICH_HOST env var in ML healthcheck
  machine-learning/scripts/healthcheck.py
Labels: changelog:bugfix

#19832 feat(web): better coordinate parsing
  web/package-lock.json
  web/package.json
  web/src/lib/components/shared-components/coordinates-input.svelte
Labels: 🖥️web, changelog:enhancement

#19894 feat(mobile): drift user metadata sync
  mobile/drift_schemas/main/drift_schema_v1.json
  mobile/lib/domain/models/user_metadata.model.dart
  mobile/lib/domain/services/sync_stream.service.dart
  mobile/lib/infrastructure/entities/user_metadata.entity.dart
  mobile/lib/infrastructure/entities/user_metadata.entity.drift.dart
  mobile/lib/infrastructure/repositories/sync_api.repository.dart
  mobile/lib/infrastructure/repositories/sync_stream.repository.dart
  mobile/lib/infrastructure/repositories/user_metadata.repository.dart
  mobile/lib/providers/infrastructure/user_metadata.provider.dart
  mobile/test/domain/services/sync_stream_service_test.dart
Labels: 📱mobile, changelog:skip

#19949 refactor: job names
  server/src/enum.ts
  server/src/repositories/job.repository.ts
  server/src/services/asset-media.service.spec.ts
  server/src/services/asset-media.service.ts
  server/src/services/asset.service.spec.ts
  server/src/services/asset.service.ts
  server/src/services/audit.service.ts
  server/src/services/auth.service.ts
  server/src/services/backup.service.ts
  server/src/services/duplicate.service.spec.ts
  server/src/services/duplicate.service.ts
  server/src/services/job.service.spec.ts
  server/src/services/job.service.ts
  server/src/services/library.service.spec.ts
  server/src/services/library.service.ts
  server/src/services/media.service.spec.ts
  server/src/services/media.service.ts
  server/src/services/memory.service.ts
  server/src/services/metadata.service.spec.ts
  server/src/services/metadata.service.ts
  server/src/services/notification.service.spec.ts
  server/src/services/notification.service.ts
  server/src/services/person.service.spec.ts
  server/src/services/person.service.ts
  server/src/services/session.service.ts
  server/src/services/smart-info.service.ts
  server/src/services/storage.service.ts
  server/src/services/trash.service.spec.ts
  server/src/services/trash.service.ts
  server/src/services/user-admin.service.spec.ts
  server/src/services/user-admin.service.ts
  server/src/services/user.service.spec.ts
  server/src/services/user.service.ts
  server/src/services/version.service.ts
  server/src/types.ts
  server/test/medium/specs/services/user.service.spec.ts
  server/test/medium/specs/services/version.service.spec.ts
Labels: 🗄️server, changelog:skip

#19936 feat: album edit
  i18n/en.json
  mobile/lib/domain/models/album/album.model.dart
  mobile/lib/domain/services/remote_album.service.dart
  mobile/lib/extensions/datetime_extensions.dart
  mobile/lib/infrastructure/repositories/remote_album.repository.dart
  mobile/lib/infrastructure/repositories/timeline.repository.dart
  mobile/lib/pages/album/album_control_button.dart
  mobile/lib/pages/album/album_viewer.dart
  mobile/lib/presentation/pages/drift_album.page.dart
  mobile/lib/presentation/pages/drift_create_album.page.dart
  mobile/lib/presentation/pages/drift_remote_album.page.dart
  mobile/lib/presentation/pages/drift_user_selection.page.dart
  mobile/lib/presentation/widgets/remote_album/drift_album_option.widget.dart
  mobile/lib/providers/infrastructure/current_album.provider.dart
  mobile/lib/providers/infrastructure/remote_album.provider.dart
  mobile/lib/repositories/drift_album_api_repository.dart
  mobile/lib/routing/router.dart
  mobile/lib/routing/router.gr.dart
  mobile/lib/widgets/album/remote_album_shared_user_icons.dart
  mobile/lib/widgets/common/remote_album_sliver_app_bar.dart
  mobile/lib/widgets/common/user_circle_avatar.dart
  mobile/test/modules/extensions/datetime_extensions_test.dart
Labels: 📱mobile, changelog:skip

#19893 feat(widgets): iOS widget improvements
  mobile/ios/WidgetExtension/ImageEntry.swift
  mobile/ios/WidgetExtension/ImageWidgetView.swift
  mobile/ios/WidgetExtension/ImmichAPI.swift
  mobile/ios/WidgetExtension/widgets/MemoryWidget.swift
  mobile/ios/WidgetExtension/widgets/RandomWidget.swift
Labels: changelog:enhancement

#19934 fix(web): prevent flashing white background in dark mode on page load/reload
  web/src/app.html
Labels: 🖥️web, changelog:bugfix

#19971 feat: add license page to app bar dialog
  i18n/en.json
  mobile/lib/main.dart
  mobile/lib/utils/licenses.dart
  mobile/lib/widgets/common/app_bar_dialog/app_bar_dialog.dart
Labels: 📱mobile, changelog:feature

#19961 refactor(mobile): delete local button in new timeline
  i18n/en.json
  mobile/lib/infrastructure/repositories/local_asset.repository.dart
  mobile/lib/presentation/widgets/action_buttons/delete_local_action_button.widget.dart
  mobile/lib/presentation/widgets/asset_viewer/bottom_sheet.widget.dart
  mobile/lib/presentation/widgets/bottom_sheet/archive_bottom_sheet.widget.dart
  mobile/lib/presentation/widgets/bottom_sheet/favorite_bottom_sheet.widget.dart
  mobile/lib/presentation/widgets/bottom_sheet/general_bottom_sheet.widget.dart
  mobile/lib/presentation/widgets/bottom_sheet/local_album_bottom_sheet.widget.dart
  mobile/lib/presentation/widgets/bottom_sheet/remote_album_bottom_sheet.widget.dart
  mobile/lib/providers/infrastructure/action.provider.dart
  mobile/lib/services/action.service.dart
Labels: 📱mobile, changelog:skip

#19965 chore: also redirect docs/ with trailing slash
  docs/static/_redirects
Labels: documentation, changelog:documentation

#19237 docs: update devcontainer docs
  docs/docs/developer/devcontainers.md
Labels: documentation, changelog:skip

#19953 feat: add toggle to switch between Isar and Sqlite
  i18n/en.json
  mobile/drift_schemas/main/drift_schema_v2.json
  mobile/lib/domain/models/store.model.dart
  mobile/lib/domain/services/store.service.dart
  mobile/lib/infrastructure/repositories/db.repository.dart
  mobile/lib/infrastructure/repositories/db.repository.steps.dart
  mobile/lib/pages/common/change_experience.page.dart
  mobile/lib/pages/common/settings.page.dart
  mobile/lib/pages/common/splash_screen.page.dart
  mobile/lib/pages/common/tab_shell.page.dart
  mobile/lib/pages/share_intent/share_intent.page.dart
  mobile/lib/providers/app_life_cycle.provider.dart
  mobile/lib/providers/infrastructure/db.provider.dart
  mobile/lib/repositories/auth.repository.dart
  mobile/lib/routing/router.dart
  mobile/lib/routing/router.gr.dart
  mobile/lib/services/app_settings.service.dart
  mobile/lib/utils/isolate.dart
  mobile/lib/utils/migration.dart
  mobile/lib/widgets/common/immich_sliver_app_bar.dart
  mobile/lib/widgets/forms/login/login_form.dart
  mobile/lib/widgets/settings/beta_timeline_list_tile.dart
  mobile/pubspec.yaml
  mobile/test/drift/main/generated/schema.dart
  mobile/test/drift/main/generated/schema_v1.dart
  mobile/test/drift/main/generated/schema_v2.dart
  mobile/test/drift/main/migration_test.dart
Labels: 📱mobile, changelog:skip

#19967 refactor(mobile): share action button in new timeline
  i18n/en.json
  mobile/lib/presentation/widgets/action_buttons/share_action_button.widget.dart
  mobile/lib/presentation/widgets/asset_viewer/bottom_bar.widget.dart
  mobile/lib/presentation/widgets/asset_viewer/bottom_sheet.widget.dart
  mobile/lib/presentation/widgets/bottom_sheet/archive_bottom_sheet.widget.dart
  mobile/lib/presentation/widgets/bottom_sheet/favorite_bottom_sheet.widget.dart
  mobile/lib/presentation/widgets/bottom_sheet/general_bottom_sheet.widget.dart
  mobile/lib/presentation/widgets/bottom_sheet/local_album_bottom_sheet.widget.dart
  mobile/lib/presentation/widgets/bottom_sheet/locked_folder_bottom_sheet.widget.dart
  mobile/lib/presentation/widgets/bottom_sheet/partner_detail_bottom_sheet.widget.dart
  mobile/lib/presentation/widgets/bottom_sheet/remote_album_bottom_sheet.widget.dart
  mobile/lib/providers/infrastructure/action.provider.dart
  mobile/lib/repositories/asset_api.repository.dart
  mobile/lib/repositories/asset_media.repository.dart
  mobile/lib/services/action.service.dart
Labels: 📱mobile, changelog:skip

#20000 chore: migration continue button
  i18n/en.json
  mobile/lib/pages/common/change_experience.page.dart
  mobile/lib/pages/common/settings.page.dart
  mobile/lib/providers/asset.provider.dart
  mobile/lib/widgets/settings/beta_timeline_list_tile.dart
Labels: 📱mobile, changelog:skip

#20004 chore: add sync indicator and better album state management
  mobile/lib/domain/utils/background_sync.dart
  mobile/lib/pages/common/tab_shell.page.dart
  mobile/lib/presentation/pages/drift_album.page.dart
  mobile/lib/providers/background_sync.provider.dart
  mobile/lib/providers/infrastructure/remote_album.provider.dart
  mobile/lib/providers/sync_status.provider.dart
  mobile/lib/widgets/common/immich_sliver_app_bar.dart
Labels: 📱mobile, changelog:skip

#19777 feat(mobile): people sync
  mobile/drift_schemas/main/drift_schema_v1.json
  mobile/drift_schemas/main/drift_schema_v2.json
  mobile/lib/domain/models/memory.model.dart
  mobile/lib/domain/models/person.model.dart
  mobile/lib/domain/models/stack.model.dart
  mobile/lib/domain/services/sync_stream.service.dart
  mobile/lib/infrastructure/entities/person.entity.dart
  mobile/lib/infrastructure/entities/person.entity.drift.dart
  mobile/lib/infrastructure/repositories/db.repository.dart
  mobile/lib/infrastructure/repositories/db.repository.drift.dart
  mobile/lib/infrastructure/repositories/db.repository.steps.dart
  mobile/lib/infrastructure/repositories/person.repository.dart
  mobile/lib/infrastructure/repositories/sync_api.repository.dart
  mobile/lib/infrastructure/repositories/sync_stream.repository.dart
  mobile/lib/models/search/search_filter.model.dart
  mobile/lib/pages/search/search.page.dart
  mobile/lib/presentation/pages/dev/feat_in_development.page.dart
  mobile/lib/presentation/pages/dev/media_stat.page.dart
  mobile/lib/presentation/pages/search/drift_search.page.dart
  mobile/lib/providers/infrastructure/person.provider.dart
  mobile/lib/providers/infrastructure/stack.provider.dart
  mobile/lib/providers/search/people.provider.dart
  mobile/lib/providers/search/people.provider.g.dart
  mobile/lib/repositories/auth.repository.dart
  mobile/lib/repositories/person_api.repository.dart
  mobile/lib/services/person.service.dart
  mobile/lib/widgets/search/search_filter/people_picker.dart
  mobile/test/domain/services/sync_stream_service_test.dart
  mobile/test/drift/main/generated/schema_v1.dart
  mobile/test/drift/main/generated/schema_v2.dart
Labels: 📱mobile, changelog:skip

#20002 feat: relocate scripts, PATH update
  docker/docker-compose.dev.yml
  e2e/docker-compose.yml
  server/Dockerfile
  server/bin/get-cpus.sh
  server/bin/immich-admin
  server/bin/immich-dev
  server/bin/start.sh
  server/start.sh
  web/Dockerfile
  web/bin/immich-web
Labels: documentation, 🗄️server, changelog:skip

#20013 chore: finish drift locked page
  mobile/lib/pages/library/locked/pin_auth.page.dart
  mobile/lib/presentation/pages/drift_album.page.dart
  mobile/lib/presentation/pages/drift_locked_folder.page.dart
  mobile/lib/presentation/widgets/asset_viewer/asset_viewer.page.dart
  mobile/lib/presentation/widgets/asset_viewer/bottom_sheet.widget.dart
  mobile/lib/presentation/widgets/asset_viewer/top_app_bar.widget.dart
  mobile/lib/providers/infrastructure/action.provider.dart
  mobile/lib/routing/app_navigation_observer.dart
  mobile/lib/routing/router.dart
  mobile/lib/services/action.service.dart
  mobile/lib/widgets/common/mesmerizing_sliver_app_bar.dart
Labels: 📱mobile, changelog:skip

#20021 fix: devcontainer layout
  .devcontainer/mobile/container-compose-overrides.yml
  .devcontainer/server/container-compose-overrides.yml
Labels: changelog:skip

#18726 feat(mobile): new upload
  mobile/lib/constants/constants.dart
  mobile/lib/domain/services/local_album.service.dart
  mobile/lib/infrastructure/repositories/backup.repository.dart
  mobile/lib/infrastructure/repositories/local_album.repository.dart
  mobile/lib/infrastructure/repositories/local_asset.repository.dart
  mobile/lib/infrastructure/repositories/storage.repository.dart
  mobile/lib/main.dart
  mobile/lib/models/upload/share_intent_attachment.model.dart
  mobile/lib/pages/backup/drift_backup.page.dart
  mobile/lib/pages/backup/drift_backup_album_selection.page.dart
  mobile/lib/pages/common/change_experience.page.dart
  mobile/lib/pages/share_intent/share_intent.page.dart
  mobile/lib/presentation/pages/dev/feat_in_development.page.dart
  mobile/lib/providers/app_life_cycle.provider.dart
  mobile/lib/providers/asset_viewer/share_intent_upload.provider.dart
  mobile/lib/providers/backup/backup_album.provider.dart
  mobile/lib/providers/backup/drift_backup.provider.dart
  mobile/lib/providers/websocket.provider.dart
  mobile/lib/repositories/upload.repository.dart
  mobile/lib/routing/router.dart
  mobile/lib/routing/router.gr.dart
  mobile/lib/services/drift_backup.service.dart
  mobile/lib/services/upload.service.dart
  mobile/lib/utils/database.utils.dart
  mobile/lib/utils/upload.dart
  mobile/lib/widgets/backup/drift_album_info_list_tile.dart
  mobile/lib/widgets/common/immich_sliver_app_bar.dart
Labels: 📱mobile, 🗄️server, changelog:enhancement

#20010 refactor(mobile): download button in new timeline
  i18n/en.json
  mobile/lib/presentation/widgets/action_buttons/download_action_button.widget.dart
  mobile/lib/presentation/widgets/asset_viewer/bottom_sheet.widget.dart
  mobile/lib/presentation/widgets/bottom_sheet/archive_bottom_sheet.widget.dart
  mobile/lib/presentation/widgets/bottom_sheet/favorite_bottom_sheet.widget.dart
  mobile/lib/presentation/widgets/bottom_sheet/general_bottom_sheet.widget.dart
  mobile/lib/presentation/widgets/bottom_sheet/locked_folder_bottom_sheet.widget.dart
  mobile/lib/presentation/widgets/bottom_sheet/partner_detail_bottom_sheet.widget.dart
  mobile/lib/presentation/widgets/bottom_sheet/remote_album_bottom_sheet.widget.dart
  mobile/lib/providers/infrastructure/action.provider.dart
  mobile/lib/repositories/download.repository.dart
  mobile/lib/services/action.service.dart
Labels: 📱mobile, changelog:skip

#20030 fix: memory jarring hero animation
  mobile/lib/presentation/widgets/memory/memory_card.widget.dart
  mobile/lib/presentation/widgets/memory/memory_lane.widget.dart
Labels: 📱mobile, changelog:skip

#20049 feat: migrate backup albums to sqlite
  mobile/lib/entities/backup_album.entity.dart
  mobile/lib/pages/common/change_experience.page.dart
  mobile/lib/utils/migration.dart
Labels: 📱mobile, changelog:skip

#20060 chore: do not render drift migration auto gen files
  .gitattributes
Labels: 📱mobile, changelog:skip

#20061 feat: add favorites support to android widget
  mobile/android/app/src/main/kotlin/app/alextran/immich/widget/ImageDownloadWorker.kt
  mobile/android/app/src/main/kotlin/app/alextran/immich/widget/configure/RandomConfigure.kt
  mobile/android/app/src/main/kotlin/app/alextran/immich/widget/model/Model.kt
Labels: 📱mobile, changelog:skip

#20051 feat: drift partners
  mobile/lib/domain/models/user.model.dart
  mobile/lib/domain/services/partner.service.dart
  mobile/lib/infrastructure/repositories/partner.repository.dart
  mobile/lib/pages/library/partner/drift_partner.page.dart
  mobile/lib/presentation/pages/drift_library.page.dart
  mobile/lib/presentation/pages/drift_partner_detail.page.dart
  mobile/lib/presentation/widgets/partner_user_avatar.widget.dart
  mobile/lib/providers/infrastructure/partner.provider.dart
  mobile/lib/providers/infrastructure/user.provider.dart
  mobile/lib/routing/router.dart
  mobile/lib/routing/router.gr.dart
Labels: 📱mobile, changelog:skip

#19962 feat: play live photos on hover
  web/src/lib/components/assets/thumbnail/thumbnail.svelte
Labels: 🖥️web, changelog:enhancement

#20062 chore: graceful(not) disposal(be gong) Isar
  mobile/lib/utils/isolate.dart
Labels: 📱mobile, changelog:skip

#19228 chore(web): update translations
  i18n/af.json
  i18n/ar.json
  i18n/be.json
  i18n/bg.json
  i18n/bn.json
  i18n/ca.json
  i18n/cs.json
  i18n/da.json
  i18n/de.json
  i18n/el.json
  i18n/es.json
  i18n/et.json
  i18n/fi.json
  i18n/fil.json
  i18n/fr.json
  i18n/gl.json
  i18n/he.json
  i18n/hi.json
  i18n/hr.json
  i18n/hu.json
  i18n/id.json
  i18n/it.json
  i18n/ja.json
  i18n/ko.json
  i18n/lt.json
  i18n/lv.json
  i18n/mn.json
  i18n/mr.json
  i18n/ms.json
  i18n/nb_NO.json
  i18n/nl.json
  i18n/nn.json
  i18n/pl.json
  i18n/pt.json
  i18n/pt_BR.json
  i18n/ro.json
  i18n/ru.json
  i18n/sk.json
  i18n/sl.json
  i18n/sr_Cyrl.json
  i18n/sr_Latn.json
  i18n/sv.json
  i18n/ta.json
  i18n/te.json
  i18n/th.json
  i18n/tr.json
  i18n/uk.json
  i18n/vi.json
  i18n/zh_Hant.json
  i18n/zh_SIMPLIFIED.json
Labels: changelog:translation

#20075 fix(server): missing integer type
  mobile/openapi/lib/model/sync_asset_face_v1.dart
  open-api/immich-openapi-specs.json
  server/src/dtos/sync.dto.ts
Labels: 🗄️server, changelog:skip

#20076 chore(web): update translations
  i18n/lv.json
  i18n/nl.json
Labels: changelog:translation

#19950 feat(mobile): beta sync stats page
  i18n/en.json
  mobile/lib/domain/services/asset.service.dart
  mobile/lib/domain/services/local_album.service.dart
  mobile/lib/domain/services/memory.service.dart
  mobile/lib/domain/services/remote_album.service.dart
  mobile/lib/domain/utils/background_sync.dart
  mobile/lib/infrastructure/repositories/local_album.repository.dart
  mobile/lib/infrastructure/repositories/local_asset.repository.dart
  mobile/lib/infrastructure/repositories/memory.repository.dart
  mobile/lib/infrastructure/repositories/remote_album.repository.dart
  mobile/lib/infrastructure/repositories/remote_asset.repository.dart
  mobile/lib/pages/common/settings.page.dart
  mobile/lib/pages/settings/beta_sync_settings.page.dart
  mobile/lib/providers/background_sync.provider.dart
  mobile/lib/providers/sync_status.provider.dart
  mobile/lib/routing/router.dart
  mobile/lib/routing/router.gr.dart
  mobile/lib/widgets/settings/beta_sync_settings/beta_sync_settings.dart
  mobile/lib/widgets/settings/beta_sync_settings/entity_count_tile.dart
  mobile/lib/widgets/settings/settings_card.dart
Labels: 📱mobile, changelog:feature

#20083 fix: reduce asset_viewer reloads
  mobile/lib/constants/constants.dart
  mobile/lib/infrastructure/repositories/remote_asset.repository.dart
  mobile/lib/presentation/widgets/action_buttons/archive_action_button.widget.dart
  mobile/lib/presentation/widgets/action_buttons/delete_local_action_button.widget.dart
  mobile/lib/presentation/widgets/action_buttons/delete_permanent_action_button.widget.dart
  mobile/lib/presentation/widgets/action_buttons/move_to_lock_folder_action_button.widget.dart
  mobile/lib/presentation/widgets/action_buttons/trash_action_button.widget.dart
  mobile/lib/presentation/widgets/asset_viewer/asset_viewer.page.dart
  mobile/lib/presentation/widgets/asset_viewer/asset_viewer.state.dart
  mobile/lib/widgets/map/map_thumbnail.dart
Labels: 📱mobile, changelog:skip

#20022 feat(mobile): asset face sync
  mobile/drift_schemas/main/drift_schema_v4.json
  mobile/lib/domain/models/asset_face.model.dart
  mobile/lib/domain/models/person.model.dart
  mobile/lib/domain/services/sync_stream.service.dart
  mobile/lib/infrastructure/entities/asset_face.entity.dart
  mobile/lib/infrastructure/entities/asset_face.entity.drift.dart
  mobile/lib/infrastructure/entities/person.entity.dart
  mobile/lib/infrastructure/entities/person.entity.drift.dart
  mobile/lib/infrastructure/repositories/asset_face.repository.dart
  mobile/lib/infrastructure/repositories/db.repository.dart
  mobile/lib/infrastructure/repositories/db.repository.drift.dart
  mobile/lib/infrastructure/repositories/db.repository.steps.dart
  mobile/lib/infrastructure/repositories/person.repository.dart
  mobile/lib/infrastructure/repositories/sync_api.repository.dart
  mobile/lib/infrastructure/repositories/sync_stream.repository.dart
  mobile/lib/presentation/pages/dev/feat_in_development.page.dart
  mobile/lib/presentation/pages/dev/media_stat.page.dart
  mobile/lib/providers/infrastructure/asset_face.provider.dart
  mobile/lib/repositories/auth.repository.dart
  mobile/test/domain/services/sync_stream_service_test.dart
  mobile/test/drift/main/generated/schema.dart
  mobile/test/drift/main/generated/schema_v4.dart
Labels: 📱mobile, changelog:skip

#20088 fix(mobile): sync icon rotation direction
  mobile/lib/widgets/common/immich_sliver_app_bar.dart
Labels: 📱mobile, changelog:skip

#20090 chore(mobile): use hides instead of changing the namespace
  mobile/lib/pages/common/settings.page.dart
Labels: 📱mobile, changelog:skip

#20092 fix: more inclusive language
  docs/docs/features/mobile-app.mdx
  i18n/en.json
Labels: documentation, changelog:translation

#20089 chore: handle requeue upload when target albums changed
  i18n/en.json
  mobile/lib/pages/backup/drift_backup.page.dart
  mobile/lib/pages/backup/drift_backup_album_selection.page.dart
  mobile/lib/pages/backup/drift_upload_detail.page.dart
  mobile/lib/providers/backup/drift_backup.provider.dart
Labels: 📱mobile, changelog:skip

#19703 feat(web): Remove from Stack
  mobile/openapi/README.md
  mobile/openapi/lib/api/stacks_api.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/controllers/stack.controller.ts
  server/src/queries/stack.repository.sql
  server/src/repositories/stack.repository.ts
  server/src/services/stack.service.spec.ts
  server/src/services/stack.service.ts
  server/src/validation.ts
  server/test/fixtures/asset.stub.ts
  web/src/lib/components/asset-viewer/actions/action.ts
  web/src/lib/components/asset-viewer/actions/remove-asset-from-stack.svelte
  web/src/lib/components/asset-viewer/actions/unstack-action.svelte
  web/src/lib/components/asset-viewer/asset-viewer-nav-bar.svelte
  web/src/lib/components/asset-viewer/asset-viewer.svelte
  web/src/lib/components/photos-page/actions/stack-action.svelte
  web/src/lib/components/photos-page/asset-grid.svelte
  web/src/lib/constants.ts
Labels: 🖥️web, 🗄️server, changelog:enhancement

#20099 chore: refactor download group
  mobile/lib/constants/constants.dart
  mobile/lib/main.dart
  mobile/lib/repositories/download.repository.dart
  mobile/lib/services/download.service.dart
  mobile/lib/utils/download.dart
Labels: changelog:skip

#20082 chore(web): update translations
  i18n/cs.json
  i18n/de.json
  i18n/et.json
  i18n/fr.json
  i18n/hu.json
  i18n/id.json
  i18n/it.json
  i18n/lv.json
  i18n/nb_NO.json
  i18n/nl.json
  i18n/ru.json
  i18n/sk.json
  i18n/sl.json
  i18n/zh_SIMPLIFIED.json
Labels: changelog:translation

#20101 feat: drift manual upload
  i18n/en.json
  mobile/lib/infrastructure/repositories/timeline.repository.dart
  mobile/lib/main.dart
  mobile/lib/presentation/widgets/action_buttons/upload_action_button.widget.dart
  mobile/lib/presentation/widgets/asset_viewer/bottom_bar.widget.dart
  mobile/lib/presentation/widgets/asset_viewer/bottom_sheet.widget.dart
  mobile/lib/presentation/widgets/bottom_sheet/archive_bottom_sheet.widget.dart
  mobile/lib/presentation/widgets/bottom_sheet/favorite_bottom_sheet.widget.dart
  mobile/lib/presentation/widgets/bottom_sheet/general_bottom_sheet.widget.dart
  mobile/lib/presentation/widgets/bottom_sheet/local_album_bottom_sheet.widget.dart
  mobile/lib/presentation/widgets/bottom_sheet/remote_album_bottom_sheet.widget.dart
  mobile/lib/providers/infrastructure/action.provider.dart
  mobile/lib/repositories/upload.repository.dart
  mobile/lib/services/drift_backup.service.dart
Labels: 📱mobile, changelog:skip

#20098 feat: export database option
  i18n/en.json
  mobile/lib/widgets/settings/beta_sync_settings/beta_sync_settings.dart
Labels: 📱mobile, changelog:skip

#20114 chore: migrate to immich/ui confirm modal
  web/package-lock.json
  web/package.json
  web/src/lib/components/asset-viewer/editor/editor-panel.svelte
  web/src/lib/components/photos-page/delete-asset-dialog.svelte
  web/src/lib/components/shared-components/change-date.spec.ts
  web/src/lib/components/shared-components/change-date.svelte
  web/src/lib/components/shared-components/change-location.svelte
  web/src/lib/managers/modal-manager.svelte.ts
  web/src/lib/modals/AssetUpdateDecriptionConfirmModal.svelte
  web/src/lib/modals/ConfirmModal.svelte
  web/src/lib/modals/JobCreateModal.svelte
  web/src/lib/modals/UserDeleteConfirmModal.svelte
Labels: 🖥️web, changelog:skip

#20116 chore: migrate to UI modal manager
  web/src/lib/components/admin-page/jobs/jobs-panel.svelte
  web/src/lib/components/admin-page/settings/auth/auth-settings.svelte
  web/src/lib/components/admin-page/settings/template-settings/template-settings.svelte
  web/src/lib/components/album-page/album-map.svelte
  web/src/lib/components/album-page/albums-list.svelte
  web/src/lib/components/asset-viewer/actions/add-to-album-action.svelte
  web/src/lib/components/asset-viewer/actions/keep-this-delete-others.svelte
  web/src/lib/components/asset-viewer/actions/set-profile-picture-action.svelte
  web/src/lib/components/asset-viewer/actions/set-visibility-action.svelte
  web/src/lib/components/asset-viewer/actions/share-action.svelte
  web/src/lib/components/asset-viewer/detail-panel-tags.svelte
  web/src/lib/components/asset-viewer/face-editor/face-editor.svelte
  web/src/lib/components/asset-viewer/slideshow-bar.svelte
  web/src/lib/components/faces-page/merge-face-selector.svelte
  web/src/lib/components/faces-page/person-side-panel.svelte
  web/src/lib/components/forms/library-import-paths-form.svelte
  web/src/lib/components/forms/library-scan-settings-form.svelte
  web/src/lib/components/photos-page/actions/add-to-album.svelte
  web/src/lib/components/photos-page/actions/change-description-action.svelte
  web/src/lib/components/photos-page/actions/create-shared-link.svelte
  web/src/lib/components/photos-page/actions/remove-from-album.svelte
  web/src/lib/components/photos-page/actions/remove-from-shared-link.svelte
  web/src/lib/components/photos-page/actions/set-visibility-action.svelte
  web/src/lib/components/photos-page/actions/tag-action.svelte
  web/src/lib/components/photos-page/asset-grid.svelte
  web/src/lib/components/shared-components/gallery-viewer/gallery-viewer.svelte
  web/src/lib/components/shared-components/map/map.svelte
  web/src/lib/components/shared-components/modal-header.svelte
  web/src/lib/components/shared-components/navigation-bar/account-info-panel.svelte
  web/src/lib/components/shared-components/search-bar/search-bar.svelte
  web/src/lib/components/shared-components/side-bar/purchase-info.svelte
  web/src/lib/components/shared-components/side-bar/server-status.svelte
  web/src/lib/components/user-settings-page/device-list.svelte
  web/src/lib/components/user-settings-page/partner-settings.svelte
  web/src/lib/components/user-settings-page/user-api-key-list.svelte
  web/src/lib/components/user-settings-page/user-purchase-settings.svelte
  web/src/lib/managers/modal-manager.svelte.ts
  web/src/lib/modals/AlbumOptionsModal.svelte
  web/src/lib/modals/AlbumUsersModal.svelte
  web/src/lib/modals/AssetUpdateDescriptionConfirmModal.svelte
  web/src/lib/utils/album-utils.ts
  web/src/routes/(user)/albums/[albumId=id]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/people/+page.svelte
  web/src/routes/(user)/people/[personId]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/shared-links/[[id=id]]/+page.svelte
  web/src/routes/(user)/tags/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/trash/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/user-settings/+page.svelte
  web/src/routes/(user)/utilities/duplicates/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/+layout.svelte
  web/src/routes/admin/jobs-status/+page.svelte
  web/src/routes/admin/library-management/+page.svelte
  web/src/routes/admin/users/+page.svelte
  web/src/routes/admin/users/[id]/+page.svelte
Labels: 🖥️web, changelog:skip

#20121 fix: album deleted toast message
  i18n/en.json
  mobile/lib/presentation/pages/drift_remote_album.page.dart
Labels: 📱mobile, changelog:skip

#20142 fix: override SSL options inside isolates
  mobile/lib/utils/http_ssl_options.dart
  mobile/lib/utils/isolate.dart
Labels: 📱mobile, changelog:bugfix

#20156 fix: fallback auto grouping to day grouping
  mobile/lib/domain/models/timeline.model.dart
  mobile/lib/domain/services/timeline.service.dart
  mobile/lib/infrastructure/repositories/timeline.repository.dart
  mobile/lib/presentation/widgets/timeline/fixed/segment_builder.dart
Labels: 📱mobile, changelog:bugfix

#20164 fix: update trash action i18n keys
  mobile/lib/presentation/widgets/action_buttons/delete_trash_action_button.widget.dart
  mobile/lib/presentation/widgets/action_buttons/restore_trash_action_button.widget.dart
Labels: 📱mobile, changelog:bugfix

#20161 chore: remove build flavor Android
  .github/workflows/build-mobile.yml
  .vscode/launch.json
  mobile/android/app/build.gradle
  mobile/android/app/src/beta/AndroidManifest.xml
  mobile/lib/widgets/common/immich_app_bar.dart
  mobile/makefile
  mobile/pubspec.yaml
Labels: 📱mobile, changelog:bugfix

#20131 fix: cancel upload queue on logout
  mobile/lib/providers/auth.provider.dart
  mobile/test/domain/service.mock.dart
  mobile/test/services/auth.service_test.dart
Labels: documentation, 📱mobile, 🖥️web, changelog:skip

#20117 fix: send correct includeArchived parameter to API when showing markers in map
  mobile/lib/providers/map/map_marker.provider.dart
  mobile/lib/providers/map/map_marker.provider.g.dart
  web/src/lib/components/shared-components/map/map.svelte
Labels: 📱mobile, 🖥️web, changelog:bugfix

#19461 fix(web): multi-select in ascending asset order
  web/src/lib/managers/timeline-manager/internal/search-support.svelte.ts
  web/src/lib/managers/timeline-manager/timeline-manager.svelte.ts
Labels: 🖥️web, changelog:bugfix

#19328 fix(mobile): hide video thumbnail when video is ready
  mobile/lib/pages/common/native_video_viewer.page.dart
Labels: 📱mobile, changelog:bugfix

#20177 fix: geodata_places pkey migration failing for certain upgrade paths
  server/src/schema/migrations/1752161055253-RenameGeodataPKConstraint.ts
Labels: 🗄️server, changelog:bugfix

#20202 chore: add missing 'make pigeon' instruction
  .github/workflows/static_analysis.yml
Labels: changelog:documentation

#20111 fix(mobile): deep links when using the beta timeline
  mobile/lib/domain/services/asset.service.dart
  mobile/lib/domain/services/memory.service.dart
  mobile/lib/domain/services/remote_album.service.dart
  mobile/lib/infrastructure/repositories/memory.repository.dart
  mobile/lib/infrastructure/repositories/remote_album.repository.dart
  mobile/lib/infrastructure/repositories/remote_asset.repository.dart
  mobile/lib/services/deep_link.service.dart
Labels: 📱mobile, changelog:bugfix

#20247 fix(mobile): beta search page improvements
  mobile/lib/presentation/pages/search/drift_search.page.dart
  mobile/lib/presentation/widgets/timeline/timeline.widget.dart
Labels: 📱mobile, changelog:bugfix

#20248 feat(web): api key permission search
  web/src/lib/components/elements/search-bar.svelte
  web/src/lib/components/user-settings-page/user-api-key-grid.svelte
  web/src/lib/modals/ApiKeyModal.svelte
Labels: 🖥️web, changelog:enhancement

#20250 feat!: more permissions
  e2e/src/api/specs/album.e2e-spec.ts
  mobile/openapi/lib/model/permission.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/controllers/album.controller.ts
  server/src/controllers/asset-media.controller.ts
  server/src/controllers/asset.controller.ts
  server/src/controllers/auth.controller.ts
  server/src/controllers/download.controller.ts
  server/src/controllers/duplicate.controller.ts
  server/src/controllers/job.controller.ts
  server/src/controllers/memory.controller.ts
  server/src/controllers/search.controller.ts
  server/src/controllers/server.controller.ts
  server/src/controllers/sync.controller.ts
  server/src/controllers/user.controller.ts
  server/src/enum.ts
  server/src/schema/migrations/1753464178233-RenameApiKeyPermissions.ts
  server/src/services/album.service.ts
  server/src/utils/access.ts
Labels: 🗄️server, changelog:breaking-change

#20256 feat: automatically detect media location changes
  .devcontainer/mobile/container-compose-overrides.yml
  .devcontainer/server/container-compose-overrides.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.prod.yml
  e2e/docker-compose.yml
  server/src/repositories/database.repository.ts
  server/src/services/storage.service.spec.ts
  server/src/services/storage.service.ts
Labels: 🗄️server, changelog:feature

#20237 fix(mobile): distinguish backup settings title from 'backup_controller_page_backup' translation entry
  i18n/en.json
  mobile/lib/pages/common/settings.page.dart
Labels: 📱mobile, changelog:translation

#20284 fix(mobile): places search not working in beta version
  mobile/lib/presentation/pages/drift_place.page.dart
Labels: 📱mobile, changelog:bugfix

#20285 fix: no hero animation after tab change
  mobile/lib/presentation/widgets/asset_viewer/asset_viewer.page.dart
  mobile/lib/presentation/widgets/images/thumbnail_tile.widget.dart
  mobile/lib/presentation/widgets/timeline/fixed/segment.model.dart
  mobile/lib/routing/router.gr.dart
Labels: 📱mobile, changelog:bugfix

#20299 fix: error on navigating back from backup selection page
  mobile/lib/pages/backup/drift_backup_album_selection.page.dart
Labels: 📱mobile, changelog:bugfix

#20297 fix(docs): update SQL queries with schema changes
  docs/docs/guides/database-queries.md
Labels: documentation, changelog:documentation

#20336 fix: change translation key for archive action button
  mobile/lib/presentation/widgets/action_buttons/archive_action_button.widget.dart
  mobile/lib/presentation/widgets/memory/memory_bottom_info.widget.dart
Labels: 📱mobile, changelog:bugfix

#20353 chore(docs): add links to Custom Scan Interval from other sections in external library doc
  docs/docs/features/libraries.md
Labels: documentation, changelog:skip

#20347 feat(server): include reason in null reverse geocoding logs
  server/src/constants.ts
  server/src/repositories/map.repository.ts
Labels: 🗄️server, changelog:skip

#20363 fix: debug source maps
  .vscode/launch.json
Labels: changelog:skip

#20358 chore: set sqlite busy_timeout to 500ms
  mobile/lib/infrastructure/repositories/db.repository.dart
Labels: 📱mobile, changelog:skip

#20373 chore: add permission metadata to open-api document
  open-api/immich-openapi-specs.json
  server/src/middleware/auth.guard.ts
Labels: 🗄️server, changelog:skip

#18040 feat: find large files utility
  i18n/en.json
  mobile/openapi/README.md
  mobile/openapi/lib/api/search_api.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/controllers/search.controller.ts
  server/src/dtos/search.dto.ts
  server/src/queries/search.repository.sql
  server/src/repositories/search.repository.ts
  server/src/services/search.service.ts
  server/test/medium/specs/services/search.service.spec.ts
  web/src/lib/components/utilities-page/large-assets/large-asset-data.svelte
  web/src/lib/components/utilities-page/utilities-menu.svelte
  web/src/lib/constants.ts
  web/src/lib/utils/asset-utils.ts
  web/src/routes/(user)/utilities/large-files/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/utilities/large-files/[[photos=photos]]/[[assetId=id]]/+page.ts
Labels: 🖥️web, 🗄️server, changelog:feature

#20378 fix: openapi spec
  open-api/immich-openapi-specs.json
Labels: changelog:skip

#20399 docs: add immich_ml_balancer to community projects
  docs/src/components/community-projects.tsx
Labels: documentation, changelog:documentation

#20402 fix: handle cleanup of new backups alongside old backups
  server/src/services/backup.service.spec.ts
  server/src/services/backup.service.ts
Labels: 🗄️server, changelog:bugfix

#20389 fix: android widget periodic updates
  mobile/android/app/src/main/kotlin/app/alextran/immich/widget/ImageDownloadWorker.kt
  mobile/android/app/src/main/kotlin/app/alextran/immich/widget/MemoryReceiver.kt
  mobile/android/app/src/main/kotlin/app/alextran/immich/widget/RandomReceiver.kt
Labels: changelog:bugfix

#20298 fix: show missing local assets only in timeline with partner sharing
  mobile/lib/infrastructure/entities/merged_asset.drift
  mobile/lib/infrastructure/entities/merged_asset.drift.dart
  mobile/lib/infrastructure/repositories/timeline.repository.dart
Labels: 📱mobile, changelog:bugfix

#20367 feat: change default media location to /data
  .devcontainer/mobile/container-compose-overrides.yml
  .devcontainer/server/container-compose-overrides.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.prod.yml
  docker/docker-compose.yml
  docs/docs/FAQ.mdx
  docs/docs/administration/server-commands.md
  docs/docs/features/libraries.md
  docs/docs/guides/custom-locations.md
  docs/docs/guides/external-library.md
  docs/docs/install/environment-variables.md
  docs/src/pages/errors.md
  e2e/docker-compose.yml
  e2e/src/utils.ts
  server/Dockerfile
  server/src/commands/media-location.command.ts
  server/src/constants.ts
  server/src/cores/storage.core.spec.ts
  server/src/cores/storage.core.ts
  server/src/enum.ts
  server/src/repositories/config.repository.ts
  server/src/repositories/storage.repository.ts
  server/src/services/asset-media.service.spec.ts
  server/src/services/auth.service.spec.ts
  server/src/services/download.service.spec.ts
  server/src/services/job.service.spec.ts
  server/src/services/library.service.spec.ts
  server/src/services/media.service.spec.ts
  server/src/services/metadata.service.spec.ts
  server/src/services/server.service.spec.ts
  server/src/services/storage-template.service.spec.ts
  server/src/services/storage.service.spec.ts
  server/src/services/storage.service.ts
  server/src/services/user.service.spec.ts
  server/test/fixtures/asset.stub.ts
  server/test/medium/specs/services/storage.service.spec.ts
  server/test/repositories/storage.repository.mock.ts
  server/test/small.factory.ts
  web/src/lib/utils/asset-utils.spec.ts
Labels: documentation, 🖥️web, 🗄️server, changelog:feature

#20383 feat: drift description editor
  i18n/en.json
  mobile/lib/infrastructure/repositories/remote_asset.repository.dart
  mobile/lib/presentation/widgets/asset_viewer/bottom_sheet.widget.dart
  mobile/lib/providers/infrastructure/action.provider.dart
  mobile/lib/repositories/asset_api.repository.dart
  mobile/lib/services/action.service.dart
Labels: 📱mobile, changelog:feature

#20417 fix: tweak error docs
  docs/src/pages/errors.md
Labels: documentation, changelog:skip

#20309 feat: people page/sheet/detail
  i18n/en.json
  mobile/lib/domain/models/person.model.dart
  mobile/lib/domain/services/people.service.dart
  mobile/lib/domain/services/timeline.service.dart
  mobile/lib/infrastructure/repositories/asset_face.repository.dart
  mobile/lib/infrastructure/repositories/people.repository.dart
  mobile/lib/infrastructure/repositories/person.repository.dart
  mobile/lib/infrastructure/repositories/timeline.repository.dart
  mobile/lib/pages/library/partner/drift_partner.page.dart
  mobile/lib/presentation/pages/drift_library.page.dart
  mobile/lib/presentation/pages/drift_people_collection.page.dart
  mobile/lib/presentation/pages/drift_person.page.dart
  mobile/lib/presentation/widgets/asset_viewer/asset_viewer.page.dart
  mobile/lib/presentation/widgets/asset_viewer/bottom_sheet.widget.dart
  mobile/lib/presentation/widgets/asset_viewer/bottom_sheet/sheet_location_details.widget.dart
  mobile/lib/presentation/widgets/asset_viewer/bottom_sheet/sheet_people_details.widget.dart
  mobile/lib/presentation/widgets/people/partner_user_avatar.widget.dart
  mobile/lib/presentation/widgets/people/person_edit_birthday_modal.widget.dart
  mobile/lib/presentation/widgets/people/person_edit_name_modal.widget.dart
  mobile/lib/presentation/widgets/people/person_option_sheet.widget.dart
  mobile/lib/presentation/widgets/timeline/fixed/segment.model.dart
  mobile/lib/providers/infrastructure/asset_face.provider.dart
  mobile/lib/providers/infrastructure/people.provider.dart
  mobile/lib/providers/infrastructure/person.provider.dart
  mobile/lib/providers/routes.provider.dart
  mobile/lib/repositories/person_api.repository.dart
  mobile/lib/routing/app_navigation_observer.dart
  mobile/lib/routing/router.dart
  mobile/lib/routing/router.gr.dart
  mobile/lib/utils/people.utils.dart
  mobile/lib/widgets/common/person_sliver_app_bar.dart
  mobile/lib/widgets/photo_view/photo_view_gallery.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: 📱mobile, changelog:enhancement

#20425 fix: exclude assets from excluded albumbs on main timeline
  mobile/lib/infrastructure/entities/merged_asset.drift
  mobile/lib/infrastructure/entities/merged_asset.drift.dart
Labels: 📱mobile, changelog:bugfix

#20203 fix: user profile images not working in beta timeline
  mobile/drift_schemas/main/drift_schema_v5.json
  mobile/lib/domain/models/user.model.dart
  mobile/lib/domain/services/user.service.dart
  mobile/lib/infrastructure/entities/user.entity.dart
  mobile/lib/infrastructure/entities/user.entity.drift.dart
  mobile/lib/infrastructure/repositories/db.repository.dart
  mobile/lib/infrastructure/repositories/db.repository.steps.dart
  mobile/lib/infrastructure/repositories/remote_album.repository.dart
  mobile/lib/infrastructure/repositories/sync_stream.repository.dart
  mobile/lib/infrastructure/utils/user.converter.dart
  mobile/lib/presentation/pages/drift_user_selection.page.dart
  mobile/lib/providers/auth.provider.dart
  mobile/lib/utils/openapi_patching.dart
  mobile/lib/widgets/common/user_circle_avatar.dart
  mobile/openapi/lib/model/sync_user_v1.dart
  mobile/test/domain/services/user_service_test.dart
  mobile/test/drift/main/generated/schema.dart
  mobile/test/drift/main/generated/schema_v5.dart
  mobile/test/fixtures/sync_stream.stub.dart
  mobile/test/fixtures/user.stub.dart
  mobile/test/modules/shared/sync_service_test.dart
  open-api/immich-openapi-specs.json
  server/src/database.ts
  server/src/dtos/sync.dto.ts
  server/src/queries/sync.repository.sql
  server/src/repositories/sync.repository.ts
  server/src/schema/migrations/1753800911775-ProfileImageCheckpointRemoval.ts
  server/src/services/sync.service.ts
  server/test/medium/specs/sync/sync-user.spec.ts
Labels: 📱mobile, 🗄️server, changelog:bugfix

#20438 fix(web): timeline time bucket issue
  web/src/lib/components/photos-page/asset-grid.svelte
  web/src/lib/managers/timeline-manager/group-insertion-cache.svelte.ts
  web/src/lib/managers/timeline-manager/internal/load-support.svelte.ts
  web/src/lib/managers/timeline-manager/internal/operations-support.svelte.ts
  web/src/lib/managers/timeline-manager/internal/search-support.svelte.ts
  web/src/lib/managers/timeline-manager/month-group.svelte.ts
  web/src/lib/managers/timeline-manager/timeline-manager.svelte.ts
  web/src/lib/managers/timeline-manager/types.ts
  web/src/lib/utils/timeline-util.ts
Labels: 🖥️web, changelog:bugfix, preview

#20439 feat: better endpoint descriptions
  mobile/openapi/lib/api/activities_api.dart
  mobile/openapi/lib/api/albums_api.dart
  mobile/openapi/lib/api/api_keys_api.dart
  mobile/openapi/lib/api/assets_api.dart
  mobile/openapi/lib/api/authentication_api.dart
  mobile/openapi/lib/api/deprecated_api.dart
  mobile/openapi/lib/api/download_api.dart
  mobile/openapi/lib/api/duplicates_api.dart
  mobile/openapi/lib/api/faces_api.dart
  mobile/openapi/lib/api/jobs_api.dart
  mobile/openapi/lib/api/libraries_api.dart
  mobile/openapi/lib/api/map_api.dart
  mobile/openapi/lib/api/memories_api.dart
  mobile/openapi/lib/api/notifications_api.dart
  mobile/openapi/lib/api/partners_api.dart
  mobile/openapi/lib/api/people_api.dart
  mobile/openapi/lib/api/search_api.dart
  mobile/openapi/lib/api/server_api.dart
  mobile/openapi/lib/api/sessions_api.dart
  mobile/openapi/lib/api/shared_links_api.dart
  mobile/openapi/lib/api/stacks_api.dart
  mobile/openapi/lib/api/sync_api.dart
  mobile/openapi/lib/api/system_config_api.dart
  mobile/openapi/lib/api/system_metadata_api.dart
  mobile/openapi/lib/api/tags_api.dart
  mobile/openapi/lib/api/timeline_api.dart
  mobile/openapi/lib/api/trash_api.dart
  mobile/openapi/lib/api/users_admin_api.dart
  mobile/openapi/lib/api/users_api.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/enum.ts
  server/src/middleware/auth.guard.ts
  server/src/utils/misc.ts
Labels: 🗄️server, changelog:feature

#20302 feat: network requirement option for upload
  i18n/en.json
  mobile/lib/domain/models/store.model.dart
  mobile/lib/main.dart
  mobile/lib/pages/backup/drift_backup.page.dart
  mobile/lib/pages/backup/drift_backup_options.page.dart
  mobile/lib/pages/common/settings.page.dart
  mobile/lib/providers/backup/drift_backup.provider.dart
  mobile/lib/routing/router.dart
  mobile/lib/routing/router.gr.dart
  mobile/lib/services/app_settings.service.dart
  mobile/lib/services/upload.service.dart
  mobile/lib/widgets/settings/backup_settings/drift_backup_settings.dart
Labels: 📱mobile, changelog:enhancement

#20105 chore(web): update translations
  i18n/ar.json
  i18n/be.json
  i18n/bg.json
  i18n/bn.json
  i18n/ca.json
  i18n/cs.json
  i18n/da.json
  i18n/de.json
  i18n/el.json
  i18n/es.json
  i18n/et.json
  i18n/fa.json
  i18n/fi.json
  i18n/fr.json
  i18n/gl.json
  i18n/he.json
  i18n/hi.json
  i18n/hr.json
  i18n/hu.json
  i18n/hy.json
  i18n/id.json
  i18n/it.json
  i18n/ja.json
  i18n/ko.json
  i18n/lt.json
  i18n/lv.json
  i18n/mk.json
  i18n/ml.json
  i18n/nb_NO.json
  i18n/nl.json
  i18n/pl.json
  i18n/pt.json
  i18n/pt_BR.json
  i18n/ro.json
  i18n/ru.json
  i18n/sk.json
  i18n/sl.json
  i18n/sr_Cyrl.json
  i18n/sr_Latn.json
  i18n/sv.json
  i18n/ta.json
  i18n/te.json
  i18n/th.json
  i18n/tr.json
  i18n/uk.json
  i18n/vi.json
  i18n/zh_Hant.json
  i18n/zh_SIMPLIFIED.json
Labels: changelog:translation

#20214 fix(mobile): add partial index based on library ID to remote assets
  mobile/drift_schemas/main/drift_schema_v6.json
  mobile/lib/infrastructure/entities/remote_asset.entity.dart
  mobile/lib/infrastructure/entities/remote_asset.entity.drift.dart
  mobile/lib/infrastructure/repositories/db.repository.dart
  mobile/lib/infrastructure/repositories/db.repository.drift.dart
  mobile/lib/infrastructure/repositories/db.repository.steps.dart
  mobile/lib/infrastructure/repositories/sync_stream.repository.dart
  mobile/openapi/lib/model/sync_asset_v1.dart
  mobile/test/drift/main/generated/schema.dart
  mobile/test/drift/main/generated/schema_v6.dart
  open-api/immich-openapi-specs.json
  server/src/database.ts
  server/src/dtos/sync.dto.ts
  server/src/queries/sync.repository.sql
  server/src/services/job.service.ts
  server/test/medium/specs/sync/sync-album-asset.spec.ts
  server/test/medium/specs/sync/sync-asset.spec.ts
  server/test/medium/specs/sync/sync-partner-asset.spec.ts
Labels: 📱mobile, 🗄️server, changelog:bugfix

#20241 fix(download): handle completed downloads and refresh albums
  mobile/lib/providers/infrastructure/action.provider.dart
Labels: 📱mobile, changelog:bugfix

#20377 feat: drift edit time and date action
  i18n/en.json
  mobile/lib/infrastructure/repositories/remote_asset.repository.dart
  mobile/lib/presentation/widgets/action_buttons/edit_date_time_action_button.widget.dart
  mobile/lib/presentation/widgets/asset_viewer/bottom_sheet.widget.dart
  mobile/lib/presentation/widgets/bottom_sheet/archive_bottom_sheet.widget.dart
  mobile/lib/presentation/widgets/bottom_sheet/favorite_bottom_sheet.widget.dart
  mobile/lib/presentation/widgets/bottom_sheet/general_bottom_sheet.widget.dart
  mobile/lib/presentation/widgets/bottom_sheet/remote_album_bottom_sheet.widget.dart
  mobile/lib/providers/infrastructure/action.provider.dart
  mobile/lib/repositories/asset_api.repository.dart
  mobile/lib/services/action.service.dart
  mobile/lib/widgets/common/date_time_picker.dart
Labels: 📱mobile, changelog:feature

#20489 fix: automatic media location migration without internal assets
  server/src/queries/asset.repository.sql
  server/src/repositories/asset.repository.ts
  server/src/services/cli.service.ts
  server/src/services/storage.service.ts
Labels: 🗄️server, changelog:bugfix
