Repository immich-app/immich, pull requests merged in 2025-02, with the labels that each got.

#15843 feat: merch links
  docs/docusaurus.config.js
  docs/src/pages/index.tsx
Labels: documentation, changelog:skip

#15857 docs: TrueNAS: add danger message to external libraries
  docs/docs/install/truenas.md
Labels: documentation, changelog:documentation

#15859 fix(mobile): title of custom proxy headers
  mobile/assets/i18n/en-US.json
Labels: 📱mobile, changelog:skip

#15818 feat: search by description
  i18n/en.json
  mobile/assets/i18n/en-US.json
  mobile/lib/constants/enums.dart
  mobile/lib/models/search/search_filter.model.dart
  mobile/lib/pages/search/search.page.dart
  mobile/lib/services/search.service.dart
  mobile/lib/widgets/forms/login/login_form.dart
  mobile/openapi/lib/model/metadata_search_dto.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/dtos/search.dto.ts
  server/src/entities/asset.entity.ts
  server/src/interfaces/search.interface.ts
  web/src/lib/components/shared-components/search-bar/search-filter-modal.svelte
  web/src/lib/components/shared-components/search-bar/search-text-section.svelte
  web/src/routes/(user)/search/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 📱mobile, 🖥️web, 🗄️server, changelog:enhancement

#15852 refactor(mobile): Use `switch` expression when possible
  mobile/lib/entities/asset.entity.dart
  mobile/lib/entities/store.entity.dart
  mobile/lib/entities/user.entity.dart
  mobile/lib/pages/common/app_log.page.dart
  mobile/lib/pages/common/download_panel.dart
  mobile/lib/pages/editing/crop.page.dart
  mobile/lib/pages/onboarding/permission_onboarding.page.dart
  mobile/lib/repositories/album.repository.dart
  mobile/lib/repositories/asset.repository.dart
  mobile/lib/repositories/backup.repository.dart
  mobile/lib/repositories/user.repository.dart
  mobile/lib/services/backup.service.dart
  mobile/lib/utils/storage_indicator.dart
  mobile/lib/widgets/common/immich_toast.dart
  mobile/lib/widgets/photo_view/photo_view.dart
  mobile/lib/widgets/photo_view/src/utils/photo_view_utils.dart
  mobile/lib/widgets/settings/networking_settings/networking_settings.dart
Labels: 📱mobile, changelog:skip

#15831 chore: build metadata for ML container
  machine-learning/Dockerfile
  machine-learning/start.sh
Labels: changelog:skip

#15863 fix(docs): query DB by ID
  docs/docs/guides/database-queries.md
Labels: documentation, changelog:documentation

#15880 feat(web): Updated Onboarding page
  web/src/lib/components/onboarding-page/onboarding-storage-template.svelte
Labels: 🖥️web, changelog:bugfix

#15885 feat(mobile): Use `NavigationRail` when the screen is in landscape mode
  mobile/lib/pages/common/tab_controller.page.dart
Labels: 📱mobile, changelog:enhancement

#15827 feat(web): merge suggestion modal: focus on Yes button by default.
  web/src/lib/components/faces-page/merge-suggestion-modal.svelte
Labels: 🖥️web, changelog:enhancement

#15886 fix(mobile): improved the visibility of backup cloud icon on lighter images
  mobile/lib/widgets/asset_grid/thumbnail_image.dart
Labels: 📱mobile, changelog:enhancement

#15874 fix: bash install.sh script for mac os
  install.sh
Labels: documentation, changelog:documentation

#15210 fix(mobile): #15182 Video memories no longer play
  mobile/lib/pages/common/native_video_viewer.page.dart
  mobile/lib/pages/photos/memory.page.dart
  mobile/lib/widgets/memories/memory_card.dart
  mobile/lib/widgets/memories/memory_lane.dart
Labels: 📱mobile, changelog:bugfix

#14866 feat: Mark people as favorite
  e2e/src/api/specs/person.e2e-spec.ts
  mobile/openapi/lib/model/people_update_item.dart
  mobile/openapi/lib/model/person_create_dto.dart
  mobile/openapi/lib/model/person_response_dto.dart
  mobile/openapi/lib/model/person_update_dto.dart
  mobile/openapi/lib/model/person_with_faces_response_dto.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/db.d.ts
  server/src/dtos/person.dto.ts
  server/src/entities/person.entity.ts
  server/src/migrations/1734879118272-AddIsFavoritePerson.ts
  server/src/repositories/person.repository.ts
  server/src/services/person.service.spec.ts
  server/src/services/person.service.ts
  server/test/fixtures/person.stub.ts
  web/src/lib/components/faces-page/people-card.svelte
  web/src/routes/(user)/explore/+page.svelte
  web/src/routes/(user)/people/+page.svelte
  web/src/routes/(user)/people/[personId]/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: documentation, 📱mobile, 🖥️web, 🗄️server, changelog:enhancement

#15864 fix(server): queue missing metadata
  e2e/src/api/specs/jobs.e2e-spec.ts
  e2e/src/utils.ts
  server/src/repositories/asset.repository.ts
Labels: 🗄️server, changelog:bugfix

#15860 docs: add-current-path-to-version-switcher
  docs/src/components/version-switcher.tsx
Labels: documentation, changelog:documentation

#15900 fix(web): prevent accidental modal closures on mouseup outside
  web/src/lib/actions/click-outside.ts
Labels: 🖥️web, changelog:bugfix

#15893 fix: pr template not being used and make some changes
  .github/PULL_REQUEST_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  .github/pull_request_template.md
Labels: changelog:skip

#15899 refactor: get map markers database query
  server/src/queries/map.repository.sql
  server/src/repositories/map.repository.ts
Labels: 🗄️server, changelog:skip

#15907 chore(server): follow up on #15899
  server/src/queries/map.repository.sql
  server/src/repositories/map.repository.ts
Labels: 🗄️server, changelog:skip

#15917 fix: call hexOrBufferToBase64 for stripMetadata thumbhash
  server/src/dtos/asset-response.dto.ts
Labels: 🗄️server, changelog:bugfix

#15913 fix(docs): typo in unraid.md
  docs/docs/install/unraid.md
Labels: documentation, changelog:skip

#15920 fix(server): always get UTC dates from postgres
  server/src/repositories/config.repository.ts
Labels: 🗄️server, changelog:bugfix

#15927 chore(docs): update setup.md to include FVM dependency
  docs/docs/developer/setup.md
Labels: documentation, changelog:documentation

#15542 chore: nestjs 11
  server/package-lock.json
  server/package.json
Labels: changelog:skip

#12219 feat(web): revamp places
  i18n/en.json
  web/src/lib/components/elements/dropdown.svelte
  web/src/lib/components/places-page/places-card-group.svelte
  web/src/lib/components/places-page/places-controls.svelte
  web/src/lib/components/places-page/places-list.svelte
  web/src/lib/stores/preferences.store.ts
  web/src/lib/utils/places-utils.ts
  web/src/routes/(user)/places/+page.svelte
Labels: 🖥️web, changelog:feature

#15894 fix(docs): show version selection dropdown on mobile
  docs/src/components/version-switcher.tsx
  docs/src/css/custom.css
Labels: documentation, changelog:documentation

#15941 docs: soften wording for openvino igpu
  docs/docs/features/ml-hardware-acceleration.md
Labels: documentation, changelog:documentation

#15943 feat: view album shared links
  e2e/src/api/specs/shared-link.e2e-spec.ts
  mobile/openapi/lib/api/shared_links_api.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/controllers/shared-link.controller.ts
  server/src/dtos/shared-link.dto.ts
  server/src/interfaces/shared-link.interface.ts
  server/src/repositories/shared-link.repository.ts
  server/src/services/shared-link.service.spec.ts
  server/src/services/shared-link.service.ts
  web/src/lib/components/album-page/album-shared-link.svelte
  web/src/lib/components/album-page/user-selection-modal.svelte
  web/src/routes/(user)/shared-links/[[id=id]]/+page.svelte
Labels: 🖥️web, 🗄️server, changelog:enhancement

#15954 refactor: system metadata repository
  server/src/cores/storage.core.ts
  server/src/interfaces/system-metadata.interface.ts
  server/src/repositories/index.ts
  server/src/repositories/map.repository.ts
  server/src/repositories/system-metadata.repository.ts
  server/src/services/asset.service.spec.ts
  server/src/services/auth.service.spec.ts
  server/src/services/backup.service.spec.ts
  server/src/services/base.service.ts
  server/src/services/cli.service.spec.ts
  server/src/services/duplicate.service.spec.ts
  server/src/services/media.service.spec.ts
  server/src/services/metadata.service.spec.ts
  server/src/services/notification.service.spec.ts
  server/src/services/person.service.spec.ts
  server/src/services/server.service.spec.ts
  server/src/services/smart-info.service.spec.ts
  server/src/services/storage-template.service.spec.ts
  server/src/services/storage.service.spec.ts
  server/src/services/system-config.service.spec.ts
  server/src/services/system-metadata.service.spec.ts
  server/src/services/user.service.spec.ts
  server/src/services/version.service.spec.ts
  server/src/types.ts
  server/src/utils/config.ts
  server/test/repositories/system-metadata.repository.mock.ts
  server/test/utils.ts
Labels: 🗄️server, changelog:skip

#15956 refactor: process repository
  server/src/interfaces/process.interface.ts
  server/src/repositories/index.ts
  server/src/repositories/process.repository.ts
  server/src/services/backup.service.spec.ts
  server/src/services/base.service.ts
  server/src/types.ts
  server/test/repositories/process.repository.mock.ts
  server/test/utils.ts
Labels: 🗄️server, changelog:skip

#15957 refactor: session repository
  server/src/dtos/session.dto.ts
  server/src/interfaces/session.interface.ts
  server/src/repositories/index.ts
  server/src/repositories/session.repository.ts
  server/src/services/auth.service.spec.ts
  server/src/services/auth.service.ts
  server/src/services/base.service.ts
  server/src/services/session.service.spec.ts
  server/src/types.ts
  server/test/repositories/session.repository.mock.ts
  server/test/utils.ts
Labels: 🗄️server, changelog:skip

#15960 chore(web): shared links style tweaks
  web/src/lib/components/album-page/user-selection-modal.svelte
  web/src/routes/(user)/shared-links/[[id=id]]/+page.svelte
Labels: 🖥️web, changelog:skip

#15967 fix(server): validate oauth profile has a sub
  server/src/repositories/oauth.repository.ts
Labels: 🗄️server, changelog:bugfix

#15988 docs: add-hash #15860 follow-up
  docs/src/components/version-switcher.tsx
Labels: documentation, changelog:skip

#15998 chore(mobile): post release task
  mobile/ios/Runner.xcodeproj/project.pbxproj
  mobile/ios/Runner/Info.plist
Labels: changelog:skip

#16000 chore(mobile): patch openapi preference
  mobile/lib/utils/openapi_patching.dart
Labels: changelog:bugfix

#16010 fix(web): Update shared link Exif capitalization to match existing capitalization
  web/src/lib/components/album-page/album-shared-link.svelte
Labels: 🖥️web, changelog:bugfix

#16038 refactor: repositories
  server/src/app.module.ts
  server/src/decorators.ts
  server/src/enum.ts
  server/src/interfaces/event.interface.ts
  server/src/interfaces/machine-learning.interface.ts
  server/src/repositories/event.repository.ts
  server/src/repositories/index.ts
  server/src/repositories/job.repository.ts
  server/src/repositories/machine-learning.repository.ts
  server/src/services/backup.service.ts
  server/src/services/base.service.ts
  server/src/services/database.service.ts
  server/src/services/job.service.ts
  server/src/services/library.service.ts
  server/src/services/metadata.service.ts
  server/src/services/notification.service.ts
  server/src/services/person.service.spec.ts
  server/src/services/person.service.ts
  server/src/services/smart-info.service.ts
  server/src/services/storage-template.service.ts
  server/src/services/system-config.service.ts
  server/src/services/version.service.ts
  server/src/utils/asset.util.ts
  server/test/repositories/event.repository.mock.ts
  server/test/repositories/machine-learning.repository.mock.ts
  server/test/utils.ts
Labels: 🗄️server, changelog:skip

#16056 feat(mobile): Made Map Bottom Sheet extendable higher
  mobile/lib/widgets/map/map_bottom_sheet.dart
Labels: 📱mobile, changelog:enhancement

#16066 refactor(server): narrow auth types
  server/src/controllers/user.controller.ts
  server/src/database.ts
  server/src/db.d.ts
  server/src/dtos/auth.dto.ts
  server/src/dtos/user.dto.ts
  server/src/entities/user-metadata.entity.ts
  server/src/queries/api.key.repository.sql
  server/src/queries/session.repository.sql
  server/src/queries/shared.link.repository.sql
  server/src/repositories/api-key.repository.ts
  server/src/repositories/session.repository.ts
  server/src/repositories/shared-link.repository.ts
  server/src/repositories/user.repository.ts
  server/src/services/auth.service.ts
  server/src/services/download.service.ts
  server/src/services/notification.service.ts
  server/src/services/user-admin.service.ts
  server/src/services/user.service.spec.ts
  server/src/services/user.service.ts
  server/src/types.ts
  server/src/utils/access.ts
  server/src/utils/preferences.ts
  server/test/fixtures/auth.stub.ts
  server/test/fixtures/user.stub.ts
  server/test/repositories/user.repository.mock.ts
Labels: 🗄️server, changelog:skip

#16074 docs: put Windows restore command on one line
  docs/docs/administration/backup-and-restore.md
Labels: documentation, changelog:documentation

#16084 fix: broken html id
  web/src/lib/components/faces-page/merge-face-selector.svelte
Labels: 🖥️web, changelog:skip

#16085 feat: comment URL on previewed PRs
  .github/workflows/preview-comment.yaml
Labels: changelog:skip

#15669 feat(server): Nullable asset dates
  e2e/src/api/specs/library.e2e-spec.ts
  server/src/db.d.ts
  server/src/entities/asset.entity.ts
  server/src/migrations/1737845696644-NullableDates.ts
  server/src/queries/activity.repository.sql
  server/src/queries/asset.repository.sql
  server/src/queries/search.repository.sql
  server/src/queries/view.repository.sql
  server/src/repositories/activity.repository.ts
  server/src/repositories/asset.repository.ts
  server/src/repositories/view-repository.ts
  server/src/services/library.service.ts
  server/src/services/metadata.service.ts
Labels: documentation, 📱mobile, 🖥️web, 🗄️server, changelog:skip

#16095 fix(web): properly project profile picture
  web/src/lib/components/shared-components/profile-image-cropper.svelte
Labels: 🖥️web, changelog:bugfix

#16098 ci: docker images sha commit tag
  .github/workflows/docker.yml
Labels: changelog:skip

#16103 ci: retag commit hash unset outside of PRs
  .github/workflows/docker.yml
Labels: changelog:skip

#16100 refactor(mobile): asset stack provider
  mobile/analysis_options.yaml
  mobile/lib/interfaces/asset.interface.dart
  mobile/lib/providers/asset_viewer/asset_stack.provider.dart
  mobile/lib/repositories/asset.repository.dart
  mobile/lib/routing/router.gr.dart
  mobile/lib/services/asset.service.dart
Labels: 📱mobile, changelog:skip

#16099 refactor(mobile): album provider
  mobile/analysis_options.yaml
  mobile/immich_lint/pubspec.yaml
  mobile/lib/interfaces/album.interface.dart
  mobile/lib/providers/album/album.provider.dart
  mobile/lib/repositories/album.repository.dart
  mobile/lib/services/album.service.dart
  mobile/openapi/devtools_options.yaml
Labels: 📱mobile, changelog:skip

#16104 fix: place suggestions not clickable in asset set location modal
  web/src/lib/components/shared-components/change-location.svelte
Labels: 🖥️web, changelog:bugfix

#16106 feat(web): use thumbhash as a cache key
  web/src/lib/components/asset-viewer/asset-viewer.svelte
  web/src/lib/components/asset-viewer/editor/crop-tool/crop-area.svelte
  web/src/lib/components/asset-viewer/photo-viewer.spec.ts
  web/src/lib/components/asset-viewer/photo-viewer.svelte
  web/src/lib/components/asset-viewer/video-native-viewer.svelte
  web/src/lib/components/asset-viewer/video-wrapper-viewer.svelte
  web/src/lib/components/assets/thumbnail/thumbnail.svelte
  web/src/lib/utils.ts
Labels: 🖥️web, changelog:enhancement

#16146 chore: add warning to all compose files
  docker/docker-compose.dev.yml
  docker/docker-compose.prod.yml
  docker/docker-compose.yml
Labels: changelog:skip

#16155 ci: copy image layers from ghcr to dockerhub on release
  .github/workflows/docker.yml
Labels: changelog:skip

#16156 ci: docker build cache
  .github/workflows/docker.yml
Labels: 🗄️server, changelog:skip

#16116 fix: include live images in person view count
  server/src/queries/person.repository.sql
  server/src/repositories/person.repository.ts
Labels: 🗄️server, changelog:bugfix

#16164 fix: limit width of logo in emails to 100%
  server/src/emails/components/immich.layout.tsx
Labels: 🗄️server, changelog:bugfix

#16166 chore: run full jobs on workflow file change
  .github/workflows/build-mobile.yml
  .github/workflows/docker.yml
  .github/workflows/docs-build.yml
  .github/workflows/static_analysis.yml
  .github/workflows/test.yml
Labels: changelog:skip

#16167 chore: removed unused endpoint
  mobile/lib/services/api.service.dart
  mobile/openapi/README.md
  mobile/openapi/devtools_options.yaml
  mobile/openapi/lib/api.dart
  mobile/openapi/lib/api/audit_api.dart
  mobile/openapi/lib/api_client.dart
  mobile/openapi/lib/api_helper.dart
  mobile/openapi/lib/model/audit_deletes_response_dto.dart
  mobile/openapi/lib/model/entity_type.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/controllers/audit.controller.ts
  server/src/controllers/index.ts
  server/src/services/audit.service.spec.ts
  server/src/services/audit.service.ts
Labels: 📱mobile, 🗄️server, changelog:breaking-change

#15695 chore(web): update italian translations
  i18n/it.json
Labels: changelog:translation

#16149 fix(mobile): Server endpoint on the login screen.
  mobile/lib/widgets/forms/login/login_form.dart
Labels: 📱mobile, changelog:bugfix

#16165 fix: don't push on forks
  .github/workflows/docker.yml
Labels: changelog:skip

#16174 fix(server): flaky library e2e tests
  e2e/src/api/specs/library.e2e-spec.ts
  e2e/src/utils.ts
Labels: changelog:bugfix

#16175 fix(server): remove unused readme
  server/README.md
Labels: changelog:enhancement

#16176 fix(server): more e2e library flakiness cleanup
  e2e/src/api/specs/library.e2e-spec.ts
  e2e/src/utils.ts
Labels: changelog:enhancement

#16189 fix: don't write cache on fork PRs
  .github/workflows/docker.yml
Labels: changelog:skip

#16187 fix: pgvectors docs link
  docs/docs/administration/postgres-standalone.md
Labels: documentation, changelog:bugfix

#16194 ci: docker cleanup, cleanup
  .github/workflows/docker-cleanup.yml
Labels: changelog:skip

#16182 chore(mobile): lint
  mobile/analysis_options.yaml
  mobile/immich_lint/lib/immich_mobile_immich_lint.dart
Labels: 📱mobile, changelog:skip

#16159 refactor(mobile): asset provider
  mobile/lib/interfaces/album.interface.dart
  mobile/lib/interfaces/asset.interface.dart
  mobile/lib/interfaces/etag.interface.dart
  mobile/lib/interfaces/exif_info.interface.dart
  mobile/lib/interfaces/user.interface.dart
  mobile/lib/providers/asset.provider.dart
  mobile/lib/providers/trash.provider.dart
  mobile/lib/repositories/album.repository.dart
  mobile/lib/repositories/asset.repository.dart
  mobile/lib/repositories/etag.repository.dart
  mobile/lib/repositories/exif_info.repository.dart
  mobile/lib/repositories/user.repository.dart
  mobile/lib/services/album.service.dart
  mobile/lib/services/asset.service.dart
  mobile/lib/services/etag.service.dart
  mobile/lib/services/exif.service.dart
  mobile/lib/services/sync.service.dart
  mobile/lib/services/user.service.dart
  mobile/lib/utils/db.dart
  mobile/lib/utils/migration.dart
  mobile/lib/widgets/asset_grid/multiselect_grid.dart
  mobile/lib/widgets/common/app_bar_dialog/app_bar_dialog.dart
  mobile/lib/widgets/forms/change_password_form.dart
  mobile/test/modules/shared/sync_service_test.dart
Labels: 📱mobile, changelog:skip

#16179 chore(docs): Synology set-up guide
  docs/docs/install/synology.md
  docs/static/img/synology-container-manager-container-details.png
  docs/static/img/synology-container-manager-create-project.png
  docs/static/img/synology-container-manager-customize-docker-compose.png
  docs/static/img/synology-container-manager-set-path.png
  docs/static/img/synology-firewall-rules.png
Labels: documentation, changelog:documentation

#16162 fix(web): improve memories layout on small screens
  web/src/lib/components/memory-page/memory-viewer.svelte
  web/src/lib/components/shared-components/control-app-bar.svelte
Labels: 🖥️web, changelog:enhancement, preview

#16173 feat(server): search by partial asset path
  server/src/entities/asset.entity.ts
Labels: 🗄️server, changelog:enhancement

#16211 fix(server): don't warn about missing timezone
  server/src/services/metadata.service.ts
Labels: 🗄️server, changelog:enhancement

#16201 refactor(mobile): move store settings and store into domain folder
  mobile/lib/domain/interfaces/store.interface.dart
  mobile/lib/domain/models/store.model.dart
  mobile/lib/domain/services/store.service.dart
  mobile/lib/entities/store.entity.dart
  mobile/lib/infrastructure/repositories/store.repository.dart
  mobile/lib/pages/common/headers_settings.page.dart
  mobile/lib/pages/common/native_video_viewer.page.dart
  mobile/lib/pages/common/splash_screen.page.dart
  mobile/lib/pages/library/places/places_collection.page.dart
  mobile/lib/pages/share_intent/share_intent.page.dart
  mobile/lib/providers/asset.provider.dart
  mobile/lib/providers/auth.provider.dart
  mobile/lib/providers/backup/backup.provider.dart
  mobile/lib/providers/user.provider.dart
  mobile/lib/providers/websocket.provider.dart
  mobile/lib/repositories/album.repository.dart
  mobile/lib/repositories/album_media.repository.dart
  mobile/lib/repositories/asset_media.repository.dart
  mobile/lib/repositories/auth.repository.dart
  mobile/lib/repositories/user.repository.dart
  mobile/lib/routing/auth_guard.dart
  mobile/lib/routing/tab_navigation_observer.dart
  mobile/lib/services/album.service.dart
  mobile/lib/services/api.service.dart
  mobile/lib/services/app_settings.service.dart
  mobile/lib/services/auth.service.dart
  mobile/lib/services/background.service.dart
  mobile/lib/services/backup.service.dart
  mobile/lib/services/backup_verification.service.dart
  mobile/lib/services/device.service.dart
  mobile/lib/services/download.service.dart
  mobile/lib/services/immich_logger.service.dart
  mobile/lib/services/upload.service.dart
  mobile/lib/utils/http_ssl_cert_override.dart
  mobile/lib/utils/image_url_builder.dart
  mobile/lib/utils/migration.dart
  mobile/lib/utils/url_helper.dart
  mobile/lib/widgets/album/album_thumbnail_card.dart
  mobile/lib/widgets/common/app_bar_dialog/app_bar_profile_info.dart
  mobile/lib/widgets/common/immich_app_bar.dart
  mobile/lib/widgets/common/immich_image.dart
  mobile/lib/widgets/common/user_avatar.dart
  mobile/lib/widgets/common/user_circle_avatar.dart
  mobile/lib/widgets/search/curated_places_row.dart
  mobile/lib/widgets/search/explore_grid.dart
  mobile/lib/widgets/settings/networking_settings/external_network_preference.dart
  mobile/lib/widgets/settings/networking_settings/networking_settings.dart
  mobile/test/modules/activity/activities_page_test.dart
  mobile/test/modules/activity/activity_text_field_test.dart
  mobile/test/modules/activity/activity_tile_test.dart
  mobile/test/modules/shared/sync_service_test.dart
Labels: 📱mobile, changelog:skip

#16213 feat(web): show memories in portrait on small screens
  web/src/lib/components/photos-page/memory-lane.svelte
Labels: 🖥️web, changelog:enhancement

#16225 fix(server): set modifydate
  server/src/queries/view.repository.sql
  server/src/repositories/view-repository.ts
  server/src/services/metadata.service.spec.ts
  server/src/services/metadata.service.ts
Labels: 🗄️server, changelog:bugfix

#16229 feat(web): library import path onboarding
  docs/docs/features/libraries.md
  web/src/routes/admin/library-management/+page.svelte
Labels: documentation, 🖥️web, changelog:enhancement

#16212 feat(server): add path to metadata logging
  server/src/services/metadata.service.ts
Labels: 🗄️server, changelog:enhancement

#16208 feat(web): support searching by EXIF rating
  docs/docs/features/searching.md
  i18n/en.json
  mobile/openapi/lib/model/metadata_search_dto.dart
  mobile/openapi/lib/model/random_search_dto.dart
  mobile/openapi/lib/model/smart_search_dto.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/dtos/search.dto.ts
  server/src/entities/asset.entity.ts
  server/src/repositories/search.repository.ts
  web/src/lib/components/shared-components/search-bar/search-filter-modal.svelte
  web/src/lib/components/shared-components/search-bar/search-ratings-section.svelte
Labels: documentation, 🖥️web, 🗄️server, changelog:enhancement

#16219 refactor(mobile): trash provider
  mobile/analysis_options.yaml
  mobile/lib/interfaces/asset.interface.dart
  mobile/lib/pages/library/trash.page.dart
  mobile/lib/providers/trash.provider.dart
  mobile/lib/repositories/asset.repository.dart
  mobile/lib/services/trash.service.dart
  mobile/lib/widgets/asset_viewer/gallery_app_bar.dart
  mobile/openapi/devtools_options.yaml
Labels: 📱mobile, changelog:skip

#16122 docs: clarify custom locations guide
  docs/docs/guides/custom-locations.md
Labels: documentation, changelog:documentation

#16234 feat: sync implementation for the user entity
  .github/workflows/test.yml
  mobile/openapi/README.md
  mobile/openapi/lib/api.dart
  mobile/openapi/lib/api/sync_api.dart
  mobile/openapi/lib/api_client.dart
  mobile/openapi/lib/api_helper.dart
  mobile/openapi/lib/model/sync_ack_delete_dto.dart
  mobile/openapi/lib/model/sync_ack_dto.dart
  mobile/openapi/lib/model/sync_ack_set_dto.dart
  mobile/openapi/lib/model/sync_entity_type.dart
  mobile/openapi/lib/model/sync_request_type.dart
  mobile/openapi/lib/model/sync_stream_dto.dart
  mobile/openapi/lib/model/sync_user_delete_v1.dart
  mobile/openapi/lib/model/sync_user_v1.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/app.module.ts
  server/src/controllers/sync.controller.ts
  server/src/database.ts
  server/src/db.d.ts
  server/src/dtos/sync.dto.ts
  server/src/entities/index.ts
  server/src/entities/sync-checkpoint.entity.ts
  server/src/entities/user-audit.entity.ts
  server/src/entities/user.entity.ts
  server/src/enum.ts
  server/src/middleware/global-exception.filter.ts
  server/src/migrations/1740001232576-AddSessionSyncCheckpointTable.ts
  server/src/migrations/1740064899123-AddUsersAuditTable.ts
  server/src/repositories/index.ts
  server/src/repositories/sync.repository.ts
  server/src/services/base.service.ts
  server/src/services/sync.service.ts
  server/src/types.ts
  server/src/utils/misc.ts
  server/src/utils/sync.ts
  server/test/repositories/sync.repository.mock.ts
  server/test/utils.ts
Labels: 🗄️server, changelog:feature

#15435 fix(web): viewport reactivity, off-screen thumbhashes being rendered
  web/package-lock.json
  web/package.json
  web/src/lib/actions/thumbhash.ts
  web/src/lib/components/assets/thumbnail/thumbnail.svelte
  web/src/lib/components/photos-page/asset-date-group.svelte
  web/src/lib/components/photos-page/asset-grid.svelte
  web/src/lib/stores/assets.store.ts
  web/src/lib/utils/tunables.ts
Labels: 🖥️web, changelog:bugfix

#15524 feat(web): use wasm for justified layout calculation
  web/package-lock.json
  web/package.json
  web/src/lib/components/photos-page/asset-date-group.svelte
  web/src/lib/components/shared-components/gallery-viewer/gallery-viewer.svelte
  web/src/lib/stores/assets.store.ts
  web/src/lib/utils/asset-utils.ts
  web/src/lib/utils/timeline-util.ts
  web/tsconfig.json
  web/vite.config.js
Labels: 🖥️web, changelog:enhancement

#16239 refactor(mobile): render list
  mobile/analysis_options.yaml
  mobile/lib/interfaces/album.interface.dart
  mobile/lib/interfaces/asset.interface.dart
  mobile/lib/interfaces/timeline.interface.dart
  mobile/lib/pages/album/album_viewer.dart
  mobile/lib/pages/library/archive.page.dart
  mobile/lib/pages/library/favorite.page.dart
  mobile/lib/pages/library/partner/partner_detail.page.dart
  mobile/lib/pages/library/trash.page.dart
  mobile/lib/pages/photos/photos.page.dart
  mobile/lib/pages/search/all_videos.page.dart
  mobile/lib/providers/album/album.provider.dart
  mobile/lib/providers/archive.provider.dart
  mobile/lib/providers/asset.provider.dart
  mobile/lib/providers/favorite.provider.dart
  mobile/lib/providers/search/all_video_assets.provider.dart
  mobile/lib/providers/timeline.provider.dart
  mobile/lib/providers/trash.provider.dart
  mobile/lib/repositories/album.repository.dart
  mobile/lib/repositories/asset.repository.dart
  mobile/lib/repositories/timeline.repository.dart
  mobile/lib/services/album.service.dart
  mobile/lib/services/timeline.service.dart
  mobile/lib/services/trash.service.dart
Labels: 📱mobile, changelog:skip

#16243 test(mobile): store
  mobile/lib/domain/interfaces/store.interface.dart
  mobile/lib/domain/models/store.model.dart
  mobile/lib/infrastructure/repositories/store.repository.dart
  mobile/test/domain/services/store_service_test.dart
  mobile/test/infrastructure/repositories/store_repository_test.dart
  mobile/test/infrastructure/repository.mock.dart
  mobile/test/test_utils.dart
Labels: 📱mobile, changelog:skip

#16248 fix: use correct head sha on PR commit tag
  .github/workflows/docker.yml
Labels: changelog:skip

#16249 feat: remove preview label on pr close
  .github/workflows/preview-comment.yaml
  .github/workflows/preview-label.yaml
Labels: changelog:skip

#15953 feat: persistent memories
  i18n/en.json
  mobile/openapi/lib/api/memories_api.dart
  mobile/openapi/lib/model/manual_job_name.dart
  mobile/openapi/lib/model/memory_response_dto.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/controllers/memory.controller.ts
  server/src/db.d.ts
  server/src/dtos/memory.dto.ts
  server/src/entities/memory.entity.ts
  server/src/entities/system-metadata.entity.ts
  server/src/enum.ts
  server/src/migrations/1739824470990-AddMemoryShowHideDates.ts
  server/src/queries/memory.repository.sql
  server/src/repositories/memory.repository.ts
  server/src/services/job.service.spec.ts
  server/src/services/job.service.ts
  server/src/services/memory.service.spec.ts
  server/src/services/memory.service.ts
  server/src/types.ts
  server/test/repositories/memory.repository.mock.ts
  web/src/lib/components/memory-page/memory-viewer.svelte
  web/src/lib/components/photos-page/memory-lane.svelte
  web/src/lib/components/shared-components/context-menu/button-context-menu.svelte
  web/src/lib/stores/memory.store.ts
  web/src/lib/utils.ts
  web/src/lib/utils/context-menu.ts
  web/src/lib/utils/date-time.ts
  web/src/routes/admin/jobs-status/+page.svelte
Labels: 🖥️web, 🗄️server, changelog:feature

#16254 feat(web): remove library type column
  web/src/routes/admin/library-management/+page.svelte
Labels: 🖥️web, changelog:enhancement

#16257 fix: vite > 6.0.8 allowedHosts
  web/vite.config.js
Labels: changelog:skip

#16255 fix: cross site scripting issue on /share pages
  e2e/src/api/specs/shared-link.e2e-spec.ts
  server/package-lock.json
  server/package.json
  server/src/services/api.service.ts
Labels: 🗄️server, changelog:security

#16261 fix(web): dynamically import wasm module
  web/src/lib/components/photos-page/asset-date-group.svelte
  web/src/lib/components/photos-page/measure-date-group.svelte
  web/src/lib/components/shared-components/gallery-viewer/gallery-viewer.svelte
  web/src/lib/stores/assets.store.ts
  web/src/lib/utils/asset-utils.ts
  web/src/lib/utils/layout-utils.ts
  web/src/lib/utils/timeline-util.ts
Labels: 🖥️web, changelog:bugfix, preview

#16267 fix(web): justify layout import
  web/src/lib/stores/assets.store.ts
Labels: 🖥️web, changelog:bugfix, preview

#16298 chore: bump justified layout library
  web/package-lock.json
  web/package.json
Labels: changelog:skip

#16282 fix(docs): tsconfig issues in IDE (VSCode) - migrate tsconfig extends file to current docusaurus implementation
  docs/package-lock.json
  docs/package.json
  docs/tsconfig.json
Labels: documentation, changelog:skip

#16264 fix(web): use anonymous function in `setTimeout` in ponyfill of `requestIdelCallback`
  web/src/lib/utils/idle-callback-support.ts
Labels: 🖥️web, changelog:bugfix

#16262 feat(web): slight fade in animation when open/close asset-viewer
  web/src/app.css
  web/src/lib/utils/navigation.ts
Labels: 🖥️web, changelog:enhancement, preview

#16302 fix(web): thumbnail playback stops when hovering over icon then video
  web/src/lib/components/assets/thumbnail/thumbnail.svelte
Labels: 🖥️web, changelog:bugfix

#16299 refactor(mobile): partners provider
  mobile/analysis_options.yaml
  mobile/lib/interfaces/partner.interface.dart
  mobile/lib/providers/partner.provider.dart
  mobile/lib/repositories/partner.repository.dart
  mobile/lib/services/partner.service.dart
Labels: 📱mobile, changelog:skip

#16272 feat(mobile): photos group by date in album page view
  mobile/lib/interfaces/timeline.interface.dart
  mobile/lib/repositories/timeline.repository.dart
  mobile/lib/services/timeline.service.dart
Labels: 📱mobile, changelog:enhancement

#16306 chore(web): Revert slight fade in animation when open/close asset-viewer (#16262)
  web/src/app.css
  web/src/lib/utils/navigation.ts
Labels: 🖥️web, changelog:skip

#16014 docs: #15988 follow-up: Use URL constructor to fix Version Switcher URL double slash issue
  docs/src/components/version-switcher.tsx
  docs/static/archived-versions.json
Labels: documentation, changelog:skip

#16277 chore(web): revert wasm new justify layout
  web/package-lock.json
  web/package.json
  web/src/lib/actions/thumbhash.ts
  web/src/lib/components/assets/thumbnail/thumbnail.svelte
  web/src/lib/components/photos-page/asset-date-group.svelte
  web/src/lib/components/photos-page/asset-grid.svelte
  web/src/lib/components/photos-page/measure-date-group.svelte
  web/src/lib/components/shared-components/gallery-viewer/gallery-viewer.svelte
  web/src/lib/stores/assets.store.ts
  web/src/lib/utils/layout-utils.ts
  web/src/lib/utils/timeline-util.ts
  web/src/lib/utils/tunables.ts
  web/tsconfig.json
  web/vite.config.js
Labels: 🖥️web, changelog:skip, preview

#16316 chore(docs): access Immich using meshnet nordvpn
  docs/src/components/community-guides.tsx
Labels: documentation, changelog:documentation

#16303 refactor(mobile): render list
  mobile/analysis_options.yaml
  mobile/lib/interfaces/asset.interface.dart
  mobile/lib/interfaces/timeline.interface.dart
  mobile/lib/pages/album/album_asset_selection.page.dart
  mobile/lib/pages/album/album_viewer.dart
  mobile/lib/pages/album/album_viewer.page.dart
  mobile/lib/pages/common/create_album.page.dart
  mobile/lib/providers/asset.provider.dart
  mobile/lib/providers/asset_viewer/render_list.provider.dart
  mobile/lib/providers/infrastructure/db.provider.g.dart
  mobile/lib/providers/infrastructure/store.provider.g.dart
  mobile/lib/providers/search/all_motion_photos.provider.dart
  mobile/lib/providers/search/paginated_search.provider.dart
  mobile/lib/providers/search/paginated_search.provider.g.dart
  mobile/lib/providers/search/recently_added_asset.provider.dart
  mobile/lib/providers/timeline.provider.dart
  mobile/lib/repositories/asset.repository.dart
  mobile/lib/repositories/timeline.repository.dart
  mobile/lib/routing/router.dart
  mobile/lib/routing/router.gr.dart
  mobile/lib/services/asset.service.dart
  mobile/lib/services/timeline.service.dart
  mobile/lib/utils/renderlist_generator.dart
  mobile/lib/widgets/asset_grid/immich_asset_grid.dart
  mobile/lib/widgets/map/map_asset_grid.dart
  mobile/test/pages/search/search.page_test.dart
Labels: 📱mobile, changelog:skip

#16328 chore(mobile): translations update
  mobile/assets/i18n/ar-JO.json
  mobile/assets/i18n/cs-CZ.json
  mobile/assets/i18n/da-DK.json
  mobile/assets/i18n/de-DE.json
  mobile/assets/i18n/el-GR.json
  mobile/assets/i18n/en-US.json
  mobile/assets/i18n/es-ES.json
  mobile/assets/i18n/es-MX.json
  mobile/assets/i18n/es-PE.json
  mobile/assets/i18n/es-US.json
  mobile/assets/i18n/fi-FI.json
  mobile/assets/i18n/fr-CA.json
  mobile/assets/i18n/fr-FR.json
  mobile/assets/i18n/ga.json
  mobile/assets/i18n/he-IL.json
  mobile/assets/i18n/hi-IN.json
  mobile/assets/i18n/hu-HU.json
  mobile/assets/i18n/id-ID.json
  mobile/assets/i18n/it-IT.json
  mobile/assets/i18n/ja-JP.json
  mobile/assets/i18n/ko-KR.json
  mobile/assets/i18n/lt-LT.json
  mobile/assets/i18n/lv-LV.json
  mobile/assets/i18n/mn-MN.json
  mobile/assets/i18n/nb-NO.json
  mobile/assets/i18n/nl-NL.json
  mobile/assets/i18n/pl-PL.json
  mobile/assets/i18n/pt-PT.json
  mobile/assets/i18n/ro-RO.json
  mobile/assets/i18n/ru-RU.json
  mobile/assets/i18n/sk-SK.json
  mobile/assets/i18n/sl-SI.json
  mobile/assets/i18n/sr-Cyrl.json
  mobile/assets/i18n/sr-Latn.json
  mobile/assets/i18n/sv-FI.json
  mobile/assets/i18n/sv-SE.json
  mobile/assets/i18n/th-TH.json
  mobile/assets/i18n/tr-TR.json
  mobile/assets/i18n/uk-UA.json
  mobile/assets/i18n/vi-VN.json
  mobile/assets/i18n/zh-CN.json
  mobile/assets/i18n/zh-Hans.json
  mobile/assets/i18n/zh-TW.json
Labels: changelog:skip

#16329 feat(mobile): use memories api
  mobile/lib/services/api.service.dart
  mobile/lib/services/memory.service.dart
Labels: 📱mobile, changelog:skip

#16325 fix(server): memory assets order
  server/src/queries/memory.repository.sql
  server/src/repositories/memory.repository.ts
Labels: 🗄️server, changelog:bugfix

#16320 fix: sync set ack validation
  server/src/services/sync.service.ts
Labels: 🗄️server, changelog:bugfix

#16352 docs: fix typos
  docs/docs/FAQ.mdx
  docs/docs/install/docker-compose.mdx
  docs/docs/install/truenas.md
  docs/tailwind.config.js
Labels: documentation, changelog:documentation

#16339 fix: websockets calling on_new_release across all sessions upon new websocket connection.
  web/src/lib/components/shared-components/version-announcement-box.svelte
Labels: 🖥️web, changelog:bugfix

#16358 refactor(mobile): refactor user provider
  mobile/analysis_options.yaml
  mobile/lib/interfaces/user.interface.dart
  mobile/lib/pages/photos/photos.page.dart
  mobile/lib/providers/partner.provider.dart
  mobile/lib/providers/timeline.provider.dart
  mobile/lib/providers/user.provider.dart
  mobile/lib/repositories/user.repository.dart
  mobile/lib/services/user.service.dart
Labels: 📱mobile, changelog:skip

#16364 fix: ensure manually tagged faces have proper source type
  mobile/openapi/lib/model/asset_face_create_dto.dart
  mobile/openapi/lib/model/source_type.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/db.d.ts
  server/src/dtos/person.dto.ts
  server/src/enum.ts
  server/src/migrations/1740619600996-AddManualSourceType.ts
  server/src/services/person.service.ts
  web/src/lib/components/asset-viewer/face-editor/face-editor.svelte
Labels: 🖥️web, 🗄️server, changelog:bugfix

#16366 feat(web): remember last chosen map location when editing
  web/src/lib/components/shared-components/change-location.svelte
  web/src/lib/stores/asset-editor.store.ts
Labels: 🖥️web, changelog:enhancement

#16308 fix(web): update search modal to not jump around
  web/src/lib/components/shared-components/search-bar/search-people-section.svelte
Labels: 🖥️web, changelog:bugfix

#16353 feat: updateId uuidv7 column for all entities with updatedAt
  server/src/db.d.ts
  server/src/entities/activity.entity.ts
  server/src/entities/album.entity.ts
  server/src/entities/api-key.entity.ts
  server/src/entities/asset-files.entity.ts
  server/src/entities/asset.entity.ts
  server/src/entities/library.entity.ts
  server/src/entities/memory.entity.ts
  server/src/entities/partner.entity.ts
  server/src/entities/person.entity.ts
  server/src/entities/session.entity.ts
  server/src/entities/sync-checkpoint.entity.ts
  server/src/entities/tag.entity.ts
  server/src/entities/user.entity.ts
  server/src/migrations/1740586617223-AddUpdateIdColumns.ts
  server/src/services/session.service.spec.ts
  server/test/fixtures/activity.stub.ts
  server/test/fixtures/session.stub.ts
Labels: 🗄️server, changelog:skip

#16381 fix(server): don't expose source types in face creation api
  mobile/openapi/lib/model/asset_face_create_dto.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/dtos/person.dto.ts
  server/src/services/person.service.ts
  web/src/lib/components/asset-viewer/face-editor/face-editor.svelte
Labels: 🖥️web, 🗄️server, changelog:bugfix

#16384 refactor: use new updateId column for user CUD sync
  server/src/db.d.ts
  server/src/entities/user-audit.entity.ts
  server/src/migrations/1740595460866-UsersAuditUuidv7PrimaryKey.ts
  server/src/repositories/sync.repository.ts
  server/src/services/sync.service.ts
  server/src/types.ts
  server/src/utils/sync.ts
Labels: 🗄️server, changelog:skip

#16360 refactor(mobile): backup provider
  mobile/lib/interfaces/backup_album.interface.dart
  mobile/lib/providers/backup/backup.provider.dart
  mobile/lib/providers/backup/manual_upload.provider.dart
  mobile/lib/repositories/backup.repository.dart
  mobile/lib/services/album.service.dart
  mobile/lib/services/asset.service.dart
  mobile/lib/services/background.service.dart
  mobile/lib/services/backup_album.service.dart
  mobile/test/repository.mocks.dart
Labels: 📱mobile, changelog:skip

#16380 fix(server): skip stacked assets in duplicate detection
  server/src/migrations/1740654480319-UnsetStackedAssetsFromDuplicateStatus.ts
  server/src/queries/asset.repository.sql
  server/src/queries/search.repository.sql
  server/src/repositories/asset.repository.ts
  server/src/repositories/search.repository.ts
  server/src/services/duplicate.service.spec.ts
  server/src/services/duplicate.service.ts
  server/test/fixtures/asset.stub.ts
Labels: 🗄️server, changelog:bugfix

#16375 fix(server): don't reimport files more than once
  e2e/src/api/specs/library.e2e-spec.ts
  server/src/services/metadata.service.spec.ts
  server/src/services/metadata.service.ts
Labels: 🗄️server, changelog:bugfix

#16382 fix: improve contrast on disabled input field in light mode (#16368)
  web/src/app.css
Labels: 🖥️web, changelog:enhancement

#16395 feat(web): face tagging dialog enhancement
  web/src/lib/components/asset-viewer/face-editor/face-editor.svelte
Labels: 🖥️web, changelog:enhancement

#16392 fix(mobile): bootstrap store inside isolates
  mobile/analysis_options.yaml
  mobile/integration_test/test_utils/general_helper.dart
  mobile/lib/main.dart
  mobile/lib/services/background.service.dart
  mobile/lib/services/backup_verification.service.dart
  mobile/lib/utils/bootstrap.dart
Labels: 📱mobile, changelog:bugfix

#16393 refactor: logger
  server/src/bin/sync-sql.ts
  server/src/repositories/logging.repository.spec.ts
  server/src/repositories/logging.repository.ts
  server/src/repositories/map.repository.ts
  server/src/repositories/notification.repository.spec.ts
  server/src/repositories/storage.repository.spec.ts
  server/src/services/storage.service.ts
  server/test/medium/specs/metadata.service.spec.ts
  server/test/repositories/logger.repository.mock.ts
  server/test/utils.ts
Labels: 🗄️server, changelog:skip

#16404 fix(server): don't show assets that no longer associate with a face
  server/src/entities/asset.entity.ts
Labels: 🗄️server, changelog:bugfix

#16412 fix(web): person favorite icon bad placement
  web/src/lib/components/faces-page/people-card.svelte
  web/src/routes/(user)/explore/+page.svelte
Labels: 🖥️web, changelog:bugfix

#16415 fix(server): follow logs level setting
  server/src/repositories/logging.repository.ts
Labels: changelog:skip

#16418 fix(mobile): background backup failing due to store
  mobile/lib/services/background.service.dart
Labels: 📱mobile, changelog:bugfix

#16417 fix(server): include deleted assets if searching offline assets
  server/src/entities/asset.entity.ts
Labels: 🗄️server, changelog:bugfix

#16423 chore(server): trash e2e cleanup
  e2e/src/api/specs/trash.e2e-spec.ts
Labels: changelog:enhancement

#16432 fix: duplicate memories
  server/src/services/memory.service.ts
Labels: 🗄️server, changelog:bugfix

#16422 fix(server): stringify error log parameter to ensure correct overload
  server/src/services/job.service.ts
Labels: 🗄️server, changelog:bugfix

#16434 fix: memories off by one
  server/src/queries/asset.repository.sql
  server/src/repositories/asset.repository.ts
  server/src/services/asset.service.spec.ts
  server/src/services/asset.service.ts
  server/src/services/memory.service.ts
Labels: 🗄️server, changelog:bugfix

#16433 feat(server): Shortened asset ID in storage template
  docs/docs/guides/database-queries.md
  server/src/services/storage-template.service.ts
  web/src/lib/components/admin-page/settings/storage-template/storage-template-settings.svelte
  web/src/lib/components/admin-page/settings/storage-template/supported-variables-panel.svelte
Labels: documentation, 🖥️web, 🗄️server, changelog:enhancement
