Repository immich-app/immich, pull requests merged in 2025-01, with the labels that each got.

#15005 docs: add immich-dl to community projects
  docs/src/components/community-projects.tsx
Labels: documentation, changelog:documentation

#15011 fix: spelling error in facial recognition docs
  docs/docs/features/facial-recognition.md
Labels: documentation, changelog:skip

#15023 fix(docs): push roadmap for 2025
  docs/src/pages/roadmap.tsx
Labels: documentation, changelog:documentation

#15024 fix(docs): month
  docs/src/pages/roadmap.tsx
Labels: documentation, changelog:documentation

#15020 fix(docs): discourage docker desktop
  docs/docs/install/requirements.md
Labels: documentation, changelog:documentation

#15027 fix(mobile): playing a live photo causes the gallery to redraw the wrong image
  mobile/lib/pages/common/gallery_viewer.page.dart
Labels: 📱mobile, changelog:bugfix

#14874 feat(server): use the earliest date between file creation and modification timestamps when missing exif tags
  server/src/services/metadata.service.spec.ts
  server/src/services/metadata.service.ts
Labels: 🗄️server, changelog:enhancement

#15039 chore: add sub-path warning to reverse proxy docs
  docs/docs/administration/reverse-proxy.md
Labels: documentation, changelog:documentation

#15034 fix(docs): roadmap ordering
  docs/src/pages/roadmap.tsx
Labels: documentation, changelog:documentation

#15000 chore: add clarifying warning to backup page
  docs/docs/administration/backup-and-restore.md
Labels: documentation, changelog:documentation

#15026 chore(docs): Updated the docker-compose.mdx to account for additional bugs.
  docs/docs/install/docker-compose.mdx
Labels: documentation, changelog:documentation

#15028 fix(web): fix input autofocus
  web/src/lib/components/shared-components/settings/setting-input-field.svelte
Labels: 🖥️web, changelog:bugfix

#15032 fix(mobile): album tile translation and consolidation with card appereance
  mobile/lib/pages/albums/albums.page.dart
Labels: 📱mobile, changelog:bugfix

#14765 chore(web): transcoding settings cleanup
  i18n/en.json
  web/src/lib/components/admin-page/settings/ffmpeg/ffmpeg-settings.svelte
Labels: 🖥️web, changelog:skip

#14901 chore(web): remove tree item thumbnail class 'max-h-[500px]'
  web/src/lib/components/layouts/user-page-layout.svelte
  web/src/lib/components/shared-components/tree/tree-item-thumbnails.svelte
  web/src/routes/(user)/folders/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/tags/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:enhancement

#15049 feat(web): Enable selection interactions in folder view
  i18n/en.json
  web/src/lib/components/asset-viewer/detail-panel.svelte
  web/src/lib/stores/folders.svelte.ts
  web/src/routes/(user)/folders/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/folders/[[photos=photos]]/[[assetId=id]]/+page.ts
Labels: 🖥️web, changelog:feature

#15064 chore(server): add support for .m2t
  docs/docs/features/supported-formats.md
  server/src/services/asset-media.service.spec.ts
  server/src/utils/mime-types.spec.ts
  server/src/utils/mime-types.ts
Labels: documentation, 🗄️server, changelog:skip

#15080 feat(web): Swipe down shows slideshow controlbar on mobile
  web/src/lib/components/asset-viewer/slideshow-bar.svelte
Labels: 🖥️web, changelog:enhancement

#15081 docs: update Spanish README
  readme_i18n/README_es_ES.md
Labels: changelog:translation

#15102 feat(docs): additional corruption checks
  docs/docs/FAQ.mdx
Labels: documentation, changelog:documentation

#15071 docs: warning for LXC use
  docs/docs/install/requirements.md
Labels: documentation, changelog:documentation

#15110 docs: Add disable iOS low power mode suggestion
  docs/docs/FAQ.mdx
Labels: documentation, changelog:documentation

#15106 fix(server): save color when creating tag
  server/src/services/tag.service.ts
Labels: 🗄️server, changelog:bugfix

#15120 fix(server): unit test for creating tag with color
  server/src/services/tag.service.spec.ts
Labels: 🗄️server, changelog:skip

#15094 feat(mobile): add ability to force view original videos
  mobile/assets/i18n/en-US.json
  mobile/lib/entities/store.entity.dart
  mobile/lib/pages/common/native_video_viewer.page.dart
  mobile/lib/services/app_settings.service.dart
  mobile/lib/widgets/settings/asset_viewer_settings/video_viewer_settings.dart
Labels: documentation, 📱mobile, 🗄️server, changelog:feature

#15119 chore: use 307 for redirects
  docs/static/_redirects
Labels: documentation, changelog:skip

#15045 docs: add warning about superuser requirement for automated database backups.
  docs/docs/administration/postgres-standalone.md
Labels: documentation, changelog:documentation

#14873 fix(mobile): fix text search
  mobile/analysis_options.yaml
  mobile/lib/models/search/search_filter.model.dart
  mobile/lib/pages/search/search.page.dart
  mobile/lib/widgets/search/search_filter/filter_bottom_sheet_scaffold.dart
  mobile/lib/widgets/search/search_filter/media_type_picker.dart
  mobile/openapi/devtools_options.yaml
  mobile/test/dto.mocks.dart
  mobile/test/pages/search/search.page_test.dart
  mobile/test/service.mocks.dart
Labels: 📱mobile, changelog:bugfix

#15139 chore(mobile): translations update
  mobile/assets/i18n/ar-JO.json
  mobile/assets/i18n/cs-CZ.json
  mobile/assets/i18n/da-DK.json
  mobile/assets/i18n/de-DE.json
  mobile/assets/i18n/el-GR.json
  mobile/assets/i18n/en-US.json
  mobile/assets/i18n/es-ES.json
  mobile/assets/i18n/es-MX.json
  mobile/assets/i18n/es-PE.json
  mobile/assets/i18n/es-US.json
  mobile/assets/i18n/fi-FI.json
  mobile/assets/i18n/fr-CA.json
  mobile/assets/i18n/fr-FR.json
  mobile/assets/i18n/he-IL.json
  mobile/assets/i18n/hi-IN.json
  mobile/assets/i18n/hu-HU.json
  mobile/assets/i18n/id-ID.json
  mobile/assets/i18n/it-IT.json
  mobile/assets/i18n/ja-JP.json
  mobile/assets/i18n/ko-KR.json
  mobile/assets/i18n/lt-LT.json
  mobile/assets/i18n/lv-LV.json
  mobile/assets/i18n/mn-MN.json
  mobile/assets/i18n/nb-NO.json
  mobile/assets/i18n/nl-NL.json
  mobile/assets/i18n/pl-PL.json
  mobile/assets/i18n/pt-PT.json
  mobile/assets/i18n/ro-RO.json
  mobile/assets/i18n/ru-RU.json
  mobile/assets/i18n/sk-SK.json
  mobile/assets/i18n/sl-SI.json
  mobile/assets/i18n/sr-Cyrl.json
  mobile/assets/i18n/sr-Latn.json
  mobile/assets/i18n/sv-FI.json
  mobile/assets/i18n/sv-SE.json
  mobile/assets/i18n/th-TH.json
  mobile/assets/i18n/tr-TR.json
  mobile/assets/i18n/uk-UA.json
  mobile/assets/i18n/vi-VN.json
  mobile/assets/i18n/zh-CN.json
  mobile/assets/i18n/zh-Hans.json
  mobile/assets/i18n/zh-TW.json
Labels: changelog:skip

#15141 fix(mobile): mismatch language
  localizely.yml
  mobile/lib/constants/locales.dart
Labels: 📱mobile, changelog:skip

#14759 chore(web): update translations
  i18n/af.json
  i18n/ar.json
  i18n/az.json
  i18n/bg.json
  i18n/ca.json
  i18n/cs.json
  i18n/cv.json
  i18n/da.json
  i18n/de.json
  i18n/el.json
  i18n/es.json
  i18n/et.json
  i18n/fi.json
  i18n/fil.json
  i18n/fr.json
  i18n/he.json
  i18n/hi.json
  i18n/hr.json
  i18n/hu.json
  i18n/id.json
  i18n/it.json
  i18n/ja.json
  i18n/ko.json
  i18n/ms.json
  i18n/nb_NO.json
  i18n/nl.json
  i18n/pl.json
  i18n/pt.json
  i18n/pt_BR.json
  i18n/ro.json
  i18n/ru.json
  i18n/sk.json
  i18n/sl.json
  i18n/sr_Cyrl.json
  i18n/sr_Latn.json
  i18n/sv.json
  i18n/ta.json
  i18n/th.json
  i18n/tr.json
  i18n/uk.json
  i18n/vi.json
  i18n/zh_Hant.json
  i18n/zh_SIMPLIFIED.json
Labels: changelog:translation

#14777 fix(server): don't delete offline files from disk when trash empties
  e2e/src/api/specs/asset.e2e-spec.ts
  e2e/src/api/specs/library.e2e-spec.ts
  e2e/src/api/specs/trash.e2e-spec.ts
  e2e/src/utils.ts
  server/src/services/asset.service.ts
  server/src/services/trash.service.ts
Labels: 🗄️server, changelog:bugfix

#14947 feat(web): Improve duplicate suggestion
  i18n/de.json
  i18n/en.json
  web/src/lib/components/shared-components/duplicates-modal.svelte
  web/src/lib/components/utilities-page/duplicates/duplicate-asset.svelte
  web/src/lib/components/utilities-page/duplicates/duplicates-compare-control.svelte
  web/src/lib/utils.ts
  web/src/lib/utils/duplicate-utils.spec.ts
  web/src/lib/utils/duplicate-utils.ts
  web/src/lib/utils/exif-utils.spec.ts
  web/src/lib/utils/exif-utils.ts
  web/src/routes/(user)/utilities/duplicates/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:enhancement

#15149 chore(docs): remove duplicate filename
  docs/docs/overview/Comparison.md
Labels: documentation, changelog:skip

#15148 chore(mobile): post release task
  mobile/ios/Runner.xcodeproj/project.pbxproj
  mobile/ios/Runner/Info.plist
Labels: changelog:skip

#15163 fix: invert asset path link nesting
  web/src/lib/components/asset-viewer/detail-panel.svelte
Labels: 🖥️web, changelog:bugfix

#15157 fix(server): email cannot render with pretty flag
  server/src/repositories/notification.repository.ts
Labels: 🗄️server, changelog:bugfix

#15164 chore(docs): update and polish Russian README
  readme_i18n/README_ru_RU.md
Labels: changelog:translation

#15167 chore(docs): Translated README to Ukrainian
  README.md
  readme_i18n/README_ar_JO.md
  readme_i18n/README_ca_ES.md
  readme_i18n/README_de_DE.md
  readme_i18n/README_es_ES.md
  readme_i18n/README_fr_FR.md
  readme_i18n/README_it_IT.md
  readme_i18n/README_ko_KR.md
  readme_i18n/README_nl_NL.md
  readme_i18n/README_pt_BR.md
  readme_i18n/README_ru_RU.md
  readme_i18n/README_sv_SE.md
  readme_i18n/README_th_TH.md
  readme_i18n/README_tr_TR.md
  readme_i18n/README_uk_UA.md
  readme_i18n/README_vi_VN.md
  readme_i18n/README_zh_CN.md
Labels: changelog:translation

#15183 fix(server): generate thumbnails for external assets
  e2e/src/api/specs/library.e2e-spec.ts
  server/src/services/library.service.spec.ts
  server/src/services/library.service.ts
Labels: 🗄️server, changelog:bugfix

#15178 fix(web): Reset asset selection when refreshing and changing folder
  web/src/routes/(user)/folders/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:bugfix

#12857 refactor(server): use kysely
  e2e/src/api/specs/asset.e2e-spec.ts
  e2e/src/api/specs/timeline.e2e-spec.ts
  mobile/openapi/lib/model/metadata_search_dto.dart
  open-api/immich-openapi-specs.json
  server/package-lock.json
  server/package.json
  server/src/app.module.ts
  server/src/bin/database.ts
  server/src/bin/sync-sql.ts
  server/src/constants.ts
  server/src/db.d.ts
  server/src/dtos/asset-response.dto.ts
  server/src/dtos/duplicate.dto.ts
  server/src/dtos/search.dto.ts
  server/src/entities/asset.entity.ts
  server/src/entities/face-search.entity.ts
  server/src/entities/smart-search.entity.ts
  server/src/interfaces/asset.interface.ts
  server/src/interfaces/config.interface.ts
  server/src/interfaces/database.interface.ts
  server/src/interfaces/search.interface.ts
  server/src/migrations/1734574016301-AddTimeBucketIndices.ts
  server/src/queries/album.repository.sql
  server/src/queries/asset.repository.sql
  server/src/queries/memory.repository.sql
  server/src/queries/search.repository.sql
  server/src/queries/tag.repository.sql
  server/src/queries/view.repository.sql
  server/src/repositories/album.repository.ts
  server/src/repositories/asset.repository.ts
  server/src/repositories/config.repository.spec.ts
  server/src/repositories/config.repository.ts
  server/src/repositories/database.repository.ts
  server/src/repositories/memory.repository.ts
  server/src/repositories/search.repository.ts
  server/src/repositories/tag.repository.ts
  server/src/repositories/view-repository.ts
  server/src/services/asset-media.service.spec.ts
  server/src/services/asset-media.service.ts
  server/src/services/asset.service.spec.ts
  server/src/services/asset.service.ts
  server/src/services/backup.service.ts
  server/src/services/database.service.spec.ts
  server/src/services/database.service.ts
  server/src/services/duplicate.service.spec.ts
  server/src/services/duplicate.service.ts
  server/src/services/library.service.spec.ts
  server/src/services/metadata.service.spec.ts
  server/src/services/metadata.service.ts
  server/src/services/person.service.spec.ts
  server/src/services/person.service.ts
  server/src/services/search.service.spec.ts
  server/src/services/search.service.ts
  server/src/services/timeline.service.spec.ts
  server/src/utils/database.ts
  server/src/utils/pagination.ts
  server/test/repositories/config.repository.mock.ts
  server/test/repositories/database.repository.mock.ts
  server/tsconfig.json
Labels: 🗄️server, changelog:enhancement

#15203 refactor: migrate activity repo to kysely
  server/src/interfaces/activity.interface.ts
  server/src/queries/activity.repository.sql
  server/src/repositories/activity.repository.ts
  server/src/services/activity.service.ts
Labels: 🗄️server, changelog:skip

#15207 refactor: activity queries
  server/src/queries/activity.repository.sql
  server/src/repositories/activity.repository.ts
Labels: 🗄️server, changelog:skip

#15208 fix(mobile): 15072 Fix issue with boolean filters filtering out results when they shouldn't
  mobile/lib/services/search.service.dart
Labels: 📱mobile, changelog:bugfix

#15219 fix(web): escape key to clear selection and go to previous page (#15142)
  web/src/routes/(user)/albums/[albumId=id]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/archive/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/favorites/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/partners/[userId]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/trash/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:bugfix

#15206 feat: migration api keys to use kysely
  server/src/dtos/auth.dto.ts
  server/src/interfaces/api-key.interface.ts
  server/src/queries/api.key.repository.sql
  server/src/repositories/api-key.repository.ts
  server/src/services/api-key.service.spec.ts
  server/src/services/auth.service.spec.ts
  server/src/services/auth.service.ts
  server/src/types.ts
  server/test/fixtures/api-key.stub.ts
Labels: 🗄️server, changelog:skip

#15231 refactor: migrate system metadata to kysely
  server/src/queries/system.metadata.repository.sql
  server/src/repositories/system-metadata.repository.ts
Labels: 🗄️server, changelog:skip

#15236 fix(mobile): don't crash android app when video player throws exception
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: changelog:bugfix

#15267 chore: migrate version-history repository to kysely
  server/src/db.d.ts
  server/src/interfaces/version-history.interface.ts
  server/src/queries/version.history.repository.sql
  server/src/repositories/version-history.repository.ts
Labels: 🗄️server, changelog:skip

#15238 feat: #15237 toggle password visibility on shared albums
  e2e/src/web/specs/shared-link.e2e-spec.ts
  web/src/routes/(user)/share/[key]/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:enhancement

#15264 chore(server)!: default max bitrate unit to kbps
  server/src/services/media.service.spec.ts
  server/src/utils/media.ts
Labels: 🗄️server, changelog:breaking-change

#15228 chore(docs): clarify experimental network features
  docs/docs/FAQ.mdx
  mobile/assets/i18n/en-US.json
Labels: documentation, changelog:documentation

#15243 docs: clarify filesystem backup paths
  docs/docs/administration/backup-and-restore.md
Labels: documentation, changelog:documentation

#15266 fix(web): render whitespaces in file names and paths on photos and folders pages correctly
  web/src/lib/components/asset-viewer/detail-panel.svelte
  web/src/lib/components/shared-components/gallery-viewer/gallery-viewer.svelte
  web/src/lib/components/shared-components/tree/breadcrumbs.svelte
  web/src/lib/components/shared-components/tree/tree-item-thumbnails.svelte
  web/src/lib/components/shared-components/tree/tree.svelte
Labels: 🖥️web, changelog:skip

#15130 fix(web): mismatched deviceAssetId when uploading images
  web/src/lib/utils/file-uploader.ts
Labels: 🖥️web, changelog:bugfix

#15283 fix(cli): handle folders with single quotes
  cli/src/utils.spec.ts
  cli/src/utils.ts
Labels: cli, changelog:bugfix

#15279 fix(docs): Fix link label to refer to correct location on page
  docs/docs/FAQ.mdx
Labels: documentation, changelog:documentation

#15291 fix(docs): fix admonition in mobile section
  docs/docs/features/mobile-app.mdx
Labels: documentation, changelog:documentation

#15296 refactor: migrate user repository to kysely
  server/src/app.module.ts
  server/src/decorators.ts
  server/src/entities/user.entity.ts
  server/src/interfaces/database.interface.ts
  server/src/interfaces/user.interface.ts
  server/src/queries/user.repository.sql
  server/src/repositories/database.repository.ts
  server/src/repositories/user.repository.ts
  server/src/services/album.service.spec.ts
  server/src/services/auth.service.spec.ts
  server/src/services/auth.service.ts
  server/src/services/base.service.ts
  server/src/services/cli.service.spec.ts
  server/src/services/cli.service.ts
  server/src/services/user-admin.service.spec.ts
  server/src/services/user.service.spec.ts
  server/test/repositories/database.repository.mock.ts
  web/package-lock.json
Labels: 🗄️server, changelog:skip

#15321 fix: version history sql
  server/src/queries/version.history.repository.sql
  server/src/repositories/version-history.repository.ts
Labels: 🗄️server, changelog:skip

#15268 refactor: migrate sessions repository to kysely
  e2e/src/api/specs/user.e2e-spec.ts
  server/src/entities/session.entity.ts
  server/src/interfaces/session.interface.ts
  server/src/queries/session.repository.sql
  server/src/repositories/session.repository.ts
  server/src/services/auth.service.spec.ts
  server/src/services/auth.service.ts
Labels: 🗄️server, changelog:skip

#15276 fix(docs): database name for restore commands
  docs/docs/FAQ.mdx
  docs/docs/administration/backup-and-restore.md
  docs/docs/guides/database-queries.md
Labels: documentation, changelog:documentation

#15269 refactor: migrate audit repository to kysely
  server/src/queries/audit.repository.sql
  server/src/repositories/audit.repository.ts
Labels: 🗄️server, changelog:skip

#14419 feat: Upgrade devcontainer setup
  .devcontainer/.gitignore
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/scripts/initializeCommand.sh
  .devcontainer/scripts/onCreateCommand.sh
Labels: changelog:feature

#12794 chore(server): avoid copying sources in dev
  server/Dockerfile
  web/Dockerfile
Labels: changelog:skip

#15327 refactor: migrate move repository to kysely
  server/src/cores/storage.core.ts
  server/src/interfaces/move.interface.ts
  server/src/queries/move.repository.sql
  server/src/repositories/move.repository.ts
  server/src/services/storage-template.service.spec.ts
Labels: 🗄️server, changelog:skip

#15328 refactor: auth pages
  web/eslint.config.mjs
  web/src/app.html
  web/src/lib/components/forms/admin-registration-form.svelte
  web/src/lib/components/forms/change-password-form.svelte
  web/src/lib/components/forms/login-form.svelte
  web/src/lib/components/layouts/AuthPageLayout.svelte
  web/src/routes/+layout.svelte
  web/src/routes/auth/change-password/+page.svelte
  web/src/routes/auth/login/+page.svelte
  web/src/routes/auth/register/+page.svelte
Labels: 🖥️web, changelog:skip

#15077 feat(web): Slideshow is enabled everywhere. It no longer needs assetStore.
  web/src/lib/components/asset-viewer/asset-viewer.svelte
  web/src/lib/components/photos-page/asset-grid.svelte
  web/src/lib/components/shared-components/gallery-viewer/gallery-viewer.svelte
  web/src/lib/components/utilities-page/duplicates/duplicates-compare-control.svelte
  web/src/lib/stores/asset-viewing.store.ts
  web/src/routes/(user)/map/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:enhancement

#14263 feat(web): immich-ui components
  docker/docker-compose.dev.yml
  docs/docs/developer/setup.md
  web/package-lock.json
  web/package.json
  web/src/app.css
  web/src/lib/components/layouts/AuthPageLayout.svelte
  web/src/routes/+layout.svelte
  web/src/routes/+page.svelte
  web/src/routes/auth/change-password/+page.svelte
  web/src/routes/auth/login/+page.svelte
  web/src/routes/auth/register/+page.svelte
  web/tailwind.config.js
  web/vite.config.js
Labels: documentation, 🖥️web, changelog:feature

#15349 chore: add renovate config for immich-ui
  renovate.json
Labels: changelog:skip

#15326 feat: Add additional env variables for Machine Learning
  docs/docs/install/environment-variables.md
  machine-learning/app/config.py
  machine-learning/app/main.py
  machine-learning/app/test_main.py
Labels: documentation, 🧠machine-learning, changelog:enhancement

#15351 refactor(server): migrate album-user repo to kysely
  server/src/bin/sync-sql.ts
  server/src/interfaces/album-user.interface.ts
  server/src/queries/album.user.repository.sql
  server/src/repositories/album-user.repository.ts
  server/src/services/album.service.spec.ts
  server/src/services/album.service.ts
Labels: 🗄️server, changelog:skip

#15314 refactor: migrate memory to kysely
  server/src/interfaces/memory.interface.ts
  server/src/queries/memory.repository.sql
  server/src/repositories/memory.repository.ts
  server/src/services/memory.service.spec.ts
  server/src/services/memory.service.ts
Labels: 🗄️server, changelog:skip

#15370 chore: sql sync
  server/src/queries/memory.repository.sql
Labels: 🗄️server, changelog:skip

#15369 chore: use port 2286 for the auth server
  e2e/src/api/specs/oauth.e2e-spec.ts
  e2e/src/setup/auth-server.ts
Labels: changelog:skip

#15350 refactor: migrate create user form to immich ui
  web/src/lib/components/forms/create-user-form.svelte
  web/src/lib/components/layouts/AuthPageLayout.svelte
  web/src/lib/components/shared-components/search-bar/search-filter-modal.svelte
  web/src/routes/admin/user-management/+page.svelte
  web/src/routes/auth/change-password/+page.svelte
  web/src/routes/auth/login/+page.svelte
  web/tailwind.config.js
Labels: 🖥️web, changelog:skip

#15367 feat(web): Context menu scrolls on small devices
  web/src/lib/components/shared-components/context-menu/context-menu.svelte
Labels: 🖥️web, changelog:enhancement

#15271 refactor: migrate library repository to kysely
  server/src/interfaces/library.interface.ts
  server/src/queries/library.repository.sql
  server/src/repositories/library.repository.ts
  server/src/services/library.service.spec.ts
  server/src/services/library.service.ts
Labels: 🗄️server, changelog:skip

#15373 fix(web): end selection after click when choosing thumbnail, and notify
  web/src/routes/(user)/albums/[albumId=id]/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:bugfix

#15378 chore: update immich ui 12
  web/package-lock.json
  web/package.json
Labels: changelog:skip

#15368 fix: activity types
  server/src/app.module.ts
  server/src/bin/sync-sql.ts
  server/src/database.ts
  server/src/dtos/activity.dto.ts
  server/src/interfaces/activity.interface.ts
  server/src/queries/activity.repository.sql
  server/src/repositories/activity.repository.ts
  server/src/repositories/index.ts
  server/src/services/activity.service.spec.ts
  server/src/services/activity.service.ts
  server/src/services/base.service.ts
  server/src/types.ts
  server/test/fixtures/activity.stub.ts
  server/test/repositories/activity.repository.mock.ts
  server/test/utils.ts
Labels: 🗄️server, changelog:skip

#15375 fix(web): map settings
  web/src/lib/stores/preferences.store.ts
Labels: 🖥️web, changelog:bugfix

#15365 refactor: migrate access repo to kysely
  server/src/queries/access.repository.sql
  server/src/repositories/access.repository.ts
Labels: 🗄️server, changelog:skip

#15374 refactor: replace link-button component with immich-ui buttons
  web/src/app.css
  web/src/lib/components/album-page/albums-controls.svelte
  web/src/lib/components/elements/buttons/link-button.svelte
  web/src/lib/components/elements/dropdown.svelte
  web/src/lib/components/map-page/map-settings-modal.svelte
  web/src/lib/components/shared-components/create-share-link-modal/create-shared-link-modal.svelte
  web/src/lib/components/shared-components/navigation-bar/navigation-bar.svelte
  web/src/routes/(user)/people/+page.svelte
  web/src/routes/(user)/sharing/+page.svelte
  web/src/routes/(user)/tags/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/trash/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/utilities/duplicates/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/admin/jobs-status/+page.svelte
  web/src/routes/admin/library-management/+page.svelte
  web/src/routes/admin/repair/+page.svelte
  web/src/routes/admin/system-settings/+page.svelte
Labels: 🖥️web, changelog:skip

#15127 fix(mobile): 14983 Images upload to shared album with common name
  mobile/lib/interfaces/album.interface.dart
  mobile/lib/providers/album/album.provider.dart
  mobile/lib/repositories/album.repository.dart
  mobile/lib/services/album.service.dart
Labels: 📱mobile, changelog:bugfix

#15348 refactor: migrate map repository to kysely
  server/.prettierignore
  server/package.json
  server/src/db.d.ts
  server/src/repositories/config.repository.spec.ts
  server/src/repositories/config.repository.ts
  server/src/repositories/map.repository.ts
Labels: 🗄️server, changelog:skip

#15413 chore: generate sql for stack repo
  server/src/queries/stack.repository.sql
  server/src/repositories/stack.repository.ts
Labels: 🗄️server, changelog:skip

#15414 chore: update ui 13
  web/package-lock.json
  web/package.json
Labels: changelog:skip

#15398 feat: Add additional env variables to ML container
  machine-learning/app/config.py
  machine-learning/app/main.py
Labels: documentation, 🧠machine-learning, changelog:enhancement

#15366 refactor: migrate partner repo to kysely
  server/src/interfaces/partner.interface.ts
  server/src/queries/partner.repository.sql
  server/src/repositories/partner.repository.ts
  server/src/services/partner.service.spec.ts
  server/src/services/partner.service.ts
Labels: 🗄️server, changelog:skip

#15416 fix(web): Update asset count when deleting assets from person page
  web/src/routes/(user)/people/[personId]/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:bugfix

#15427 fix(docs): Update unraid.md to use correct image url
  docs/docs/install/unraid.md
Labels: documentation, changelog:documentation

#15289 refactor: migrate shared-link repository to kysely
  e2e/src/api/specs/shared-link.e2e-spec.ts
  server/src/interfaces/shared-link.interface.ts
  server/src/queries/shared.link.repository.sql
  server/src/repositories/shared-link.repository.ts
  server/src/services/auth.service.spec.ts
  server/src/services/shared-link.service.spec.ts
  server/src/services/shared-link.service.ts
Labels: 🗄️server, changelog:skip

#15429 fix(web): scrolling memory timeline reset position
  web/src/lib/components/photos-page/memory-lane.svelte
Labels: 🖥️web, changelog:bugfix

#15430 fix(mobile): Cannot type date format on Samsung phone
  mobile/assets/i18n/en-US.json
  mobile/lib/pages/search/search.page.dart
Labels: 📱mobile, changelog:bugfix

#15438 fix(deps): use node-addon-api v8
  server/package-lock.json
  server/package.json
Labels: changelog:bugfix

#15447 fix(server): searching for multiple people yields false positives
  server/src/entities/asset.entity.ts
Labels: 🗄️server, changelog:bugfix

#15461 fix(mobile): cannot get new photos on Android
  mobile/lib/repositories/album_media.repository.dart
Labels: 📱mobile, changelog:bugfix

#15470 feat: Add rule on robots.txt to allow robots access og tags
  web/static/robots.txt
Labels: 🖥️web, changelog:enhancement

#15455 fix: grammar on docs homepage
  docs/src/pages/index.tsx
Labels: documentation, changelog:documentation

#15418 feat: Allow multiple ML models to be preloaded
  docs/docs/install/environment-variables.md
  machine-learning/app/main.py
Labels: documentation, 🧠machine-learning, changelog:feature

#15478 fix: broken link on monitoring page
  docs/docs/features/monitoring.md
Labels: documentation, changelog:documentation

#15440 refactor: migrate stack repo to kysely
  server/src/interfaces/stack.interface.ts
  server/src/queries/stack.repository.sql
  server/src/repositories/access.repository.ts
  server/src/repositories/stack.repository.ts
  server/src/services/asset.service.spec.ts
  server/src/services/asset.service.ts
  server/src/services/stack.service.spec.ts
  server/src/services/stack.service.ts
Labels: 🗄️server, changelog:skip

#15490 refactor: access repository
  server/src/interfaces/access.interface.ts
  server/src/repositories/access.repository.ts
  server/src/repositories/index.ts
  server/src/services/base.service.ts
  server/src/types.ts
  server/src/utils/access.ts
  server/src/utils/asset.util.ts
  server/test/repositories/access.repository.mock.ts
  server/test/utils.ts
Labels: 🗄️server, changelog:skip

#15487 feat: better spec urls
  server/src/utils/misc.ts
Labels: 🗄️server, changelog:breaking-change

#15491 refactor: api key repository
  server/src/interfaces/api-key.interface.ts
  server/src/repositories/api-key.repository.ts
  server/src/repositories/index.ts
  server/src/services/api-key.service.spec.ts
  server/src/services/api-key.service.ts
  server/src/services/auth.service.spec.ts
  server/src/services/auth.service.ts
  server/src/services/base.service.ts
  server/src/types.ts
  server/test/fixtures/api-key.stub.ts
  server/test/repositories/api-key.repository.mock.ts
  server/test/utils.ts
Labels: 🗄️server, changelog:skip

#15474 refactor: migrate album repo to kysely
  e2e/src/api/specs/album.e2e-spec.ts
  server/src/dtos/album.dto.ts
  server/src/interfaces/album.interface.ts
  server/src/queries/album.repository.sql
  server/src/repositories/album.repository.ts
  server/src/services/album.service.spec.ts
  server/src/services/album.service.ts
Labels: 🗄️server, changelog:skip

#15242 refactor: migrate person repository to kysely
  e2e/src/api/specs/person.e2e-spec.ts
  machine-learning/app/models/clip/textual.py
  machine-learning/app/models/clip/visual.py
  machine-learning/app/models/facial_recognition/recognition.py
  machine-learning/app/models/transforms.py
  machine-learning/app/schemas.py
  machine-learning/app/test_main.py
  server/src/decorators.ts
  server/src/entities/face-search.entity.ts
  server/src/entities/smart-search.entity.ts
  server/src/interfaces/machine-learning.interface.ts
  server/src/interfaces/person.interface.ts
  server/src/interfaces/search.interface.ts
  server/src/queries/person.repository.sql
  server/src/queries/search.repository.sql
  server/src/repositories/person.repository.ts
  server/src/repositories/search.repository.ts
  server/src/services/audit.service.ts
  server/src/services/media.service.spec.ts
  server/src/services/media.service.ts
  server/src/services/metadata.service.spec.ts
  server/src/services/metadata.service.ts
  server/src/services/person.service.spec.ts
  server/src/services/person.service.ts
  server/src/services/smart-info.service.spec.ts
  server/src/utils/database.ts
  server/test/fixtures/asset.stub.ts
  server/test/fixtures/face.stub.ts
  server/test/utils.ts
Labels: 🗄️server, 🧠machine-learning, changelog:skip

#15495 refactor: config repository
  server/src/cores/storage.core.ts
  server/src/interfaces/audit.interface.ts
  server/src/interfaces/config.interface.ts
  server/src/middleware/websocket.adapter.ts
  server/src/repositories/audit.repository.ts
  server/src/repositories/config.repository.ts
  server/src/repositories/database.repository.ts
  server/src/repositories/event.repository.ts
  server/src/repositories/index.ts
  server/src/repositories/job.repository.ts
  server/src/repositories/logger.repository.spec.ts
  server/src/repositories/logger.repository.ts
  server/src/repositories/map.repository.ts
  server/src/repositories/server-info.repository.ts
  server/src/repositories/telemetry.repository.ts
  server/src/services/api.service.ts
  server/src/services/audit.service.spec.ts
  server/src/services/backup.service.spec.ts
  server/src/services/base.service.ts
  server/src/services/database.service.spec.ts
  server/src/services/job.service.spec.ts
  server/src/services/library.service.spec.ts
  server/src/services/metadata.service.spec.ts
  server/src/services/smart-info.service.spec.ts
  server/src/services/storage.service.spec.ts
  server/src/services/sync.service.spec.ts
  server/src/services/system-config.service.spec.ts
  server/src/services/version.service.spec.ts
  server/src/types.ts
  server/src/utils/config.ts
  server/src/workers/api.ts
  server/src/workers/microservices.ts
  server/test/repositories/audit.repository.mock.ts
  server/test/repositories/config.repository.mock.ts
  server/test/utils.ts
Labels: 🗄️server, changelog:skip

#15496 refactor: view repository
  server/src/interfaces/view.interface.ts
  server/src/repositories/index.ts
  server/src/repositories/view-repository.ts
  server/src/services/base.service.ts
  server/src/services/view.service.spec.ts
  server/src/services/view.service.ts
  server/src/types.ts
  server/test/repositories/view.repository.mock.ts
  server/test/utils.ts
Labels: 🗄️server, changelog:skip

#15501 fix(docs): remove old attribution
  docs/docs/guides/custom-locations.md
Labels: documentation, changelog:skip

#15502 feat(docs): CIFS/Samba in-Docker example
  docs/docs/FAQ.mdx
Labels: documentation, changelog:documentation

#15499 chore: remove unused code
  server/src/entities/system-metadata.entity.ts
  server/src/entities/user-metadata.entity.ts
  server/src/services/system-config.service.spec.ts
  server/src/types.ts
  server/src/utils/config.ts
  server/src/utils/pagination.ts
  server/src/utils/preferences.ts
  server/test/fixtures/system-config.stub.ts
Labels: 🗄️server, changelog:skip

#15498 chore: update ui 14.1
  web/package-lock.json
  web/package.json
  web/src/routes/admin/user-management/+page.svelte
Labels: 🖥️web, changelog:skip

#15335 chore(web): update translations
  i18n/ar.json
  i18n/ca.json
  i18n/cv.json
  i18n/da.json
  i18n/de.json
  i18n/fi.json
  i18n/fil.json
  i18n/he.json
  i18n/lt.json
  i18n/nb_NO.json
  i18n/nn.json
  i18n/ro.json
  i18n/sr_Cyrl.json
  i18n/sr_Latn.json
  i18n/sv.json
  i18n/tr.json
  i18n/zh_Hant.json
Labels: changelog:translation

#15523 chore(mobile): translations update
  mobile/assets/i18n/ar-JO.json
  mobile/assets/i18n/cs-CZ.json
  mobile/assets/i18n/da-DK.json
  mobile/assets/i18n/de-DE.json
  mobile/assets/i18n/el-GR.json
  mobile/assets/i18n/en-US.json
  mobile/assets/i18n/es-ES.json
  mobile/assets/i18n/es-MX.json
  mobile/assets/i18n/es-PE.json
  mobile/assets/i18n/es-US.json
  mobile/assets/i18n/fi-FI.json
  mobile/assets/i18n/fr-CA.json
  mobile/assets/i18n/fr-FR.json
  mobile/assets/i18n/he-IL.json
  mobile/assets/i18n/hi-IN.json
  mobile/assets/i18n/hu-HU.json
  mobile/assets/i18n/id-ID.json
  mobile/assets/i18n/it-IT.json
  mobile/assets/i18n/ja-JP.json
  mobile/assets/i18n/ko-KR.json
  mobile/assets/i18n/lt-LT.json
  mobile/assets/i18n/lv-LV.json
  mobile/assets/i18n/mn-MN.json
  mobile/assets/i18n/nb-NO.json
  mobile/assets/i18n/nl-NL.json
  mobile/assets/i18n/pl-PL.json
  mobile/assets/i18n/pt-PT.json
  mobile/assets/i18n/ro-RO.json
  mobile/assets/i18n/ru-RU.json
  mobile/assets/i18n/sk-SK.json
  mobile/assets/i18n/sl-SI.json
  mobile/assets/i18n/sr-Cyrl.json
  mobile/assets/i18n/sr-Latn.json
  mobile/assets/i18n/sv-FI.json
  mobile/assets/i18n/sv-SE.json
  mobile/assets/i18n/th-TH.json
  mobile/assets/i18n/tr-TR.json
  mobile/assets/i18n/uk-UA.json
  mobile/assets/i18n/vi-VN.json
  mobile/assets/i18n/zh-CN.json
  mobile/assets/i18n/zh-Hans.json
  mobile/assets/i18n/zh-TW.json
Labels: changelog:skip

#15509 fix(server): query fixes
  server/src/entities/asset.entity.ts
  server/src/interfaces/memory.interface.ts
  server/src/interfaces/person.interface.ts
  server/src/queries/album.repository.sql
  server/src/queries/asset.repository.sql
  server/src/queries/library.repository.sql
  server/src/queries/view.repository.sql
  server/src/repositories/album.repository.ts
  server/src/repositories/asset.repository.ts
  server/src/repositories/library.repository.ts
  server/src/repositories/memory.repository.ts
  server/src/repositories/person.repository.ts
  server/src/repositories/trash.repository.ts
  server/src/services/person.service.spec.ts
  server/src/services/person.service.ts
Labels: 🗄️server, changelog:skip

#15508 chore: upgrade to vite 6
  cli/package-lock.json
  cli/package.json
  server/package-lock.json
  server/package.json
  web/package-lock.json
  web/package.json
Labels: changelog:skip

#15530 fix: incorrect event configuration
  server/src/services/job.service.ts
Labels: 🗄️server, changelog:bugfix

#15532 refactor: migrate memory repository
  e2e/src/api/specs/memory.e2e-spec.ts
  server/src/dtos/memory.dto.ts
  server/src/interfaces/memory.interface.ts
  server/src/repositories/index.ts
  server/src/repositories/memory.repository.ts
  server/src/services/base.service.ts
  server/src/services/memory.service.spec.ts
  server/src/services/memory.service.ts
  server/src/types.ts
  server/test/fixtures/memory.stub.ts
  server/test/repositories/memory.repository.mock.ts
  server/test/utils.ts
Labels: 🗄️server, changelog:skip

#15531 refactor: ui icon buttons
  web/package-lock.json
  web/package.json
  web/src/lib/components/album-page/albums-controls.svelte
  web/src/lib/components/shared-components/navigation-bar/navigation-bar.svelte
  web/src/routes/(user)/people/+page.svelte
  web/src/routes/(user)/sharing/+page.svelte
  web/src/routes/(user)/tags/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/trash/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/utilities/duplicates/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/admin/jobs-status/+page.svelte
  web/src/routes/admin/library-management/+page.svelte
  web/src/routes/admin/repair/+page.svelte
  web/src/routes/admin/system-settings/+page.svelte
Labels: 🖥️web, changelog:skip

#15536 refactor: migrate media repository
  server/src/config.ts
  server/src/interfaces/media.interface.ts
  server/src/repositories/index.ts
  server/src/repositories/media.repository.ts
  server/src/services/base.service.ts
  server/src/services/media.service.spec.ts
  server/src/services/media.service.ts
  server/src/services/metadata.service.spec.ts
  server/src/services/person.service.spec.ts
  server/src/services/person.service.ts
  server/src/types.ts
  server/src/utils/media.ts
  server/test/fixtures/media.stub.ts
  server/test/repositories/media.repository.mock.ts
  server/test/utils.ts
Labels: 🗄️server, changelog:skip

#15533 fix(web): No EXIF info on stack navigation
  e2e/src/api/specs/stack.e2e-spec.ts
  server/src/queries/stack.repository.sql
  server/src/repositories/stack.repository.ts
Labels: 🖥️web, 🗄️server, changelog:skip

#15460 feat(web): Show lens model in the asset viewer detail panel
  i18n/en.json
  web/src/lib/components/asset-viewer/detail-panel.svelte
  web/src/routes/(user)/search/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:enhancement

#15558 chore: minor form bottom padding increase
  web/src/lib/components/layouts/AuthPageLayout.svelte
Labels: 🖥️web, changelog:skip

#15562 fix: use push-o-matic to create release
  .github/workflows/prepare-release.yml
Labels: changelog:skip

#15567 fix(server): `getTimeBuckets` not handling boolean filters correctly
  server/src/repositories/asset.repository.ts
Labels: 🗄️server, changelog:bugfix

#15569 fix(web): auth page padding
  web/src/lib/components/layouts/AuthPageLayout.svelte
  web/src/routes/auth/change-password/+page.svelte
  web/src/routes/auth/login/+page.svelte
  web/src/routes/auth/register/+page.svelte
Labels: 🖥️web, changelog:bugfix

#15570 feat(web): neon light behinds auth forms
  web/src/lib/components/layouts/AuthPageLayout.svelte
  web/static/immich-logo-no-bg.svg
Labels: 🖥️web, changelog:enhancement

#15561 refactor: repositories
  server/src/app.module.ts
  server/src/controllers/notification.controller.ts
  server/src/emails/album-invite.email.tsx
  server/src/emails/album-update.email.tsx
  server/src/emails/test.email.tsx
  server/src/emails/welcome.email.tsx
  server/src/interfaces/album-user.interface.ts
  server/src/interfaces/cron.interface.ts
  server/src/interfaces/job.interface.ts
  server/src/interfaces/map.interface.ts
  server/src/interfaces/metadata.interface.ts
  server/src/interfaces/notification.interface.ts
  server/src/interfaces/oauth.interface.ts
  server/src/interfaces/server-info.interface.ts
  server/src/interfaces/telemetry.interface.ts
  server/src/interfaces/trash.interface.ts
  server/src/interfaces/version-history.interface.ts
  server/src/repositories/album-user.repository.ts
  server/src/repositories/asset.repository.ts
  server/src/repositories/cron.repository.ts
  server/src/repositories/index.ts
  server/src/repositories/map.repository.ts
  server/src/repositories/metadata.repository.ts
  server/src/repositories/notification.repository.spec.ts
  server/src/repositories/notification.repository.ts
  server/src/repositories/oauth.repository.ts
  server/src/repositories/server-info.repository.ts
  server/src/repositories/telemetry.repository.ts
  server/src/repositories/trash.repository.ts
  server/src/repositories/version-history.repository.ts
  server/src/services/album.service.spec.ts
  server/src/services/auth.service.spec.ts
  server/src/services/auth.service.ts
  server/src/services/backup.service.spec.ts
  server/src/services/base.service.ts
  server/src/services/job.service.spec.ts
  server/src/services/library.service.spec.ts
  server/src/services/map.service.spec.ts
  server/src/services/metadata.service.spec.ts
  server/src/services/metadata.service.ts
  server/src/services/notification.service.spec.ts
  server/src/services/notification.service.ts
  server/src/services/trash.service.spec.ts
  server/src/services/version.service.spec.ts
  server/src/types.ts
  server/test/fixtures/metadata.stub.ts
  server/test/repositories/album-user.repository.mock.ts
  server/test/repositories/cron.repository.mock.ts
  server/test/repositories/map.repository.mock.ts
  server/test/repositories/metadata.repository.mock.ts
  server/test/repositories/notification.repository.mock.ts
  server/test/repositories/oauth.repository.mock.ts
  server/test/repositories/server-info.repository.mock.ts
  server/test/repositories/telemetry.repository.mock.ts
  server/test/repositories/trash.repository.mock.ts
  server/test/repositories/version-history.repository.mock.ts
  server/test/utils.ts
Labels: 🗄️server, changelog:skip

#15573 fix(server): set `updatedAt` on updates
  server/src/migrations/1737672307560-AddUpdatedAtTriggers.ts
Labels: 🗄️server, changelog:bugfix

#15571 fix(server): Fix for sorting faces during merging
  server/src/repositories/person.repository.ts
Labels: 🗄️server, changelog:bugfix

#15580 fix(server): `searchRandom` response
  e2e/src/api/specs/asset.e2e-spec.ts
  e2e/src/api/specs/search.e2e-spec.ts
  e2e/src/utils.ts
  server/src/queries/search.repository.sql
  server/src/repositories/search.repository.ts
Labels: 🗄️server, changelog:bugfix

#15599 docs: add FAQ about app update approval
  docs/docs/FAQ.mdx
Labels: documentation, changelog:skip

#15582 fix(web): neon artifacts
  web/src/app.css
  web/src/lib/components/layouts/AuthPageLayout.svelte
Labels: 🖥️web, changelog:skip

#15604 fix(mobile): unit test
  mobile/test/pages/search/search.page_test.dart
Labels: 📱mobile, changelog:skip

#15613 fix: login page
  web/src/lib/components/layouts/AuthPageLayout.svelte
Labels: 🖥️web, changelog:bugfix

#15560 fix(mobile): full refresh doesn't get albums
  mobile/lib/pages/photos/photos.page.dart
Labels: 📱mobile, changelog:bugfix

#15581 chore(mobile): post release task
  mobile/ios/Runner.xcodeproj/project.pbxproj
  mobile/ios/Runner/Info.plist
Labels: changelog:skip

#15612 fix(server): link live photos
  server/src/repositories/asset.repository.ts
Labels: 🗄️server, changelog:bugfix

#15616 fix: demo login page
  web/src/routes/auth/login/+page.svelte
Labels: 🖥️web, changelog:bugfix

#15585 fix(server): no exif metadata in the deduplication utility
  server/src/queries/asset.repository.sql
  server/src/repositories/asset.repository.ts
Labels: 🗄️server, changelog:bugfix

#15600 fix(mobile): translation (no /api, experimental features)
  docs/docs/install/script.md
  docs/docs/partials/_mobile-app-login.md
  install.sh
  mobile/assets/i18n/ar-JO.json
  mobile/assets/i18n/ca-CA.json
  mobile/assets/i18n/cs-CZ.json
  mobile/assets/i18n/da-DK.json
  mobile/assets/i18n/de-DE.json
  mobile/assets/i18n/el-GR.json
  mobile/assets/i18n/en-US.json
  mobile/assets/i18n/es-ES.json
  mobile/assets/i18n/es-MX.json
  mobile/assets/i18n/es-PE.json
  mobile/assets/i18n/es-US.json
  mobile/assets/i18n/fi-FI.json
  mobile/assets/i18n/fr-CA.json
  mobile/assets/i18n/fr-FR.json
  mobile/assets/i18n/he-IL.json
  mobile/assets/i18n/hi-IN.json
  mobile/assets/i18n/hu-HU.json
  mobile/assets/i18n/id-ID.json
  mobile/assets/i18n/it-IT.json
  mobile/assets/i18n/ja-JP.json
  mobile/assets/i18n/ko-KR.json
  mobile/assets/i18n/lt-LT.json
  mobile/assets/i18n/lv-LV.json
  mobile/assets/i18n/mn-MN.json
  mobile/assets/i18n/nb-NO.json
  mobile/assets/i18n/nl-NL.json
  mobile/assets/i18n/pl-PL.json
  mobile/assets/i18n/pt-BR.json
  mobile/assets/i18n/pt-PT.json
  mobile/assets/i18n/ro-RO.json
  mobile/assets/i18n/ru-RU.json
  mobile/assets/i18n/sk-SK.json
  mobile/assets/i18n/sl-SI.json
  mobile/assets/i18n/sr-Cyrl.json
  mobile/assets/i18n/sr-Latn.json
  mobile/assets/i18n/sv-FI.json
  mobile/assets/i18n/sv-SE.json
  mobile/assets/i18n/th-TH.json
  mobile/assets/i18n/tr-TR.json
  mobile/assets/i18n/uk-UA.json
  mobile/assets/i18n/vi-VN.json
  mobile/assets/i18n/zh-CN.json
  mobile/assets/i18n/zh-Hans.json
  mobile/assets/i18n/zh-TW.json
  mobile/lib/widgets/settings/networking_settings/local_network_preference.dart
Labels: documentation, 📱mobile, changelog:enhancement

#15597 fix(mobile): deletion of single assets
  mobile/lib/pages/common/gallery_viewer.page.dart
Labels: 📱mobile, changelog:bugfix

#15611 fix(server): failed to get albums with archived assets
  server/src/queries/album.repository.sql
  server/src/repositories/album.repository.ts
Labels: 🗄️server, changelog:bugfix

#15622 fix(server): migration mentions public schema
  server/src/migrations/1734574016301-AddTimeBucketIndices.ts
Labels: 🗄️server, changelog:bugfix

#15623 fix(mobile): failed to load ga/gl locale
  localizely.yml
  mobile/assets/i18n/ga.json
  mobile/assets/i18n/gl.json
Labels: changelog:bugfix

#15587 fix(server): `sslmode` not working
  server/src/app.module.ts
  server/src/bin/sync-sql.ts
  server/src/repositories/config.repository.spec.ts
  server/src/repositories/config.repository.ts
  server/src/services/database.service.spec.ts
  server/test/repositories/config.repository.mock.ts
Labels: 🗄️server, changelog:bugfix

#15630 fix(server): changing vector dim size
  server/src/repositories/search.repository.ts
Labels: 🗄️server, changelog:bugfix
