Repository immich-app/immich, pull requests merged in 2025-03, with the labels that each got.

#16437 chore(mobile): post release task
  mobile/ios/Runner.xcodeproj/project.pbxproj
  mobile/ios/Runner/Info.plist
Labels: changelog:skip

#16462 chore: add 'not duplicate' checkbox to issue template
  .github/ISSUE_TEMPLATE/bug_report.yaml
Labels: changelog:skip

#16456 fix(mobile): fix typos
  mobile/ios/Runner/BackgroundSync/BackgroundServicePlugin.swift
  mobile/lib/mixins/error_logger.mixin.dart
  mobile/lib/providers/asset_viewer/download.provider.dart
  mobile/lib/providers/asset_viewer/share_intent_upload.provider.dart
  mobile/lib/providers/auth.provider.dart
  mobile/lib/providers/gallery_permission.provider.dart
  mobile/lib/services/auth.service.dart
  mobile/lib/services/background.service.dart
  mobile/lib/services/sync.service.dart
  mobile/lib/utils/cache/custom_image_cache.dart
  mobile/lib/widgets/photo_view/src/utils/photo_view_utils.dart
Labels: 📱mobile, changelog:skip

#16455 fix(web): unable to download live photo as anonymous user
  web/src/lib/utils/asset-utils.ts
Labels: 🖥️web, changelog:bugfix

#16457 fix(web): Fixed people list overflowing in advanced search
  web/src/lib/components/shared-components/search-bar/search-people-section.svelte
Labels: 🖥️web, changelog:bugfix

#16466 fix(web): fix typos
  web/src/lib/actions/intersection-observer.ts
  web/src/lib/components/i18n/__test__/format-message.spec.ts
  web/src/lib/components/shared-components/notification/notification.ts
  web/src/lib/components/shared-components/purchasing/individual-purchase-option-card.svelte
Labels: 🖥️web, changelog:skip

#16470 fix(web): Open huggingface.co link on settings page in new tab
  web/src/lib/components/admin-page/settings/machine-learning-settings/machine-learning-settings.svelte
Labels: 🖥️web, changelog:skip

#16476 chore(mobile): rename log enum to lowercase
  mobile/lib/domain/models/log.model.dart
  mobile/lib/domain/services/log.service.dart
  mobile/lib/infrastructure/entities/log.entity.dart
  mobile/lib/infrastructure/entities/log.entity.g.dart
  mobile/lib/infrastructure/entities/store.entity.dart
  mobile/lib/pages/common/app_log.page.dart
  mobile/lib/utils/bootstrap.dart
  mobile/test/domain/services/log_service_test.dart
  mobile/test/modules/shared/sync_service_test.dart
Labels: 📱mobile, changelog:skip

#16483 fix(mobile): Updated formatting of server address in networking
  mobile/lib/widgets/settings/networking_settings/networking_settings.dart
Labels: 📱mobile, changelog:bugfix

#16485 fix(web): Default to context search on web
  web/src/lib/components/shared-components/search-bar/search-filter-modal.svelte
Labels: 🖥️web, changelog:skip

#16442 feat: add album keyboard shortcuts
  web/src/lib/components/asset-viewer/actions/add-to-album-action.svelte
  web/src/lib/components/asset-viewer/album-list-item.svelte
  web/src/lib/components/photos-page/actions/add-to-album.svelte
  web/src/lib/components/shared-components/album-selection-modal.svelte
  web/src/lib/components/shared-components/album-selection/album-selection-modal.svelte
  web/src/lib/components/shared-components/album-selection/album-selection-utils.spec.ts
  web/src/lib/components/shared-components/album-selection/album-selection-utils.ts
  web/src/lib/components/shared-components/album-selection/new-album-list-item.svelte
  web/src/lib/components/shared-components/show-shortcuts.svelte
Labels: 🖥️web, changelog:enhancement

#16499 chore: add extra note to no-dupes checkbox
  .github/DISCUSSION_TEMPLATE/feature-request.yaml
  .github/ISSUE_TEMPLATE/bug_report.yaml
Labels: changelog:skip

#16513 chore: reword backup_manual_in_progress
  mobile/assets/i18n/ca-CA.json
  mobile/assets/i18n/en-US.json
  mobile/assets/i18n/ga.json
  mobile/assets/i18n/gl-ES.json
  mobile/assets/i18n/hi-IN.json
  mobile/assets/i18n/lt-LT.json
  mobile/assets/i18n/mn-MN.json
  mobile/assets/i18n/sr-Cyrl.json
  mobile/assets/i18n/sr-Latn.json
  mobile/assets/i18n/sv-FI.json
Labels: changelog:skip

#16226 feat(server): library cleanup from ui
  docs/docs/features/libraries.md
  i18n/en.json
  server/src/enum.ts
  server/src/services/job.service.ts
  server/src/services/library.service.spec.ts
  server/src/services/library.service.ts
  server/src/types.ts
  web/src/lib/components/admin-page/jobs/job-tile.svelte
  web/src/lib/components/admin-page/jobs/jobs-panel.svelte
  web/src/lib/utils.ts
  web/src/routes/admin/library-management/+page.svelte
Labels: documentation, 🖥️web, 🗄️server, changelog:enhancement

#16424 feat: partner sync
  mobile/openapi/README.md
  mobile/openapi/lib/api.dart
  mobile/openapi/lib/api_client.dart
  mobile/openapi/lib/model/sync_entity_type.dart
  mobile/openapi/lib/model/sync_partner_delete_v1.dart
  mobile/openapi/lib/model/sync_partner_v1.dart
  mobile/openapi/lib/model/sync_request_type.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/db.d.ts
  server/src/dtos/sync.dto.ts
  server/src/entities/partner-audit.entity.ts
  server/src/enum.ts
  server/src/migrations/1740739778549-CreatePartnersAuditTable.ts
  server/src/repositories/sync.repository.ts
  server/src/services/sync.service.ts
  server/test/factory.ts
  server/test/medium/specs/sync.service.spec.ts
  server/test/repositories/sync.repository.mock.ts
Labels: 🗄️server, changelog:feature

#16251 feat: weblate checks workflow
  .github/workflows/weblate-lock.yml
Labels: changelog:skip

#16514 fix: don't use public keyword in migration query
  server/src/migrations/1740595460866-UsersAuditUuidv7PrimaryKey.ts
Labels: 🗄️server, changelog:bugfix

#16533 ci: don't check weblate lock on chore/translations and add success job
  .github/workflows/weblate-lock.yml
Labels: changelog:skip

#16390 refactor(server): link live photos as part of metadata extraction instead of queueing job
  server/src/enum.ts
  server/src/services/job.service.spec.ts
  server/src/services/job.service.ts
  server/src/services/metadata.service.spec.ts
  server/src/services/metadata.service.ts
  server/src/types.ts
Labels: 🗄️server, changelog:skip

#16526 refactor(mobile): move timeline methods to timeline repo
  mobile/lib/interfaces/timeline.interface.dart
  mobile/lib/interfaces/user.interface.dart
  mobile/lib/providers/asset.provider.dart
  mobile/lib/providers/user.provider.dart
  mobile/lib/repositories/timeline.repository.dart
  mobile/lib/repositories/user.repository.dart
  mobile/lib/services/album.service.dart
  mobile/lib/services/background.service.dart
  mobile/lib/services/sync.service.dart
  mobile/lib/services/timeline.service.dart
  mobile/lib/services/user.service.dart
  mobile/test/services/album.service_test.dart
Labels: 📱mobile, changelog:skip

#16517 chore(mobile): fix store.put type def
  mobile/lib/domain/services/store.service.dart
Labels: 📱mobile, changelog:skip

#16500 feat(web): Video memories on web
  i18n/en.json
  web/src/lib/components/memory-page/memory-viewer.svelte
Labels: 🖥️web, changelog:enhancement

#16544 ci: weblate checks should always run, should skip on en.json
  .github/workflows/weblate-lock.yml
Labels: changelog:skip

#15469 fix(web): delete action from full-screen reset view port in gallery view
  web/src/lib/components/asset-viewer/actions/action.ts
  web/src/lib/components/asset-viewer/actions/delete-action.svelte
  web/src/lib/components/asset-viewer/asset-viewer-nav-bar.svelte
  web/src/lib/components/asset-viewer/asset-viewer.svelte
  web/src/lib/components/photos-page/asset-grid.svelte
Labels: 🖥️web, changelog:bugfix

#16452 fix(docs): info on preloading ML models
  docs/docs/install/environment-variables.md
Labels: documentation, changelog:documentation

#16543 feat: qr code for new shared link
  i18n/en.json
  web/package-lock.json
  web/package.json
  web/src/lib/components/shared-components/create-share-link-modal/create-shared-link-modal.svelte
  web/src/lib/components/shared-components/qrcode.svelte
Labels: 🖥️web, changelog:enhancement, preview

#16398 refactor: migration tag repository to kysely
  server/src/database.ts
  server/src/dtos/tag.dto.ts
  server/src/queries/tag.repository.sql
  server/src/repositories/tag.repository.ts
  server/src/services/metadata.service.spec.ts
  server/src/services/metadata.service.ts
  server/src/services/tag.service.spec.ts
  server/src/services/tag.service.ts
  server/src/types.ts
  server/src/utils/tag.ts
  server/test/fixtures/tag.stub.ts
  server/test/repositories/tag.repository.mock.ts
Labels: 🗄️server, changelog:skip

#16548 fix: reset/regenerate memories
  server/src/migrations/1741027685381-ResetMemories.ts
  server/src/services/version.service.ts
  server/test/factory.ts
  server/test/medium/specs/version.service.spec.ts
  server/test/utils.ts
Labels: 🗄️server, changelog:bugfix

#16555 docs: clean up environment variables formatting & grammar
  docs/docs/install/environment-variables.md
Labels: documentation, changelog:documentation

#16570 fix(server): fix import path truthiness check
  web/src/routes/admin/library-management/+page.svelte
Labels: 🖥️web, changelog:bugfix

#16562 fix(mobile): incorrect memories with timezone
  mobile/lib/services/memory.service.dart
Labels: 📱mobile, changelog:bugfix

#16588 refactor: test utils
  server/src/services/api-key.service.ts
  server/src/services/auth.service.ts
  server/src/services/base.service.ts
  server/test/factory.ts
  server/test/medium/specs/metadata.service.spec.ts
  server/test/medium/specs/sync.service.spec.ts
  server/test/medium/specs/version.service.spec.ts
  server/test/utils.ts
Labels: 🗄️server, changelog:skip

#16585 fix(server): check updateLibraryIndex for zero
  web/src/routes/admin/library-management/+page.svelte
Labels: 🖥️web, changelog:bugfix

#16595 chore: no more immortal PRs
  renovate.json
Labels: changelog:skip

#13419 fix(ml): set face detection threshold correctly in locust
  machine-learning/app/models/facial_recognition/recognition.py
  machine-learning/app/test_main.py
  machine-learning/locustfile.py
Labels: 🧠machine-learning, changelog:skip

#16596 fix(mobile): do not pause audio on app start
  mobile/ios/Runner/AppDelegate.swift
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: 📱mobile, changelog:bugfix

#15910 feat(server): e2e for missing jobs
  e2e/src/api/specs/asset.e2e-spec.ts
  e2e/src/api/specs/jobs.e2e-spec.ts
  e2e/src/utils.ts
  server/src/services/job.service.ts
Labels: 🗄️server, changelog:bugfix

#16582 chore: run docker workflow on non-main PRs
  .github/workflows/docker.yml
Labels: changelog:skip

#16577 fix(mobile): .well-known usage
  mobile/lib/services/api.service.dart
Labels: 📱mobile, changelog:bugfix

#16305 fix(web): fix lost scrollpos on deep link to timeline asset, scrub stop
  web/src/lib/components/album-page/album-viewer.svelte
  web/src/lib/components/asset-viewer/photo-viewer.svelte
  web/src/lib/components/assets/thumbnail/thumbnail.svelte
  web/src/lib/components/assets/thumbnail/video-thumbnail.svelte
  web/src/lib/components/faces-page/assign-face-side-panel.svelte
  web/src/lib/components/faces-page/person-side-panel.svelte
  web/src/lib/components/memory-page/memory-viewer.svelte
  web/src/lib/components/photos-page/actions/archive-action.svelte
  web/src/lib/components/photos-page/actions/favorite-action.svelte
  web/src/lib/components/photos-page/actions/select-all-assets.svelte
  web/src/lib/components/photos-page/asset-date-group.svelte
  web/src/lib/components/photos-page/asset-grid.svelte
  web/src/lib/components/photos-page/measure-date-group.svelte
  web/src/lib/components/share-page/individual-shared-viewer.svelte
  web/src/lib/components/shared-components/control-app-bar.svelte
  web/src/lib/components/shared-components/gallery-viewer/gallery-viewer.svelte
  web/src/lib/components/shared-components/scrubber/scrubber.svelte
  web/src/lib/stores/assets-store.spec.ts
  web/src/lib/stores/assets-store.svelte.ts
  web/src/lib/utils/asset-store-task-manager.ts
  web/src/lib/utils/asset-utils.ts
  web/src/lib/utils/executor-queue.spec.ts
  web/src/lib/utils/layout-utils.ts
  web/src/lib/utils/timeline-util.ts
  web/src/lib/utils/tunables.ts
  web/src/routes/(user)/albums/[albumId=id]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/archive/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/favorites/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/folders/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/partners/[userId]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/people/[personId]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/photos/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/search/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/tags/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/trash/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/vite.config.js
Labels: 🖥️web, changelog:bugfix, preview

#16600 refactor: download service
  server/src/repositories/download.repository.ts
  server/src/repositories/index.ts
  server/src/services/base.service.ts
  server/src/services/download.service.spec.ts
  server/src/services/download.service.ts
  server/src/utils/pagination.ts
  server/test/repositories/download.repository.mock.ts
  server/test/utils.ts
Labels: 🗄️server, changelog:skip, preview

#16599 fix: isar crash on resume from app detach
  mobile/analysis_options.yaml
  mobile/lib/domain/services/log.service.dart
  mobile/lib/providers/app_life_cycle.provider.dart
Labels: 📱mobile, changelog:bugfix

#16611 fix: storage template failure after re-upload and previous fail
  server/src/entities/move.entity.ts
  server/src/migrations/1741179334403-MoveHistoryUuidEntityId.ts
  server/src/queries/move.repository.sql
  server/src/repositories/move.repository.ts
  server/src/services/storage-template.service.ts
  server/test/repositories/move.repository.mock.ts
Labels: 🗄️server, changelog:bugfix

#16618 docs: 60k stars! ⭐
  docs/src/pages/roadmap.tsx
Labels: documentation, changelog:documentation

#16616 feat(mobile): add catalan i18n
  localizely.yml
  mobile/assets/i18n/ca.json
  mobile/lib/constants/locales.dart
Labels: 📱mobile, changelog:translation

#16617 fix(web): show tags timeline
  web/src/lib/stores/assets-store.svelte.ts
Labels: 🖥️web, changelog:skip, preview

#16545 feat(mobile): Navigate back on memories
  mobile/lib/pages/photos/memory.page.dart
Labels: 📱mobile, changelog:enhancement

#16623 chore(mobile): post release task
  mobile/ios/Runner.xcodeproj/project.pbxproj
  mobile/ios/Runner/Info.plist
Labels: changelog:skip

#16636 docs: fix typos
  docs/docs/features/supported-formats.md
Labels: documentation, changelog:documentation

#16630 refactor(server): replace switch statement in sendFile with Record lookup
  server/src/utils/file.ts
Labels: 🗄️server, changelog:skip

#16556 feat(mobile): new sync
  mobile/analysis_options.yaml
  mobile/lib/domain/interfaces/sync_api.interface.dart
  mobile/lib/domain/models/sync/sync_event.model.dart
  mobile/lib/domain/services/sync_stream.service.dart
  mobile/lib/infrastructure/repositories/sync_api.repository.dart
  mobile/lib/providers/infrastructure/sync_stream.provider.dart
  mobile/lib/widgets/common/immich_app_bar.dart
Labels: 📱mobile, changelog:skip

#16450 refactor(server): group async calls in metadata extraction
  server/src/services/metadata.service.spec.ts
  server/src/services/metadata.service.ts
Labels: 🗄️server, changelog:enhancement

#14456 feat(server): library refresh go brrr
  docs/docs/features/libraries.md
  e2e/src/api/specs/library.e2e-spec.ts
  server/eslint.config.mjs
  server/src/enum.ts
  server/src/repositories/asset.repository.ts
  server/src/repositories/library.repository.ts
  server/src/services/library.service.spec.ts
  server/src/services/library.service.ts
  server/src/services/metadata.service.ts
  server/src/types.ts
  server/src/utils/database.ts
  server/src/utils/misc.spec.ts
  server/src/utils/misc.ts
  server/test/fixtures/asset.stub.ts
  server/test/repositories/asset.repository.mock.ts
Labels: documentation, 🖥️web, 🗄️server, changelog:enhancement

#16652 fix(web): aspect ratio of memory cards
  web/src/lib/components/photos-page/memory-lane.svelte
Labels: 🖥️web, changelog:skip

#16453 refactor(server): use exiftool for file date metadata
  server/src/repositories/metadata.repository.ts
  server/src/services/metadata.service.spec.ts
  server/src/services/metadata.service.ts
  server/test/medium/specs/metadata.service.spec.ts
Labels: 🗄️server, changelog:skip

#15047 feat(mobile): Folder View for mobile
  mobile/assets/i18n/en-US.json
  mobile/lib/interfaces/folder_api.interface.dart
  mobile/lib/models/folder/recursive_folder.model.dart
  mobile/lib/models/folder/root_folder.model.dart
  mobile/lib/pages/library/folder/folder.page.dart
  mobile/lib/pages/library/library.page.dart
  mobile/lib/providers/folder.provider.dart
  mobile/lib/repositories/folder_api.repository.dart
  mobile/lib/routing/router.dart
  mobile/lib/routing/router.gr.dart
  mobile/lib/services/api.service.dart
  mobile/lib/services/folder.service.dart
  mobile/lib/widgets/common/immich_app_bar.dart
  mobile/openapi/lib/api/activities_api.dart
  mobile/openapi/lib/api/albums_api.dart
  mobile/openapi/lib/api/api_keys_api.dart
  mobile/openapi/lib/api/assets_api.dart
  mobile/openapi/lib/api/authentication_api.dart
  mobile/openapi/lib/api/deprecated_api.dart
  mobile/openapi/lib/api/download_api.dart
  mobile/openapi/lib/api/duplicates_api.dart
  mobile/openapi/lib/api/faces_api.dart
  mobile/openapi/lib/api/file_reports_api.dart
  mobile/openapi/lib/api/jobs_api.dart
  mobile/openapi/lib/api/libraries_api.dart
  mobile/openapi/lib/api/map_api.dart
  mobile/openapi/lib/api/memories_api.dart
  mobile/openapi/lib/api/notifications_api.dart
  mobile/openapi/lib/api/o_auth_api.dart
  mobile/openapi/lib/api/partners_api.dart
  mobile/openapi/lib/api/people_api.dart
  mobile/openapi/lib/api/search_api.dart
  mobile/openapi/lib/api/server_api.dart
  mobile/openapi/lib/api/sessions_api.dart
  mobile/openapi/lib/api/shared_links_api.dart
  mobile/openapi/lib/api/stacks_api.dart
  mobile/openapi/lib/api/sync_api.dart
  mobile/openapi/lib/api/system_config_api.dart
  mobile/openapi/lib/api/system_metadata_api.dart
  mobile/openapi/lib/api/tags_api.dart
  mobile/openapi/lib/api/timeline_api.dart
  mobile/openapi/lib/api/trash_api.dart
  mobile/openapi/lib/api/users_admin_api.dart
  mobile/openapi/lib/api/users_api.dart
  mobile/openapi/lib/api/view_api.dart
  mobile/pubspec.yaml
  open-api/bin/generate-open-api.sh
  open-api/templates/mobile/api.mustache
  open-api/templates/mobile/api.mustache.patch
Labels: 📱mobile, changelog:feature

#16593 refactor: database repository
  server/src/app.module.ts
  server/src/bin/sync-sql.ts
  server/src/constants.ts
  server/src/db.d.ts
  server/src/entities/index.ts
  server/src/migrations/1645130759468-CreateUserTable.ts
  server/src/queries/database.repository.sql
  server/src/repositories/asset.repository.ts
  server/src/repositories/database.repository.ts
  server/src/repositories/person.repository.ts
  server/src/repositories/search.repository.ts
  server/src/repositories/user.repository.ts
  server/src/services/database.service.spec.ts
  server/src/services/database.service.ts
  server/src/utils/database.ts
  server/test/medium/globalSetup.ts
  server/test/repositories/database.repository.mock.ts
Labels: 🗄️server, changelog:skip

#16662 docs: reading existing face tag metadata is supported currently
  docs/docs/FAQ.mdx
Labels: documentation, changelog:documentation

#16667 feat(server): normalize extensions in storage template
  i18n/en.json
  server/src/services/storage-template.service.spec.ts
  server/src/services/storage-template.service.ts
Labels: 🗄️server, changelog:enhancement

#16666 refactor: stream asset ids for library queue jobs
  server/src/repositories/asset.repository.ts
  server/src/repositories/library.repository.ts
  server/src/services/library.service.spec.ts
  server/src/services/library.service.ts
  server/test/repositories/asset.repository.mock.ts
  server/test/repositories/library.repository.mock.ts
Labels: 🗄️server, changelog:enhancement

#16669 fix(github): consistent folder format for PR template
  .github/pull_request_template.md
Labels: changelog:skip

#16665 fix(web): remove margin on last memory item
  web/src/lib/components/photos-page/memory-lane.svelte
Labels: 🖥️web, changelog:skip

#16656 fix(web): hide scroll right button when scrolled to the right in memory lane
  web/src/lib/components/photos-page/memory-lane.svelte
Labels: 🖥️web, changelog:bugfix

#16685 refactor(server): use constant for external library batch size
  server/src/services/library.service.ts
Labels: 🗄️server, changelog:enhancement

#16692 fix(docs): remove /api from README
  README.md
  readme_i18n/README_ar_JO.md
  readme_i18n/README_ca_ES.md
  readme_i18n/README_de_DE.md
  readme_i18n/README_es_ES.md
  readme_i18n/README_fr_FR.md
  readme_i18n/README_it_IT.md
  readme_i18n/README_ja_JP.md
  readme_i18n/README_ko_KR.md
  readme_i18n/README_nl_NL.md
  readme_i18n/README_pt_BR.md
  readme_i18n/README_ru_RU.md
  readme_i18n/README_sv_SE.md
  readme_i18n/README_th_TH.md
  readme_i18n/README_tr_TR.md
  readme_i18n/README_uk_UA.md
  readme_i18n/README_vi_VN.md
  readme_i18n/README_zh_CN.md
Labels: documentation, changelog:documentation

#16698 fix(mobile): remain on albums tab after album deletion
  mobile/lib/widgets/album/album_viewer_appbar.dart
Labels: 📱mobile, changelog:bugfix

#16700 feat: use stream for template migrations
  server/src/repositories/asset.repository.ts
  server/src/services/storage-template.service.spec.ts
  server/src/services/storage-template.service.ts
  server/src/types.ts
  server/test/fixtures/asset.stub.ts
  server/test/repositories/asset.repository.mock.ts
Labels: 🗄️server, changelog:skip

#16702 refactor: convert activity stub to a factory
  server/src/database.ts
  server/src/services/activity.service.spec.ts
  server/test/factory.ts
  server/test/fixtures/activity.stub.ts
  server/test/small.factory.ts
Labels: 🗄️server, changelog:skip

#16704 refactor: memory stub
  server/src/database.ts
  server/src/db.d.ts
  server/src/services/memory.service.spec.ts
  server/src/services/memory.service.ts
  server/test/fixtures/memory.stub.ts
  server/test/small.factory.ts
Labels: 🗄️server, changelog:skip

#16703 feat: log before running migrations
  server/src/repositories/database.repository.ts
Labels: 🗄️server, changelog:enhancement

#16706 refactor: queue asset deletes via stream
  server/src/repositories/asset.repository.ts
  server/src/services/asset.service.spec.ts
  server/src/services/asset.service.ts
  server/test/repositories/asset.repository.mock.ts
Labels: 🗄️server, changelog:skip

#16710 fix(mobile): fix notification icon not displaying properly
  mobile/android/app/src/main/kotlin/app/alextran/immich/BackupWorker.kt
Labels: 📱mobile, changelog:bugfix

#16707 chore: remove unused file
  server/test/global-setup.js
Labels: 🗄️server, changelog:skip

#16711 refactor: migrate library spec to factories
  server/src/database.ts
  server/src/dtos/library.dto.ts
  server/src/entities/library.entity.ts
  server/src/queries/library.repository.sql
  server/src/repositories/library.repository.ts
  server/src/services/library.service.spec.ts
  server/test/fixtures/asset.stub.ts
  server/test/fixtures/library.stub.ts
  server/test/small.factory.ts
Labels: 🗄️server, changelog:skip

#16728 feat(mobile): person age on photo properties
  mobile/assets/i18n/en-US.json
  mobile/lib/models/search/search_curated_content.model.dart
  mobile/lib/widgets/asset_viewer/detail_panel/people_info.dart
  mobile/lib/widgets/search/curated_people_row.dart
Labels: 📱mobile, changelog:enhancement

#16758 fix(docs): edge case when restoring dump that is unreadable as current user
  docs/docs/administration/backup-and-restore.md
Labels: documentation, changelog:documentation

#16741 chore(mobile): upgrade flutter_web_auth_2
  mobile/android/app/src/main/AndroidManifest.xml
  mobile/ios/Podfile.lock
  mobile/lib/services/oauth.service.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: 📱mobile, changelog:skip

#16742 chore(mobile): upgrade riverpod
  mobile/lib/providers/activity.provider.g.dart
  mobile/lib/providers/activity_service.provider.dart
  mobile/lib/providers/activity_service.provider.g.dart
  mobile/lib/providers/activity_statistics.provider.g.dart
  mobile/lib/providers/album/album_sort_by_options.provider.g.dart
  mobile/lib/providers/album/current_album.provider.g.dart
  mobile/lib/providers/api.provider.dart
  mobile/lib/providers/api.provider.g.dart
  mobile/lib/providers/app_settings.provider.dart
  mobile/lib/providers/app_settings.provider.g.dart
  mobile/lib/providers/asset.provider.dart
  mobile/lib/providers/asset_viewer/asset_people.provider.g.dart
  mobile/lib/providers/asset_viewer/asset_stack.provider.dart
  mobile/lib/providers/asset_viewer/asset_stack.provider.g.dart
  mobile/lib/providers/asset_viewer/current_asset.provider.g.dart
  mobile/lib/providers/backup/backup_verification.provider.g.dart
  mobile/lib/providers/immich_logo_provider.dart
  mobile/lib/providers/immich_logo_provider.g.dart
  mobile/lib/providers/infrastructure/db.provider.dart
  mobile/lib/providers/infrastructure/db.provider.g.dart
  mobile/lib/providers/infrastructure/exif.provider.dart
  mobile/lib/providers/infrastructure/exif.provider.g.dart
  mobile/lib/providers/infrastructure/store.provider.dart
  mobile/lib/providers/infrastructure/store.provider.g.dart
  mobile/lib/providers/map/map_marker.provider.dart
  mobile/lib/providers/map/map_marker.provider.g.dart
  mobile/lib/providers/map/map_service.provider.dart
  mobile/lib/providers/map/map_service.provider.g.dart
  mobile/lib/providers/map/map_state.provider.g.dart
  mobile/lib/providers/search/paginated_search.provider.dart
  mobile/lib/providers/search/paginated_search.provider.g.dart
  mobile/lib/providers/search/people.provider.dart
  mobile/lib/providers/search/people.provider.g.dart
  mobile/lib/providers/search/search_filter.provider.dart
  mobile/lib/providers/search/search_filter.provider.g.dart
  mobile/lib/routing/router.gr.dart
  mobile/lib/services/person.service.dart
  mobile/lib/services/person.service.g.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: 📱mobile, changelog:skip

#16746 fix(web): Update people-card favorite position
  web/src/lib/components/faces-page/people-card.svelte
Labels: 🖥️web, changelog:bugfix

#16735 fix: 🍪 packages confusion
  server/package-lock.json
  server/package.json
  server/src/services/auth.service.ts
Labels: 🗄️server, changelog:skip

#16725 chore(ml): uv
  .github/workflows/prepare-release.yml
  .github/workflows/test.yml
  machine-learning/Dockerfile
  machine-learning/README.md
  machine-learning/poetry.lock
  machine-learning/pyproject.toml
  machine-learning/uv.lock
  misc/release/pump-version.sh
Labels: changelog:skip

#16664 fix(web): add labels to memory lane buttons
  web/src/lib/components/photos-page/memory-lane.svelte
Labels: 🖥️web, changelog:skip

#16628 fix(server): adjust type of person.birthDate
  e2e/src/api/specs/person.e2e-spec.ts
  server/src/dtos/person.dto.ts
  server/src/entities/person.entity.ts
  server/src/services/person.service.spec.ts
  server/src/utils/date.ts
Labels: 🗄️server, changelog:bugfix

#16678 feat(server): read Android and Sony video camera make/model
  server/src/repositories/metadata.repository.ts
  server/src/services/metadata.service.spec.ts
  server/src/services/metadata.service.ts
Labels: 🗄️server, changelog:enhancement

#16614 feat(web): remember search context
  web/src/lib/components/shared-components/search-bar/search-bar.svelte
  web/src/lib/components/shared-components/search-bar/search-filter-modal.svelte
  web/src/lib/constants.ts
Labels: 🖥️web, changelog:enhancement

#16753 fix(server): set the dev server restart policy of the dev server container to match the other containers
  docker/docker-compose.dev.yml
Labels: 🗄️server, changelog:bugfix

#16766 docs: update unraid installation steps
  docs/docs/install/unraid.md
Labels: documentation, changelog:documentation

#16739 chore(mobile): upgrade maplibre
  mobile/lib/extensions/maplibrecontroller_extensions.dart
  mobile/lib/pages/search/map/map.page.dart
  mobile/lib/pages/search/map/map_location_picker.page.dart
  mobile/lib/widgets/map/map_thumbnail.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: 📱mobile, changelog:skip

#16772 feat(web): show birthdate on person page
  i18n/en.json
  web/src/routes/(user)/people/[personId]/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:enhancement

#16776 refactor: api key spec to use factories
  server/src/controllers/api-key.controller.ts
  server/src/database.ts
  server/src/repositories/api-key.repository.ts
  server/src/services/api-key.service.spec.ts
  server/src/services/api-key.service.ts
  server/src/services/auth.service.spec.ts
  server/src/services/index.ts
  server/test/fixtures/api-key.stub.ts
  server/test/small.factory.ts
Labels: 🗄️server, changelog:skip

#16777 chore: remove unused package
  server/package-lock.json
  server/package.json
Labels: changelog:skip

#16785 refactor: repository mocks
  server/src/repositories/notification.repository.spec.ts
  server/src/repositories/storage.repository.spec.ts
  server/src/services/activity.service.spec.ts
  server/src/services/album.service.spec.ts
  server/src/services/api-key.service.spec.ts
  server/src/services/asset.service.spec.ts
  server/src/services/audit.service.spec.ts
  server/src/services/auth.service.spec.ts
  server/src/services/backup.service.spec.ts
  server/src/services/cli.service.spec.ts
  server/src/services/download.service.spec.ts
  server/src/services/library.service.spec.ts
  server/src/services/memory.service.spec.ts
  server/src/services/metadata.service.spec.ts
  server/src/services/notification.service.spec.ts
  server/src/services/person.service.spec.ts
  server/src/services/search.service.spec.ts
  server/src/services/session.service.spec.ts
  server/src/services/shared-link.service.spec.ts
  server/src/services/stack.service.spec.ts
  server/src/services/storage-template.service.spec.ts
  server/src/services/tag.service.spec.ts
  server/src/services/timeline.service.spec.ts
  server/src/services/trash.service.spec.ts
  server/src/services/version.service.spec.ts
  server/test/factory.ts
  server/test/medium/specs/metadata.service.spec.ts
  server/test/repositories/activity.repository.mock.ts
  server/test/repositories/album-user.repository.mock.ts
  server/test/repositories/album.repository.mock.ts
  server/test/repositories/api-key.repository.mock.ts
  server/test/repositories/audit.repository.mock.ts
  server/test/repositories/cron.repository.mock.ts
  server/test/repositories/download.repository.mock.ts
  server/test/repositories/event.repository.mock.ts
  server/test/repositories/library.repository.mock.ts
  server/test/repositories/logger.repository.mock.ts
  server/test/repositories/machine-learning.repository.mock.ts
  server/test/repositories/map.repository.mock.ts
  server/test/repositories/memory.repository.mock.ts
  server/test/repositories/move.repository.mock.ts
  server/test/repositories/notification.repository.mock.ts
  server/test/repositories/oauth.repository.mock.ts
  server/test/repositories/partner.repository.mock.ts
  server/test/repositories/person.repository.mock.ts
  server/test/repositories/process.repository.mock.ts
  server/test/repositories/search.repository.mock.ts
  server/test/repositories/server-info.repository.mock.ts
  server/test/repositories/session.repository.mock.ts
  server/test/repositories/shared-link.repository.mock.ts
  server/test/repositories/stack.repository.mock.ts
  server/test/repositories/sync.repository.mock.ts
  server/test/repositories/tag.repository.mock.ts
  server/test/repositories/trash.repository.mock.ts
  server/test/repositories/user.repository.mock.ts
  server/test/repositories/version-history.repository.mock.ts
  server/test/repositories/view.repository.mock.ts
  server/test/small.factory.ts
  server/test/utils.ts
Labels: 🗄️server, changelog:skip

#16730 chore: flutter 3.29.1
  .devcontainer/Dockerfile
  mobile/.fvmrc
  mobile/.gitignore
  mobile/immich_lint/lib/immich_mobile_immich_lint.dart
  mobile/immich_lint/pubspec.lock
  mobile/ios/Podfile.lock
  mobile/ios/Runner/BackgroundSync/BackgroundServicePlugin.swift
  mobile/lib/extensions/maplibrecontroller_extensions.dart
  mobile/lib/extensions/theme_extensions.dart
  mobile/lib/mixins/error_logger.mixin.dart
  mobile/lib/pages/album/album_additional_shared_user_selection.page.dart
  mobile/lib/pages/album/album_shared_user_selection.page.dart
  mobile/lib/pages/albums/albums.page.dart
  mobile/lib/pages/common/app_log.page.dart
  mobile/lib/pages/editing/edit.page.dart
  mobile/lib/pages/library/people/people_collection.page.dart
  mobile/lib/pages/library/shared_link/shared_link.page.dart
  mobile/lib/pages/library/shared_link/shared_link_edit.page.dart
  mobile/lib/pages/photos/memory.page.dart
  mobile/lib/pages/search/search.page.dart
  mobile/lib/providers/activity.provider.dart
  mobile/lib/providers/activity_statistics.provider.dart
  mobile/lib/theme/theme_data.dart
  mobile/lib/widgets/activities/activity_tile.dart
  mobile/lib/widgets/asset_grid/thumbnail_image.dart
  mobile/lib/widgets/asset_viewer/gallery_app_bar.dart
  mobile/lib/widgets/common/app_bar_dialog/app_bar_server_info.dart
  mobile/lib/widgets/common/dropdown_search_menu.dart
  mobile/lib/widgets/common/immich_app_bar.dart
  mobile/lib/widgets/common/immich_toast.dart
  mobile/lib/widgets/common/scaffold_error_body.dart
  mobile/lib/widgets/memories/memory_bottom_info.dart
  mobile/lib/widgets/memories/memory_card.dart
  mobile/lib/widgets/memories/memory_lane.dart
  mobile/lib/widgets/search/search_filter/people_picker.dart
  mobile/lib/widgets/search/search_filter/search_filter_chip.dart
  mobile/lib/widgets/search/thumbnail_with_info_container.dart
  mobile/lib/widgets/settings/networking_settings/external_network_preference.dart
  mobile/lib/widgets/settings/networking_settings/local_network_preference.dart
  mobile/lib/widgets/settings/preference_settings/primary_color_setting.dart
  mobile/lib/widgets/shared_link/shared_link_item.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: 📱mobile, changelog:skip

#16789 fix(web): update old discord logo to new one
  docs/src/components/svg-paths.ts
  docs/src/pages/index.tsx
  web/src/lib/assets/svg-paths.ts
  web/src/lib/components/shared-components/help-and-feedback-modal.svelte
Labels: documentation, 🖥️web, changelog:skip

#16790 feat(docs): highlight active version in version switcher
  docs/src/components/version-switcher.tsx
Labels: documentation, changelog:skip

#16797 fix(mobile): calculate isFlipped for exif from db
  mobile/lib/infrastructure/entities/exif.entity.dart
  mobile/lib/infrastructure/utils/exif.converter.dart
Labels: 📱mobile, changelog:skip

#16802 fix: weblate pre-job not running
  .github/workflows/weblate-lock.yml
Labels: changelog:skip

#16561 feat(web): Show full date when hovering over photos date groups
  web/src/lib/components/photos-page/asset-date-group.svelte
  web/src/lib/utils/timeline-util.ts
Labels: 🖥️web, changelog:enhancement

#16622 feat(web): exposed a job to manually trigger database backup procedures
  docs/docs/administration/backup-and-restore.md
  mobile/openapi/lib/model/manual_job_name.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/enum.ts
  server/src/services/job.service.spec.ts
  server/src/services/job.service.ts
  web/src/routes/admin/jobs-status/+page.svelte
Labels: documentation, 🖥️web, 🗄️server, changelog:enhancement

#16798 chore(mobile): more generated files
  .github/workflows/static_analysis.yml
  mobile/lib/providers/activity_service.provider.g.dart
  mobile/lib/providers/api.provider.g.dart
  mobile/lib/providers/app_settings.provider.g.dart
  mobile/lib/providers/asset_viewer/asset_stack.provider.g.dart
  mobile/lib/providers/immich_logo_provider.g.dart
  mobile/lib/providers/infrastructure/db.provider.g.dart
  mobile/lib/providers/infrastructure/exif.provider.g.dart
  mobile/lib/providers/infrastructure/store.provider.g.dart
  mobile/lib/providers/map/map_marker.provider.g.dart
  mobile/lib/providers/map/map_service.provider.g.dart
  mobile/lib/providers/search/paginated_search.provider.g.dart
  mobile/lib/providers/search/people.provider.g.dart
  mobile/lib/providers/search/search_filter.provider.g.dart
  mobile/lib/services/person.service.g.dart
Labels: 📱mobile, changelog:skip

#16727 chore: shared suffix for docker tags
  .github/workflows/docker.yml
Labels: changelog:skip

#16805 fix(server): set unit test timezone to UTC
  server/test/vitest.config.mjs
Labels: 🗄️server, changelog:bugfix

#16808 chore: ignore correct build folder
  mobile/.gitignore
Labels: changelog:skip

#16806 chore(mobile): add orientation tests for exif
  mobile/test/fixtures/exif.stub.dart
  mobile/test/fixtures/user.stub.dart
  mobile/test/infrastructure/repositories/exif_repository_test.dart
Labels: 📱mobile, changelog:skip

#16631 feat(web): better person naming interface
  web/src/lib/components/faces-page/people-card.svelte
  web/src/lib/components/faces-page/people-infinite-scroll.svelte
  web/src/routes/(user)/people/+page.svelte
Labels: 🖥️web, changelog:enhancement, preview

#16713 feat(web): Add keyboard shortcut selection on grid
  i18n/en.json
  web/src/lib/components/assets/thumbnail/__test__/thumbnail.spec.ts
  web/src/lib/components/assets/thumbnail/thumbnail.svelte
  web/src/lib/components/photos-page/asset-date-group.svelte
  web/src/lib/components/photos-page/asset-grid.svelte
  web/src/lib/components/shared-components/gallery-viewer/gallery-viewer.svelte
  web/src/lib/components/shared-components/show-shortcuts.svelte
  web/src/lib/stores/asset-interaction.svelte.ts
  web/src/lib/stores/assets-store.spec.ts
  web/src/lib/stores/assets-store.svelte.ts
Labels: 🖥️web, changelog:enhancement

#16811 fix: run preview label remove job on PR close
  .github/workflows/preview-label.yaml
Labels: changelog:skip

#16813 refactor: rename user model
  mobile/lib/domain/interfaces/user.interface.dart
  mobile/lib/domain/models/store.model.dart
  mobile/lib/domain/models/user.model.dart
  mobile/lib/extensions/collection_extensions.dart
  mobile/lib/infrastructure/entities/user.entity.dart
  mobile/lib/infrastructure/repositories/store.repository.dart
  mobile/lib/infrastructure/repositories/user.repository.dart
  mobile/lib/infrastructure/utils/user.converter.dart
  mobile/lib/interfaces/album.interface.dart
  mobile/lib/interfaces/partner.interface.dart
  mobile/lib/interfaces/partner_api.interface.dart
  mobile/lib/interfaces/user_api.interface.dart
  mobile/lib/models/activities/activity.model.dart
  mobile/lib/pages/album/album_additional_shared_user_selection.page.dart
  mobile/lib/pages/album/album_options.page.dart
  mobile/lib/pages/album/album_shared_user_icons.dart
  mobile/lib/pages/album/album_shared_user_selection.page.dart
  mobile/lib/pages/library/library.page.dart
  mobile/lib/pages/library/partner/partner.page.dart
  mobile/lib/pages/library/partner/partner_detail.page.dart
  mobile/lib/providers/album/album.provider.dart
  mobile/lib/providers/album/suggested_shared_users.provider.dart
  mobile/lib/providers/auth.provider.dart
  mobile/lib/providers/partner.provider.dart
  mobile/lib/providers/user.provider.dart
  mobile/lib/repositories/album.repository.dart
  mobile/lib/repositories/partner.repository.dart
  mobile/lib/repositories/partner_api.repository.dart
  mobile/lib/repositories/user_api.repository.dart
  mobile/lib/routing/router.gr.dart
  mobile/lib/services/album.service.dart
  mobile/lib/services/asset.service.dart
  mobile/lib/services/partner.service.dart
  mobile/lib/services/sync.service.dart
  mobile/lib/services/user.service.dart
  mobile/lib/widgets/common/user_avatar.dart
  mobile/lib/widgets/common/user_circle_avatar.dart
  mobile/test/fixtures/user.stub.dart
  mobile/test/infrastructure/repositories/store_repository_test.dart
  mobile/test/modules/shared/shared_mocks.dart
  mobile/test/modules/shared/sync_service_test.dart
Labels: 📱mobile, changelog:skip

#16815 fix(ml): dev environment dependencies
  machine-learning/Dockerfile
Labels: changelog:skip

#16812 refactor: use factory and kysely types for partner repository
  server/src/database.ts
  server/src/dtos/user.dto.ts
  server/src/entities/partner.entity.ts
  server/src/repositories/partner.repository.ts
  server/src/services/asset.service.spec.ts
  server/src/services/map.service.spec.ts
  server/src/services/partner.service.spec.ts
  server/src/services/partner.service.ts
  server/src/services/sync.service.spec.ts
  server/test/fixtures/partner.stub.ts
  server/test/small.factory.ts
Labels: 🗄️server, changelog:skip

#16820 fix(docs): logo not loading dark theme variant in production
  docs/src/pages/index.tsx
  docs/src/pages/privacy-policy.tsx
Labels: documentation, changelog:bugfix

#16729 fix(web): update search results when searching from info panel
  web/src/lib/components/shared-components/search-bar/search-bar.svelte
  web/src/routes/(user)/search/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:bugfix

#16829 fix(web): fixed formatting of video length
  web/src/lib/components/assets/thumbnail/video-thumbnail.svelte
Labels: 🖥️web, changelog:bugfix

#16836 refactor: use immich/ui button component in user settings
  web/src/lib/components/user-settings-page/change-password-settings.svelte
  web/src/lib/components/user-settings-page/device-list.svelte
  web/src/lib/components/user-settings-page/download-settings.svelte
  web/src/lib/components/user-settings-page/feature-settings.svelte
  web/src/lib/components/user-settings-page/notifications-settings.svelte
  web/src/lib/components/user-settings-page/oauth-settings.svelte
  web/src/lib/components/user-settings-page/partner-selection-modal.svelte
  web/src/lib/components/user-settings-page/partner-settings.svelte
  web/src/lib/components/user-settings-page/user-api-key-list.svelte
  web/src/lib/components/user-settings-page/user-profile-settings.svelte
  web/src/lib/components/user-settings-page/user-purchase-settings.svelte
Labels: 🖥️web, changelog:skip

#16837 feat: better library rename UX
  web/src/lib/components/forms/library-exclusion-pattern-form.svelte
  web/src/lib/components/forms/library-import-path-form.svelte
  web/src/lib/components/forms/library-import-paths-form.svelte
  web/src/lib/components/forms/library-rename-form.svelte
  web/src/lib/components/forms/library-user-picker-form.svelte
  web/src/routes/admin/library-management/+page.svelte
Labels: 🖥️web, changelog:enhancement

#16834 fix: immich ui toggles and switches
  web/package-lock.json
  web/package.json
  web/src/lib/components/forms/create-user-form.svelte
  web/src/lib/components/map-page/map-settings-modal.svelte
  web/src/lib/components/memory-page/memory-viewer.svelte
  web/src/lib/components/shared-components/create-share-link-modal/create-shared-link-modal.svelte
  web/src/lib/components/shared-components/navigation-bar/navigation-bar.svelte
  web/src/routes/(user)/utilities/duplicates/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/admin/user-management/+page.svelte
Labels: 🖥️web, changelog:bugfix

#16449 fix(mobile): back gesture in asset selection page from an album
  mobile/lib/widgets/asset_grid/immich_asset_grid_view.dart
Labels: 📱mobile, changelog:bugfix

#16849 chore: web cleanup
  web/src/lib/components/layouts/ErrorLayout.svelte
  web/src/routes/+error.svelte
  web/src/routes/+layout.svelte
  web/src/routes/auth/change-password/+page.svelte
  web/src/routes/auth/onboarding/+page.svelte
  web/src/routes/link/+page.ts
Labels: 🖥️web, changelog:skip

#16850 refactor: immich logo assets
  web/src/lib/assets/immich-logo-inline-dark.svg
  web/src/lib/assets/immich-logo-inline-light.svg
  web/src/lib/assets/immich-logo-stacked-dark.svg
  web/src/lib/assets/immich-logo-stacked-light.svg
  web/src/lib/assets/immich-logo.json
  web/src/lib/assets/immich-logo.svg
  web/src/lib/components/shared-components/immich-logo.svelte
  web/static/immich-logo-no-bg.svg
  web/static/immich-logo.svg
Labels: 🖥️web, changelog:skip

#16839 feat: use immich ui components for dialog component
  web/src/lib/components/admin-page/restore-dialogue.svelte
  web/src/lib/components/asset-viewer/editor/editor-panel.svelte
  web/src/lib/components/shared-components/dialog/confirm-dialog.svelte
  web/src/routes/admin/user-management/+page.svelte
Labels: 🖥️web, changelog:skip

#16840 refactor: use more immich ui buttons
  web/src/lib/components/admin-page/settings/machine-learning-settings/machine-learning-settings.svelte
  web/src/lib/components/admin-page/settings/notification-settings/notification-settings.svelte
  web/src/lib/components/admin-page/settings/template-settings/template-settings.svelte
  web/src/lib/components/asset-viewer/editor/crop-tool/crop-preset.svelte
  web/src/lib/components/forms/api-key-form.svelte
  web/src/lib/components/forms/api-key-secret.svelte
  web/src/lib/components/forms/edit-album-form.svelte
  web/src/lib/components/forms/edit-user-form.svelte
  web/src/lib/components/photos-page/actions/restore-assets.svelte
  web/src/lib/components/shared-components/create-share-link-modal/create-shared-link-modal.svelte
  web/src/lib/components/shared-components/settings/setting-buttons-row.svelte
  web/src/lib/components/shared-components/side-bar/purchase-info.svelte
Labels: 🖥️web, changelog:skip

#16855 refactor: cleanup background service
  mobile/lib/services/background.service.dart
Labels: 📱mobile, changelog:skip

#16875 chore: pin github action digests
  renovate.json
Labels: changelog:skip

#16922 fix: docker workflow for rknn
  .github/workflows/docker.yml
Labels: changelog:skip

#16904 fix(mobile): change share icons for consistency
  mobile/assets/i18n/en-US.json
  mobile/lib/widgets/asset_grid/control_bottom_app_bar.dart
Labels: 📱mobile, changelog:enhancement

#16833 fix(mobile): age calculation & formatting
  mobile/assets/i18n/en-US.json
  mobile/lib/widgets/asset_viewer/detail_panel/people_info.dart
  mobile/lib/widgets/search/curated_people_row.dart
Labels: 📱mobile, changelog:skip

#16926 refactor: better types for getList and getDeletedAfter
  server/src/database.ts
  server/src/dtos/user.dto.ts
  server/src/queries/user.repository.sql
  server/src/repositories/activity.repository.ts
  server/src/repositories/partner.repository.ts
  server/src/repositories/user.repository.ts
  server/src/services/partner.service.ts
  server/src/services/user.service.spec.ts
  server/src/services/user.service.ts
  server/test/factory.ts
  server/test/fixtures/system-config.stub.ts
  server/test/medium/specs/user.service.spec.ts
  server/test/small.factory.ts
Labels: 🗄️server, changelog:skip

#16613 feat(ml): rocm
  .github/workflows/docker.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.prod.yml
  docker/docker-compose.yml
  docker/hwaccel.ml.yml
  docs/docs/features/ml-hardware-acceleration.md
  docs/docs/guides/remote-machine-learning.md
  machine-learning/Dockerfile
  machine-learning/README.md
  machine-learning/app/models/constants.py
  machine-learning/app/sessions/ort.py
  machine-learning/app/test_main.py
  machine-learning/patches/0001-disable-rocm-conv-algo-caching.patch
  machine-learning/patches/0002-target-gfx900-gfx1102.patch
  machine-learning/pyproject.toml
  machine-learning/start.sh
  machine-learning/uv.lock
Labels: documentation, 🧠machine-learning, changelog:feature

#16783 refactor(mobile): use user service methods
  mobile/lib/domain/services/user.service.dart
  mobile/lib/providers/auth.provider.dart
  mobile/lib/providers/user.provider.dart
  mobile/lib/routing/tab_navigation_observer.dart
  mobile/lib/services/album.service.dart
  mobile/lib/services/api.service.dart
  mobile/lib/services/asset.service.dart
  mobile/lib/services/backup_verification.service.dart
  mobile/lib/services/sync.service.dart
  mobile/lib/services/timeline.service.dart
  mobile/lib/services/trash.service.dart
  mobile/lib/widgets/album/album_thumbnail_card.dart
  mobile/lib/widgets/common/app_bar_dialog/app_bar_profile_info.dart
  mobile/lib/widgets/common/immich_app_bar.dart
  mobile/test/domain/services/user_service_test.dart
  mobile/test/modules/shared/sync_service_test.dart
  mobile/test/services/album.service_test.dart
Labels: 📱mobile, changelog:skip

#16814 refactor(mobile): remove int user id
  mobile/lib/domain/interfaces/user.interface.dart
  mobile/lib/domain/models/user.model.dart
  mobile/lib/extensions/collection_extensions.dart
  mobile/lib/infrastructure/entities/user.entity.dart
  mobile/lib/infrastructure/repositories/store.repository.dart
  mobile/lib/infrastructure/repositories/user.repository.dart
  mobile/lib/infrastructure/utils/user.converter.dart
  mobile/lib/interfaces/asset.interface.dart
  mobile/lib/interfaces/etag.interface.dart
  mobile/lib/interfaces/timeline.interface.dart
  mobile/lib/pages/album/album_additional_shared_user_selection.page.dart
  mobile/lib/pages/album/album_options.page.dart
  mobile/lib/pages/albums/albums.page.dart
  mobile/lib/pages/common/activities.page.dart
  mobile/lib/providers/auth.provider.dart
  mobile/lib/providers/timeline.provider.dart
  mobile/lib/providers/user.provider.dart
  mobile/lib/repositories/album.repository.dart
  mobile/lib/repositories/asset.repository.dart
  mobile/lib/repositories/asset_media.repository.dart
  mobile/lib/repositories/etag.repository.dart
  mobile/lib/repositories/timeline.repository.dart
  mobile/lib/services/album.service.dart
  mobile/lib/services/asset.service.dart
  mobile/lib/services/partner.service.dart
  mobile/lib/services/sync.service.dart
  mobile/lib/services/timeline.service.dart
  mobile/lib/utils/migration.dart
  mobile/lib/widgets/album/album_thumbnail_card.dart
  mobile/lib/widgets/asset_viewer/bottom_gallery_bar.dart
  mobile/lib/widgets/asset_viewer/description_input.dart
  mobile/lib/widgets/asset_viewer/gallery_app_bar.dart
  mobile/lib/widgets/common/user_avatar.dart
  mobile/lib/widgets/common/user_circle_avatar.dart
  mobile/test/fixtures/user.stub.dart
  mobile/test/modules/shared/sync_service_test.dart
  mobile/test/services/album.service_test.dart
  mobile/test/services/entity.service_test.dart
Labels: 📱mobile, changelog:skip

#16759 fix(web): asset selection on memories page is broken
  i18n/en.json
  server/src/dtos/memory.dto.ts
  server/src/services/memory.service.ts
  web/src/lib/components/memory-page/memory-viewer.svelte
  web/src/lib/components/photos-page/memory-lane.svelte
  web/src/lib/stores/memory.store.svelte.ts
  web/src/lib/stores/memory.store.ts
Labels: 🖥️web, 🗄️server, changelog:bugfix

#16932 fix(server): set pixel format when scaling and not tonemapping
  server/src/services/media.service.spec.ts
  server/src/utils/media.ts
  server/test/fixtures/media.stub.ts
Labels: 🗄️server, changelog:bugfix

#16868 fix(server): /api/stacks does not handles primaryAssetId query param
  open-api/immich-openapi-specs.json
  server/src/dtos/stack.dto.ts
Labels: 🗄️server, changelog:bugfix

#16954 chore: run docs and cli builds on all PRs
  .github/workflows/cli.yml
  .github/workflows/docs-build.yml
Labels: changelog:skip

#16952 fix: duplicated steps in docker workflow
  .github/workflows/docker.yml
Labels: changelog:skip

#16961 fix(web): date alignment on timeline
  web/src/lib/components/photos-page/asset-date-group.svelte
Labels: 🖥️web, changelog:bugfix

#16880 fix(web): reset selection state when adding assets to a album
  web/src/routes/(user)/search/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:bugfix

#16969 fix: regression in select-all
  web/src/lib/components/photos-page/actions/delete-assets.svelte
  web/src/lib/components/photos-page/actions/download-action.svelte
  web/src/lib/components/photos-page/actions/remove-from-album.svelte
  web/src/lib/components/photos-page/actions/remove-from-shared-link.svelte
  web/src/lib/components/photos-page/asset-date-group.svelte
  web/src/lib/components/photos-page/asset-grid.svelte
  web/src/lib/components/photos-page/asset-select-control-bar.svelte
  web/src/lib/components/shared-components/change-location.svelte
  web/src/lib/components/shared-components/gallery-viewer/gallery-viewer.svelte
  web/src/lib/stores/asset-interaction.svelte.ts
  web/src/lib/stores/assets-store.svelte.ts
  web/src/lib/utils/asset-utils.ts
  web/src/routes/(user)/albums/[albumId=id]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/people/[personId]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/photos/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/search/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:skip

#16970 feat(web): make asset grid row height responsive
  web/src/lib/components/shared-components/gallery-viewer/gallery-viewer.svelte
  web/src/lib/stores/assets-store.svelte.ts
Labels: 🖥️web, changelog:feature

#17007 fix: extend e2e test cookie expiration date
  e2e/src/utils.ts
Labels: changelog:skip

#16987 fix(web): removed merge person with itself
  web/src/routes/(user)/people/[personId]/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:bugfix

#16993 fix(web): fix View in Timeline not working for stacked assets
  web/src/lib/components/asset-viewer/asset-viewer-nav-bar.svelte
Labels: 🖥️web, changelog:bugfix

#16920 chore: remove limit in memory generation
  server/src/queries/asset.repository.sql
  server/src/repositories/asset.repository.ts
Labels: 🗄️server, changelog:skip

#17016 fix: gallery viewer sliding window offload assets
  web/src/lib/components/memory-page/memory-viewer.svelte
  web/src/lib/components/shared-components/gallery-viewer/gallery-viewer.svelte
  web/src/routes/(user)/folders/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/search/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:skip

#16982 fix(web): timeline regression 2
  web/src/lib/components/asset-viewer/actions/archive-action.svelte
  web/src/lib/components/asset-viewer/asset-viewer-nav-bar.svelte
  web/src/lib/components/photos-page/asset-grid.svelte
  web/src/lib/stores/assets-store.svelte.ts
  web/src/routes/(user)/albums/[albumId=id]/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:skip

#16989 fix(web): clicking away closes context menu
  web/src/lib/components/shared-components/context-menu/button-context-menu.svelte
Labels: 🖥️web, changelog:bugfix, preview

#16994 fix(web): timeline renders nothing with an invalid asset scroll target
  web/src/lib/components/photos-page/asset-grid.svelte
Labels: 🖥️web, changelog:skip

#17021 fix(web): update stack state in timeline
  web/src/lib/components/photos-page/actions/stack-action.svelte
  web/src/lib/components/photos-page/asset-grid.svelte
  web/src/lib/utils/actions.ts
  web/src/lib/utils/asset-utils.ts
  web/src/routes/(user)/photos/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:skip

#16856 feat: mobile-web improvements - scrubber
  web/src/app.html
  web/src/lib/components/photos-page/asset-grid.svelte
  web/src/lib/components/shared-components/scrubber/scrubber.svelte
  web/src/lib/stores/mobile-device.svelte.ts
Labels: 🖥️web, changelog:feature

#17022 fix(ml): add librknnrt.so in rknn image
  machine-learning/Dockerfile
Labels: changelog:skip
