Repository immich-app/immich, pull requests merged in 2025-10, with the labels that each got.

#22529 fix: missing email button padding
  server/src/emails/album-update.email.tsx
  server/src/emails/components/button.component.tsx
Labels: 🗄️server, changelog:bugfix

#22547 chore: remove warning banner
  docs/docusaurus.config.js
Labels: changelog:documentation

#22549 chore: remove warnings
  docs/docs/install/upgrading.md
  docs/docs/partials/_server-backup.md
Labels: documentation, changelog:documentation

#22578 fix: do not delete asset on share
  mobile/lib/repositories/asset_media.repository.dart
Labels: 📱mobile, changelog:bugfix

#22554 fix(docs): one-click doc fixes
  docs/docs/install/one-click.md
Labels: documentation, changelog:documentation

#22330 fix(mobile): compass button overlaps status bar
  mobile/lib/presentation/widgets/map/map.widget.dart
Labels: 📱mobile, changelog:bugfix

#22587 chore: post release tasks
  mobile/ios/Runner.xcodeproj/project.pbxproj
  mobile/ios/Runner/Info.plist
Labels: changelog:skip

#22583 chore: clean auth-user entity on reset
  mobile/lib/infrastructure/repositories/sync_stream.repository.dart
Labels: 📱mobile, changelog:skip

#22610 fix: bottom navigation bar overlay sheet info
  mobile/lib/presentation/widgets/asset_viewer/bottom_sheet.widget.dart
Labels: 📱mobile, changelog:bugfix

#22467 feat(server): improve checkAlbumAccess query performance
  server/src/queries/access.repository.sql
  server/src/repositories/access.repository.ts
Labels: 🗄️server, changelog:enhancement

#22387 fix(ml): Resolve IPv6 startup crash and healthcheck failure
  machine-learning/immich_ml/__main__.py
  machine-learning/scripts/healthcheck.py
Labels: changelog:bugfix

#22348 fix(server): override reserved color metadata for video thumbnails
  server/src/repositories/media.repository.ts
  server/src/services/media.service.spec.ts
  server/src/types.ts
  server/src/utils/media.ts
  server/test/fixtures/media.stub.ts
Labels: 🗄️server, changelog:bugfix

#22662 fix(mobile): trash description cut off
  mobile/lib/presentation/pages/drift_trash.page.dart
Labels: documentation, 📱mobile, 🖥️web, 🗄️server, changelog:bugfix

#21843 fix(mobile): video player using ref after disposal
  mobile/lib/presentation/widgets/asset_viewer/video_viewer.widget.dart
Labels: 📱mobile, changelog:bugfix

#20359 fix: use full-size image for non-web-compatible panoramas
  server/src/services/media.service.spec.ts
  server/src/services/media.service.ts
  server/test/fixtures/asset.stub.ts
  web/src/lib/components/asset-viewer/image-panorama-viewer.svelte
Labels: 🖥️web, 🗄️server, changelog:bugfix

#22702 chore: update cli docs to pnpm
  cli/README.md
Labels: documentation, changelog:skip

#22616 chore: post release tasks
  mobile/ios/Runner/Info.plist
Labels: changelog:skip

#21602 chore(server): support vectorchord 0.5.x
  server/src/constants.ts
Labels: 🗄️server, changelog:skip

#22708 fix: Fix issue fail to download iOS live photos
  mobile/lib/repositories/download.repository.dart
Labels: 📱mobile, changelog:bugfix

#21774 fix(docs): Remove immich_remove_offline_files as no longer functional
  docs/src/components/community-projects.tsx
Labels: documentation, changelog:skip, ready-to-merge 👍

#22463 docs: update TrueNAS migration instructions
  docs/docs/install/truenas.md
Labels: documentation, changelog:skip

#21996 docs: update Synology install guide
  docs/docs/install/synology.md
  docs/static/img/synology-action-clean.png
  docs/static/img/synology-build.png
  docs/static/img/synology-container-ip.png
  docs/static/img/synology-container-manager-customize-docker-compose.png
  docs/static/img/synology-custom-port-firewall-rule.png
  docs/static/img/synology-fw-ipedit.png
  docs/static/img/synology-fw-rules.png
  docs/static/img/synology-ipaddress-firewall-rule.png
  docs/static/img/synology-project-stop.png
  docs/static/img/synology-remove-unused.png
  docs/static/img/synology-select-proj.png
Labels: documentation, changelog:documentation, ready-to-merge 👍

#22640 fix: improve the selected sidebar item text color in dark mode
  web/src/lib/components/shared-components/side-bar/side-bar-link.svelte
Labels: 🖥️web, changelog:bugfix, preview, ready-to-merge 👍

#22715 fix: --no-git-checks on pnpm publish
  .github/workflows/cli.yml
  .github/workflows/sdk.yml
Labels: changelog:skip

#22517 fix: promote to foreground service before starting engine
  mobile/android/app/src/main/kotlin/app/alextran/immich/background/BackgroundWorker.g.kt
  mobile/android/app/src/main/kotlin/app/alextran/immich/background/BackgroundWorker.kt
  mobile/android/app/src/main/kotlin/app/alextran/immich/background/BackgroundWorkerApiImpl.kt
  mobile/android/app/src/main/kotlin/app/alextran/immich/background/BackgroundWorkerPreferences.kt
  mobile/ios/Runner/Background/BackgroundWorker.g.swift
  mobile/ios/Runner/Background/BackgroundWorker.swift
  mobile/ios/Runner/Background/BackgroundWorkerApiImpl.swift
  mobile/lib/domain/services/background_worker.service.dart
  mobile/lib/main.dart
  mobile/lib/platform/background_worker_api.g.dart
  mobile/pigeon/background_worker_api.dart
Labels: 📱mobile, changelog:bugfix

#22266 refactor(web): extract timeline keyboard actions into separate component
  web/src/lib/components/timeline/Timeline.svelte
  web/src/lib/components/timeline/actions/TimelineKeyboardActions.svelte
Labels: 🖥️web, changelog:skip

#22359 chore: track full actions/cache version in comment
  .github/workflows/build-mobile.yml
Labels: changelog:skip

#22735 fix(ml): ipv6 check
  machine-learning/immich_ml/__main__.py
  machine-learning/scripts/healthcheck.py
Labels: changelog:skip

#22757 chore: use hosted isar flutter libs
  mobile/ios/Podfile.lock
  mobile/lib/entities/album.entity.g.dart
  mobile/lib/entities/android_device_asset.entity.g.dart
  mobile/lib/entities/asset.entity.g.dart
  mobile/lib/entities/backup_album.entity.g.dart
  mobile/lib/entities/duplicated_asset.entity.g.dart
  mobile/lib/entities/etag.entity.g.dart
  mobile/lib/entities/ios_device_asset.entity.g.dart
  mobile/lib/infrastructure/entities/device_asset.entity.g.dart
  mobile/lib/infrastructure/entities/exif.entity.g.dart
  mobile/lib/infrastructure/entities/store.entity.g.dart
  mobile/lib/infrastructure/entities/user.entity.g.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: 📱mobile, changelog:skip

#22728 fix: skip local only assets in move to lock action
  mobile/lib/providers/infrastructure/action.provider.dart
  mobile/lib/repositories/asset_media.repository.dart
Labels: 📱mobile, changelog:bugfix

#19902 fix(web): Uniform random distribution during shuffle
  web/src/lib/managers/timeline-manager/day-group.svelte.ts
  web/src/lib/managers/timeline-manager/month-group.svelte.ts
  web/src/lib/managers/timeline-manager/timeline-manager.svelte.spec.ts
  web/src/lib/managers/timeline-manager/timeline-manager.svelte.ts
Labels: 🖥️web, changelog:enhancement

#22733 fix: persist search page scroll offset between rebuilds
  mobile/lib/domain/models/search_result.model.dart
  mobile/lib/domain/services/timeline.service.dart
  mobile/lib/presentation/pages/search/drift_search.page.dart
  mobile/lib/presentation/pages/search/paginated_search.provider.dart
  mobile/lib/presentation/widgets/timeline/timeline.widget.dart
Labels: 📱mobile, changelog:bugfix

#20337 feat(web): seconds and milliseconds in timestamps
  web/src/lib/components/asset-viewer/detail-panel.svelte
  web/src/lib/components/shared-components/change-date.svelte
  web/src/lib/elements/DateInput.svelte
Labels: 🖥️web, changelog:enhancement
