Repository immich-app/immich, pull requests merged in 2025-06, with the labels that each got.

#18831 chore: remove postcss
  web/eslint.config.js
  web/package-lock.json
  web/package.json
  web/postcss.config.cjs
Labels: 🖥️web, changelog:skip, preview

#18823 fix(mobile): group settings not respected without restart
  mobile/lib/services/app_settings.service.dart
  mobile/lib/widgets/settings/asset_list_settings/asset_list_group_settings.dart
  mobile/test/modules/album/album_sort_by_options_provider_test.dart
Labels: 📱mobile, changelog:bugfix

#18802 fix(server): cannot share album to owner
  e2e/src/api/specs/album.e2e-spec.ts
  server/src/services/album.service.spec.ts
  server/src/services/album.service.ts
Labels: 🗄️server, changelog:bugfix

#18845 feat: add --json-output option to upload command
  cli/src/commands/asset.ts
  cli/src/index.ts
  docs/docs/features/command-line-interface.md
Labels: documentation, cli, changelog:enhancement

#18803 fix(web): Improve zoom behavior in photo-viewer.
  web/src/lib/actions/zoom-image.ts
  web/src/lib/components/asset-viewer/photo-viewer.svelte
  web/src/lib/stores/zoom-image.store.ts
Labels: 🖥️web, changelog:bugfix

#18806 feat: upload assets to locked folder
  web/src/lib/components/album-page/album-viewer.svelte
  web/src/lib/components/share-page/individual-shared-viewer.svelte
  web/src/lib/components/shared-components/drag-and-drop-upload-overlay.svelte
  web/src/lib/components/shared-components/upload-asset-preview.svelte
  web/src/lib/utils/file-uploader.ts
  web/src/lib/utils/navigation.ts
Labels: 🖥️web, changelog:enhancement

#18855 fix(mobile): Showing videos of partner in search page quick links
  mobile/lib/interfaces/timeline.interface.dart
  mobile/lib/repositories/timeline.repository.dart
  mobile/lib/services/timeline.service.dart
Labels: 📱mobile, changelog:bugfix

#18778 feat(web): improve slideshow quality of life
  i18n/en.json
  web/src/lib/components/asset-viewer/asset-viewer.svelte
  web/src/lib/components/asset-viewer/photo-viewer.svelte
  web/src/lib/components/asset-viewer/slideshow-bar.svelte
  web/src/lib/components/shared-components/progress-bar/progress-bar.svelte
  web/src/lib/components/slideshow-settings.svelte
  web/src/lib/stores/slideshow.store.ts
Labels: 🖥️web, changelog:enhancement

#18782 feat(web): improved user onboarding
  e2e/src/responses.ts
  e2e/src/web/specs/auth.e2e-spec.ts
  i18n/en.json
  mobile/openapi/README.md
  mobile/openapi/lib/api.dart
  mobile/openapi/lib/api/users_api.dart
  mobile/openapi/lib/api_client.dart
  mobile/openapi/lib/model/login_response_dto.dart
  mobile/openapi/lib/model/onboarding_dto.dart
  mobile/openapi/lib/model/onboarding_response_dto.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/controllers/user.controller.ts
  server/src/dtos/auth.dto.ts
  server/src/dtos/onboarding.dto.ts
  server/src/enum.ts
  server/src/services/auth.service.spec.ts
  server/src/services/user.service.ts
  server/src/types.ts
  server/test/small.factory.ts
  web/src/lib/components/onboarding-page/onboarding-card.svelte
  web/src/lib/components/onboarding-page/onboarding-hello.svelte
  web/src/lib/components/onboarding-page/onboarding-language.svelte
  web/src/lib/components/onboarding-page/onboarding-privacy.svelte
  web/src/lib/components/onboarding-page/onboarding-server-privacy.svelte
  web/src/lib/components/onboarding-page/onboarding-storage-template.svelte
  web/src/lib/components/onboarding-page/onboarding-theme.svelte
  web/src/lib/components/onboarding-page/onboarding-user-privacy.svelte
  web/src/lib/components/shared-components/combobox.svelte
  web/src/lib/components/shared-components/settings/settings-language-selector.svelte
  web/src/lib/components/user-settings-page/app-settings.svelte
  web/src/lib/models/onboarding-role.ts
  web/src/lib/stores/server-config.store.ts
  web/src/routes/auth/login/+page.svelte
  web/src/routes/auth/onboarding/+page.svelte
  web/src/routes/auth/onboarding/+page.ts
Labels: 🖥️web, 🗄️server, changelog:feature

#18891 feat(mobile): Add new language to mobile
  mobile/lib/constants/locales.dart
Labels: 📱mobile, changelog:translation

#18908 fix(deps): revert update typescript-projects
  cli/package-lock.json
  docs/package-lock.json
  docs/package.json
  e2e/package-lock.json
  server/package-lock.json
  web/package-lock.json
Labels: changelog:skip

#18881 fix(web): asset-viewer error when selecting a stacked asset
  web/src/lib/components/asset-viewer/asset-viewer.svelte
Labels: 🖥️web, changelog:bugfix

#18385 fix(web): persisted store
  i18n/en.json
  web/src/lib/components/shared-components/theme-button.svelte
  web/src/lib/components/user-settings-page/app-settings.svelte
  web/src/lib/constants.ts
  web/src/lib/stores/preferences.store.ts
  web/src/lib/utils/timeline-util.spec.ts
  web/src/lib/utils/timeline-util.ts
Labels: 🖥️web, changelog:bugfix

#18916 chore: add missing api properties on sync enums
  mobile/lib/infrastructure/repositories/sync_stream.repository.dart
  mobile/openapi/lib/model/sync_album_user_v1.dart
  mobile/openapi/lib/model/sync_asset_v1.dart
  open-api/immich-openapi-specs.json
  server/src/dtos/sync.dto.ts
Labels: 📱mobile, 🗄️server, changelog:skip

#18914 fix(mobile): prevent upload intent replacement in splash screen and reset upload button when minimize app
  mobile/lib/pages/common/splash_screen.page.dart
  mobile/lib/pages/share_intent/share_intent.page.dart
Labels: 📱mobile, changelog:bugfix

#18911 feat(web): display number of likes in asset viewer
  mobile/openapi/lib/model/activity_statistics_response_dto.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/dtos/activity.dto.ts
  server/src/queries/activity.repository.sql
  server/src/repositories/activity.repository.ts
  server/src/services/activity.service.spec.ts
  server/src/services/activity.service.ts
  web/src/lib/components/asset-viewer/activity-status.svelte
  web/src/lib/components/asset-viewer/activity-viewer.svelte
  web/src/lib/components/asset-viewer/asset-viewer.svelte
  web/src/lib/managers/activity-manager.svelte.ts
  web/src/routes/(user)/albums/[albumId=id]/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, 🗄️server, changelog:enhancement

#18935 fix: thumbnail fade in
  web/src/lib/components/assets/thumbnail/thumbnail.svelte
  web/src/lib/utils/tunables.ts
Labels: 🖥️web, changelog:bugfix, preview

#18932 chore: more cursed knowledge
  docs/src/pages/cursed-knowledge.tsx
Labels: documentation, changelog:documentation

#18936 fix: wait for db to start before server for e2e test
  e2e/docker-compose.yml
Labels: changelog:skip

#18929 fix(server): default current users to an onboarded state migration
  server/src/schema/migrations/1749067526135-UserOnboardingDefault.ts
Labels: 🗄️server, changelog:skip

#18949 chore(mobile): patch isOnboarded
  mobile/lib/utils/openapi_patching.dart
Labels: 📱mobile, changelog:skip

#18950 feat(web): add a user setting for default album sort order.
  i18n/en.json
  mobile/lib/utils/openapi_patching.dart
  mobile/openapi/README.md
  mobile/openapi/lib/api.dart
  mobile/openapi/lib/api_client.dart
  mobile/openapi/lib/model/albums_response.dart
  mobile/openapi/lib/model/albums_update.dart
  mobile/openapi/lib/model/user_preferences_response_dto.dart
  mobile/openapi/lib/model/user_preferences_update_dto.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/dtos/user-preferences.dto.ts
  server/src/services/album.service.spec.ts
  server/src/services/album.service.ts
  server/src/types.ts
  server/src/utils/preferences.ts
  web/src/lib/components/user-settings-page/feature-settings.svelte
  web/src/test-data/factories/preferences-factory.ts
Labels: 📱mobile, 🖥️web, 🗄️server, changelog:feature

#18924 feat(mobile): hash assets in isolate
  mobile/analysis_options.yaml
  mobile/android/app/src/main/kotlin/app/alextran/immich/sync/Messages.g.kt
  mobile/android/app/src/main/kotlin/app/alextran/immich/sync/MessagesImplBase.kt
  mobile/drift_schemas/main/drift_schema_v1.json
  mobile/ios/Runner/Sync/Messages.g.swift
  mobile/ios/Runner/Sync/MessagesImpl.swift
  mobile/lib/domain/interfaces/local_album.interface.dart
  mobile/lib/domain/interfaces/local_asset.interface.dart
  mobile/lib/domain/interfaces/storage.interface.dart
  mobile/lib/domain/models/local_album.model.dart
  mobile/lib/domain/services/hash.service.dart
  mobile/lib/domain/services/local_sync.service.dart
  mobile/lib/domain/utils/background_sync.dart
  mobile/lib/infrastructure/entities/local_album.entity.dart
  mobile/lib/infrastructure/entities/local_album.entity.drift.dart
  mobile/lib/infrastructure/repositories/local_album.repository.dart
  mobile/lib/infrastructure/repositories/local_asset.repository.dart
  mobile/lib/infrastructure/repositories/storage.repository.dart
  mobile/lib/main.dart
  mobile/lib/platform/native_sync_api.g.dart
  mobile/lib/presentation/pages/dev/dev_logger.dart
  mobile/lib/presentation/pages/dev/feat_in_development.page.dart
  mobile/lib/presentation/pages/dev/media_stat.page.dart
  mobile/lib/providers/infrastructure/asset.provider.dart
  mobile/lib/providers/infrastructure/storage.provider.dart
  mobile/lib/providers/infrastructure/sync.provider.dart
  mobile/lib/utils/migration.dart
  mobile/pigeon/native_sync_api.dart
  mobile/test/domain/service.mock.dart
  mobile/test/domain/services/hash_service_test.dart
  mobile/test/fixtures/album.stub.dart
  mobile/test/fixtures/asset.stub.dart
  mobile/test/infrastructure/repository.mock.dart
  mobile/test/services/hash_service_test.dart
Labels: 📱mobile, changelog:feature

#18959 fix(web): play motion photo color
  web/src/lib/components/asset-viewer/actions/motion-photo-action.svelte
Labels: 🖥️web, changelog:skip

#18885 feat(server): add /search/statistics resource
  mobile/openapi/README.md
  mobile/openapi/lib/api.dart
  mobile/openapi/lib/api/search_api.dart
  mobile/openapi/lib/api_client.dart
  mobile/openapi/lib/model/search_statistics_response_dto.dart
  mobile/openapi/lib/model/statistics_search_dto.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/controllers/search.controller.ts
  server/src/dtos/search.dto.ts
  server/src/queries/search.repository.sql
  server/src/repositories/search.repository.ts
  server/src/services/search.service.ts
  server/src/utils/database.ts
Labels: 🗄️server, changelog:feature

#18975 feat: use shared success-check action
  .github/workflows/docker.yml
  .github/workflows/test.yml
  .github/workflows/weblate-lock.yml
Labels: changelog:skip

#18989 fix: delete useless file
  typescript-open-api/typescript-sdk/package-lock.json
Labels: changelog:skip

#19012 fix(web): improve asset name readability in dark mode
  web/src/lib/components/shared-components/gallery-viewer/gallery-viewer.svelte
Labels: 🖥️web, changelog:bugfix

#18921 fix(web): add tag button tooltip not using translation
  i18n/en.json
  web/src/lib/components/asset-viewer/detail-panel-tags.svelte
Labels: 🖥️web, changelog:translation

#18919 fix(mobile): share asset back button exit application
  mobile/lib/providers/asset_viewer/download.provider.dart
  mobile/lib/utils/selection_handlers.dart
Labels: 📱mobile, changelog:bugfix

#18923 feat(web): Focus on combo box input when opening add tag modal
  web/src/lib/components/shared-components/combobox.svelte
  web/src/lib/modals/AssetTagModal.svelte
Labels: 🖥️web, changelog:enhancement

#18946 feat(mobile): typed translation keys
  mobile/bin/generate_keys.dart
  mobile/lib/generated/intl_keys.g.dart
  mobile/lib/pages/library/library.page.dart
  mobile/makefile
Labels: 📱mobile, changelog:skip

#19017 chore: add note to sender email address field description
  i18n/en.json
Labels: changelog:skip

#19004 fix(mobile): people collection page layout broken in landscape
  mobile/lib/pages/library/people/people_collection.page.dart
Labels: 📱mobile, changelog:bugfix

#18994 feat(mobile): sync local asset width & height from platform
  mobile/android/app/src/main/kotlin/app/alextran/immich/sync/Messages.g.kt
  mobile/android/app/src/main/kotlin/app/alextran/immich/sync/MessagesImplBase.kt
  mobile/drift_schemas/main/drift_schema_v1.json
  mobile/ios/Runner/Sync/Messages.g.swift
  mobile/ios/Runner/Sync/MessagesImpl.swift
  mobile/lib/domain/services/local_sync.service.dart
  mobile/lib/infrastructure/entities/local_asset.entity.drift.dart
  mobile/lib/infrastructure/entities/remote_asset.entity.drift.dart
  mobile/lib/infrastructure/repositories/local_album.repository.dart
  mobile/lib/infrastructure/utils/asset.mixin.dart
  mobile/lib/platform/native_sync_api.g.dart
  mobile/pigeon/native_sync_api.dart
Labels: 📱mobile, changelog:skip

#18341 feat(mobile): add cast support
  i18n/en.json
  mobile/ios/Podfile.lock
  mobile/ios/Runner/Info.plist
  mobile/lib/interfaces/asset_api.interface.dart
  mobile/lib/interfaces/cast_destination_service.interface.dart
  mobile/lib/interfaces/sessions_api.interface.dart
  mobile/lib/models/cast/cast_manager_state.dart
  mobile/lib/models/sessions/session_create_response.model.dart
  mobile/lib/pages/common/gallery_viewer.page.dart
  mobile/lib/pages/common/native_video_viewer.page.dart
  mobile/lib/providers/cast.provider.dart
  mobile/lib/repositories/asset_api.repository.dart
  mobile/lib/repositories/gcast.repository.dart
  mobile/lib/repositories/sessions_api.repository.dart
  mobile/lib/services/api.service.dart
  mobile/lib/services/gcast.service.dart
  mobile/lib/utils/image_url_builder.dart
  mobile/lib/widgets/asset_viewer/cast_dialog.dart
  mobile/lib/widgets/asset_viewer/custom_video_player_controls.dart
  mobile/lib/widgets/asset_viewer/top_control_app_bar.dart
  mobile/lib/widgets/asset_viewer/video_position.dart
  mobile/lib/widgets/common/immich_app_bar.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: 📱mobile, changelog:feature

#18970 refactor(mobile): simplify local sync and hash service
  mobile/lib/domain/interfaces/local_album.interface.dart
  mobile/lib/domain/models/local_album.model.dart
  mobile/lib/domain/services/hash.service.dart
  mobile/lib/domain/services/local_sync.service.dart
  mobile/lib/infrastructure/repositories/local_album.repository.dart
  mobile/test/domain/services/hash_service_test.dart
  mobile/test/infrastructure/repositories/local_album_repository_test.dart
  mobile/test/test_utils/medium_factory.dart
Labels: 📱mobile, changelog:skip

#18905 fix(web): handling historical timezones in web client
  web/src/lib/components/shared-components/change-date.svelte
Labels: 🖥️web, changelog:bugfix

#17733 refactor: logger service and remove dynamic
  mobile/lib/domain/interfaces/store.interface.dart
  mobile/lib/domain/models/store.model.dart
  mobile/lib/domain/models/sync_event.model.dart
  mobile/lib/domain/services/log.service.dart
  mobile/lib/domain/services/store.service.dart
  mobile/lib/domain/services/sync_stream.service.dart
  mobile/lib/infrastructure/repositories/store.repository.dart
  mobile/lib/infrastructure/repositories/sync_api.repository.dart
  mobile/lib/utils/isolate.dart
  mobile/lib/widgets/settings/advanced_settings.dart
  mobile/test/domain/services/log_service_test.dart
  mobile/test/domain/services/store_service_test.dart
  mobile/test/infrastructure/repositories/store_repository_test.dart
Labels: 📱mobile, changelog:skip

#19031 chore: re-genenrate intl_keys.g.dart
  mobile/.gitignore
  mobile/lib/generated/intl_keys.g.dart
Labels: 📱mobile, changelog:skip

#19016 feat(mobile): update maplibre to support PMTiles in the mobile app
  mobile/android/app/build.gradle
  mobile/ios/Podfile.lock
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: 📱mobile, changelog:enhancement

#18980 refactor(web): tree data structure for folder and tag views
  web/src/lib/components/asset-viewer/detail-panel.svelte
  web/src/lib/components/shared-components/tree/breadcrumbs.svelte
  web/src/lib/components/shared-components/tree/tree-item-thumbnails.svelte
  web/src/lib/components/shared-components/tree/tree-items.svelte
  web/src/lib/components/shared-components/tree/tree.svelte
  web/src/lib/stores/folders.svelte.ts
  web/src/lib/utils/navigation.ts
  web/src/lib/utils/tree-utils.ts
  web/src/routes/(user)/folders/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/folders/[[photos=photos]]/[[assetId=id]]/+page.ts
  web/src/routes/(user)/tags/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/tags/[[photos=photos]]/[[assetId=id]]/+page.ts
Labels: 🖥️web, changelog:enhancement

#18876 feat(mobile): remote album sync
  mobile/lib/domain/interfaces/sync_stream.interface.dart
  mobile/lib/domain/models/album/album.model.dart
  mobile/lib/domain/models/album_user.model.dart
  mobile/lib/domain/services/sync_stream.service.dart
  mobile/lib/infrastructure/entities/album_user.entity.dart
  mobile/lib/infrastructure/entities/album_user.entity.drift.dart
  mobile/lib/infrastructure/entities/remote_album.entity.dart
  mobile/lib/infrastructure/entities/remote_album.entity.drift.dart
  mobile/lib/infrastructure/entities/remote_album_asset.entity.dart
  mobile/lib/infrastructure/entities/remote_album_asset.entity.drift.dart
  mobile/lib/infrastructure/repositories/db.repository.dart
  mobile/lib/infrastructure/repositories/db.repository.drift.dart
  mobile/lib/infrastructure/repositories/sync_api.repository.dart
  mobile/lib/infrastructure/repositories/sync_stream.repository.dart
  mobile/lib/presentation/pages/dev/feat_in_development.page.dart
  mobile/lib/presentation/pages/dev/media_stat.page.dart
  mobile/lib/repositories/auth.repository.dart
Labels: 📱mobile, changelog:skip

#18998 fix(mobile): fix nested MaterialApp
  mobile/ios/Podfile.lock
  mobile/ios/Runner/Sync/MessagesImpl.swift
  mobile/lib/main.dart
Labels: 📱mobile, changelog:bugfix

#19087 fix(web): Remove tag buttons in search and modal missing tooltip translations
  i18n/en.json
  web/src/lib/components/shared-components/search-bar/search-tags-section.svelte
  web/src/lib/modals/AssetTagModal.svelte
Labels: 🖥️web, changelog:translation

#19007 refactor: timeline manager renames
  web/src/lib/components/album-page/album-viewer.svelte
  web/src/lib/components/photos-page/actions/archive-action.svelte
  web/src/lib/components/photos-page/actions/focus-actions.ts
  web/src/lib/components/photos-page/actions/select-all-assets.svelte
  web/src/lib/components/photos-page/asset-date-group.svelte
  web/src/lib/components/photos-page/asset-grid.svelte
  web/src/lib/components/shared-components/scrubber/scrubber.svelte
  web/src/lib/managers/timeline-manager/add-context.svelte.ts
  web/src/lib/managers/timeline-manager/asset-store.svelte.ts
  web/src/lib/managers/timeline-manager/day-group.svelte.ts
  web/src/lib/managers/timeline-manager/group-insertion-cache.svelte.ts
  web/src/lib/managers/timeline-manager/internal/intersection-support.svelte.ts
  web/src/lib/managers/timeline-manager/internal/layout-support.svelte.ts
  web/src/lib/managers/timeline-manager/internal/load-support.svelte.ts
  web/src/lib/managers/timeline-manager/internal/operations-support.svelte.ts
  web/src/lib/managers/timeline-manager/internal/search-support.svelte.ts
  web/src/lib/managers/timeline-manager/internal/utils.svelte.ts
  web/src/lib/managers/timeline-manager/internal/websocket-support.svelte.ts
  web/src/lib/managers/timeline-manager/intersecting-asset.svelte.ts
  web/src/lib/managers/timeline-manager/month-group.svelte.ts
  web/src/lib/managers/timeline-manager/timeline-manager.svelte.spec.ts
  web/src/lib/managers/timeline-manager/timeline-manager.svelte.ts
  web/src/lib/managers/timeline-manager/types.ts
  web/src/lib/managers/timeline-manager/utils.svelte.ts
  web/src/lib/managers/timeline-manager/viewer-asset.svelte.ts
  web/src/lib/stores/assets-store.spec.ts
  web/src/lib/utils/actions.ts
  web/src/lib/utils/asset-utils.ts
  web/src/lib/utils/timeline-util.ts
  web/src/routes/(user)/albums/[albumId=id]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/archive/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/favorites/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/locked/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/partners/[userId]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/people/[personId]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/photos/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/search/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/tags/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/trash/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:skip

#19096 chore: catch migration error
  mobile/lib/utils/migration.dart
Labels: 📱mobile, changelog:bugfix

#18940 feat(mobile): Add Scrollbar for vertical scrolling on the actions button multi-select
  mobile/lib/widgets/asset_grid/control_bottom_app_bar.dart
  mobile/lib/widgets/common/drag_sheet.dart
Labels: 📱mobile, changelog:enhancement

#19117 fix: album comment count including trashed assets
  server/src/queries/activity.repository.sql
  server/src/repositories/activity.repository.ts
Labels: 🗄️server, changelog:bugfix

#19119 refactor: email template preview modal
  web/src/lib/components/admin-page/settings/template-settings/template-settings.svelte
  web/src/lib/modals/EmailTemplatePreviewModal.svelte
Labels: 🖥️web, changelog:skip

#19121 refactor: user avatar
  web/src/lib/components/asset-viewer/activity-viewer.svelte
  web/src/lib/components/shared-components/navigation-bar/navigation-bar.svelte
  web/src/lib/components/shared-components/user-avatar.svelte
  web/src/lib/modals/AvatarEditModal.svelte
Labels: 🖥️web, changelog:skip

#19122 fix: required argument in onClose modal function
  web/src/lib/components/shared-components/search-bar/search-bar.svelte
  web/src/lib/managers/modal-manager.svelte.ts
  web/src/lib/modals/ConfirmModal.svelte
Labels: 🖥️web, changelog:skip

#19123 chore: more flexible modal manager types
  web/src/lib/components/admin-page/settings/auth/auth-settings.svelte
  web/src/lib/components/asset-viewer/slideshow-bar.svelte
  web/src/lib/components/photos-page/actions/change-description-action.svelte
  web/src/lib/components/photos-page/asset-grid.svelte
  web/src/lib/components/shared-components/gallery-viewer/gallery-viewer.svelte
  web/src/lib/components/shared-components/navigation-bar/account-info-panel.svelte
  web/src/lib/components/shared-components/side-bar/purchase-info.svelte
  web/src/lib/managers/modal-manager.svelte.ts
  web/src/routes/(user)/utilities/duplicates/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/admin/library-management/+page.svelte
  web/src/routes/admin/users/+page.svelte
Labels: 🖥️web, changelog:skip

#17425 chore(docs): add rename note to synology.md
  docs/docs/install/synology.md
Labels: documentation, changelog:documentation

#18530 chore(web): update translations
  i18n/af.json
  i18n/ar.json
  i18n/az.json
  i18n/be.json
  i18n/bg.json
  i18n/ca.json
  i18n/cs.json
  i18n/cv.json
  i18n/da.json
  i18n/de.json
  i18n/el.json
  i18n/es.json
  i18n/et.json
  i18n/eu.json
  i18n/fa.json
  i18n/fi.json
  i18n/fil.json
  i18n/fr.json
  i18n/gl.json
  i18n/he.json
  i18n/hi.json
  i18n/hr.json
  i18n/hu.json
  i18n/hy.json
  i18n/id.json
  i18n/it.json
  i18n/ja.json
  i18n/ka.json
  i18n/kk.json
  i18n/ko.json
  i18n/lt.json
  i18n/lv.json
  i18n/mk.json
  i18n/ml.json
  i18n/mn.json
  i18n/mr.json
  i18n/ms.json
  i18n/nb_NO.json
  i18n/nl.json
  i18n/nn.json
  i18n/pl.json
  i18n/pt.json
  i18n/pt_BR.json
  i18n/ro.json
  i18n/ru.json
  i18n/sk.json
  i18n/sl.json
  i18n/sr_Cyrl.json
  i18n/sr_Latn.json
  i18n/sv.json
  i18n/ta.json
  i18n/te.json
  i18n/th.json
  i18n/tr.json
  i18n/uk.json
  i18n/ur.json
  i18n/vi.json
  i18n/zh_Hant.json
  i18n/zh_SIMPLIFIED.json
Labels: changelog:translation

#18909 fix(web): properly update activityManager when browsing assets
  web/src/lib/components/asset-viewer/asset-viewer.svelte
  web/src/lib/managers/activity-manager.svelte.ts
  web/src/routes/(user)/albums/[albumId=id]/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:bugfix

#19138 feat: pass filename in body on asset upload
  mobile/openapi/lib/api/assets_api.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/dtos/asset-media.dto.ts
  server/src/services/asset-media.service.ts
Labels: 🗄️server, changelog:enhancement

#19142 feat: duplicate delete groups api
  mobile/openapi/README.md
  mobile/openapi/lib/api/duplicates_api.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/controllers/duplicate.controller.ts
  server/src/dtos/duplicate.dto.ts
  server/src/queries/duplicate.repository.sql
  server/src/repositories/duplicate.repository.ts
  server/src/services/duplicate.service.ts
  web/src/routes/(user)/utilities/duplicates/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, 🗄️server, changelog:enhancement

#19143 refactor: duplicate button controls
  web/src/lib/components/utilities-page/duplicates/duplicate-asset.svelte
  web/src/lib/components/utilities-page/duplicates/duplicates-compare-control.svelte
Labels: 🖥️web, changelog:skip

#19146 refactor: css variables
  web/package-lock.json
  web/package.json
  web/src/app.css
  web/src/lib/components/admin-page/jobs/job-tile.svelte
  web/src/lib/components/asset-viewer/detail-panel-tags.svelte
  web/src/lib/components/elements/badge.svelte
  web/src/lib/components/forms/library-import-paths-form.svelte
  web/src/lib/components/shared-components/notification/notification-card.svelte
  web/src/lib/components/shared-components/scrubber/scrubber.svelte
  web/src/lib/components/shared-components/search-bar/search-tags-section.svelte
  web/src/lib/components/shared-components/side-bar/storage-space.svelte
  web/src/lib/components/shared-components/upload-asset-preview.svelte
  web/src/lib/components/shared-components/upload-panel.svelte
  web/src/lib/components/shared-components/user-avatar.svelte
  web/src/lib/modals/AlbumShareModal.svelte
  web/src/lib/modals/AssetTagModal.svelte
  web/src/lib/modals/UserDeleteConfirmModal.svelte
  web/src/routes/admin/users/[id]/+page.svelte
  web/src/routes/auth/onboarding/+page.svelte
Labels: 🖥️web, changelog:skip

#18043 feat: service worker cache static app resources, and all entry points
  web/src/service-worker/broadcast-channel.ts
  web/src/service-worker/cache.ts
  web/src/service-worker/fetch-event.ts
  web/src/service-worker/index.ts
  web/svelte.config.js
Labels: 🖥️web, changelog:enhancement, preview

#19105 fix: skip locked photos during duplicate scan.
  server/src/services/duplicate.service.ts
Labels: 🗄️server, changelog:bugfix

#19159 chore: Revert "feat(mobile): remote album sync"
  mobile/lib/domain/interfaces/sync_stream.interface.dart
  mobile/lib/domain/models/album/album.model.dart
  mobile/lib/domain/models/album_user.model.dart
  mobile/lib/domain/services/sync_stream.service.dart
  mobile/lib/infrastructure/entities/album_user.entity.dart
  mobile/lib/infrastructure/entities/album_user.entity.drift.dart
  mobile/lib/infrastructure/entities/remote_album.entity.dart
  mobile/lib/infrastructure/entities/remote_album.entity.drift.dart
  mobile/lib/infrastructure/entities/remote_album_asset.entity.dart
  mobile/lib/infrastructure/entities/remote_album_asset.entity.drift.dart
  mobile/lib/infrastructure/repositories/db.repository.dart
  mobile/lib/infrastructure/repositories/db.repository.drift.dart
  mobile/lib/infrastructure/repositories/sync_api.repository.dart
  mobile/lib/infrastructure/repositories/sync_stream.repository.dart
  mobile/lib/presentation/pages/dev/feat_in_development.page.dart
  mobile/lib/presentation/pages/dev/media_stat.page.dart
  mobile/lib/repositories/auth.repository.dart
Labels: 📱mobile, changelog:skip

#19184 fix(web): small issues with the memory viewer.
  web/src/lib/components/asset-viewer/photo-viewer.svelte
  web/src/lib/components/memory-page/memory-viewer.svelte
  web/src/lib/constants.ts
Labels: 🖥️web, changelog:bugfix

#19201 fix(mobile): asset type mismatch from android sync
  mobile/android/app/src/main/kotlin/app/alextran/immich/sync/MessagesImplBase.kt
Labels: 📱mobile, changelog:skip

#19200 chore: remove warning on storage template onboarding
  i18n/en.json
  web/src/lib/components/onboarding-page/onboarding-storage-template.svelte
Labels: 🖥️web, changelog:skip

#18942 fix(mobile): add translate extension
  mobile/lib/extensions/translate_extensions.dart
  mobile/lib/pages/albums/albums.page.dart
  mobile/lib/pages/library/local_albums.page.dart
  mobile/lib/services/memory.service.dart
  mobile/lib/utils/selection_handlers.dart
  mobile/lib/utils/translation.dart
  mobile/lib/widgets/album/album_thumbnail_card.dart
  mobile/lib/widgets/album/album_thumbnail_listtile.dart
  mobile/lib/widgets/asset_grid/multiselect_grid.dart
  mobile/lib/widgets/backup/ios_debug_info_tile.dart
  mobile/lib/widgets/settings/language_settings.dart
Labels: 📱mobile, changelog:bugfix

#19196 feat(server): add duration to SyncAssetV1
  mobile/lib/infrastructure/repositories/sync_stream.repository.dart
  mobile/openapi/lib/model/sync_asset_v1.dart
  open-api/immich-openapi-specs.json
  server/src/database.ts
  server/src/dtos/sync.dto.ts
  server/src/queries/sync.repository.sql
  server/test/medium/specs/sync/sync-asset.spec.ts
  server/test/medium/specs/sync/sync-partner-asset.spec.ts
Labels: 📱mobile, 🗄️server, changelog:skip

#19195 chore: update truenas repo link
  docs/docs/install/truenas.md
Labels: documentation, changelog:documentation

#19088 fix(web): Asset viewer stack thumbnails overflow on top of asset
  web/src/lib/components/asset-viewer/asset-viewer.svelte
Labels: 🖥️web, changelog:bugfix

#19226 revert: "feat(web): wasm justified layout"
  web/eslint.config.js
  web/package-lock.json
  web/package.json
  web/src/lib/components/shared-components/gallery-viewer/gallery-viewer.svelte
  web/src/lib/managers/timeline-manager/day-group.svelte.ts
  web/src/lib/managers/timeline-manager/timeline-manager.svelte.spec.ts
  web/src/lib/managers/timeline-manager/timeline-manager.svelte.ts
  web/src/lib/managers/timeline-manager/viewer-asset.svelte.ts
  web/src/lib/utils/layout-utils.ts
  web/src/lib/utils/server.ts
  web/src/lib/utils/timeline-util.ts
  web/src/lib/utils/tunables.ts
  web/src/test-data/factories/asset-factory.ts
Labels: 🖥️web, changelog:skip

#19225 refactor: sync service
  server/src/services/sync.service.ts
  server/src/utils/sync.ts
Labels: 🗄️server, changelog:skip

#19236 fix: devcontainer paths/logs
  .devcontainer/devcontainer.json
  .devcontainer/server/container-common.sh
  .devcontainer/server/container-compose-overrides.yml
  .devcontainer/server/container-start-backend.sh
  .devcontainer/server/container-start-frontend.sh
  .devcontainer/server/container-start.sh
Labels: changelog:skip

#19235 chore: no test coverage in ci
  .github/workflows/test.yml
Labels: changelog:skip

#19245 fix: album share modal navigation
  web/src/lib/modals/AlbumShareModal.svelte
Labels: 🖥️web, changelog:bugfix

#19276 fix: panning interrupted while moving around the map
  web/src/lib/components/shared-components/map/map.svelte
Labels: 🖥️web, changelog:bugfix

#19282 fix(docs): REINDEX vchord on upgrade
  docs/docs/administration/postgres-standalone.md
Labels: documentation, changelog:documentation

#19285 fix: local network permission
  mobile/ios/Runner/Info.plist
Labels: changelog:bugfix

#19293 fix: .find() iterator api combat
  web/src/lib/managers/timeline-manager/month-group.svelte.ts
Labels: 🖥️web, changelog:bugfix

#19299 chore: remove unused mocks
  server/src/services/duplicate.service.spec.ts
  server/src/services/library.service.spec.ts
  server/src/services/notification.service.spec.ts
Labels: 🗄️server, changelog:skip

#19301 fix(web): wrap long names with textarea
  web/src/routes/(user)/people/+page.svelte
Labels: 🖥️web, changelog:enhancement

#19298 fix: people ordering incorrect
  e2e/src/api/specs/person.e2e-spec.ts
  server/src/queries/person.repository.sql
  server/src/repositories/person.repository.ts
Labels: 🗄️server, changelog:bugfix

#19300 chore: skip truncating table in this release
  mobile/lib/utils/migration.dart
Labels: 📱mobile, changelog:skip

#19306 fix(server): remove excessive inactivity log
  machine-learning/immich_ml/main.py
Labels: 🗄️server, changelog:skip

#19325 refactor(mobile): (3) sync_stream.interface.dart
  mobile/lib/domain/interfaces/sync_stream.interface.dart
  mobile/lib/domain/services/sync_stream.service.dart
  mobile/lib/infrastructure/repositories/sync_stream.repository.dart
  mobile/lib/providers/infrastructure/sync.provider.dart
  mobile/test/domain/services/sync_stream_service_test.dart
  mobile/test/infrastructure/repository.mock.dart
Labels: 📱mobile, changelog:skip

#19322 refactor(mobile): (1) user.interface.dart
  mobile/lib/constants/enums.dart
  mobile/lib/domain/interfaces/sync_stream.interface.dart
  mobile/lib/domain/interfaces/user.interface.dart
  mobile/lib/domain/interfaces/user_api.interface.dart
  mobile/lib/domain/services/sync_stream.service.dart
  mobile/lib/domain/services/user.service.dart
  mobile/lib/infrastructure/repositories/sync_stream.repository.dart
  mobile/lib/infrastructure/repositories/user.repository.dart
  mobile/lib/infrastructure/repositories/user_api.repository.dart
  mobile/lib/providers/infrastructure/sync.provider.dart
  mobile/lib/providers/infrastructure/user.provider.dart
  mobile/lib/providers/infrastructure/user.provider.g.dart
  mobile/lib/services/asset.service.dart
  mobile/lib/services/entity.service.dart
  mobile/lib/services/partner.service.dart
  mobile/lib/services/sync.service.dart
  mobile/test/domain/services/sync_stream_service_test.dart
  mobile/test/domain/services/user_service_test.dart
  mobile/test/infrastructure/repository.mock.dart
  mobile/test/modules/shared/sync_service_test.dart
  mobile/test/services/asset.service_test.dart
  mobile/test/services/entity.service_test.dart
Labels: 📱mobile, changelog:skip

#19316 fix: container padding
  web/src/lib/components/layouts/user-page-layout.svelte
  web/src/lib/components/photos-page/asset-date-group.svelte
  web/src/lib/components/photos-page/memory-lane.svelte
  web/src/lib/managers/timeline-manager/timeline-manager.svelte.spec.ts
  web/src/lib/utils/layout-utils.ts
  web/src/routes/(user)/albums/[albumId=id]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/partners/[userId]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/people/[personId]/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:bugfix, preview

#19256 chore: unused deps
  server/package-lock.json
  server/package.json
Labels: changelog:skip

#19363 fix(server): migration failing on pg15+
  server/src/schema/migrations/1750323941566-UnsetPrewarmDimParameter.ts
Labels: 🗄️server, changelog:bugfix

#19329 fix: time bucket grouping
  server/src/queries/asset.repository.sql
  server/src/repositories/asset.repository.ts
  server/src/utils/database.ts
Labels: 🗄️server, changelog:bugfix, preview

#19356 refactor(mobile): album_api.interface.dart
  mobile/lib/interfaces/album_api.interface.dart
  mobile/lib/repositories/album_api.repository.dart
  mobile/lib/services/album.service.dart
  mobile/lib/services/sync.service.dart
  mobile/test/repository.mocks.dart
Labels: 📱mobile, changelog:skip

#19333 refactor(mobile): shared_handler.interface.dart
  mobile/lib/interfaces/share_handler.interface.dart
  mobile/lib/repositories/share_handler.repository.dart
Labels: 📱mobile, changelog:skip

#19334 refactor(mobile): sessions_api.interface.dart
  mobile/lib/interfaces/sessions_api.interface.dart
  mobile/lib/repositories/sessions_api.repository.dart
Labels: 📱mobile, changelog:skip

#19369 fix: use icons instead of toggles for admin user features view
  web/src/lib/components/admin-page/user/feature-setting.svelte
  web/src/routes/admin/users/[id]/+page.svelte
Labels: 🖥️web, changelog:bugfix

#19336 refactor(mobile): person_api.interface.dart
  mobile/lib/domain/models/person.model.dart
  mobile/lib/models/search/search_filter.model.dart
  mobile/lib/pages/search/search.page.dart
  mobile/lib/providers/search/people.provider.dart
  mobile/lib/repositories/person_api.repository.dart
  mobile/lib/services/person.service.dart
  mobile/lib/widgets/search/search_filter/people_picker.dart
Labels: 📱mobile, changelog:skip

#19375 chore: rename edit album form modal
  web/src/lib/components/album-page/albums-list.svelte
  web/src/lib/modals/AlbumEditModal.svelte
Labels: 🖥️web, changelog:skip

#19376 fix(server): don't hardcode database name in migration
  server/src/schema/migrations/1750323941566-UnsetPrewarmDimParameter.ts
Labels: 🗄️server, changelog:bugfix

#19338 refactor(mobile): partner.interface.dart
  mobile/lib/interfaces/partner.interface.dart
  mobile/lib/repositories/partner.repository.dart
  mobile/lib/services/partner.service.dart
  mobile/lib/services/sync.service.dart
  mobile/test/repository.mocks.dart
Labels: 📱mobile, changelog:skip

#19386 feat: test for non-standard database name
  server/test/medium/globalSetup.ts
  server/test/utils.ts
Labels: 🗄️server, changelog:skip

#19385 fix(server): duplicate column storage
  server/src/sql-tools/types.ts
Labels: 🗄️server, changelog:skip

#19383 refactor: album picker modal
  i18n/en.json
  web/src/lib/components/asset-viewer/actions/add-to-album-action.svelte
  web/src/lib/components/photos-page/actions/add-to-album.svelte
  web/src/lib/modals/AlbumPickerModal.svelte
  web/src/lib/utils/asset-utils.ts
Labels: 🖥️web, changelog:skip

#19389 refactor: tag create/update modal
  web/src/lib/modals/TagCreateModal.svelte
  web/src/lib/modals/TagEditModal.svelte
  web/src/routes/(user)/tags/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:skip

#19343 refactor(mobile): file_media.interface.dart
  mobile/lib/interfaces/file_media.interface.dart
  mobile/lib/providers/backup/backup.provider.dart
  mobile/lib/repositories/file_media.repository.dart
  mobile/lib/services/backup.service.dart
  mobile/lib/services/backup_verification.service.dart
  mobile/lib/services/download.service.dart
  mobile/test/repository.mocks.dart
Labels: 📱mobile, changelog:skip

#19344 refactor(mobile): etag.interface.dart
  mobile/lib/interfaces/etag.interface.dart
  mobile/lib/repositories/etag.repository.dart
  mobile/lib/services/asset.service.dart
  mobile/lib/services/etag.service.dart
  mobile/lib/services/sync.service.dart
  mobile/test/repository.mocks.dart
Labels: 📱mobile, changelog:skip

#19348 refactor(mobile): backup_album.interface.dart
  mobile/lib/interfaces/backup_album.interface.dart
  mobile/lib/providers/backup/backup.provider.dart
  mobile/lib/repositories/backup.repository.dart
  mobile/lib/services/album.service.dart
  mobile/lib/services/asset.service.dart
  mobile/lib/services/background.service.dart
  mobile/lib/services/backup_album.service.dart
  mobile/test/repository.mocks.dart
Labels: 📱mobile, changelog:skip

#19349 refactor(mobile): auth.interface.dart
  mobile/lib/interfaces/auth.interface.dart
  mobile/lib/repositories/auth.repository.dart
  mobile/lib/services/auth.service.dart
  mobile/test/repository.mocks.dart
Labels: 📱mobile, changelog:skip

#19352 refactor(mobile): asset-media.interface.dart
  mobile/lib/interfaces/asset_media.interface.dart
  mobile/lib/repositories/asset_media.repository.dart
  mobile/lib/services/asset.service.dart
  mobile/lib/services/backup.service.dart
  mobile/test/repository.mocks.dart
Labels: 📱mobile, changelog:skip

#19354 refactor(mobile): album.interface.dart
  mobile/lib/interfaces/album.interface.dart
  mobile/lib/repositories/album.repository.dart
  mobile/lib/services/album.service.dart
  mobile/lib/services/sync.service.dart
  mobile/test/repository.mocks.dart
Labels: 📱mobile, changelog:skip

#19346 refactor(mobile): cast_destination.interface.dart
  mobile/lib/interfaces/cast_destination_service.interface.dart
  mobile/lib/providers/cast.provider.dart
  mobile/lib/services/gcast.service.dart
Labels: 📱mobile, changelog:skip

#19440 chore: fix undeclared dependencies
  server/package-lock.json
  server/package.json
Labels: 🗄️server, changelog:skip

#19427 fix(web): download icon color
  web/src/lib/components/asset-viewer/actions/download-action.svelte
Labels: 🖥️web, changelog:skip

#19381 chore: migrate version announcement modal
  web/src/lib/components/shared-components/version-announcement-box.svelte
  web/src/lib/modals/VersionAnnouncementModal.svelte
  web/src/routes/+layout.svelte
Labels: 🖥️web, 🗄️server, changelog:skip

#19392 fix(server): filter parameters by database and role
  server/src/schema/migrations/1750323941566-UnsetPrewarmDimParameter.ts
Labels: 🗄️server, changelog:bugfix

#19435 chore: optimize playwright gha
  .github/workflows/test.yml
Labels: changelog:skip

#19428 feat(mobile): enable Croatian (hr) translations
  mobile/lib/constants/locales.dart
Labels: 📱mobile, changelog:translation

#19455 fix(web): undefined release
  web/src/routes/+layout.svelte
Labels: 🖥️web, changelog:skip

#19453 fix(web): toggle favorite
  web/src/routes/(user)/people/+page.svelte
Labels: 🖥️web, changelog:bugfix

#19459 fix(docs): portainer absolute paths
  docs/docs/install/portainer.md
Labels: documentation, changelog:documentation

#19418 fix(web): timeline timezone
  web/src/lib/utils/timeline-util.ts
Labels: 🖥️web, changelog:bugfix, preview

#19417 fix(web): oauth quota display
  web/src/lib/components/admin-page/server-stats/server-stats-panel.svelte
Labels: 🖥️web, changelog:bugfix

#19415 refactor(mobile): interfaces refactor
  mobile/lib/domain/interfaces/asset_media.interface.dart
  mobile/lib/domain/interfaces/device_asset.interface.dart
  mobile/lib/domain/interfaces/exif.interface.dart
  mobile/lib/domain/interfaces/local_album.interface.dart
  mobile/lib/domain/interfaces/local_asset.interface.dart
  mobile/lib/domain/interfaces/log.interface.dart
  mobile/lib/domain/interfaces/storage.interface.dart
  mobile/lib/domain/interfaces/store.interface.dart
  mobile/lib/domain/interfaces/sync_api.interface.dart
  mobile/lib/domain/interfaces/timeline.interface.dart
  mobile/lib/domain/services/hash.service.dart
  mobile/lib/domain/services/local_sync.service.dart
  mobile/lib/domain/services/log.service.dart
  mobile/lib/domain/services/store.service.dart
  mobile/lib/domain/services/sync_stream.service.dart
  mobile/lib/domain/services/timeline.service.dart
  mobile/lib/infrastructure/repositories/asset_media.repository.dart
  mobile/lib/infrastructure/repositories/device_asset.repository.dart
  mobile/lib/infrastructure/repositories/exif.repository.dart
  mobile/lib/infrastructure/repositories/local_album.repository.dart
  mobile/lib/infrastructure/repositories/local_asset.repository.dart
  mobile/lib/infrastructure/repositories/log.repository.dart
  mobile/lib/infrastructure/repositories/storage.repository.dart
  mobile/lib/infrastructure/repositories/store.repository.dart
  mobile/lib/infrastructure/repositories/sync_api.repository.dart
  mobile/lib/infrastructure/repositories/timeline.repository.dart
  mobile/lib/interfaces/upload.interface.dart
  mobile/lib/interfaces/widget.interface.dart
  mobile/lib/presentation/widgets/images/local_thumb_provider.dart
  mobile/lib/providers/infrastructure/album.provider.dart
  mobile/lib/providers/infrastructure/asset.provider.dart
  mobile/lib/providers/infrastructure/device_asset.provider.dart
  mobile/lib/providers/infrastructure/exif.provider.dart
  mobile/lib/providers/infrastructure/exif.provider.g.dart
  mobile/lib/providers/infrastructure/storage.provider.dart
  mobile/lib/providers/infrastructure/store.provider.dart
  mobile/lib/providers/infrastructure/store.provider.g.dart
  mobile/lib/providers/infrastructure/timeline.provider.dart
  mobile/lib/repositories/upload.repository.dart
  mobile/lib/repositories/widget.repository.dart
  mobile/lib/services/asset.service.dart
  mobile/lib/services/backup_verification.service.dart
  mobile/lib/services/exif.service.dart
  mobile/lib/services/hash.service.dart
  mobile/lib/services/sync.service.dart
  mobile/lib/services/upload.service.dart
  mobile/lib/services/widget.service.dart
  mobile/test/domain/services/hash_service_test.dart
  mobile/test/domain/services/log_service_test.dart
  mobile/test/domain/services/store_service_test.dart
  mobile/test/domain/services/sync_stream_service_test.dart
  mobile/test/infrastructure/repositories/exif_repository_test.dart
  mobile/test/infrastructure/repositories/local_album_repository_test.dart
  mobile/test/infrastructure/repositories/store_repository_test.dart
  mobile/test/infrastructure/repository.mock.dart
  mobile/test/repository.mocks.dart
  mobile/test/services/hash_service_test.dart
  mobile/test/test_utils/medium_factory.dart
Labels: 📱mobile, changelog:skip

#19473 fix(web): consistent merge people icons
  web/src/lib/modals/PersonMergeSuggestionModal.svelte
Labels: 🖥️web, 🗄️server, changelog:enhancement

#19406 chore: speedup devcontainer start
  .devcontainer/server/container-common.sh
  .devcontainer/server/container-compose-overrides.yml
  .dockerignore
  Makefile
  server/Dockerfile
Labels: changelog:skip

#19493 fix: return 404 for invalid shared link pages
  e2e/src/api/specs/shared-link.e2e-spec.ts
  server/src/services/api.service.ts
Labels: 🗄️server, changelog:bugfix

#19501 fix: android app link support
  mobile/android/app/src/main/AndroidManifest.xml
Labels: changelog:skip

#19504 feat: sliver timeline selection optimization
  mobile/lib/presentation/widgets/timeline/fixed/segment.model.dart
Labels: 📱mobile, changelog:skip

#19446 feat: sliver appbar and snap scrubbing
  mobile/lib/pages/common/tab_shell.page.dart
  mobile/lib/presentation/pages/dev/feat_in_development.page.dart
  mobile/lib/presentation/widgets/timeline/header.widget.dart
  mobile/lib/presentation/widgets/timeline/scrubber.widget.dart
  mobile/lib/presentation/widgets/timeline/timeline.widget.dart
  mobile/lib/providers/timeline/multiselect.provider.dart
  mobile/lib/routing/router.dart
  mobile/lib/routing/router.gr.dart
  mobile/lib/widgets/common/immich_sliver_app_bar.dart
Labels: 📱mobile, changelog:skip

#19511 feat(server): person delete
  mobile/openapi/README.md
  mobile/openapi/lib/api/people_api.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/controllers/person.controller.spec.ts
  server/src/controllers/person.controller.ts
  server/src/queries/person.repository.sql
  server/src/repositories/person.repository.ts
  server/src/services/person.service.ts
  server/src/utils/access.ts
  server/test/medium.factory.ts
  server/test/medium/specs/services/person.service.spec.ts
  server/test/repositories/person.repository.mock.ts
  server/test/utils.ts
Labels: 🗄️server, changelog:feature

#19525 fix: only pass in is_main flag to mobile build for zizmor
  .github/workflows/build-mobile.yml
Labels: changelog:skip

#19510 feat(mobile): ios widget deeplink to asset in app
  mobile/ios/WidgetExtension/EntryGenerators.swift
  mobile/ios/WidgetExtension/ImageWidgetView.swift
  mobile/ios/WidgetExtension/ImmichAPI.swift
Labels: changelog:enhancement

#19231 refactor(mobile): do not skip iCloud albums during local sync
  mobile/lib/domain/services/local_sync.service.dart
  mobile/lib/providers/infrastructure/sync.provider.dart
Labels: 📱mobile, changelog:skip

#19472 feat(deployment): add shm_size for PG
  docker/docker-compose.dev.yml
  docker/docker-compose.prod.yml
  docker/docker-compose.yml
  docs/docs/FAQ.mdx
Labels: documentation, 🗄️server, changelog:bugfix

#19540 fix: sync stream album assets type order
  server/src/services/sync.service.ts
  server/test/medium/specs/sync/sync-types.spec.ts
Labels: 🗄️server, changelog:skip

#19551 fix(web): absolute path match in external library
  server/src/repositories/view-repository.ts
Labels: 🗄️server, changelog:bugfix

#19559 refactor(server): sync service
  open-api/immich-openapi-specs.json
  server/src/dtos/sync.dto.ts
  server/src/services/sync.service.ts
Labels: 🗄️server, changelog:skip

#19579 feat: sync memories
  mobile/openapi/README.md
  mobile/openapi/lib/api.dart
  mobile/openapi/lib/api_client.dart
  mobile/openapi/lib/model/sync_entity_type.dart
  mobile/openapi/lib/model/sync_memory_asset_delete_v1.dart
  mobile/openapi/lib/model/sync_memory_asset_v1.dart
  mobile/openapi/lib/model/sync_memory_delete_v1.dart
  mobile/openapi/lib/model/sync_memory_v1.dart
  mobile/openapi/lib/model/sync_request_type.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/database.ts
  server/src/db.d.ts
  server/src/dtos/sync.dto.ts
  server/src/enum.ts
  server/src/queries/sync.repository.sql
  server/src/repositories/sync.repository.ts
  server/src/schema/functions.ts
  server/src/schema/index.ts
  server/src/schema/migrations/1751035357937-MemorySyncChanges.ts
  server/src/schema/tables/index.ts
  server/src/schema/tables/memory-asset-audit.table.ts
  server/src/schema/tables/memory-asset.table.ts
  server/src/schema/tables/memory-audit.table.ts
  server/src/schema/tables/memory.table.ts
  server/src/schema/tables/memory_asset.table.ts
  server/src/services/memory.service.spec.ts
  server/src/services/sync.service.ts
  server/test/medium.factory.ts
  server/test/medium/specs/sync/sync-memory-asset.spec.ts
  server/test/medium/specs/sync/sync-memory.spec.ts
Labels: 🗄️server, changelog:skip

#19581 refactor: sync repository
  server/src/bin/sync-sql.ts
  server/src/queries/sync.checkpoint.repository.sql
  server/src/queries/sync.repository.sql
  server/src/repositories/index.ts
  server/src/repositories/sync-checkpoint.repository.ts
  server/src/repositories/sync.repository.ts
  server/src/services/base.service.ts
  server/src/services/sync.service.ts
  server/test/medium.factory.ts
  server/test/utils.ts
Labels: 🗄️server, changelog:skip

#19578 fix(docs): add DB_USERNAME when needed
  docs/docs/FAQ.mdx
  docs/docs/administration/backup-and-restore.md
  docs/docs/guides/template-backup-script.md
Labels: documentation, changelog:documentation

#19583 refactor: auth medium tests
  e2e/src/api/specs/auth.e2e-spec.ts
  server/src/controllers/auth.controller.spec.ts
  server/test/medium.factory.ts
  server/test/medium/specs/services/auth.service.spec.ts
Labels: 🗄️server, changelog:skip

#19584 refactor: change password repository lookup
  server/src/queries/user.repository.sql
  server/src/repositories/user.repository.ts
  server/src/services/auth.service.spec.ts
  server/src/services/auth.service.ts
Labels: 🗄️server, changelog:skip

#19623 feat: favorite action
  i18n/en.json
  mobile/lib/constants/enums.dart
  mobile/lib/domain/models/asset/base_asset.model.dart
  mobile/lib/domain/models/asset/remote_asset.model.dart
  mobile/lib/infrastructure/entities/remote_asset.entity.dart
  mobile/lib/infrastructure/repositories/remote_asset.repository.dart
  mobile/lib/infrastructure/repositories/timeline.repository.dart
  mobile/lib/presentation/widgets/action_buttons/favorite_action_button.widget.dart
  mobile/lib/presentation/widgets/bottom_app_bar/home_bottom_app_bar.widget.dart
  mobile/lib/presentation/widgets/images/thumbnail.widget.dart
  mobile/lib/presentation/widgets/images/thumbnail_tile.widget.dart
  mobile/lib/presentation/widgets/timeline/fixed/segment.model.dart
  mobile/lib/providers/infrastructure/action.provider.dart
  mobile/lib/providers/timeline/multiselect.provider.dart
  mobile/lib/repositories/asset_api.repository.dart
  mobile/lib/services/action.service.dart
Labels: 📱mobile, changelog:skip

#19629 feat: sync stacks
  mobile/openapi/README.md
  mobile/openapi/lib/api.dart
  mobile/openapi/lib/api_client.dart
  mobile/openapi/lib/model/sync_entity_type.dart
  mobile/openapi/lib/model/sync_request_type.dart
  mobile/openapi/lib/model/sync_stack_delete_v1.dart
  mobile/openapi/lib/model/sync_stack_v1.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/dtos/sync.dto.ts
  server/src/enum.ts
  server/src/queries/sync.repository.sql
  server/src/repositories/stack.repository.ts
  server/src/repositories/sync.repository.ts
  server/src/schema/functions.ts
  server/src/schema/index.ts
  server/src/schema/migrations/1751304834247-StackSyncChanges.ts
  server/src/schema/tables/album-asset.table.ts
  server/src/schema/tables/album-user.table.ts
  server/src/schema/tables/album.table.ts
  server/src/schema/tables/asset.table.ts
  server/src/schema/tables/index.ts
  server/src/schema/tables/memory-asset.table.ts
  server/src/schema/tables/memory.table.ts
  server/src/schema/tables/partner.table.ts
  server/src/schema/tables/stack-audit.table.ts
  server/src/schema/tables/stack.table.ts
  server/src/schema/tables/user.table.ts
  server/src/services/stack.service.ts
  server/src/services/sync.service.ts
  server/src/sql-tools/from-code/decorators/trigger-function.decorator.ts
  server/test/medium.factory.ts
  server/test/medium/specs/services/audit.database.spec.ts
  server/test/medium/specs/sync/sync-stack.spec.ts
  server/test/sql-tools/trigger-after-delete.stub.ts
Labels: 🗄️server, changelog:skip

#19625 fix(web): modal race condition
  i18n/en.json
  web/package-lock.json
  web/package.json
  web/src/lib/managers/modal-manager.svelte.ts
  web/src/routes/+layout.svelte
Labels: 🖥️web, changelog:bugfix

#19630 feat(mobile): archive action
  i18n/en.json
  mobile/lib/infrastructure/repositories/remote_asset.repository.dart
  mobile/lib/presentation/widgets/action_buttons/archive_action_button.widget.dart
  mobile/lib/presentation/widgets/bottom_app_bar/home_bottom_app_bar.widget.dart
  mobile/lib/providers/infrastructure/action.provider.dart
  mobile/lib/services/action.service.dart
  mobile/lib/services/api.service.dart
Labels: 📱mobile, changelog:skip

#19635 feat: sync partner stacks
  mobile/openapi/lib/model/sync_entity_type.dart
  mobile/openapi/lib/model/sync_request_type.dart
  open-api/immich-openapi-specs.json
  open-api/typescript-sdk/src/fetch-client.ts
  server/src/database.ts
  server/src/dtos/sync.dto.ts
  server/src/enum.ts
  server/src/queries/sync.repository.sql
  server/src/repositories/sync.repository.ts
  server/src/services/sync.service.ts
  server/test/medium/specs/sync/sync-partner-stack.spec.ts
Labels: 🗄️server, changelog:skip

#19641 refactor: timeline tests
  e2e/src/api/specs/timeline.e2e-spec.ts
  server/src/controllers/timeline.controller.spec.ts
  server/test/medium/specs/services/timeline.service.spec.ts
Labels: 🗄️server, changelog:skip

#19639 revert: timeout
  mobile/lib/services/api.service.dart
Labels: 📱mobile, changelog:skip
