Repository immich-app/immich, pull requests merged in 2025-04, with the labels that each got.

#17306 fix(web): date time change reactivity
  web/src/lib/components/elements/date-input.svelte
Labels: 🖥️web, changelog:bugfix

#17284 fix(web): blank locale cause blank timeline to render
  web/src/lib/stores/preferences.store.ts
Labels: 🖥️web, changelog:bugfix

#17305 fix(web): select all button displays incorrectly
  web/src/lib/components/photos-page/asset-date-group.svelte
  web/src/lib/components/photos-page/asset-grid.svelte
  web/src/lib/utils/asset-utils.ts
Labels: 🖥️web, changelog:bugfix

#17308 fix(server): full-size images not migrated or deleted correctly
  server/src/cores/storage.core.ts
  server/src/services/asset-media.service.spec.ts
  server/src/services/asset.service.spec.ts
  server/src/services/asset.service.ts
  server/src/services/audit.service.ts
  server/src/services/duplicate.service.ts
  server/src/services/media.service.spec.ts
  server/src/services/media.service.ts
  server/src/services/notification.service.ts
  server/src/services/person.service.ts
  server/src/services/smart-info.service.ts
  server/src/utils/asset.util.ts
  server/test/fixtures/asset.stub.ts
Labels: 🗄️server, changelog:bugfix

#17288 fix(server): remove stacks on stack.deleteAll
  server/src/queries/stack.repository.sql
  server/src/repositories/stack.repository.ts
Labels: 🗄️server, changelog:skip

#17311 fix(server): use stat instead of exifinfo for file date metadata
  server/src/services/metadata.service.spec.ts
  server/src/services/metadata.service.ts
  server/test/medium/specs/metadata.service.spec.ts
Labels: 🗄️server, changelog:bugfix

#16768 feat(web): expand/collapse sidebar
  i18n/en.json
  web/src/lib/actions/__test__/focus-trap-test.svelte
  web/src/lib/actions/__test__/focus-trap.spec.ts
  web/src/lib/actions/click-outside.ts
  web/src/lib/actions/focus-trap.ts
  web/src/lib/components/elements/buttons/skip-link.svelte
  web/src/lib/components/layouts/user-page-layout.svelte
  web/src/lib/components/photos-page/asset-grid.svelte
  web/src/lib/components/photos-page/memory-lane.svelte
  web/src/lib/components/shared-components/navigation-bar/navigation-bar.svelte
  web/src/lib/components/shared-components/purchasing/individual-purchase-option-card.svelte
  web/src/lib/components/shared-components/purchasing/purchase-content.svelte
  web/src/lib/components/shared-components/purchasing/server-purchase-option-card.svelte
  web/src/lib/components/shared-components/side-bar/purchase-info.svelte
  web/src/lib/components/shared-components/side-bar/server-status.svelte
  web/src/lib/components/shared-components/side-bar/side-bar-link.svelte
  web/src/lib/components/shared-components/side-bar/side-bar-section.svelte
  web/src/lib/components/shared-components/side-bar/side-bar.svelte
  web/src/lib/components/shared-components/side-bar/storage-space.svelte
  web/src/lib/components/shared-components/tree/tree.svelte
  web/src/lib/stores/side-bar.svelte.ts
  web/src/routes/(user)/folders/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/tags/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:feature, preview

#17321 fix(web): menu button size
  web/src/lib/components/shared-components/navigation-bar/navigation-bar.svelte
Labels: 🖥️web, changelog:skip

#17320 fix(web): padding
  web/src/lib/components/layouts/user-page-layout.svelte
Labels: 🖥️web, changelog:skip

#16861 feat(mobile): sqlite
  .gitattributes
  .vscode/settings.json
  mobile/analysis_options.yaml
  mobile/build.yaml
  mobile/drift_schemas/main/drift_schema_v1.json
  mobile/lib/domain/models/user.model.dart
  mobile/lib/domain/models/user_metadata.model.dart
  mobile/lib/infrastructure/entities/partner.entity.dart
  mobile/lib/infrastructure/entities/partner.entity.drift.dart
  mobile/lib/infrastructure/entities/user.entity.dart
  mobile/lib/infrastructure/entities/user.entity.drift.dart
  mobile/lib/infrastructure/entities/user_metadata.entity.dart
  mobile/lib/infrastructure/entities/user_metadata.entity.drift.dart
  mobile/lib/infrastructure/repositories/db.repository.dart
  mobile/lib/infrastructure/repositories/db.repository.drift.dart
  mobile/lib/infrastructure/utils/drift_default.mixin.dart
  mobile/lib/infrastructure/utils/exif.converter.dart
  mobile/lib/infrastructure/utils/user.converter.dart
  mobile/lib/widgets/common/user_circle_avatar.dart
  mobile/makefile
  mobile/pubspec.lock
  mobile/pubspec.yaml
  mobile/test/fixtures/user.stub.dart
Labels: 📱mobile, changelog:feature

#16762 fix(web): fix thumbnail hover link position
  web/src/lib/components/asset-viewer/asset-viewer.svelte
  web/src/lib/components/assets/thumbnail/__test__/thumbnail.spec.ts
  web/src/lib/components/assets/thumbnail/image-thumbnail.svelte
  web/src/lib/components/assets/thumbnail/thumbnail.svelte
Labels: 🖥️web, changelog:bugfix

#16918 feat(server): Avoid face match with people born after file creation #4743
  server/src/queries/search.repository.sql
  server/src/repositories/search.repository.ts
  server/src/services/person.service.spec.ts
  server/src/services/person.service.ts
  server/test/factory.ts
  server/test/fixtures/face.stub.ts
  server/test/medium/specs/person.service.spec.ts
  server/test/repositories/person.repository.mock.ts
  server/test/small.factory.ts
  server/test/utils.ts
Labels: 🗄️server, changelog:feature

#17356 fix: metadata service init failure should halt server startup
  server/src/services/metadata.service.ts
Labels: 🗄️server, changelog:skip

#17341 chore: post release tasks
  mobile/ios/Runner.xcodeproj/project.pbxproj
  mobile/ios/Runner/Info.plist
Labels: changelog:skip

#17347 fix(web): use original image if web compatible
  e2e/src/web/specs/photo-viewer.e2e-spec.ts
  web/src/lib/components/asset-viewer/photo-viewer.spec.ts
  web/src/lib/components/asset-viewer/photo-viewer.svelte
Labels: 🖥️web, changelog:bugfix

#17367 chore: remove demo box spec from README.md
  README.md
  readme_i18n/README_ar_JO.md
  readme_i18n/README_ca_ES.md
  readme_i18n/README_de_DE.md
  readme_i18n/README_es_ES.md
  readme_i18n/README_fr_FR.md
  readme_i18n/README_it_IT.md
  readme_i18n/README_ja_JP.md
  readme_i18n/README_ko_KR.md
  readme_i18n/README_nl_NL.md
  readme_i18n/README_pt_BR.md
  readme_i18n/README_ru_RU.md
  readme_i18n/README_sv_SE.md
  readme_i18n/README_th_TH.md
  readme_i18n/README_tr_TR.md
  readme_i18n/README_uk_UA.md
  readme_i18n/README_vi_VN.md
  readme_i18n/README_zh_CN.md
Labels: changelog:skip

#17372 fix(mobile): bump isar maxSize
  mobile/lib/utils/bootstrap.dart
Labels: 📱mobile, changelog:bugfix

#17370 fix(mobile): ignore invalid store keys
  mobile/lib/infrastructure/repositories/store.repository.dart
Labels: 📱mobile, changelog:skip

#17379 fix: improve initial loading time
  web/src/lib/components/shared-components/change-location.svelte
Labels: 🖥️web, changelog:skip

#17396 chore: use valkey
  docker/docker-compose.dev.yml
  docker/docker-compose.prod.yml
  docker/docker-compose.yml
Labels: changelog:skip

#17405 fix: reset memories on logout
  web/src/lib/stores/memory.store.svelte.ts
  web/src/lib/utils/auth.ts
Labels: 🖥️web, changelog:bugfix

#17412 fix(deployment): warning for database on network share
  docker/example.env
Labels: documentation, changelog:skip

#17369 docs: fixed a wrong path in CLI docs page
  docs/docs/features/command-line-interface.md
Labels: documentation, changelog:documentation

#17424 fix(web): Video memories are played at 100% volume instead of respecting user preference
  web/src/lib/components/memory-page/memory-viewer.svelte
Labels: 🖥️web, changelog:bugfix

#17418 fix(mobile): prevent unnecessary reload on multi user timeline
  mobile/lib/providers/user.provider.dart
Labels: 📱mobile, changelog:bugfix

#17399 chore(web): switch to writable derived one more place
  web/src/routes/(user)/tags/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:skip

#17254 chore(web): update translations
  i18n/bg.json
  i18n/bi.json
  i18n/ca.json
  i18n/cs.json
  i18n/de.json
  i18n/el.json
  i18n/es.json
  i18n/et.json
  i18n/fa.json
  i18n/fi.json
  i18n/fr.json
  i18n/gl.json
  i18n/he.json
  i18n/hr.json
  i18n/hu.json
  i18n/it.json
  i18n/ja.json
  i18n/ka.json
  i18n/lv.json
  i18n/ms.json
  i18n/nb_NO.json
  i18n/nl.json
  i18n/pl.json
  i18n/pt.json
  i18n/pt_BR.json
  i18n/ro.json
  i18n/ru.json
  i18n/sl.json
  i18n/sr_Cyrl.json
  i18n/sr_Latn.json
  i18n/sv.json
  i18n/ta.json
  i18n/te.json
  i18n/th.json
  i18n/tr.json
  i18n/uk.json
  i18n/vi.json
  i18n/zh_Hant.json
  i18n/zh_SIMPLIFIED.json
Labels: changelog:translation

#17413 feat: allow accounts with a quota of 0 GiB
  docs/docs/administration/img/user-quota-size.webp
  docs/docs/administration/user-management.mdx
  i18n/en.json
  mobile/openapi/lib/model/user_admin_create_dto.dart
  mobile/openapi/lib/model/user_admin_update_dto.dart
  open-api/immich-openapi-specs.json
  server/src/dtos/user.dto.ts
  server/src/services/asset-media.service.ts
  web/src/lib/components/forms/create-user-form.svelte
  web/src/lib/components/forms/edit-user-form.svelte
  web/src/routes/admin/user-management/+page.svelte
Labels: documentation, 🖥️web, 🗄️server, changelog:enhancement

#17362 fix(mobile): video player restarting when device rotates
  mobile/lib/pages/common/gallery_viewer.page.dart
Labels: 📱mobile, changelog:bugfix

#17403 fix(mobile): items not deselecting on back button
  mobile/lib/widgets/asset_grid/immich_asset_grid_view.dart
Labels: 📱mobile, changelog:bugfix

#17407 fix(mobile): exifInfo not updated on sync
  mobile/lib/services/asset.service.dart
  mobile/lib/services/sync.service.dart
  mobile/test/api.mocks.dart
  mobile/test/fixtures/asset.stub.dart
  mobile/test/modules/shared/sync_service_test.dart
  mobile/test/repository.mocks.dart
  mobile/test/service.mocks.dart
  mobile/test/services/asset.service_test.dart
Labels: 📱mobile, changelog:bugfix

#17446 fix: restore mangled footnotes
  docs/docs/install/docker-compose.mdx
  docs/docs/install/upgrading.md
Labels: documentation, changelog:documentation

#17445 refactor: remove natural earth countries enity
  server/src/entities/natural-earth-countries.entity.ts
  server/src/repositories/map.repository.ts
Labels: 🗄️server, changelog:skip

#17444 refactor: stop using geodata entity type
  server/src/dtos/search.dto.ts
  server/src/entities/geodata-places.entity.ts
  server/src/repositories/search.repository.ts
  server/src/types.ts
Labels: 🗄️server, changelog:skip

#17207 fix(server): Exclude album assets in shared link payload
  e2e/src/api/specs/shared-link.e2e-spec.ts
  server/src/dtos/shared-link.dto.ts
Labels: 🗄️server, changelog:bugfix

#17430 feat(web): improve individual share ux
  web/src/lib/components/asset-viewer/asset-viewer-nav-bar.svelte
  web/src/lib/components/asset-viewer/asset-viewer.svelte
  web/src/lib/components/share-page/individual-shared-viewer.svelte
Labels: 🖥️web, changelog:enhancement

#17447 refactor: remove smart search entity
  server/src/db.d.ts
  server/src/entities/asset.entity.ts
  server/src/entities/smart-search.entity.ts
  server/src/queries/asset.repository.sql
  server/src/repositories/asset.repository.ts
  server/src/services/duplicate.service.spec.ts
  server/src/services/duplicate.service.ts
  server/src/utils/asset.util.ts
  server/test/fixtures/asset.stub.ts
  server/test/repositories/asset.repository.mock.ts
Labels: 🗄️server, changelog:skip

#17442 fix(mobile): hide asset description text field if user is not owner
  mobile/lib/widgets/asset_viewer/description_input.dart
Labels: 📱mobile, changelog:bugfix

#17463 chore: replace generated enums with actual types
  server/src/db.d.ts
Labels: 🗄️server, changelog:skip

#17467 fix: broken start/end dates on album update
  server/src/services/album.service.ts
Labels: 🗄️server, changelog:bugfix

#17461 fix(mobile): adds support for Internationalized Domain Name (IDN)
  mobile/lib/utils/url_helper.dart
  mobile/lib/widgets/forms/login/login_form.dart
  mobile/pubspec.yaml
  mobile/test/modules/utils/url_helper_test.dart
Labels: 📱mobile, changelog:bugfix

#17468 refactor: database types
  server/src/database.ts
  server/src/dtos/memory.dto.ts
  server/src/dtos/tag.dto.ts
  server/src/entities/asset.entity.ts
  server/src/services/api-key.service.ts
  server/src/types.ts
  server/src/utils/tag.ts
  server/test/fixtures/tag.stub.ts
  server/test/small.factory.ts
Labels: 🗄️server, changelog:skip

#17472 fix: no thumbnail generated for motion assets
  server/src/services/metadata.service.spec.ts
  server/src/services/metadata.service.ts
Labels: 🗄️server, changelog:bugfix

#17470 refactor: activity item
  server/src/database.ts
  server/src/dtos/activity.dto.ts
  server/src/queries/activity.repository.sql
  server/src/repositories/activity.repository.ts
  server/src/services/activity.service.ts
  server/src/types.ts
  server/test/small.factory.ts
Labels: 🗄️server, changelog:skip

#17469 fix(mobile): asset grid will infinitely scroll on iOS when select and…
  mobile/lib/widgets/asset_grid/immich_asset_grid_view.dart
Labels: 📱mobile, changelog:bugfix

#17490 refactor: more database types
  server/src/database.ts
  server/src/dtos/search.dto.ts
  server/src/dtos/session.dto.ts
  server/src/queries/session.repository.sql
  server/src/repositories/session.repository.ts
  server/src/services/auth.service.spec.ts
  server/src/services/auth.service.ts
  server/src/services/session.service.spec.ts
  server/src/types.ts
  server/test/fixtures/auth.stub.ts
  server/test/fixtures/session.stub.ts
  server/test/small.factory.ts
Labels: 🗄️server, changelog:skip

#17492 refactor: metadata entity
  server/src/database.ts
  server/src/dtos/activity.dto.ts
  server/src/dtos/user-preferences.dto.ts
  server/src/dtos/user.dto.ts
  server/src/entities/user-metadata.entity.ts
  server/src/entities/user.entity.ts
  server/src/repositories/user.repository.ts
  server/src/schema/tables/user-metadata.table.ts
  server/src/services/auth.service.spec.ts
  server/src/services/notification.service.spec.ts
  server/src/services/user.service.ts
  server/src/types.ts
  server/src/utils/preferences.ts
  server/test/fixtures/user.stub.ts
Labels: 🗄️server, changelog:skip

#17489 refactor: remove move entity
  server/src/entities/move.entity.ts
  server/src/repositories/move.repository.ts
Labels: 🗄️server, changelog:skip

#17507 feat: use browser download manager for single file downloads
  e2e/src/web/specs/shared-link.e2e-spec.ts
  web/src/lib/stores/download.ts
  web/src/lib/utils/asset-utils.ts
Labels: 🖥️web, changelog:enhancement

#17498 refactor: remove user entity
  server/src/db.d.ts
  server/src/dtos/auth.dto.ts
  server/src/dtos/user.dto.ts
  server/src/entities/album-user.entity.ts
  server/src/entities/album.entity.ts
  server/src/entities/asset.entity.ts
  server/src/entities/person.entity.ts
  server/src/entities/shared-link.entity.ts
  server/src/entities/stack.entity.ts
  server/src/entities/user.entity.ts
  server/src/queries/user.repository.sql
  server/src/repositories/user.repository.ts
  server/src/services/auth.service.spec.ts
  server/src/services/auth.service.ts
  server/src/services/base.service.ts
  server/src/services/person.service.spec.ts
  server/src/services/user.service.spec.ts
  server/src/services/user.service.ts
  server/test/fixtures/asset.stub.ts
  server/test/fixtures/person.stub.ts
  server/test/fixtures/shared-link.stub.ts
  server/test/fixtures/user.stub.ts
Labels: 🗄️server, changelog:skip

#17524 refactor: album user entity
  server/src/database.ts
  server/src/entities/album-user.entity.ts
  server/src/entities/album.entity.ts
  server/src/services/album.service.ts
  server/src/services/notification.service.spec.ts
  server/test/fixtures/album.stub.ts
Labels: 🗄️server, changelog:skip

#17499 chore: remove exif entity
  server/src/database.ts
  server/src/dtos/exif.dto.ts
  server/src/entities/asset.entity.ts
  server/src/entities/exif.entity.ts
  server/src/repositories/media.repository.ts
  server/src/services/asset.service.ts
  server/src/services/media.service.spec.ts
  server/src/services/metadata.service.spec.ts
  server/test/fixtures/asset.stub.ts
  server/test/fixtures/shared-link.stub.ts
Labels: 🗄️server, changelog:skip

#17523 fix: patch-package install in docker build and better postgres patch
  server/Dockerfile
  server/package.json
  server/patches/postgres+3.4.5.patch
Labels: changelog:bugfix

#17526 refactor: remove unused shared users list
  server/src/dtos/album.dto.ts
Labels: 🗄️server, changelog:skip

#17491 refactor: convert download manager into a state class
  web/src/lib/components/asset-viewer/download-panel.svelte
  web/src/lib/stores/download-store.svelte.ts
  web/src/lib/stores/download.ts
  web/src/lib/utils/asset-utils.ts
  web/src/routes/admin/repair/+page.svelte
  web/src/routes/admin/system-settings/+page.svelte
Labels: 🖥️web, changelog:skip

#17436 fix(web): increase sidebar breakpoint
  web/src/lib/components/layouts/user-page-layout.svelte
  web/src/lib/components/shared-components/navigation-bar/navigation-bar.svelte
  web/src/lib/components/shared-components/side-bar/purchase-info.svelte
  web/src/lib/components/shared-components/side-bar/side-bar-section.spec.ts
  web/src/lib/components/shared-components/side-bar/side-bar-section.svelte
  web/src/lib/stores/mobile-device.svelte.ts
  web/src/lib/stores/side-bar.svelte.ts
  web/src/lib/stores/sidebar.svelte.ts
  web/tailwind.config.js
Labels: 🖥️web, changelog:skip, preview

#17125 feat(server): read additional lens exif tags
  e2e/src/api/specs/asset.e2e-spec.ts
  server/src/services/metadata.service.spec.ts
  server/src/services/metadata.service.ts
Labels: 🗄️server, changelog:feature

#17516 fix: test_sets_default_sess_options fails if compiling with globally enabled cuda
  machine-learning/test_main.py
Labels: changelog:bugfix

#17529 refactor: count all return type
  server/src/db.d.ts
  server/src/queries/user.repository.sql
  server/src/repositories/activity.repository.ts
  server/src/repositories/asset.repository.ts
  server/src/repositories/config.repository.ts
  server/src/repositories/library.repository.ts
  server/src/repositories/map.repository.ts
  server/src/repositories/partner.repository.ts
  server/src/repositories/user.repository.ts
Labels: 🗄️server, changelog:skip

#17532 refactor: metadata stub
  server/src/services/metadata.service.spec.ts
  server/test/fixtures/metadata.stub.ts
Labels: 🗄️server, changelog:skip

#17534 fix(web): reset search history after logout
  web/src/lib/components/photos-page/asset-grid.svelte
  web/src/lib/components/shared-components/search-bar/search-bar.svelte
  web/src/lib/components/shared-components/search-bar/search-history-box.svelte
  web/src/lib/stores/search.store.ts
  web/src/lib/stores/search.svelte.ts
  web/src/lib/utils/auth.ts
  web/src/routes/(user)/search/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:bugfix, preview

#17503 fix(mobile): remove locate asset button from trashed asset
  mobile/lib/widgets/asset_viewer/top_control_app_bar.dart
Labels: 📱mobile, changelog:bugfix

#17540 refactor: user factories instead of stubs
  server/src/services/activity.service.spec.ts
  server/src/services/api-key.service.spec.ts
  server/src/services/asset.service.spec.ts
  server/src/services/auth.service.spec.ts
  server/src/services/cli.service.spec.ts
  server/src/services/map.service.spec.ts
  server/src/services/memory.service.spec.ts
  server/src/services/partner.service.spec.ts
  server/src/services/person.service.spec.ts
  server/src/services/shared-link.service.spec.ts
  server/src/services/storage-template.service.spec.ts
  server/src/services/sync.service.spec.ts
  server/src/services/timeline.service.spec.ts
  server/src/services/user.service.spec.ts
  server/test/fixtures/auth.stub.ts
  server/test/fixtures/user.stub.ts
  server/test/small.factory.ts
Labels: 🗄️server, changelog:skip

#17397 feat: sync pictureFile with oidc if it isn't set already
  server/src/repositories/oauth.repository.ts
  server/src/services/auth.service.spec.ts
  server/src/services/auth.service.ts
  server/src/utils/mime-types.spec.ts
  server/src/utils/mime-types.ts
Labels: 🗄️server, changelog:feature

#17544 feat: view qr code from share modal
  i18n/en.json
  web/src/lib/components/album-page/album-shared-link.svelte
  web/src/lib/components/album-page/user-selection-modal.svelte
  web/src/lib/components/shared-components/create-share-link-modal/create-shared-link-modal.svelte
  web/src/lib/components/shared-components/qr-code-modal.svelte
Labels: 🖥️web, changelog:feature

#17535 refactor(server): remove face, person and face search entities
  server/src/cores/storage.core.ts
  server/src/database.ts
  server/src/dtos/asset-response.dto.ts
  server/src/dtos/person.dto.ts
  server/src/entities/asset-face.entity.ts
  server/src/entities/asset.entity.ts
  server/src/entities/face-search.entity.ts
  server/src/entities/person.entity.ts
  server/src/queries/person.repository.sql
  server/src/repositories/person.repository.ts
  server/src/repositories/search.repository.ts
  server/src/services/metadata.service.ts
  server/src/services/person.service.spec.ts
  server/src/services/person.service.ts
  server/src/utils/database.ts
  server/test/fixtures/asset.stub.ts
  server/test/fixtures/face.stub.ts
  server/test/fixtures/person.stub.ts
  server/test/repositories/person.repository.mock.ts
Labels: 🗄️server, changelog:skip

#17546 docs: Add PowerShell example for running web client only
  docs/docs/developer/setup.md
Labels: documentation, changelog:documentation

#17554 feat: show thumbhash behind load error, if possible
  web/src/lib/components/asset-viewer/asset-viewer.svelte
  web/src/lib/components/asset-viewer/photo-viewer.svelte
  web/src/lib/components/assets/broken-asset.svelte
  web/src/lib/components/assets/thumbnail/image-thumbnail.svelte
  web/src/lib/components/assets/thumbnail/thumbnail.svelte
Labels: 🖥️web, changelog:enhancement

#17553 feat: responsive: skeleton
  web/src/lib/components/photos-page/skeleton.svelte
Labels: 🖥️web, changelog:enhancement

#17551 refactor: responsive: device units
  web/src/lib/components/album-page/album-viewer.svelte
  web/src/lib/components/layouts/AuthPageLayout.svelte
  web/src/lib/components/layouts/ErrorLayout.svelte
  web/src/lib/components/shared-components/context-menu/context-menu.svelte
  web/src/lib/components/shared-components/context-menu/right-click-context-menu.svelte
  web/src/lib/components/shared-components/full-screen-modal.svelte
  web/src/lib/components/shared-components/navigation-bar/navigation-bar.svelte
  web/src/lib/components/shared-components/navigation-loading-bar.svelte
  web/src/routes/(user)/albums/[albumId=id]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/partners/[userId]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/people/[personId]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/(user)/share/[key]/+error.svelte
  web/src/routes/(user)/share/[key]/[[photos=photos]]/[[assetId=id]]/+page.svelte
  web/src/routes/+page.svelte
  web/src/routes/auth/onboarding/+page.svelte
Labels: 🖥️web, changelog:skip

#17548 fix: live photo hiding
  server/src/repositories/asset.repository.ts
Labels: 🗄️server, changelog:bugfix

#17550 feat: responsive-web: shrink mem-lane
  web/src/lib/components/photos-page/memory-lane.svelte
Labels: 🖥️web, changelog:enhancement

#17555 fix: responsive: long press while scroll
  web/src/lib/components/assets/thumbnail/thumbnail.svelte
Labels: 🖥️web, changelog:bugfix

#17552 fix: occasional empty buckets, after canceled loads
  web/src/lib/utils/cancellable-task.ts
Labels: 🖥️web, changelog:bugfix

#17547 chore(mobile): small visual fix and update
  mobile/assets/i18n/en-US.json
  mobile/ios/Podfile.lock
  mobile/lib/pages/backup/backup_album_selection.page.dart
  mobile/lib/pages/photos/photos.page.dart
  mobile/lib/pages/search/search.page.dart
  mobile/lib/theme/theme_data.dart
  mobile/lib/widgets/asset_grid/multiselect_grid.dart
  mobile/lib/widgets/common/immich_loading_indicator.dart
  mobile/lib/widgets/forms/login/login_form.dart
  mobile/lib/widgets/settings/backup_settings/backup_settings.dart
  mobile/pubspec.lock
Labels: 📱mobile, changelog:enhancement

#17549 fix(web): search bar deactivates when focus exits
  web/src/lib/components/shared-components/search-bar/search-bar.svelte
  web/src/lib/stores/search.svelte.ts
  web/src/routes/(user)/search/[[photos=photos]]/[[assetId=id]]/+page.svelte
Labels: 🖥️web, changelog:bugfix, preview

#17564 feat(server): parse EXIF creation time for some insta360 images
  server/src/services/metadata.service.ts
Labels: 🗄️server, changelog:enhancement

#17558 fix: read longitude and latitude when reverse geocoding is off
  server/src/services/metadata.service.spec.ts
  server/src/services/metadata.service.ts
Labels: 🗄️server, changelog:bugfix

#17560 refactor: migrate asset job status entity
  server/src/database.ts
  server/src/entities/asset-job-status.entity.ts
  server/src/entities/asset.entity.ts
Labels: 🗄️server, changelog:skip

#17591 feat(mobile): remove duplicated i18n file
  mobile/assets/i18n/zh-Hans.json
  mobile/lib/constants/locales.dart
Labels: 📱mobile, changelog:translation

#17556 fix: responsive: timeline glitch and keyboard-accessible scrubber
  web/src/lib/actions/focus-trap.ts
  web/src/lib/components/assets/thumbnail/thumbnail.svelte
  web/src/lib/components/photos-page/asset-grid.svelte
  web/src/lib/components/photos-page/skeleton.svelte
  web/src/lib/components/shared-components/scrubber/scrubber.svelte
  web/src/lib/stores/assets-store.svelte.ts
  web/src/lib/utils/focus-util.ts
  web/src/routes/(user)/+layout.svelte
Labels: 🖥️web, changelog:bugfix

#17589 refactor: selected columns in queries
  server/src/database.ts
  server/src/entities/asset.entity.ts
  server/src/queries/album.repository.sql
  server/src/queries/asset.repository.sql
  server/src/queries/shared.link.repository.sql
  server/src/queries/tag.repository.sql
  server/src/repositories/album.repository.ts
  server/src/repositories/shared-link.repository.ts
  server/src/repositories/tag.repository.ts
Labels: 🗄️server, changelog:skip

#17575 fix(web): improve mobile web album viewer padding
  web/src/lib/components/album-page/album-viewer.svelte
Labels: 🖥️web, changelog:bugfix

#17593 chore: remove unused logger
  server/src/repositories/process.repository.ts
  server/test/factory.ts
  server/test/utils.ts
Labels: 🗄️server, changelog:skip

#17240 perf(mobile): optimize date loading with batch loading
  mobile/lib/widgets/asset_grid/asset_grid_data_structure.dart
Labels: 📱mobile, changelog:enhancement

#17598 refactor(server): non-nullable file metadata
  server/src/bin/migrations.ts
  server/src/entities/asset.entity.ts
  server/src/migrations/1744662638410-MakeFileMetadataNonNullable.ts
  server/src/queries/activity.repository.sql
  server/src/queries/asset.repository.sql
  server/src/queries/search.repository.sql
  server/src/repositories/activity.repository.ts
  server/src/repositories/asset.repository.ts
  server/src/schema/tables/asset.table.ts
  server/src/services/library.service.ts
  server/test/factory.ts
  server/test/medium/specs/sync.service.spec.ts
Labels: 🗄️server, changelog:skip

#17599 refactor: medium tests
  server/test/medium.factory.ts
  server/test/medium/specs/audit.database.spec.ts
  server/test/medium/specs/memory.service.spec.ts
  server/test/medium/specs/user.service.spec.ts
  server/test/medium/specs/version.service.spec.ts
Labels: 🗄️server, changelog:skip

#17438 chore(web): update translations
  i18n/ar.json
  i18n/bg.json
  i18n/bi.json
  i18n/ca.json
  i18n/cs.json
  i18n/da.json
  i18n/de.json
  i18n/el.json
  i18n/es.json
  i18n/et.json
  i18n/fa.json
  i18n/fi.json
  i18n/fr.json
  i18n/gl.json
  i18n/he.json
  i18n/hi.json
  i18n/hr.json
  i18n/hu.json
  i18n/hy.json
  i18n/id.json
  i18n/it.json
  i18n/ja.json
  i18n/kmr.json
  i18n/ko.json
  i18n/lt.json
  i18n/ms.json
  i18n/nb_NO.json
  i18n/nl.json
  i18n/pl.json
  i18n/pt.json
  i18n/pt_BR.json
  i18n/ro.json
  i18n/ru.json
  i18n/sk.json
  i18n/sl.json
  i18n/sr_Cyrl.json
  i18n/sr_Latn.json
  i18n/sv.json
  i18n/ta.json
  i18n/te.json
  i18n/th.json
  i18n/tr.json
  i18n/uk.json
  i18n/vi.json
  i18n/zh_Hant.json
  i18n/zh_SIMPLIFIED.json
Labels: changelog:translation

#17609 feat(mobile): use Weblate for i18n (1)
  .github/workflows/build-mobile.yml
  .github/workflows/static_analysis.yml
  mobile/.gitignore
  mobile/lib/main.dart
  mobile/makefile
Labels: 📱mobile, changelog:feature

#17622 refactor: new asset-job repository
  server/src/queries/asset.job.repository.sql
  server/src/queries/asset.repository.sql
  server/src/repositories/asset-job.repository.ts
  server/src/repositories/asset.repository.ts
  server/src/repositories/index.ts
  server/src/services/asset.service.spec.ts
  server/src/services/asset.service.ts
  server/src/services/base.service.ts
  server/src/services/duplicate.service.spec.ts
  server/src/services/duplicate.service.ts
  server/src/services/metadata.service.spec.ts
  server/src/services/metadata.service.ts
  server/src/services/storage-template.service.spec.ts
  server/src/services/storage-template.service.ts
  server/test/medium.factory.ts
  server/test/repositories/asset.repository.mock.ts
  server/test/utils.ts
Labels: 🗄️server, changelog:skip

#17624 chore(web): cleanup unused translations
  i18n/ar.json
  i18n/ca.json
  i18n/cs.json
  i18n/da.json
  i18n/de.json
  i18n/el.json
  i18n/es.json
  i18n/fi.json
  i18n/fr.json
  i18n/gl.json
  i18n/he.json
  i18n/hi.json
  i18n/hu.json
  i18n/id.json
  i18n/it.json
  i18n/ja.json
  i18n/ko.json
  i18n/lt.json
  i18n/lv.json
  i18n/mn.json
  i18n/nb_NO.json
  i18n/nl.json
  i18n/pl.json
  i18n/pt.json
  i18n/pt_BR.json
  i18n/ro.json
  i18n/ru.json
  i18n/sk.json
  i18n/sl.json
  i18n/sr_Cyrl.json
  i18n/sr_Latn.json
  i18n/sv.json
  i18n/th.json
  i18n/tr.json
  i18n/uk.json
  i18n/vi.json
  i18n/zh_Hant.json
  i18n/zh_SIMPLIFIED.json
Labels: changelog:translation

#17619 chore(mobile): clear the backup detail view when no backup is in progress
  mobile/lib/widgets/backup/asset_info_table.dart
Labels: 📱mobile, changelog:skip

#17626 chore: upgrade package locks
  cli/package-lock.json
  docs/package-lock.json
  e2e/package-lock.json
  server/package-lock.json
  web/package-lock.json
Labels: dependencies, changelog:skip

#17630 feat: upgrade kysely
  server/package-lock.json
  server/package.json
  server/src/app.module.ts
  server/src/bin/migrations.ts
  server/src/bin/sync-sql.ts
  server/src/decorators.ts
  server/src/queries/asset.job.repository.sql
  server/src/queries/sync.repository.sql
  server/src/repositories/asset-job.repository.ts
  server/src/repositories/config.repository.ts
  server/src/repositories/search.repository.ts
  server/src/repositories/sync.repository.ts
  server/src/utils/database.ts
  server/test/medium/globalSetup.ts
  server/test/medium/specs/asset.service.spec.ts
  server/test/utils.ts
Labels: 🗄️server, changelog:skip

#17623 refactor: stream assets for thumbnail job
  server/src/queries/asset.job.repository.sql
  server/src/repositories/asset-job.repository.ts
  server/src/services/media.service.spec.ts
  server/src/services/media.service.ts
Labels: 🗄️server, changelog:skip

#17629 chore(doc): translation instruction for mobile app
  docs/docs/developer/setup.md
  mobile/README.md
Labels: documentation, changelog:documentation

#17601 feat: responsive controlbar
  web/src/lib/components/shared-components/control-app-bar.svelte
Labels: 🖥️web, changelog:enhancement

#17631 refactor: dedicated query for asset migration job
  server/src/cores/storage.core.ts
  server/src/database.ts
  server/src/queries/asset.job.repository.sql
  server/src/repositories/asset-job.repository.ts
  server/src/services/media.service.spec.ts
  server/src/services/media.service.ts
Labels: 🗄️server, changelog:skip

#17621 refactor(server): remove asset placeholder
  server/src/entities/asset.entity.ts
  server/src/repositories/asset.repository.ts
Labels: 🗄️server, changelog:enhancement

#17634 refactor: medium tests
  server/src/repositories/search.repository.ts
  server/test/factory.ts
  server/test/medium.factory.ts
  server/test/medium/specs/person.service.spec.ts
  server/test/medium/specs/sync.service.spec.ts
  server/test/small.factory.ts
  server/test/utils.ts
Labels: 🗄️server, changelog:skip

#17636 fix(mobile): new loading icon too small
  mobile/lib/pages/common/tab_controller.page.dart
Labels: 📱mobile, changelog:skip

#17595 chore: add immich-cli docker example
  docs/docs/features/command-line-interface.md
Labels: documentation, changelog:documentation

#17638 chore(mobile): flutter 3.29.3
  mobile/.fvmrc
  mobile/lib/pages/library/library.page.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: 📱mobile, changelog:skip

#17637 fix: skip places that no longer exist in geo import
  server/src/repositories/map.repository.ts
Labels: 🗄️server, changelog:bugfix

#17652 refactor: dedicated queries for asset jobs
  server/src/cores/storage.core.ts
  server/src/database.ts
  server/src/entities/asset.entity.ts
  server/src/queries/asset.job.repository.sql
  server/src/repositories/asset-job.repository.ts
  server/src/services/media.service.spec.ts
  server/src/services/media.service.ts
  server/src/services/metadata.service.spec.ts
  server/src/services/metadata.service.ts
  server/test/fixtures/asset.stub.ts
  server/test/fixtures/shared-link.stub.ts
  server/test/medium/specs/metadata.service.spec.ts
Labels: 🗄️server, changelog:skip

#17640 refactor: migrate some e2e to medium
  e2e/src/api/specs/auth.e2e-spec.ts
  e2e/src/api/specs/user.e2e-spec.ts
  server/package-lock.json
  server/package.json
  server/src/app.module.ts
  server/src/repositories/access.repository.ts
  server/test/medium.factory.ts
  server/test/medium/responses.ts
  server/test/medium/specs/controllers/auth.controller.spec.ts
  server/test/medium/specs/controllers/user.controller.spec.ts
  server/test/medium/specs/services/asset.service.spec.ts
  server/test/medium/specs/services/audit.database.spec.ts
  server/test/medium/specs/services/memory.service.spec.ts
  server/test/medium/specs/services/metadata.service.spec.ts
  server/test/medium/specs/services/sync.service.spec.ts
  server/test/medium/specs/services/user.service.spec.ts
  server/test/medium/specs/services/version.service.spec.ts
  server/test/medium/utils.ts
  server/test/small.factory.ts
  server/test/utils.ts
Labels: 🗄️server, changelog:skip

#17657 refactor: dedicated get album thumbnail files query
  server/src/queries/asset.job.repository.sql
  server/src/repositories/asset-job.repository.ts
  server/src/services/notification.service.spec.ts
  server/src/services/notification.service.ts
Labels: 🗄️server, changelog:skip

#17658 refactor: more job query stuff
  server/src/queries/asset.job.repository.sql
  server/src/repositories/asset-job.repository.ts
  server/src/services/notification.service.spec.ts
  server/src/services/notification.service.ts
  server/src/services/smart-info.service.spec.ts
  server/src/services/smart-info.service.ts
Labels: 🗄️server, changelog:skip

#17660 refactor: handle detect faces job query
  server/src/queries/asset.job.repository.sql
  server/src/repositories/asset-job.repository.ts
  server/src/services/person.service.spec.ts
  server/src/services/person.service.ts
  server/test/fixtures/asset.stub.ts
Labels: 🗄️server, changelog:skip

#17659 fix: use IMMICH_HOST in microservices
  server/src/workers/microservices.ts
Labels: 🗄️server, changelog:bugfix

#17662 fix: do not select album in time bucket query
  server/src/entities/asset.entity.ts
  server/src/repositories/asset.repository.ts
  server/test/repositories/asset.repository.mock.ts
Labels: 🗄️server, changelog:skip

#17664 chore(server): don't check null dates
  server/src/services/library.service.ts
Labels: 🗄️server, changelog:enhancement

#17661 refactor: query for fetching faces and people of assets
  server/src/entities/asset.entity.ts
  server/src/queries/asset.repository.sql
Labels: 🗄️server, changelog:skip

#17602 fix: longpress triggers contextmenu
  web/src/lib/components/assets/thumbnail/thumbnail.svelte
Labels: 🖥️web, changelog:skip, preview

#17671 chore: remove transfer encoding header
  mobile/lib/services/backup.service.dart
Labels: 📱mobile, changelog:skip

#16862 feat: user sync stream
  mobile/analysis_options.yaml
  mobile/devtools_options.yaml
  mobile/lib/constants/constants.dart
  mobile/lib/domain/interfaces/sync_api.interface.dart
  mobile/lib/domain/interfaces/sync_stream.interface.dart
  mobile/lib/domain/models/sync/sync_event.model.dart
  mobile/lib/domain/models/sync_event.model.dart
  mobile/lib/domain/services/sync_stream.service.dart
  mobile/lib/domain/utils/background_sync.dart
  mobile/lib/extensions/string_extensions.dart
  mobile/lib/infrastructure/repositories/sync_api.repository.dart
  mobile/lib/infrastructure/repositories/sync_stream.repository.dart
  mobile/lib/main.dart
  mobile/lib/providers/background_sync.provider.dart
  mobile/lib/providers/infrastructure/cancel.provider.dart
  mobile/lib/providers/infrastructure/db.provider.dart
  mobile/lib/providers/infrastructure/sync_stream.provider.dart
  mobile/lib/services/auth.service.dart
  mobile/lib/utils/bootstrap.dart
  mobile/lib/utils/isolate.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
  mobile/test/domain/service.mock.dart
  mobile/test/domain/services/sync_stream_service_test.dart
  mobile/test/fixtures/sync_stream.stub.dart
  mobile/test/infrastructure/repository.mock.dart
  mobile/test/service.mocks.dart
  mobile/test/services/auth.service_test.dart
Labels: 📱mobile, changelog:feature

#17678 feat: initial kysely migration file
  .github/workflows/test.yml
  docs/docs/developer/database-migrations.md
  server/package.json
  server/src/bin/database.ts
  server/src/bin/migrations.ts
  server/src/migrations/1744910873956-AddMissingIndex.ts
  server/src/repositories/database.repository.ts
  server/src/schema/migrations/1744910873969-InitialMigration.ts
  server/src/schema/tables/geodata-places.table.ts
  server/src/sql-tools/from-code/processors/table.processor.ts
  server/src/sql-tools/from-code/register-function.ts
  server/test/medium/globalSetup.ts
  server/test/sql-tools/index-with-expression.ts
Labels: documentation, 🗄️server, changelog:skip

#17679 feat(mobile): search on places page
  i18n/en.json
  mobile/lib/pages/library/people/people_collection.page.dart
  mobile/lib/pages/library/places/places_collection.page.dart
Labels: 📱mobile, changelog:enhancement

#17677 feat(mobile): assets + exif stream sync placeholder
  mobile/lib/domain/interfaces/sync_api.interface.dart
  mobile/lib/domain/interfaces/sync_stream.interface.dart
  mobile/lib/domain/services/sync_stream.service.dart
  mobile/lib/domain/utils/background_sync.dart
  mobile/lib/infrastructure/repositories/sync_api.repository.dart
  mobile/lib/infrastructure/repositories/sync_stream.repository.dart
  mobile/lib/widgets/common/immich_app_bar.dart
  mobile/test/api.mocks.dart
  mobile/test/domain/services/sync_stream_service_test.dart
  mobile/test/fixtures/sync_stream.stub.dart
  mobile/test/infrastructure/repositories/sync_api_repository_test.dart
Labels: 📱mobile, changelog:skip

#17651 fix: various actions workflow security improvements
  .github/workflows/build-mobile.yml
  .github/workflows/cache-cleanup.yml
  .github/workflows/cli.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docker.yml
  .github/workflows/docs-build.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/docs-destroy.yml
  .github/workflows/fix-format.yml
  .github/workflows/pr-label-validation.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/pr-require-conventional-commit.yml
  .github/workflows/prepare-release.yml
  .github/workflows/preview-label.yaml
  .github/workflows/sdk.yml
  .github/workflows/static_analysis.yml
  .github/workflows/test.yml
  .github/workflows/weblate-lock.yml
Labels: changelog:security

#17699 chore: simplify asset getByIds
  server/src/repositories/asset.repository.ts
Labels: 🗄️server, changelog:skip

#17450 refactor: remove album entity, update types
  server/src/database.ts
  server/src/db.d.ts
  server/src/dtos/album.dto.ts
  server/src/dtos/asset-response.dto.ts
  server/src/dtos/memory.dto.ts
  server/src/dtos/shared-link.dto.ts
  server/src/entities/album.entity.ts
  server/src/entities/asset.entity.ts
  server/src/entities/shared-link.entity.ts
  server/src/queries/asset.repository.sql
  server/src/repositories/album.repository.ts
  server/src/repositories/asset-job.repository.ts
  server/src/repositories/asset.repository.ts
  server/src/repositories/search.repository.ts
  server/src/repositories/shared-link.repository.ts
  server/src/repositories/stack.repository.ts
  server/src/services/album.service.ts
  server/src/services/asset-media.service.spec.ts
  server/src/services/asset-media.service.ts
  server/src/services/asset.service.spec.ts
  server/src/services/asset.service.ts
  server/src/services/duplicate.service.ts
  server/src/services/job.service.spec.ts
  server/src/services/job.service.ts
  server/src/services/library.service.spec.ts
  server/src/services/library.service.ts
  server/src/services/metadata.service.spec.ts
  server/src/services/metadata.service.ts
  server/src/services/person.service.ts
  server/src/services/search.service.spec.ts
  server/src/services/search.service.ts
  server/src/services/shared-link.service.spec.ts
  server/src/services/shared-link.service.ts
  server/src/services/sync.service.spec.ts
  server/src/services/view.service.ts
  server/src/utils/asset.util.ts
  server/test/fixtures/album.stub.ts
  server/test/fixtures/asset.stub.ts
  server/test/fixtures/auth.stub.ts
  server/test/fixtures/shared-link.stub.ts
  server/test/medium/specs/services/memory.service.spec.ts
  server/test/medium/specs/services/metadata.service.spec.ts
  server/test/repositories/asset.repository.mock.ts
  server/test/small.factory.ts
Labels: 🗄️server, changelog:skip

#17703 chore: remove asset entity
  server/src/database.ts
  server/src/entities/asset.entity.ts
  server/src/repositories/asset-job.repository.ts
  server/src/repositories/asset.repository.ts
  server/src/repositories/search.repository.ts
  server/src/repositories/view-repository.ts
  server/src/schema/tables/asset.table.ts
  server/src/services/asset-media.service.spec.ts
  server/src/services/asset-media.service.ts
  server/src/services/memory.service.spec.ts
  server/src/services/search.service.spec.ts
  server/src/utils/database.ts
Labels: 🗄️server, changelog:skip

#17676 fix(docs): Database dump warnings
  docs/docs/administration/backup-and-restore.md
  docs/src/pages/roadmap.tsx
  i18n/en.json
Labels: documentation, changelog:documentation

#17720 feat(docs): documentation update
  docs/docs/features/ml-hardware-acceleration.md
  docs/src/pages/roadmap.tsx
Labels: documentation, changelog:documentation

#17715 chore(mobile): bump ios deployment target
  mobile/ios/Podfile
  mobile/ios/Podfile.lock
  mobile/ios/Runner.xcodeproj/project.pbxproj
Labels: 📱mobile, changelog:skip

#17714 feat(mobile): map improvements
  mobile/lib/pages/library/library.page.dart
  mobile/lib/pages/library/places/places_collection.page.dart
  mobile/lib/pages/search/map/map.page.dart
  mobile/lib/pages/search/map/map_location_picker.page.dart
  mobile/lib/routing/router.gr.dart
  mobile/lib/utils/map_utils.dart
  mobile/lib/widgets/map/map_asset_grid.dart
  mobile/lib/widgets/search/search_map_thumbnail.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: 📱mobile, changelog:enhancement

#17746 refactor: email repository
  server/src/controllers/notification-admin.controller.ts
  server/src/emails/album-invite.email.tsx
  server/src/emails/album-update.email.tsx
  server/src/emails/test.email.tsx
  server/src/emails/welcome.email.tsx
  server/src/repositories/email.repository.spec.ts
  server/src/repositories/email.repository.ts
  server/src/repositories/index.ts
  server/src/services/base.service.ts
  server/src/services/notification.service.spec.ts
  server/src/services/notification.service.ts
  server/test/medium.factory.ts
  server/test/utils.ts
Labels: 🗄️server, changelog:skip

#17682 perf(mobile): remove small thumbnail and cache generated thumbnails
  mobile/lib/providers/image/immich_local_thumbnail_provider.dart
Labels: 📱mobile, changelog:enhancement

#17736 fix(mobile): use immutable cache keys for local images
  mobile/lib/providers/image/immich_local_image_provider.dart
  mobile/lib/providers/image/immich_local_thumbnail_provider.dart
Labels: 📱mobile, changelog:bugfix

#17754 fix(web): map marker positioning in details pane
  web/src/lib/components/shared-components/map/map.svelte
Labels: 🖥️web, changelog:bugfix

#17188 feat: add album start and end dates for storage template
  server/src/services/storage-template.service.spec.ts
  server/src/services/storage-template.service.ts
  web/src/lib/components/admin-page/settings/storage-template/storage-template-settings.svelte
  web/src/lib/components/admin-page/settings/storage-template/supported-variables-panel.svelte
Labels: 🖥️web, 🗄️server, changelog:enhancement

#17768 feat(docs): APK download button
  docs/src/pages/index.tsx
  docs/static/img/download-apk-github.svg
Labels: documentation, changelog:skip

#17759 fix(web): forceDark control app bar doesn't work
  web/src/lib/components/shared-components/control-app-bar.svelte
Labels: 🖥️web, changelog:skip

#17778 fix(mobile): video player initialization
  mobile/lib/pages/common/gallery_viewer.page.dart
  mobile/lib/widgets/common/immich_logo.dart
Labels: 📱mobile, changelog:skip

#17794 fix(mobile): use immutable cache keys for local images
  mobile/lib/providers/image/immich_local_image_provider.dart
  mobile/lib/providers/image/immich_local_thumbnail_provider.dart
Labels: 📱mobile, changelog:bugfix

#17799 fix: vscode vitest ext - missing jsdom dev dependency
  server/package-lock.json
  server/package.json
Labels: changelog:skip

#17781 fix(server): queue android motion assets for transcoding
  server/src/services/job.service.spec.ts
  server/src/services/job.service.ts
  server/src/services/metadata.service.spec.ts
  server/src/services/metadata.service.ts
Labels: 🗄️server, changelog:skip

#17801 docs: updated community-projects.tsx: lrc-immich-plugin
  docs/src/components/community-projects.tsx
Labels: documentation, changelog:documentation

#17627 chore(web): update translations
  i18n/be.json
  i18n/ca.json
  i18n/cs.json
  i18n/da.json
  i18n/de.json
  i18n/el.json
  i18n/en.json
  i18n/es.json
  i18n/et.json
  i18n/fi.json
  i18n/fr.json
  i18n/gl.json
  i18n/he.json
  i18n/hi.json
  i18n/hr.json
  i18n/hu.json
  i18n/id.json
  i18n/it.json
  i18n/ja.json
  i18n/ka.json
  i18n/kk.json
  i18n/ko.json
  i18n/lv.json
  i18n/nb_NO.json
  i18n/nl.json
  i18n/nn.json
  i18n/pl.json
  i18n/pt.json
  i18n/pt_BR.json
  i18n/ro.json
  i18n/ru.json
  i18n/sl.json
  i18n/sr_Cyrl.json
  i18n/sr_Latn.json
  i18n/sv.json
  i18n/th.json
  i18n/tr.json
  i18n/uk.json
  i18n/vi.json
  i18n/zh_Hant.json
  i18n/zh_SIMPLIFIED.json
Labels: changelog:translation

#17780 fix(mobile): recently added -> taken
  i18n/en.json
  mobile/lib/interfaces/asset.interface.dart
  mobile/lib/pages/search/recently_taken.page.dart
  mobile/lib/pages/search/search.page.dart
  mobile/lib/providers/search/recently_taken_asset.provider.dart
  mobile/lib/repositories/asset.repository.dart
  mobile/lib/routing/router.dart
  mobile/lib/routing/router.gr.dart
  mobile/lib/services/asset.service.dart
Labels: 📱mobile, changelog:skip

#17773 perf(mobile): remove load of thumbnails in the image provider
  mobile/lib/providers/image/immich_local_image_provider.dart
  mobile/lib/providers/image/immich_remote_image_provider.dart
Labels: 📱mobile, changelog:enhancement

#17787 feat: no small local thumbnail
  mobile/lib/providers/image/immich_local_thumbnail_provider.dart
Labels: 📱mobile, changelog:skip

#17810 fix: failing ci checks
  mobile/openapi/lib/model/o_auth_callback_dto.dart
  mobile/openapi/lib/model/o_auth_config_dto.dart
  open-api/typescript-sdk/src/fetch-client.ts
  server/package-lock.json
  server/src/services/auth.service.spec.ts
  server/test/vitest.config.mjs
Labels: 📱mobile, 🗄️server, changelog:skip

#17806 fix(server): start job workers after DB
  server/src/app.module.ts
  server/src/enum.ts
  server/src/repositories/job.repository.ts
  server/src/services/job.service.ts
Labels: 🗄️server, changelog:skip

#17811 fix: cache build versions
  server/src/repositories/server-info.repository.ts
Labels: 🗄️server, changelog:bugfix

#17688 feat: static analysis job for gha workflows
  .github/workflows/docker.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/docs-destroy.yml
  .github/workflows/pr-label-validation.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/prepare-release.yml
  .github/workflows/static_analysis.yml
  .github/workflows/weblate-lock.yml
Labels: changelog:security

#17813 chore: memory spacing
  web/src/lib/components/photos-page/memory-lane.svelte
Labels: 🖥️web, changelog:skip

#17812 fix: retrieve version from lockfile and fallback to cli command
  server/src/repositories/server-info.repository.ts
Labels: 🗄️server, changelog:bugfix

#17814 ci: correct permissions for building mobile during release flow
  .github/workflows/prepare-release.yml
Labels: changelog:skip
