Repository immich-app/immich, changes with the owners that CODEOWNERS names for each.
All owners: @bo0tzz, @danieldietzler, @mertalev, @shenlong-tanwen

CODEOWNERS:

/.github/ @bo0tzz
/docker/ @bo0tzz
/server/ @danieldietzler
/web/ @danieldietzler
/machine-learning/ @mertalev
/e2e/ @danieldietzler
/mobile/ @shenlong-tanwen

fix: isolate freeze app on older ios device
  mobile/lib/domain/services/background_worker.service.dart
  mobile/lib/main.dart
  mobile/lib/utils/isolate.dart
  mobile/lib/wm_executor.dart
Owners: @shenlong-tanwen

fix: show notification from native
  mobile/android/app/src/main/kotlin/app/alextran/immich/background/BackgroundWorker.g.kt
  mobile/android/app/src/main/kotlin/app/alextran/immich/background/BackgroundWorker.kt
  mobile/android/app/src/main/kotlin/app/alextran/immich/background/BackgroundWorkerApiImpl.kt
  mobile/android/app/src/main/kotlin/app/alextran/immich/background/BackgroundWorkerPreferences.kt
  mobile/ios/Runner/Background/BackgroundWorker.g.swift
  mobile/ios/Runner/Background/BackgroundWorker.swift
  mobile/ios/Runner/Background/BackgroundWorkerApiImpl.swift
  mobile/lib/domain/services/background_worker.service.dart
  mobile/lib/main.dart
  mobile/lib/platform/background_worker_api.g.dart
  mobile/pigeon/background_worker_api.dart
Owners: @shenlong-tanwen

fix: do not run multiple engines on app startup
  mobile/android/app/src/main/kotlin/app/alextran/immich/ImmichApp.kt
  mobile/android/app/src/main/kotlin/app/alextran/immich/background/BackgroundEngineLock.kt
Owners: @shenlong-tanwen

always use at-least 5 isolates
  mobile/lib/domain/services/background_worker.service.dart
  mobile/lib/main.dart
  mobile/lib/utils/isolate.dart
  mobile/lib/wm_executor.dart
Owners: @shenlong-tanwen

fix: use GPSLongitudeRef and GPSLatitudeRef EXIF fields
  e2e/package.json
  pnpm-lock.yaml
  server/package.json
  server/src/repositories/metadata.repository.ts
Owners: @danieldietzler

Upgrade exiftool-vendored to v31.1.0
  e2e/package.json
  pnpm-lock.yaml
  server/package.json
  server/src/repositories/metadata.repository.ts
Owners: @danieldietzler

bump libmimalloc
  server/Dockerfile
  server/Dockerfile.dev
Owners: @danieldietzler

Revert "fix(server): update libmimalloc path (#22345)"
  server/bin/start.sh
Owners: @danieldietzler

fix: improve sync indicator error
  mobile/lib/domain/utils/background_sync.dart
  mobile/lib/pages/backup/drift_backup.page.dart
  mobile/lib/pages/backup/drift_backup_album_selection.page.dart
  mobile/lib/pages/backup/drift_backup_options.page.dart
  mobile/lib/pages/common/splash_screen.page.dart
  mobile/lib/providers/app_life_cycle.provider.dart
  mobile/lib/providers/background_sync.provider.dart
Owners: @shenlong-tanwen

prefer backup disabled icon before error
  mobile/lib/widgets/common/immich_sliver_app_bar.dart
Owners: @shenlong-tanwen

fix: missing email button padding
  server/src/emails/album-update.email.tsx
  server/src/emails/components/button.component.tsx
Owners: @danieldietzler

add comments
  server/bin/start.sh
Owners: @danieldietzler

fix(server): Revert update libmimalloc path (#22345) (#22526)
  server/bin/start.sh
Owners: @danieldietzler

fix: missing email button padding (#22529)
  server/src/emails/album-update.email.tsx
  server/src/emails/components/button.component.tsx
Owners: @danieldietzler

fix(docs): open graph tags
  docs/docusaurus.config.js
Owners: none

fix(docs): open graph tags (#22542)
  docs/docusaurus.config.js
Owners: none

fix(mobile): disable rotation for map
  mobile/lib/presentation/widgets/map/map.widget.dart
Owners: @shenlong-tanwen

redirect user to AUTH_CHANGE_PASSWORD if shouldChangePassword
  web/src/lib/utils/auth.ts
Owners: @danieldietzler

feat: Allow merging faces on mobile
  mobile/lib/domain/services/people.service.dart
  mobile/lib/domain/services/person_merge_tracker.service.dart
  mobile/lib/infrastructure/repositories/people.repository.dart
  mobile/lib/presentation/pages/drift_people_collection.page.dart
  mobile/lib/presentation/pages/drift_person.page.dart
  mobile/lib/presentation/widgets/asset_viewer/bottom_sheet/sheet_people_details.widget.dart
  mobile/lib/presentation/widgets/people/person_edit_birthday_modal.widget.dart
  mobile/lib/presentation/widgets/people/person_edit_name_modal.widget.dart
  mobile/lib/presentation/widgets/people/person_merge_modal.widget.dart
  mobile/lib/presentation/widgets/people/person_tile.widget.dart
  mobile/lib/providers/infrastructure/people.provider.dart
  mobile/lib/repositories/person_api.repository.dart
  mobile/lib/routing/router.gr.dart
  mobile/lib/utils/people.utils.dart
  mobile/lib/widgets/search/search_filter/people_picker.dart
Owners: @shenlong-tanwen
